Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

wippp
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_DEN/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_DEN/Entities/Objects/Devices/sirens.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Devices/securitysiren.yml
  Resources/Textures/_DEN/Objects/Devices/sirenblueshield.rsi/icon-light.png
  Resources/Textures/_DEN/Objects/Devices/sirenblueshield.rsi/icon.png
  Resources/Textures/_DEN/Objects/Devices/sirenblueshield.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Devices/sirenblueshield.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Devices/sirenblueshield.rsi/meta.json
  Resources/Textures/_DEN/Objects/Devices/sirenblueshield.rsi/off-equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Devices/sirenblueshield.rsi/on-equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Devices/sirensecurity.rsi/icon-light.png
  Resources/Textures/_DEN/Objects/Devices/sirensecurity.rsi/icon.png
  Resources/Textures/_DEN/Objects/Devices/sirensecurity.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Devices/sirensecurity.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Devices/sirensecurity.rsi/meta.json
  Resources/Textures/_DEN/Objects/Devices/sirensecurity.rsi/off-equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Devices/sirensecurity.rsi/on-equipped-SUITSTORAGE.png
Labels: Changes: Sprite

port ore bag magnet toggle from white dream (#2467)
  Content.Shared/DeltaV/Item/ItemToggle/Components/ItemToggleExamineComponent.cs
  Content.Shared/DeltaV/Item/ItemToggle/Systems/ItemToggleExamineSystem.cs
  Content.Shared/Storage/EntitySystems/MagnetPickupSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/icon_on.png
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/meta.json
  Resources/Textures/Objects/Specific/Mining/ore_bag_holding.rsi/icon_on.png
  Resources/Textures/Objects/Specific/Mining/ore_bag_holding.rsi/meta.json
Labels: Changes: C#, Changes: Sprite

port ore bag magnet toggle from white dream (DeltaV #2467) (#2765)
  Content.Shared/Item/ItemToggle/Components/ItemToggleComponent.cs
  Content.Shared/Item/ItemToggle/ItemToggleSystem.cs
  Content.Shared/Storage/Components/MagnetPickupComponent.cs
  Content.Shared/Storage/EntitySystems/MagnetPickupSystem.cs
  Content.Shared/_DV/Item/ItemToggle/Components/ItemToggleExamineComponent.cs
  Resources/Locale/en-US/_NF/item/item-toggle-examine-component.ftl
  Resources/Prototypes/Entities/Objects/Specific/Chemistry/chem_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Librarian/books_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag_holding.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/tools.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Hydroponics/plant_bag_holding.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Engineering/construction_bag.yml
  Resources/Textures/Nyanotrasen/Clothing/Belt/mailbag.rsi/icon-on.png
  Resources/Textures/Nyanotrasen/Clothing/Belt/mailbag.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Belt/mailbag.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Belt/mailbag.rsi/meta.json
  Resources/Textures/Objects/Specific/Chemistry/chem_bag.rsi/icon-on.png
  Resources/Textures/Objects/Specific/Chemistry/chem_bag.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/Equipment/plant_bag.rsi/icon-on.png
  Resources/Textures/Objects/Specific/Hydroponics/Equipment/plant_bag.rsi/meta.json
  Resources/Textures/Objects/Specific/Library/Equipment/books_bag.rsi/icon-on.png
  Resources/Textures/Objects/Specific/Library/Equipment/books_bag.rsi/meta.json
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/icon-on.png
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/adh.rsi/icon-on.png
  Resources/Textures/Structures/Machines/VendingMachines/adh.rsi/meta.json
  Resources/Textures/_DEN/Structures/Doors/Airlocks/Standard/external.rsi/icon-on-bluespace.png
  Resources/Textures/_DEN/Structures/Doors/Airlocks/Standard/external.rsi/icon-on.png
  Resources/Textures/_Floof/Objects/Specific/Hydroponics/plant_bag_holding.rsi/icon-on.png
  Resources/Textures/_Floof/Objects/Specific/Hydroponics/plant_bag_holding.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Engineering/construction_bag.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite

ok good
  Resources/Prototypes/_DEN/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_DEN/Entities/Objects/Devices/sirens.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/helmets.yml
  Resources/Textures/_DEN/Objects/Devices/sirenblueshield.rsi/off-equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Devices/sirensecurity.rsi/off-equipped-SUITSTORAGE.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/security_compact.rsi/equipped-OUTERCLOTHING.png
Labels: Changes: Sprite

clean up
  Resources/Textures/Structures/Machines/VendingMachines/adh.rsi/icon-on.png
  Resources/Textures/Structures/Machines/VendingMachines/adh.rsi/meta.json
  Resources/Textures/_DEN/Structures/Doors/Airlocks/Standard/external.rsi/icon-on-bluespace.png
  Resources/Textures/_DEN/Structures/Doors/Airlocks/Standard/external.rsi/icon-on.png
  Resources/Textures/_DV/Clothing/Belt/courierbag.rsi/meta.json
Labels: Changes: Sprite

Frontier Radio Layers/Toggle
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Resources/Locale/en-US/radio/components/handheld-radio-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
  Resources/Textures/Objects/Devices/communication.rsi/meta.json
  Resources/Textures/Objects/Devices/communication.rsi/walkietalkie-broadcasting.png
  Resources/Textures/Objects/Devices/communication.rsi/walkietalkie-off.png
  Resources/Textures/Objects/Devices/securityhandy.rsi/meta.json
  Resources/Textures/Objects/Devices/securityhandy.rsi/walkietalkie-broadcasting.png
  Resources/Textures/Objects/Devices/securityhandy.rsi/walkietalkie-off.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite

oops i just misnamed a file
  Resources/Prototypes/_Impstation/Entities/Structures/web.yml
Labels: none

Mimes Aren't Forcefrenched
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
Labels: none

Radios In Neck Slot
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
Labels: none

fixxxxxxxxxx
  Resources/Prototypes/Recipes/Construction/Graphs/web.yml
Labels: none

Loadout Balls
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Textures/Objects/Fun/toys.rsi/bask-inhand-left.xcf
  Resources/Textures/Objects/Fun/toys.rsi/bask-inhand-right.xcf
  Resources/Textures/_DEN/Objects/Fun/skimmerdiscus.rsi/icon-underglow.png
  Resources/Textures/_DEN/Objects/Fun/skimmerdiscus.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/skimmerdiscus.rsi/inhand-left-underglow.png
  Resources/Textures/_DEN/Objects/Fun/skimmerdiscus.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/skimmerdiscus.rsi/inhand-right-underglow.png
  Resources/Textures/_DEN/Objects/Fun/skimmerdiscus.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/skimmerdiscus.rsi/meta.json
Labels: Changes: Sprite

random loot
  Resources/Prototypes/Catalog/VendingMachines/Inventories/games.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Mail/mail.yml
Labels: none

whoops.
  Resources/Textures/Objects/Fun/toys.rsi/bask-inhand-left.xcf
  Resources/Textures/Objects/Fun/toys.rsi/bask-inhand-right.xcf
Labels: none

fixy
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
Labels: none

LESS FRICTION. CHAOS.
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
Labels: none

robotic arm power reduction + recipe fix
  Content.Shared/_Goobstation/Factory/RoboticArmComponent.cs
  Content.Shared/_Goobstation/Factory/RoboticArmSystem.cs
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/robotic_arm.yml
  Resources/Prototypes/_Goobstation/Recipes/Crafting/filters.yml
Labels: Changes: C#

readd undie header comments
  Resources/Locale/en-US/_Impstation/markings/arachnid.ftl
Labels: Changes: Localization

credit
  Content.Shared/_Goobstation/Factory/RoboticArmSystem.cs
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/robotic_arm.yml
Labels: Changes: C#

Re-anchorable structures (#39542)
  Content.Shared/Construction/Components/AnchorableComponent.cs
  Content.Shared/Construction/EntitySystems/AnchorableSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets/turrets_energy.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/Entities/Structures/Doors/SecretDoor/secret_door.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/base_wallmount.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Prototypes/Entities/Structures/catwalk.yml
  Resources/Prototypes/Entities/Structures/cryopod.yml
  Resources/Prototypes/Entities/Structures/plastic_flaps.yml
  Resources/Prototypes/Entities/Structures/stairs.yml
Labels: Changes: C#

fixed whatever the fuck was going on with turrets specifically
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets/turrets_base.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets/turrets_energy.yml
Labels: none

airlockfix
  Resources/Maps/TheDen/manta.yml
Labels: Changes: Map

Security Lobby Art
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/NO-RO.webp
  Resources/Textures/LobbyScreens/NO-RO.webp.yml
  Resources/Textures/LobbyScreens/attributions.yml
Labels: none

Update filters.yml
  Resources/Prototypes/_Goobstation/Recipes/Crafting/filters.yml
Labels: none

fuck ass reinforced walls for epi arti room
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: Map

changed trash type to per item instead of on basescrap
  Resources/Prototypes/Entities/Objects/Materials/scrap.yml
Labels: none

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

new tallits
  Resources/Prototypes/_DEN/Entities/Clothing/Neck/misc.yml
  Resources/Textures/_DEN/Clothing/Neck/Misc/tallitblackgold.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/tallitblackgold.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/tallitblackgold.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Neck/Misc/tallitblackwhite.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/tallitblackwhite.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/tallitblackwhite.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Neck/Misc/tallitwhiteblack.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/tallitwhiteblack.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/tallitwhiteblack.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Neck/Misc/tallitwhiteblue.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/tallitwhiteblue.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/tallitwhiteblue.rsi/meta.json
Labels: Changes: Sprite

Added new flatpack sprite with way more animation, added unlit layer, updated research sprite, made flatpackers give off a bit of light
  Resources/Prototypes/Entities/Structures/Machines/flatpacker.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Textures/_DEN/Structures/Machines/flatpacker.rsi/base.png
  Resources/Textures/_DEN/Structures/Machines/flatpacker.rsi/inserting.png
  Resources/Textures/_DEN/Structures/Machines/flatpacker.rsi/meta.json
  Resources/Textures/_DEN/Structures/Machines/flatpacker.rsi/packing.png
  Resources/Textures/_DEN/Structures/Machines/flatpacker.rsi/packing_unlit.png
  Resources/Textures/_DEN/Structures/Machines/flatpacker.rsi/panel.png
  Resources/Textures/_DEN/Structures/Machines/flatpacker.rsi/screen.png
Labels: Changes: Sprite

Mantis Shotgun Spawns With Shells
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: none

consentupdate
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
Labels: none

Stamina damage over time never actually applied to projectiles
  Content.Shared/Damage/Systems/SharedStaminaSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Changes: C#

radio slot and sec lite
  Resources/Locale/en-US/_DEN/clothing/belts.ftl
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_DV/Entities/Clothing/Belt/belts.yml
Labels: Changes: Localization

pre-fill belts with radios
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: none

Reize bags across the board
  Resources/Prototypes/Entities/Objects/Specific/Chemistry/chem_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Librarian/books_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Engineering/construction_bag.yml
Labels: none

Make construction bags available to engineers
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/atmosphericTechnician.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/seniorEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/stationEngineer.yml
  Resources/Prototypes/_DEN/Catalog/Fills/Lockers/engineer.yml
Labels: none

Add siren to security loadout
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
Labels: none

construction bags in loadout
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/atmosphericTechnician.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/seniorEngineer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/stationEngineer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/atmosphericTechnician.yml
Labels: none

arming sword in sec techfab
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/security_techfab.yml
Labels: none

linter error
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: none

more linter fixes
  Resources/Prototypes/_DV/Entities/Clothing/Belt/belts.yml
Labels: none
