Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

fix: linter
  Resources/Prototypes/_DEN/Thavens/Moods/shared.yml
Labels: none

Update hivni.yml to beta1.3.0c
  Resources/Maps/TheDen/hivni.yml
Labels: Changes: Map

Update hivni.yml
  Resources/Maps/TheDen/hivni.yml
Labels: Changes: Map

moth heart pre-existing
  Resources/Prototypes/_DEN/Entities/Body/Organs/moth.yml
  Resources/Prototypes/_Impstation/Body/Organs/moth.yml
Labels: none

get outta here
  Resources/Textures/_SHA/Objects/Tables/somberwoodendtable.rsi/full.png
Labels: Changes: Sprite

Added requested sprites and changed the way the config verb works to prep for changing the icon along with the leash sprite
  Content.Shared/Floofstation/Leash/Components/LeashComponent.cs
  Content.Shared/Floofstation/Leash/LeashSystem.cs
  Resources/Prototypes/_Floof/Entities/Objects/Tools/leash.yml
  Resources/Textures/_DEN/Objects/Tools/leashnapsack-chain.rsi/chain.png
  Resources/Textures/_DEN/Objects/Tools/leashnapsack-chain.rsi/meta.json
  Resources/Textures/_DEN/Objects/Tools/leashnapsack.rsi/icon.png
  Resources/Textures/_DEN/Objects/Tools/leashnapsack.rsi/meta.json
Labels: Changes: C#, Changes: Sprite

sins (+bar stool)
  Resources/Prototypes/_DEN/Entities/Structures/furniture/chairs.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Structures/Furniture/chairs.rsi/meta.json
  Resources/Textures/_DEN/Structures/Furniture/chairs.rsi/somberbar.png
  Resources/Textures/_SHA/Structures/Furniture/Benches/sombersofa.rsi/arm_left.png
  Resources/Textures/_SHA/Structures/Furniture/Benches/sombersofa.rsi/arm_right.png
  Resources/Textures/_SHA/Structures/Furniture/Benches/sombersofa.rsi/corner.png
  Resources/Textures/_SHA/Structures/Furniture/Benches/sombersofa.rsi/left.png
  Resources/Textures/_SHA/Structures/Furniture/Benches/sombersofa.rsi/meta.json
  Resources/Textures/_SHA/Structures/Furniture/Benches/sombersofa.rsi/middle.png
  Resources/Textures/_SHA/Structures/Furniture/Benches/sombersofa.rsi/right.png
  Resources/Textures/_SHA/Structures/Furniture/furniture-96x96.rsi/sofafootrestleft.png
Labels: Changes: Sprite

freezerfix
  Resources/Maps/TheDen/manta.yml
Labels: Changes: Map

add: chainmail reagent
  Resources/Locale/en-US/_DEN/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_DEN/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_DEN/Flavors/flavors.yml
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_DEN/Recipes/Reactions/drinks.yml
  Resources/Textures/_DEN/Objects/Consumable/Drinks/chainmail.rsi/fill-1.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/chainmail.rsi/fill-2.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/chainmail.rsi/icon.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/chainmail.rsi/icon_empty.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/chainmail.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

dirt
  Resources/Textures/_SHA/Tiles/Planet/dirt.rsi/dirt.png
Labels: Changes: Sprite

tweak: license change
  Resources/Textures/_DEN/Objects/Consumable/Drinks/chainmail.rsi/meta.json
Labels: Changes: Sprite

rename em
  Resources/Prototypes/_DEN/Entities/Structures/furniture/memorial.yml
Labels: none

initial commit
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: Localization

this is why you dont ctrl+a entire files
  Resources/Locale/en-US/_DEN/traits/traits.ftl
Labels: Changes: Localization

added glowing markings for like Everything
  Resources/Locale/en-US/Floof/markings/reptilian.ftl
  Resources/Locale/en-US/_ADT/markings/Human_tattoos.ftl
  Resources/Locale/en-US/_ADT/markings/reptilian.ftl
  Resources/Locale/en-US/_DEN/markings/alien.ftl
  Resources/Locale/en-US/_DEN/markings/reptilianandvulpkanin.ftl
  Resources/Locale/en-US/_DEN/markings/thaven.ftl
  Resources/Locale/en-US/_DV/markings/thaven.ftl
  Resources/Locale/en-US/_Impstation/markings/markingsbundle2.ftl
  Resources/Locale/en-US/_Impstation/markings/tattoos.ftl
  Resources/Locale/en-US/_Impstation/markings/thaven.ftl
  Resources/Locale/en-US/_white/markings/reptilian.ftl
  Resources/Locale/en-US/markings/anthro.ftl
  Resources/Locale/en-US/markings/misc.ftl
  Resources/Locale/en-US/markings/reptilian.ftl
  Resources/Locale/en-US/markings/tails.ftl
  Resources/Locale/en-US/markings/tattoos.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/misc.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tails.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/_ADT/Mobs/Customization/custom/Human_tattoos.yml
  Resources/Prototypes/_ADT/Mobs/Customization/reptilian/Reptilian.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/alien.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/eyes.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/fixedskyrattailsanimated.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/thaven.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/thaven.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro_tails.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc2.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/thaven.yml
  Resources/Prototypes/_White/Entities/Mobs/Customization/Markings/reptilian.yml
Labels: Changes: Localization

fixed localization
  Resources/Locale/en-US/_DEN/markings/reptilianandvulpkanin.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tails.yml
Labels: Changes: Localization

Update Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Flavors/flavors.yml
Labels: none

moving traits around
  Resources/Prototypes/Traits/physical.yml
Labels: none

Add the ModifyOnApply system and an insulative filling that uses it.
  Content.Server/_DEN/ItemModifiers/Components/ModifiableComponent.cs
  Content.Server/_DEN/ItemModifiers/Components/ModifyOnApplyComponent.cs
  Content.Server/_DEN/ItemModifiers/Systems/ModifyOnApplySystem.cs
  Content.Shared/_DEN/ItemModifiers/Events/ModifyOnApplyDoAfterEvent.cs
  Resources/Locale/en-US/_DEN/item-modifier/base.ftl
  Resources/Locale/en-US/_DEN/item-modifier/insulative.ftl
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Nyanotrasen/Research/experimental.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/insulative.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/protolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/security_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/misc.yml
  Resources/Prototypes/_DEN/tags.yml
  Resources/Textures/_DEN/Objects/Misc/insulative_filling.rsi/base.png
  Resources/Textures/_DEN/Objects/Misc/insulative_filling.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite

Add the ability to modify descriptions as well, and add more descriptors to the insulative hats
  Content.Server/_DEN/ItemModifiers/Components/ModifyOnApplyComponent.cs
  Content.Server/_DEN/ItemModifiers/Systems/ModifyOnApplySystem.cs
  Resources/Locale/en-US/_DEN/item-modifier/insulative.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Misc/insulative.yml
Labels: Changes: C#, Changes: Localization

EntityWhitelistSystem and whitespace fixes.
  Content.Server/_DEN/ItemModifiers/Components/ModifyOnApplyComponent.cs
  Content.Server/_DEN/ItemModifiers/Systems/ModifyOnApplySystem.cs
  Resources/Prototypes/_DEN/Entities/Objects/Misc/insulative.yml
Labels: Changes: C#

Stupid chud sprite was covering the feet
  Resources/Textures/_White/Mobs/Customization/reptilian_64x32.rsi/snake_large.png
  Resources/Textures/_White/Mobs/Customization/reptilian_64x32.rsi/snake_large_overlay.png
Labels: Changes: Sprite

reparented heads to base, removed ashing on a bunch, upped-gib damage on a bunch
  Resources/Prototypes/Body/Parts/base.yml
  Resources/Prototypes/Body/Parts/harpy.yml
  Resources/Prototypes/Body/Parts/ipc.yml
  Resources/Prototypes/Body/Parts/shadowkin.yml
  Resources/Prototypes/Body/Parts/vox.yml
  Resources/Prototypes/_DV/Body/Parts/feroxi.yml
  Resources/Prototypes/_DV/Body/Parts/rodentia.yml
  Resources/Prototypes/_Floof/Body/Parts/resomi.yml
Labels: none

rebalanced axe damage multipler a little
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/plasteel.yml
Labels: none

Update to beta 1.3.1
  Resources/Maps/TheDen/hivni.yml
  Resources/Prototypes/Maps/hivni.yml
Labels: Changes: Map

Update hivni.yml
  Resources/Maps/TheDen/hivni.yml
Labels: Changes: Map

Nerfed aluminium (AI) foam
  Resources/Prototypes/Entities/Effects/chemistry_effects.yml
Labels: none

feat: shapeshifting
  Content.Server/_DEN/Administration/Commands/ProfileCommands.cs
  Content.Shared/Preferences/PlayerPreferences.cs
  Resources/Locale/en-US/_DEN/commands/profile-commands.ftl
Labels: Changes: C#, Changes: Localization

revert the mass scanner to being small
  Resources/Prototypes/Entities/Objects/Tools/handheld_mass_scanner.yml
Labels: none

make medkits large again
  Resources/Prototypes/Entities/Objects/Specific/Medical/medkits.yml
Labels: none

only pills go in pill bottles
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: none

Fix
  Resources/Maps/TheDen/alamode.yml
Labels: Changes: Map

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

only hold small items
  Resources/Prototypes/Entities/Objects/Specific/Medical/medkits.yml
Labels: none

split grid for medkit
  Resources/Prototypes/Entities/Objects/Specific/Medical/medkits.yml
Labels: none

make medkits fit in military webbing
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
Labels: none

code transferred from imp
  Content.Server/_CD/Traits/SynthSystem.cs
Labels: Changes: C#

move nukie medkit to it's container fill, to avoid size issues
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
Labels: none

change medical bundle contents to fit larger medkits good lord
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
Labels: none

comments
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
Labels: none

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
