Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

add crew monitor flatpack
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_DEN/Entities/Objects/Devices/flatpack.yml
Labels: none

fix compile errors
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraMapSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/camera_bug.yml
Labels: Changes: C#

let wardens open prisoner slots
  Resources/Prototypes/_DEN/Entities/Structures/Machines/Computers/computers.yml
Labels: none

bluescreened so i'm just pushing everything
  Resources/Prototypes/_DEN/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/candles.yml
  Resources/Prototypes/_DEN/Entities/Structures/Decoration/somber.yml
  Resources/Prototypes/_DEN/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/_DEN/Entities/Structures/Doors/secret_door.yml
  Resources/Prototypes/_DEN/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_DEN/Entities/Structures/Specific/Chapel/chapel.yml
  Resources/Prototypes/_DEN/Entities/Structures/Specific/Mantis/lighting.yml
  Resources/Prototypes/_DEN/Entities/Structures/Wallmounts/monitors_televisions.yml
  Resources/Prototypes/_DEN/Entities/Structures/Wallmounts/shelfs.yml
  Resources/Prototypes/_DEN/Entities/Structures/Walls/somber.yml
  Resources/Prototypes/_DEN/Entities/Structures/Windows/somber.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/altar.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/memorial.yml
  Resources/Prototypes/_DEN/Entities/Structures/stairs.yml
  Resources/Prototypes/_DEN/Psionics/base_psionics.yml
  Resources/Textures/_DEN/Structures/Windows/Somber/somber_shielded_diagonal.rsi/meta.json
  Resources/Textures/_DEN/Structures/Windows/Somber/somber_shielded_diagonal.rsi/state0.png
  Resources/Textures/_DEN/Structures/Windows/Somber/somber_shielded_diagonal.rsi/state1.png
  Resources/Textures/_DEN/Structures/Windows/Somber/somberdark_shielded_diagonal.rsi/meta.json
  Resources/Textures/_DEN/Structures/Windows/Somber/somberdark_shielded_diagonal.rsi/state0.png
  Resources/Textures/_DEN/Structures/Windows/Somber/somberdark_shielded_diagonal.rsi/state1.png
Labels: Changes: Sprite

fix prisoners spawning with genPop exit
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
Labels: none

faust hurts objects again as originally planned
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_DEN/Entities/Structures/Windows/somber.yml
Labels: none

Delete prisoner ID when used to unlock a locker
  Content.Shared/Security/Systems/SharedGenpopSystem.cs
Labels: Changes: C#

usual TC increase on items for camera bug
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: none

Satyr Markings
  Resources/Locale/en-US/_DEN/markings/ovinia.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Ovinia.yml
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/satyr_markings.rsi/l_arm.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/satyr_markings.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/satyr_markings.rsi/no_snout.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/satyr_markings.rsi/r_arm.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/satyr_markings.rsi/satyr_cow_body.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/satyr_markings.rsi/satyr_cow_left_leg.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/satyr_markings.rsi/satyr_cow_right_leg.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/satyr_markings.rsi/satyr_torso_f.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/satyr_markings.rsi/satyr_torso_fur.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/satyr_markings.rsi/satyr_torso_m.png
Labels: Changes: Localization, Changes: Sprite

Add Crates (#2558)
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/_DEN/QuickConstruction/plastic.yml
  Resources/Prototypes/_DEN/QuickConstruction/steel.yml
Labels: none

Automated changelog update (#2558)
  Resources/Changelog/Den.yml
Labels: none

Add Noospheric Mood Trait (#2545)
  Content.Server/Mood/MoodSystem.cs
  Content.Server/_DEN/Psionics/NoosphericMoodSystem.cs
  Content.Shared/_DEN/Traits/Components/NoosphereVulnerabilityComponent.cs
  Content.Shared/_DEN/Traits/Components/NoosphericMoodComponent.cs
  Content.Shared/_DEN/Traits/EntitySystems/SharedNoosphericMoodSystem.cs
  Resources/Locale/en-US/_DEN/mood/noospheric.ftl
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Prototypes/_DEN/Mood/noosphere.yml
  Resources/Prototypes/_DEN/Traits/mental.yml
Labels: Changes: C#, Changes: Localization

update REUSE headers from: Add Crates
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/_DEN/QuickConstruction/plastic.yml
Labels: none

Automated changelog update (#2545)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Add Noospheric Mood Trait
  Content.Server/Mood/MoodSystem.cs
  Content.Server/_DEN/Psionics/NoosphericMoodSystem.cs
  Content.Shared/_DEN/Traits/Components/NoosphericMoodComponent.cs
  Content.Shared/_DEN/Traits/EntitySystems/SharedNoosphericMoodSystem.cs
  Resources/Locale/en-US/_DEN/mood/noospheric.ftl
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Prototypes/_DEN/Mood/noosphere.yml
  Resources/Prototypes/_DEN/Traits/mental.yml
Labels: Changes: C#, Changes: Localization

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

Update ovinia.ftl
  Resources/Locale/en-US/_DEN/markings/ovinia.ftl
Labels: Changes: Localization

Update ovinia.ftl
  Resources/Locale/en-US/_DEN/markings/ovinia.ftl
Labels: Changes: Localization

raaa
  Resources/Prototypes/_DEN/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Textures/_DEN/Objects/Misc/somberskimmer.rsi/inhand-left-fill-1.png
  Resources/Textures/_DEN/Objects/Misc/somberskimmer.rsi/inhand-left-fill-2.png
  Resources/Textures/_DEN/Objects/Misc/somberskimmer.rsi/inhand-left-fill-3.png
  Resources/Textures/_DEN/Objects/Misc/somberskimmer.rsi/inhand-left-fill-4.png
  Resources/Textures/_DEN/Objects/Misc/somberskimmer.rsi/inhand-left-fill-5.png
  Resources/Textures/_DEN/Objects/Misc/somberskimmer.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Misc/somberskimmer.rsi/inhand-right-fill-1.png
  Resources/Textures/_DEN/Objects/Misc/somberskimmer.rsi/inhand-right-fill-2.png
  Resources/Textures/_DEN/Objects/Misc/somberskimmer.rsi/inhand-right-fill-3.png
  Resources/Textures/_DEN/Objects/Misc/somberskimmer.rsi/inhand-right-fill-4.png
  Resources/Textures/_DEN/Objects/Misc/somberskimmer.rsi/inhand-right-fill-5.png
  Resources/Textures/_DEN/Objects/Misc/somberskimmer.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Misc/somberskimmer.rsi/meta.json
  Resources/Textures/_DEN/Objects/Misc/somberskimmer.rsi/skimmer.png
  Resources/Textures/_DEN/Objects/Misc/somberskimmer.rsi/skimmer1.png
  Resources/Textures/_DEN/Objects/Misc/somberskimmer.rsi/skimmer2.png
  Resources/Textures/_DEN/Objects/Misc/somberskimmer.rsi/skimmer3.png
  Resources/Textures/_DEN/Objects/Misc/somberskimmer.rsi/skimmer4.png
  Resources/Textures/_DEN/Objects/Misc/somberskimmer.rsi/skimmer5.png
  Resources/Textures/_DEN/Objects/Misc/somberutensils.rsi/electrumbarspoon-inhand-left.png
  Resources/Textures/_DEN/Objects/Misc/somberutensils.rsi/electrumbarspoon-inhand-right.png
Labels: Changes: Sprite

i'm tired man
  Resources/Prototypes/_DEN/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks_flasks.yml
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombercoupeglass.rsi/fill1.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombercoupeglass.rsi/fill2.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombercoupeglass.rsi/fill3.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombercoupeglass.rsi/fill4.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombercoupeglass.rsi/fill5.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombercoupeglass.rsi/icon-front.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombercoupeglass.rsi/icon.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombercoupeglass.rsi/inhand-left-fill-1.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombercoupeglass.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombercoupeglass.rsi/inhand-right-fill-1.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombercoupeglass.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/somberflask.rsi/icon.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/somberflask.rsi/icon_open.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombershotglass.rsi/fill1.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombershotglass.rsi/fill2.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombershotglass.rsi/icon-front.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombershotglass.rsi/icon.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombershotglass.rsi/inhand-left-fill-1.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombershotglass.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombershotglass.rsi/inhand-right-fill-1.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombershotglass.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombervacuumflask.rsi/icon.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombervacuumflask.rsi/icon_open.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombervacuumflask.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombervacuumflask.rsi/inhand-right.png
Labels: Changes: Sprite

better save
  Resources/Locale/en-US/_DEN/forensics/residues.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/soap.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks_flasks.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks_special.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/utensils.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Objects/Consumable/Drinks/somberjug.rsi/icon.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/somberjug.rsi/icon_open.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/somberjug.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/somberjug.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/somberjug.rsi/meta.json
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/meta.json
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberpink-1.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberpink-2.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberpink-3.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberpink-4.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberpink-inhand-left.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberpink-inhand-right.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberpurple-1.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberpurple-2.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberpurple-3.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberpurple-4.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberpurple-inhand-left.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberpurple-inhand-right.png
  Resources/Textures/_SHA/Objects/Specific/Janitorial/light_replacer.rsi/UV-inhand-left.png
  Resources/Textures/_SHA/Objects/Specific/Janitorial/light_replacer.rsi/UV-inhand-right.png
  Resources/Textures/_SHA/Objects/Specific/Janitorial/light_replacer.rsi/emagged.png
  Resources/Textures/_SHA/Objects/Specific/Janitorial/light_replacer.rsi/icon-UV.png
  Resources/Textures/_SHA/Objects/Specific/Janitorial/light_replacer.rsi/icon.png
  Resources/Textures/_SHA/Objects/Specific/Janitorial/light_replacer.rsi/inhand-left.png
  Resources/Textures/_SHA/Objects/Specific/Janitorial/light_replacer.rsi/inhand-right.png
  Resources/Textures/_SHA/Objects/Specific/Janitorial/light_replacer.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

asdf
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks_special.yml
  Resources/Textures/_DEN/Objects/Consumable/Drinks/somberjug.rsi/icon.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/somberjug.rsi/icon_open.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/somberjug.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/somberjug.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombershotglass.rsi/fill1.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombershotglass.rsi/fill2.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombershotglass.rsi/icon-front.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombershotglass.rsi/icon.png
Labels: Changes: Sprite

add whispering to AAC tablets
  Content.Client/_starcup/AACTablet/UI/AACWindow.xaml.cs
  Content.Server/_DV/AACTablet/AACTabletSystem.cs
Labels: Changes: C#, Changes: UI

replace swabs in nutrimax inventory with swab box
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
Labels: none

add bullshit to the servicefab
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/service_techfab.yml
Labels: none

Big boobies!! ( . )( . )
  Resources/Locale/en-US/_DEN/markings/undershirt.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/busty_bosom.rsi/busty_bra.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/busty_bosom.rsi/busty_breasts.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/busty_bosom.rsi/busty_collar.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/busty_bosom.rsi/busty_halterneck.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/busty_bosom.rsi/busty_longsleeve.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/busty_bosom.rsi/busty_nipples.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/busty_bosom.rsi/busty_shortsleeve.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/busty_bosom.rsi/busty_sportsbra.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/busty_bosom.rsi/busty_strapless.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/busty_bosom.rsi/busty_windowedtop.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/busty_bosom.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

this shit has been annoying TF outta me
  Resources/Prototypes/_Floof/Loadouts/uniform.yml
Labels: none

fixed camera bug
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/camera_bug.yml
Labels: none

pools
  Resources/Prototypes/_DEN/Entities/Tiles/water.yml
  Resources/Textures/_DEN/Tiles/Planet/waterfall.rsi/meta.json
  Resources/Textures/_DEN/Tiles/Planet/waterfall.rsi/pool-water.png
  Resources/Textures/_DEN/Tiles/Planet/waterfall.rsi/regular-water.png
Labels: Changes: Sprite

add audio
  Resources/Audio/_DEN/Effects/Fluids/attributions.yml
  Resources/Audio/_DEN/Effects/Fluids/waterfall.ogg
  Resources/Prototypes/_DEN/Entities/Tiles/water.yml
Labels: Changes: Audio

Automated changelog update (#2560)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: [PORT]: Ports the Updated Camera System & Map System From WizDen
  Content.Client/SurveillanceCamera/UI/SurveillanceCameraMonitorBoundUi.cs
  Content.Client/SurveillanceCamera/UI/SurveillanceCameraMonitorWindow.xaml
  Content.Client/SurveillanceCamera/UI/SurveillanceCameraMonitorWindow.xaml.cs
  Content.Client/SurveillanceCamera/UI/SurveillanceCameraNavMapControl.cs
  Content.Server/SurveillanceCamera/CameraMapVisibilityWireAction.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraMapSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraMonitorSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraSystem.cs
  Content.Shared/Security/Systems/SharedGenpopSystem.cs
  Content.Shared/SurveillanceCamera/Components/SurveillanceCameraMapComponent.cs
  Content.Shared/SurveillanceCamera/SharedSurveillanceCameraMonitorSystem.cs
  Resources/Locale/en-US/surveillance-camera/surveillance-camera-ui.ftl
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/camera_bug.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Wires/layouts.yml
  Resources/Prototypes/_DEN/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/_DEN/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: C#, Changes: Localization, Changes: UI

redoing everything lolllll
  Resources/Audio/_DEN/Voice/Moth/Emotes/attributions.yml
  Resources/Audio/_DEN/Voice/Moth/Emotes/insectoid_buzz_1.ogg
  Resources/Audio/_DEN/Voice/Moth/Emotes/insectoid_buzz_2.ogg
  Resources/Audio/_DEN/Voice/Moth/Emotes/insectoid_buzz_3.ogg
  Resources/Audio/_DEN/Voice/Moth/Emotes/insectoid_wing_flutter_1.ogg
  Resources/Audio/_DEN/Voice/Moth/Emotes/insectoid_wing_flutter_2.ogg
  Resources/Audio/_DEN/Voice/Moth/Emotes/insectoid_wing_flutter_3.ogg
  Resources/Audio/_DEN/Voice/Moth/Emotes/insectoid_wing_flutter_4.ogg
  Resources/Audio/_DEN/Voice/Moth/Emotes/insectoid_wing_flutter_5.ogg
  Resources/Locale/en-US/_DEN/chat/emotes.ftl
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DEN/SoundCollections/insectoid.yml
  Resources/Prototypes/_DEN/SoundCollections/insectoid_buzz.yml
  Resources/Prototypes/_DEN/Voice/speech_emotes.yml
  Resources/Prototypes/_DV/voice/speech_emote_sounds.yml
Labels: Changes: Audio, Changes: Localization

keep forgetting to atrribute myself
  Resources/Audio/_DEN/Voice/Moth/Emotes/attributions.yml
Labels: none

this is awesome
  Resources/Audio/_SHA/legion_spawn.ogg
  Resources/Audio/_SHA/soulscream.ogg
  Resources/Audio/_SHA/whatwasleft.ogg
  Resources/Prototypes/_DEN/Entities/Structures/Lighting/somber_base_lighting.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon-soul.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/meta.json
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-both-silhouette-black.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-both-silhouette.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/meta.json
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/draw-ritual-mirror.png
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/draw.png
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/icon.png
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/meta.json
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/ritual-mirror.png
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/ritual.png
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/soul-eyes.png
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/soul.png
  Resources/Textures/_SHA/Heretic/ritual_rune.rsi/icon.png
  Resources/Textures/_SHA/Heretic/ritual_rune.rsi/icon_drawanim.png
  Resources/Textures/_SHA/Heretic/ritual_rune.rsi/icon_ritualanim.png
  Resources/Textures/_SHA/Heretic/ritual_rune.rsi/meta.json
Labels: Changes: Audio, Changes: Sprite

Big Bosoms (#2566)
  Resources/Locale/en-US/_DEN/markings/undershirt.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Prototypes/_Floof/Loadouts/uniform.yml
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/busty_bosom.rsi/busty_bra.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/busty_bosom.rsi/busty_breasts.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/busty_bosom.rsi/busty_collar.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/busty_bosom.rsi/busty_halterneck.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/busty_bosom.rsi/busty_longsleeve.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/busty_bosom.rsi/busty_nipples.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/busty_bosom.rsi/busty_shortsleeve.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/busty_bosom.rsi/busty_sportsbra.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/busty_bosom.rsi/busty_strapless.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/busty_bosom.rsi/busty_windowedtop.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/busty_bosom.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Automated changelog update (#2566)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Big Bosoms
  Resources/Prototypes/_Floof/Loadouts/uniform.yml
Labels: none

[Bounty] Waterfalls! (#2567)
  Resources/Audio/_DEN/Effects/Fluids/attributions.yml
  Resources/Audio/_DEN/Effects/Fluids/waterfall.ogg
  Resources/Prototypes/_DEN/Entities/Tiles/water.yml
  Resources/Textures/_DEN/Tiles/Planet/waterfall.rsi/meta.json
  Resources/Textures/_DEN/Tiles/Planet/waterfall.rsi/pool-water.png
  Resources/Textures/_DEN/Tiles/Planet/waterfall.rsi/regular-water.png
Labels: Changes: Audio, Changes: Sprite

Add Whispering to AAC Tablets (#2563)
  Content.Client/_starcup/AACTablet/UI/AACWindow.xaml.cs
  Content.Server/_DV/AACTablet/AACTabletSystem.cs
Labels: Changes: C#, Changes: UI
