Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

added examination to Stabilizing
  Content.Shared/_DEN/Bed/Systems/SharedStabilizingOnBuckleSystem.cs
  Resources/Locale/en-US/_DEN/stabilizing/stabilizing.ftl
Labels: Changes: C#, Changes: Localization

loadoutsssss
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/nanorep.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Command/nanorep.yml
Labels: none

Fix solutions flickering when transferring contents (#34838)
  Content.Shared/Chemistry/Components/Solution.cs
Labels: Changes: C#

fixed blue hawaiian
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
Labels: none

Predict Hyposprays
  Content.Client/Chemistry/EntitySystems/HyposprayStatusControl.cs
  Content.Client/Chemistry/EntitySystems/HyposprayStatusControlSystem.cs
  Content.Server/Chemistry/EntitySystems/FillableOneTimeInjectorSystem.cs
  Content.Server/Chemistry/EntitySystems/HypospraySystem.cs
  Content.Server/Chemistry/EntitySystems/InjectorSystem.cs
  Content.Server/Silicons/Bots/MedibotSystem.cs
  Content.Server/_DEN/Chemistry/EntitySystems/AfterInjectSystem.cs
  Content.Server/_Goobstation/Chemistry/HyposprayBlockNonMobInjection/HyposprayBlockNonMobInjectionSystem.cs
  Content.Shared/Chemistry/Components/HyposprayComponent.cs
  Content.Shared/Chemistry/EntitySystems/SharedHypospraySystem.cs
  Content.Shared/_DV/Abilities/Chitinid/BlockInjectionComponent.cs
Labels: Changes: C#

Update lighthouse.yml
  Resources/Maps/TheDen/lighthouse.yml
Labels: Changes: Map

stuff
  Resources/Maps/TheDen/lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Changes: Map

Remove cybersun suits
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/security_techfab.yml
Labels: none

remove hardlight melee weapons and rebalance pistol costs
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/security_techfab.yml
Labels: none

make the viper match the mk58
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
Labels: none

rechamber the BRDI25
  Resources/Prototypes/_EE/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
Labels: none

remove caseless ammo from security
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/security_techfab.yml
Labels: none

remove civilian disabler
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: none

Disabler tweaks
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: none

Remove terminus from captain loadout
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
Labels: none

kills hos/warden e-swords
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/warden.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/warden.yml
Labels: none

nerf warden shield
  Resources/Prototypes/_DEN/Entities/Objects/Shields/shields.yml
Labels: none

Reduce flash protection availability
  Resources/Prototypes/Catalog/VendingMachines/Inventories/bardrobe.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Mail/mail.yml
Labels: none

fixes IPCs standing on sleep/death (#4232)
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
Labels: none

use the base sec helm, also make the straps black
  Resources/Textures/_DV/Clothing/Head/Helmets/security.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Head/Helmets/security.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/securitysirenhelmet.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/securitysirenhelmet.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/securitysirenhelmet.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/securitysirenhelmet.rsi/off-equipped-HELMET.png
Labels: Changes: Sprite

Fixed monkeys being strippable
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: none

Fixed scugs too
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Floof/Entities/Mobs/NPCs/scugcat.yml
Labels: none

scugcats have their own body type now
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_DEN/Body/Prototypes/scugcat.yml
  Resources/Prototypes/_Floof/Entities/Mobs/NPCs/scugcat.yml
Labels: none

Thaven Sprite Touchups
  Resources/Locale/en-US/_Impstation/markings/thaven.ftl
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/thaven.yml
  Resources/Prototypes/_Impstation/Species/thaven.yml
  Resources/Textures/Clothing/Hands/Gloves/Color/color.rsi/equipped-HAND-thaven.png
  Resources/Textures/Clothing/Hands/Gloves/evening_gloves.rsi/equipped-HAND-thaven.png
  Resources/Textures/_DEN/Mobs/Species/Thaven/displacement.rsi/hands.png
  Resources/Textures/_DEN/Mobs/Species/Thaven/parts.rsi/l_arm.png
  Resources/Textures/_DEN/Mobs/Species/Thaven/parts.rsi/r_arm.png
  Resources/Textures/_DV/Clothing/Hands/Gloves/inspection.rsi/equipped-HAND-thaven.png
Labels: Changes: Localization, Changes: Sprite

prosthetic/twisting arm placement fix
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/thaven.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/scars.yml
Labels: none

Update Holobed Sprites
  Resources/Prototypes/_DV/Entities/Structures/Holographic/rollerbeds.yml
  Resources/Textures/_DV/Structures/Furniture/rollerbeds.rsi/holographic_rollerbed.png
  Resources/Textures/_DV/Structures/Furniture/rollerbeds.rsi/holographic_rollerbed_buckled.png
  Resources/Textures/_DV/Structures/Furniture/rollerbeds.rsi/meta.json
Labels: Changes: Sprite

Fix rollerbed visualizer
  Resources/Prototypes/Entities/Structures/Furniture/rollerbeds.yml
Labels: none

The Bartender can now make Eggnog (#34065)
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
  Resources/Textures/Objects/Consumable/Drinks/eggnogglass.rsi/fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/eggnogglass.rsi/fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/eggnogglass.rsi/fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/eggnogglass.rsi/fill-4.png
  Resources/Textures/Objects/Consumable/Drinks/eggnogglass.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/eggnogglass.rsi/icon_empty.png
  Resources/Textures/Objects/Consumable/Drinks/eggnogglass.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Fix minor spelling mistake
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
Labels: none

Add Spaces
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
Labels: none

Add Spaces
  Resources/Prototypes/_DEN/Entities/Objects/Misc/paper.yml
Labels: none

quick sprite fix
  Resources/Textures/_DEN/Objects/Consumable/Drinks/songbird.rsi/icon.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/songbird.rsi/meta.json
Labels: Changes: Sprite

Revert making them slightly brighter, same radius
  Resources/Prototypes/_DEN/Entities/Objects/Tools/flashlights.yml
Labels: none

fix
  Resources/Locale/en-US/_DEN/stabilizing/stabilizing.ftl
Labels: Changes: Localization

silly?
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/helmets.yml
Labels: none

Made Geras Slimes carry over Color
  Content.Server/Geras/GerasSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Textures/Mobs/Aliens/slimes.rsi/aslime_3.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/aslime_angry.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/aslime_mischievous.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/meta.json
  Resources/Textures/Mobs/Aliens/slimes.rsi/slime_geras.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/slime_geras_eyes.png
Labels: Changes: C#, Changes: Sprite

Update Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: none

tweaks
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_DV/Recipes/Reactions/drinks.yml
Labels: none

fixed duplicates
  Resources/Locale/en-US/_DV/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_DV/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/en-US/deltav/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/meta/consumable/drink/alcohol.ftl
Labels: Changes: Localization

Update lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Changes: Map

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
