Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

Fix EvenHealing on bodyParts
  Content.Server/EntityEffects/Effects/EvenHealthChange.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
Labels: Changes: C#

line fixes
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_EE/Entities/Clothing/SolAlliance/SAN/outerwear.yml
Labels: none

New soundfont
  Resources/Audio/MidiCustom/LICENSE
Labels: none

revert: EE "performance" fixes
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
Labels: Changes: C#

Changing Suit Sensors On Other Players (#665)
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
Labels: Changes: C#

Suit Sensors Tweaks (#704)
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
Labels: Changes: C#

fix: readd goob bso addition
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
Labels: Changes: C#

feat: some dingus didn't know that there was a color picker component
  Content.Client/Options/UI/OptionsMenu.xaml
  Content.Client/Options/UI/OptionsMenu.xaml.cs
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/_DEN/Options/UI/Tabs/ExtraTab.xaml
  Content.Client/_DEN/Options/UI/Tabs/ExtraTab.xaml.cs
Labels: Changes: C#, Changes: UI

chore: moved code down a couple lines so fits in existing structure better
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
Labels: Changes: C#, Changes: UI

GRAAHHHHH
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/_Goobstation/Damage/modifier_sets.yml
Labels: none

RRRAAAH
  Content.Server/Dragon/Components/DragonComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: Changes: C#

Bug fixing minor Edge issues + Update hallway and NTR room
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

okay maybe bleed just a little bit
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: none

Dragons blow up after 7 minutes if they don't place a rift
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Dragon/Components/DragonComponent.cs
  Content.Server/Dragon/Components/DragonRiftComponent.cs
  Content.Server/Dragon/DragonSystem.cs
Labels: Changes: C#

being near a rift resets death timer
  Content.Server/Dragon/DragonSystem.cs
Labels: Changes: C#

Edge updates and bugfixes
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

Rebuffed rift healing, slightly adjusted slash resistance, removed despawning, increased cooldown on breath
  Content.Server/Dragon/DragonSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/_Goobstation/Damage/modifier_sets.yml
Labels: Changes: C#

ichor should be divisible by 3
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: none

Fixed Surgery Healing
  Content.Server/_Shitmed/Medical/Surgery/SurgerySystem.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
Labels: Changes: C#

ERT engineering tweaks
  Resources/Locale/en-US/_DEN/set-selector/selectable-set.ftl
  Resources/Maps/Shuttles/TheDen/NTRF_Nyx.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/_DEN/Catalog/selectable_sets.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Eyes/hud.yml
Labels: Changes: Localization, Changes: Map

linter fail
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
Labels: none

Missing suffix on belt
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: none

wrong RSI
  Resources/Prototypes/_DEN/Catalog/selectable_sets.yml
Labels: none

Fix rotate verbs not being predicted (#38165)
  Content.Server/Rotatable/FlippableComponent.cs
  Content.Server/Rotatable/RotatableSystem.cs
  Content.Shared/Rotatable/FlippableComponent.cs
  Content.Shared/Rotatable/RotatableComponent.cs
  Content.Shared/Rotatable/RotatableSystem.cs
  Resources/Locale/en-US/rotation/components/rotatable-component.ftl
Labels: Changes: C#, Changes: Localization

chore: automatically update REUSE headers
  Content.Shared/Materials/MaterialStorageComponent.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: C#

woof
  Content.Server/Chat/Commands/SubtleOOCCommand.cs
Labels: Changes: C#

woof.
  Content.Server/Chat/Commands/SubtleOOCCommand.cs
Labels: Changes: C#

30-Year-Olds Are Not Middle-Aged
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Resources/Prototypes/Species/arachne.yml
Labels: Changes: C#

add an age range
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Locale/en-US/identity/identity-system.ftl
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/plasmaman.yml
  Resources/Prototypes/Species/shadowkin.yml
Labels: Changes: C#, Changes: Localization

Update medicine.yml
  Resources/Prototypes/_Floof/Reagents/Aphrodisiacs/medicine.yml
Labels: none

Wider Language Window Default Size
  Content.Client/Language/LanguageMenuWindow.xaml
Labels: Changes: UI

Update flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
Labels: none

kill
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/centcom_official.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_DV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/magistrate.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: none

ugh
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
Labels: none

add the "older" category too, adjust species ranges
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Locale/en-US/identity/identity-system.ftl
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/ipc.yml
  Resources/Prototypes/Species/plasmaman.yml
  Resources/Prototypes/Species/shadowkin.yml
Labels: Changes: C#, Changes: Localization

guidebooks and age range updates
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/plasmaman.yml
  Resources/Prototypes/Species/shadowkin.yml
  Resources/ServerInfo/Guidebook/Mobs/Arachne.xml
  Resources/ServerInfo/Guidebook/Mobs/IPCs.xml
  Resources/ServerInfo/Guidebook/Mobs/Plasmaman.xml
  Resources/ServerInfo/Guidebook/Mobs/Shadowkin.xml
Labels: Changes: Documentation

oops didn't save plasmamen
  Resources/Prototypes/Species/plasmaman.yml
Labels: none

Fix and buff Shadowkins psionics
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Traits/mental.yml
Labels: none

initial commit
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/CentComm/cburn.yml
  Resources/Prototypes/Roles/Jobs/CentComm/deathsquad.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Prototypes/StatusIcon/job.yml
  Resources/Prototypes/_DEN/StatusIcon/job.yml
  Resources/Prototypes/_Goobstation/StatusEffects/job.yml
  Resources/Textures/Objects/Misc/id_cards.rsi/cburn.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/Admin.png
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/Blueshield.png
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/CBURN.png
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/Deathsquad.png
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/ERTChaplain.png
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/ERTEngineer.png
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/ERTJanitor.png
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/ERTLeader.png
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/ERTMedical.png
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/ERTSecurity.png
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/Magistrate.png
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/Nanotrasen.png
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/nanotrasenrepresentative.png
Labels: Changes: Sprite

ancient mode for 250+
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Locale/en-US/identity/identity-system.ftl
  Resources/Prototypes/Species/ipc.yml
  Resources/Prototypes/Species/shadowkin.yml
  Resources/ServerInfo/Guidebook/Mobs/IPCs.xml
Labels: Changes: C#, Changes: Documentation, Changes: Localization

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
