Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

Added the spawnplayer command to... well... spawn players
  Content.Server/_DEN/Administration/Commands/SpawnPlayer.cs
  Resources/Locale/en-US/_DEN/commands/spawnplayer-command.ftl
Labels: Changes: C#, Changes: Localization

clean-up
  Content.Server/_DEN/Administration/Commands/SpawnPlayer.cs
Labels: Changes: C#

It works now!
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#

woo?!?!?!
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#

Reapply "Add Residency To Records, Change Drug Allergies (#1405)" (#1429)
  Content.Client/_CD/Records/UI/CharacterRecordViewer.xaml
  Content.Client/_CD/Records/UI/CharacterRecordViewer.xaml.cs
  Content.Client/_CD/Records/UI/RecordEditorGui.xaml
  Content.Client/_CD/Records/UI/RecordEditorGui.xaml.cs
  Content.Server/_CD/Records/RecordsSerialization.cs
  Content.Shared/_CD/Records/PlayerProvidedCharacterRecords.cs
  Resources/Locale/en-US/_CD/records/editor.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

Beer googles function as their description states. (#4091)
  Content.Server/Damage/Systems/DamageOnLandSystem.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.Spillable.cs
  Content.Shared/_DV/Chemistry/Components/SafeSolutionThrowerComponent.cs
  Content.Shared/_DV/Chemistry/Systems/SafeSolutionThrowerSystem.cs
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
Labels: Changes: C#

removed spawns from nyx
  Resources/Maps/Shuttles/TheDen/NTRF_Nyx.yml
Labels: Changes: Map

Nyx spawns on centcomm now
  Resources/Maps/CentralCommand/harmony.yml
  Resources/Maps/CentralCommand/main.yml
  Resources/Maps/Shuttles/TheDen/NTRF_Nyx.yml
  Resources/Prototypes/_EE/Entities/Structures/Doors/Airlocks/shuttleAirlocks.yml
Labels: Changes: Map

Fixed fail
  Resources/Maps/Shuttles/TheDen/NTRF_Nyx.yml
Labels: Changes: Map

Fixes Borgs and Syndicats getting hurt by glass shards and other things + honkbot slipping 2 (#31011)
  Content.Shared/StepTrigger/Components/PreventableStepTriggerComponent.cs
  Content.Shared/StepTrigger/Components/ProtectedFromStepTriggersComponent.cs
  Content.Shared/StepTrigger/Components/StepTriggerImmuneComponent.cs
  Content.Shared/StepTrigger/Systems/StepTriggerImmuneSystem.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Objects/Devices/mousetrap.yml
  Resources/Prototypes/Entities/Objects/Fun/dice.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
Labels: Changes: C#

feat: add whitelist and rename other components
  Content.Shared/StepTrigger/Components/ProtectedFromStepTriggersComponent.cs
  Content.Shared/StepTrigger/Prototypes/StepTriggerGroup.cs
  Content.Shared/StepTrigger/Systems/StepTriggerSystem.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/Traits/skills.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Species/canid.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Species/ovinia.yml
  Resources/Prototypes/_EE/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicators.yml
  Resources/Prototypes/_Impstation/_Drone/Mobs_Player_silicon.yml
  Resources/Prototypes/_Shitmed/Body/Parts/cybernetic.yml
Labels: Changes: C#

chore: add missing comment
  Content.Shared/StepTrigger/Components/ProtectedFromStepTriggersComponent.cs
Labels: Changes: C#

Submit 1
  Resources/Locale/en-US/_DV/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_DV/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Recipes/Lathes/cooking.yml
  Resources/Prototypes/_DV/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_DV/Flavors/flavors.yml
  Resources/Prototypes/_DV/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_DV/Recipes/Reactions/drinks.yml
  Resources/Textures/Objects/Consumable/Drinks/insidescoop.rsi/fill-6.png
  Resources/Textures/_DV/Objects/Consumable/Drinks/kalimotxo.rsi/fill-1.png
  Resources/Textures/_DV/Objects/Consumable/Drinks/kalimotxo.rsi/fill-2.png
  Resources/Textures/_DV/Objects/Consumable/Drinks/kalimotxo.rsi/fill-3.png
  Resources/Textures/_DV/Objects/Consumable/Drinks/kalimotxo.rsi/fill-4.png
  Resources/Textures/_DV/Objects/Consumable/Drinks/kalimotxo.rsi/fill-5.png
  Resources/Textures/_DV/Objects/Consumable/Drinks/kalimotxo.rsi/icon.png
  Resources/Textures/_DV/Objects/Consumable/Drinks/kalimotxo.rsi/icon_empty.png
  Resources/Textures/_DV/Objects/Consumable/Drinks/kalimotxo.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

What the hell.
  Content.Shared/_CD/Records/PlayerProvidedCharacterRecords.cs
Labels: Changes: C#

pagetti use olive oil
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Labels: none

add towel, mustard, and damp rag to chefbelt list
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Multiple/towel.yml
  Resources/Prototypes/_DEN/tags.yml
Labels: none

make condiment station tabletop anchorable
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: none

add waiter/waitress uniform to chefvend
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefdrobe.yml
Labels: none

make chicken nugget recipe less silly
  Resources/Prototypes/_DV/Recipes/Cooking/meal_recipes.yml
Labels: none

2 uniforms spawn in chefdrobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefdrobe.yml
Labels: none

pig in a blanket + sausage bread recipe
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
Labels: none

make pig in a blanket more nutritious
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
Labels: none

fix advanced microwave cook time
  Content.Server/Kitchen/Components/MicrowaveComponent.cs
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/microwave.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/advanced_microwave.yml
Labels: Changes: C#

gaming
  Content.Client/Cargo/BUI/CargoBountyConsoleBoundUserInterface.cs
  Content.Client/Cargo/UI/BountyEntry.xaml
  Content.Client/Cargo/UI/BountyEntry.xaml.cs
  Content.Client/Cargo/UI/CargoBountyMenu.xaml.cs
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Shared/Cargo/CargoBountyData.cs
  Content.Shared/Cargo/Components/CargoBountyConsoleComponent.cs
  Resources/Locale/en-US/cargo/cargo-bounty-console.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

fix duplicate recipe id
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
Labels: none

Made Logilathe accept all Materials
  Content.Shared/Materials/MaterialStorageComponent.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: C#

Coordinates under IFF Label on Mass Scanners and Shuttle Consoles (#31501)
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
Labels: Changes: C#, Changes: UI

fix and buff the handheld mass scanner (#31284)
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Server/Shuttles/Systems/RadarConsoleSystem.cs
  Content.Shared/Shuttles/BUIStates/NavInterfaceState.cs
  Resources/Prototypes/Entities/Objects/Tools/handheld_mass_scanner.yml
Labels: Changes: C#, Changes: UI

Minor improvements & fixes to Shuttle Console UI (#31623)
  Content.Client/Shuttles/UI/BaseShuttleControl.xaml.cs
  Content.Client/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Client/Shuttles/UI/ShuttleDockControl.xaml.cs
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
Labels: Changes: C#, Changes: UI

cleanup
  Content.Client/Shuttles/UI/ShuttleDockControl.xaml.cs
Labels: Changes: C#, Changes: UI

Fix shuttle console angular velocity (#34748)
  Content.Client/Shuttles/UI/NavScreen.xaml.cs
  Resources/Locale/en-US/shuttles/console.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

Add chemical skimmer (#3496)
  Content.Server/Chemistry/EntitySystems/InjectorSystem.cs
  Content.Shared/Chemistry/Components/InjectorComponent.cs
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/dinnerware.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/medical_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/service_techfab.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Chemistry/skimmer.yml
  Resources/Prototypes/_DV/Recipes/Lathes/chemistry.yml
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/inhand-left-fill-1.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/inhand-left-fill-2.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/inhand-left-fill-3.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/inhand-left-fill-4.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/inhand-left-fill-5.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/inhand-right-fill-1.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/inhand-right-fill-2.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/inhand-right-fill-3.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/inhand-right-fill-4.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/inhand-right-fill-5.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/meta.json
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/skimmer.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/skimmer1.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/skimmer2.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/skimmer3.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/skimmer4.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/skimmer5.png
Labels: Changes: C#, Changes: Sprite

Fixed merge issue
  Content.Server/Chemistry/EntitySystems/InjectorSystem.cs
Labels: Changes: C#

Command to open chatbox in a new window (#33548)
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Content.Client/UserInterface/Systems/Chat/ChatWindow.xaml
  Content.Client/UserInterface/Systems/Chat/ChatWindow.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatWindowCommand.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Resources/Locale/en-US/administration/ui/tabs/admin-tab/player-actions-window.ftl
  Resources/Locale/en-US/chat/ui/chat-window.ftl
  Resources/clientCommandPerms.yml
Labels: Changes: C#, Changes: Localization, Changes: UI

Update gravel.yml
  Resources/Maps/TheDen/gravel.yml
Labels: Changes: Map

tweak xcard
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml.cs
  Content.Server/_AS/Consent/ConsentCardSystem.cs
  Resources/Locale/en-US/Blep/consent.ftl
  Resources/Locale/en-US/_AS/consent/consent-cards.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

Made Justice Roles spawn with Justice Headsets
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/_DV/Roles/Jobs/Justice/prosecutor.yml
Labels: none

Add envelopes (#30298)
  Content.Client/Paper/EnvelopeSystem.cs
  Content.Shared/Paper/EnvelopeComponent.cs
  Content.Shared/Paper/EnvelopeSystem.cs
  Resources/Locale/en-US/paper/envelope.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Textures/Interface/Paper/paper_heading_postage_stamp.svg.96dpi.png
  Resources/Textures/Interface/Paper/paper_heading_postage_stamp.svg.96dpi.png.yml
  Resources/Textures/Objects/Storage/boxes.rsi/envelope.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite

Update general.yml
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
Labels: none

SpeakOnUseSystem and phrases for figurines (#30455)
  Content.Server/Chat/SpeakOnUseComponent.cs
  Content.Server/Chat/Systems/SpeakOnUseSystem.cs
  Resources/Locale/en-US/datasets/figurines.ftl
  Resources/Prototypes/Datasets/figurines.yml
  Resources/Prototypes/Entities/Objects/Fun/figurines.yml
Labels: Changes: C#, Changes: Localization

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
