Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

Oh Look! A Dingo Update! (#2589)
  Resources/Maps/TheDen/dingo.yml
Labels: Changes: Map

Automated changelog update (#2589)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Oh Look! A Dingo Update!
  Resources/Maps/TheDen/dingo.yml
Labels: Changes: Map

neat
  Resources/Migrations/migration.yml
  Resources/Prototypes/_DEN/Decals/somber_electrum.yml
  Resources/Prototypes/_DEN/Entities/Structures/Decoration/fireplace.yml
  Resources/Prototypes/_DEN/Entities/Structures/Decoration/somber.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/chairs.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Decals/somber_electrum.rsi/electrumcirclelarge.png
  Resources/Textures/_DEN/Decals/somber_electrum.rsi/meta.json
  Resources/Textures/_DEN/Structures/Decoration/somberpillar.rsi/meta.json
  Resources/Textures/_DEN/Structures/Decoration/somberpillar.rsi/pillarshort.png
  Resources/Textures/_DEN/Structures/Decoration/somberpillar.rsi/pillartall.png
  Resources/Textures/_DEN/Structures/Decoration/somberpillar.rsi/pillartaller.png
  Resources/Textures/_DEN/Structures/Furniture/chairs.rsi/meta.json
  Resources/Textures/_DEN/Structures/Furniture/chairs.rsi/sombercushion-blue.png
  Resources/Textures/_DEN/Structures/Furniture/chairs.rsi/sombercushion-bluepurple.png
  Resources/Textures/_DEN/Structures/Furniture/chairs.rsi/sombercushion-purple.png
  Resources/Textures/_DEN/Structures/Furniture/chairs.rsi/sombercushion-purpleblue.png
  Resources/Textures/_DEN/Structures/Furniture/chairs.rsi/sombercushion-underlay-unshaded1.png
  Resources/Textures/_DEN/Structures/Furniture/chairs.rsi/sombercushion-underlay-unshaded2.png
  Resources/Textures/_DEN/Structures/Furniture/chairs.rsi/sombercushion-underlay.png
  Resources/Textures/_DEN/Structures/Furniture/chairs.rsi/somberfloorcushion-underlay-unshaded2.png
Labels: Changes: Sprite

thaven army knife
  Resources/Audio/_Impstation/Items/toolslap.ogg
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/_DEN/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_DEN/Entities/Structures/Decoration/somber.yml
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/equipped-BELT.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/meta.json
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/omnitool-prying.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/omnitool-pulsing.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/omnitool-screwing.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/omnitool-snipping.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/omnitool-wrenching.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/storage.png
Labels: Changes: Audio, Changes: Sprite

Thaven "Army Knife"
  Resources/Prototypes/_DEN/Entities/Objects/Tools/tools.yml
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/equipped-BELT.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/meta.json
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/omnitool-prying.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/omnitool-pulsing.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/omnitool-screwing.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/omnitool-snipping.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/omnitool-wrenching.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/storage.png
Labels: Changes: Sprite

sfx + sources
  Resources/Audio/_Impstation/Items/toolslap.ogg
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/engineering.yml
Labels: Changes: Audio

migration for chips
  Resources/Migrations/denMigrations.yml
Labels: none

swap migration for direct map file edit
  Resources/Maps/TheDen/eternity.yml
  Resources/Maps/TheDen/infinity.yml
  Resources/Migrations/denMigrations.yml
Labels: Changes: Map

Normalized Thaven Asphyxiation Rate (#2590)
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/thaven.yml
Labels: none

Automated changelog update (#2590)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Normalized Thaven Asphyxiation Rate
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/thaven.yml
Labels: none

idk
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/plasteel.yml
Labels: none

Add heirloom option to them
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/uncategorized.yml
Labels: none

No more axe delimbing, axes damage structures
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/plasteel.yml
Labels: none

Split t2 into different bodies to give deconstructors a hand
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-body.yml
Labels: none

Allow replicators to use borg emotes + understand robottalk
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicators.yml
Labels: none

my bad gang
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicators.yml
Labels: none

Adding advanced SMES and fixing two recipes
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/engineering_techfab.yml
Labels: none

asdf
  Resources/Prototypes/_SHA/everything.yml
Labels: none

blured team loadouts
  Resources/Locale/en-US/_DEN/set-selector/selectable-set.ftl
  Resources/Prototypes/_DEN/Catalog/selectable_sets.yml
  Resources/Prototypes/_DEN/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/blured_team_loadouts.yml
Labels: Changes: Localization

blured team jobs and spawns still WIP
  Resources/Prototypes/Roles/play_time_trackers.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Fun/blured_team.yml
Labels: none

Update NTRF_Nyx.yml
  Resources/Maps/Shuttles/TheDen/NTRF_Nyx.yml
Labels: Changes: Map

Baikal Quick Fixes
  Resources/Maps/TheDen/baikal.yml
Labels: Changes: Map

Glacier Receives Passionate Inches (3)
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: Map

Baikal Quick Fixes (#2597)
  Resources/Maps/TheDen/baikal.yml
Labels: Changes: Map

Automated changelog update (#2597)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Baikal Quick Fixes
  Resources/Maps/TheDen/baikal.yml
Labels: Changes: Map

Glacier Receives Passionate Inches (3) (#2598)
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: Map

Automated changelog update (#2598)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Glacier Receives Passionate Inches (3)
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: Map

Update NTRF_Nyx.yml (#2596)
  Resources/Maps/Shuttles/TheDen/NTRF_Nyx.yml
Labels: Changes: Map

Automated changelog update (#2596)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Update NTRF_Nyx.yml
  Resources/Maps/Shuttles/TheDen/NTRF_Nyx.yml
Labels: Changes: Map

go away
  Resources/Textures/_DEN/Structures/Doors/Shutters/shutters.rsi/closed.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/shutters.rsi/closing.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/shutters.rsi/frame.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/shutters.rsi/meta.json
  Resources/Textures/_DEN/Structures/Doors/Shutters/shutters.rsi/open.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/shutters.rsi/opening.png
Labels: Changes: Sprite

add configurator functionality
  Resources/Prototypes/_DEN/Entities/Objects/Tools/tools.yml
Labels: none

Update replicators.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicators.yml
Labels: none

polish
  Resources/Locale/en-US/_SHA/everything.ftl
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_DEN/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_DEN/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/_DEN/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_DEN/Entities/Structures/Wallmounts/shelfs.yml
  Resources/Prototypes/_DEN/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Structures/Doors/Shutters/somberwindowtinting.rsi/closed.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/somberwindowtinting.rsi/closing.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/somberwindowtinting.rsi/frame.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/somberwindowtinting.rsi/open.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/somberwindowtinting.rsi/opening.png
Labels: Changes: Localization, Changes: Sprite

add slicing
  Resources/Prototypes/_DEN/Entities/Objects/Tools/tools.yml
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/meta.json
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/omnitool-slicing.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/omnitool-snipping.png
Labels: Changes: Sprite

ya
  Resources/Prototypes/_DEN/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_DEN/SoundCollections/tools.yml
Labels: none

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
