Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

STUPID LOBBY UIS
  Resources/Prototypes/_DEN/Entities/Objects/Tools/lighters.yml
Labels: none

Update Resources/Prototypes/Loadouts/Jobs/Engineering/chiefEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/chiefEngineer.yml
Labels: none

Update Resources/Locale/en-US/_Floof/traits/traits.ftl
  Resources/Locale/en-US/_Floof/traits/traits.ftl
Labels: Changes: Localization

tweak: max traitors lowered
  Resources/Prototypes/GameRules/roundstart.yml
Labels: none

tweak: increase time before traitor spawn
  Resources/Prototypes/GameRules/roundstart.yml
Labels: none

tweak: max time 40 minutes
  Resources/Prototypes/GameRules/roundstart.yml
Labels: none

tweak: sleeper earliest start to 30 minutes
  Resources/Prototypes/GameRules/events.yml
Labels: none

tweak: absolute minimum antaggery time
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_DV/GameRules/events.yml
  Resources/Prototypes/_Floof/Gamerules/Events.yml
  Resources/Prototypes/_Impstation/GameRules/replicator_event.yml
Labels: none

tweak: max sleeper agents to 2 at a time
  Resources/Prototypes/GameRules/events.yml
Labels: none

Add EmoteCooldown Prototype to Species Mobs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: none

Add CanEmote Block for Cooldown
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
Labels: Changes: C#

Port RMCEmote Dependencies
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#

Port RMCEmoteSystem dependency
  Content.Server/Speech/EntitySystems/VocalSystem.cs
Labels: Changes: C#

Port RMCEmoteSystem.cs to _RMC14/Emote
  Content.Server/_RMC14/Emote/RMCEmoteSystem.cs
Labels: Changes: C#

Port RMCCVars.cs to _RMC14/CCVar
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
Labels: Changes: C#

Port RecentlyEmotedComponent.cs to _RMC14/Emote
  Content.Server/_RMC14/Emote/RecentlyEmotedComponent.cs
Labels: Changes: C#

Port SharedRMCEmoteSystem.cs to _RMC14/Emote
  Content.Shared/_RMC14/Emote/SharedRMCEmoteSystem.cs
Labels: Changes: C#

Update Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: none

Update Content.Shared/_RMC14/Emote/SharedRMCEmoteSystem.cs
  Content.Shared/_RMC14/Emote/SharedRMCEmoteSystem.cs
Labels: Changes: C#

Update Content.Shared/_RMC14/Emote/SharedRMCEmoteSystem.cs
  Content.Shared/_RMC14/Emote/SharedRMCEmoteSystem.cs
Labels: Changes: C#

Update SharedRMCEmoteSystem.cs
  Content.Shared/_RMC14/Emote/SharedRMCEmoteSystem.cs
Labels: Changes: C#

fix: emote cooldown works
  Content.Server/_RMC14/Emote/RMCEmoteSystem.cs
  Content.Shared/_RMC14/Emote/RecentlyEmotedComponent.cs
  Content.Shared/_RMC14/Emote/SharedRMCEmoteSystem.cs
Labels: Changes: C#

tweak: default values
  Content.Server/_RMC14/Emote/RMCEmoteSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Emote/RecentlyEmotedComponent.cs
Labels: Changes: C#

balance changes
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/skia.yml
Labels: none

start working on their store and system
  Content.Server/_DEN/Skia/SkiaSystem.cs
  Content.Shared/_DEN/Skia/Components/SkiaComponent.cs
  Resources/Prototypes/_DEN/Actions/skia.yml
Labels: Changes: C#

spooky themeing
  Resources/Prototypes/_DEN/Body/Prototypes/skia.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/skia.yml
  Resources/Prototypes/_DV/Objectives/skia.yml
Labels: none

store works now
  Content.Server/_DEN/Skia/SkiaSystem.cs
  Content.Shared/_DEN/Skia/SharedSkiaSystem.cs
  Content.Shared/_DEN/Skia/SkiaComponent.cs
Labels: Changes: C#

tpyo 1
  Content.Client/Ghost/GhostSystem.cs
  Resources/Locale/en-US/language/languages.ftl
Labels: Changes: C#, Changes: Localization

store templates
  Resources/Locale/en-US/_DEN/store/currency.ftl
  Resources/Prototypes/_DEN/Catalog/skia_catalog.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/skia.yml
Labels: Changes: Localization

soul reaping and store systems
  Content.Server/_DEN/Skia/SkiaSystem.cs
  Content.Shared/_DEN/Skia/SharedSkiaSystem.cs
  Content.Shared/_DEN/Skia/SkiaComponent.cs
  Content.Shared/_DEN/Skia/SoulReapedComponent.cs
Labels: Changes: C#

cleanup
  Content.Server/_DEN/Skia/SkiaSystem.cs
  Content.Shared/_DEN/Skia/SoulReapedComponent.cs
Labels: Changes: C#

started working on pinpointer
  Resources/Prototypes/_DEN/Entities/Objects/Devices/pinpointer.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/skia.yml
Labels: none

try to assign pinpointer..
  Content.Server/_DEN/Skia/SkiaSystem.cs
Labels: Changes: C#

pinpointer doesn't work so, try this again later
  Content.Server/_DEN/Skia/SkiaSystem.cs
Labels: Changes: C#

guidebook
  Resources/ServerInfo/Guidebook/_DEN/Antagonist/Skia.xml
Labels: Changes: Documentation

make it so you can reap targets who ghost out on death
  Content.Server/_DEN/Skia/SkiaSystem.cs
Labels: Changes: C#

Mantis Touchups 2
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantistailorsknife.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantistailorsknife.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantistailorsknife.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantistailorsknife.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantistailorsknife.rsi/spinning-inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantistailorsknife.rsi/spinning-inhand-right.png
Labels: Changes: Sprite

Remove Holopad Collision
  Resources/Prototypes/Entities/Structures/Machines/holopad.yml
Labels: none

linter fail
  Resources/Prototypes/_DEN/Entities/Objects/Devices/pinpointer.yml
Labels: none

double the size of marking icons in the marking list
  Content.Client/Humanoid/MarkingPicker.xaml.cs
Labels: Changes: C#, Changes: UI
