Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

Impact effects work! Needs to be circular though, since they don't work like the laser ones.
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Projectiles/impacts.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/impacts.rsi/impact_pulse.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/impacts.rsi/impact_stun.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/impacts.rsi/meta.json
Labels: Changes: Sprite

Fixed the timings on the impact effects.
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Projectiles/impacts.yml
Labels: none

Poker chips
  Resources/Audio/Items/Poker_Chips/chips_handle_large.ogg
  Resources/Audio/Items/Poker_Chips/chips_handle_small.ogg
  Resources/Audio/Items/Poker_Chips/chips_stack.ogg
  Resources/Prototypes/Entities/Objects/Fun/poker_chips.yml
  Resources/Textures/Objects/Fun/poker_chips.rsi/ChipChestClosed.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/ChipChestFilledBlack.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/ChipChestFilledBlue.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/ChipChestFilledGreen.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/ChipChestFilledRed.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/ChipChestFilledYellow.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/ChipChestOpen.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_black.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_black_2.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_black_3.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_black_4.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_black_5.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_blue.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_blue_2.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_blue_3.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_blue_4.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_blue_5.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_green.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_green_2.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_green_3.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_green_4.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_green_5.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_red.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_red_2.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_red_3.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_red_4.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_red_5.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_yellow.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_yellow_2.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_yellow_3.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_yellow_4.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_yellow_5.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/meta.json
Labels: Changes: Audio, Changes: Sprite

Fixed
  Resources/Textures/Objects/Fun/poker_chips.rsi/ChipChestClosed.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/ChipChestFilledBlack.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/ChipChestFilledBlue.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/ChipChestFilledGreen.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/ChipChestFilledRed.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/ChipChestFilledYellow.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/ChipChestOpen.png
Labels: Changes: Sprite

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

More attempts to get muzzle flashes to work
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Projectiles/muzzleflashes.yml
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/energypulse.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/energystun.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/meta.json
Labels: Changes: Sprite

tidied up the joint code and started work on making the system work with the anchor being unequiped
  Content.Shared/Floofstation/Leash/LeashSystem.cs
Labels: Changes: C#

Best tail made better
  Resources/Locale/en-US/_DEN/markings/reptilianandvulpkanin.ftl
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/vulpkaninmarks.yml
  Resources/Textures/_DEN/Mobs/Customization/Vulpkanin/fluffytip.rsi/fluffyalt.png
  Resources/Textures/_DEN/Mobs/Customization/Vulpkanin/fluffytip.rsi/fluffyalttip.png
  Resources/Textures/_DEN/Mobs/Customization/Vulpkanin/fluffytip.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Wag animation for the fluffy tail (no tip)
  Resources/Locale/en-US/_DEN/markings/reptilianandvulpkanin.ftl
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/vulpkaninmarks.yml
  Resources/Textures/_DEN/Mobs/Customization/Vulpkanin/fluffytip.rsi/fluffywag.png
  Resources/Textures/_DEN/Mobs/Customization/Vulpkanin/fluffytip.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Fixed hydra not accepting new ammo and saying it was contra
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
Labels: none

removed ability for emagged recycler to gib, regardless of cvar settings
  Content.Shared/Materials/SharedMaterialReclaimerSystem.cs
Labels: Changes: C#

Update SharedMaterialReclaimerSystem.cs
  Content.Shared/Materials/SharedMaterialReclaimerSystem.cs
Labels: Changes: C#

Wag animation for the fluffy tail (tip this time)
  Resources/Locale/en-US/_DEN/markings/reptilianandvulpkanin.ftl
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/vulpkaninmarks.yml
  Resources/Textures/_DEN/Mobs/Customization/Vulpkanin/fluffytip.rsi/fluffyaltwag.png
  Resources/Textures/_DEN/Mobs/Customization/Vulpkanin/fluffytip.rsi/fluffyaltwagtip.png
  Resources/Textures/_DEN/Mobs/Customization/Vulpkanin/fluffytip.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

By popular demand, Chittering
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Prototypes/_DEN/Traits/languages.yml
Labels: Changes: Localization

Sprites for the Pulse Magnum
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Textures/_DEN/Objects/Weapons/Guns/Battery/pulse_magnum.rsi/base.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Battery/pulse_magnum.rsi/disabler-inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Battery/pulse_magnum.rsi/disabler-inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Battery/pulse_magnum.rsi/equipped-BACKPACK.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Battery/pulse_magnum.rsi/equipped-BELT.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Battery/pulse_magnum.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Battery/pulse_magnum.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Battery/pulse_magnum.rsi/lethal-inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Battery/pulse_magnum.rsi/lethal-inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Battery/pulse_magnum.rsi/mag-unshaded-0.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Battery/pulse_magnum.rsi/mag-unshaded-1.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Battery/pulse_magnum.rsi/mag-unshaded-2.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Battery/pulse_magnum.rsi/mag-unshaded-3.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Battery/pulse_magnum.rsi/mag-unshaded-4.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Battery/pulse_magnum.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Guns/Battery/pulse_magnum.rsi/mode-disabler.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Battery/pulse_magnum.rsi/mode-lethal.png
Labels: Changes: Sprite

holster sounds
  Resources/Audio/_DEN/Weapons/attributions.yml
  Resources/Audio/_DEN/Weapons/pistol_holster.ogg
  Resources/Audio/_DEN/Weapons/pistol_unholster.ogg
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_DV/Entities/Clothing/Belt/belts.yml
Labels: Changes: Audio

Pulse magnum bullet sprites. Somehow broke the disabler entity. Needs fixing.
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Textures/_DEN/Objects/Weapons/Guns/Battery/pulse_magnum.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/energybolts.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/energybolts.rsi/pulse_bolt.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/impacts.rsi/impact_disabler.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/impacts.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/energydisabler.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/meta.json
Labels: Changes: Sprite

make passports use custom species
  Content.Shared/_EE/Contractors/Systems/SharedPassportSystem.cs
Labels: Changes: C#

remove brightness restriction on "hues" skin tone
  Content.Shared/Humanoid/SkinColor.cs
Labels: Changes: C#

Fixed the YAML errors. Tweaked the Pulse Magnum some more.
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: none

AUUUUUGH
  Resources/Locale/en-US/game-ticking/game-presets/preset-dangers.ftl
  Resources/Prototypes/_DEN/game_presets.yml
Labels: Changes: Localization

no slurs
  Resources/Locale/en-US/datasets/names/borg.ftl
  Resources/Prototypes/Datasets/Names/borg.yml
Labels: Changes: Localization

Tweaked a comment
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: none

Build fail fixed? Maybe?
  Resources/Prototypes/Body/Organs/shadowkin.yml
Labels: none

add examine text to paint cans
  Content.Server/Paint/PaintSystem.cs
  Resources/Locale/en-US/_DEN/paint/paint-component.ftl
Labels: Changes: C#, Changes: Localization

draw the rest of the owl
  Content.Client/_DEN/Paint/MagicPaintSystem.cs
  Content.Client/_DEN/Paint/UI/MagicPaintBoundUserInterface.cs
  Content.Client/_DEN/Paint/UI/MagicPaintWindow.xaml
  Content.Client/_DEN/Paint/UI/MagicPaintWindow.xaml.cs
  Content.Server/Paint/PaintSystem.cs
  Content.Server/_DEN/Paint/MagicPaintSystem.cs
  Content.Server/_DEN/Paint/PaintSystem.cs
  Content.Shared/_DEN/Paint/MagicPaintComponent.cs
  Content.Shared/_DEN/Paint/SharedMagicPaintSystem.cs
  Resources/Locale/en-US/_DEN/paint/magic-paint.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Fun/spray_paint.yml
Labels: Changes: C#, Changes: Localization, Changes: UI

change magic spray paint sprites
  Resources/Prototypes/_DEN/Entities/Objects/Fun/spray_paint.yml
Labels: none

move onexamined to den paint system
  Content.Server/Paint/PaintSystem.cs
  Content.Server/_DEN/Paint/PaintSystem.cs
Labels: Changes: C#

add magic spray paint to admin bag
  Resources/Prototypes/_DEN/Entities/Objects/Misc/admin.yml
Labels: none

tweak description
  Resources/Prototypes/_DEN/Entities/Objects/Fun/spray_paint.yml
Labels: none

Fixed/remade pulse magnum impact effects.
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Projectiles/impacts.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/impacts.rsi/impact_disabler.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/impacts.rsi/impact_pulse.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/impacts.rsi/impact_pulsemagnum_disabler.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/impacts.rsi/impact_pulsemagnum_lethal.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/impacts.rsi/meta.json
Labels: Changes: Sprite

Reverted the pulse magnum disabler impact effect.
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: none

add neck towel sprite
  Resources/Textures/Clothing/Multiple/towel.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Multiple/towel.rsi/meta.json
Labels: Changes: Sprite

allow towels to be worn on neck
  Resources/Prototypes/Entities/Clothing/Multiple/towel.yml
Labels: none

migrate bible prototypes this is for maps
  Resources/Migrations/denMigrations.yml
Labels: none

apparently this got removed by jak so lol
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
Labels: none

fix typo
  Resources/Prototypes/Loadouts/Generic/items.yml
Labels: none

fix yml fails
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
Labels: none

what ever dude
  Resources/Maps/Dungeon/mineshaft.yml
  Resources/Maps/TheDen/havoc.yml
  Resources/Maps/TheDen/manta.yml
  Resources/Maps/TheDen/shoukou.yml
  Resources/Maps/_DEN/Nonstations/weddingl.yml
Labels: Changes: Map

Makes tape recorders signal-compatible (#4437)
  Content.Shared/_Goobstation/TapeRecorder/Components/TapeRecorderComponent.cs
  Content.Shared/_Goobstation/TapeRecorder/Systems/SharedTapeRecorderSystem.cs
  Resources/Locale/en-US/_DV/linkports/link-ports.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/tape_recorder.yml
  Resources/Prototypes/_DV/DeviceLinking/sink_ports.yml
Labels: Changes: C#, Changes: Localization

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
