Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

Automated changelog update (#2607)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: New Bible - Clarion
  Resources/Locale/en-US/foldable/components/foldable-component.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/chaplain.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/chaplain.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Chapel/bibles.yml
Labels: Changes: Localization

fix return
  Content.Shared/_DEN/ReagentProduction/Systems/ReagentProductionSystem.cs
Labels: Changes: C#

Fix Reagent Production (#2609)
  Content.Shared/_DEN/ReagentProduction/Systems/ReagentProductionSystem.cs
Labels: Changes: C#

Automated changelog update (#2609)
  Resources/Changelog/Den.yml
Labels: none

Fix 1x1 storage windows (#35985)
  Content.Client/UserInterface/Systems/Storage/Controls/StorageWindow.cs
Labels: Changes: C#

a
  Resources/Locale/en-US/_DEN/tiles/tiles.ftl
  Resources/Migrations/migration.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/tiles_somber.yml
  Resources/Prototypes/_DEN/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/_DEN/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/_DEN/Entities/Structures/Doors/secret_door.yml
  Resources/Prototypes/_DEN/Entities/Structures/Specific/Mantis/lighting.yml
  Resources/Prototypes/_DEN/Stacks/floor_tile_stacks_somber.yml
  Resources/Prototypes/_DEN/Tiles/floors_somber.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Objects/Consumable/Drinks/somberjug.rsi/icon.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/somberjug.rsi/icon_open.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/somberjug.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/somberjug.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/somberjug.rsi/meta.json
  Resources/Textures/_DEN/Objects/Tiles/somber.rsi/meta.json
  Resources/Textures/_DEN/Objects/Tiles/somber.rsi/somber-mnemolith-tracks-horizontal.png
  Resources/Textures/_DEN/Objects/Tiles/somber.rsi/somber-mnemolith-tracks-vertical.png
  Resources/Textures/_DEN/Tiles/Somber/meta.json
  Resources/Textures/_DEN/Tiles/Somber/somber-mnemolith-tracks-horizontal.png
  Resources/Textures/_DEN/Tiles/Somber/somber-mnemolith-tracks-vertical.png
  Resources/Textures/_SHA/Structures/Doors/SecretDoors/sombersecretdoordarkcorner.rsi/assembly.png
  Resources/Textures/_SHA/Structures/Doors/SecretDoors/sombersecretdoordarkcorner.rsi/closed.png
  Resources/Textures/_SHA/Structures/Doors/SecretDoors/sombersecretdoordarkcorner.rsi/closing.png
  Resources/Textures/_SHA/Structures/Doors/SecretDoors/sombersecretdoordarkcorner.rsi/meta.json
  Resources/Textures/_SHA/Structures/Doors/SecretDoors/sombersecretdoordarkcorner.rsi/open.png
  Resources/Textures/_SHA/Structures/Doors/SecretDoors/sombersecretdoordarkcorner.rsi/opening.png
  Resources/Textures/_SHA/Structures/Doors/SecretDoors/sombersecretdoordarkinset.rsi/assembly.png
  Resources/Textures/_SHA/Structures/Doors/SecretDoors/sombersecretdoordarkinset.rsi/closed.png
  Resources/Textures/_SHA/Structures/Doors/SecretDoors/sombersecretdoordarkinset.rsi/closing.png
  Resources/Textures/_SHA/Structures/Doors/SecretDoors/sombersecretdoordarkinset.rsi/meta.json
  Resources/Textures/_SHA/Structures/Doors/SecretDoors/sombersecretdoordarkinset.rsi/open.png
  Resources/Textures/_SHA/Structures/Doors/SecretDoors/sombersecretdoordarkinset.rsi/opening.png
Labels: Changes: Localization, Changes: Sprite

Engineering ERT Shuttle, By CatgirlNews
  Resources/Maps/Shuttles/TheDen/NTRF_Hephaestus.yml
Labels: Changes: Map

asdf
  Resources/Migrations/migration.yml
  Resources/Prototypes/_DEN/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Objects/Tiles/tile.rsi/carpet-cyan-narrow.png
  Resources/Textures/_DEN/Objects/Tiles/tile.rsi/carpet-pink-narrow.png
  Resources/Textures/_DEN/Objects/Tiles/tile.rsi/carpet-purple-narrow.png
  Resources/Textures/_SHA/Objects/Tiles/tile.rsi/carpet-midnight-narrow.png
  Resources/Textures/_SHA/Objects/Tiles/tile.rsi/carpet-midnight.png
  Resources/Textures/_SHA/Objects/Tiles/tile.rsi/meta.json
  Resources/Textures/_SHA/Structures/Furniture/Carpets/midnight_carpet.rsi/carpet_0.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/midnight_carpet.rsi/carpet_1.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/midnight_carpet.rsi/carpet_2.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/midnight_carpet.rsi/carpet_3.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/midnight_carpet.rsi/carpet_4.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/midnight_carpet.rsi/carpet_5.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/midnight_carpet.rsi/carpet_6.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/midnight_carpet.rsi/carpet_7.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/midnight_carpet.rsi/full.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/midnight_carpet.rsi/meta.json
  Resources/Textures/_SHA/Structures/Furniture/Carpets/narrow_midnight_carpet.rsi/carpet_0.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/narrow_midnight_carpet.rsi/carpet_1.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/narrow_midnight_carpet.rsi/carpet_2.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/narrow_midnight_carpet.rsi/carpet_3.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/narrow_midnight_carpet.rsi/carpet_4.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/narrow_midnight_carpet.rsi/carpet_5.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/narrow_midnight_carpet.rsi/carpet_6.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/narrow_midnight_carpet.rsi/carpet_7.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/narrow_midnight_carpet.rsi/full.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/narrow_midnight_carpet.rsi/meta.json
Labels: Changes: Sprite

NTRF Hephaestus (#2611)
  Resources/Maps/Shuttles/TheDen/NTRF_Hephaestus.yml
  Resources/Maps/TheDen/glacier.yml
  Resources/Maps/TheDen/manta.yml
Labels: Changes: Map

Automated changelog update (#2611)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: NTRF Hephaestus
  Resources/Maps/Shuttles/TheDen/NTRF_Hephaestus.yml
  Resources/Maps/TheDen/glacier.yml
  Resources/Maps/TheDen/manta.yml
Labels: Changes: Map

turns the ability to counter the goliath tenticle attack by standing still from a glitch to a mechanic
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/Stunnable/StunOnContactComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
Labels: Changes: C#

yea
  Resources/Migrations/migration.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_SHA/Objects/Tiles/tile.rsi/carpet-midnight-narrow.png
  Resources/Textures/_SHA/Objects/Tiles/tile.rsi/carpet-midnight.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/midnight_carpet.rsi/carpet_0.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/midnight_carpet.rsi/carpet_1.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/midnight_carpet.rsi/carpet_2.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/midnight_carpet.rsi/carpet_3.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/midnight_carpet.rsi/carpet_4.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/midnight_carpet.rsi/carpet_5.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/midnight_carpet.rsi/carpet_6.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/midnight_carpet.rsi/carpet_7.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/midnight_carpet.rsi/full.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/narrow_midnight_carpet.rsi/carpet_0.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/narrow_midnight_carpet.rsi/carpet_1.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/narrow_midnight_carpet.rsi/carpet_2.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/narrow_midnight_carpet.rsi/carpet_3.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/narrow_midnight_carpet.rsi/carpet_4.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/narrow_midnight_carpet.rsi/carpet_5.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/narrow_midnight_carpet.rsi/carpet_6.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/narrow_midnight_carpet.rsi/carpet_7.png
  Resources/Textures/_SHA/Structures/Furniture/Carpets/narrow_midnight_carpet.rsi/full.png
Labels: Changes: Sprite

fix fireplace colors
  Resources/Prototypes/_DEN/Entities/Structures/Decoration/fireplace.yml
  Resources/Textures/_SHA/Structures/Decoration/SomberPillarBraziers/somberhangingbrazierpenthousepillarshort.rsi/fireplace.png
  Resources/Textures/_SHA/Structures/Decoration/SomberPillarBraziers/somberhangingbrazierpenthousepillarshorter.rsi/fireplace.png
  Resources/Textures/_SHA/Structures/Decoration/SomberPillarBraziers/somberhangingbrazierpenthousepillartall.rsi/fireplace.png
  Resources/Textures/_SHA/Structures/Decoration/SomberPillarBraziers/somberhangingbrazierpenthousepillartaller.rsi/fireplace.png
  Resources/Textures/_SHA/Structures/Decoration/somberfireplacepenthouse.rsi/fireplace.png
  Resources/Textures/_SHA/Structures/Decoration/somberhangingbrazierpenthouse.rsi/fireplace.png
Labels: Changes: Sprite

color fixes
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_SHA/Objects/Misc/candlespenthouse.rsi/candle-big.png
  Resources/Textures/_SHA/Objects/Misc/candlespenthouse.rsi/candle-cluster.png
  Resources/Textures/_SHA/Objects/Misc/candlespenthouse.rsi/candle-small.png
  Resources/Textures/_SHA/Objects/Misc/candlespenthouse.rsi/candle-tiny.png
  Resources/Textures/_SHA/Objects/Misc/candlespenthouse.rsi/inhand-left.png
  Resources/Textures/_SHA/Objects/Misc/candlespenthouse.rsi/inhand-right.png
  Resources/Textures/_SHA/Structures/Decoration/SomberPillarBraziers/somberhangingbrazierpenthousepillarshort.rsi/fireplace.png
  Resources/Textures/_SHA/Structures/Decoration/SomberPillarBraziers/somberhangingbrazierpenthousepillarshorter.rsi/fireplace.png
  Resources/Textures/_SHA/Structures/Decoration/SomberPillarBraziers/somberhangingbrazierpenthousepillartall.rsi/fireplace.png
  Resources/Textures/_SHA/Structures/Decoration/somberfireplacepenthouse.rsi/fireplace.png
  Resources/Textures/_SHA/Structures/Decoration/somberhangingbrazierpenthouse.rsi/fireplace.png
  Resources/Textures/_SHA/Structures/Machines/VendingMachines/mantispenthouse.rsi/broken.png
  Resources/Textures/_SHA/Structures/Machines/VendingMachines/mantispenthouse.rsi/off.png
  Resources/Textures/_SHA/Structures/Machines/VendingMachines/mantispenthouse.rsi/panel.png
  Resources/Textures/_SHA/Structures/Machines/VendingMachines/mantiswallpenthouse.rsi/broken.png
  Resources/Textures/_SHA/Structures/Machines/VendingMachines/mantiswallpenthouse.rsi/off.png
  Resources/Textures/_SHA/Structures/Machines/VendingMachines/mantiswallpenthouse.rsi/panel.png
Labels: Changes: Sprite

afdaewa fa aewf a HELP I WANNA NBE DONE AASDFDA
  Resources/Prototypes/_DEN/Decals/misc.yml
  Resources/Prototypes/_DEN/Decals/somber.yml
  Resources/Prototypes/_DEN/Entities/Structures/Piping/Atmospherics/special.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/altar.yml
  Resources/Prototypes/_DEN/Entities/Tiles/watersomber.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Decals/misc.rsi/cornerstairsleft.png
  Resources/Textures/_DEN/Decals/misc.rsi/cornerstairsright.png
  Resources/Textures/_DEN/Decals/misc.rsi/cornerstairsunderlay.png
  Resources/Textures/_DEN/Decals/misc.rsi/cornerstairsupleft.png
  Resources/Textures/_DEN/Decals/misc.rsi/cornerstairsupright.png
  Resources/Textures/_DEN/Decals/misc.rsi/meta.json
  Resources/Textures/_DEN/Decals/somber.rsi/cornerstairsleft.png
  Resources/Textures/_DEN/Decals/somber.rsi/cornerstairsright.png
  Resources/Textures/_DEN/Decals/somber.rsi/cornerstairsunderlay.png
  Resources/Textures/_DEN/Decals/somber.rsi/cornerstairsupleft.png
  Resources/Textures/_DEN/Decals/somber.rsi/cornerstairsupright.png
  Resources/Textures/_DEN/Decals/somber.rsi/meta.json
  Resources/Textures/_DEN/Decals/somber_dark.rsi/cornerstairsleft.png
  Resources/Textures/_DEN/Decals/somber_dark.rsi/cornerstairsright.png
  Resources/Textures/_DEN/Decals/somber_dark.rsi/cornerstairsunderlay.png
  Resources/Textures/_DEN/Decals/somber_dark.rsi/cornerstairsupleft.png
  Resources/Textures/_DEN/Decals/somber_dark.rsi/cornerstairsupright.png
  Resources/Textures/_DEN/Decals/somber_dark.rsi/meta.json
  Resources/Textures/_DEN/Structures/stairs.rsi/stairs_somber_mnemolith.png
  Resources/Textures/_DEN/Structures/stairs.rsi/stairs_somber_steel.png
  Resources/Textures/_DEN/Structures/stairs.rsi/stairs_somber_steel_dark.png
  Resources/Textures/_DEN/Tiles/Planet/Somber/water.rsi/meta.json
  Resources/Textures/_DEN/Tiles/Planet/Somber/water.rsi/poolwatercorner.png
  Resources/Textures/_DEN/Tiles/Planet/Somber/water.rsi/watercorner.png
  Resources/Textures/_DEN/Tiles/Planet/Somber/water.rsi/watershinecorner.png
  Resources/Textures/_DEN/Tiles/Planet/Somber/waterfall.rsi/meta.json
  Resources/Textures/_DEN/Tiles/Planet/Somber/waterfall.rsi/poolwaterfall.png
  Resources/Textures/_DEN/Tiles/Planet/Somber/waterfall.rsi/poolwaterfallshine.png
  Resources/Textures/_DEN/Tiles/Planet/Somber/waterfall.rsi/poolwaterfallspout.png
  Resources/Textures/_DEN/Tiles/Planet/Somber/waterfall.rsi/poolwaterfallspoutdark.png
  Resources/Textures/_DEN/Tiles/Planet/Somber/waterfall.rsi/poolwaterfallspoutwater.png
  Resources/Textures/_DEN/Tiles/Planet/Somber/waterfall.rsi/poolwaterfallspoutwatershine.png
  Resources/Textures/_DEN/Tiles/Planet/Somber/waterfall.rsi/waterfallshine.png
Labels: Changes: Sprite

Fix 1x1 Storage Windows (#35985) (#2610)
  Content.Client/UserInterface/Systems/Storage/Controls/StorageWindow.cs
Labels: Changes: C#

Automated changelog update (#2610)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Fix 1x1 Storage Windows (#35985)
  Content.Client/UserInterface/Systems/Storage/Controls/StorageWindow.cs
Labels: Changes: C#

Gas mixers not hidden by floor
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
Labels: none

fax
  Resources/Prototypes/_Goobstation/Entities/Objects/Tools/tools.yml
  Resources/Textures/_DEN/Objects/Tools/handheld_fax.rsi/icon.png
  Resources/Textures/_DEN/Objects/Tools/handheld_fax.rsi/idle.png
  Resources/Textures/_DEN/Objects/Tools/handheld_fax.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Tools/handheld_fax.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Tools/handheld_fax.rsi/inserting.png
  Resources/Textures/_DEN/Objects/Tools/handheld_fax.rsi/meta.json
  Resources/Textures/_DEN/Objects/Tools/handheld_fax.rsi/printing.png
Labels: Changes: Sprite

More tweaking
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/ipc_screens.yml
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_alt1.rsi/head.png
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_alt1.rsi/meta.json
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_monitor.rsi/head-2.png
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_monitor.rsi/head.png
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_monitor.rsi/meta.json
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_monitor.rsi/head-1.png
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_monitor.rsi/head-2.png
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_monitor.rsi/meta.json
  Resources/Textures/Mobs/Customization/cyberlimbs/morpheus/morpheus_main.rsi/head.png
  Resources/Textures/Mobs/Customization/cyberlimbs/morpheus/morpheus_main.rsi/meta.json
  Resources/Textures/Mobs/Customization/cyberlimbs/shellguard/shellguard_monitor.rsi/head-1.png
  Resources/Textures/Mobs/Customization/cyberlimbs/shellguard/shellguard_monitor.rsi/head-2.png
  Resources/Textures/Mobs/Customization/cyberlimbs/shellguard/shellguard_monitor.rsi/meta.json
  Resources/Textures/Mobs/Customization/cyberlimbs/wardtakahashi/wardtakahashi_monitor.rsi/head-stripes.png
  Resources/Textures/Mobs/Customization/cyberlimbs/wardtakahashi/wardtakahashi_monitor.rsi/head.png
  Resources/Textures/Mobs/Customization/cyberlimbs/wardtakahashi/wardtakahashi_monitor.rsi/meta.json
  Resources/Textures/Mobs/Customization/cyberlimbs/xion/xion_monitor.rsi/head-1.png
  Resources/Textures/Mobs/Customization/cyberlimbs/xion/xion_monitor.rsi/head-2.png
  Resources/Textures/Mobs/Customization/cyberlimbs/xion/xion_monitor.rsi/meta.json
  Resources/Textures/Mobs/Customization/ipc_screens.rsi/ipc_no_screen_heart.png
  Resources/Textures/Mobs/Customization/ipc_screens.rsi/ipc_screen_heart.png
  Resources/Textures/Mobs/Customization/ipc_screens.rsi/meta.json
Labels: Changes: Sprite

make these roundstart ig?
  Resources/Prototypes/_DEN/Roles/Jobs/Fun/blured_team.yml
Labels: none

event map
  Resources/Maps/TheDen/dusttwo.yml
  Resources/Prototypes/Maps/dusttwo.yml
Labels: Changes: Map

buffed lesser used security coats
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_Floof/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/bomberjackets.yml
Labels: none

adds conspirators back to even more antatgs, but like less of them
  Resources/Prototypes/_DEN/GameRules/roundstart.yml
  Resources/Prototypes/_DEN/game_presets.yml
Labels: none

disables this event, it's a nightmare for consent and people don't toggle it off
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
Labels: none

the
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
  Resources/Textures/Logo/logo.png
Labels: Changes: Localization

Hey (#2618)
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
  Resources/Textures/Logo/logo.png
Labels: Changes: Localization

update REUSE headers from: Hey
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
Labels: Changes: Localization

fog walls
  Resources/Audio/_DEN/Effects/fogclose.ogg
  Resources/Audio/_DEN/Effects/fogopen.ogg
  Resources/Prototypes/_DEN/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/_DEN/Entities/Tiles/watersomber.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwall.rsi/closed-noline.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwall.rsi/closed.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwall.rsi/closing-noline.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwall.rsi/closing.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwall.rsi/frame.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwall.rsi/meta.json
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwall.rsi/open.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwall.rsi/opening-noline.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwall.rsi/opening.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallshadow.rsi/closed-noline.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallshadow.rsi/closed.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallshadow.rsi/closing-noline.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallshadow.rsi/closing.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallshadow.rsi/frame.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallshadow.rsi/meta.json
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallshadow.rsi/open.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallshadow.rsi/opening-noline.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallshadow.rsi/opening.png
  Resources/Textures/_DEN/Tiles/Planet/Somber/waterfall.rsi/meta.json
  Resources/Textures/_DEN/Tiles/Planet/Somber/waterfall.rsi/poolwaterfall.png
  Resources/Textures/_DEN/Tiles/Planet/Somber/waterfall.rsi/poolwaterfallshine.png
  Resources/Textures/_DEN/Tiles/Planet/Somber/waterfall.rsi/poolwaterfallspoutwater.png
  Resources/Textures/_DEN/Tiles/Planet/Somber/waterfall.rsi/poolwaterfallspoutwatershine.png
Labels: Changes: Audio, Changes: Sprite

asdf
  Resources/Prototypes/_DEN/Entities/Structures/Decoration/fireplace.yml
  Resources/Prototypes/_DEN/Entities/Structures/Specific/Mantis/lighting.yml
  Resources/Prototypes/_DEN/Entities/Structures/Wallmounts/monitors_televisions.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/Tables/tables.yml
Labels: none

Add a component for triggering item toggles with triggers.
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/_DEN/Explosion/Components/ItemToggleOnTriggerComponent.cs
Labels: Changes: C#

Event Things (#2606)
  Resources/Locale/en-US/_DEN/set-selector/selectable-set.ftl
  Resources/Maps/TheDen/dusttwo.yml
  Resources/Prototypes/Maps/dusttwo.yml
  Resources/Prototypes/Roles/play_time_trackers.yml
  Resources/Prototypes/_DEN/Catalog/selectable_sets.yml
  Resources/Prototypes/_DEN/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/blured_team_loadouts.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Fun/blured_team.yml
Labels: Changes: Localization, Changes: Map

update REUSE headers from: Event Things
  Resources/Maps/TheDen/dusttwo.yml
  Resources/Prototypes/Maps/dusttwo.yml
  Resources/Prototypes/Roles/play_time_trackers.yml
  Resources/Prototypes/_DEN/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/blured_team_loadouts.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Fun/blured_team.yml
Labels: Changes: Map

removed stun, increased heat damage on replicator guns
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-loadout.yml
Labels: none

Update meta.json
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/spots_jacket_loose.rsi/meta.json
Labels: Changes: Sprite

Update meta.json part 2!!
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/spots_jacket.rsi/meta.json
Labels: Changes: Sprite

event hotfix
  Resources/Locale/en-US/_DEN/set-selector/selectable-set.ftl
  Resources/Maps/TheDen/dusttwo.yml
  Resources/Prototypes/_DEN/Catalog/selectable_sets.yml
  Resources/Prototypes/_DEN/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/blured_team_loadouts.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Fun/blured_team.yml
  Resources/Prototypes/_DEN/game_presets.yml
Labels: Changes: Localization, Changes: Map

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
