Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

use fried egg in mulan congee
  Resources/Prototypes/Nyanotrasen/Recipes/Cooking/meal_recipes.yml
Labels: none

add black pudding
  Resources/Locale/en-US/_DEN/nutrition/components/food-sequence.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/FoodSequence/food_sequence_element.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_DEN/Objects/Consumable/Food/sausage.rsi/blackpudding-inhand-left.png
  Resources/Textures/_DEN/Objects/Consumable/Food/sausage.rsi/blackpudding-inhand-right.png
  Resources/Textures/_DEN/Objects/Consumable/Food/sausage.rsi/blackpudding-slice.png
  Resources/Textures/_DEN/Objects/Consumable/Food/sausage.rsi/blackpudding.png
  Resources/Textures/_DEN/Objects/Consumable/Food/sausage.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Update Resources/Prototypes/lobbyscreens.yml
  Resources/Prototypes/lobbyscreens.yml
Labels: none

Update Resources/Prototypes/lobbyscreens.yml
  Resources/Prototypes/lobbyscreens.yml
Labels: none

Changed the logic so only people with the trait get targetted for kill objectives and changed the desc of the kill objective to be more clear of its intention
  Content.Server/Objectives/Systems/KillPersonConditionSystem.cs
  Resources/Locale/en-US/objectives/conditions/kill-person.ftl
  Resources/Prototypes/Objectives/traitor.yml
Labels: Changes: C#, Changes: Localization

Update Resources/Prototypes/Objectives/traitor.yml
  Resources/Prototypes/Objectives/traitor.yml
Labels: none

Removed competitive sex from the game
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/boxingdrobe.yml
Labels: none

Fixes & Tweaks for Infinity & Eternity Maps
  Resources/Maps/TheDen/infinity.yml
  Resources/Maps/TheDen/perpetuity.yml
Labels: Changes: Map

Update perpetuity.yml
  Resources/Maps/TheDen/perpetuity.yml
Labels: Changes: Map

add corvax floors to cutter machine
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/cutter_machine.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/tiles.yml
Labels: none

add spawnable juice jugs
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
Labels: none

better handling of rot immunity
  Content.Server/Abilities/Psionics/Abilities/HealOtherPowerSystem.cs
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Shared/_DEN/Unrotting/RottingImmuneComponent.cs
Labels: Changes: C#

add scrubber that excludes water vapor
  Resources/Prototypes/_DEN/Entities/Structures/Specific/Atmospherics/unary.yml
Labels: none

Added a new trick to prevent rotting
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Resources/Locale/en-US/_DEN/administration/smites.ftl
Labels: Changes: C#, Changes: Localization

make reagent dispenser inventories inheritable
  Content.Shared/Chemistry/Dispenser/ReagentDispenserInventoryPrototype.cs
Labels: Changes: C#

add extended soda dispenser
  Resources/Prototypes/_DEN/Catalog/ReagentDispensers/beverage.yml
  Resources/Prototypes/_DEN/Entities/Structures/Dispensers/soda.yml
Labels: none

The fix
  Resources/Prototypes/_DEN/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: none

replace L6 module with syndie weapon module for expeds
  Resources/Maps/Dungeon/mineshaft.yml
Labels: Changes: Map

Textures
  Resources/Textures/_DEN/Mobs/Customization/Body/cuffs.rsi/anklecuff.png
  Resources/Textures/_DEN/Mobs/Customization/Body/cuffs.rsi/anklecuff_frills.png
  Resources/Textures/_DEN/Mobs/Customization/Body/cuffs.rsi/anklecuff_thick.png
  Resources/Textures/_DEN/Mobs/Customization/Body/cuffs.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Body/cuffs.rsi/wristcuff.png
  Resources/Textures/_DEN/Mobs/Customization/Body/cuffs.rsi/wristcuff_frills.png
  Resources/Textures/_DEN/Mobs/Customization/Body/cuffs.rsi/wristcuff_thick.png
  Resources/Textures/_DEN/Mobs/Customization/Head/choker.rsi/choker_clip.png
  Resources/Textures/_DEN/Mobs/Customization/Head/choker.rsi/choker_f.png
  Resources/Textures/_DEN/Mobs/Customization/Head/choker.rsi/choker_m.png
  Resources/Textures/_DEN/Mobs/Customization/Head/choker.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/garterbelt.rsi/garterbelt.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/garterbelt.rsi/garterbelt_clips.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/garterbelt.rsi/garterbelt_frills.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/garterbelt.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/low-coverage_bra.rsi/bra.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/low-coverage_bra.rsi/bra_frills.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/low-coverage_bra.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/strappy_lingere.rsi/kinda-strappy_f.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/strappy_lingere.rsi/kinda-strappy_m.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/strappy_lingere.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/strappy_lingere.rsi/strappy_f.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/strappy_lingere.rsi/strappy_m.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/strappy_lingere.rsi/super-strappy_f.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/strappy_lingere.rsi/super-strappy_m.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/garter_strap.rsi/garter_left.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/garter_strap.rsi/garter_right.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/garter_strap.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Underwear/low-coverage_panty.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Underwear/low-coverage_panty.rsi/panty_f.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/low-coverage_panty.rsi/panty_frill.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/low-coverage_panty.rsi/panty_m.png
Labels: Changes: Sprite

add carpet lathe category
  Resources/Locale/en-US/_DEN/lathe/lathe-categories.ftl
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/categories.yml
Labels: Changes: Localization

actually im renaming the bsae carpet recipe proto
  Resources/Prototypes/Recipes/Lathes/clothing.yml
Labels: none

dont forget
  Resources/Prototypes/_DEN/Recipes/Lathes/base.yml
Labels: none

add carpets to cutter machine
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/cutter_machine.yml
Labels: none

turn the wood tiles into their own pack
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/cutter_machine.yml
Labels: none

Goliaths drop 3 plates when butchered now
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
Labels: none

fix changelog
  Resources/Changelog/Den.yml
Labels: none

make "offer item" alert icon blink
  Resources/Textures/Interface/Alerts/offer_item.rsi/meta.json
  Resources/Textures/Interface/Alerts/offer_item.rsi/offer_item.png
Labels: Changes: Sprite

mark eternity as accepting connections
  Resources/Prototypes/_DEN/Hub/hub_servers.yml
Labels: none

make WSPR usable for 85 TC
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Labels: none

Lizard Tail Layering (HELP WANTED)
  Resources/Locale/en-US/markings/reptilian.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/reptilianmarks.yml
  Resources/Textures/_DEN/Mobs/Customization/Reptilian/tail.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Reptilian/tail.rsi/tail_smooth_behind.png
  Resources/Textures/_DEN/Mobs/Customization/Reptilian/tail.rsi/tail_smooth_behind_secondary.png
  Resources/Textures/_DEN/Mobs/Customization/Reptilian/tail.rsi/tail_smooth_front.png
  Resources/Textures/_DEN/Mobs/Customization/Reptilian/tail.rsi/tail_smooth_wagging_behind.png
  Resources/Textures/_DEN/Mobs/Customization/Reptilian/tail.rsi/tail_smooth_wagging_behind_secondary.png
  Resources/Textures/_DEN/Mobs/Customization/Reptilian/tail.rsi/tail_smooth_wagging_front.png
  Resources/Textures/_DEN/Mobs/Customization/Reptilian/tail.rsi/tail_smooth_wagging_front_secondary.png
Labels: Changes: Localization, Changes: Sprite

projectile speed up
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Labels: none

oh yeah pushing it
  Resources/Locale/en-US/_DEN/markings/reptilianandvulpkanin.ftl
  Resources/Locale/en-US/markings/reptilian.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/reptilianmarks.yml
Labels: Changes: Localization

Revert "Make WSPR Usable for 85 TC (#2094)"
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Labels: none

Reapply "Make WSPR Usable for 85 TC (#2094)" (#2096)
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Labels: none

resprite bellhop hat and valet vest
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/outerwearGroup.yml
  Resources/Prototypes/Loadouts/Generic/outerClothing.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_DEN/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/outerclothing.yml
  Resources/Textures/_DEN/Clothing/Head/Hats/bellhop.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/bellhop.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hats/bellhop.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Head/Hats/bellhop.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Head/Hats/bellhop.rsi/meta.json
  Resources/Textures/_DEN/Clothing/OuterClothing/Vests/valet.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Vests/valet.rsi/icon.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Vests/valet.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Vests/valet.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Vests/valet.rsi/meta.json
  Resources/Textures/_DEN/Clothing/OuterClothing/Vests/valet.rsi/rolled-equipped-OUTERCLOTHING.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Vests/valet.rsi/rolled-icon.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Vests/valet.rsi/rolled-inhand-left.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Vests/valet.rsi/rolled-inhand-right.png
Labels: Changes: Localization, Changes: Sprite

add old suffix to nyano protos
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/vests.yml
Labels: none

fix rolling sleeves icon etc
  Resources/Prototypes/_DEN/Entities/Clothing/OuterClothing/vests.yml
  Resources/Textures/_DEN/Clothing/OuterClothing/Vests/valet.rsi/icon-open.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Vests/valet.rsi/meta.json
Labels: Changes: Sprite

i forgot this one fuck
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
Labels: none

fix syndicate bag capacity
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
Labels: none

plushie bundle fix
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
Labels: none
