Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

deleted duplicates
  Resources/Prototypes/Recipes/Reactions/drinks.yml
Labels: none

removed MORE duplicates
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
Labels: none

removed more dupes
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Flavors/flavors.yml
Labels: Changes: Localization

okay that one was kinda bullshit ngl (a Singular duplicate)
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
Labels: none

Massively Nerf Hardsuit Fire Resistance
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_DV/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: none

2 more dupes
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/_DV/Recipes/Reactions/drinks.yml
Labels: none

Porting Imp's Dogtags Sprite
  Resources/Textures/Clothing/Neck/Misc/dogtags.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/dogtags.rsi/icon.png
  Resources/Textures/Clothing/Neck/Misc/dogtags.rsi/meta.json
Labels: Changes: Sprite

duplicate removal
  Resources/Prototypes/Flavors/flavors.yml
Labels: none

Fixes + tweaks (accidentally added a new drink)
  Resources/Locale/en-US/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Maps/TheDen/baikal.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_glass.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_DV/Flavors/flavors.yml
  Resources/Textures/_DV/Objects/Consumable/Drinks/zombiecocktail.rsi/fill-1.png
  Resources/Textures/_DV/Objects/Consumable/Drinks/zombiecocktail.rsi/fill-2.png
  Resources/Textures/_DV/Objects/Consumable/Drinks/zombiecocktail.rsi/fill-3.png
  Resources/Textures/_DV/Objects/Consumable/Drinks/zombiecocktail.rsi/fill-4.png
  Resources/Textures/_DV/Objects/Consumable/Drinks/zombiecocktail.rsi/icon.png
  Resources/Textures/_DV/Objects/Consumable/Drinks/zombiecocktail.rsi/icon_empty.png
  Resources/Textures/_DV/Objects/Consumable/Drinks/zombiecocktail.rsi/meta.json
Labels: Changes: Localization, Changes: Map, Changes: Sprite

fixed deadrum bc it was easier to add than remove
  Resources/Prototypes/_DV/Reagents/Consumable/Drink/alcohol.yml
Labels: none

Predict passive welding fuel consumption (#38876)
  Content.Server/Tools/ToolSystem.cs
  Content.Shared/Tools/Components/WelderComponent.cs
  Content.Shared/Tools/Systems/SharedToolSystem.Welder.cs
  Content.Shared/Tools/Systems/SharedToolSystem.cs
Labels: Changes: C#

Gotta stir your beer now
  Resources/Prototypes/Recipes/Reactions/drinks.yml
Labels: none

Fix Port
  Content.Shared/Tools/Systems/SharedToolSystem.Welder.cs
Labels: Changes: C#

tweaking some simple recipes to avoid accidental mixing
  Resources/Prototypes/Recipes/Reactions/drinks.yml
Labels: none

Security Vest Quick Fix
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
Labels: none

here we go
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
Labels: none

make bombers display properly
  Resources/Prototypes/_DEN/Loadouts/Jobs/Engineering/atmosphericTechnician.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Engineering/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Epistemics/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Logistics/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/bomberjackets.yml
Labels: none

fixes to jwl arm unintended nerf
  Resources/Prototypes/_Shitmed/Body/Parts/cybernetic.yml
Labels: none

Hardsuit Helmets Are Breath Masks
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
Labels: none

add to modsuits and other headwear with pressureProtection
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/modsuit.yml
Labels: none

whoops didn't save
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
Labels: none

oh carp hardsuit had that, THANK GOD they thought of that, i overlooked it
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
Labels: none

give scugs 2 hands
  Resources/Prototypes/_DEN/Body/Parts/animal.yml
  Resources/Prototypes/_DEN/Body/Prototypes/scugcat.yml
Labels: none

Patrol Cap, Midriff Undershirt
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Locale/en-US/_DEN/markings/undershirt.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/headGroup.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/head.yml
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/undershirt.yml
  Resources/Textures/_DEN/Clothing/Head/Hats/patrolcap.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/patrolcap.rsi/flipped-equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/patrolcap.rsi/flipped-inhand-left.png
  Resources/Textures/_DEN/Clothing/Head/Hats/patrolcap.rsi/flipped-inhand-right.png
  Resources/Textures/_DEN/Clothing/Head/Hats/patrolcap.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hats/patrolcap.rsi/icon_flipped.png
  Resources/Textures/_DEN/Clothing/Head/Hats/patrolcap.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Head/Hats/patrolcap.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Head/Hats/patrolcap.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/undershirt.rsi/croppedundershirt.png
  Resources/Textures/_DEN/Mobs/Customization/undershirt.rsi/meta.json
  Resources/Textures/_DV/Clothing/Belt/security.rsi/equipped-BELT.png
  Resources/Textures/_DV/Clothing/Belt/security.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Rifts 7 => 5 mins, dragon bleeding reduced, fireball cooldown reduced, carp horde cooldown reduced
  Content.Server/Dragon/Components/DragonComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: Changes: C#

bleed them down to 500 max
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: none

Heeeeeyyaaaaaa
  Resources/Maps/TheDen/arena.yml
Labels: Changes: Map

add icon_open to the generic_jug rsi
  Resources/Textures/Objects/Consumable/Drinks/generic_jug.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/generic_jug.rsi/meta.json
Labels: Changes: Sprite

Flask Visual Overhaul & YML Organizing (#38032)
  Resources/Audio/Items/attributions.yml
  Resources/Audio/Items/flask_close1.ogg
  Resources/Audio/Items/flask_open1.ogg
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_flasks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_special.yml
  Resources/Prototypes/SoundCollections/drink_close_sounds.yml
  Resources/Prototypes/SoundCollections/drink_open_sounds.yml
  Resources/Textures/Objects/Consumable/Drinks/barflask.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/barflask.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/detflask.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/detflask.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/detflask.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/detflask.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/flask.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/flask.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/flask.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/flask.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/flask_old.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/flask_old.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/flask_old.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/hosflask.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/hosflask.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/hosflask.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/hosflask.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/hosflask.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/lithiumflask.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/lithiumflask.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/lithiumflask.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/lithiumflask.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/mreflask.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/mreflask.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/shinyflask.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/shinyflask.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/shinyflask.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/shinyflask.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/vacuumflask.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/vacuumflask.rsi/meta.json
Labels: Changes: Audio, Changes: Sprite

Ashtray Resprite and Fix (#31643)
  Resources/Prototypes/Entities/Objects/Decoration/ashtray.yml
  Resources/Textures/Objects/Decoration/ashtray.rsi/ashtray1.png
  Resources/Textures/Objects/Decoration/ashtray.rsi/ashtray10.png
  Resources/Textures/Objects/Decoration/ashtray.rsi/ashtray2.png
  Resources/Textures/Objects/Decoration/ashtray.rsi/ashtray3.png
  Resources/Textures/Objects/Decoration/ashtray.rsi/ashtray4.png
  Resources/Textures/Objects/Decoration/ashtray.rsi/ashtray5.png
  Resources/Textures/Objects/Decoration/ashtray.rsi/ashtray6.png
  Resources/Textures/Objects/Decoration/ashtray.rsi/ashtray7.png
  Resources/Textures/Objects/Decoration/ashtray.rsi/ashtray8.png
  Resources/Textures/Objects/Decoration/ashtray.rsi/ashtray9.png
  Resources/Textures/Objects/Decoration/ashtray.rsi/icon.png
  Resources/Textures/Objects/Decoration/ashtray.rsi/meta.json
Labels: Changes: Sprite

Species Fashion Breath Mask Sprites
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/chitinid.yml
  Resources/Textures/Clothing/Mask/breathcommand.rsi/equipped-MASK-chitinid.png
  Resources/Textures/Clothing/Mask/breathcommand.rsi/equipped-MASK-feroxi.png
  Resources/Textures/Clothing/Mask/breathcommand.rsi/equipped-MASK-resomi.png
  Resources/Textures/Clothing/Mask/breathcommand.rsi/equipped-MASK-shadowkin.png
  Resources/Textures/Clothing/Mask/breathcommand.rsi/equipped-MASK-tajaran.png
  Resources/Textures/Clothing/Mask/breathcommand.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/Clothing/Mask/breathcommand.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/equipped-MASK-chitinid.png
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/equipped-MASK-feroxi.png
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/equipped-MASK-resomi.png
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/equipped-MASK-shadowkin.png
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/equipped-MASK-tajaran.png
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/meta.json
Labels: Changes: Sprite

fix da ashtray
  Resources/Prototypes/Entities/Objects/Decoration/ashtray.yml
  Resources/Textures/Objects/Decoration/ashtray.rsi/ashtray1.png
  Resources/Textures/Objects/Decoration/ashtray.rsi/ashtray10.png
  Resources/Textures/Objects/Decoration/ashtray.rsi/ashtray2.png
  Resources/Textures/Objects/Decoration/ashtray.rsi/ashtray3.png
  Resources/Textures/Objects/Decoration/ashtray.rsi/ashtray4.png
  Resources/Textures/Objects/Decoration/ashtray.rsi/ashtray5.png
  Resources/Textures/Objects/Decoration/ashtray.rsi/ashtray6.png
  Resources/Textures/Objects/Decoration/ashtray.rsi/ashtray7.png
  Resources/Textures/Objects/Decoration/ashtray.rsi/ashtray8.png
  Resources/Textures/Objects/Decoration/ashtray.rsi/ashtray9.png
  Resources/Textures/Objects/Decoration/ashtray.rsi/icon.png
  Resources/Textures/Objects/Decoration/ashtray.rsi/meta.json
Labels: Changes: Sprite

add comments
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/chitinid.yml
Labels: none

Add "fill level" sprites to mops and damp rag (#28590)
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Textures/Objects/Specific/Janitorial/advmop.rsi/fill-1.png
  Resources/Textures/Objects/Specific/Janitorial/advmop.rsi/fill-2.png
  Resources/Textures/Objects/Specific/Janitorial/advmop.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Specific/Janitorial/advmop.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Specific/Janitorial/advmop.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Specific/Janitorial/advmop.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Specific/Janitorial/advmop.rsi/meta.json
  Resources/Textures/Objects/Specific/Janitorial/advmop.rsi/wielded-inhand-left-fill-1.png
  Resources/Textures/Objects/Specific/Janitorial/advmop.rsi/wielded-inhand-left-fill-2.png
  Resources/Textures/Objects/Specific/Janitorial/advmop.rsi/wielded-inhand-right-fill-1.png
  Resources/Textures/Objects/Specific/Janitorial/advmop.rsi/wielded-inhand-right-fill-2.png
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/fill-1.png
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/fill-2.png
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/fill-3.png
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/meta.json
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/wielded-inhand-left-fill-1.png
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/wielded-inhand-left-fill-2.png
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/wielded-inhand-right-fill-1.png
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/wielded-inhand-right-fill-2.png
  Resources/Textures/Objects/Specific/Janitorial/rag.rsi/fill-1.png
  Resources/Textures/Objects/Specific/Janitorial/rag.rsi/fill-2.png
  Resources/Textures/Objects/Specific/Janitorial/rag.rsi/fill-3.png
  Resources/Textures/Objects/Specific/Janitorial/rag.rsi/meta.json
Labels: Changes: Sprite

comments
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
Labels: none

Add "fill levels" to spear in-hand/wielded/equipped sprites (#28865)
  Content.Client/Chemistry/Visualizers/SolutionContainerVisualsSystem.cs
  Content.Shared/Chemistry/Components/SolutionContainerVisualsComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Textures/Objects/Weapons/Melee/bone_spear.rsi/equipped-back-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/bone_spear.rsi/equipped-suitstorage-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/bone_spear.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/bone_spear.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/bone_spear.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/bone_spear.rsi/wielded-inhand-left-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/bone_spear.rsi/wielded-inhand-right-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/plasma_spear.rsi/equipped-back-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/plasma_spear.rsi/equipped-suitstorage-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/plasma_spear.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/plasma_spear.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/plasma_spear.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/plasma_spear.rsi/wielded-inhand-left-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/plasma_spear.rsi/wielded-inhand-right-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/reinforced_spear.rsi/equipped-back-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/reinforced_spear.rsi/equipped-suitstorage-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/reinforced_spear.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/reinforced_spear.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/reinforced_spear.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/reinforced_spear.rsi/wielded-inhand-left-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/reinforced_spear.rsi/wielded-inhand-right-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/equipped-back-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/equipped-suitstorage-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/wielded-inhand-left-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/wielded-inhand-right-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/uranium_spear.rsi/equipped-back-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/uranium_spear.rsi/equipped-suitstorage-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/uranium_spear.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/uranium_spear.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/uranium_spear.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/uranium_spear.rsi/wielded-inhand-left-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/uranium_spear.rsi/wielded-inhand-right-fill-1.png
Labels: Changes: C#, Changes: Sprite

spear stuff
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
Labels: none

Added plasma flood
  Resources/Locale/en-US/_DEN/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_DEN/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_glass.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_DEN/Flavors/flavors.yml
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_DEN/Recipes/Reactions/drinks.yml
  Resources/Textures/_DEN/Objects/Consumable/Drinks/plasmaflood.rsi/fill-1.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/plasmaflood.rsi/fill-2.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/plasmaflood.rsi/fill-3.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/plasmaflood.rsi/fill-4.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/plasmaflood.rsi/icon.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/plasmaflood.rsi/icon_empty.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/plasmaflood.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Adds Parcel Wrap (#34471)
  Content.Shared/ParcelWrap/Components/ParcelWrapComponent.cs
  Content.Shared/ParcelWrap/Components/WrappedParcelComponent.cs
  Content.Shared/ParcelWrap/Components/WrappedParcelVisuals.cs
  Content.Shared/ParcelWrap/Systems/ParcelWrapEvents.cs
  Content.Shared/ParcelWrap/Systems/ParcelWrappingSystem.ParcelWrap.cs
  Content.Shared/ParcelWrap/Systems/ParcelWrappingSystem.WrappedParcel.cs
  Content.Shared/ParcelWrap/Systems/ParcelWrappingSystem.cs
  Resources/Locale/en-US/pacel-wrap.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Entities/Objects/Misc/parcel_wrap.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Misc/ParcelWrap/parcel_wrap.rsi/brown.png
  Resources/Textures/Objects/Misc/ParcelWrap/parcel_wrap.rsi/empty-roll.png
  Resources/Textures/Objects/Misc/ParcelWrap/parcel_wrap.rsi/meta.json
  Resources/Textures/Objects/Misc/ParcelWrap/parcel_wrap_trash.rsi/brown.png
  Resources/Textures/Objects/Misc/ParcelWrap/parcel_wrap_trash.rsi/meta.json
  Resources/Textures/Objects/Misc/ParcelWrap/wrapped_parcel.rsi/crate.png
  Resources/Textures/Objects/Misc/ParcelWrap/wrapped_parcel.rsi/locker.png
  Resources/Textures/Objects/Misc/ParcelWrap/wrapped_parcel.rsi/meta.json
  Resources/Textures/Objects/Misc/ParcelWrap/wrapped_parcel.rsi/parcel-large.png
  Resources/Textures/Objects/Misc/ParcelWrap/wrapped_parcel.rsi/parcel-medium.png
  Resources/Textures/Objects/Misc/ParcelWrap/wrapped_parcel.rsi/parcel-small.png
  Resources/Textures/Objects/Misc/ParcelWrap/wrapped_parcel.rsi/parcel-tiny.png
  Resources/Textures/Objects/Misc/ParcelWrap/wrapped_parcel.rsi/tall-crate.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite

fix
  Resources/Prototypes/Recipes/Construction/furniture.yml
Labels: none

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
