Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

mash
  Resources/Prototypes/Loadouts/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/corpsman.yml
Labels: none

Added Whitelist
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
Labels: none

Caduceus Cap, Valor Helm, and Compact Armor
  Resources/Audio/_Impstation/Effects/Vehicle/ambulancesiren.ogg
  Resources/Audio/_Impstation/Effects/Vehicle/attributions.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/paramedic.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Medical/paramedic.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/armor.yml
  Resources/Textures/_Impstation/Clothing/Head/Hats/paramedicsirencap.rsi/icon-light.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/paramedicsirencap.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/paramedicsirencap.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/paramedicsirencap.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/paramedicsirencap.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Head/Hats/paramedicsirencap.rsi/off-equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/paramedicsirencap.rsi/on-equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/security.rsi/equipped-HELMET-vox.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/security.rsi/equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/security.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/security.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/security.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/security.rsi/light-equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/security.rsi/lighton-equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/security.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Head/Helmets/securitysirenhelmet.rsi/icon-light.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/securitysirenhelmet.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/securitysirenhelmet.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/securitysirenhelmet.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/securitysirenhelmet.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Head/Helmets/securitysirenhelmet.rsi/off-equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/securitysirenhelmet.rsi/on-equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/security_compact.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/security_compact.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/security_compact.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/security_compact.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/security_compact.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/security_compact.rsi/meta.json
Labels: Changes: Audio, Changes: Sprite

Body Bags Have High-Vis Tape
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Textures/Objects/Specific/Medical/Morgue/bodybags.rsi/bag-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/Morgue/bodybags.rsi/bag-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/Morgue/bodybags.rsi/bag_overlay.png
  Resources/Textures/Objects/Specific/Medical/Morgue/bodybags.rsi/meta.json
Labels: Changes: Sprite

Proper Punctuation/Capitalization Accents
  Resources/Locale/en-US/_Impstation/traits/speech.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
  Resources/Prototypes/_DEN/Traits/neutral.yml
  Resources/Prototypes/_Impstation/Traits/neutral.yml
Labels: Changes: Localization

Cool New Cigarettes
  Resources/Locale/en-US/loadouts/items.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cigs.yml
  Resources/Prototypes/CharacterItemGroups/Generic/miscItemGroups.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/items.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/spirits.rsi/closed.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/spirits.rsi/equipped-BELT.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/spirits.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/spirits.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/spirits.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/spirits.rsi/open.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/spirits.rsi/trash.png
Labels: Changes: Localization, Changes: Sprite

initial commit
  Resources/Prototypes/_DEN/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/identification_cards.yml
Labels: none

whoops
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: none

Remove Redundancy
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
Labels: Changes: C#

Make buckled Entitys not stand up
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
Labels: Changes: C#

errant space
  Resources/Prototypes/_DEN/Entities/Objects/Misc/identification_cards.yml
Labels: none

lots of polish and bugfixing
  Resources/Locale/en-US/loadouts/items.ftl
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cigs.yml
  Resources/Prototypes/CharacterItemGroups/Generic/miscItemGroups.yml
  Resources/Prototypes/Entities/Clothing/Back/smuggler_tables.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cartons.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/randomitems.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/items.yml
  Resources/Prototypes/_DV/Entities/Objects/Consumable/Smokeables/Cigarettes/cartons.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/cartons.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Cartons/spirits.rsi/closed.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Cartons/spirits.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Cartons/spirits.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Cartons/spirits.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Cartons/spirits.rsi/open.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/spirits.rsi/closed.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/spirits.rsi/open.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/spirits.rsi/trash.png
Labels: Changes: Localization, Changes: Sprite

slight description clarification ("lit" suggests the operative noun is the cigs, but it's the tobacco)
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
Labels: none

fixies (#3382)
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/genderfluid.rsi/meta.json
Labels: Changes: Sprite

Sleek Breath Mask
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/_DEN/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/items.yml
  Resources/Textures/_DEN/Clothing/Mask/breathsleek.rsi/equipped-MASK-cat.png
  Resources/Textures/_DEN/Clothing/Mask/breathsleek.rsi/equipped-MASK-dog.png
  Resources/Textures/_DEN/Clothing/Mask/breathsleek.rsi/equipped-MASK-fox.png
  Resources/Textures/_DEN/Clothing/Mask/breathsleek.rsi/equipped-MASK-hamster.png
  Resources/Textures/_DEN/Clothing/Mask/breathsleek.rsi/equipped-MASK-kangaroo.png
  Resources/Textures/_DEN/Clothing/Mask/breathsleek.rsi/equipped-MASK-pig.png
  Resources/Textures/_DEN/Clothing/Mask/breathsleek.rsi/equipped-MASK-possum.png
  Resources/Textures/_DEN/Clothing/Mask/breathsleek.rsi/equipped-MASK-puppy.png
  Resources/Textures/_DEN/Clothing/Mask/breathsleek.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_DEN/Clothing/Mask/breathsleek.rsi/equipped-MASK-sloth.png
  Resources/Textures/_DEN/Clothing/Mask/breathsleek.rsi/equipped-MASK-vox.png
  Resources/Textures/_DEN/Clothing/Mask/breathsleek.rsi/equipped-MASK.png
  Resources/Textures/_DEN/Clothing/Mask/breathsleek.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Mask/breathsleek.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Mask/breathsleek.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Mask/breathsleek.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/equipped-NECK-ovinia.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/equipped-NECK-thaven.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/equipped-NECK-vox.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

whoops
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/equipped-NECK-ovinia.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/equipped-NECK-thaven.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/equipped-NECK-vox.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/meta.json
Labels: Changes: Sprite

Heavy Shackles
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/equipped-NECK-anytaur.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/equipped-NECK-ovinia.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/equipped-NECK-thaven.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/equipped-NECK-vox.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/heavyshackles.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

desc
  Resources/Prototypes/_DEN/Entities/Clothing/Neck/misc.yml
Labels: none

it works
  Resources/Locale/en-US/_DEN/markings/bandage.ftl
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/bandage.yml
  Resources/Textures/_DEN/Mobs/Customization/Head/bandage.rsi/facewrap.png
  Resources/Textures/_DEN/Mobs/Customization/Head/bandage.rsi/facewrapleft.png
  Resources/Textures/_DEN/Mobs/Customization/Head/bandage.rsi/facewrapleftvulp.png
  Resources/Textures/_DEN/Mobs/Customization/Head/bandage.rsi/facewrapright.png
  Resources/Textures/_DEN/Mobs/Customization/Head/bandage.rsi/facewraprightvulp.png
  Resources/Textures/_DEN/Mobs/Customization/Head/bandage.rsi/facewrapvulp.png
  Resources/Textures/_DEN/Mobs/Customization/Head/bandage.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Capitalize Warsaw
  Resources/Prototypes/_DEN/Catalog/Jukebox/Standard.yml
Labels: none

fixes
  Resources/Maps/TheDen/manta.yml
Labels: Changes: Map

Update lighthouse.yml
  Resources/Maps/TheDen/lighthouse.yml
Labels: Changes: Map

decided i didn't like the name
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/meta.json
Labels: Changes: Sprite

oh i forgot to commit lol
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/equipped-MASK-pig.png
Labels: Changes: Sprite

hello?
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/equipped-MASK-possum.png
Labels: Changes: Sprite

please commit all the changes at once
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/_DEN/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/items.yml
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/equipped-MASK-cat.png
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/equipped-MASK-dog.png
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/equipped-MASK-fox.png
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/equipped-MASK-hamster.png
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/equipped-MASK-kangaroo.png
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/equipped-MASK-puppy.png
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/equipped-MASK-sloth.png
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/equipped-MASK-vox.png
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/equipped-MASK.png
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/inhand-right.png
Labels: Changes: Localization, Changes: Sprite

Simple Pants
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Locale/en-US/loadouts/generic/uniform.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/itemGroups.yml
  Resources/Prototypes/Loadouts/Generic/uniform.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/uniform.yml
  Resources/Textures/Clothing/Uniforms/Jumpsuit/loungewear.rsi/equipped-INNERCLOTHING-thaven.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/bootyshorts.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/simplepants.rsi/equipped-INNERCLOTHING-thaven.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/simplepants.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/simplepants.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/simplepants.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/simplepants.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/simplepants.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Added the ability to choose how to sort admin logs client-side.
  Content.Client/Administration/UI/Logs/AdminLogsControl.xaml
  Content.Client/Administration/UI/Logs/AdminLogsControl.xaml.cs
  Content.Server/Administration/Logs/AdminLogsEui.cs
  Resources/Locale/en-US/administration/ui/admin-logs.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

Added the ability to choose how to sort admin logs client-side.
  Content.Client/Administration/UI/Logs/AdminLogsControl.xaml
  Content.Client/Administration/UI/Logs/AdminLogsControl.xaml.cs
  Content.Server/Administration/Logs/AdminLogsEui.cs
  Resources/Locale/en-US/administration/ui/admin-logs.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

fix it and also remove one
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicators.yml
  Resources/Prototypes/_Impstation/Traits/neutral.yml
Labels: none

don't need this one, it's baked into our chat system
  Resources/Locale/en-US/_Impstation/traits/speech.ftl
Labels: Changes: Localization

Conspiracy Book (Tenebrae)
  Resources/Locale/en-US/_Impstation/paper/book-tenebraeconspiracy.ftl
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/books_author.yml
  Resources/Textures/_Impstation/Objects/Misc/book.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Misc/book.rsi/tenebraeconspiracybook.png
Labels: Changes: Localization, Changes: Sprite

Small Trait Max Width Increase
  Resources/Prototypes/Traits/physical.yml
Labels: none

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

move ContentProt func to FireProt
  Content.Server/Atmos/Components/ContentProtectionComponent.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Shared/Clothing/Components/FireProtectionComponent.cs
Labels: Changes: C#

grammar fixes
  Content.Server/Explosion/Components/ExplosionResistanceComponent.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
Labels: Changes: C#

add fire examination
  Content.Shared/Clothing/EntitySystems/FireProtectionSystem.cs
  Resources/Locale/en-US/_DEN/fire/fire.ftl
Labels: Changes: C#, Changes: Localization

Give Examination to Firesuit helmets
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
Labels: none

Refactor Fireproof Folders
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/box.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/paper.yml
Labels: none

Predict Stabilizing
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Shared/_DEN/Bed/Components/StabilizeOnBuckleComponent.cs
  Content.Shared/_DEN/Bed/Systems/SharedStabilizingOnBuckleSystem.cs
Labels: Changes: C#

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
