Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

new dildo chat
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Lewd/dildos.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/lewd.yml
  Resources/Prototypes/_Floof/CharacterItemGroups/funGroup.yml
  Resources/Prototypes/_Floof/Entities/Objects/Lewd/dildos.yml
  Resources/Prototypes/_Floof/Loadouts/itemsLewd.yml
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/dildo-avian.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/dildo-canine.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/dildo-double.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/dildo-dragon.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/dildo-equine.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/dildo-humanoid.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/dildo-smooth.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/dildo-tentacle.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/dildo_double.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/dildo_equine.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/dildo_tenticle.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/meta.json
Labels: Changes: Sprite

fix default inhand colors
  Resources/Prototypes/_Floof/Entities/Objects/Lewd/dildos.yml
Labels: none

fix rsi error
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/dildo-tentacle.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/dildo-tenticle.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/dildo_double.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/dildo_equine.png
Labels: Changes: Sprite

Rename dildo-tenticle.png to dildo-tentacle.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/dildo-tentacle.png
Labels: Changes: Sprite

Fix Mousetraps (#2549)
  Content.Shared/StepTrigger/Systems/StepTriggerImmuneSystem.cs
Labels: Changes: C#

Automated changelog update (#2549)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Fix Mousetraps
  Content.Shared/StepTrigger/Systems/StepTriggerImmuneSystem.cs
Labels: Changes: C#

Replace "Short Construction" With Quick Construction (#2552)
  Content.Client/ShortConstruction/ShortConstructionSystem.cs
  Content.Client/_DEN/QuickConstruction/UI/QuickConstructionBoundUserInterface.cs
  Content.Server/ShortConstruction/ShortConstructionSystem.cs
  Content.Shared/ShortConstruction/ShortConstructionComponent.cs
  Content.Shared/_DEN/QuickConstruction/Components/QuickConstructableComponent.cs
  Content.Shared/_DEN/QuickConstruction/Events/QuickConstructionEvents.cs
  Content.Shared/_DEN/QuickConstruction/Prototypes/QuickConstructionCategoryPrototype.cs
  Resources/Locale/en-US/_DEN/quickconstruction/categories.ftl
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/_DEN/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_DEN/QuickConstruction/glass.yml
  Resources/Prototypes/_DEN/QuickConstruction/misc.yml
  Resources/Prototypes/_DEN/QuickConstruction/steel.yml
  Resources/Prototypes/_White/Entities/Objects/Materials/cult.yml
Labels: Changes: C#, Changes: Localization

Automated changelog update (#2552)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Replace "Short Construction" With Quick Construction
  Content.Client/_DEN/QuickConstruction/UI/QuickConstructionBoundUserInterface.cs
  Content.Shared/_DEN/QuickConstruction/Components/QuickConstructableComponent.cs
  Content.Shared/_DEN/QuickConstruction/Events/QuickConstructionEvents.cs
  Content.Shared/_DEN/QuickConstruction/Prototypes/QuickConstructionCategoryPrototype.cs
  Resources/Locale/en-US/_DEN/quickconstruction/categories.ftl
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/_DEN/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_DEN/QuickConstruction/glass.yml
  Resources/Prototypes/_DEN/QuickConstruction/misc.yml
  Resources/Prototypes/_DEN/QuickConstruction/steel.yml
  Resources/Prototypes/_White/Entities/Objects/Materials/cult.yml
Labels: Changes: C#, Changes: Localization

Add human emotes too
  Resources/Locale/en-US/_DEN/traits/speech.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/miscTraitGroups.yml
  Resources/Prototypes/Traits/speech.yml
Labels: Changes: Localization

Added All the Missing Emotes (#2550)
  Content.Server/Traits/TraitSystem.Functions.cs
  Resources/Locale/en-US/_DEN/traits/speech.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/miscTraitGroups.yml
  Resources/Prototypes/Traits/speech.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/tags.yml
Labels: Changes: C#, Changes: Localization

Automated changelog update (#2550)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Added All the Missing Emotes
  Content.Server/Traits/TraitSystem.Functions.cs
  Resources/Locale/en-US/_DEN/traits/speech.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/miscTraitGroups.yml
  Resources/Prototypes/Traits/speech.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/tags.yml
Labels: Changes: C#, Changes: Localization

Wisp Ambience Filesize Reduction (#2553)
  Resources/Audio/Ambience/wisp_ambience.ogg
Labels: Changes: Audio

Small bugfixes from discord commends
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

Update alcohol.yml again
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/alcohol.yml
Labels: none

Small Edge Fixes (#2556)
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

update REUSE headers from: Small Edge Fixes
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

Colorable MRE Flask
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Textures/Objects/Consumable/Drinks/mreflask.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/mreflask.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/mreflask.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/mreflask.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/mreflask.rsi/meta.json
Labels: Changes: Sprite

extend the lines to the end actually
  Resources/Textures/Objects/Consumable/Drinks/mreflask.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/mreflask.rsi/icon_open.png
Labels: Changes: Sprite

make infection do genetic damage, remove genetic damage from PFactory
  Content.Shared/Zombies/ZombieTumorInfectionComponent.cs
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: C#

make explicitly voteable
  Resources/Prototypes/game_presets.yml
Labels: none

fix test fail???? please????
  Resources/Prototypes/_Floof/CharacterItemGroups/funGroup.yml
  Resources/Prototypes/_Floof/Loadouts/itemsLewd.yml
Labels: none

add crates
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/_DEN/QuickConstruction/plastic.yml
  Resources/Prototypes/_DEN/QuickConstruction/steel.yml
Labels: none

MORE. MORE.
  Resources/Prototypes/_DEN/Entities/Structures/Decoration/somber.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/memorial.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Structures/Decoration/somberpillar.rsi/meta.json
  Resources/Textures/_DEN/Structures/Decoration/somberpillar.rsi/pillar.png
  Resources/Textures/_DEN/Structures/Decoration/somberpillar.rsi/pillartall.png
  Resources/Textures/_DEN/Structures/Decoration/somberpillar.rsi/pillartaller.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somber.rsi/bolted_unlit.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somberdark.rsi/bolted_unlit.png
  Resources/Textures/_DEN/Structures/Furniture/Altars/Cults/somber.rsi/faust.png
  Resources/Textures/_DEN/Structures/Machines/somberjuicer.rsi/juicer0.png
  Resources/Textures/_DEN/Structures/Machines/somberjuicer.rsi/juicer1.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon-grasp-both.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon-grasp.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon-silhouette-eyes.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon-silhouette.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon-unshaded.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/meta.json
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-both-grasp.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-both-silhouette-eyes.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-both-silhouette.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-left-grasp.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-left-unshaded-eye.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-left-unshaded.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-left.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-right-grasp.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-right-unshaded-eye.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-right-unshaded.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-right.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/meta.json
  Resources/Textures/_SHA/Heretic/mansus_grasp.rsi/icon.png
  Resources/Textures/_SHA/Heretic/mansus_grasp.rsi/inhand-left.png
  Resources/Textures/_SHA/Heretic/mansus_grasp.rsi/inhand-right.png
  Resources/Textures/_SHA/Heretic/mansus_grasp.rsi/meta.json
  Resources/Textures/_SHA/Structures/Furniture/Altars/Cults/sombersanctum.rsi/faust.png
Labels: Changes: Sprite

ASDFFDAS
  Resources/Locale/en-US/_DEN/clothing/suitstorage.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/altar.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Structures/Decoration/somberpillar.rsi/pillartall.png
  Resources/Textures/_DEN/Structures/Decoration/somberpillar.rsi/pillartaller.png
  Resources/Textures/_DEN/Structures/Furniture/Altars/Cults/somber.rsi/cover-off.png
  Resources/Textures/_DEN/Structures/Furniture/Altars/Cults/somber.rsi/cover.png
  Resources/Textures/_DEN/Structures/Furniture/Altars/Cults/somber.rsi/locked.png
  Resources/Textures/_DEN/Structures/Furniture/Altars/Cults/somber.rsi/meta.json
  Resources/Textures/_DEN/Structures/Furniture/Altars/Cults/somber.rsi/unlocked.png
  Resources/Textures/_DEN/Structures/Lighting/LightPosts/lampeidolitefloor.rsi/base.png
  Resources/Textures/_SHA/Structures/Furniture/Altars/Cults/sombersanctum.rsi/cover-off.png
  Resources/Textures/_SHA/Structures/Furniture/Altars/Cults/sombersanctum.rsi/cover.png
  Resources/Textures/_SHA/Structures/Furniture/Altars/Cults/sombersanctum.rsi/locked.png
  Resources/Textures/_SHA/Structures/Furniture/Altars/Cults/sombersanctum.rsi/meta.json
  Resources/Textures/_SHA/Structures/Furniture/Altars/Cults/sombersanctum.rsi/unlocked.png
Labels: Changes: Localization, Changes: Sprite

it's all perfect
  Resources/Locale/en-US/_DEN/clothing/suitstorage.ftl
  Resources/Locale/en-US/_DEN/foldable/components/foldable-component.ftl
  Resources/Prototypes/_DEN/Entities/Structures/furniture/altar.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Structures/Furniture/Altars/Cults/somber.rsi/cover.png
  Resources/Textures/_DEN/Structures/Furniture/Altars/Cults/somber.rsi/locked.png
  Resources/Textures/_DEN/Structures/Furniture/Altars/Cults/somber.rsi/meta.json
  Resources/Textures/_DEN/Structures/Furniture/Altars/Cults/somber.rsi/straps.png
  Resources/Textures/_DEN/Structures/Furniture/Altars/Cults/somber.rsi/unlocked.png
  Resources/Textures/_SHA/Structures/Furniture/Altars/Cults/sombersanctum.rsi/cover.png
  Resources/Textures/_SHA/Structures/Furniture/Altars/Cults/sombersanctum.rsi/locked.png
  Resources/Textures/_SHA/Structures/Furniture/Altars/Cults/sombersanctum.rsi/meta.json
  Resources/Textures/_SHA/Structures/Furniture/Altars/Cults/sombersanctum.rsi/straps.png
  Resources/Textures/_SHA/Structures/Furniture/Altars/Cults/sombersanctum.rsi/unlocked.png
Labels: Changes: Localization, Changes: Sprite

YEEEEES
  Resources/Textures/_DEN/Structures/Furniture/Altars/Cults/somber.rsi/altar.png
  Resources/Textures/_SHA/Structures/Furniture/Altars/Cults/sombersanctum.rsi/altar.png
Labels: Changes: Sprite

and done for the night. or. morning.
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Structures/Furniture/Altars/Cults/somber.rsi/altar.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-left-unshaded-eye.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-left-unshaded.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-left.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-right-unshaded-eye.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-right-unshaded.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-right.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/meta.json
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/spinning-inhand-left-unshaded-eye.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/spinning-inhand-left-unshaded.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/spinning-inhand-left.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/spinning-inhand-right-unshaded-eye.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/spinning-inhand-right-unshaded.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/spinning-inhand-right.png
  Resources/Textures/_SHA/Structures/Furniture/Altars/Cults/sombersanctum.rsi/altar.png
Labels: Changes: Sprite

Species Face Layering
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/shadowkin.yml
  Resources/Prototypes/Species/skeleton.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Prototypes/_DEN/Species/Ovinia.yml
  Resources/Prototypes/_DV/Species/chitinid.yml
  Resources/Prototypes/_DV/Species/feroxi.yml
  Resources/Prototypes/_DV/Species/rodentia.yml
  Resources/Prototypes/_Floof/Species/resomi.yml
  Resources/Prototypes/_Impstation/Species/thaven.yml
  Resources/Textures/_DEN/Mobs/Species/Ovinia/parts.rsi/head_f.png
  Resources/Textures/_DEN/Mobs/Species/Ovinia/parts.rsi/head_m.png
  Resources/Textures/_DEN/Mobs/Species/Ovinia/parts.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Species/Ovinia/parts.rsi/snout.png
Labels: Changes: Sprite

Marking Limits
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/harpy.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/plasmaman.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/shadowkin.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Prototypes/_DEN/Species/Ovinia.yml
  Resources/Prototypes/_DEN/Species/canid.yml
  Resources/Prototypes/_DV/Species/feroxi.yml
  Resources/Prototypes/_DV/Species/kitsune.yml
  Resources/Prototypes/_DV/Species/rodentia.yml
  Resources/Prototypes/_DV/Species/vulpkanin.yml
  Resources/Prototypes/_EE/Species/tajaran.yml
  Resources/Prototypes/_Floof/Species/resomi.yml
  Resources/Prototypes/_Impstation/Species/thaven.yml
Labels: none

radiation isn't a damage group
  Resources/Prototypes/Traits/physical.yml
Labels: none

add new sound to pulse pistol, fixex
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/attributions.yml
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/pulse_pistol_1.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/pulse_pistol_10.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/pulse_pistol_11.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/pulse_pistol_12.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/pulse_pistol_2.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/pulse_pistol_3.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/pulse_pistol_4.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/pulse_pistol_5.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/pulse_pistol_6.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/pulse_pistol_7.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/pulse_pistol_8.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/pulse_pistol_9.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_DEN/SoundCollections/Weapons/Gunshots/energy.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: Audio

Make Material Descriptions Less Bad (#2513)
  Resources/Prototypes/Datasets/tips.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Entities/Objects/Materials/scrap.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Structures/Windows/clockwork.yml
Labels: none

Automated changelog update (#2513)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Make Material Descriptions Less Bad
  Resources/Prototypes/Datasets/tips.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Entities/Objects/Materials/scrap.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Structures/Windows/clockwork.yml
Labels: none

Add camera bug (#30250)
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/camera_bug.yml
  Resources/Textures/Objects/Devices/camera_bug.rsi/camera_bug.png
  Resources/Textures/Objects/Devices/camera_bug.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Camera map (#39684)
  Content.Client/SurveillanceCamera/UI/SurveillanceCameraMonitorBoundUi.cs
  Content.Client/SurveillanceCamera/UI/SurveillanceCameraMonitorWindow.xaml
  Content.Client/SurveillanceCamera/UI/SurveillanceCameraMonitorWindow.xaml.cs
  Content.Client/SurveillanceCamera/UI/SurveillanceCameraNavMapControl.cs
  Content.Server/SurveillanceCamera/CameraMapVisibilityWireAction.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraMapSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraMonitorSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraSystem.cs
  Content.Shared/SurveillanceCamera/Components/SurveillanceCameraMapComponent.cs
  Content.Shared/SurveillanceCamera/SharedSurveillanceCameraMonitorSystem.cs
  Resources/Locale/en-US/surveillance-camera/surveillance-camera-ui.ftl
  Resources/Prototypes/Wires/layouts.yml
Labels: Changes: C#, Changes: Localization, Changes: UI

Marking Cleanup
  Resources/Locale/en-US/markings/makeup.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/earrings.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/face.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/harpy.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_tails.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/makeup.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/misc.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/oni_horns.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/pointy_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tails.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/wrist.yml
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/base.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc2.yml
  Resources/Textures/Mobs/Customization/makeup.rsi/meta.json
  Resources/Textures/Mobs/Customization/makeup.rsi/snout_lips.png
Labels: Changes: Localization, Changes: Sprite
