Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

feat: remove muffled to be consistent with subtle
  Content.Server/_DEN/Chat/Systems/ChatSystem.PrivateAPI.cs
Labels: Changes: C#

feat: doors will no longer let whispers go through
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#

feat: show circle overlay when speaking in short-range channels
  Content.Client/_DEN/Earmuffs/EarmuffsSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Speech/Components/ActiveListenerComponent.cs
  Content.Server/Speech/EntitySystems/ListeningSystem.cs
  Content.Shared/Chat/SharedChatSystem.cs
Labels: Changes: C#

feat: typing circle overlay is optional
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/CircleOverlay.cs
  Content.Client/UserInterface/Systems/Chat/Controls/Denu/DenuUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/Denu/DenuWindow.xaml
  Content.Client/UserInterface/Systems/Chat/Controls/Denu/DenuWindow.xaml.cs
  Content.Client/_DEN/Earmuffs/EarmuffsSystem.cs
Labels: Changes: C#, Changes: UI

attempted to add fuzzball to Resomi
  Resources/Locale/en-US/_DEN/markings/resomi.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/resomi.yml
  Resources/Prototypes/_DEN/_DEN - Shortcut.lnk
  Resources/Textures/_DEN/Mobs/Customization/Head/resomi.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Head/resomi.rsi/resomi_m_ears_antenna_fuzzballv2_ADJ_primary.png
  Resources/Textures/_DEN/Mobs/Customization/Head/resomi.rsi/resomi_m_ears_antenna_fuzzballv2_ADJ_tertiary.png
  Resources/Textures/_DEN/Mobs/Customization/Head/resomi.rsi/resomi_m_ears_antenna_fuzzballv2_FRONT_primary.png
  Resources/Textures/_DEN/Mobs/Customization/Head/resomi.rsi/resomi_m_ears_antenna_fuzzballv2_FRONT_tertiary.png
Labels: Changes: Localization, Changes: Sprite

attempted to add fuzzball attennas to resomi
  Resources/Prototypes/_DEN/_DEN - Shortcut.lnk
Labels: none

Remove skia taking constant damage in light, improve regeneration
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/skia.yml
Labels: none

they could use more damage as well tbh
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/skia.yml
Labels: none

added antennas
  Resources/Locale/en-US/_DEN/markings/resomi.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/resomi.yml
  Resources/Textures/_DEN/Mobs/Customization/Head/resomi.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Head/resomi.rsi/resomi_m_ears_antenna_fuzzballv2_ADJ_primary.png
  Resources/Textures/_DEN/Mobs/Customization/Head/resomi.rsi/resomi_m_ears_antenna_fuzzballv2_ADJ_tertiary.png
  Resources/Textures/_DEN/Mobs/Customization/Head/resomi.rsi/resomi_m_ears_antenna_fuzzballv2_FRONT_primary.png
  Resources/Textures/_DEN/Mobs/Customization/Head/resomi.rsi/resomi_m_ears_antenna_fuzzballv2_FRONT_tertiary.png
Labels: Changes: Localization, Changes: Sprite

Slime Glorbs
  Resources/Prototypes/_DEN/Entities/Objects/Misc/glorbs.yml
  Resources/Prototypes/_DEN/Entities/Objects/Tools/lantern.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/species.yml
  Resources/Prototypes/_DEN/Loadouts/groups.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/hats.yml
  Resources/Textures/_DEN/Objects/Misc/glorb.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Objects/Misc/glorb.rsi/equipped-MASK.png
  Resources/Textures/_DEN/Objects/Misc/glorb.rsi/icon-on.png
  Resources/Textures/_DEN/Objects/Misc/glorb.rsi/icon.png
  Resources/Textures/_DEN/Objects/Misc/glorb.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Misc/glorb.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Misc/glorb.rsi/meta.json
  Resources/Textures/_DEN/Objects/Misc/glorb.rsi/on-equipped-HELMET.png
  Resources/Textures/_DEN/Objects/Misc/glorb.rsi/on-equipped-MASK.png
  Resources/Textures/_DEN/Objects/Misc/glorb.rsi/on-inhand-left.png
  Resources/Textures/_DEN/Objects/Misc/glorb.rsi/on-inhand-right.png
  Resources/Textures/_DEN/Objects/Specific/Mantis/lanternmantis.rsi/equipped-BELT.png
  Resources/Textures/_DEN/Objects/Specific/Mantis/lanternmantis.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Specific/Mantis/lanternmantis.rsi/icon-crystal.png
  Resources/Textures/_DEN/Objects/Specific/Mantis/lanternmantis.rsi/icon.png
  Resources/Textures/_DEN/Objects/Specific/Mantis/lanternmantis.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Specific/Mantis/lanternmantis.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Specific/Mantis/lanternmantis.rsi/lantern-on.png
  Resources/Textures/_DEN/Objects/Specific/Mantis/lanternmantis.rsi/meta.json
  Resources/Textures/_DEN/Objects/Tools/somberlamp.rsi/icon-crystal.png
  Resources/Textures/_DEN/Objects/Tools/somberlamp.rsi/icon.png
  Resources/Textures/_DEN/Objects/Tools/somberlamp.rsi/inhand-left-crystal.png
  Resources/Textures/_DEN/Objects/Tools/somberlamp.rsi/inhand-right-crystal.png
  Resources/Textures/_DEN/Objects/Tools/somberlamp.rsi/lantern-on.png
  Resources/Textures/_DEN/Objects/Tools/somberlamp.rsi/meta.json
Labels: Changes: Sprite

Update Resources/Textures/_DEN/Mobs/Customization/Head/resomi.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Head/resomi.rsi/meta.json
Labels: Changes: Sprite

fixed antenna placement and changed copyright
  Resources/Textures/_DEN/Mobs/Customization/Head/resomi.rsi/resomi_m_ears_antenna_fuzzballv2_FRONT_primary.png
  Resources/Textures/_DEN/Mobs/Customization/Head/resomi.rsi/resomi_m_ears_antenna_fuzzballv2_FRONT_tertiary.png
Labels: Changes: Sprite

fixed antenna placement and copyright
  Resources/Textures/_DEN/Mobs/Customization/Head/resomi.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Head/resomi.rsi/resomi_m_ears_antenna_fuzzballv2_FRONT_primary.png
  Resources/Textures/_DEN/Mobs/Customization/Head/resomi.rsi/resomi_m_ears_antenna_fuzzballv2_FRONT_tertiary.png
Labels: Changes: Sprite

loadouts fix
  Resources/Prototypes/_DEN/Loadouts/Generic/species.yml
Labels: none

fixy
  Resources/Prototypes/_DEN/Loadouts/groups.yml
Labels: none

update
  Resources/Prototypes/_DEN/Entities/Objects/Misc/glorbs.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/species.yml
  Resources/Prototypes/_DEN/Loadouts/groups.yml
Labels: none

Skia summons and shop move around
  Resources/Prototypes/_DEN/Actions/skia.yml
  Resources/Prototypes/_DEN/Catalog/skia_catalog.yml
  Resources/Prototypes/_DEN/Entities/Mobs/NPCs/skia.yml
  Resources/Prototypes/_DEN/ai_factions.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/skia.yml
  Resources/Prototypes/ai_factions.yml
  Resources/Textures/_NF/Mobs/BloodCult/drainedone.rsi/drained.png
  Resources/Textures/_NF/Mobs/BloodCult/drainedone.rsi/icon.png
  Resources/Textures/_NF/Mobs/BloodCult/drainedone.rsi/meta.json
Labels: Changes: Sprite

mechanics for spawning living shadows
  Content.Server/_DEN/Skia/SkiaSystem.cs
  Content.Shared/_DEN/Skia/SharedSkiaSystem.cs
  Content.Shared/_DEN/Skia/SkiaComponent.cs
Labels: Changes: C#

being reaped makes you sad
  Content.Server/_DEN/Skia/SkiaSystem.cs
  Resources/Prototypes/_DEN/Mood/genericNegativeEffects.yml
Labels: Changes: C#

spawn minion WIP
  Resources/Locale/en-US/_DEN/actions/skia.ftl
  Resources/Prototypes/_DEN/Actions/skia.yml
  Resources/Prototypes/_DEN/Catalog/skia_catalog.yml
Labels: Changes: Localization

more changes to mob spawning
  Content.Server/_DEN/Skia/SkiaSystem.cs
  Content.Shared/_DEN/Skia/SharedSkiaSystem.cs
  Content.Shared/_DEN/Skia/SkiaComponent.cs
Labels: Changes: C#

refactor file name
  Content.Shared/_DEN/Skia/SkiaComponent.cs
  Resources/Prototypes/_DEN/Entities/Mobs/NPCs/glimmer_creatures.yml
Labels: Changes: C#

mantis bullets can shoot living shadows
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/skia.yml
Labels: none

new glimmer creatures for the skia to spawn
  Resources/Prototypes/_DEN/Entities/Effects/bluespace_flash.yml
  Resources/Prototypes/_DEN/Entities/Mobs/NPCs/glimmer_creatures.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/skia.yml
Labels: none

tie in the new beasties
  Content.Server/_DEN/Skia/SkiaSystem.cs
  Content.Shared/_DEN/Skia/SkiaComponent.cs
Labels: Changes: C#

translucent sprite for drained one
  Resources/Prototypes/_DEN/Entities/Mobs/NPCs/glimmer_creatures.yml
Labels: none

linter and rebalance skia shop costs
  Resources/Prototypes/_DEN/Catalog/skia_catalog.yml
  Resources/Prototypes/_DEN/Entities/Mobs/NPCs/glimmer_creatures.yml
Labels: none

made twist shadows available at the start
  Resources/Prototypes/_DEN/Actions/skia.yml
  Resources/Prototypes/_DEN/Catalog/skia_catalog.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/skia.yml
Labels: none

refactor skia actions and cap spawns
  Content.Server/_DEN/Skia/SkiaSystem.cs
  Content.Shared/_DEN/Actions/RerollSkiaObjectivesActionEvent.cs
  Content.Shared/_DEN/Actions/SkiaActionEvents.cs
  Content.Shared/_DEN/Skia/SharedSkiaSystem.cs
  Content.Shared/_DEN/Skia/SkiaComponent.cs
  Resources/Prototypes/_DEN/Actions/skia.yml
Labels: Changes: C#

fuck it, make him purple
  Resources/Textures/_DV/Mobs/Animals/skia.rsi/dead.png
  Resources/Textures/_DV/Mobs/Animals/skia.rsi/meta.json
  Resources/Textures/_DV/Mobs/Animals/skia.rsi/skia.png
Labels: Changes: Sprite

Tweaked resistance on dispel
  Resources/Prototypes/_DEN/Entities/Mobs/NPCs/glimmer_creatures.yml
Labels: none

ninja can spawn skia now
  Resources/Prototypes/threats.yml
Labels: none

Glorb Embed + Heirloom
  Resources/Prototypes/_DEN/Entities/Objects/Misc/glorbs.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/species.yml
Labels: none

fix: same event, same issues
  Content.Server/Wagging/WaggingSystem.cs
  Content.Server/_DEN/Markings/AnimatedMarkingsSystem.cs
  Content.Shared/_DEN/Actions/AnimateMarkingsToggleActionEvent.cs
  Content.Shared/_DEN/Actions/WaggingActionEvent.cs
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/_DEN/Prototypes/Actions/types.yml
Labels: Changes: C#

fix timing add visual effect
  Content.Server/_DEN/BodyDissolution/BodyDissolverComponent.cs
  Content.Server/_DEN/BodyDissolution/BodyDissolverSystem.cs
  Resources/Prototypes/Entities/Effects/acidifier.yml
  Resources/Textures/Effects/acidifier.rsi/acid_white.png
  Resources/Textures/Effects/acidifier.rsi/meta.json
Labels: Changes: C#, Changes: Sprite

Glorb Locale
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
Labels: Changes: Localization

ough
  Resources/Locale/en-US/_DEN/tiles/tiles.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/_DEN/Entities/Structures/Walls/somber.yml
  Resources/Prototypes/_DEN/Entities/Structures/Windows/somber.yml
  Resources/Prototypes/_DEN/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/_DEN/Tiles/floors.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Objects/Tiles/tile.rsi/meta.json
  Resources/Textures/_DEN/Objects/Tiles/tile.rsi/somber-dark-NE.png
  Resources/Textures/_DEN/Objects/Tiles/tile.rsi/somberglass-NE.png
  Resources/Textures/_DEN/Objects/Tiles/tile.rsi/somberglass-NW.png
  Resources/Textures/_DEN/Objects/Tiles/tile.rsi/somberglass-SE.png
  Resources/Textures/_DEN/Objects/Tiles/tile.rsi/somberglass-SW.png
  Resources/Textures/_DEN/Objects/Tiles/tile.rsi/somberglass-dark-NE.png
  Resources/Textures/_DEN/Objects/Tiles/tile.rsi/somberglass-dark-NW.png
  Resources/Textures/_DEN/Objects/Tiles/tile.rsi/somberglass-dark-SE.png
  Resources/Textures/_DEN/Objects/Tiles/tile.rsi/somberglass-dark-SW.png
  Resources/Textures/_DEN/Tiles/meta.json
  Resources/Textures/_DEN/Tiles/somberglass-NE.png
  Resources/Textures/_DEN/Tiles/somberglass-NW.png
  Resources/Textures/_DEN/Tiles/somberglass-SE.png
  Resources/Textures/_DEN/Tiles/somberglass-SW.png
  Resources/Textures/_DEN/Tiles/somberglass-dark-NE.png
  Resources/Textures/_DEN/Tiles/somberglass-dark-NW.png
  Resources/Textures/_DEN/Tiles/somberglass-dark-SE.png
  Resources/Textures/_DEN/Tiles/somberglass-dark-SW.png
Labels: Changes: Localization, Changes: Sprite

Remove Alamode
  Resources/Maps/TheDen/alamode.yml
  Resources/Prototypes/Maps/alamode.yml
Labels: Changes: Map

requested removal of the lobby arts
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/denos.png
  Resources/Textures/LobbyScreens/denos.webp
  Resources/Textures/LobbyScreens/thatcoolbar.png
  Resources/Textures/LobbyScreens/thatcoolbar.yml
  Resources/Textures/LobbyScreens/thesix.webp
  Resources/Textures/LobbyScreens/thesix.webp.yml
Labels: none

Alamode Removal
  Resources/Maps/TheDen/alamode.yml
  Resources/Prototypes/Maps/alamode.yml
  Resources/Prototypes/_DEN/Maps/Pools/eternity.yml
Labels: Changes: Map

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
