Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

medals in lockers go brrrr
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: none

Added arachne sound traits
  Resources/Locale/en-US/_DEN/traits/speech.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/miscTraitGroups.yml
  Resources/Prototypes/Traits/speech.yml
Labels: Changes: Localization

Initial black blood trait + code
  Content.Server/_DEN/Traits/TraitSystem.Functions.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/_DEN/Traits/biological.yml
Labels: Changes: C#, Changes: Localization

fix missing EoF and add initial exclusions
  Resources/Prototypes/_DEN/Traits/biological.yml
Labels: none

MORE EXCLUSIONS!!!
  Resources/Prototypes/_DEN/Traits/biological.yml
Labels: none

Eternity, à la mode (New Map)
  Resources/Maps/TheDen/alamode.yml
  Resources/Prototypes/Maps/alamode.yml
Labels: Changes: Map

Update Eternity map pool with Alamode
  Resources/Prototypes/_DEN/Maps/Pools/eternity.yml
Labels: none

Category refactoring + Blue Blood
  Resources/Locale/en-US/traits/categories.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/categories.yml
  Resources/Prototypes/_DEN/Traits/biological.yml
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: Changes: Localization

Blood type rounding out
  Resources/Locale/en-US/traits/categories.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: Changes: Localization

shuffling blood file around + finalization of base implementation
  Resources/Locale/en-US/traits/categories.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/categories.yml
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: Changes: Localization

EoF cleanup
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/_DEN/Traits/biological.yml
Labels: Changes: Localization

i totally forgot the id name for arachnids :^)
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: none

More shit
  Resources/Maps/TheDen/alamode.yml
  Resources/Prototypes/Maps/alamode.yml
Labels: Changes: Map

Remove freezer markers
  Resources/Maps/TheDen/alamode.yml
Labels: Changes: Map

Change airlocks
  Resources/Maps/TheDen/alamode.yml
Labels: Changes: Map

Added plating
  Resources/Maps/TheDen/alamode.yml
Labels: Changes: Map

Allow entities to interact with wallmounts through climbable obstacles
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: Changes: C#

Add performance fixes and den change comments
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: Changes: C#

THAT WAS A MISINPUT
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: Changes: C#

add logging to AAC tablets
  Content.Server/_DV/AACTablet/AACTabletSystem.cs
Labels: Changes: C#

Scar and Tattoo Fixes (#1889)
  Resources/Locale/en-US/deltav/markings/scars.ftl
  Resources/Locale/en-US/deltav/markings/tattoos.ftl
  Resources/Locale/en-US/markings/tattoos.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Textures/DeltaV/Mobs/Customization/scars.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Customization/scars.rsi/scar_chest_female.png
  Resources/Textures/DeltaV/Mobs/Customization/tattoos.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Customization/tattoos.rsi/tattoo_hive_chest_female.png
  Resources/Textures/DeltaV/Mobs/Customization/tattoos.rsi/tattoo_nightling.png
  Resources/Textures/DeltaV/Mobs/Customization/tattoos.rsi/tattoo_nightling_female.png
Labels: Changes: Localization, Changes: Sprite

Partially kill grab cheese.
  Content.Server/NPC/Systems/NPCCombatSystem.Melee.cs
  Content.Server/_DEN/NPC/HTN/Preconditions/PullEscapeCooldownPrecondition.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Resources/Prototypes/NPCs/Combat/melee.yml
  Resources/Prototypes/NPCs/goliath.yml
Labels: Changes: C#

Fixes for all other chest markings with that issue
  Resources/Locale/en-US/_ADT/markings/Human_tattoos.ftl
  Resources/Locale/en-US/_Impstation/markings/misc.ftl
  Resources/Locale/en-US/_Impstation/markings/scars.ftl
  Resources/Prototypes/_ADT/Mobs/Customization/custom/Human_tattoos.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Textures/_ADT/Mobs/Customization/Human/custom.rsi/meta.json
  Resources/Textures/_ADT/Mobs/Customization/Human/custom.rsi/tattoo_Rose_female.png
  Resources/Textures/_ADT/Mobs/Customization/Human/custom.rsi/tattoo_churchdomes_female.png
  Resources/Textures/_ADT/Mobs/Customization/Human/custom.rsi/tattoo_karabel.png
  Resources/Textures/_ADT/Mobs/Customization/Human/custom.rsi/tattoo_karabel_female.png
  Resources/Textures/_ADT/Mobs/Customization/Human/custom.rsi/tattoo_serpenttemptation_female.png
  Resources/Textures/_Impstation/Mobs/Customization/animatedmarkings.rsi/dwarfmarkbear_female.png
  Resources/Textures/_Impstation/Mobs/Customization/animatedmarkings.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/scars.rsi/chest_star_female.png
  Resources/Textures/_Impstation/Mobs/Customization/scars.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/scars.rsi/torso_incision_female.png
Labels: Changes: Localization, Changes: Sprite

Moving shit
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc2.yml
Labels: none

Kill grabbening 2.0
  Content.Shared/Movement/Pulling/Components/PullerComponent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Resources/Locale/en-US/_white/grab/grab.ftl
Labels: Changes: C#, Changes: Localization

punctuation
  Resources/Locale/en-US/_DEN/contractors/employer.ftl
Labels: Changes: Localization

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

Requested changes
  Content.Server/_DEN/Traits/TraitSystem.Functions.cs
  Resources/Locale/en-US/traits/traits.ftl
Labels: Changes: C#, Changes: Localization

fix
  Resources/Locale/en-US/_Impstation/markings/misc.ftl
Labels: Changes: Localization

oops
  Resources/Locale/en-US/_Impstation/markings/misc.ftl
Labels: Changes: Localization

add yusei magic font
  Resources/Fonts/YuseiMagic-Regular.ttf
  Resources/Prototypes/_DEN/fonts.yml
Labels: none

move den fonts into den namespace
  Resources/Prototypes/fonts.yml
Labels: none

reduce length of many language strings
  Resources/Prototypes/Language/FactionSpecific/blood_cult.yml
  Resources/Prototypes/Language/Species-Specific/canid.yml
  Resources/Prototypes/Language/Species-Specific/chittin.yml
  Resources/Prototypes/Language/Species-Specific/feroxi.yml
  Resources/Prototypes/Language/Species-Specific/harpy.yml
  Resources/Prototypes/Language/Species-Specific/kitsune.yml
  Resources/Prototypes/Language/Species-Specific/marish.yml
  Resources/Prototypes/Language/Species-Specific/moth.yml
  Resources/Prototypes/Language/Species-Specific/ovinia.yml
  Resources/Prototypes/Language/Species-Specific/reptilian.yml
  Resources/Prototypes/Language/Species-Specific/rodentia.yml
  Resources/Prototypes/Language/Species-Specific/slimeperson.yml
  Resources/Prototypes/Language/Species-Specific/vulpkanin.yml
  Resources/Prototypes/Language/Standard/elyran.yml
  Resources/Prototypes/Language/Standard/novunederic.yml
  Resources/Prototypes/Language/Standard/solcommon.yml
  Resources/Prototypes/Language/genericlanguages.yml
  Resources/Prototypes/_EE/Language/Species-Specific/tajaran.yml
Labels: none

more requested changes
  Resources/Locale/en-US/traits/traits.ftl
Labels: Changes: Localization

bug fixes and engineering update
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

Map update, a la mode
  Resources/Maps/TheDen/alamode.yml
Labels: Changes: Map

Redid local commit for these to match the base species layers
  Resources/Prototypes/_DEN/Entities/Mobs/Species/sprite_layers.yml
Labels: none

bug fixes and engineering update
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

resprite n2 lockers
  Resources/Prototypes/Entities/Structures/Storage/Closets/closets.yml
  Resources/Textures/_Wizden/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/_Wizden/Structures/Storage/closet.rsi/n2.png
  Resources/Textures/_Wizden/Structures/Storage/closet.rsi/n2_door.png
  Resources/Textures/_Wizden/Structures/Storage/closet.rsi/n2_open.png
Labels: Changes: Sprite

i'm sorry linter
  Resources/Prototypes/Entities/Structures/Storage/Closets/closets.yml
Labels: none
