Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

Remove meta voiceline from the passenger figure (#30868)
  Resources/Locale/en-US/datasets/figurines.ftl
Labels: Changes: Localization

hormones are now real
  Resources/Locale/en-US/_Impstation/reagents/meta/biological.ftl
  Resources/Prototypes/_Impstation/Reagents/fun.yml
  Resources/Prototypes/_Impstation/Recipes/Reactions/chemicals.yml
Labels: Changes: Localization

remove envelope
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: none

Update paper.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: none

genderfluid real
  Resources/Locale/en-US/_Impstation/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/consumable/drink/soda.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/physical-desc.ftl
  Resources/Prototypes/_Impstation/Flavors/flavors.yml
  Resources/Prototypes/_Impstation/Reagents/Consumable/Drink/soda.yml
  Resources/Prototypes/_Impstation/Recipes/Reactions/drinks.yml
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/genderfluid.rsi/fill-1.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/genderfluid.rsi/fill-2.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/genderfluid.rsi/fill-3.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/genderfluid.rsi/fill-4.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/genderfluid.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/genderfluid.rsi/icon_empty.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/genderfluid.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Added the relaysubscriptionhelper.cs file
  Content.Shared/_DV/Inventory/RelaySubscriptionHelpers.cs
Labels: Changes: C#

oops I forgot a desc
  Resources/Locale/en-US/_Impstation/reagents/meta/physical-desc.ftl
Labels: Changes: Localization

Mirror Some East/West Leg/Foot Markings
  Resources/Textures/Mobs/Customization/misc.rsi/m_gradient_l_foot.png
  Resources/Textures/Mobs/Customization/misc.rsi/m_gradient_l_leg.png
  Resources/Textures/Mobs/Customization/misc.rsi/m_gradient_r_foot.png
  Resources/Textures/Mobs/Customization/misc.rsi/m_gradient_r_leg.png
  Resources/Textures/Mobs/Customization/tattoos.rsi/tattoo_campbell_l_leg.png
  Resources/Textures/Mobs/Customization/tattoos.rsi/tattoo_campbell_r_leg.png
  Resources/Textures/Mobs/Customization/tattoos.rsi/tattoo_silverburgh_l_leg.png
  Resources/Textures/Mobs/Customization/tattoos.rsi/tattoo_silverburgh_r_leg.png
  Resources/Textures/_Impstation/Mobs/Customization/scars.rsi/foot_l_prosthetic.png
  Resources/Textures/_Impstation/Mobs/Customization/scars.rsi/foot_r_prosthetic.png
  Resources/Textures/_Impstation/Mobs/Customization/scars.rsi/leg_l_prosthetic.png
  Resources/Textures/_Impstation/Mobs/Customization/scars.rsi/leg_r_prosthetic.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/l_foot_doll.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/l_leg_doll.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/r_foot_doll.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/r_leg_doll.png
Labels: Changes: Sprite

Add pen clicking sound (#30531)
  Resources/Audio/Items/attributions.yml
  Resources/Audio/Items/pen_click.ogg
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/pens.rsi/luxury_pen.png
  Resources/Textures/Objects/Misc/pens.rsi/meta.json
  Resources/Textures/Objects/Misc/pens.rsi/overpriced_pen.png
  Resources/Textures/Objects/Misc/pens.rsi/pen-inhand-left.png
  Resources/Textures/Objects/Misc/pens.rsi/pen-inhand-right.png
  Resources/Textures/Objects/Misc/pens.rsi/pen.png
  Resources/Textures/Objects/Misc/pens.rsi/pen_blue.png
  Resources/Textures/Objects/Misc/pens.rsi/pen_cap.png
  Resources/Textures/Objects/Misc/pens.rsi/pen_centcom.png
  Resources/Textures/Objects/Misc/pens.rsi/pen_hop.png
  Resources/Textures/Objects/Misc/pens.rsi/pen_red.png
Labels: Changes: Audio, Changes: Sprite

oops, lil fix
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: none

Update SpeakOnUseSystem.cs
  Content.Server/Chat/Systems/SpeakOnUseSystem.cs
Labels: Changes: C#

Meow
  Content.Client/FlavorText/FlavorText.xaml
  Content.Client/FlavorText/FlavorText.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/UserInterface/Controls/NeoTabContainer.xaml.cs
  Content.Server.Database/Model.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Resources/Locale/en-US/preferences/ui/flavor-text.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

Migration
  Content.Server.Database/Migrations/Postgres/20250815224711_CharacterConsent.Designer.cs
  Content.Server.Database/Migrations/Postgres/20250815224711_CharacterConsent.cs
  Content.Server.Database/Migrations/Sqlite/20250815224645_CharacterConsent.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20250815224645_CharacterConsent.cs
  Content.Server.Database/Migrations/Sqlite/SqliteServerDbContextModelSnapshot.cs
Labels: Changes: C#

Added lines
  Resources/Locale/en-US/datasets/figurines.ftl
  Resources/Prototypes/Datasets/figurines.yml
Labels: Changes: Localization

small figurines voicelines update (#31167)
  Resources/Locale/en-US/datasets/figurines.ftl
  Resources/Prototypes/Datasets/figurines.yml
  Resources/Prototypes/Entities/Objects/Fun/figurines.yml
Labels: Changes: Localization

new boxer figurine voicelines (#31382)
  Resources/Locale/en-US/datasets/figurines.ftl
  Resources/Prototypes/Datasets/figurines.yml
Labels: Changes: Localization

A Bunch of New Figurine Voicelines (#36039)
  Resources/Locale/en-US/datasets/figurines.ftl
  Resources/Prototypes/Datasets/figurines.yml
  Resources/Prototypes/Entities/Objects/Fun/figurines.yml
Labels: Changes: Localization

in hand stuff
  Resources/Textures/Objects/Fun/figurines.rsi/inhand-left.png
  Resources/Textures/Objects/Fun/figurines.rsi/inhand-right.png
Labels: Changes: Sprite

Update meta.json
  Resources/Textures/Objects/Fun/figurines.rsi/meta.json
Labels: Changes: Sprite

Update figurines.yml
  Resources/Prototypes/Entities/Objects/Fun/figurines.yml
Labels: none

Make Head Augment Markings Colorable & Glow
  Resources/Locale/en-US/_ADT/markings/augments.ftl
  Resources/Prototypes/_ADT/Mobs/Customization/augments/misc.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/slime.yml
  Resources/Textures/_ADT/Mobs/Customization/augments/headaugs.rsi/beholder.png
  Resources/Textures/_ADT/Mobs/Customization/augments/headaugs.rsi/beholderglow.png
  Resources/Textures/_ADT/Mobs/Customization/augments/headaugs.rsi/iron_jaw.png
  Resources/Textures/_ADT/Mobs/Customization/augments/headaugs.rsi/malstrem.png
  Resources/Textures/_ADT/Mobs/Customization/augments/headaugs.rsi/malstremglow.png
  Resources/Textures/_ADT/Mobs/Customization/augments/headaugs.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Cleanup
  Content.Client/FlavorText/FlavorText.xaml.cs
  Content.Server/Cloning/CloningSystem.Utility.cs
  Content.Server/_Floof/Consent/ConsentSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: Changes: C#, Changes: UI

Added the unmentionables
  Resources/Prototypes/_DEN/Loadouts/lewd.yml
  Resources/Prototypes/_Floof/CharacterItemGroups/funGroup.yml
  Resources/Prototypes/_Floof/Loadouts/itemsLewd.yml
Labels: none

Update figurines.yml
  Resources/Prototypes/Entities/Objects/Fun/figurines.yml
Labels: none

Update figurines.yml
  Resources/Prototypes/Entities/Objects/Fun/figurines.yml
Labels: none

Update itemgroups.ftl
  Resources/Locale/en-US/Floof/loadouts/itemgroups.ftl
Labels: Changes: Localization

turbebele necks
  Resources/Prototypes/_DEN/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/uniform.yml
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpskirt/whiteturtleskirt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpskirt/whiteturtleskirt.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpskirt/whiteturtleskirt.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpskirt/whiteturtleskirt.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpskirt/whiteturtleskirt.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/whiteturtleneck.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/whiteturtleneck.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/whiteturtleneck.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/whiteturtleneck.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/whiteturtleneck.rsi/meta.json
Labels: Changes: Sprite

shitcode kinda tbh
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml.cs
  Content.Server/_Floof/Consent/ServerConsentManager.cs
  Content.Shared/_Floof/Consent/PlayerConsentSettings.cs
Labels: Changes: C#, Changes: UI

wooif
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml.cs
  Content.Server/_Floof/Consent/ServerConsentManager.cs
  Content.Shared/_Floof/Consent/PlayerConsentSettings.cs
Labels: Changes: C#, Changes: UI

Moar tweeeeks
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: Map

giving OnAdd to the arms
  Content.Server/_DEN/Traits/TraitSystem.Functions.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/_Shitmed/BodyEffects/BodyPartEffectSystem.cs
Labels: Changes: C#

should fix 'concealed' bionic arms
  Content.Server/_DEN/Traits/TraitSystem.Functions.cs
Labels: Changes: C#

cleaning up unnecessary code
  Content.Server/_DEN/Traits/TraitSystem.Functions.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/_Shitmed/BodyEffects/BodyPartEffectSystem.cs
Labels: Changes: C#

oops
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
Labels: Changes: C#

missed something
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
Labels: Changes: C#

Add files via upload
  Resources/Maps/Shuttles/TheDen/NT-Hammerhead.yml
Labels: Changes: Map

fix: atmosian armor un-fixed
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
Labels: none

initial commit. new sprites added.
  Resources/Prototypes/_DV/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/_DV/Entities/Structures/Doors/Airlocks/assembly.yml
Labels: none

added stam resist to all armour and tacsuits.
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_EE/Entities/Clothing/SolAlliance/SAN/outerwear.yml
  Resources/Prototypes/_Floof/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/armour.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/armor.yml
Labels: none

Update Credits
  Resources/Credits/GitHub.txt
Labels: none
