Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

Introduce an AI shop system (#3610)
  Content.Client/_DV/Silicons/StationAiShopSystem.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Server/_DV/Silicons/StationAiShopSystem.cs
  Content.Shared/Store/Components/StoreComponent.cs
  Content.Shared/_DV/Silicons/SharedStationAiShopSystem.cs
  Content.Shared/_DV/Silicons/StationAiShopComponent.cs
  Resources/Locale/en-US/_DV/store/ai-catalog.ftl
  Resources/Locale/en-US/_DV/store/currency.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/_DV/Actions/station_ai.yml
  Resources/Prototypes/_DV/Catalog/ai_catalog.yml
  Resources/Prototypes/_DV/Store/categories.yml
  Resources/Prototypes/_DV/Store/currency.yml
  Resources/Prototypes/_DV/tags.yml
  Resources/Textures/_DV/Interface/Actions/actions_ai.rsi/bike_horn.png
  Resources/Textures/_DV/Interface/Actions/actions_ai.rsi/emergency_sealant.png
  Resources/Textures/_DV/Interface/Actions/actions_ai.rsi/holopointer.png
  Resources/Textures/_DV/Interface/Actions/actions_ai.rsi/light_synthesizer.png
  Resources/Textures/_DV/Interface/Actions/actions_ai.rsi/meta.json
  Resources/Textures/_DV/Interface/Actions/actions_ai.rsi/nanites.png
  Resources/Textures/_DV/Interface/Actions/actions_ai.rsi/rgb_lighting.png
  Resources/Textures/_DV/Interface/Actions/actions_ai.rsi/store.png
  Resources/Textures/_DV/Objects/Misc/holopointer.rsi/meta.json
  Resources/Textures/_DV/Objects/Misc/holopointer.rsi/target_box.png
  Resources/Textures/_DV/Objects/Misc/holopointer.rsi/target_circle.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite

FIxes and increased memory to allow for total purchase of store inventory
  Content.Server/Spreader/SpreaderSystem.cs
  Content.Shared/Spreader/EdgeSpreaderPrototype.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Changes: C#

Add name to AI eye (#39177)
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Resources/Locale/en-US/silicons/station-ai.ftl
Labels: Changes: C#, Changes: Localization

duplicate tag
  Resources/Prototypes/_DV/tags.yml
Labels: none

actually add law 0 to drones
  Resources/Prototypes/silicon-laws.yml
Labels: none

MotherDrone is an AI lawset, dummy
  Resources/Prototypes/silicon-laws.yml
Labels: none

typo in code
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: none

Increased number of sleeper agents able to roll up to 5, depending on total players.
  Resources/Prototypes/GameRules/events.yml
Labels: none

Added Traitors to Hellshift, because roundstart traitors basically can't roll on high danger.
  Resources/Prototypes/_DEN/GameRules/roundstart.yml
  Resources/Prototypes/game_presets.yml
Labels: none

Fixed Hellshifts not happening lol. BRING IT ON. >:3
  Content.Server/_DEN/GameTicking/GameTicker.FakePreset.cs
  Resources/Prototypes/_DEN/random_presets.yml
  git diff
Labels: Changes: C#

Added Traitor to Survival since its only a high danger gamemode
  Resources/Prototypes/game_presets.yml
Labels: none

lmao cleanup
  Content.Server/_DEN/GameTicking/GameTicker.FakePreset.cs
  git diff
Labels: Changes: C#

Removed traitor minimum for High Danger in case of the very low chance that there are less than 5 people playing.
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_DEN/game_presets.yml
Labels: none

Fixed Fibers of the Mechanical Gloves
  Resources/Locale/en-US/forensics/fibers.ftl
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
Labels: Changes: Localization

Made Mechanical Gloves hide fingerprints
  Resources/Prototypes/_Shitmed/Entities/Clothing/Hands/gloves.yml
Labels: none

Fix other surgical gloves show fingerprints
  Resources/Prototypes/_DV/Entities/Clothing/Hands/gloves.yml
Labels: none

replicator NV
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicators.yml
Labels: none

gives spiders NV
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: none

remove xenos hands - they literally don't do shit
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
Labels: none

xenos and remove sound for spiders
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
Labels: none

A little worried that people will be too scared to vote high danger so changing percents.
  Resources/Prototypes/_DEN/random_presets.yml
Labels: none

Give Working Pets ID, Radio and Pocketslots
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_DEN/InventoryTemplates/workingpet_inventory_template.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/pets.yml
Labels: none

Update lighthouse.yml
  Resources/Maps/TheDen/lighthouse.yml
Labels: Changes: Map

wow
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Changes: Map

Update lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Changes: Map

combined currency with pAI
  Resources/Locale/en-US/_DV/store/ai-catalog.ftl
  Resources/Locale/en-US/_DV/store/currency.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_DV/Catalog/ai_catalog.yml
  Resources/Prototypes/_DV/Store/currency.yml
Labels: Changes: Localization

AI no longer destroys small light bulbs when using Light Synthesizer. (#4032)
  Content.Server/_DV/Silicons/StationAiShopSystem.cs
  Content.Shared/_DV/Silicons/StationAiShopComponent.cs
  Resources/Prototypes/_DV/Actions/station_ai.yml
Labels: Changes: C#

Sentimental Collar
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/_DEN/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Textures/_DEN/Clothing/Neck/Misc/sentimentalcollar.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/sentimentalcollar.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/sentimentalcollar.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/sentimentalcollar.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/sentimentalcollar.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

neckfluff and backfluff
  Resources/Locale/en-US/_DEN/markings/reptilianandvulpkanin.ftl
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/vulpkaninmarks.yml
  Resources/Textures/_DEN/Mobs/Customization/Vulpkanin/backmarks.rsi/backgerm.png
  Resources/Textures/_DEN/Mobs/Customization/Vulpkanin/backmarks.rsi/backupper.png
  Resources/Textures/_DEN/Mobs/Customization/Vulpkanin/backmarks.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Vulpkanin/neckfluff.rsi/bandanafluff.png
  Resources/Textures/_DEN/Mobs/Customization/Vulpkanin/neckfluff.rsi/bigfluff.png
  Resources/Textures/_DEN/Mobs/Customization/Vulpkanin/neckfluff.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Vulpkanin/neckfluff.rsi/smallfluff.png
Labels: Changes: Localization, Changes: Sprite

Buff Silvia
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/pets.yml
Labels: none

Buff Laika
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/animals.yml
Labels: none

Rename NT-Hammerhead.yml to nt_hammerhead.yml
  Resources/Maps/Shuttles/TheDen/nt_hammerhead.yml
Labels: Changes: Map

namespace oops
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Prototypes/StatusIcon/job.yml
Labels: none

magistrate PDA
  Resources/Prototypes/_DEN/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/magistrate.yml
Labels: none

ntr kill
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/nanotrasenrepresentative.png
Labels: Changes: Sprite

Bionic arms nerf/speed legs restriction
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_Shitmed/Body/Parts/cybernetic.yml
Labels: none

toy with things
  Resources/Prototypes/GameRules/roundstart.yml
Labels: none

meow
  Resources/Prototypes/_DEN/random_presets.yml
Labels: none

80% no hellshift
  Resources/Prototypes/_DEN/random_presets.yml
Labels: none

one more!!!!
  Resources/Locale/en-US/_DEN/markings/reptilianandvulpkanin.ftl
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/vulpkaninmarks.yml
  Resources/Textures/_DEN/Mobs/Customization/Vulpkanin/backmarks.rsi/backwhole.png
  Resources/Textures/_DEN/Mobs/Customization/Vulpkanin/backmarks.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
