Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

Automated changelog update (#2686)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Atmos Gasmask in Senior Engineering Loadout
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/seniorEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/chiefEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/seniorEngineer.yml
Labels: none

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

[Bounty{ You Can No Longer Butcher Items with Items Inside of Them (#2679)
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
  Resources/Locale/en-US/_DEN/kitchen/butcherable.ftl
Labels: Changes: C#, Changes: Localization

Automated changelog update (#2679)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: [Bounty{ You Can No Longer Butcher Items with Items Inside of Them
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
  Resources/Locale/en-US/_DEN/kitchen/butcherable.ftl
Labels: Changes: C#, Changes: Localization

Add Missing Cartridges to Admin Pdas (#2676)
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: none

Automated changelog update (#2676)
  Resources/Changelog/Den.yml
Labels: none

evil and bad and fucked up way to control cybereye hud
  Content.Shared/_DEN/Actions/CybereyeControlEvent.cs
  Content.Shared/_DEN/CybereyeControl/Components/BaseCybereyeControlComponent.cs
  Content.Shared/_DEN/CybereyeControl/Components/CybereyeControlComponent.cs
  Content.Shared/_DEN/CybereyeControl/Components/DiagCybereyeControlComponent.cs
  Content.Shared/_DEN/CybereyeControl/Components/MedCybereyeControlComponent.cs
  Content.Shared/_DEN/CybereyeControl/Components/OmniCybereyeControlComponent.cs
  Content.Shared/_DEN/CybereyeControl/Components/SecCybereyeControlComponent.cs
  Content.Shared/_DEN/CybereyeControl/SharedCybereyeControlSystem.cs
  Content.Shared/_DEN/CybereyeControl/readme.txt
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_DEN/Actions/cybereye_control.yml
Labels: Changes: C#

Revert "whoops"
  Content.Shared/Overlays/BaseEquipmentHudComponent.cs
Labels: Changes: C#

Revert "make huds inherit from base comp"
  Content.Shared/Overlays/BaseEquipmentHudComponent.cs
  Content.Shared/Overlays/ShowCriminalRecordIconsComponent.cs
  Content.Shared/Overlays/ShowHealthBarsComponent.cs
  Content.Shared/Overlays/ShowHealthIconsComponent.cs
  Content.Shared/Overlays/ShowHungerIconsComponent.cs
  Content.Shared/Overlays/ShowJobIconsComponent.cs
  Content.Shared/Overlays/ShowMindShieldIconsComponent.cs
  Content.Shared/Overlays/ShowPsionicsRecordIconsSystem.cs
  Content.Shared/Overlays/ShowSyndicateIconsComponent.cs
  Content.Shared/Overlays/ShowThirstIconsComponent.cs
  Content.Shared/Overlays/Systems/SharedEquipmentHudSystem.cs
Labels: Changes: C#

actually use the return value
  Content.Shared/_DEN/CybereyeControl/SharedCybereyeControlSystem.cs
Labels: Changes: C#

fix inheritance
  Content.Shared/_DEN/CybereyeControl/Components/BaseCybereyeControlComponent.cs
  Content.Shared/_DEN/CybereyeControl/Components/CybereyeControlComponent.cs
Labels: Changes: C#

fix wrong component type for event
  Content.Shared/_DEN/CybereyeControl/SharedCybereyeControlSystem.cs
Labels: Changes: C#

don't register abstract component
  Content.Shared/_DEN/CybereyeControl/Components/BaseCybereyeControlComponent.cs
Labels: Changes: C#

Evil and Fucked up Way to Make HUD From Cybereyes Toggleable (#2688)
  Content.Shared/_DEN/Actions/CybereyeControlEvent.cs
  Content.Shared/_DEN/CybereyeControl/Components/BaseCybereyeControlComponent.cs
  Content.Shared/_DEN/CybereyeControl/Components/CybereyeControlComponent.cs
  Content.Shared/_DEN/CybereyeControl/Components/DiagCybereyeControlComponent.cs
  Content.Shared/_DEN/CybereyeControl/Components/MedCybereyeControlComponent.cs
  Content.Shared/_DEN/CybereyeControl/Components/OmniCybereyeControlComponent.cs
  Content.Shared/_DEN/CybereyeControl/Components/SecCybereyeControlComponent.cs
  Content.Shared/_DEN/CybereyeControl/SharedCybereyeControlSystem.cs
  Content.Shared/_DEN/CybereyeControl/readme.txt
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_DEN/Actions/cybereye_control.yml
Labels: Changes: C#

Automated changelog update (#2688)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Evil and Fucked up Way to Make HUD From Cybereyes Toggleable
  Content.Shared/_DEN/Actions/CybereyeControlEvent.cs
  Content.Shared/_DEN/CybereyeControl/Components/BaseCybereyeControlComponent.cs
  Content.Shared/_DEN/CybereyeControl/Components/CybereyeControlComponent.cs
  Content.Shared/_DEN/CybereyeControl/Components/DiagCybereyeControlComponent.cs
  Content.Shared/_DEN/CybereyeControl/Components/MedCybereyeControlComponent.cs
  Content.Shared/_DEN/CybereyeControl/Components/OmniCybereyeControlComponent.cs
  Content.Shared/_DEN/CybereyeControl/Components/SecCybereyeControlComponent.cs
  Content.Shared/_DEN/CybereyeControl/SharedCybereyeControlSystem.cs
  Resources/Prototypes/_DEN/Actions/cybereye_control.yml
Labels: Changes: C#

fix: gunselected timespan overflow exception
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Interactions.cs
Labels: Changes: C#

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

swap to isaac
  Resources/Locale/en-US/datasets/names/first.ftl
Labels: Changes: Localization

swap to isaac
  Resources/Locale/en-US/datasets/names/first_male.ftl
Labels: Changes: Localization

Game preset changes, added Redshift, tweaked EMA, Traitor, Conspiracy, and Survival.
  Resources/Locale/en-US/_DEN/game-ticking/game-presets/preset-redshift.ftl
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_DEN/GameRules/roundstart.yml
  Resources/Prototypes/_DEN/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: Localization

Game Mode Tweaks and Additions (#2690)
  Resources/Locale/en-US/_DEN/game-ticking/game-presets/preset-redshift.ftl
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_DEN/GameRules/roundstart.yml
  Resources/Prototypes/_DEN/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: Localization

Automated changelog update (#2690)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Game Mode Tweaks and Additions
  Resources/Locale/en-US/_DEN/game-ticking/game-presets/preset-redshift.ftl
  Resources/Prototypes/_DEN/GameRules/roundstart.yml
  Resources/Prototypes/_DEN/game_presets.yml
Labels: Changes: Localization

mathematically this should be everything remaining that wasnt committed. im going to throw a fit otherwise
  Resources/Prototypes/Entities/Objects/Tools/gps.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Mantis/handheldcomputers.yml
  Resources/Prototypes/_DEN/Entities/Objects/Tools/handheld_atmospherics_monitor.yml
  Resources/Textures/Objects/Specific/Medical/handheldcrewmonitor.rsi/icon.png
  Resources/Textures/Objects/Specific/Medical/handheldcrewmonitor.rsi/meta.json
  Resources/Textures/_DEN/Objects/Devices/gps.rsi/gps-inhand-left.png
  Resources/Textures/_DEN/Objects/Devices/gps.rsi/gps-inhand-right.png
  Resources/Textures/_DEN/Objects/Devices/gps.rsi/gps.png
  Resources/Textures/_DEN/Objects/Devices/gps.rsi/icon.png
  Resources/Textures/_DEN/Objects/Devices/gps.rsi/meta.json
  Resources/Textures/_DEN/Objects/Specific/Command/handheld_fax_machine.rsi/fax.png
  Resources/Textures/_DEN/Objects/Specific/Command/handheld_fax_machine.rsi/icon.png
  Resources/Textures/_DEN/Objects/Specific/Command/handheld_fax_machine.rsi/idle.png
  Resources/Textures/_DEN/Objects/Specific/Command/handheld_fax_machine.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Specific/Command/handheld_fax_machine.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Specific/Command/handheld_fax_machine.rsi/inserting.png
  Resources/Textures/_DEN/Objects/Specific/Command/handheld_fax_machine.rsi/meta.json
  Resources/Textures/_DEN/Objects/Specific/Command/handheld_fax_machine.rsi/printing.png
  Resources/Textures/_DEN/Objects/Specific/Mantis/handheldcrewmonitormantis.rsi/icon.png
  Resources/Textures/_DEN/Objects/Specific/Mantis/handheldcrewmonitormantis.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Specific/Mantis/handheldcrewmonitormantis.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Specific/Mantis/handheldcrewmonitormantis.rsi/meta.json
  Resources/Textures/_DEN/Objects/Specific/Mantis/handheldcrewmonitormantis.rsi/psion_monitor.png
  Resources/Textures/_DEN/Objects/Specific/Mantis/handheldpsionicsregistry.rsi/icon.png
  Resources/Textures/_DEN/Objects/Specific/Mantis/handheldpsionicsregistry.rsi/meta.json
  Resources/Textures/_DEN/Objects/Specific/Mantis/handheldpsionicsregistry.rsi/psion_registry.png
  Resources/Textures/_DEN/Objects/Specific/Mantis/handheldpsionicsregistry.rsi/screen.png
  Resources/Textures/_DEN/Objects/Specific/Medical/handheldcrewmonitormantis.rsi/icon.png
  Resources/Textures/_DEN/Objects/Specific/Medical/handheldcrewmonitormantis.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Specific/Medical/handheldcrewmonitormantis.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Specific/Medical/handheldcrewmonitormantis.rsi/screen.png
  Resources/Textures/_DEN/Objects/Tools/handheld_atmospherics_monitor.rsi/atmomon-inhand-left.png
  Resources/Textures/_DEN/Objects/Tools/handheld_atmospherics_monitor.rsi/atmomon-inhand-right.png
  Resources/Textures/_DEN/Objects/Tools/handheld_atmospherics_monitor.rsi/atmospherics_monitor.png
  Resources/Textures/_DEN/Objects/Tools/handheld_atmospherics_monitor.rsi/icon.png
  Resources/Textures/_DEN/Objects/Tools/handheld_atmospherics_monitor.rsi/meta.json
  Resources/Textures/_DEN/Objects/Tools/handheld_atmospherics_monitor.rsi/scanner.png
  Resources/Textures/_DEN/Objects/Tools/handheld_power_monitor.rsi/meta.json
Labels: Changes: Sprite

Automated changelog update (#2490)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Resprites + Minor Tweaks to Handheld Consoles
  Resources/Prototypes/Entities/Objects/Devices/station_map.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Tools/gps.yml
  Resources/Prototypes/Entities/Objects/Tools/handheld_mass_scanner.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Mantis/handheldcomputers.yml
  Resources/Prototypes/_DEN/Entities/Objects/Tools/handheld_atmospherics_monitor.yml
  Resources/Prototypes/_DEN/Entities/Objects/Tools/handheld_power_monitor.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_Goobstation/Entities/Specific/bso.yml
Labels: none

ya
  Resources/Prototypes/_DEN/Stacks/floor_tile_stacks.yml
Labels: none

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

Updated Population per June's ORDERS
  Resources/Prototypes/Maps/tortuga.yml
Labels: Changes: Map

Tortuga Rework Project: Part One (#2694)
  Resources/Prototypes/Maps/tortuga.yml
Labels: Changes: Map

Automated changelog update (#2694)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Tortuga Rework Project: Part One
  Resources/Prototypes/Maps/tortuga.yml
Labels: Changes: Map

Update .gitmodules
  .gitmodules
Labels: none

hardcode engine version
  Tools/publish_multi_request_new.py
Labels: none

feat: toggle prone
  Content.Shared/Standing/SharedLayingDownSystem.cs
  Content.Shared/_DEN/CCVars/DenCCVars.cs
Labels: Changes: C#

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
