Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

Fix .characters formatting
  Content.Server/_DEN/Discord/InGameCommands.cs
Labels: Changes: C#

Remove unused dependency
  Content.Server/_DEN/Discord/InGameCommands.cs
Labels: Changes: C#

better commands + cleanup
  Content.Server/Discord/DiscordLink/DiscordLink.cs
  Content.Server/_DEN/Discord/DiscordArguments.cs
  Content.Server/_DEN/Discord/DiscordUserLink.Helpers.cs
  Content.Server/_DEN/Discord/DiscordUserLink.cs
  Content.Server/_DEN/Discord/InGameCommands.Helpers.cs
  Content.Server/_DEN/Discord/InGameCommands.Player.cs
  Content.Server/_DEN/Discord/InGameCommands.ServerInfo.cs
  Content.Server/_DEN/Discord/InGameCommands.cs
Labels: Changes: C#

Remove quotes and properly use RemoveRange
  Content.Server/Discord/DiscordLink/DiscordLink.cs
Labels: Changes: C#

oops invert this check
  Content.Server/DetailExaminable/DetailExaminableSystem.cs
Labels: Changes: C#

comment
  Content.Server/DetailExaminable/DetailExaminableComponent.cs
Labels: Changes: C#

UI stuff
  Content.Client/FlavorText/FlavorText.xaml
  Content.Client/FlavorText/FlavorText.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/_DEN/Lobby/UI/FlavorText/FlavorTextEntry.xaml
  Content.Client/_DEN/Lobby/UI/FlavorText/FlavorTextEntry.xaml.cs
  Resources/Locale/en-US/_DEN/preferences/ui/flavor-text.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

make consent flavor text label more consistnet
  Resources/Locale/en-US/_DEN/preferences/ui/flavor-text.ftl
Labels: Changes: Localization

add one word
  Resources/Locale/en-US/_DEN/preferences/ui/flavor-text.ftl
Labels: Changes: Localization

add self-examine flavor datafield to profiles
  Content.Server.Database/Migrations/Postgres/20251007015109_AddSelfDetailFlavorText.Designer.cs
  Content.Server.Database/Migrations/Postgres/20251007015109_AddSelfDetailFlavorText.cs
  Content.Server.Database/Migrations/Sqlite/20251007015023_AddSelfDetailFlavorText.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20251007015023_AddSelfDetailFlavorText.cs
  Content.Server.Database/Migrations/Sqlite/SqliteServerDbContextModelSnapshot.cs
  Content.Server.Database/Model.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: Changes: C#

finish the self-examine UI stuff
  Content.Client/FlavorText/FlavorText.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: C#, Changes: UI

actually spawn entities with the self-examine flavor
  Content.Server/Cloning/CloningSystem.Utility.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
Labels: Changes: C#

remove pipe stacking
  Content.Server/Atmos/EntitySystems/PipeRestrictOverlapSystem.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/teg.yml
Labels: Changes: C#

add examine tooltip width slider
  Content.Client/Examine/ExamineSystem.cs
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Shared/_DEN/CCVars/DenCCVars.cs
  Resources/Locale/en-US/_DEN/escape-menu/options-menu.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

actually im gonna not do a stack overflow here
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
Labels: Changes: C#, Changes: UI

whitespace andy
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
Labels: Changes: C#, Changes: UI

Trying to make airloss immunity tied to core.
  Resources/Prototypes/Body/Organs/shadowkin.yml
Labels: none

Made the core unremovable via surgery.
  Resources/Prototypes/Body/Organs/shadowkin.yml
Labels: none

Finishing touches... maybe.
  Content.Shared/_DEN/BloodlossInCrit/BloodlossInCritComponent.cs
  Content.Shared/_DEN/BloodlossInCrit/BloodlossInCritSystem.cs
  Resources/Prototypes/Body/Organs/shadowkin.yml
Labels: Changes: C#

First batch of chemical damages edited.
  Resources/Prototypes/Reagents/toxins.yml
Labels: none

Finished tweaking the rest of the remaining chems.
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/_CD/Reagents/medicine.yml
Labels: none

Trying to get muzzle flash and impacts to work.
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Projectiles/muzzleflashes.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/energybolts.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/impacts/impact_pulse.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/impacts/impact_stun.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/impacts/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/muzzle_pulse.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/muzzle_stun.png
Labels: Changes: Sprite

Plasma/uranium directional windows now block radiation.
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
Labels: none

Fixing door remotes and blast doors
  Resources/Prototypes/Entities/Structures/Doors/Shutter/blast_door.yml
Labels: none

feat: station event visuals
  Content.Client/StationEvents/IonStormOverlay.cs
  Content.Client/StationEvents/IonStormVisualsSystem.cs
  Content.Client/StationEvents/SolarFlareOverlay.cs
  Content.Client/StationEvents/SolarFlareVisualsFadeState.cs
  Content.Client/StationEvents/SolarFlareVisualsSystem.cs
  Content.Server/Station/Systems/StationSystem.cs
  Content.Server/StationEvents/Events/IonStormRule.cs
  Content.Server/StationEvents/Events/SolarFlareRule.cs
  Content.Shared/DrawDepth/DrawDepth.cs
  Content.Shared/Station/Components/StationMemberComponent.cs
  Content.Shared/StationEvents/Events/IonStormedEvent.cs
  Content.Shared/StationEvents/Events/SolarFlareEndedEvent.cs
  Content.Shared/StationEvents/Events/SolarFlareStartedEvent.cs
  Resources/Prototypes/Shaders/shaders.yml
  Resources/Textures/Shaders/goggles.swsl
  Resources/Textures/Shaders/ion_storm.swsl
  Resources/Textures/Shaders/solar_flare.swsl
  Resources/Textures/Shaders/xray.swsl
Labels: Changes: C#

fix touch of grass to not be alcoholic
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/alcohol.yml
Labels: none

fix?
  Content.Server/Station/Systems/StationSystem.cs
Labels: Changes: C#

tweak 2 electric boogaloo
  Content.Server/Station/Systems/StationSystem.cs
Labels: Changes: C#

renamed file
  Content.Shared/Station/Components/StationMemberSharedComponent.cs
Labels: Changes: C#

fix perhappers
  Content.Server/Station/Systems/StationSystem.cs
Labels: Changes: C#

Network StationMember properly (#39509)
  Content.Server/Station/Systems/StationSystem.cs
  Content.Shared/Station/Components/StationMemberComponent.cs
Labels: Changes: C#

Fix replayghost spawning location (#30252)
  Content.Client/Replay/Spectator/ReplaySpectatorSystem.Position.cs
  Content.IntegrationTests/Tests/GameRules/NukeOpsTest.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/Administration/Logs/Converters/EntityCoordinatesConverter.cs
  Content.Server/Light/EntitySystems/EmergencyLightSystem.cs
  Content.Server/Power/EntitySystems/PowerMonitoringConsoleSystem.cs
  Content.Server/Respawn/SpecialRespawnSystem.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.Drone.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.GridFill.cs
  Content.Server/Station/Components/StationMemberComponent.cs
  Content.Server/Station/Systems/StationSystem.cs
  Content.Server/StationEvents/Events/BluespaceLockerRule.cs
  Content.Server/StationEvents/Events/BreakerFlipRule.cs
  Content.Server/StationEvents/Events/IonStormRule.cs
  Content.Server/StationEvents/Events/PowerGridCheckRule.cs
  Content.Server/StationEvents/Events/VentClogRule.cs
  Content.Server/StationEvents/Events/VentCrittersRule.cs
  Content.Server/Storage/EntitySystems/BluespaceLockerSystem.cs
  Content.Shared/Station/Components/StationMemberComponent.cs
Labels: Changes: C#

feat: station event visuals
  Content.Client/StationEvents/IonStormOverlay.cs
  Content.Client/StationEvents/IonStormVisualsSystem.cs
  Content.Client/StationEvents/SolarFlareOverlay.cs
  Content.Client/StationEvents/SolarFlareVisualsFadeState.cs
  Content.Client/StationEvents/SolarFlareVisualsSystem.cs
  Content.Server/Station/Systems/StationSystem.cs
  Content.Server/StationEvents/Events/IonStormRule.cs
  Content.Server/StationEvents/Events/SolarFlareRule.cs
  Content.Shared/DrawDepth/DrawDepth.cs
  Content.Shared/Station/Components/StationMemberComponent.cs
  Content.Shared/StationEvents/Events/IonStormedEvent.cs
  Content.Shared/StationEvents/Events/SolarFlareEndedEvent.cs
  Content.Shared/StationEvents/Events/SolarFlareStartedEvent.cs
  Resources/Prototypes/Shaders/shaders.yml
  Resources/Textures/Shaders/goggles.swsl
  Resources/Textures/Shaders/ion_storm.swsl
  Resources/Textures/Shaders/solar_flare.swsl
  Resources/Textures/Shaders/xray.swsl
Labels: Changes: C#

fix i think?
  Content.Shared/Station/Components/StationMemberComponent.cs
Labels: Changes: C#

fix again
  Content.Server/StationEvents/Events/IonStormRule.cs
Labels: Changes: C#

fix
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
Labels: Changes: C#

BRDI P-15 is code functional. Needs sprites still.
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
Labels: none

removed dirty of stationData
  Content.Server/Station/Systems/StationSystem.cs
Labels: Changes: C#

E
  Resources/Maps/TheDen/arena.yml
  Resources/Maps/TheDen/havoc.yml
  Resources/Prototypes/CharacterItemGroups/Generic/miscItemGroups.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Fun/prizeticket.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/Recipes/Lathes/prizecounter.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/FoodSequence/mothic_sequence_element.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/prize_counter.yml
Labels: Changes: Map

easy fix
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/vox.yml
Labels: none
