Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

added privacy holoprojectors to dressers
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
Labels: none

Engi lathe additions
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/engineering_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/protolathe.yml
Labels: none

added holoprojectors to the admin bag
  Resources/Prototypes/_DEN/Entities/Objects/Misc/admin.yml
Labels: none

added nsfw holoprojectors
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
Labels: none

dressers enlargened
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
Labels: none

make casters EMP immune
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Ammunition/Cells/casters.yml
Labels: none

adds holopads to nyx and striker
  Resources/Maps/Shuttles/ShuttleEvent/striker.yml
  Resources/Maps/Shuttles/TheDen/NTRF_Nyx.yml
Labels: Changes: Map

allowed disposable syringes to medical belt whitelist, allow compact defibs to fit in the storage slot
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: none

awagga
  Content.Server/_DEN/Paint/PaintSystem.cs
Labels: Changes: C#

tactical maid costume bundle
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/_DEN/CharacterItemGroups/Loadouts/miscItems.yml
  Resources/Prototypes/_DEN/Entities/Objects/Storage/costumes.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/costumes.yml
Labels: none

fix spawner sprite
  Resources/Prototypes/_DEN/Entities/Structures/furniture/memorial.yml
Labels: none

fix ID
  Resources/Prototypes/_DEN/Entities/Structures/Doors/Airlocks/somberairlocks.yml
Labels: none

YAMLLinter problems
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro_tails.yml
  Resources/Textures/_Floof/Mobs/Customization/Skyratears/miqote.rsi/m_ears_miqote_ADJ_primary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyratears/miqote.rsi/m_ears_miqote_ADJ_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyratears/miqote.rsi/m_ears_miqote_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyratears/miqote.rsi/m_ears_miqote_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyratears/miqote.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyratears/sabresune.rsi/m_ears_extra_sabresune_ADJ.png
  Resources/Textures/_Floof/Mobs/Customization/Skyratears/sabresune.rsi/m_ears_extra_sabresune_FRONT.png
  Resources/Textures/_Floof/Mobs/Customization/Skyratears/sabresune.rsi/m_ears_sabresune_ADJ_primary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyratears/sabresune.rsi/m_ears_sabresune_ADJ_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyratears/sabresune.rsi/m_ears_sabresune_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyratears/sabresune.rsi/m_ears_sabresune_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyratears/sabresune.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/catbig.rsi/m_waggingtail_catbig_BEHIND.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/lunasune.rsi/m_tail_lunasune_BEHIND.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/lunasune.rsi/m_tail_lunasune_FRONT.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/lunasune.rsi/m_waggingtail_lunasune_BEHIND.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/lunasune.rsi/m_waggingtail_lunasune_FRONT.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/lunasune.rsi/meta.json
Labels: Changes: Sprite

sorting polish
  Resources/Migrations/migration.yml
  Resources/Prototypes/_DEN/Entities/Structures/Doors/Airlocks/somberairlocks.yml
  Resources/Prototypes/_DEN/Entities/Structures/Machines/holopad.yml
  Resources/Prototypes/_SHA/everything.yml
Labels: none

shit will break but i'm saving my progress
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/fountain.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/fountaindrains-fill-1.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/fountaindrains.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/fountainstreams.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/fountainstreamshine.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/fountainwater.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/fountainwatershine.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/halfringfountain.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/halfringfountaindrains-fill-1.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/halfringfountaindrains.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/halfringstreams.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/halfringstreamshine.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/meta.json
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/quarterringfountain.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/quarterringfountaindrains-fill-1.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/quarterringfountaindrains.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/quarterringstreams.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/quarterringstreamshine.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/ringfountain.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/ringfountainNE.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/ringfountainNEdrains-fill-1.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/ringfountainNEdrains.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/ringfountainNW.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/ringfountainNWdrains-fill-1.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/ringfountainNWdrains.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/ringfountaindrains-fill-1.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/ringfountaindrains.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/ringstreams.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/ringstreamsNE.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/ringstreamsNW.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/ringstreamshine.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/ringstreamshineNE.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/ringstreamshineNW.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/streams.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/streamshine.png
  Resources/Textures/_DEN/Tiles/Planet/Somber/water.rsi/meta.json
Labels: Changes: Sprite

fountain update
  Resources/Prototypes/_DEN/Entities/Structures/Decoration/fountains.yml
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/quarterringfountain.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/quarterringfountaindrains-fill-1.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/quarterringfountaindrains.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/quarterringstreams.png
  Resources/Textures/_DEN/Structures/Decoration/somberfountains-96x.rsi/quarterringstreamshine.png
  Resources/Textures/_DEN/Tiles/Planet/Somber/water.rsi/meta.json
Labels: Changes: Sprite

offsets
  Resources/Prototypes/_DEN/Entities/Structures/Decoration/fountains.yml
Labels: none

occluder directional windows
  Resources/Prototypes/_DEN/Entities/Structures/Windows/somber.yml
Labels: none

add new laika sprites
  Resources/Textures/_DEN/Mobs/Pets/laika.rsi/dog.png
  Resources/Textures/_DEN/Mobs/Pets/laika.rsi/dog_crit.png
  Resources/Textures/_DEN/Mobs/Pets/laika.rsi/dog_dead.png
  Resources/Textures/_DEN/Mobs/Pets/laika.rsi/meta.json
Labels: Changes: Sprite

Disable nukeOps (real)
  Resources/Prototypes/_DEN/game_presets.yml
  Resources/Prototypes/secret_weights.yml
Labels: none

spelling hard
  Resources/Prototypes/_DEN/game_presets.yml
Labels: none

yuup
  Resources/Prototypes/Stacks/medical_stacks.yml
Labels: none

lesbiansrejoice
  Resources/Locale/en-US/_DEN/silicons/cyberlimbs.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/Cyberlimbs/aeon.yml
  Resources/Textures/_DEN/Mobs/Customization/Cyberlimbs/aeon.rsi/l_foot_base.png
  Resources/Textures/_DEN/Mobs/Customization/Cyberlimbs/aeon.rsi/l_foot_marking.png
  Resources/Textures/_DEN/Mobs/Customization/Cyberlimbs/aeon.rsi/l_leg_base.png
  Resources/Textures/_DEN/Mobs/Customization/Cyberlimbs/aeon.rsi/l_leg_marking.png
  Resources/Textures/_DEN/Mobs/Customization/Cyberlimbs/aeon.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Cyberlimbs/aeon.rsi/r_foot_base.png
  Resources/Textures/_DEN/Mobs/Customization/Cyberlimbs/aeon.rsi/r_foot_marking.png
  Resources/Textures/_DEN/Mobs/Customization/Cyberlimbs/aeon.rsi/r_leg_base.png
  Resources/Textures/_DEN/Mobs/Customization/Cyberlimbs/aeon.rsi/r_leg_marking.png
Labels: Changes: Localization, Changes: Sprite

oops!
  Resources/Locale/en-US/_DEN/silicons/cyberlimbs.ftl
Labels: Changes: Localization

tweak: All maps start with no prisoners.
  Resources/Prototypes/Maps/anvil.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/baikal.yml
  Resources/Prototypes/Maps/barrier.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/edge.yml
  Resources/Prototypes/Maps/eternity.yml
  Resources/Prototypes/Maps/europa.yml
  Resources/Prototypes/Maps/gravel.yml
  Resources/Prototypes/Maps/hammurabi.yml
  Resources/Prototypes/Maps/havoc.yml
  Resources/Prototypes/Maps/hive.yml
  Resources/Prototypes/Maps/hivni.yml
  Resources/Prototypes/Maps/infinity.yml
  Resources/Prototypes/Maps/lambda.yml
  Resources/Prototypes/Maps/lighthouse.yml
  Resources/Prototypes/Maps/meridian.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/northway.yml
  Resources/Prototypes/Maps/perpetuity.yml
  Resources/Prototypes/Maps/radstation.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Maps/shoukou.yml
  Resources/Prototypes/Maps/submarine.yml
Labels: Changes: Map

energy weapon tweaks 2
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: none

bonus stuff
  Resources/Migrations/migration.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/shower.yml
  Resources/Prototypes/_DEN/Entities/Tiles/watersomber.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_SHA/Decals/somber_dark.rsi/meta.json
  Resources/Textures/_SHA/Decals/somber_dark.rsi/penthouse-lattice-balcony-N-inner.png
  Resources/Textures/_SHA/Decals/somber_dark.rsi/penthouse-lattice-balcony-S-inner.png
Labels: Changes: Sprite

why isn't there decal migration...
  Resources/Prototypes/_DEN/Decals/monotile_somber.yml
  Resources/Prototypes/_DEN/Decals/monotile_somber_dark.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Decals/monotile_somber.rsi/meta.json
  Resources/Textures/_DEN/Decals/monotile_somber.rsi/steel_inner_ne.png
  Resources/Textures/_DEN/Decals/monotile_somber.rsi/steel_inner_nw.png
  Resources/Textures/_DEN/Decals/monotile_somber.rsi/steel_inner_se.png
  Resources/Textures/_DEN/Decals/monotile_somber.rsi/steel_inner_sw.png
  Resources/Textures/_DEN/Decals/monotile_somber_dark.rsi/meta.json
  Resources/Textures/_DEN/Decals/monotile_somber_dark.rsi/steel_inner_ne.png
  Resources/Textures/_DEN/Decals/monotile_somber_dark.rsi/steel_inner_nw.png
  Resources/Textures/_DEN/Decals/monotile_somber_dark.rsi/steel_inner_se.png
  Resources/Textures/_DEN/Decals/monotile_somber_dark.rsi/steel_inner_sw.png
  Resources/Textures/_SHA/Decals/monotile_somber_dark.rsi/steel_trim_e.png
  Resources/Textures/_SHA/Decals/monotile_somber_dark.rsi/steel_trim_n.png
  Resources/Textures/_SHA/Decals/monotile_somber_dark.rsi/steel_trim_s.png
  Resources/Textures/_SHA/Decals/monotile_somber_dark.rsi/steel_trim_w.png
  Resources/Textures/_SHA/Decals/monotile_somber_dark_penthouse.rsi/meta.json
  Resources/Textures/_SHA/Decals/monotile_somber_dark_penthouse.rsi/steel_trim_e.png
  Resources/Textures/_SHA/Decals/monotile_somber_dark_penthouse.rsi/steel_trim_n.png
  Resources/Textures/_SHA/Decals/monotile_somber_dark_penthouse.rsi/steel_trim_ne.png
  Resources/Textures/_SHA/Decals/monotile_somber_dark_penthouse.rsi/steel_trim_nw.png
  Resources/Textures/_SHA/Decals/monotile_somber_dark_penthouse.rsi/steel_trim_s.png
  Resources/Textures/_SHA/Decals/monotile_somber_dark_penthouse.rsi/steel_trim_se.png
  Resources/Textures/_SHA/Decals/monotile_somber_dark_penthouse.rsi/steel_trim_sw.png
  Resources/Textures/_SHA/Decals/monotile_somber_dark_penthouse.rsi/steel_trim_w.png
Labels: Changes: Sprite

alt click to remove item from portable recharger
  Resources/Prototypes/Entities/Objects/Power/portable_recharger.yml
Labels: none

tweaked IK-60 more
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: none

changed portable recharger to 2x4
  Resources/Prototypes/Entities/Objects/Power/portable_recharger.yml
Labels: none

remove refs to virtual props
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: none

hotfix portable recharger
  Resources/Prototypes/Entities/Objects/Power/portable_recharger.yml
Labels: none

Make material descriptions less bad
  Resources/Prototypes/Datasets/tips.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Entities/Objects/Materials/scrap.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Structures/Windows/clockwork.yml
Labels: none

ears
  Resources/Locale/en-US/_DEN/markings/misc.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/misc.yml
  Resources/Textures/_DEN/Mobs/Customization/Head/ears.rsi/high_ears.png
  Resources/Textures/_DEN/Mobs/Customization/Head/ears.rsi/high_ears_l.png
  Resources/Textures/_DEN/Mobs/Customization/Head/ears.rsi/high_ears_r.png
  Resources/Textures/_DEN/Mobs/Customization/Head/ears.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

headers
  Resources/Locale/en-US/_DEN/markings/misc.ftl
Labels: Changes: Localization

yup
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_wind.yml
Labels: none

whoops didn't do it all the way
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_wind.yml
Labels: none

add mit checkbox
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Changes: Documentation

use loadout tactical maid gloves actually
  Resources/Prototypes/_DEN/Entities/Objects/Storage/costumes.yml
Labels: none
