Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

add to loadout
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/toys.yml
Labels: none

add to random fills and spawns
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
Labels: none

localisation tag
  Resources/Locale/en-US/_DEN/nutrition/components/food-sequence.ftl
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
Labels: Changes: Localization

linter issue
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
Labels: none

[ADD]: Wet Cat Plushie (#2671)
  Resources/Locale/en-US/_DEN/nutrition/components/food-sequence.ftl
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/toys.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/FoodSequence/mothic_sequence_element.yml
  Resources/Textures/_DEN/Objects/Fun/jakplushie.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Objects/Fun/jakplushie.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/jakplushie.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/jakplushie.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/jakplushie.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Automated changelog update (#2671)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: [ADD]: Wet Cat Plushie
  Resources/Locale/en-US/_DEN/nutrition/components/food-sequence.ftl
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/toys.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/FoodSequence/mothic_sequence_element.yml
Labels: Changes: Localization

stepping stones
  Resources/Prototypes/_DEN/Decals/misc.yml
  Resources/Prototypes/_DEN/Decals/somber.yml
  Resources/Textures/_DEN/Decals/misc.rsi/meta.json
  Resources/Textures/_DEN/Decals/misc.rsi/steppingstone1.png
  Resources/Textures/_DEN/Decals/somber.rsi/meta.json
  Resources/Textures/_DEN/Decals/somber.rsi/steppingstone1.png
  Resources/Textures/_DEN/Decals/somber_dark.rsi/meta.json
  Resources/Textures/_DEN/Decals/somber_dark.rsi/steppingstone1.png
Labels: Changes: Sprite

more stepping stones
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/_DEN/Decals/somber.yml
  Resources/Textures/_DEN/Decals/somber_misc.rsi/meta.json
  Resources/Textures/_DEN/Decals/somber_misc.rsi/steppingstone1electrum.png
  Resources/Textures/_DEN/Decals/somber_misc.rsi/steppingstone1mnemolith.png
  Resources/Textures/_DEN/Decals/somber_misc.rsi/steppingstone1steel.png
Labels: Changes: Sprite

better
  Resources/Textures/_DEN/Decals/misc.rsi/steppingstone1.png
  Resources/Textures/_DEN/Decals/somber.rsi/steppingstone1.png
  Resources/Textures/_DEN/Decals/somber_dark.rsi/steppingstone1.png
  Resources/Textures/_DEN/Decals/somber_misc.rsi/steppingstone1electrum.png
  Resources/Textures/_DEN/Decals/somber_misc.rsi/steppingstone1mnemolith.png
  Resources/Textures/_DEN/Decals/somber_misc.rsi/steppingstone1steel.png
Labels: Changes: Sprite

got it right the first time
  Resources/Textures/_DEN/Decals/somber.rsi/steppingstone1.png
  Resources/Textures/_DEN/Decals/somber_dark.rsi/steppingstone1.png
  Resources/Textures/_DEN/Decals/somber_misc.rsi/steppingstone1electrum.png
  Resources/Textures/_DEN/Decals/somber_misc.rsi/steppingstone1mnemolith.png
  Resources/Textures/_DEN/Decals/somber_misc.rsi/steppingstone1steel.png
Labels: Changes: Sprite

Automated changelog update (#2640)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: (Port) Dan's Soaked Smokes: Rejects
  Content.Server/EntityEffects/Effects/ExplosionReactionEffect.cs
  Content.Server/EntityEffects/Effects/FlashReactionEffect.cs
  Resources/Audio/Items/Toys/attributions.yml
  Resources/Locale/en-US/chat/emotes.ftl
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Locale/en-US/reagents/meta/fun.ftl
  Resources/Locale/en-US/reagents/meta/physical-desc.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/discount.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/Reagents/pyrotechnic.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/fun.yml
  Resources/Prototypes/SoundCollections/emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_DEN/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DV/voice/speech_emote_sounds.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/cartons.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Prototypes/_Impstation/Voice/speech_emote_sounds.yml
  Resources/Textures/Interface/Emotes/attributions.yml
Labels: Changes: C#, Changes: Localization

hopefully fix the client crash now please please please
  Resources/Prototypes/_DEN/Shaders/debug.yml
  Resources/Textures/_DEN/Shaders/analog_distortion.swsl
Labels: none

Hopefully Fix the Client Crash Now Please Please Please (#2672)
  Resources/Prototypes/_DEN/Shaders/debug.yml
  Resources/Textures/_DEN/Shaders/analog_distortion.swsl
Labels: none

sorry about the apostrophe. i put it back
  Resources/Locale/en-US/_DEN/reagents/meta/consumable/drink/alcohol.ftl
Labels: Changes: Localization

no free liquid lunches
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/alcohol.yml
Labels: none

Update Resources/Prototypes/_DEN/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/alcohol.yml
Labels: none

copyright? more like do whatever idc
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/alcohol.yml
  Resources/Textures/_DEN/Objects/Consumable/Drinks/berrymilkshake.rsi/meta.json
  Resources/Textures/_DEN/Objects/Consumable/Drinks/chocolatemilkshake.rsi/meta.json
  Resources/Textures/_DEN/Objects/Consumable/Drinks/cottonmilkshake.rsi/meta.json
  Resources/Textures/_DEN/Objects/Consumable/Drinks/eggcream.rsi/meta.json
  Resources/Textures/_DEN/Objects/Consumable/Drinks/vanillamilkshake.rsi/meta.json
Labels: Changes: Sprite

tajarans roll their r's
  Content.Server/_DEN/Speech/Components/TajaranAccentComponent.cs
  Content.Server/_DEN/Speech/EntitySystems/TajaranAccentSystem.cs
  Resources/Prototypes/_EE/Entities/Mobs/Species/tajaran.yml
Labels: Changes: C#

fix observers not getting grace
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Shared/Mind/MindComponent.cs
Labels: Changes: C#

change syndicate communication console header
  Resources/Locale/en-US/communications/communications-console-component.ftl
Labels: Changes: Localization

lpo console
  Resources/Locale/en-US/communications/communications-console-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: Localization

who cares
  Resources/Locale/en-US/_DEN/tiles/tiles.ftl
  Resources/Migrations/migration.yml
  Resources/Prototypes/Tiles/tile_migrations.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/tiles_somber.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/Tables/tables.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/somber_potted_plants.yml
  Resources/Prototypes/_DEN/Stacks/floor_tile_stacks_somber.yml
  Resources/Prototypes/_DEN/Tiles/floors_somber.yml
  Resources/Textures/_DEN/Objects/Tiles/somber.rsi/meta.json
  Resources/Textures/_DEN/Objects/Tiles/somber.rsi/somber-mnemolith-tracks-horizontal-dark.png
  Resources/Textures/_DEN/Objects/Tiles/somber.rsi/somber-mnemolith-tracks-horizontal.png
  Resources/Textures/_DEN/Objects/Tiles/somber.rsi/somber-mnemolith-tracks-vertical-dark.png
  Resources/Textures/_DEN/Objects/Tiles/somber.rsi/somber-mnemolith-tracks-vertical.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/meta.json
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-00-flipped.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-00.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-10-flipped.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-10.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-22-flipped.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-22.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/potted-plant-10-flipped.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/potted-plant-10.png
  Resources/Textures/_DEN/Tiles/Somber/meta.json
  Resources/Textures/_DEN/Tiles/Somber/somber-mnemolith-tracks-horizontal-dark.png
  Resources/Textures/_DEN/Tiles/Somber/somber-mnemolith-tracks-horizontal.png
  Resources/Textures/_DEN/Tiles/Somber/somber-mnemolith-tracks-vertical-dark.png
  Resources/Textures/_DEN/Tiles/Somber/somber-mnemolith-tracks-vertical.png
Labels: Changes: Localization, Changes: Sprite

Amend captain to departmental time
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
Labels: none

yaml fix
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: none

add missing cardridges to admin pdas
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: none

yyeaa
  Resources/Prototypes/_DEN/Entities/Objects/Misc/candles.yml
  Resources/Prototypes/_DEN/Entities/Structures/Walls/somber.yml
  Resources/Textures/_DEN/Structures/Decoration/somberarmillary.rsi/gold-unshaded.png
  Resources/Textures/_DEN/Structures/Decoration/somberarmillary.rsi/gold.png
Labels: Changes: Sprite

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

hopefully this fixes stuff
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/base_drinks.yml
Labels: none

Command Playtime Increases (#2659)
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: none

Automated changelog update (#2659)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Command Playtime Increases
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Labels: none

push #12398129038138917
  Resources/Prototypes/_DEN/Catalog/VendingMachines/Inventories/dinnerware.yml
  Resources/Prototypes/_DEN/Catalog/VendingMachines/Inventories/mantis.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/Containers/condiments.yml
Labels: none

Accentless removes TajaranAccent, no longer takes up a trait slot
  Resources/Prototypes/Traits/neutral.yml
Labels: none

Faust Hip Sheath
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/equipped-SUITSTORAGE-thaven.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/folded-equipped-SUITSTORAGE-thaven.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/folded-equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/icon-folded.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/mantisgreatsword.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath.rsi/folded-equipped-SUITSTORAGE-thaven.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath.rsi/folded-equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath.rsi/icon-folded.png
Labels: Changes: Sprite

folded instead
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath.rsi/flipped-equipped-SUITSTORAGE-thaven.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath.rsi/flipped-equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath.rsi/icon-flipped.png
Labels: Changes: Sprite

update descriptions to explain it
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
Labels: none

you can no longer butcher items with items inside of them
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
  Resources/Locale/en-US/_DEN/kitchen/butcherable.ftl
Labels: Changes: C#, Changes: Localization

new sprites
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/icon-folded.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/inhand-right.png
Labels: Changes: Sprite
