Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

fix: linter
  Resources/Locale/en-US/_DEN/markings/thaven.ftl
Labels: Changes: Localization

chore: ordering...
  Resources/Locale/en-US/_DEN/markings/thaven.ftl
Labels: Changes: Localization

feat: moth bee glowing marking
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/tails.yml
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle1.rsi/bee3_lower.png
Labels: Changes: C#, Changes: Sprite

missing sprite and localizations
  Resources/Locale/en-US/_Impstation/markings/misc.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/tails.yml
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle1.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

add uplink and fixes
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Resources/Locale/en-US/administration/admin-verbs.ftl
Labels: Changes: C#, Changes: Localization

remove uplink trick and more fixes
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Resources/Locale/en-US/administration/admin-verbs.ftl
Labels: Changes: C#, Changes: Localization

replicator balance tweaks
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-body.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-loadout.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicators.yml
Labels: none

make the projectors full auto because fuck rsi
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-loadout.yml
Labels: none

feat: DON'T RADIO WITH SUBTLE.
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#

second round of changes, improving energy weapon dps slightly
  Resources/Prototypes/Entities/Objects/Power/portable_recharger.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: none

Longarm tweaks, increasing total damage potential to be roughly equal to two kinetic longarm magazines
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: none

math is hard (laser rifle magazine)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: none

botany qol stuff
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/reagent_grinder.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/circuit_imprinter.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/protolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/service_techfab.yml
Labels: none

increase size, add whitelist
  Resources/Prototypes/Entities/Objects/Specific/Medical/medkits.yml
Labels: none

add rollerbed tag to holorollers
  Resources/Prototypes/_DV/Entities/Structures/Holographic/rollerbeds.yml
Labels: none

increased the things that can go into a medkit
  Resources/Prototypes/Entities/Objects/Specific/Medical/medkits.yml
Labels: none

add syringes to whitelist
  Resources/Prototypes/Entities/Objects/Specific/Medical/medkits.yml
Labels: none

Zombie tumor system (#2201)
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Content.Server/EntityEffects/Effects/CureZombieInfection.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Server/Zombies/ZombieTumorOrganSystem.cs
  Content.Shared/Zombies/SharedZombieTumorOrganSystem.cs
  Content.Shared/Zombies/ZombieTumorImmuneComponent.cs
  Content.Shared/Zombies/ZombieTumorInfectionComponent.cs
  Content.Shared/Zombies/ZombieTumorOrganComponent.cs
  Content.Shared/Zombies/ZombieTumorSpawnerComponent.cs
  Content.Shared/_Shitmed/Surgery/Conditions/SurgeryOrganPrototypeConditionComponent.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.cs
  Resources/Locale/en-US/_Shitmed/surgery/surgery-popup.ftl
  Resources/Locale/en-US/metabolism/metabolizer-types.ftl
  Resources/Locale/en-US/zombies/zombie.ftl
  Resources/Prototypes/Chemistry/metabolizer_types.yml
  Resources/Prototypes/Entities/Body/Organs/zombie_tumor.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgeries.yml
  Resources/Textures/_Funkystation/Objects/Specific/Medical/zombietumor.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Specific/Medical/zombietumor.rsi/zombierobotumor-inhand-left.png
  Resources/Textures/_Funkystation/Objects/Specific/Medical/zombietumor.rsi/zombierobotumor-inhand-right.png
  Resources/Textures/_Funkystation/Objects/Specific/Medical/zombietumor.rsi/zombierobotumor.png
  Resources/Textures/_Funkystation/Objects/Specific/Medical/zombietumor.rsi/zombietumor-inhand-left.png
  Resources/Textures/_Funkystation/Objects/Specific/Medical/zombietumor.rsi/zombietumor-inhand-right.png
  Resources/Textures/_Funkystation/Objects/Specific/Medical/zombietumor.rsi/zombietumor.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite

cleanup from initial cherrypick
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Content.Server/EntityEffects/Effects/CureZombieInfection.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Server/Zombies/ZombieTumorOrganSystem.cs
  Resources/Prototypes/Chemistry/metabolizer_types.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgeries.yml
Labels: Changes: C#

feat: glowy markings animation
  Content.Server/Humanoid/Systems/HumanoidAppearanceSystem.cs
  Content.Server/Wagging/WaggingSystem.cs
  Content.Server/_DEN/Administration/Commands/TestAnimationCommand.cs
  Content.Server/_DEN/Markings/AnimatedMarkingsSystem.cs
  Content.Server/_DEN/Markings/AnimatedToggleEvent.cs
  Content.Shared/_DEN/CCVars/DenCCVars.cs
  Content.Shared/_DEN/Markings/AnimatedMarkingsComponent.cs
  Resources/Locale/en-US/_DEN/actions/glow-animation.ftl
  Resources/Prototypes/_DEN/Prototypes/Actions/types.yml
Labels: Changes: C#, Changes: Localization

Zombie surgery bugfix (#2342)
  Content.Client/Zombies/ZombieSystem.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Server/Zombies/ZombieTumorOrganSystem.cs
  Content.Shared/Zombies/ZombieTumorInfectionComponent.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/StatusIcon/faction.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgeries.yml
  Resources/Prototypes/game_presets.yml
  Resources/Textures/_Funkystation/Interface/Misc/zombie_job_icons.rsi/Stage1.png
  Resources/Textures/_Funkystation/Interface/Misc/zombie_job_icons.rsi/Stage2.png
  Resources/Textures/_Funkystation/Interface/Misc/zombie_job_icons.rsi/Stage3.png
  Resources/Textures/_Funkystation/Interface/Misc/zombie_job_icons.rsi/Stage4.png
  Resources/Textures/_Funkystation/Interface/Misc/zombie_job_icons.rsi/Stage5.png
  Resources/Textures/_Funkystation/Interface/Misc/zombie_job_icons.rsi/meta.json
Labels: Changes: C#, Changes: Sprite

Newzeds guidebook (#2618)
  Resources/ServerInfo/Guidebook/Antagonist/Zombies.xml
Labels: Changes: Documentation

funky parity?
  Content.Shared/_Shitmed/Surgery/Conditions/SurgeryOrganConditionComponent.cs
Labels: Changes: C#

try to unzombify after tumor removal
  Content.Server/Zombies/ZombieTumorOrganSystem.cs
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: Changes: C#

zombies heal when dead
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Server/Zombies/ZombieTumorOrganSystem.cs
Labels: Changes: C#

guidebook updates
  Resources/ServerInfo/Guidebook/Antagonist/Zombies.xml
Labels: Changes: Documentation

copy paper trick
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Content.Server/Fax/FaxSystem.cs
  Resources/Locale/en-US/administration/admin-verbs.ftl
Labels: Changes: C#, Changes: Localization

benchies
  Resources/Textures/_DEN/Structures/Furniture/Benches/somberbench.rsi/corner.png
  Resources/Textures/_DEN/Structures/Furniture/Benches/somberbench.rsi/left.png
  Resources/Textures/_DEN/Structures/Furniture/Benches/somberbench.rsi/middle.png
  Resources/Textures/_DEN/Structures/Furniture/Benches/somberbench.rsi/right.png
Labels: Changes: Sprite

Scrapped the leash type verb and made it so the attach and detach verbs work even while a collar is equipped on another person
  Content.Shared/Floofstation/Leash/Components/LeashComponent.cs
  Content.Shared/Floofstation/Leash/LeashSystem.cs
  Resources/Locale/en-US/floofstation/leash/leash-verbs.ftl
  Resources/Prototypes/_Floof/Entities/Objects/Tools/leash.yml
Labels: Changes: C#, Changes: Localization

mini energy gun given slightly faster recharge compared to other energy sidearms
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: none

commenting changes, renamed a new prototype
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/security.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: none

locale
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Resources/Locale/en-US/administration/admin-verbs.ftl
Labels: Changes: C#, Changes: Localization

feat: LEC update golobby
  Content.Server/GameTicking/Commands/GoLobbyCommand.cs
  Resources/Locale/en-US/commands/go-lobby-command.ftl
Labels: Changes: C#, Changes: Localization

feat: LEC update forcepreset
  Content.Server/GameTicking/Commands/ForcePresetCommand.cs
  Resources/Locale/en-US/commands/force-preset-command.ftl
Labels: Changes: C#, Changes: Localization

initial
  Content.Server/_DEN/BodyDissolution/BodyDissolvableComponent.cs
  Content.Server/_DEN/BodyDissolution/BodyDissolverComponent.cs
  Content.Server/_DEN/BodyDissolution/BodyDissolverSystem.cs
  Resources/Prototypes/_DEN/Tools/body_dissolver.yml
Labels: Changes: C#

feat: golobby doesn't work on servers with game lobby already enabled
  Content.Server/GameTicking/Commands/GoLobbyCommand.cs
  Resources/Locale/en-US/commands/go-lobby-command.ftl
Labels: Changes: C#, Changes: Localization

chore: file-scoped namespaces
  Content.Server/GameTicking/Commands/ForcePresetCommand.cs
  Content.Server/GameTicking/Commands/GoLobbyCommand.cs
Labels: Changes: C#

feat: respawn command updates
  Content.Server/GameTicking/Commands/RespawnCommand.cs
  Resources/Locale/en-US/administration/commands/respawn-command.ftl
Labels: Changes: C#, Changes: Localization

basic functionality and sound
  Content.Server/_DEN/BodyDissolution/BodyDissolverSystem.cs
  Resources/Audio/_DEN/Effects/attributions.yml
  Resources/Audio/_DEN/Effects/body_dissolver_tack.ogg
  Resources/Prototypes/_DEN/Tools/body_dissolver.yml
Labels: Changes: Audio, Changes: C#

Customization Update (Mostly Slimes)
  Resources/Locale/en-US/_DEN/markings/misc.ftl
  Resources/Locale/en-US/_DEN/markings/shadowkin.ftl
  Resources/Locale/en-US/_DEN/markings/slimeperson.ftl
  Resources/Locale/en-US/_Impstation/markings/misc.ftl
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/misc.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/shadowkinmarks.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/slimeperson.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc.yml
  Resources/Textures/Mobs/Customization/Shadowkin/tails64x32.rsi/shadowkin_big_fluff_under.png
  Resources/Textures/_DEN/Mobs/Customization/Body/misc.rsi/female_gradient_chest.png
  Resources/Textures/_DEN/Mobs/Customization/Body/misc.rsi/male_gradient_chest.png
  Resources/Textures/_DEN/Mobs/Customization/Body/misc.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Shadowkin/tailwag64x32.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Shadowkin/tailwag64x32.rsi/shadowkin_big_fluff_over_wag.png
  Resources/Textures/_DEN/Mobs/Customization/Shadowkin/tailwag64x32.rsi/shadowkin_big_fluff_under_wag.png
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/eyes.rsi/cyclopspulseeye.png
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/eyes.rsi/cyclopspulsering.png
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/eyes.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
