Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

add saline to loadouts
  Resources/Prototypes/_DEN/CharacterItemGroups/Loadouts/miscItems.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/medicine.yml
Labels: none

replace saline meds with iron/copper
  Resources/Prototypes/_DEN/CharacterItemGroups/Loadouts/miscItems.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/medicine.yml
Labels: none

Rebalanced the Captain's Longcoat
  Resources/Prototypes/_Floof/Entities/Clothing/OuterClothing/wintercoats.yml
Labels: none

add localization
  Resources/Locale/en-US/_DEN/markings/shadowkin.ftl
Labels: Changes: Localization

wait i mixed them up
  Resources/Locale/en-US/_DEN/markings/shadowkin.ftl
Labels: Changes: Localization

forgot one
  Resources/Locale/en-US/_DEN/markings/shadowkin.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/shadowkin.yml
Labels: Changes: Localization

initial commit
  Resources/Prototypes/_DEN/Entities/Objects/Tools/glowstick.yml
Labels: none

add carpet lathe category
  Resources/Locale/en-US/_DEN/lathe/lathe-categories.ftl
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/categories.yml
Labels: Changes: Localization

add autotailor
  Resources/Prototypes/_DEN/Entities/Objects/Devices/Circuitboards/Machines/production.yml
  Resources/Prototypes/_DEN/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autotailor.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/circuit_imprinter.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/electronics.yml
Labels: none

actually im renaming the bsae carpet recipe proto
  Resources/Prototypes/Recipes/Lathes/clothing.yml
Labels: none

add category inheritance to basic color jumpsuits
  Resources/Prototypes/Recipes/Lathes/clothing.yml
Labels: none

autotailor recipes
  Resources/Locale/en-US/_DEN/lathe/lathe-categories.ftl
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autotailor.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/autotailor.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/categories.yml
Labels: Changes: Localization

rename category
  Resources/Locale/en-US/_DEN/lathe/lathe-categories.ftl
Labels: Changes: Localization

Sprites
  Resources/Prototypes/_DEN/Entities/Objects/Fun/stationary.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Ammuntion/Projectiles/toy.yml
  Resources/Textures/_DEN/Objects/Fun/thumbtack.rsi/meta.json
  Resources/Textures/_DEN/Objects/Fun/thumbtack.rsi/thumbtack.png
  Resources/Textures/_DEN/Objects/Fun/toys.rsi/foamdartthumbtack.png
  Resources/Textures/_DEN/Objects/Fun/toys.rsi/meta.json
Labels: Changes: Sprite

Thumbtack recipe
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/misc.yml
Labels: none

YML Fixes
  Resources/Prototypes/_DEN/Entities/Objects/Fun/stationary.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Ammuntion/Boxes/toy.yml
Labels: none

add dresses suits and school uniforms to autotailor
  Resources/Locale/en-US/_DEN/lathe/lathe-categories.ftl
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autotailor.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/autotailor.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/categories.yml
Labels: Changes: Localization

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

BSO Gas Masks
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Textures/_DEN/Clothing/Mask/bsocombatgasmask.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_DEN/Clothing/Mask/bsocombatgasmask.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_DEN/Clothing/Mask/bsocombatgasmask.rsi/equipped-MASK.png
  Resources/Textures/_DEN/Clothing/Mask/bsocombatgasmask.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Mask/bsocombatgasmask.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Mask/bsocombatgasmask.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Mask/bsocombatgasmask.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Mask/bsoert.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_DEN/Clothing/Mask/bsoert.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_DEN/Clothing/Mask/bsoert.rsi/equipped-MASK.png
  Resources/Textures/_DEN/Clothing/Mask/bsoert.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Mask/bsoert.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Mask/bsoert.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Mask/bsoert.rsi/meta.json
Labels: Changes: Sprite

now actually (practically) infinite + spawn crate for them
  Resources/Prototypes/_DEN/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_DEN/Entities/Objects/Tools/glowstick.yml
Labels: none

kimonos and generic uniforms
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autotailor.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/autotailor.yml
Labels: none

fixes
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autotailor.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/autotailor.yml
Labels: none

more
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autotailor.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/autotailor.yml
Labels: none

envirosuits and den uniforms
  Resources/Locale/en-US/_DEN/lathe/lathe-categories.ftl
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autotailor.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/autotailor.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/categories.yml
Labels: Changes: Localization

enviroslacks
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autotailor.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/autotailor.yml
Labels: none

move clothing.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Clothing/clothing.yml
Labels: none

separate autotailor.yml into multiple files
  Resources/Prototypes/_DEN/Recipes/Lathes/Clothing/color_uniforms.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Clothing/dresses.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Clothing/envirosuits.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Clothing/uniforms.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/autotailor.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/base.yml
Labels: none

new warden shield sprite
  Resources/Prototypes/_DEN/Entities/Objects/Shields/shields.yml
  Resources/Textures/_DEN/Objects/Weapons/Melee/wardenshield.rsi/eshield-icon.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/wardenshield.rsi/eshield-inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/wardenshield.rsi/eshield-inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/wardenshield.rsi/eshield-on.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/wardenshield.rsi/inhand-left-shield.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/wardenshield.rsi/inhand-right-shield.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/wardenshield.rsi/meta.json
Labels: Changes: Sprite

attribute correctly
  Resources/Textures/_DEN/Objects/Weapons/Melee/wardenshield.rsi/meta.json
Labels: Changes: Sprite

Add IsSpecialDigestibleExclusive component
  Content.Server/Body/Components/StomachComponent.cs
Labels: Changes: C#

Replace diet blacklist with IsSpecialDigestibleExclusive component
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
Labels: Changes: C#

Add isSpecialDigestibleExclusive to vox stomach
  Resources/Prototypes/Body/Organs/vox.yml
Labels: none

Remove VoxFood tag
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bagel.yml
Labels: none

Remove VoxFood tag
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
Labels: none

Remove VoxFood tag
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
Labels: none

Remove VoxFood tag
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donut.yml
Labels: none

Remove VoxFood tag
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
Labels: none

Remove VoxFood tag
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
Labels: none

Remove VoxFood tag
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
Labels: none

Remove VoxFood tag
  Resources/Prototypes/Entities/Objects/Consumable/Food/noodles.yml
Labels: none

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
