Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

Moooooooore!!
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/kemonomimi_limbs.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Ovinia.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/rodentia.yml
Labels: none

it is done i think
  Resources/Locale/en-US/_DEN/markings/dragonwings.ftl
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro_tails.yml
Labels: Changes: Localization

weird whitespaces and forgot to uncomment
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Labels: none

add beach lounge chairs
  Resources/Prototypes/_DEN/Entities/Structures/furniture/chairs.yml
  Resources/Textures/_DEN/Structures/Furniture/lounge_chair.rsi/beige.png
  Resources/Textures/_DEN/Structures/Furniture/lounge_chair.rsi/black.png
  Resources/Textures/_DEN/Structures/Furniture/lounge_chair.rsi/blue.png
  Resources/Textures/_DEN/Structures/Furniture/lounge_chair.rsi/brown.png
  Resources/Textures/_DEN/Structures/Furniture/lounge_chair.rsi/gray.png
  Resources/Textures/_DEN/Structures/Furniture/lounge_chair.rsi/green.png
  Resources/Textures/_DEN/Structures/Furniture/lounge_chair.rsi/meta.json
  Resources/Textures/_DEN/Structures/Furniture/lounge_chair.rsi/orange.png
  Resources/Textures/_DEN/Structures/Furniture/lounge_chair.rsi/pink.png
  Resources/Textures/_DEN/Structures/Furniture/lounge_chair.rsi/purple.png
  Resources/Textures/_DEN/Structures/Furniture/lounge_chair.rsi/red.png
  Resources/Textures/_DEN/Structures/Furniture/lounge_chair.rsi/teal.png
  Resources/Textures/_DEN/Structures/Furniture/lounge_chair.rsi/white.png
  Resources/Textures/_DEN/Structures/Furniture/lounge_chair.rsi/yellow.png
Labels: Changes: Sprite

add construction for beach chairs
  Resources/Prototypes/_DEN/Entities/Structures/furniture/chairs.yml
  Resources/Prototypes/_DEN/Recipes/Construction/Graphs/Furniture/chairs.yml
  Resources/Prototypes/_DEN/Recipes/Construction/furniture.yml
Labels: none

add beach umbrella constructions
  Resources/Prototypes/_DEN/Recipes/Construction/umbrella.yml
Labels: none

add pool tile to cutter machine
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/cutter_machine.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/tiles.yml
Labels: none

Eternity Fixes And Map Pool
  Resources/Maps/TheDen/eternity.yml
  Resources/Prototypes/_DEN/Maps/Pools/eternity.yml
Labels: Changes: Map

add pool rings
  Resources/Prototypes/_DEN/Entities/Structures/furniture/pool_ring.yml
  Resources/Textures/_DEN/Structures/Furniture/pool_ring.rsi/black.png
  Resources/Textures/_DEN/Structures/Furniture/pool_ring.rsi/blue.png
  Resources/Textures/_DEN/Structures/Furniture/pool_ring.rsi/cyan.png
  Resources/Textures/_DEN/Structures/Furniture/pool_ring.rsi/green.png
  Resources/Textures/_DEN/Structures/Furniture/pool_ring.rsi/magenta.png
  Resources/Textures/_DEN/Structures/Furniture/pool_ring.rsi/meta.json
  Resources/Textures/_DEN/Structures/Furniture/pool_ring.rsi/pink.png
  Resources/Textures/_DEN/Structures/Furniture/pool_ring.rsi/purple.png
  Resources/Textures/_DEN/Structures/Furniture/pool_ring.rsi/rainbow.png
  Resources/Textures/_DEN/Structures/Furniture/pool_ring.rsi/red.png
  Resources/Textures/_DEN/Structures/Furniture/pool_ring.rsi/trans.png
  Resources/Textures/_DEN/Structures/Furniture/pool_ring.rsi/yellow.png
Labels: Changes: Sprite

fix offset on beach umbrella
  Resources/Prototypes/_DEN/Entities/Structures/Decoration/umbrella.yml
Labels: none

Removed apron as a starter loadout item
  Resources/Prototypes/Roles/Jobs/Civilian/botanist.yml
Labels: none

add swim ring crate
  Resources/Prototypes/_DEN/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_DEN/Catalog/Fills/Crates/fun.yml
Labels: none

rename beach chairs to lounge chairs i guess they dont have to be beachy
  Resources/Prototypes/_DEN/Entities/Structures/furniture/chairs.yml
  Resources/Prototypes/_DEN/Recipes/Construction/furniture.yml
Labels: none

i forgot the white lounge chair lol
  Resources/Prototypes/_DEN/Entities/Structures/furniture/chairs.yml
  Resources/Prototypes/_DEN/Recipes/Construction/Graphs/Furniture/chairs.yml
  Resources/Textures/_DEN/Structures/Furniture/lounge_chair.rsi/meta.json
Labels: Changes: Sprite

whhy didnt this stage
  Resources/Prototypes/_DEN/Recipes/Construction/furniture.yml
Labels: none

Added Botanist Apron as a loadout option
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/botanist.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/botanist.yml
Labels: none

word change
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
Labels: Changes: Localization

marked as do not touch costs 0 trait points
  Resources/Prototypes/_Floof/Traits/marked.yml
Labels: none

skeleton, derelict borg, and sentient artifact role description updates
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
Labels: Changes: Localization

added a notice to read the description because important
  Resources/Locale/en-US/_DV/game-ticking/game-presets/preset-thief.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
Labels: Changes: Localization

Marked for removal changed to give 0 trait points since it currently does nothing
  Resources/Prototypes/_Floof/Traits/marked.yml
Labels: none

missing only one ink
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/averageepishenanigans.yml
  Resources/Textures/LobbyScreens/iansecured.webp
  Resources/Textures/LobbyScreens/iansecured.yml
  Resources/Textures/LobbyScreens/imwiththescienceteam.png
  Resources/Textures/LobbyScreens/imwiththescienceteam.yml
  Resources/Textures/LobbyScreens/ntmonthlyfashionmagazine.yml
  Resources/Textures/LobbyScreens/plushpuddle.png
  Resources/Textures/LobbyScreens/plushpuddle.yml
  Resources/Textures/LobbyScreens/thatcoolbar.png
  Resources/Textures/LobbyScreens/thatcoolbar.yml
Labels: none

reorder microwave meals
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
Labels: none

make blood tomato soup vampire food
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
Labels: none

more work done on trying to make everything fully stable
  Content.Shared/Floofstation/Leash/LeashSystem.cs
Labels: Changes: C#

made the survival medpen inline with other autoinjectors and removed a useless line about maxPressure
  Resources/Prototypes/_Lavaland/Entities/Objects/Specific/Medical/hypospray.yml
Labels: none

Fixed a issue that made the Marked for Removal trait do the opposite of the desc
  Content.Server/Objectives/Systems/KillPersonConditionSystem.cs
Labels: Changes: C#

make fried eggs obtainable
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
Labels: none

make fried eggs a burger ingredient
  Resources/Locale/en-US/_DEN/nutrition/components/food-sequence.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/FoodSequence/food_sequence_element.yml
  Resources/Textures/_DEN/Objects/Consumable/Food/burger_sequence.rsi/friedegg.png
  Resources/Textures/_DEN/Objects/Consumable/Food/burger_sequence.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

done
  Resources/Textures/LobbyScreens/attributions.yml
Labels: none

add cooked blood
  Resources/Locale/en-US/_DEN/reagents/meta/biological.ftl
  Resources/Prototypes/_DEN/Reagents/biological.yml
Labels: Changes: Localization

use cooked blood in blood soup
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
Labels: none

add blood custard pie
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_DEN/Objects/Consumable/Food/Baked/pie.rsi/bloodcustard-slice.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Baked/pie.rsi/bloodcustard.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Baked/pie.rsi/meta.json
Labels: Changes: Sprite

add liverwurst
  Resources/Locale/en-US/_DEN/nutrition/components/food-sequence.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/FoodSequence/food_sequence_element.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_DEN/Objects/Consumable/Food/sausage.rsi/liverwurst-slice.png
  Resources/Textures/_DEN/Objects/Consumable/Food/sausage.rsi/liverwurst.png
  Resources/Textures/_DEN/Objects/Consumable/Food/sausage.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

add important comment
  Resources/Prototypes/_DEN/Reagents/biological.yml
Labels: none

add inhands for blood custard pie
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Textures/_DEN/Objects/Consumable/Food/Baked/pie.rsi/bloodcustard-inhand-left.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Baked/pie.rsi/bloodcustard-inhand-right.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Baked/pie.rsi/meta.json
Labels: Changes: Sprite

whatever sure ill make it moth edible
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/Baked/pie.yml
Labels: none

make the blood custard pie slightly more difficult to make i keep feeling like its too easy
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
Labels: none

add dinuguan ty klax for peer reviewing me
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_DEN/Objects/Consumable/Food/bowl.rsi/dinuguan.png
  Resources/Textures/_DEN/Objects/Consumable/Food/bowl.rsi/meta.json
Labels: Changes: Sprite

liverwurst inhands
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/meat.yml
  Resources/Textures/_DEN/Objects/Consumable/Food/sausage.rsi/liverwurst-inhand-left.png
  Resources/Textures/_DEN/Objects/Consumable/Food/sausage.rsi/liverwurst-inhand-right.png
  Resources/Textures/_DEN/Objects/Consumable/Food/sausage.rsi/meta.json
Labels: Changes: Sprite
