Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

do not restore 4x thirst
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
Labels: none

update arachne guidebook
  Resources/ServerInfo/Guidebook/Mobs/Arachne.xml
Labels: Changes: Documentation

Update dingo.yml
  Resources/Maps/TheDen/dingo.yml
Labels: Changes: Map

add costume bundles
  Resources/Prototypes/_DEN/Entities/Objects/Storage/costumes.yml
Labels: none

replace theater costumes with bundles
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
Labels: none

add eyepatch and bandana to pirate costume
  Resources/Prototypes/_DEN/Entities/Objects/Storage/costumes.yml
Labels: none

rearrange everything in the autodrobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
Labels: none

Added angle and divel to loadouts
  Resources/Prototypes/Loadouts/Generic/hands.yml
  Resources/Prototypes/Loadouts/Generic/head.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/Loadouts/Generic/neck.yml
  Resources/Prototypes/Loadouts/Generic/shoes.yml
  Resources/Prototypes/Loadouts/Generic/uniform.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Neck/misc.yml
Labels: none

Character record UI tweaks
  Content.Client/_CD/Records/UI/CharacterRecordViewer.xaml
  Content.Client/_CD/Records/UI/CharacterRecordViewer.xaml.cs
  Content.Shared/_CD/Records/FullCharacterRecords.cs
  Resources/Locale/en-US/_CD/records/editor.ftl
  Resources/Locale/en-US/_CD/records/viewer.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

add sprites
  Resources/Prototypes/_DEN/Entities/Objects/Storage/costumes.yml
  Resources/Textures/_DEN/Objects/Storage/costume_bundle.rsi/icon-label.png
  Resources/Textures/_DEN/Objects/Storage/costume_bundle.rsi/icon-outfit.png
  Resources/Textures/_DEN/Objects/Storage/costume_bundle.rsi/icon-wrapper-fill.png
  Resources/Textures/_DEN/Objects/Storage/costume_bundle.rsi/icon-wrapper.png
  Resources/Textures/_DEN/Objects/Storage/costume_bundle.rsi/meta.json
Labels: Changes: Sprite

rename states
  Resources/Prototypes/_DEN/Entities/Objects/Storage/costumes.yml
  Resources/Textures/_DEN/Objects/Storage/costume_bundle.rsi/label.png
  Resources/Textures/_DEN/Objects/Storage/costume_bundle.rsi/meta.json
  Resources/Textures/_DEN/Objects/Storage/costume_bundle.rsi/outfit.png
  Resources/Textures/_DEN/Objects/Storage/costume_bundle.rsi/wrapper-fill.png
  Resources/Textures/_DEN/Objects/Storage/costume_bundle.rsi/wrapper.png
Labels: Changes: Sprite

add icons
  Resources/Prototypes/_DEN/Entities/Objects/Storage/costumes.yml
  Resources/Textures/_DEN/Objects/Storage/costume_bundle.rsi/icon-clown.png
  Resources/Textures/_DEN/Objects/Storage/costume_bundle.rsi/icon-musician.png
  Resources/Textures/_DEN/Objects/Storage/costume_bundle.rsi/icon.png
  Resources/Textures/_DEN/Objects/Storage/costume_bundle.rsi/meta.json
Labels: Changes: Sprite

add whitelist filtering to costume bundles costumes only
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/gohei.yml
  Resources/Prototypes/_DEN/Entities/Objects/Storage/costumes.yml
  Resources/Prototypes/_DEN/tags.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/Instruments/instruments_string.yml
Labels: none

empty this bitch
  Content.Shared/ContainerHeld/ContainerHeldSystem.cs
  Resources/Prototypes/_DEN/Entities/Objects/Storage/costumes.yml
Labels: Changes: C#

more
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/_DEN/Entities/Objects/Storage/costumes.yml
Labels: none

replace some theatrical performances items with bundles
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
Labels: none

loadouts
  Resources/Locale/en-US/_DEN/loadouts/categories.ftl
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/_DEN/CharacterItemGroups/Loadouts/miscItems.yml
  Resources/Prototypes/_DEN/Loadouts/Categories/categories.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/costumes.yml
Labels: Changes: Localization

fuck it. make it large "roughly the size of a lunchbox or medkit" is probably not far off
  Resources/Prototypes/_DEN/Entities/Objects/Storage/costumes.yml
Labels: none

nuke redundant availableprototypes
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
Labels: none

add parenting to undershirts
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/undershirt.yml
Labels: none

pronouns for real
  Resources/Locale/en-US/_CD/records/viewer.ftl
Labels: Changes: Localization

partial / open button-up shirt
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_open.rsi/undershirt-buttons.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_open.rsi/undershirt-collar.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_open.rsi/undershirt.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_partial.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_partial.rsi/undershirt-buttons.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_partial.rsi/undershirt-collar.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_partial.rsi/undershirt.png
Labels: Changes: Sprite

add button-up shirt variants for feminine body type
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_fem.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_fem.rsi/undershirt-buttons.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_fem.rsi/undershirt-collar.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_fem.rsi/undershirt.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_open_fem.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_open_fem.rsi/undershirt-buttons.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_open_fem.rsi/undershirt-collar.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_open_fem.rsi/undershirt.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_partial_fem.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_partial_fem.rsi/undershirt-buttons.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_partial_fem.rsi/undershirt-collar.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_partial_fem.rsi/undershirt.png
Labels: Changes: Sprite

Add button frames to build menu
  Resources/Prototypes/Harmony/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/Harmony/Recipes/Construction/Graphs/machines/switching.yml
  Resources/Prototypes/Harmony/Recipes/Construction/machines.yml
Labels: none

Add lockable buttons to build menu
  Resources/Prototypes/Harmony/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/Harmony/Recipes/Construction/Graphs/machines/switching.yml
  Resources/Prototypes/Harmony/Recipes/Construction/machines.yml
Labels: none

committing this so i cannot somehow undo this work - shadekin medium tail. done
  Resources/Prototypes/_ADT/Mobs/Customization/shadowkin/shadowkin.yml
  Resources/Textures/_ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/meta.json
  Resources/Textures/_ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/shadekin_medium_behind.png
  Resources/Textures/_ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/shadekin_medium_front.png
Labels: Changes: Sprite

socks
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/underwear.yml
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/ankle-left.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/ankle-right.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/ankle.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/knee-left.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/knee-right.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/knee.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/quarter-left.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/quarter-right.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/quarter.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/stripes-knee-left.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/stripes-knee-right.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/stripes-knee.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/stripes-thigh-left.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/stripes-thigh-right.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/stripes-thigh.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/thigh-left.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/thigh-right.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/thigh.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/tips-left.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/tips-right.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/tips.png
Labels: Changes: Sprite

sock and button-up shirt locales
  Resources/Locale/en-US/_DEN/markings/undershirt.ftl
  Resources/Locale/en-US/_DEN/markings/underwear.ftl
Labels: Changes: Localization

Update Resources/Prototypes/Body/Organs/shadowkin.yml
  Resources/Prototypes/Body/Organs/shadowkin.yml
Labels: none

Update Content.Shared/_DEN/AdditionalPassiveDamage/AdditionalPassiveDamageSystem.cs
  Content.Shared/_DEN/AdditionalPassiveDamage/AdditionalPassiveDamageSystem.cs
Labels: Changes: C#

fix color for socks
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/underwear.yml
Labels: none

undershirt color
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/undershirt.yml
Labels: none

do not bind this to RFoot itll break with right foot amputee if you do
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/underwear.yml
Labels: none

allow markigns in the underwear/undershirt categories to be removed
  Content.Server/_Floof/ModifyUndies/ModifyUndiesComponent.cs
  Content.Server/_Floof/ModifyUndies/ModifyUndiesSystem.cs
Labels: Changes: C#

the leash system now supports freely equipping, unequipping, and freely moving around the collar and leash.
  Content.Shared/Floofstation/Leash/LeashSystem.cs
Labels: Changes: C#

alphabetize tags
  Resources/Prototypes/_DEN/tags.yml
Labels: none

move _DEN markings into correct folders
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/Cyberlimbs/ipc_generic.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/Cyberlimbs/ipc_jointed.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/Cyberlimbs/ipc_sleek.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/avian.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/bandage.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/eyes.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/ipc_antenna.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/ipc_screens.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/kemonomimi_limbs.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/nipplepiercings.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/nipples.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/pubes.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/reptilianmarks.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/shadowkinmarks.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/vulpkaninmarks.yml
Labels: none

_ADT shadowkin tails.
  Resources/Prototypes/_ADT/Mobs/Customization/shadowkin/shadowkin.yml
  Resources/Textures/_ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/medium_twocolored_over.png
  Resources/Textures/_ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/medium_twocolored_under.png
  Resources/Textures/_ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/meta.json
  Resources/Textures/_ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/shadekin_shorter_over.png
  Resources/Textures/_ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/shadekin_shorter_under.png
  Resources/Textures/_ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/shorter_brush_over.png
  Resources/Textures/_ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/shorter_brush_under.png
Labels: Changes: Sprite

Deleting extra files, forgot
  Resources/Textures/_ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/medium_twocolored.png
  Resources/Textures/_ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/shadekin_medium.png
  Resources/Textures/_ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/shadekin_shorter.png
  Resources/Textures/_ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/shorter_brush.png
Labels: Changes: Sprite

allow towels to remove paint
  Resources/Prototypes/Entities/Clothing/Multiple/towel.yml
Labels: none

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
