Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

linter issues
  Resources/Prototypes/_DEN/Roles/Jobs/Fun/blured_team.yml
Labels: none

Event Hotfix (#2620)
  Resources/Locale/en-US/_DEN/set-selector/selectable-set.ftl
  Resources/Maps/TheDen/dusttwo.yml
  Resources/Prototypes/_DEN/Catalog/selectable_sets.yml
  Resources/Prototypes/_DEN/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/blured_team_loadouts.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Fun/blured_team.yml
  Resources/Prototypes/_DEN/game_presets.yml
Labels: Changes: Localization, Changes: Map

update REUSE headers from: Event Hotfix
  Resources/Maps/TheDen/dusttwo.yml
  Resources/Prototypes/_DEN/game_presets.yml
Labels: Changes: Map

new maint
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

fix predictable: false (cane, knife, lantern, and misc may need their own pr since they're not furniture but whatever)
  Resources/Prototypes/_DEN/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_DEN/Entities/Objects/Tools/lantern.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_DEN/Entities/Structures/Decoration/fireplace.yml
  Resources/Prototypes/_DEN/Entities/Structures/Specific/Mantis/lighting.yml
  Resources/Prototypes/_DEN/Entities/Structures/Wallmounts/monitors_televisions.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/Tables/tables.yml
  Resources/Prototypes/_SHA/everything.yml
Labels: none

suffix cleanup
  Resources/Prototypes/_DEN/Entities/Structures/Decoration/fireplace.yml
  Resources/Prototypes/_DEN/Entities/Structures/Specific/Mantis/lighting.yml
  Resources/Prototypes/_DEN/Entities/Structures/Wallmounts/monitors_televisions.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/Tables/tables.yml
  Resources/Prototypes/_SHA/everything.yml
Labels: none

respawn grace period
  Content.Server/Bed/Cryostorage/CryostorageSystem.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Ghost/GhostReturnToRoundSystem.cs
  Content.Shared/CCVar/CCVars.GhostRespawn.cs
  Content.Shared/Mind/MindComponent.cs
  Resources/Locale/en-US/round-end/cryostorage.ftl
Labels: Changes: C#, Changes: Localization

Update thaven.ftl
  Resources/Locale/en-US/_DEN/markings/thaven.ftl
Labels: Changes: Localization

Improve Lesser Used Security Coats (#2614)
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_Floof/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/bomberjackets.yml
Labels: none

Gas Mixers Not Hidden by Floor (#2613)
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
Labels: none

Automated changelog update (#2614)
  Resources/Changelog/Den.yml
Labels: none

Plasteel Weapons Tweaks (#2594)
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/plasteel.yml
Labels: none

update REUSE headers from: Improve Lesser Used Security Coats
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/bomberjackets.yml
Labels: none

update REUSE headers from: Gas Mixers Not Hidden by Floor
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
Labels: none

Automated changelog update (#2594)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Plasteel Weapons Tweaks
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/plasteel.yml
Labels: none

Automated changelog update (#2617)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: New Clothes And Thaven Markings
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/itemGroups.yml
  Resources/Prototypes/CharacterItemGroups/Generic/outerwearGroup.yml
  Resources/Prototypes/CharacterItemGroups/Generic/shoeGroup.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/thaven.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/outerclothing.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/shoes.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/uniform.yml
Labels: Changes: Localization

WHO KNWOS ANYMORE
  Resources/Audio/_DEN/Effects/fogclose.ogg
  Resources/Audio/_DEN/Effects/fogopen.ogg
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_DEN/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/bigbeds.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwall.rsi/closed-line.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwall.rsi/closed-noline.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwall.rsi/closed.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwall.rsi/closing-line.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwall.rsi/closing-noline.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwall.rsi/closing.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwall.rsi/meta.json
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwall.rsi/opening-line.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwall.rsi/opening-noline.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwall.rsi/opening.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallboss.rsi/icon-unshaded.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallboss.rsi/icon.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallboss.rsi/invisible.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallboss.rsi/meta.json
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallboss.rsi/tilingtexture.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallshadow.rsi/closed-line.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallshadow.rsi/closed.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallshadow.rsi/closing-line.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallshadow.rsi/closing.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallshadow.rsi/meta.json
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallshadow.rsi/opening-line.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallshadow.rsi/opening.png
  Resources/Textures/_DEN/Structures/Furniture/furniture-64x32.rsi/meta.json
  Resources/Textures/_DEN/Structures/Furniture/furniture-64x32.rsi/somberpsychbedlong.png
  Resources/Textures/_DEN/Structures/Furniture/furniture-64x32.rsi/somberpsychbedlongflipped.png
  Resources/Textures/_SHA/Structures/Furniture/furniture-64x32.rsi/meta.json
  Resources/Textures/_SHA/Structures/Furniture/furniture-96x96.rsi/break bed.xcf
  Resources/Textures/_SHA/Structures/Walls/invisible.rsi/invisible.png
  Resources/Textures/_SHA/Structures/Walls/invisible.rsi/meta.json
  Resources/Textures/_SHA/Structures/Walls/invisible.rsi/occluder-left.png
  Resources/Textures/_SHA/Structures/Walls/invisible.rsi/occluder-right.png
  Resources/Textures/_SHA/Structures/Walls/invisible.rsi/occluder.png
  Resources/Textures/_SHA/Structures/Walls/invisible.rsi/occludercenter.png
Labels: Changes: Audio, Changes: Sprite

EDGE: New Maints? (#2621)
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

Automated changelog update (#2621)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: EDGE: New Maints?
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

Revert "Hey (#2618)"
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
  Resources/Textures/Logo/logo.png
Labels: Changes: Localization

Revert "Hey (#2618)" (#2623)
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
  Resources/Textures/Logo/logo.png
Labels: Changes: Localization

gorilla gauntlet no longer unanchors things
  Resources/Prototypes/Entities/Objects/Specific/Research/anomaly.yml
Labels: none

rickenbacker tweaks
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Fun/instruments.yml
Labels: none

Turn the Goliath Tentacle Glitch Into a Feature (#2612)
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/Stunnable/StunOnContactComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
Labels: Changes: C#

[REMOVE]: Mass Mindswap Glimmer Event (#2616)
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
Labels: none

Automated changelog update (#2612)
  Resources/Changelog/Den.yml
Labels: none

[TWEAK]: Replicator T2 Balance Changes, and Emotes (#2595)
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-body.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-loadout.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicators.yml
Labels: none

update REUSE headers from: Turn the Goliath Tentacle Glitch Into a Feature
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/Stunnable/StunOnContactComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
Labels: Changes: C#

Automated changelog update (#2616)
  Resources/Changelog/Den.yml
Labels: none

Automated changelog update (#2595)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: [TWEAK]: Replicator T2 Balance Changes, and Emotes
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-body.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicators.yml
Labels: none

tweak: replicator tier 1 does 6 damage
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-loadout.yml
Labels: none

gave seniors some toys
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/seniorEngineer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/mystic.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/seniorPhysician.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/seniorEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/mystic.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/seniorPhysician.yml
Labels: none

Add a Component for Triggering Item Toggles with Triggers. (#2619)
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/_DEN/Explosion/Components/ItemToggleOnTriggerComponent.cs
Labels: Changes: C#

update REUSE headers from: Add a Component for Triggering Item Toggles with Triggers.
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/_DEN/Explosion/Components/ItemToggleOnTriggerComponent.cs
Labels: Changes: C#

Fix string being set to empty
  Content.Shared/Psionics/Glimmer/GlimmerSystem.cs
Labels: Changes: C#

whitespace fix
  Content.Shared/Psionics/Glimmer/GlimmerSystem.cs
Labels: Changes: C#

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
