Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

add maid outfits too
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
Labels: none

unpotted plants
  Resources/Prototypes/_DEN/Entities/Structures/furniture/Tables/tables.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/altar.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/somber_potted_plants.yml
  Resources/Textures/_DEN/Structures/Furniture/Tables/Somber/somberwoodtableend.rsi/full.png
  Resources/Textures/_DEN/Structures/Furniture/Tables/somberwoodtablecoffee.rsi/full.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/meta.json
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-00.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-01.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-02.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-03.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-04.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-05.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-06.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-07.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-08.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-09.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-10.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-11.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-12.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-13.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-14.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-16.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-18.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-19.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-21.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-22.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-24.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-26.png
  Resources/Textures/_DEN/Structures/Furniture/somber_potted_plants.rsi/plant-29.png
Labels: Changes: Sprite

edited sprites + made prototype
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/fixedskyrattailsanimated.yml
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/m_tail_batl_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/m_tail_batl_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/m_tail_batl_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/m_tail_batl_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/m_waggingtail_batl_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/m_waggingtail_batl_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/m_waggingtail_batl_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/m_waggingtail_batl_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/meta.json
Labels: Changes: Sprite

edited sprites + made prototype
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/fixedskyrattailsanimated.yml
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/m_tail_batl_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/m_tail_batl_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/m_tail_batl_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/m_tail_batl_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/m_waggingtail_batl_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/m_waggingtail_batl_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/m_waggingtail_batl_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/m_waggingtail_batl_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/meta.json
Labels: Changes: Sprite

made conspirators voteable and removed minimum player count
  Resources/Prototypes/_DEN/game_presets.yml
  Resources/Prototypes/_Harmony/GameRules/roundstart.yml
Labels: none

define sabresune tail in meta file
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/sabresune.rsi/meta.json
Labels: Changes: Sprite

feat: the system is a system i swear (also makes client consent work)
  Content.Server/_Floof/Consent/ConsentSystem.cs
  Content.Shared/_DEN/Consent/ConsentComponent.cs
  Content.Shared/_Floof/Consent/SharedConsentSystem.cs
Labels: Changes: C#

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

Apply suggestions from code review
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
Labels: none

Code review addressed
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
Labels: none

kitchen stuff
  Resources/Prototypes/_DEN/Entities/Structures/Decoration/fireplace.yml
  Resources/Prototypes/_DEN/Entities/Structures/Machines/grill.yml
  Resources/Prototypes/_DEN/Entities/Structures/Machines/reagent_grinder.yml
  Resources/Prototypes/_DEN/Entities/Structures/Specific/Chapel/chapel.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/Tables/tables.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/altar.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Prototypes/audio.yml
  Resources/Textures/_DEN/Structures/Furniture/Tables/Somber/somberwoodtablefire.rsi/fire.png
  Resources/Textures/_DEN/Structures/Furniture/sombersink.rsi/sink-fill-1.png
  Resources/Textures/_DEN/Structures/Furniture/sombersink.rsi/sink.png
  Resources/Textures/_DEN/Structures/Furniture/sombersink.rsi/sink_countertop-fill-1.png
  Resources/Textures/_DEN/Structures/Furniture/sombersink.rsi/sink_countertop.png
  Resources/Textures/_DEN/Structures/Furniture/sombersink.rsi/sink_wide-fill-1.png
  Resources/Textures/_DEN/Structures/Furniture/sombersink.rsi/sink_wide.png
  Resources/Textures/_DEN/Structures/Furniture/sombersink.rsi/sink_wide_countertop-fill-1.png
  Resources/Textures/_DEN/Structures/Furniture/sombersink.rsi/sink_wide_countertop.png
  Resources/Textures/_DEN/Structures/Machines/somberelectricgrill.rsi/high.png
  Resources/Textures/_DEN/Structures/Machines/somberelectricgrill.rsi/icon.png
  Resources/Textures/_DEN/Structures/Machines/somberelectricgrill.rsi/low.png
  Resources/Textures/_DEN/Structures/Machines/somberelectricgrill.rsi/medium.png
  Resources/Textures/_DEN/Structures/Machines/somberelectricgrill.rsi/meta.json
  Resources/Textures/_DEN/Structures/Machines/somberjuicer.rsi/juicer0.png
  Resources/Textures/_DEN/Structures/Machines/somberjuicer.rsi/juicer1.png
  Resources/Textures/_DEN/Structures/Machines/somberjuicer.rsi/meta.json
  Resources/Textures/_SHA/Structures/Furniture/Tables/Somber/somberwoodtablefirepenthouse.rsi/fire.png
  Resources/Textures/_SHA/Structures/Furniture/Tables/Somber/somberwoodtablefirepenthouse.rsi/full.png
  Resources/Textures/_SHA/Structures/Furniture/Tables/Somber/somberwoodtablefirepenthouse.rsi/meta.json
Labels: Changes: Sprite

goddd almost, like two more things
  Resources/Prototypes/_DEN/Entities/Structures/Machines/deep_fryer.yml
  Resources/Prototypes/_DEN/Entities/Structures/Machines/grill.yml
  Resources/Prototypes/_DEN/Entities/Structures/Machines/microwave.yml
  Resources/Prototypes/_DEN/Entities/Structures/Piping/Disposal/units.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/sink.yml
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/meta.json
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/off-0.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/off-1.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/off-2.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/off-3.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/off-4.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/off-5.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/off-6.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/off-7.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/off-8.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/on-1.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/on-2.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/on-3.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/on-4.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/on-5.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/on-6.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/on-7.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/on-8.png
  Resources/Textures/_DEN/Structures/Machines/sombermicrowave.rsi/inhand-left.png
  Resources/Textures/_DEN/Structures/Machines/sombermicrowave.rsi/inhand-right.png
  Resources/Textures/_DEN/Structures/Machines/sombermicrowave.rsi/meta.json
  Resources/Textures/_DEN/Structures/Machines/sombermicrowave.rsi/mw.png
  Resources/Textures/_DEN/Structures/Machines/sombermicrowave.rsi/mw0.png
  Resources/Textures/_DEN/Structures/Machines/sombermicrowave.rsi/mw_running_unlit.png
  Resources/Textures/_DEN/Structures/Machines/sombermicrowave.rsi/mw_unlit.png
  Resources/Textures/_DEN/Structures/Machines/sombermicrowave.rsi/mwb.png
  Resources/Textures/_DEN/Structures/Machines/sombermicrowave.rsi/mwbloody.png
  Resources/Textures/_DEN/Structures/Machines/sombermicrowave.rsi/mwbloody0.png
  Resources/Textures/_DEN/Structures/Machines/sombermicrowave.rsi/mwbloody1.png
  Resources/Textures/_DEN/Structures/Machines/sombermicrowave.rsi/mwbloodyo.png
  Resources/Textures/_DEN/Structures/Machines/sombermicrowave.rsi/mwo.png
Labels: Changes: Sprite

try to add mailbag to doggy
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/tools.yml
  Resources/Prototypes/_DV/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_DV/InventoryTemplates/secdog_inventory_template.yml
Labels: none

windoors (ouch)
  Resources/Prototypes/_DEN/Entities/Structures/Doors/Airlocks/somberairlocks.yml
  Resources/Prototypes/_DEN/Entities/Structures/Doors/Windoors/somberwindoor.yml
  Resources/Textures/_DEN/Structures/Doors/Windoors/somber.rsi/assembly.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somber.rsi/bolted_unlit.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somber.rsi/closed.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somber.rsi/closed_unlit.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somber.rsi/closing.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somber.rsi/closing_unlit.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somber.rsi/deny_unlit.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somber.rsi/emergency_unlit.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somber.rsi/meta.json
  Resources/Textures/_DEN/Structures/Doors/Windoors/somber.rsi/open.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somber.rsi/open_unlit.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somber.rsi/opening.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somber.rsi/opening_unlit.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somber.rsi/panel_open.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somber.rsi/secure_underlay.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somber.rsi/sparks.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somber.rsi/welded.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somberdark.rsi/assembly.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somberdark.rsi/bolted_unlit.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somberdark.rsi/closed.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somberdark.rsi/closed_unlit.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somberdark.rsi/closing.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somberdark.rsi/closing_unlit.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somberdark.rsi/deny_unlit.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somberdark.rsi/emergency_unlit.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somberdark.rsi/meta.json
  Resources/Textures/_DEN/Structures/Doors/Windoors/somberdark.rsi/open.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somberdark.rsi/open_unlit.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somberdark.rsi/opening.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somberdark.rsi/opening_unlit.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somberdark.rsi/panel_open.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somberdark.rsi/secure_underlay.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somberdark.rsi/sparks.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somberdark.rsi/welded.png
Labels: Changes: Sprite

Steel Derringer + Giftboxes
  Resources/Locale/en-US/_DEN/prototypes/catalog/cargo/cargo-armory.ftl
  Resources/Locale/en-US/_DEN/prototypes/catalog/fills/crates/armory-crates.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/_DEN/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_DEN/Catalog/Fills/Crates/weapons.yml
  Resources/Prototypes/_DEN/Entities/Objects/Storage/fancy_box.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Textures/_DEN/Objects/Storage/fancy_box.rsi/icon.png
  Resources/Textures/_DEN/Objects/Storage/fancy_box.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Guns/Pistols/derringer.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Pistols/derringer.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

rebalance the guns a litlte bit
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-loadout.yml
Labels: none

maybe less damage
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-loadout.yml
Labels: none

retvrn
  Resources/Maps/TheDen/edge.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map

the linter
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-loadout.yml
Labels: none

whitelisting fix
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/Cyberlimbs/aeon.yml
Labels: none

ftl
  Resources/Locale/en-US/_DEN/markings/tails.ftl
Labels: Changes: Localization

drains shouldn't rotate
  Resources/Locale/en-US/_SHA/everything.ftl
  Resources/Migrations/migration.yml
  Resources/Prototypes/Tiles/tile_migrations.yml
  Resources/Prototypes/_DEN/Entities/Structures/Lighting/somber_base_lighting.yml
  Resources/Prototypes/_DEN/Entities/Structures/Specific/Janitor/drain.yml
  Resources/Prototypes/_DEN/Entities/Structures/Specific/Mantis/lighting.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_SHA/Structures/Doors/Airlocks/Standard/elevatorleft.rsi/assembly.png
  Resources/Textures/_SHA/Structures/Doors/Airlocks/Standard/elevatorleft.rsi/bolted_unlit.png
  Resources/Textures/_SHA/Structures/Doors/Airlocks/Standard/elevatorleft.rsi/closed.png
  Resources/Textures/_SHA/Structures/Doors/Airlocks/Standard/elevatorleft.rsi/closed_unlit.png
  Resources/Textures/_SHA/Structures/Doors/Airlocks/Standard/elevatorleft.rsi/closing.png
  Resources/Textures/_SHA/Structures/Doors/Airlocks/Standard/elevatorleft.rsi/closing_unlit.png
  Resources/Textures/_SHA/Structures/Doors/Airlocks/Standard/elevatorleft.rsi/deny_unlit.png
  Resources/Textures/_SHA/Structures/Doors/Airlocks/Standard/elevatorleft.rsi/emergency_unlit.png
  Resources/Textures/_SHA/Structures/Doors/Airlocks/Standard/elevatorleft.rsi/meta.json
  Resources/Textures/_SHA/Structures/Doors/Airlocks/Standard/elevatorleft.rsi/open.png
  Resources/Textures/_SHA/Structures/Doors/Airlocks/Standard/elevatorleft.rsi/opening.png
  Resources/Textures/_SHA/Structures/Doors/Airlocks/Standard/elevatorleft.rsi/opening_unlit.png
  Resources/Textures/_SHA/Structures/Doors/Airlocks/Standard/elevatorleft.rsi/panel_closing.png
  Resources/Textures/_SHA/Structures/Doors/Airlocks/Standard/elevatorleft.rsi/panel_open.png
  Resources/Textures/_SHA/Structures/Doors/Airlocks/Standard/elevatorleft.rsi/panel_opening.png
  Resources/Textures/_SHA/Structures/Doors/Airlocks/Standard/elevatorleft.rsi/sparks.png
  Resources/Textures/_SHA/Structures/Doors/Airlocks/Standard/elevatorleft.rsi/sparks_broken.png
  Resources/Textures/_SHA/Structures/Doors/Airlocks/Standard/elevatorleft.rsi/sparks_damaged.png
  Resources/Textures/_SHA/Structures/Doors/Airlocks/Standard/elevatorleft.rsi/sparks_open.png
  Resources/Textures/_SHA/Structures/Doors/Airlocks/Standard/elevatorleft.rsi/welded.png
  Resources/Textures/_SHA/Structures/Furniture/chairs.rsi/meta.json
  Resources/Textures/_SHA/Structures/Furniture/chairs.rsi/somberfloorcushion.png
  Resources/Textures/_SHA/Structures/Furniture/chairs.rsi/somberfloorcushionfancy.png
  Resources/Textures/_SHA/Structures/Furniture/furniture-96x96.rsi/bedlowerhugeflipped.png
  Resources/Textures/_SHA/Structures/Furniture/furniture-96x96.rsi/bedmiddlehugeflipped.png
  Resources/Textures/_SHA/Structures/Furniture/furniture-96x96.rsi/bedupperhugeflipped.png
  Resources/Textures/_SHA/Structures/Furniture/furniture-96x96.rsi/break bed.xcf
  Resources/Textures/_SHA/Structures/Furniture/furniture-96x96.rsi/meta.json
  Resources/Textures/_SHA/Tiles/elevatorleft.png
  Resources/Textures/_SHA/Tiles/meta.json
Labels: Changes: Localization, Changes: Sprite

sprite placement touchups
  Resources/Migrations/migration.yml
  Resources/Prototypes/_DEN/Entities/Structures/Machines/reagent_grinder.yml
  Resources/Prototypes/_DEN/Entities/Structures/Specific/Mantis/lighting.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/off-0.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/off-1.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/off-2.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/off-3.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/off-4.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/off-5.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/off-6.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/off-7.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/off-8.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/on-1.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/on-2.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/on-3.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/on-4.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/on-5.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/on-6.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/on-7.png
  Resources/Textures/_DEN/Structures/Machines/somberdeepfryer.rsi/on-8.png
  Resources/Textures/_DEN/Structures/Machines/somberjuicer.rsi/juicer0.png
  Resources/Textures/_DEN/Structures/Machines/somberjuicer.rsi/juicer1.png
Labels: Changes: Sprite

asdf
  Resources/Locale/en-US/_SHA/everything.ftl
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_SHA/Structures/Walls/elevator.rsi/mining1.png
  Resources/Textures/_SHA/Structures/Walls/elevator.rsi/mining3.png
  Resources/Textures/_SHA/Structures/Walls/elevator.rsi/mining4.png
  Resources/Textures/_SHA/Structures/Walls/elevator.rsi/mining6.png
  Resources/Textures/_SHA/Structures/Walls/elevator.rsi/mining7.png
  Resources/Textures/_SHA/Structures/Walls/elevatorleft.rsi/mining0.png
  Resources/Textures/_SHA/Structures/Walls/elevatorleft.rsi/mining1.png
  Resources/Textures/_SHA/Structures/Walls/elevatorleft.rsi/mining2.png
  Resources/Textures/_SHA/Structures/Walls/elevatorleft.rsi/mining3.png
  Resources/Textures/_SHA/Structures/Walls/elevatorleft.rsi/mining4.png
  Resources/Textures/_SHA/Structures/Walls/elevatorleft.rsi/mining6.png
  Resources/Textures/_SHA/Structures/Walls/elevatorleft.rsi/mining7.png
  Resources/Textures/_SHA/Structures/Walls/invisible.rsi/occluder.png
  Resources/Textures/_SHA/Tiles/black.png
  Resources/Textures/_SHA/Tiles/meta.json
Labels: Changes: Localization, Changes: Sprite

asdf
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_SHA/Tiles/elevatorleft.png
Labels: none

I'm Edging
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

Fix Reagent Production Prediction
  Content.Shared/_DEN/ReagentProduction/Components/ReagentProducerComponent.cs
  Content.Shared/_DEN/ReagentProduction/Systems/ReagentProductionSystem.cs
Labels: Changes: C#

Edge Hotfixes & Someone Toggled Darkmode (#2533)
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

Automated changelog update (#2533)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Edge Hotfixes & Someone Toggled Darkmode
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

fixed tenuous grip description
  Resources/Locale/en-US/_DEN/traits/traits.ftl
Labels: Changes: Localization

asdf
  Resources/Textures/_DEN/Decals/somber_electrum.rsi/electrumcirclesmall.png
  Resources/Textures/_DEN/Decals/somber_electrum.rsi/electrumcirclesmallNE.png
  Resources/Textures/_DEN/Decals/somber_electrum.rsi/electrumcirclesmallNW.png
  Resources/Textures/_DEN/Decals/somber_electrum.rsi/electrumcirclesmallSE.png
  Resources/Textures/_DEN/Decals/somber_electrum.rsi/electrumcirclesmallSW.png
Labels: Changes: Sprite

asdf
  Resources/Textures/_DEN/Structures/Specific/Chapel/somber-church-bell.rsi/church-bell.png
Labels: Changes: Sprite

make laika just a normal dog
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/tools.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_DV/InventoryTemplates/secdog_inventory_template.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Engineering/construction_bag.yml
Labels: none

Automated changelog update (#2535)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Fixed Tenuous Grip Description
  Resources/Locale/en-US/_DEN/traits/traits.ftl
Labels: Changes: Localization

add new sound to x-01 gun
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun1.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun10.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun11.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun12.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun13.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun14.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun15.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun2.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun3.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun4.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun5.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun6.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun7.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun8.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun9.ogg
  Resources/Prototypes/_DEN/SoundCollections/Weapons/Gunshots/Energy/collection.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: Audio

Fix Reagent Production Prediction (#2534)
  Content.Shared/_DEN/ReagentProduction/Components/ReagentProducerComponent.cs
  Content.Shared/_DEN/ReagentProduction/Systems/ReagentProductionSystem.cs
Labels: Changes: C#

Automated changelog update (#2534)
  Resources/Changelog/Den.yml
Labels: none

Epic Reference (#2532)
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/Cyberlimbs/aeon.yml
Labels: none
