Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

holo projectors now charge based
  Content.Shared/_DV/Holosign/ChargeHolosignProjectorComponent.cs
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
Labels: Changes: C#

devMap doesn't kill you after 5 mins now
  Resources/Maps/Test/dev_map.yml
Labels: Changes: Map

Revert "Update reuse-updater.yml"
  .github/workflows/reuse-updater.yml
Labels: Changes: Workflow

Revert "Update reuse-updater.yml"
  .github/workflows/reuse-updater.yml
Labels: Changes: Workflow

fake pr to shake the reuse fail
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
Labels: Changes: Localization

fake pr to shake the reuse fail
  Resources/Prototypes/_DEN/Entities/Clothing/Back/back.yml
Labels: none

fake pr to shake the reuse fail
  Resources/Prototypes/_DEN/Entities/Clothing/Back/back.yml
Labels: none

PLAY TOYS WITH ME
  Content.Client/UserInterface/Controls/AlternatingBGContainer.xaml
  Content.Client/UserInterface/Controls/AlternatingBGContainer.xaml.cs
Labels: Changes: C#, Changes: UI

PLAY TOYS WITH ME
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
Labels: Changes: UI

Update flavors.yml
  Resources/Prototypes/Flavors/flavors.yml
Labels: none

PLAY TOYS WITH ME
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
Labels: Changes: UI

PLAY TOYS WITH ME
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
Labels: Changes: UI

PLAY TOYS WITH ME REMOVE "BACKGROUND" TAB
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: C#, Changes: UI

test: ci
  Resources/Prototypes/_DEN/Traits/neutral.yml
Labels: none

PLAY TOYS WITH ME ADD CHARACTER SPRITE SCALE LABEL
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Resources/Locale/en-US/_DEN/preferences/ui/humanoid-profile-editor.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

PLAY TOYS WITH ME RESIZE THE BACKGROUND SECTION COLUMNS A BIT
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
Labels: Changes: UI

PLAY TOYS WITH ME MAKE THE HAIR/FACIAL HAIR MARKING PICKERS ALWAYS ONLY TAKE UP 1/2 OF THE SCREEN, EVEN IF THE OTHER IS HIDDEN
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
Labels: Changes: UI

Buff Salvage Borg Light
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
Labels: none

fix: use correct token
  .github/workflows/reuse-updater.yml
Labels: Changes: Workflow

chore: trial by fire
  .github/workflows/reuse-updater.yml
Labels: Changes: Workflow

PLAY TOYS WITH ME BACKGROUND MOVED BACK INTO SEPARATE TAB PENDING SURGICAL INTERVENTION
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: C#, Changes: UI

Nerfed Portafibs
  Resources/Prototypes/_DV/Entities/Objects/Devices/Medical/portafib.yml
Labels: none

Add Residency To Records, Change Drug Allergies
  Content.Client/_CD/Records/UI/CharacterRecordViewer.xaml
  Content.Client/_CD/Records/UI/CharacterRecordViewer.xaml.cs
  Content.Client/_CD/Records/UI/RecordEditorGui.xaml
  Content.Client/_CD/Records/UI/RecordEditorGui.xaml.cs
  Content.Server/_CD/Records/RecordsSerialization.cs
  Content.Shared/_CD/Records/PlayerProvidedCharacterRecords.cs
  Resources/Locale/en-US/_CD/records/editor.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

comment the drug line changes
  Resources/Locale/en-US/_CD/records/editor.ftl
Labels: Changes: Localization

FOOLISH YML WARRIOR
  Resources/Prototypes/Entities/Structures/plastic_flaps.yml
Labels: none

Frayed Fibers
  Resources/Locale/en-US/forensics/fibers.ftl
  Resources/Prototypes/Entities/Clothing/Hands/colored.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Hands/gloves.yml
Labels: Changes: Localization

Revert "Buff Salvage Borg Light (#1398)"
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
Labels: none

Reverted Asphyxiation Nerf
  Resources/Prototypes/_DV/Entities/Objects/Devices/Medical/portafib.yml
Labels: none

Revert "Revert "Buff Salvage Borg Light" (#1407)"
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
Labels: none

chore: automatically update REUSE headers
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
Labels: none

Changed vox sounds for slightly less harsh variations
  Resources/Audio/Voice/Talk/vox.ogg
  Resources/Audio/Voice/Vox/shriek1.ogg
  Resources/Audio/Voice/Vox/vox_laugh.ogg
Labels: Changes: Audio

add: ovinia ears, fawn pattern
  Resources/Locale/en-US/_DEN/markings/ovinia.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Ovinia.yml
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/body_markings.rsi/fawn.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/body_markings.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/ear_markings.rsi/cow-ears-inner.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/ear_markings.rsi/cow-ears.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/ear_markings.rsi/deer-ears-inner.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/ear_markings.rsi/deer-ears.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/ear_markings.rsi/horse-ears-inner.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/ear_markings.rsi/horse-ears.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/ear_markings.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

reverted back to pink
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelSelectorButton.cs
  Content.Shared/Chat/ChatChannelExtensions.cs
Labels: Changes: C#

Decrease Raffle times for xenos
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/GhostRoleRaffles/settings.yml
Labels: none

Retry of Advanced Chem Tweaks (#38811)
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: none

add horse markings to ovinia
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_tails.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/oni_horns.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro_tails.yml
Labels: none

add ovinia cow spots
  Resources/Locale/en-US/_DEN/markings/ovinia.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Ovinia.yml
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/body_markings.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/body_markings.rsi/torso-cow-f.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/body_markings.rsi/torso-cow-m.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/body_markings.rsi/torso-fawn.png
Labels: Changes: Localization, Changes: Sprite

work
  Content.Server.Database/Model.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/DetailExaminable/DetailExaminableComponent.cs
  Content.Server/DetailExaminable/DetailExaminableystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Resources/Locale/en-US/detail-examinable/detail-examinable.ftl
Labels: Changes: C#, Changes: Localization

migration
  Content.Server.Database/Migrations/Postgres/20250812203343_NSFWFlavorText.Designer.cs
  Content.Server.Database/Migrations/Postgres/20250812203343_NSFWFlavorText.cs
  Content.Server.Database/Migrations/Postgres/PostgresServerDbContextModelSnapshot.cs
  Content.Server.Database/Migrations/Sqlite/20250812203331_NSFWFlavorText.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20250812203331_NSFWFlavorText.cs
Labels: Changes: C#

add full torso and jacob horn markings
  Resources/Locale/en-US/_DEN/markings/ovinia.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Ovinia.yml
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/body_markings.rsi/full-f.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/body_markings.rsi/full-m.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/body_markings.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/horn_markings.rsi/jacob-horns.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/horn_markings.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite
