Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

Add BiologicalMetaphysical to various ShowHealthBar/Icons (#3537)
  Resources/Prototypes/borg_types.yml
Labels: none

Fix DEN glasses
  Resources/Prototypes/_DEN/Entities/Clothing/Eyes/glasses.yml
Labels: none

Centcomm carapace, moved armour from vests.yml to armor.yml (#35301)
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Roles/Jobs/Command/centcom_official.yml
  Resources/Textures/Clothing/OuterClothing/Armor/centcomm_carapace.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Armor/centcomm_carapace.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/centcomm_carapace.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/centcomm_carapace.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/centcomm_carapace.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/centcomm_carapace.rsi/meta.json
Labels: Changes: Sprite

Fixed CentComm stamp
  Resources/Locale/en-US/paper/stamp-component.ftl
Labels: Changes: Localization

Removed rogue lathe packs file
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/clothing.yml
Labels: none

added low cap magazines
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/ammo_techfab.yml
Labels: none

Fixed CentComm contraband attribute
  Resources/Locale/en-US/job/department-desc.ftl
  Resources/Locale/en-US/job/department.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: Localization

Fixed CentComm contraband attribute
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: none

Removed duplicate localization entries
  Resources/Locale/en-US/job/job-names.ftl
Labels: Changes: Localization

whoever made this was either high or silly
  Content.Shared/Projectiles/EmbedPassiveDamageSystem.cs
Labels: Changes: C#

QOL fixes
  Resources/Maps/TheDen/manta.yml
Labels: Changes: Map

atmos
  Resources/Maps/TheDen/manta.yml
Labels: Changes: Map

Added jack gloves
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Hands/gloves.yml
Labels: none

SpawnCharacter now allows for a job to spawn as and applies traits and loadouts.
  Content.Server/_DV/Administration/Commands/SpawnCharacter.cs
  Resources/Locale/en-US/_DEN/commands/spawncharacter-command.ftl
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Roles/Jobs/Command/centcom_official.yml
Labels: Changes: C#, Changes: Localization

Added implants to CentComm roles in case they are spawned with spawncharacter.
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Roles/Jobs/CentComm/cburn.yml
  Resources/Prototypes/Roles/Jobs/CentComm/deathsquad.yml
  Resources/Prototypes/Roles/Jobs/Command/centcom_official.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
Labels: none

whoops
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: none

changed localization
  Resources/Locale/en-US/_DEN/commands/spawncharacter-command.ftl
Labels: Changes: Localization

Clean-up
  Content.Server/_DV/Administration/Commands/SpawnCharacter.cs
Labels: Changes: C#

Update Resources/Locale/en-US/_DEN/commands/spawncharacter-command.ftl
  Resources/Locale/en-US/_DEN/commands/spawncharacter-command.ftl
Labels: Changes: Localization

Update Content.Server/_DV/Administration/Commands/SpawnCharacter.cs
  Content.Server/_DV/Administration/Commands/SpawnCharacter.cs
Labels: Changes: C#

Woof
  Content.Client/UserInterface/Systems/Chat/Controls/Denu/DenuUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/Denu/DenuWindow.xaml
  Content.Client/UserInterface/Systems/Chat/Controls/Denu/DenuWindow.xaml.cs
  Content.Client/_DEN/Earmuffs/EarmuffsSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_DEN/Earmuffs/EarmuffsSystem.cs
  Content.Shared/_DEN/Earmuffs/EarmuffsComponent.cs
  Content.Shared/_DEN/Earmuffs/SharedEarmuffsSystem.cs
Labels: Changes: C#, Changes: UI

Funny overlay
  Content.Client/UserInterface/Systems/Chat/Controls/CircleOverlay.cs
  Content.Client/UserInterface/Systems/Chat/Controls/Denu/DenuUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/Denu/DenuWindow.xaml
  Content.Client/UserInterface/Systems/Chat/Controls/Denu/DenuWindow.xaml.cs
Labels: Changes: C#, Changes: UI

Napsack Loadout Item A bag that fits player characters and ONLY player characters in your loadout.
  Resources/Prototypes/_DEN/Entities/Clothing/Back/back.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Textures/_DEN/Clothing/Back/napsack.rsi/equipped-BACKPACK.png
  Resources/Textures/_DEN/Clothing/Back/napsack.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Clothing/Back/napsack.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Back/napsack.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Back/napsack.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Back/napsack.rsi/meta.json
Labels: Changes: Sprite

Made Denu even better
  Content.Client/UserInterface/Systems/Chat/Controls/Denu/DenuUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/Denu/DenuWindow.xaml
  Content.Client/UserInterface/Systems/Chat/Controls/Denu/DenuWindow.xaml.cs
  Content.Client/_DEN/Earmuffs/EarmuffsSystem.cs
  Content.Server/_DEN/Earmuffs/EarmuffsSystem.cs
  Content.Shared/_DEN/Earmuffs/EarmuffsComponent.cs
  Content.Shared/_DEN/Earmuffs/SharedEarmuffsSystem.cs
Labels: Changes: C#, Changes: UI

move around + increase height
  Content.Client/UserInterface/Systems/Chat/Controls/Denu/DenuWindow.xaml
Labels: Changes: UI

Turtleneck Half Blouse Just a croptop thing that turns any top into a turtleneck, as outerwear.
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/outerwearGroup.yml
  Resources/Prototypes/_DEN/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/outerclothing.yml
  Resources/Textures/_DEN/Clothing/OuterClothing/WinterCoats/turtleneckhalfblouse.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DEN/Clothing/OuterClothing/WinterCoats/turtleneckhalfblouse.rsi/icon.png
  Resources/Textures/_DEN/Clothing/OuterClothing/WinterCoats/turtleneckhalfblouse.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/OuterClothing/WinterCoats/turtleneckhalfblouse.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/OuterClothing/WinterCoats/turtleneckhalfblouse.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Listen. It wasn't broken, I just... fixed it. Obviously. I'm not lying, you are.
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#

rodentia have a different shape in bag so bag is now square
  Resources/Prototypes/_DEN/Entities/Clothing/Back/back.yml
Labels: none

delete napsack, oops, that's another pr. didn't branch off master
  Resources/Prototypes/_DEN/Entities/Clothing/Back/back.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Textures/_DEN/Clothing/Back/napsack.rsi/equipped-BACKPACK.png
  Resources/Textures/_DEN/Clothing/Back/napsack.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Clothing/Back/napsack.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Back/napsack.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Back/napsack.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Back/napsack.rsi/meta.json
Labels: Changes: Sprite

indent fix
  Resources/Prototypes/_DEN/Entities/Clothing/OuterClothing/wintercoats.yml
Labels: none

wait the indent was right the first time what does it mean temperatureprotection is wrong
  Resources/Prototypes/_DEN/Entities/Clothing/OuterClothing/wintercoats.yml
Labels: none

Tailor's Knife In Loadout Describe this later.
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Textures/_DEN/Objects/Weapons/Melee/tailorsknife.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/tailorsknife.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/tailorsknife.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/tailorsknife.rsi/meta.json
Labels: Changes: Sprite

adjust throwing angle
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/knife.yml
Labels: none

WHATEVER i'm removing the warm effect it's not much fabric anyway
  Resources/Prototypes/_DEN/Entities/Clothing/OuterClothing/wintercoats.yml
Labels: none

Added parens so emotes could live again
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#

fixed denu not opening after round end
  Content.Client/UserInterface/Systems/Chat/Controls/Denu/DenuUIController.cs
Labels: Changes: C#

PLAY TOYS WITH ME
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Resources/Locale/en-US/_DEN/preferences/ui/humanoid-profile-editor.ftl
Labels: Changes: Localization, Changes: UI

ohh we fixed temperature protection
  Resources/Prototypes/_DEN/Entities/Clothing/OuterClothing/wintercoats.yml
Labels: none

ahhh i see
  Resources/Prototypes/_DEN/Entities/Clothing/OuterClothing/wintercoats.yml
Labels: none

holograms are timed now
  Content.Server/_DEN/TimedDespawn/TimedDespawnDetailSystem.cs
  Content.Shared/_DEN/TimedDespawn/TimedDespawnDetailedComponent.cs
  Content.Shared/_DEN/WhiteList/HolobarrierComponent.cs
  Content.Shared/_DV/Holosign/ChargeHolosignSystem.cs
  Resources/Locale/en-US/_DEN/holofan/holofan.ftl
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
Labels: Changes: C#, Changes: Localization
