Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

typo fix
  Resources/Locale/en-US/_Impstation/markings/vox.ftl
Labels: Changes: Localization

vox aren't allowed to have that
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/undershirt.yml
Labels: none

Remove hairballs
  Content.Server/Nyanotrasen/Abilities/Felinid/FelinidSystem.cs
Labels: Changes: C#

missed one recipe
  Resources/Prototypes/_Impstation/Recipes/Crafting/web.yml
Labels: none

not enabled
  Content.Server/Nyanotrasen/Abilities/Felinid/FelinidSystem.cs
Labels: Changes: C#

meow
  Content.Server/Nyanotrasen/Abilities/Felinid/FelinidSystem.cs
Labels: Changes: C#

forgot the item too gdi
  Resources/Prototypes/Entities/Clothing/Shoes/color.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/web.yml
Labels: none

yea
  Resources/Prototypes/Entities/Clothing/Shoes/color.yml
Labels: none

Add ERP (#1000)
  Resources/Locale/en-US/_Harmony/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/_Harmony/job/job-description.ftl
  Resources/Locale/en-US/_Harmony/job/job-names.ftl
  Resources/Locale/en-US/_Harmony/station-events/events/erp-shuttles.ftl
  Resources/Maps/_Harmony/Shuttles/ShuttleEvent/ERPSmall.yml
  Resources/Prototypes/_Harmony/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Harmony/GameRules/erp_shuttles.yml
  Resources/Prototypes/_Harmony/Roles/Jobs/CentComm/erp.yml
  Resources/Prototypes/_Harmony/Roles/play_time_trackers.yml
  Resources/Prototypes/_Harmony/Shuttles/shuttle_incoming_event.yml
Labels: Changes: Localization, Changes: Map

fixes
  Resources/Textures/Objects/Consumable/Drinks/lemonjuice.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/lemonjuice.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/meta.json
Labels: Changes: Sprite

fixed waterbottle sprite
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/meta.json
Labels: Changes: Sprite

SyndieDrobe Flatpack Uplink Item (#986)
  Resources/Locale/en-US/_Harmony/store/uplink-catalog.ftl
  Resources/Prototypes/_Harmony/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Devices/flatpack.yml
  Resources/Textures/_Harmony/Objects/Devices/flatpack.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Devices/flatpack.rsi/syndiedrobe.png
Labels: Changes: Localization, Changes: Sprite

test fail fix
  Resources/Locale/en-US/_Wizden/markings/undershirt.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/undershirt.yml
Labels: Changes: Localization

Added new electric piano, synth, and brass sounds to the synthesizer, added square wave and lead to the minimoog, gave the DAW a light, now it can be rainbow
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instrument_keyed.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_structures.yml
Labels: none

Update lighthouse.yml
  Resources/Maps/TheDen/lighthouse.yml
Labels: Changes: Map

fixed robo door in spraypainter, fixed corpsman and armory doors not being glass when they are supposed to be
  Resources/Prototypes/Entities/Structures/Doors/airlock_groups.yml
  Resources/Prototypes/_DEN/Entities/Structures/Doors/Airlocks/airlocks.yml
Labels: none

Update uplink_catalog.yml
  Resources/Prototypes/_Harmony/Catalog/uplink_catalog.yml
Labels: none

tweaked new drinks upon request of author
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/alcohol.yml
Labels: none

first submit uhhhh hope it goes well
  Content.Server/Body/Components/RespiratorComponent.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Resources/Audio/Effects/Gasp/attributions.yml
  Resources/Audio/Effects/Gasp/deathgasp_1.ogg
  Resources/Audio/Effects/Gasp/deathgasp_2.ogg
  Resources/Audio/Effects/Gasp/female_deathgasp_1.ogg
  Resources/Audio/Effects/Gasp/female_deathgasp_2.ogg
  Resources/Audio/Effects/Gasp/female_deathgasp_3.ogg
  Resources/Audio/Effects/Gasp/female_deathgasp_4.ogg
  Resources/Audio/Effects/Gasp/female_deathgasp_5.ogg
  Resources/Audio/Effects/Gasp/gasp_female1.ogg
  Resources/Audio/Effects/Gasp/gasp_female2.ogg
  Resources/Audio/Effects/Gasp/gasp_female3.ogg
  Resources/Audio/Effects/Gasp/gasp_male1.ogg
  Resources/Audio/Effects/Gasp/gasp_male2.ogg
  Resources/Audio/Effects/Gasp/male_deathgasp_1.ogg
  Resources/Audio/Effects/Gasp/male_deathgasp_2.ogg
  Resources/Audio/Effects/Gasp/male_deathgasp_3.ogg
  Resources/Audio/Effects/Gasp/male_deathgasp_4.ogg
  Resources/Audio/Effects/Gasp/male_deathgasp_5.ogg
  Resources/Locale/en-US/chat/emotes.ftl
  Resources/Prototypes/SoundCollections/deathgasp.yml
  Resources/Prototypes/SoundCollections/gasp.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: Changes: Audio, Changes: C#, Changes: Localization

wonky ass fix, trust
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/inhand-left-fill-1TEST.png
Labels: Changes: Sprite

maybe...
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/inhand-left-fill-1TEST.png
Labels: Changes: Sprite

please?
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/inhand-left-fill-1.png
Labels: Changes: Sprite

fixed gasp
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: none

idk tossing it in
  Resources/Prototypes/_Harmony/GameRules/erp_shuttles.yml
Labels: none

remove cluwne from grand lottery
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
Labels: none

yeah so this works but it's kinda jank
  Resources/Prototypes/_DEN/Entities/Objects/Misc/robot.yml
Labels: none

TC cost increased to 5
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: none

fixed filename in yml for shuttle announcements
  Resources/Prototypes/Announcers/intern.yml
  Resources/Prototypes/Announcers/medbot.yml
  Resources/Prototypes/Announcers/neil.yml
  Resources/Prototypes/Announcers/voxfem.yml
Labels: none

renamed all shuttle announcements to match yml
  Resources/Audio/Announcers/Intern/shuttle/called.ogg
  Resources/Audio/Announcers/Intern/shuttle/dock.ogg
  Resources/Audio/Announcers/Intern/shuttle/recalled.ogg
  Resources/Audio/Announcers/MedBot/shuttle/called.ogg
  Resources/Audio/Announcers/MedBot/shuttle/dock.ogg
  Resources/Audio/Announcers/MedBot/shuttle/recalled.ogg
  Resources/Audio/Announcers/NEIL/shuttle/called.ogg
  Resources/Audio/Announcers/NEIL/shuttle/dock.ogg
  Resources/Audio/Announcers/NEIL/shuttle/recalled.ogg
  Resources/Audio/Announcers/VoxFem/shuttle/called.ogg
  Resources/Audio/Announcers/VoxFem/shuttle/dock.ogg
  Resources/Audio/Announcers/VoxFem/shuttle/recalled.ogg
Labels: Changes: Audio

stop derelicts being re-joinable without a brain
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: none

test passing maybe?
  Resources/Prototypes/Recipes/Construction/Graphs/machines/cyborg.yml
Labels: none

The Smallest Glacier Fixes
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: Map

casing issue
  Resources/Prototypes/Recipes/Construction/Graphs/machines/cyborg.yml
Labels: none

Removed Songbird from random spawn
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_glass.yml
Labels: none

added norandom to songbird and coconutdoublecreampie
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/alcohol.yml
Labels: none

Let's not delete turrets this time lol
  Content.Shared/Construction/Components/AnchorableComponent.cs
  Content.Shared/Construction/EntitySystems/AnchorableSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/Entities/Structures/Doors/SecretDoor/secret_door.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Prototypes/Entities/Structures/catwalk.yml
  Resources/Prototypes/Entities/Structures/cryopod.yml
  Resources/Prototypes/Entities/Structures/plastic_flaps.yml
  Resources/Prototypes/Entities/Structures/stairs.yml
Labels: Changes: C#

meow
  Resources/Prototypes/Entities/Objects/Materials/scrap.yml
Labels: none

added den tag bc i think im supposed to
  Resources/Prototypes/Entities/Objects/Materials/scrap.yml
Labels: none

wip
  Resources/Prototypes/_Impstation/Entities/Objects/Devices/securitysiren.yml
  Resources/Textures/_DEN/Objects/Devices/securitysiren.rsi/icon-light.png
  Resources/Textures/_DEN/Objects/Devices/securitysiren.rsi/icon.png
  Resources/Textures/_DEN/Objects/Devices/securitysiren.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Devices/securitysiren.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Devices/securitysiren.rsi/meta.json
  Resources/Textures/_DEN/Objects/Devices/securitysiren.rsi/off-equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Devices/securitysiren.rsi/on-equipped-SUITSTORAGE.png
Labels: Changes: Sprite

taser and baton rebalances
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: none
