Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

tweaked plasmaflood upon request of author
  Resources/Locale/en-US/_DEN/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_DEN/Recipes/Reactions/drinks.yml
Labels: Changes: Localization

fix....?
  Content.Shared/ParcelWrap/Systems/ParcelWrappingSystem.ParcelWrap.cs
Labels: Changes: C#

good amount of fixes, now it runs:tm:
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Recipes/Construction/clothing.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
  Resources/Textures/Structures/Furniture/chairs.rsi/meta.json
Labels: Changes: Sprite

holy shit
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/bomberjackets.yml
Labels: none

Update drinks_special.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_special.yml
Labels: none

tweaks
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
Labels: none

fixed missing texture calls
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/improvised_arrow.yml
  Resources/Prototypes/Recipes/Construction/clothing.yml
  Resources/Prototypes/Recipes/Construction/furniture.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
Labels: none

fixes
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/arrows.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: none

added parcelwrap to the maildrobe inventory
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/maildrobe.yml
Labels: none

make the freaking test
  Content.IntegrationTests/Tests/_DEN/Entities/EntitySpawnMenuTest.cs
Labels: Changes: C#

everything else
  Resources/Prototypes/Entities/Debugging/clicktest.yml
  Resources/Prototypes/Entities/Debugging/options_visualizer.yml
  Resources/Prototypes/Entities/Debugging/stress_test.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_DV/GameRules/events.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Goobstation/Entities/Debugging/nukiestealth.yml
  Resources/Prototypes/_Impstation/GameRules/replicator_event.yml
Labels: none

fixed missing names in crafting menu
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/arrows.yml
  Resources/Prototypes/Recipes/Construction/clothing.yml
  Resources/Prototypes/Recipes/Construction/furniture.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
Labels: none

removed random bullshit
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/improvised_arrow.yml
Labels: none

Change underwear markings limit to 2
  Resources/Prototypes/Nyanotrasen/Entities/Body/Prototypes/oni.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/_DEN/Species/Ovinia.yml
  Resources/Prototypes/_EE/Species/tajaran.yml
Labels: none

Juni's Chud Son
  Resources/Maps/TheDen/baikal.yml
  Resources/Prototypes/Maps/baikal.yml
Labels: Changes: Map

i named it wrong!
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/nanorep.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Command/nanorep.yml
Labels: none

fremch.
  Content.Server/_Impstation/Speech/Components/BasicFrenchAccentComponent.cs
  Content.Server/_Impstation/Speech/EntitySystems/BasicFrenchAccentSystem.cs
  Resources/Locale/en-US/_Impstation/accent/french.ftl
  Resources/Locale/en-US/_Impstation/traits/speech.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/_Impstation/Accents/french_replacements.yml
  Resources/Prototypes/_Impstation/Traits/neutral.yml
Labels: Changes: C#, Changes: Localization

killing slime
  Resources/Prototypes/_Impstation/Accents/french_replacements.yml
Labels: none

add missing sprites
  Resources/Prototypes/_DEN/Body/Parts/animal.yml
Labels: none

provide layers...
  Resources/Prototypes/_DEN/Body/Parts/animal.yml
Labels: none

Let cargo techs unlock artifact containers
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifact_equipment.yml
Labels: none

Actually remove the civvie disabler
  Resources/Maps/TheDen/havoc.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/protolathe.yml
Labels: Changes: Map

linter error
  Resources/Prototypes/_Shitmed/Body/Parts/cybernetic.yml
Labels: none

Added more Derelict Cyborgs. (#38159)
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Textures/Interface/Actions/actions_borg.rsi/meta.json
  Resources/Textures/Interface/Actions/actions_borg.rsi/syndicate-c20r-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/syndicate-desword-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/syndicate-esword-module.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/engineer_derelict.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/engineer_derelict_crystal.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/janitor_derelict.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/janitor_moving_derelict.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/medical_derelict.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/medical_moving_derelict.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/meta.json
  Resources/Textures/Mobs/Silicon/chassis.rsi/miner_derelict.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/miner_moving_derelict.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/synd_sec_derelict.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/synd_sec_derelict_e.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/synd_sec_derelict_l.png
Labels: Changes: Localization, Changes: Sprite

Cherry-picked antelope from https://github.com/Goob-Station/Goob-Station/pull/2317
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/bolt-open.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/mag-0.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/wielded-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/wielded-inhand-right.png
Labels: Changes: Sprite

Holy shit the fixes
  Content.Server/Silicons/Laws/IonStormSystem.cs
  Content.Server/Silicons/Laws/StartIonStormedSystem.cs
  Content.Shared/Silicons/Laws/Components/StartIonStormedComponent.cs
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Textures/Interface/Actions/actions_borg.rsi/meta.json
  Resources/Textures/Mobs/Silicon/chassis.rsi/derelict.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/derelict_e.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/derelict_e_r.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/derelict_icon.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/derelict_l.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite

fixing integration test errors
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
Labels: Changes: Localization

loadout changes
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: none

paradox clone why?
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: none

reference update
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: none

hide rules from spawn list, fix wrong description on assault borg LMG
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/GameRules/events.yml
Labels: none

add thaven to species restriction lists
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/base.yml
Labels: none

exclusive loadout options
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/headOfSecurity.yml
Labels: none

fixed warden shield colour when held
  Resources/Prototypes/_DEN/Entities/Objects/Shields/shields.yml
Labels: none

glasses
  Resources/Prototypes/Loadouts/Generic/eyes.yml
Labels: none

reduce bullet damage for .20 and .30
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
Labels: none

Increaase ROF on Novalite
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Labels: none

buff arming sword and truncheon
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/sword.yml
Labels: none

Reduced .25 casless in line with the others rifle types
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/caseless_rifle.yml
Labels: none

ftl namespace changes
  Resources/Locale/en-US/_Impstation/Drone/drone-system.ftl
  Resources/Locale/en-US/_Impstation/Drone/ghost-role-component.ftl
  Resources/Locale/en-US/_Impstation/markings/undershirt.ftl
  Resources/Locale/en-US/_Wizden/markings/underwear.ftl
Labels: Changes: Localization
