Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

Cherry-pick Delta V arachnid and moth glasses ! (#3934)
  Resources/Textures/Clothing/Eyes/Glasses/etherealgoogles.rsi/equipped-EYES-arachnid.png
  Resources/Textures/Clothing/Eyes/Glasses/etherealgoogles.rsi/equipped-EYES-moth.png
  Resources/Textures/Clothing/Eyes/Glasses/etherealgoogles.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Mask/dronegasmask.rsi/equipped-EYES-arachnid.png
  Resources/Textures/_DV/Clothing/Eyes/Glasses/corpsglasses.rsi/equipped-EYES-arachnid.png
  Resources/Textures/_DV/Clothing/Eyes/Glasses/corpsglasses.rsi/equipped-EYES-moth.png
  Resources/Textures/_DV/Clothing/Eyes/Glasses/corpsglasses.rsi/meta.json
  Resources/Textures/_DV/Clothing/Eyes/Glasses/safetyglasses.rsi/equipped-EYES-arachnid.png
  Resources/Textures/_DV/Clothing/Eyes/Glasses/safetyglasses.rsi/equipped-EYES-moth.png
  Resources/Textures/_DV/Clothing/Eyes/Glasses/safetyglasses.rsi/meta.json
  Resources/Textures/_DV/Clothing/Eyes/Hud/prescmedhud.rsi/equipped-EYES-arachnid.png
  Resources/Textures/_DV/Clothing/Eyes/Hud/prescmedhud.rsi/equipped-EYES-moth.png
  Resources/Textures/_DV/Clothing/Eyes/Hud/prescmedhud.rsi/meta.json
  Resources/Textures/_DV/Clothing/Eyes/Hud/prescsechud.rsi/equipped-EYES-arachnid.png
  Resources/Textures/_DV/Clothing/Eyes/Hud/prescsechud.rsi/equipped-EYES-moth.png
  Resources/Textures/_DV/Clothing/Eyes/Hud/prescsechud.rsi/meta.json
Labels: Changes: Sprite

part 2
  Resources/Textures/Clothing/Eyes/Glasses/etherealgoogles.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Mask/dronegasmask.rsi/equipped-EYES-arachnid.png
Labels: Changes: Sprite

Arachnid Jensen Googles Fix. (#35987)
  Resources/Textures/Clothing/Eyes/Glasses/jensen.rsi/equipped-EYES-arachnid.png
Labels: Changes: Sprite

theobromine, allicin, and honk popups altered
  Resources/Prototypes/Reagents/toxins.yml
Labels: none

feat: take multiple extra emotes, but only one replace
  Content.Server/Speech/EntitySystems/VocalSystem.cs
  Content.Server/Traits/TraitSystem.Functions.cs
  Content.Server/_DEN/Vocal/AdditionalVocalSoundsComponent.cs
  Content.Server/_DEN/Vocal/AdditionalVocalSoundsSystem.cs
  Resources/Prototypes/CharacterItemGroups/Generic/miscTraitGroups.yml
  Resources/Prototypes/Traits/speech.yml
Labels: Changes: C#

tweak: extras are -1
  Resources/Prototypes/Traits/speech.yml
Labels: none

How did those fucking get there
  Resources/Textures/_DEN/Clothing/Neck/Scarfs/colorable_striped.rsi/equipped-EYES-arachnid.png
  Resources/Textures/_DEN/Clothing/Neck/Scarfs/colorable_striped.rsi/equipped-EYES-moth.png
  Resources/Textures/_Goobstation/Clothing/Hands/Gloves/atmos.rsi/equipped-EYES-arachnid.png
  Resources/Textures/_Goobstation/Clothing/Hands/Gloves/atmos.rsi/equipped-EYES-moth.png
Labels: Changes: Sprite

How did those fucking get there pt. 2
  Resources/Textures/_DEN/Clothing/Neck/Scarfs/colorable.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Neck/Scarfs/colorable_striped.rsi/meta.json
Labels: Changes: Sprite

MG winter boots fix (real now) (#3007)
  Resources/Textures/_DV/Clothing/Shoes/Boots/winterbootsrd.rsi/equipped-FEET.png
Labels: Changes: Sprite

warden and hos boots
  Resources/Textures/_DV/Clothing/Shoes/Boots/winterbootshos.rsi/equipped-FEET.png
  Resources/Textures/_DV/Clothing/Shoes/Boots/winterbootshos.rsi/icon.png
  Resources/Textures/_DV/Clothing/Shoes/Boots/winterbootshos.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Shoes/Boots/winterbootshos.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Shoes/Boots/winterbootshos.rsi/meta.json
  Resources/Textures/_DV/Clothing/Shoes/Boots/winterbootswarden.rsi/meta.json
Labels: Changes: Sprite

Update uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
Labels: none

blueeeeeeee
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
Labels: none

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

yippee unathi markings!
  Resources/Locale/en-US/_Impstation/markings/reptilian.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/reptilianmarks.yml
  Resources/Textures/_DEN/Mobs/Customization/Reptilian/littlehorns.rsi/little.png
  Resources/Textures/_DEN/Mobs/Customization/Reptilian/littlehorns.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Reptilian/softears.rsi/koboldearssoft.png
  Resources/Textures/_DEN/Mobs/Customization/Reptilian/softears.rsi/koboldearstall.png
  Resources/Textures/_DEN/Mobs/Customization/Reptilian/softears.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

fix: replace sound + no additional sounds = hehe borked
  Content.Server/_DEN/Vocal/AdditionalVocalSoundsSystem.cs
Labels: Changes: C#

fix: are we deadass?
  Content.Server/Traits/TraitSystem.Functions.cs
Labels: Changes: C#

chore: unnecessary
  Content.Server/_DEN/Vocal/AdditionalVocalSoundsSystem.cs
Labels: Changes: C#

No fake nukedisk testing :)
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: none

Better CE steal objective
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
Labels: none

This was here before and I accidentally got rid of it, woops.
  Resources/Prototypes/Objectives/traitor.yml
Labels: none

Textures
  Resources/Prototypes/CharacterItemGroups/Generic/neckGroup.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/neck.yml
  Resources/Textures/_DEN/Clothing/Head/Hoods/draped.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hoods/draped.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Head/Hoods/draped.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Head/Hoods/draped.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Neck/Mantles/draped.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Mantles/draped.rsi/flipped-equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Mantles/draped.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Neck/Mantles/draped.rsi/icon_flipped.png
  Resources/Textures/_DEN/Clothing/Neck/Mantles/draped.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Neck/Mantles/draped.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Neck/Mantles/draped.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Neck/Scarfs/hooded.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Scarfs/hooded.rsi/flipped-equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Scarfs/hooded.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Neck/Scarfs/hooded.rsi/icon_flipped.png
  Resources/Textures/_DEN/Clothing/Neck/Scarfs/hooded.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Neck/Scarfs/hooded.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Neck/Scarfs/hooded.rsi/meta.json
Labels: Changes: Sprite

Renamed Hooded Scarf to Loop Scarf
  Resources/Prototypes/CharacterItemGroups/Generic/neckGroup.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/neck.yml
  Resources/Textures/_DEN/Clothing/Neck/Scarfs/loop.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Scarfs/loop.rsi/flipped-equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Scarfs/loop.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Neck/Scarfs/loop.rsi/icon_flipped.png
  Resources/Textures/_DEN/Clothing/Neck/Scarfs/loop.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Neck/Scarfs/loop.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Neck/Scarfs/loop.rsi/meta.json
Labels: Changes: Sprite

another fix
  Resources/Prototypes/_DEN/Entities/Clothing/Neck/scarfs.yml
  Resources/Textures/_DEN/Clothing/Head/Hoods/draped.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hoods/draped.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Head/Hoods/draped.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Head/Hoods/draped.rsi/meta.json
Labels: Changes: Sprite

Fix arachnid suit storage UI (#3942)
  Resources/Prototypes/InventoryTemplates/arachnid_inventory_template.yml
Labels: none

tweaked energy weapons
  Resources/Prototypes/Entities/Objects/Power/portable_recharger.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/security.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: none

remove: suicide command
  Content.Server/Chat/Commands/SuicideCommand.cs
Labels: Changes: C#

Printed boots don't count as stealing
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Shoes/magboots.yml
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
  Resources/Textures/Clothing/Shoes/Boots/magboots-advanced.rsi/equipped-FEET-vox.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-advanced.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-advanced.rsi/icon-on.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-advanced.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-advanced.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-advanced.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-advanced.rsi/on-equipped-FEET-vox.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-advanced.rsi/on-equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-advanced.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-advanced.rsi/on-inhand-right.png
  Resources/Textures/_DEN/Clothing/Shoes/magboots-ce.rsi/equipped-FEET-vox.png
  Resources/Textures/_DEN/Clothing/Shoes/magboots-ce.rsi/equipped-FEET.png
  Resources/Textures/_DEN/Clothing/Shoes/magboots-ce.rsi/icon-on.png
  Resources/Textures/_DEN/Clothing/Shoes/magboots-ce.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Shoes/magboots-ce.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Shoes/magboots-ce.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Shoes/magboots-ce.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Shoes/magboots-ce.rsi/on-equipped-FEET-vox.png
  Resources/Textures/_DEN/Clothing/Shoes/magboots-ce.rsi/on-equipped-FEET.png
  Resources/Textures/_DEN/Clothing/Shoes/magboots-ce.rsi/on-inhand-left.png
  Resources/Textures/_DEN/Clothing/Shoes/magboots-ce.rsi/on-inhand-right.png
Labels: Changes: Documentation, Changes: Sprite

made smuggler satchels very cheap
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: none

doubled strength of cryo chems
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/_Floof/Reagents/medicine.yml
Labels: none

Recycler and material reclaimer can recycle/reclaim more items.
  Resources/Prototypes/Entities/Structures/Machines/material_reclaimer.yml
  Resources/Prototypes/Entities/Structures/Machines/recycler.yml
Labels: none

Removed logs because they are technically materials.
  Resources/Prototypes/Entities/Structures/Machines/material_reclaimer.yml
  Resources/Prototypes/Entities/Structures/Machines/recycler.yml
Labels: none

tweak: truncate crew manifest names
  Content.Client/CrewManifest/UI/CrewManifestSection.cs
Labels: Changes: C#

turn into flatpack trick
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Content.Shared/Construction/SharedFlatpackSystem.cs
  Resources/Locale/en-US/administration/admin-verbs.ftl
Labels: Changes: C#, Changes: Localization

mark den changes
  Content.Shared/Construction/SharedFlatpackSystem.cs
  Resources/Locale/en-US/administration/admin-verbs.ftl
Labels: Changes: C#, Changes: Localization

feat: animated nurse (swept) tail
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/thaven.yml
  Resources/Textures/_DEN/Mobs/Customization/Thaven/tailwag.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Thaven/tailwag.rsi/nurse1_behind.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/tailwag.rsi/nurse1_front.png
Labels: Changes: Sprite

feat: god has left us
  Content.Server/Humanoid/Systems/HumanoidAppearanceSystem.cs
  Content.Server/Wagging/WaggingSystem.cs
  Content.Server/_DEN/Humanoid/HumanoidAppearanceSystem.DEN.cs
  Content.Shared/Humanoid/Markings/MarkingPrototype.cs
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/thaven.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/thaven.yml
  Resources/Textures/_DEN/Mobs/Customization/Thaven/tailwag.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Thaven/tailwag.rsi/nurse1.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/tailwag.rsi/nurse2.png
Labels: Changes: C#, Changes: Sprite

fix: marking color persistency
  Content.Server/_DEN/Humanoid/HumanoidAppearanceSystem.DEN.cs
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/thaven.yml
Labels: Changes: C#

fix: localization
  Resources/Locale/en-US/_DEN/markings/thaven.ftl
Labels: Changes: Localization

Revert "Tweak: Truncate Crew Manifest Names (#2406)"
  Content.Client/CrewManifest/UI/CrewManifestSection.cs
Labels: Changes: C#

feat: make animated unshaded, oops.
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/thaven.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/thaven.yml
Labels: none

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
