Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

forgorwire
  Resources/Maps/TheDen/manta.yml
Labels: Changes: Map

wardenprisonerspawns
  Resources/Maps/TheDen/manta.yml
Labels: Changes: Map

fixed a minor description error
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
Labels: Changes: Localization

Mantis Content Touchups
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Lockers/epistemics.yml
  Resources/Prototypes/_DEN/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/ServerInfo/Guidebook/Science/MantisGuide.xml
  Resources/Textures/LobbyScreens/BREAK.webp
Labels: Changes: Documentation

hud touchups
  Resources/Prototypes/_DEN/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Epistemics/psionicMantis.yml
  Resources/Textures/_DEN/Clothing/Eyes/Hud/epi_mantis.rsi/icon-folded.png
  Resources/Textures/_DEN/Clothing/Eyes/Hud/epi_mantis.rsi/icon.png
Labels: Changes: Sprite

Update edge.yml
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

Slightly adjust the marked traits description and title and restore the one point from the marked for removal trait
  Resources/Locale/en-US/_Floof/traits/traits.ftl
  Resources/Prototypes/_Floof/Traits/marked.yml
Labels: Changes: Localization

one more minor tweak
  Resources/Locale/en-US/_Floof/traits/traits.ftl
Labels: Changes: Localization

gave bluespace and normality ore mining points and made the processing time in line with other ores
  Resources/Prototypes/Recipes/Lathes/sheet.yml
Labels: none

chore: diamond sell price halved
  Resources/Prototypes/Reagents/Materials/materials.yml
Labels: none

chore: infinite rerolls, 3 bounties at a time
  Content.Server/Cargo/Components/StationCargoBountyDatabaseComponent.cs
Labels: Changes: C#

feat: re-enable chasms
  Content.Shared/Chasm/ChasmSystem.cs
Labels: Changes: C#

chore: halved mining points from diamond and bananium
  Resources/Prototypes/_Lavaland/Entities/Objects/Materials/ore.yml
Labels: none

tweak: skip delay 5 -> 30
  Content.Server/Cargo/Components/StationCargoBountyDatabaseComponent.cs
Labels: Changes: C#

tweak: spesos from 1:1 to 2:1
  Resources/Prototypes/_DV/Catalog/VendingMachines/Inventories/salvage_points.yml
Labels: none

adding skia store
  Content.Server/_DEN/Skia/SkiaSystem.cs
  Content.Shared/_DEN/Skia/Components/SkiaComponent.cs
  Resources/Prototypes/_DEN/Catalog/skia_catalog.yml
  Resources/Prototypes/_DEN/Store/categories.yml
  Resources/Prototypes/_DEN/Store/currency.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/skia.yml
Labels: Changes: C#

adjust weapon toggles
  Resources/Locale/en-US/_DEN/items/toggle.ftl
  Resources/Prototypes/_DEN/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/outfits.yml
  Resources/Textures/_DEN/Clothing/Head/Hoods/mantis_hood_dark.rsi/folded-equipped-HELMET-thaven.png
  Resources/Textures/_DEN/Clothing/Head/Hoods/mantis_hood_dark.rsi/folded-equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hoods/mantis_hood_dark.rsi/icon-folded.png
  Resources/Textures/_DEN/Clothing/Head/Hoods/mantis_hood_dark.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Mantis Hood Folding
  Resources/Prototypes/_DEN/Entities/Clothing/Head/hoods.yml
Labels: none

asdf
  Resources/Textures/_DEN/Clothing/Head/Hoods/mantis_hood_dark.rsi/folded-equipped-HELMET-thaven.png
  Resources/Textures/_DEN/Clothing/Head/Hoods/mantis_hood_dark.rsi/folded-equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hoods/mantis_hood_dark.rsi/icon-folded.png
  Resources/Textures/_DEN/Clothing/Head/Hoods/mantis_hood_dark.rsi/meta.json
Labels: Changes: Sprite

chore: some cleanup
  Content.Client/Clothing/ClientClothingSystem.cs
Labels: Changes: C#

yay
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/outfits.yml
Labels: none

foldable airy gloves
  Resources/Prototypes/_DEN/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Head/hoods.yml
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mantis_gloves_airy.rsi/folded-equipped-HAND.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mantis_gloves_airy.rsi/icon-folded.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mantis_gloves_airy.rsi/meta.json
Labels: Changes: Sprite

Revert "feat: re-enable chasms"
  Content.Shared/Chasm/ChasmSystem.cs
Labels: Changes: C#

tweak: back to 6 bounties
  Content.Server/Cargo/Components/StationCargoBountyDatabaseComponent.cs
Labels: Changes: C#

whitespace
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: none

added blood loss back, removed stuttering
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: none

stop that
  Resources/Textures/_DEN/Clothing/Eyes/Hud/epi_mantis.rsi/icon-folded.png
  Resources/Textures/_DEN/Clothing/Eyes/Hud/epi_mantis.rsi/icon.png
Labels: Changes: Sprite

take the new icons...
  Resources/Textures/_DEN/Clothing/Eyes/Hud/epi_mantis.rsi/icon-folded.png
  Resources/Textures/_DEN/Clothing/Eyes/Hud/epi_mantis.rsi/icon.png
Labels: Changes: Sprite

scugcat ghost role description updated
  Resources/Locale/en-US/_DV/ghost/roles/ghost-role-component.ftl
Labels: Changes: Localization

created plushie, added sprite, added to spawners, selectors, and loadouts, burgerfied
  Resources/Locale/en-US/_DEN/nutrition/components/food-sequence.ftl
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/FoodSequence/mothic_sequence_element.yml
  Resources/Textures/_DEN/Objects/Fun/whistlerplushie.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/whistlerplushie.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/whistlerplushie.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/whistlerplushie.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Adds new masks to engineering Loadouts
  Resources/Locale/en-US/_CD/records/viewer.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/chiefEngineer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/engineeringUncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/chiefEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/uncategorized.yml
Labels: Changes: Localization

arm chains too fuck it
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/psionicMantis.yml
  Resources/Prototypes/_DEN/Catalog/VendingMachines/Inventories/mantis.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Epistemics/psionicMantis.yml
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mantis_gloves_chains.rsi/equipped-HAND.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mantis_gloves_chains.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mantis_gloves_chains.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mantis_gloves_chains.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mantis_gloves_chains.rsi/meta.json
Labels: Changes: Sprite

asdf
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/cane.yml
Labels: none

the joints are 100% debug exception free!
  Content.Shared/Floofstation/Leash/LeashSystem.cs
Labels: Changes: C#

moved loadout YML to correct namespace
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/toys.yml
Labels: none

changed scugcat to crew aligned, updated ghost role text a little to indicate this
  Resources/Locale/en-US/Floof/scugcat.ftl
  Resources/Prototypes/_Floof/Entities/Mobs/NPCs/scugcat.yml
Labels: Changes: Localization

fixy
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/psionicMantis.yml
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mantis_gloves_chains.rsi/icon.png
Labels: Changes: Sprite

Update Resources/Prototypes/_DV/Catalog/VendingMachines/Inventories/salvage_points.yml
  Resources/Prototypes/_DV/Catalog/VendingMachines/Inventories/salvage_points.yml
Labels: none

You can now switch between rope and chain for the leash texture.
  Content.Shared/Floofstation/Leash/Components/LeashComponent.cs
  Content.Shared/Floofstation/Leash/LeashSystem.cs
  Resources/Locale/en-US/Floof/verbs/verb-categories.ftl
  Resources/Locale/en-US/floofstation/leash/leash-verbs.ftl
  Resources/Locale/en-US/floofstation/leash/leash.ftl
  Resources/Prototypes/_Floof/Entities/Objects/Tools/leash.yml
Labels: Changes: C#, Changes: Localization

STUPID LOBBY UIS
  Resources/Textures/LobbyScreens/BREAK.webp
  Resources/Textures/LobbyScreens/KAASI_DOSHI.webp
Labels: none
