Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

linter fix
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: none

Blood Reagent Trait Refactor (#2648)
  Resources/Locale/en-US/_DEN/traits/bloods.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/_DEN/CharacterItemGroups/Traits/bloods.yml
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: Changes: Localization

Automated changelog update (#2648)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Blood Reagent Trait Refactor
  Resources/Locale/en-US/_DEN/traits/bloods.ftl
  Resources/Locale/en-US/traits/traits.ftl
Labels: Changes: Localization

I broke the birds.
  Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
Labels: none

Give the earrings back
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/base.yml
Labels: none

as
  Resources/Textures/_DEN/Decals/somber_electrum.rsi/outerelectrumcircle1.png
  Resources/Textures/_DEN/Decals/somber_electrum.rsi/outerelectrumcircle2.png
  Resources/Textures/_DEN/Decals/somber_electrum.rsi/outerelectrumcircle3.png
  Resources/Textures/_DEN/Decals/somber_electrum.rsi/outerelectrumcircle4.png
  Resources/Textures/_DEN/Decals/somber_electrum.rsi/outerelectrumcircle6.png
  Resources/Textures/_DEN/Decals/somber_electrum.rsi/outerelectrumcircle7.png
  Resources/Textures/_DEN/Decals/somber_electrum.rsi/outerelectrumcircle8.png
  Resources/Textures/_DEN/Decals/somber_electrum.rsi/outerelectrumcircle9.png
Labels: Changes: Sprite

Give Resomi Earrings Back (#2652)
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/base.yml
Labels: none

whoops missed these suffixes during the backpack update, you only see this in spawn
  Resources/Prototypes/_DEN/Entities/Clothing/Back/back.yml
Labels: none

Automated changelog update (#2652)
  Resources/Changelog/Den.yml
Labels: none

[Bugfix] Resomi Inherit Human Displacement Maps Oops. (#2651)
  Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
Labels: none

Automated changelog update (#2651)
  Resources/Changelog/Den.yml
Labels: none

make networking function
  Content.Client/Effects/Systems/ApplyShaderToEntitySystem.cs
  Content.Shared/Effects/Components/ApplyShaderToEntityComponent.cs
  Content.Shared/Effects/Systems/SharedApplyShaderToEntitySystem.cs
Labels: Changes: C#

yml fixes
  Resources/Prototypes/_DEN/Shaders/debug.yml
Labels: none

Fix industrial ore processor getting reduced materials
  Content.Server/Lathe/LatheSystem.cs
  Content.Shared/Lathe/LatheComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: C#

Make the flatpacker able to have its speed upgraded with parts.
  Content.Server/Construction/FlatpackSystem.cs
  Content.Shared/Construction/Components/FlatpackCreatorComponent.cs
  Content.Shared/Lathe/LatheComponent.cs
Labels: Changes: C#

linter fix two
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: none

Revert "linter fix two", rider decided to hold onto pre-merge data????
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: none

Make the Flatpacker Able to Have Its Speed Upgraded with Parts. (#2654)
  Content.Server/Construction/FlatpackSystem.cs
  Content.Shared/Construction/Components/FlatpackCreatorComponent.cs
  Content.Shared/Lathe/LatheComponent.cs
Labels: Changes: C#

Automated changelog update (#2654)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Make the Flatpacker Able to Have Its Speed Upgraded with Parts.
  Content.Server/Construction/FlatpackSystem.cs
  Content.Shared/Construction/Components/FlatpackCreatorComponent.cs
  Content.Shared/Lathe/LatheComponent.cs
Labels: Changes: C#

Fix Industrial Ore Processor Getting Reduced Materials (#2653)
  Content.Server/Lathe/LatheSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: C#

Automated changelog update (#2653)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Fix Industrial Ore Processor Getting Reduced Materials
  Content.Server/Lathe/LatheSystem.cs
Labels: Changes: C#

fix blowed up
  Resources/Prototypes/_DEN/CharacterItemGroups/Traits/bloods.yml
Labels: none

fix blowed up
  Resources/Prototypes/_DEN/CharacterItemGroups/Traits/bloods.yml
Labels: none

readd missing loc strings
  Resources/Locale/en-US/_DEN/traits/bloods.ftl
Labels: Changes: Localization

asdf
  Resources/Textures/_SHA/Decals/somber_electrum.rsi/penthouseoutereye3.png
  Resources/Textures/_SHA/Decals/somber_electrum.rsi/penthouseoutereyebase7.png
Labels: Changes: Sprite

Intoxicating Blood Trait (#2650)
  Resources/Prototypes/_DEN/CharacterItemGroups/Traits/bloods.yml
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: none

Automated changelog update (#2650)
  Resources/Changelog/Den.yml
Labels: none

change cost because i forgor
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: none

Decouple Synth Blood Bloodstream Swap From Synthetic Trait (#2649)
  Content.Server/_CD/Traits/SynthSystem.cs
  Resources/Locale/en-US/_DEN/traits/bloods.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/_DEN/CharacterItemGroups/Traits/bloods.yml
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: Changes: C#, Changes: Localization

Automated changelog update (#2649)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Decouple Synth Blood Bloodstream Swap From Synthetic Trait
  Content.Server/_CD/Traits/SynthSystem.cs
  Resources/Locale/en-US/traits/traits.ftl
Labels: Changes: C#, Changes: Localization

Updated Holobarriers
  Content.Client/_DEN/Holosign/Systems/LabelableHolosignProjectorSystem.cs
  Content.Client/_DEN/Holosign/UI/LabelableHolosignProjectorDescriptionBUI.cs
  Content.Client/_DEN/Holosign/UI/LabelableHolosignProjectorSignBUI.cs
  Content.Client/_DEN/Holosign/UI/LabelableHolosignProjectorWindow.xaml
  Content.Client/_DEN/Holosign/UI/LabelableHolosignProjectorWindow.xaml.cs
  Content.Shared/PDA/PdaComponent.cs
  Content.Shared/PDA/SharedPdaSystem.cs
  Content.Shared/_DEN/Holosign/Components/LabelableHolosignProjectorComponent.cs
  Content.Shared/_DEN/Holosign/Components/LabeledHolosignComponent.cs
  Content.Shared/_DEN/Holosign/Events/LabelableHolosignEvents.cs
  Content.Shared/_DEN/Holosign/Systems/SharedLabelableHolosignProjectorSystem.cs
  Resources/Locale/en-US/_DEN/holofan/labelable_holosign.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_DEN/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/_DEN/tags.yml
Labels: Changes: C#, Changes: Localization, Changes: UI

Fixes and add selected to description
  Content.Shared/_DEN/Holosign/Systems/SharedLabelableHolosignProjectorSystem.cs
  Resources/Locale/en-US/_DEN/holofan/labelable_holosign.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Devices/holoprojectors.yml
Labels: Changes: C#, Changes: Localization

Feedback whew
  Resources/Locale/en-US/_DEN/holofan/labelable_holosign.ftl
  Resources/Migrations/denMigrations.yml
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
  Resources/Prototypes/_DEN/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/admin.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/lewd.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/service_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/misc.yml
Labels: Changes: Localization

Updated Holobarriers (#2641)
  Content.Client/_DEN/Holosign/Systems/LabelableHolosignProjectorSystem.cs
  Content.Client/_DEN/Holosign/UI/LabelableHolosignProjectorDescriptionBUI.cs
  Content.Client/_DEN/Holosign/UI/LabelableHolosignProjectorSignBUI.cs
  Content.Client/_DEN/Holosign/UI/LabelableHolosignProjectorWindow.xaml
  Content.Client/_DEN/Holosign/UI/LabelableHolosignProjectorWindow.xaml.cs
  Content.Shared/PDA/PdaComponent.cs
  Content.Shared/PDA/SharedPdaSystem.cs
  Content.Shared/_DEN/Holosign/Components/LabelableHolosignProjectorComponent.cs
  Content.Shared/_DEN/Holosign/Components/LabeledHolosignComponent.cs
  Content.Shared/_DEN/Holosign/Events/LabelableHolosignEvents.cs
  Content.Shared/_DEN/Holosign/Systems/SharedLabelableHolosignProjectorSystem.cs
  Resources/Locale/en-US/_DEN/holofan/labelable_holosign.ftl
  Resources/Migrations/denMigrations.yml
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
  Resources/Prototypes/_DEN/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/admin.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/lewd.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/service_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/misc.yml
  Resources/Prototypes/_DEN/tags.yml
Labels: Changes: C#, Changes: Localization, Changes: UI

Automated changelog update (#2641)
  Resources/Changelog/Den.yml
Labels: none

Gorilla Gauntlet Doesn't Unanchor Things (#2624)
  Resources/Prototypes/Entities/Objects/Specific/Research/anomaly.yml
Labels: none
