Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

fixes
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Resources/Locale/en-US/_DEN/administration/admin-verbs.ftl
  Resources/Locale/en-US/administration/admin-verbs.ftl
Labels: Changes: C#, Changes: Localization

ahoge
  Resources/Locale/en-US/_DEN/markings/misc.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/misc.yml
  Resources/Textures/_DEN/Mobs/Customization/Head/misc.rsi/big_ahoge1.png
  Resources/Textures/_DEN/Mobs/Customization/Head/misc.rsi/big_ahoge2.png
  Resources/Textures/_DEN/Mobs/Customization/Head/misc.rsi/meta.json
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/shortAndPoofy.png
Labels: Changes: Localization, Changes: Sprite

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

Revert "Fire Resistance Trait V2 (#2247)"
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Prototypes/_DEN/Traits/physical.yml
Labels: Changes: Localization

fix recipe from git rebase and make more expensive
  Resources/Prototypes/_DEN/Recipes/Lathes/misc.yml
Labels: none

gas plume, warnings
  Content.Server/_DEN/BodyDissolution/BodyDissolverSystem.cs
  Resources/Locale/en-US/_DEN/items/body-dissolver.ftl
  Resources/Prototypes/_DEN/Tools/body_dissolver.yml
Labels: Changes: C#, Changes: Localization

box and gib noise
  Content.Server/_DEN/BodyDissolution/BodyDissolverSystem.cs
  Resources/Prototypes/_DEN/Tools/body_dissolver.yml
Labels: Changes: C#

Add descriptors to the person wearing the hat.
  Resources/Locale/en-US/_DEN/item-modifier/insulative.ftl
  Resources/Locale/en-US/_DEN/obvious/obvious.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Misc/insulative.yml
Labels: Changes: Localization

assets, de-hardcoding a bunch of stuff since testing is done
  Content.Server/_DEN/BodyDissolution/BodyDissolvableComponent.cs
  Content.Server/_DEN/BodyDissolution/BodyDissolverComponent.cs
  Content.Server/_DEN/BodyDissolution/BodyDissolverSystem.cs
  Resources/Locale/en-US/_DEN/items/body-dissolver.ftl
  Resources/Prototypes/_DEN/Tools/body_dissolver.yml
  Resources/Textures/_DEN/Objects/Tools/body_dissolver.rsi/icon.png
  Resources/Textures/_DEN/Objects/Tools/body_dissolver.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite

Colors!
  Resources/Locale/en-US/_DEN/item-modifier/insulative.ftl
Labels: Changes: Localization

Head bandana ingestion blocking fix (#28910)
  Content.Shared/Clothing/Components/MaskComponent.cs
  Content.Shared/Clothing/EntitySystems/MaskSystem.cs
  Resources/Prototypes/Entities/Clothing/Head/bandanas.yml
  Resources/Prototypes/Entities/Clothing/Masks/bandanas.yml
Labels: Changes: C#

emagged functionality and fixes
  Content.Server/_DEN/BodyDissolution/BodyDissolverComponent.cs
  Content.Server/_DEN/BodyDissolution/BodyDissolverSystem.cs
  Resources/Locale/en-US/_DEN/items/body-dissolver.ftl
  Resources/Prototypes/_DEN/Tools/body_dissolver.yml
Labels: Changes: C#, Changes: Localization

tweak sound
  Resources/Audio/_DEN/Effects/body_dissolver_tack.ogg
Labels: Changes: Audio

interaction
  Content.Server/_DEN/BodyDissolution/BodyDissolverSystem.cs
  Resources/Locale/en-US/_DEN/items/body-dissolver.ftl
Labels: Changes: C#, Changes: Localization

comments and fixes
  Content.Server/_DEN/BodyDissolution/BodyDissolverSystem.cs
  Resources/Prototypes/_DEN/Tools/body_dissolver.yml
  Resources/Prototypes/_DEN/tags.yml
Labels: Changes: C#

add body dissolvable to vent critters
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/argocyte.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: none

make obtainable
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/_DEN/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/_DEN/Tools/body_dissolver.yml
Labels: none

whoopsie used clientside thing on server
  Content.Server/_DEN/BodyDissolution/BodyDissolverSystem.cs
Labels: Changes: C#

namespace changes
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/argocyte.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
Labels: none

remove dangly bit
  Resources/Prototypes/_DEN/Tools/body_dissolver.yml
Labels: none

fix test fail
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: none

ough
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: none

access configuator in belt, rods in construction bag
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
Labels: none

assaymodspt1
  Resources/Locale/en-US/_DEN/psionics/psionic-powers.ftl
  Resources/Locale/en-US/psionics/psionic-powers.ftl
  Resources/Prototypes/Entities/Effects/portal.yml
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
  Resources/Prototypes/Entities/Structures/Decoration/flesh_blockers.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/cores.yml
  Resources/Prototypes/Entities/Tiles/shadow_basalt.yml
Labels: Changes: Localization

adminplushies pt1
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/toys.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/FoodSequence/mothic_sequence_element.yml
  Resources/Textures/_DEN/Objects/Fun/pattyplushie.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/pattyplushie.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/pattyplushie.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/pattyplushie.rsi/meta.json
  Resources/Textures/_DEN/Objects/Fun/stuplushie.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/stuplushie.rsi/meta.json
  Resources/Textures/_DEN/Objects/Fun/twiggyplushie.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/twiggyplushie.rsi/meta.json
Labels: Changes: Sprite

add signaller
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: none

normal cat + fix
  Resources/Locale/en-US/_DEN/nutrition/components/food-sequence.ftl
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/FoodSequence/mothic_sequence_element.yml
  Resources/Textures/_DEN/Objects/Fun/philplushie.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/philplushie.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Obsidian
  Resources/Maps/TheDen/obsidian.yml
  Resources/Prototypes/Maps/obsidian.yml
Labels: Changes: Map

Update glacier.yml
  Resources/Prototypes/Maps/glacier.yml
Labels: Changes: Map

tail animation
  Resources/Textures/Mobs/Customization/Shadowkin/tails64x32.rsi/meta.json
  Resources/Textures/Mobs/Customization/Shadowkin/tails64x32.rsi/shadowkin_big_fluff_over.png
  Resources/Textures/Mobs/Customization/Shadowkin/tails64x32.rsi/shadowkin_big_fluff_under.png
  Resources/Textures/_DEN/Mobs/Customization/Shadowkin/tailwag64x32.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Shadowkin/tailwag64x32.rsi/shadowkin_big_fluff_over_wag.png
  Resources/Textures/_DEN/Mobs/Customization/Shadowkin/tailwag64x32.rsi/shadowkin_big_fluff_under_wag.png
Labels: Changes: Sprite

add logging to custom examine
  Content.Server/_Floof/Examine/CustomExamineSystem.cs
Labels: Changes: C#

Big Ahoge Fix
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/misc.yml
Labels: none

fix: forgot to set handled
  Content.Server/_DEN/Markings/AnimatedMarkingsSystem.cs
Labels: Changes: C#

added fireflies marking to resomi
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc.yml
Labels: none

Create acrux.yml
  Resources/Prototypes/Maps/acrux.yml
Labels: Changes: Map

Create acrux.yml
  Resources/Maps/TheDen/acrux.yml
Labels: Changes: Map

Update acrux.yml
  Resources/Maps/TheDen/acrux.yml
Labels: Changes: Map

destroy on use setting
  Content.Server/_DEN/BodyDissolution/BodyDissolverComponent.cs
  Content.Server/_DEN/BodyDissolution/BodyDissolverSystem.cs
Labels: Changes: C#

fix: im dumb
  Content.Server/_DEN/Markings/AnimatedMarkingsSystem.cs
Labels: Changes: C#

feat: split up chat system
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_DEN/Chat/Systems/ChatSystem.Announcements.cs
  Content.Server/_DEN/Chat/Systems/ChatSystem.DialogueOnly.cs
  Content.Server/_DEN/Chat/Systems/ChatSystem.Events.cs
  Content.Server/_DEN/Chat/Systems/ChatSystem.PrivateAPI.cs
  Content.Server/_DEN/Chat/Systems/ChatSystem.Utility.cs
Labels: Changes: C#

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
