Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

storage capacity tweak
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
Labels: none

whoops
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
Labels: none

fuck you
  Content.Server/Medical/Components/HealingComponent.cs
  Content.Server/Medical/HealingSystem.cs
  Content.Server/_DEN/Body/Systems/BloodstreamSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
Labels: Changes: C#

add other blood types
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
Labels: none

aaaaaaaaaaaa
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
Labels: none

add rosejuice prototype, ornamental rose desc adjustment, gin flavour from wizden, other tweaks
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Drinks/drinks.yml
Labels: Changes: Localization

Update dingo.yml
  Resources/Maps/TheDen/dingo.yml
Labels: Changes: Map

reagent grinding/juicing and eating fix
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Throwable/roses.yml
Labels: none

bigger
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
Labels: none

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

i think this fixes it
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Throwable/roses.yml
Labels: none

I got a little hungry...
  Resources/Locale/en-US/_DEN/paper/doc-printer.ftl
  Resources/Migrations/denMigrations.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/paper.yml
Labels: Changes: Localization

mald pr
  Resources/Migrations/denMigrations.yml
Labels: none

change message
  Resources/Locale/en-US/_DEN/paper/doc-printer.ftl
  Resources/Locale/en-US/_DEN/paper/other.ftl
Labels: Changes: Localization

pulse
  Resources/Prototypes/_DV/Catalog/Shipyard/civilian.yml
Labels: none

recipe change
  Resources/Prototypes/_Impstation/Recipes/Reactions/drinks.yml
Labels: none

idk what that does but nothing seems to break when i remove it? #scared
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Throwable/roses.yml
Labels: none

added to random spawner
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_glass.yml
  Resources/Prototypes/_Floof/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Drinks/drinks.yml
Labels: none

adjust vent critter audio
  Content.Server/StationEvents/Events/VentCrittersRule.cs
Labels: Changes: C#

Update perpetuity.yml
  Resources/Maps/TheDen/perpetuity.yml
Labels: Changes: Map

I have no idea why this works
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: C#, Changes: UI

garterbelt
  Resources/Locale/en-US/_DEN/markings/undershirt.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/garterbelt.rsi/garterbelt.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/strappy_lingere.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

garterbelt gender changes
  Resources/Locale/en-US/_DEN/markings/undershirt.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/garterbelt.rsi/garterbelt_f.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/garterbelt.rsi/garterbelt_frills.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/garterbelt.rsi/garterbelt_frills_f.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/garterbelt.rsi/garterbelt_frills_m.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/garterbelt.rsi/garterbelt_m.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/garterbelt.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Traumox momence
  Resources/Prototypes/_DEN/Entities/Objects/Specific/chemical-containers.yml
Labels: none

Total. Plushie. Death!
  Resources/Maps/TheDen/baikal.yml
  Resources/Maps/TheDen/gravel.yml
Labels: Changes: Map

feat: digiboard is an order sender
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: none

a
  Content.Server/Cargo/Systems/CargoSystem.Telepad.cs
  Content.Shared/Cargo/Components/SharedCargoTelepadComponent.cs
Labels: Changes: C#

fix: cargo teleporter
  Content.Server/Cargo/Systems/CargoSystem.Telepad.cs
Labels: Changes: C#

tweak: 10 seconds to 5 seconds
  Content.Server/Cargo/Systems/CargoSystem.Telepad.cs
  Content.Shared/Cargo/Components/SharedCargoTelepadComponent.cs
Labels: Changes: C#

instrument stand component and system
  Content.Server/_DEN/Instruments/InstrumentStandSystem.cs
  Content.Shared/_DEN/Instruments/InstrumentStandComponent.cs
  Content.Shared/_DEN/Instruments/SharedInstrumentStandSystem.cs
Labels: Changes: C#

add microphone stand
  Resources/Locale/en-US/_DEN/instruments/instrument-stand-component.ftl
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_percussion.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/Instruments/stands.yml
  Resources/Prototypes/_DEN/tags.yml
  Resources/Textures/_DEN/Objects/Fun/Instruments/microphone_stand.rsi/meta.json
  Resources/Textures/_DEN/Objects/Fun/Instruments/microphone_stand.rsi/microphone.png
  Resources/Textures/_DEN/Objects/Fun/Instruments/microphone_stand.rsi/stand.png
Labels: Changes: Localization, Changes: Sprite

lil cleanup
  Resources/Locale/en-US/_DEN/markings/bodytape.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/bodytape.yml
Labels: Changes: Localization

Choker
  Resources/Locale/en-US/_DEN/markings/undershirt.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/undershirt.yml
Labels: Changes: Localization

cuffs and choker
  Resources/Locale/en-US/_DEN/markings/undershirt.ftl
  Resources/Locale/en-US/_DEN/markings/underwear.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/underwear.yml
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/choker.rsi/choker_clip.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/choker.rsi/choker_f.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/choker.rsi/choker_m.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/choker.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/cuffs.rsi/anklecuff.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/cuffs.rsi/anklecuff_frills.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/cuffs.rsi/anklecuff_thick.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/cuffs.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/cuffs.rsi/wristcuff.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/cuffs.rsi/wristcuff_frills.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/cuffs.rsi/wristcuff_thick.png
Labels: Changes: Localization, Changes: Sprite

fix physics
  Resources/Prototypes/_DEN/Entities/Objects/Fun/Instruments/stands.yml
Labels: none

Meow meow meow meow
  Content.Server/Instruments/InstrumentSystem.cs
Labels: Changes: C#

marking limit adjustment
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/harpy.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/ipc.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/shadowkin.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Prototypes/_DEN/Species/Ovinia.yml
  Resources/Prototypes/_DEN/Species/canid.yml
  Resources/Prototypes/_DV/Species/chitinid.yml
  Resources/Prototypes/_DV/Species/feroxi.yml
  Resources/Prototypes/_DV/Species/kitsune.yml
  Resources/Prototypes/_DV/Species/rodentia.yml
  Resources/Prototypes/_DV/Species/vulpkanin.yml
  Resources/Prototypes/_EE/Species/tajaran.yml
  Resources/Prototypes/_Impstation/Species/thaven.yml
Labels: none

render the microphone in the stand
  Resources/Prototypes/_DEN/Entities/Objects/Fun/Instruments/stands.yml
Labels: none

lil baby fix
  Resources/Locale/en-US/_DEN/markings/undershirt.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/undershirt.yml
Labels: Changes: Localization

update microphone/stand sprites
  Resources/Prototypes/_DEN/Entities/Objects/Fun/Instruments/stands.yml
  Resources/Textures/_DEN/Objects/Fun/Instruments/microphone_stand.rsi/microphone.png
  Resources/Textures/_DEN/Objects/Fun/Instruments/microphone_stand.rsi/stand.png
Labels: Changes: Sprite
