Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

Fix Bwoink Player sorting again.... (#30580)
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
Labels: Changes: C#, Changes: UI

file-scoped namespacing
  Content.Server/Administration/Systems/AdminSystem.cs
Labels: Changes: C#

Players with unknown playtimes now are tagged as new players, take 2 (#35648)
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Client/Administration/UI/Bwoink/BwoinkWindow.xaml.cs
  Content.Server/Administration/Systems/AdminSystem.cs
Labels: Changes: C#, Changes: UI

HOTFIX Admin playerlist character update fix (#34560)
  Content.Server/Administration/Systems/AdminSystem.cs
Labels: Changes: C#

add player renamed event
  Content.Server/Administration/Systems/AdminSystem.cs
Labels: Changes: C#

nanomed restock price go up, again
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
Labels: none

more cost, more
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
Labels: none

feat: marked component and consent toolshed commands
  Content.Server/_DEN/Administration/Commands/ConsentCommands.cs
  Content.Server/_DEN/Administration/Toolshed/ConsentToolshedCommands.cs
  Content.Server/_DEN/Administration/Toolshed/MarkedToolshedCommands.cs
  Resources/Locale/en-US/_DEN/toolshed/consent-command.ftl
  Resources/Locale/en-US/_DEN/toolshed/markedcomp-command.ftl
Labels: Changes: C#, Changes: Localization

chore: comp:has does this
  Content.Server/_DEN/Administration/Toolshed/MarkedToolshedCommands.cs
  Resources/Locale/en-US/_DEN/toolshed/markedcomp-command.ftl
Labels: Changes: C#, Changes: Localization

feat: markedcomp:without
  Content.Server/_DEN/Administration/Toolshed/MarkedToolshedCommands.cs
  Resources/Locale/en-US/_DEN/toolshed/markedcomp-command.ftl
Labels: Changes: C#, Changes: Localization

feat: more admin consents
  Resources/Locale/en-US/Blep/consent.ftl
  Resources/Locale/en-US/_DEN/consent/consent-groups.ftl
  Resources/Prototypes/_DEN/Consent/consent_groups.yml
  Resources/Prototypes/consent.yml
Labels: Changes: Localization

fix: linter
  Resources/Locale/en-US/_DEN/toolshed/markedcomp-command.ftl
Labels: Changes: Localization

Revert "Fix AHelp Sorting (#2337)"
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Client/Administration/UI/Bwoink/BwoinkWindow.xaml.cs
  Content.Server/Administration/Systems/AdminSystem.cs
Labels: Changes: C#, Changes: UI

cut baseball stam damage by half
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
Labels: none

fix: markdown works with detailed say/whisper again
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#

fix: unended quotes break everything
  Content.Shared/_DEN/StringBounds/StringBounds.cs
Labels: Changes: C#

feat: don't treat a quote as dialogue if it starts with !
  Content.Shared/_DEN/StringBounds/StringBounds.cs
Labels: Changes: C#

Revert "feat: don't treat a quote as dialogue if it starts with !"
  Content.Shared/_DEN/StringBounds/StringBounds.cs
Labels: Changes: C#

fix: say/whisper coloring not broken
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

Add ClothingMaskBreathEatThrough to _DEN masks.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Masks/masks.yml
Labels: none

Add Passthrough Breath Mask for Vox
  Resources/Prototypes/_DEN/Loadouts/Generic/species.yml
Labels: none

added heavyswing on miss for most kinetics
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/crushers.yml
Labels: none

Spear throwing adjustments
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/crushers.yml
Labels: none

wahee!
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/feroxi.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/vulpkanin.yml
Labels: none

adjusted machete shield to 60 sec, 20 reduct on mark hit
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/crushers.yml
Labels: none

I want the fluffy lizard tail.
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/reptilianmarks.yml
Labels: none

KILL THAT SEMICOLON
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
Labels: none

add station info commands to debug perms
  Resources/engineCommandPerms.yml
Labels: none

Add Passthrough Mask to BasicLifeImprovements
  Resources/Prototypes/Research/civilianservices.yml
Labels: none

Passthrough Mask clothing recipe
  Resources/Prototypes/_DEN/Recipes/Lathes/clothing.yml
Labels: none

Passthrough Mask in Protolathe
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/protolathe.yml
Labels: none

Allow midround generic borgs to have science modules equipped like roundstart generic borgs
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
Labels: none

feat: thaven rest day
  Resources/Locale/en-US/_Impstation/thavens/shared.ftl
  Resources/Prototypes/_Impstation/Thavens/Moods/shared.yml
Labels: Changes: Localization

chore: move namespace
  Resources/Locale/en-US/_DEN/thavens/shared.ftl
  Resources/Locale/en-US/_Impstation/thavens/shared.ftl
  Resources/Prototypes/_DEN/Thavens/Moods/shared.yml
  Resources/Prototypes/_Impstation/Thavens/Moods/shared.yml
Labels: Changes: Localization

chore: message?
  Resources/Locale/en-US/_DEN/thavens/shared.ftl
Labels: Changes: Localization

chore: untouch
  Resources/Locale/en-US/_Impstation/thavens/shared.ftl
  Resources/Prototypes/_Impstation/Thavens/Moods/shared.yml
Labels: Changes: Localization

chore: message
  Resources/Locale/en-US/_DEN/thavens/shared.ftl
Labels: Changes: Localization

chore: fix
  Resources/Locale/en-US/_DEN/thavens/shared.ftl
Labels: Changes: Localization

chore: rename
  Resources/Locale/en-US/_DEN/thavens/shared.ftl
  Resources/Prototypes/_DEN/Thavens/Moods/shared.yml
  Resources/Prototypes/_Impstation/Thavens/Moods/shared.yml
Labels: Changes: Localization
