Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

vox full nitrogen tank
  Resources/Prototypes/_DEN/Loadouts/Generic/species.yml
Labels: none

New varieties for BSO glasses!
  Resources/Prototypes/_DEN/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_DEN/Loadouts/Categories/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/bsoglasses_aviators.rsi/equipped-EYES.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/bsoglasses_aviators.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/bsoglasses_aviators.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/bsoglasses_aviators.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/bsoglasses_aviators.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/bsoglasses_big.rsi/equipped-EYES.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/bsoglasses_big.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/bsoglasses_big.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/bsoglasses_big.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/bsoglasses_big.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/bsoglasses_visor.rsi/equipped-EYES.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/bsoglasses_visor.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/bsoglasses_visor.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/bsoglasses_visor.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/bsoglasses_visor.rsi/meta.json
Labels: Changes: Sprite

tank outerwear non-replacer option
  Resources/Prototypes/CharacterItemGroups/Generic/outerwearGroup.yml
Labels: none

Use user's discord role
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/_DEN/Discord/DiscordUserLink.Helpers.cs
Labels: Changes: C#

ignore non-patrons
  Content.Server/_DEN/Discord/DiscordUserLink.Helpers.cs
Labels: Changes: C#

Update eyes.ftl
  Resources/Locale/en-US/_DEN/markings/eyes.ftl
Labels: Changes: Localization

indestructible holy books
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
Labels: none

Fixed yaml fail
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_DEN/Loadouts/Categories/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Command/blueshield_officer.yml
Labels: none

Put tanks into a category for easier printing!
  Resources/Locale/en-US/_DEN/lathe/lathe-categories.ftl
  Resources/Prototypes/_DEN/Recipes/Lathes/categories.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/misc.yml
Labels: Changes: Localization

Ported moproaches, moproach cubes, moproach cube kits, and added them to the custodial closet.
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/paper/paper-misc.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/toys.yml
  Resources/Prototypes/Recipes/Crafting/toys.yml
  Resources/Prototypes/_Starlight/Entities/Mobs/NPCs/moproach.yml
  Resources/Prototypes/_Starlight/Entities/Objects/Misc/intermediate_parts.yml
  Resources/Textures/Objects/Misc/monkeycube.rsi/box_moproach.png
  Resources/Textures/Objects/Misc/monkeycube.rsi/meta.json
  Resources/Textures/_Starlight/Mobs/Animals/mothroach/displacement.rsi/eyes.png
  Resources/Textures/_Starlight/Mobs/Animals/mothroach/displacement.rsi/head.png
  Resources/Textures/_Starlight/Mobs/Animals/mothroach/displacement.rsi/mask.png
  Resources/Textures/_Starlight/Mobs/Animals/mothroach/displacement.rsi/meta.json
  Resources/Textures/_Starlight/Mobs/Animals/mothroach/displacement.rsi/neck.png
  Resources/Textures/_Starlight/Mobs/Animals/mothroach/displacement.rsi/suitstorage.png
  Resources/Textures/_Starlight/Mobs/Animals/mothroach/moproach.rsi/0-equipped-HELMET.png
  Resources/Textures/_Starlight/Mobs/Animals/mothroach/moproach.rsi/icon.png
  Resources/Textures/_Starlight/Mobs/Animals/mothroach/moproach.rsi/inhand-left.png
  Resources/Textures/_Starlight/Mobs/Animals/mothroach/moproach.rsi/inhand-right.png
  Resources/Textures/_Starlight/Mobs/Animals/mothroach/moproach.rsi/meta.json
  Resources/Textures/_Starlight/Mobs/Animals/mothroach/moproach.rsi/mothroach-moving.png
  Resources/Textures/_Starlight/Mobs/Animals/mothroach/moproach.rsi/mothroach.png
  Resources/Textures/_Starlight/Mobs/Animals/mothroach/moproach.rsi/mothroach_dead.png
  Resources/Textures/_Starlight/Mobs/Animals/mothroach/moproach.rsi/mothroach_lazy.png
  Resources/Textures/_Starlight/Objects/Misc/moproach_shoes.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Misc/moproach_shoes.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Misc/moproach_shoes.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Misc/moproach_shoes.rsi/mopshoes.png
Labels: Changes: Localization, Changes: Sprite

Adjusted cargo crate amount (less expensive moths to encourage use)
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
Labels: none

Fixed cargo request Icon
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
Labels: none

Dignitaries added!
  Content.Client/Stylesheets/StyleNano.cs
  Resources/Locale/en-US/DeltaV/phrases/subjects.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/_DV/QuickPhrases/Subjects/dignitary.yml
  Resources/Prototypes/_DV/QuickPhrases/base.yml
  Resources/Prototypes/_DV/QuickPhrases/jobs.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/magistrate.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: Changes: C#, Changes: Localization

Removed Atlantic Ocean from random drinks
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_glass.yml
Labels: none

Common/Generic
  Resources/Locale/en-US/deltav/phrases/common.ftl
  Resources/Prototypes/_DV/QuickPhrases/Subjects/generic.yml
Labels: Changes: Localization

Forgot locale
  Resources/Locale/en-US/deltav/phrases/subjects.ftl
Labels: Changes: Localization

locations
  Resources/Locale/en-US/deltav/phrases/locations.ftl
  Resources/Prototypes/_DV/QuickPhrases/locations.yml
Labels: Changes: Localization

Others lmao
  Resources/Locale/en-US/deltav/phrases/subjects.ftl
  Resources/Prototypes/_DV/QuickPhrases/Common/actions.yml
  Resources/Prototypes/_DV/QuickPhrases/Common/numbers.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/epistemics.yml
  Resources/Prototypes/_DV/QuickPhrases/jobs.yml
Labels: Changes: Localization

Fixed issue with texture YML fail (Removed unused code)
  Resources/Prototypes/Recipes/Crafting/toys.yml
Labels: none

Fixing YAML Linter fail (more bad code sshhh)
  Resources/Prototypes/_Starlight/Entities/Mobs/NPCs/moproach.yml
Labels: none

Beacon Fix Up
  Resources/Locale/en-US/navmap-beacons/station-beacons.ftl
Labels: Changes: Localization

Locations made neat and have proper capitalization
  Resources/Locale/en-US/deltav/phrases/locations.ftl
  Resources/Prototypes/_DV/QuickPhrases/locations.yml
Labels: Changes: Localization

Department stuff
  Resources/Prototypes/_DV/QuickPhrases/Subjects/engineering.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/epistemics.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/justice.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/medical.yml
Labels: none

Department stuff
  Resources/Locale/en-US/deltav/phrases/subjects.ftl
  Resources/Prototypes/_DV/QuickPhrases/Subjects/engineering.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/epistemics.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/justice.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/medical.yml
Labels: Changes: Localization

make butlertron rewards into datafield
  Content.Server/_DV/NPC/Roboisseur/RoboisseurComponent.cs
  Content.Server/_DV/NPC/Roboisseur/RoboisseurSystem.cs
Labels: Changes: C#

increase butlertron reward
  Resources/Prototypes/_DV/NPC/roboisseur.yml
Labels: none

comment this shit
  Content.Server/_DV/NPC/Roboisseur/RoboisseurComponent.cs
  Content.Server/_DV/NPC/Roboisseur/RoboisseurSystem.cs
Labels: Changes: C#

add missing import pbtbbtbfbtb
  Content.Server/_DV/NPC/Roboisseur/RoboisseurComponent.cs
Labels: Changes: C#

Glowing eye fix
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/eyes.yml
  Resources/Textures/_DEN/Mobs/Customization/Head/eyes.rsi/meta.json
Labels: Changes: Sprite

salv weapon fix
  Resources/Prototypes/Entities/Objects/base_contraband.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Labels: none

medical parent fix
  Resources/Prototypes/Entities/Objects/base_contraband.yml
Labels: none

bomb/throwable pass
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/firebomb.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/pen.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/pipebomb.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/spider.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/clusterbang.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/throwing_stars.yml
  Resources/Prototypes/Entities/Structures/Machines/bombs.yml
Labels: none

warden parent
  Resources/Prototypes/Entities/Objects/base_contraband.yml
Labels: none

grand theft fix
  Resources/Prototypes/Entities/Objects/base_contraband.yml
Labels: none

flash parent fix
  Resources/Prototypes/Entities/Objects/base_contraband.yml
Labels: none

melee pass
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/home_run_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/needle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sledgehammer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/telescopic_baton.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/rescueaxe.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_EE/Entities/Objects/Weapons/Melee/terminus.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/blueshield_mace.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/kravmagagloves.yml
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/crushers.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/wooden_stake.yml
Labels: none

syndicate pass
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Devices/pinpointer.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_misc.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets/turrets_ballistic.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/bombs.yml
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/_DV/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/faxmachines.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Vehicles/keys.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Vehicles/vehicles.yml
Labels: none

salv parent fix
  Resources/Prototypes/Entities/Objects/base_contraband.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Labels: none

ninja parent
  Resources/Locale/en-US/contraband/contraband-severity.ftl
  Resources/Prototypes/Entities/Objects/base_contraband.yml
  Resources/Prototypes/contraband_severities.yml
Labels: Changes: Localization

jaws
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/base_contraband.yml
  Resources/Prototypes/_DV/Entities/Objects/Tools/jaws_of_life.yml
Labels: none
