Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

Fix Tenuous Grip Bug (#2546)
  Content.Server/_DEN/Psionics/NoosphereVulnurabilitySystem.cs
  Content.Shared/_DEN/Traits/NoosphereVulnerabilityComponent.cs
Labels: Changes: C#

Automated changelog update (#2546)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Fix Tenuous Grip Bug
  Content.Server/_DEN/Psionics/NoosphereVulnurabilitySystem.cs
  Content.Shared/_DEN/Traits/NoosphereVulnerabilityComponent.cs
Labels: Changes: C#

fix faust
  Resources/Locale/en-US/_SHA/everything.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/baseantipsionic.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_DEN/Entities/Structures/Decoration/fireplace.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/ServerInfo/Guidebook/Science/MantisGuide.xml
Labels: Changes: Documentation, Changes: Localization

fix faust
  Resources/Prototypes/Entities/Structures/Piping/Disposal/units.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
Labels: none

asdf
  Resources/Prototypes/Entities/Structures/Piping/Disposal/units.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
Labels: none

tag line
  Resources/Prototypes/Entities/Structures/Piping/Disposal/units.yml
Labels: none

Added all the missing emotes
  Content.Server/Traits/TraitSystem.Functions.cs
  Resources/Locale/en-US/_DEN/traits/speech.ftl
  Resources/Prototypes/Traits/speech.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/tags.yml
Labels: Changes: C#, Changes: Localization

Automated changelog update (#2544)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Wizden Vox Hair
  Resources/Locale/en-US/accessories/vox-facial-hair.ftl
  Resources/Locale/en-US/accessories/vox-hair.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/vox_facial_hair.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/vox_hair.yml
Labels: Changes: Localization

Tactical Maid Costume Bundle (#2517)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/_DEN/CharacterItemGroups/Loadouts/miscItems.yml
  Resources/Prototypes/_DEN/Entities/Objects/Storage/costumes.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/costumes.yml
Labels: none

Automated changelog update (#2517)
  Resources/Changelog/Den.yml
Labels: none

uwu
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

Add New Sound to X-01 and Captain's Antique Laser Pistol (#2537)
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/attributions.yml
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun1.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun10.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun11.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun12.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun13.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun14.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun15.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun2.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun3.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun4.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun5.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun6.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun7.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun8.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/energy_gun9.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_DEN/SoundCollections/Weapons/Gunshots/energy.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: Audio

Automated changelog update (#2537)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Add New Sound to X-01 and Captain's Antique Laser Pistol
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/attributions.yml
  Resources/Prototypes/_DEN/SoundCollections/Weapons/Gunshots/energy.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: none

Valid Test Fail again
  Resources/Prototypes/tags.yml
Labels: none

heehehehehe
  Resources/Prototypes/Actions/psionics.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/special.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_Floof/Actions/psionics.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Prototypes/audio.yml
  Resources/Textures/_DEN/Mobs/Ghosts/telegnosis.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Ghosts/telegnosis.rsi/telegnosis.png
  Resources/Textures/_White/BloodCult/cult_hud.rsi/cult_leader.png
  Resources/Textures/_White/BloodCult/cult_hud.rsi/cult_member.png
Labels: Changes: Sprite

proper noun
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
Labels: none

More small fixes
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

remove old "shortconstruction"
  Content.Client/ShortConstruction/ShortConstructionSystem.cs
  Content.Server/ShortConstruction/ShortConstructionSystem.cs
  Content.Shared/ShortConstruction/ShortConstructionComponent.cs
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/_White/Entities/Objects/Materials/cult.yml
Labels: Changes: C#

[Feat] Quick Construction (#61)
  Content.Client/_DEN/QuickConstruction/UI/QuickConstructionBoundUserInterface.cs
  Content.Shared/_DEN/QuickConstruction/Components/QuickConstructableComponent.cs
  Content.Shared/_DEN/QuickConstruction/Events/QuickConstructionEvents.cs
  Content.Shared/_DEN/QuickConstruction/Prototypes/QuickConstructionCategoryPrototype.cs
  Resources/Locale/en-US/_DEN/quickconstruction/categories.ftl
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/_DEN/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_DEN/QuickConstruction/glass.yml
  Resources/Prototypes/_DEN/QuickConstruction/misc.yml
  Resources/Prototypes/_DEN/QuickConstruction/steel.yml
Labels: Changes: C#, Changes: Localization

fix errors
  Content.Client/_DEN/QuickConstruction/UI/QuickConstructionBoundUserInterface.cs
Labels: Changes: C#

add missing stuff
  Resources/Prototypes/_DEN/QuickConstruction/glass.yml
  Resources/Prototypes/_DEN/QuickConstruction/misc.yml
  Resources/Prototypes/_White/Entities/Objects/Materials/cult.yml
Labels: none

This doesn't need to update this fast outside testing.
  Content.Server/_DEN/Psionics/NoosphericMoodSystem.cs
Labels: Changes: C#

Add Noospheric Moods
  Content.Server/Mood/MoodSystem.cs
  Content.Server/_DEN/Psionics/NoosphericMoodSystem.cs
  Content.Shared/_DEN/Traits/Components/NoosphereVulnerabilityComponent.cs
  Content.Shared/_DEN/Traits/Components/NoosphericMoodComponent.cs
  Content.Shared/_DEN/Traits/EntitySystems/SharedNoosphericMoodSystem.cs
  Resources/Locale/en-US/_DEN/mood/noospheric.ftl
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Prototypes/_DEN/Mood/noosphere.yml
  Resources/Prototypes/_DEN/Traits/mental.yml
Labels: Changes: C#, Changes: Localization

oops left in debug logs
  Content.Server/Mood/MoodSystem.cs
Labels: Changes: C#

Inverse trait, and numbers adjustments.
  Content.Server/Mood/MoodSystem.cs
  Content.Server/_DEN/Psionics/NoosphericMoodSystem.cs
  Content.Shared/_DEN/Traits/Components/NoosphericMoodComponent.cs
  Resources/Locale/en-US/_DEN/mood/noospheric.ftl
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Prototypes/_DEN/Mood/noosphere.yml
  Resources/Prototypes/_DEN/Traits/mental.yml
Labels: Changes: C#, Changes: Localization

Valid test fail :(
  Resources/Prototypes/_DEN/Mood/noosphere.yml
Labels: none

Add the new traits to groups
  Resources/Prototypes/CharacterItemGroups/Generic/miscTraitGroups.yml
  Resources/Prototypes/Traits/speech.yml
Labels: none

Added new Thaven drink, Kindness
  Resources/Locale/en-US/_DEN/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_DEN/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_DEN/Flavors/flavors.yml
  Resources/Prototypes/_DEN/Mood/genericPositiveEffects.yml
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_DEN/Recipes/Reactions/drinks.yml
  Resources/Textures/_DEN/Objects/Consumable/Drinks/kindness.rsi/fill-1.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/kindness.rsi/fill-2.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/kindness.rsi/fill-3.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/kindness.rsi/icon.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/kindness.rsi/icon_empty.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/kindness.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

ya
  Resources/Audio/Ambience/wisp_ambience.ogg
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/special.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/_DEN/Entities/Structures/Machines/vending_machines.yml
Labels: Changes: Audio

Wisp Ambience Filesize Reduction
  Resources/Audio/Ambience/wisp_ambience.ogg
Labels: Changes: Audio

Make Invalid Traits a Warning Instead of an Assert (#2548)
  Content.Server/Traits/TraitSystem.cs
Labels: Changes: C#

update REUSE headers from: Make Invalid Traits a Warning Instead of an Assert
  Content.Server/Traits/TraitSystem.cs
Labels: Changes: C#

Update alcohol.ftl
  Resources/Locale/en-US/_DEN/reagents/meta/consumable/drink/alcohol.ftl
Labels: Changes: Localization

fix zombie preset
  Resources/Prototypes/game_presets.yml
Labels: none

Minor Edge Fixes (#2551)
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

update REUSE headers from: Minor Edge Fixes
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

ough
  Resources/Prototypes/Actions/emotes.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/special.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_SHA/Effects/arcs.rsi/meta.json
  Resources/Textures/_SHA/Effects/arcs.rsi/none.png
Labels: Changes: Sprite
