Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

Forgot to remove the projectiles too
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Projectiles/impacts.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Projectiles/muzzleflashes.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: none

Pulse PDW contraband parent.
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: none

Remembered to remove the holobarrier from the BSO webbing (i forgor)
  Resources/Prototypes/_DEN/Entities/Clothing/Belt/belts.yml
Labels: none

Blueshield officers now have innate CPR training.
  Resources/Prototypes/Traits/skills.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
Labels: none

Changed case.
  Resources/Prototypes/_DEN/Catalog/Fills/Paper/document.yml
Labels: none

add ServerSelectiveContentManager
  Content.Shared/IoC/SharedContentIoC.cs
  Content.Shared/_DEN/CCVars/DenCCVars.cs
  Content.Shared/_DEN/ServerContent/SelectiveServerContentManager.cs
Labels: Changes: C#

prevent ordering disabled cargo prototypes
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Cargo/Systems/CargoSystem.cs
  Content.Shared/Cargo/Prototypes/CargoProductPrototype.cs
Labels: Changes: C#

disable ui buttons for disabled cargo prototypes
  Content.Client/Cargo/BUI/CargoOrderConsoleBoundUserInterface.cs
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml.cs
  Content.Client/Cargo/UI/CargoProductRow.xaml.cs
Labels: Changes: C#, Changes: UI

add server contend ID to config
  Resources/ConfigPresets/Build/development.toml
Labels: Changes: Config

draw the rest of the owl
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Catalog/Cargo/cargo_atmospherics.yml
  Resources/Prototypes/Catalog/Cargo/cargo_cargo.yml
  Resources/Prototypes/Catalog/Cargo/cargo_emergency.yml
  Resources/Prototypes/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Cargo/cargo_hardsuits.yml
  Resources/Prototypes/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/Catalog/Cargo/cargo_science.yml
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/Cargo/cargo_shuttle.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/_DV/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_Goobstation/Catalog/Cargo/cargo_science.yml
Labels: none

this was erroneous whoops
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml
Labels: Changes: UI

Made disablers roundstart tech
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/security_techfab.yml
Labels: none

oops
  Resources/Prototypes/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/Catalog/Fills/Crates/engineering.yml
Labels: none

revert some code changes related to replicators
  Content.Client/_DV/AACTablet/UI/AACBoundUserInterface.cs
  Content.Client/_DV/AACTablet/UI/AACWindow.xaml.cs
Labels: Changes: C#, Changes: UI

bunch of phrases
  Resources/Locale/en-US/deltav/phrases/common.ftl
  Resources/Locale/en-US/deltav/phrases/locations.ftl
  Resources/Locale/en-US/deltav/phrases/subjects.ftl
  Resources/Prototypes/_DV/QuickPhrases/Common/actions.yml
  Resources/Prototypes/_DV/QuickPhrases/Common/commands.yml
  Resources/Prototypes/_DV/QuickPhrases/Common/questions.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/generic.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/security.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/service.yml
  Resources/Prototypes/_DV/QuickPhrases/locations.yml
Labels: Changes: Localization

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

fuck this shit
  Content.Shared/Prototypes/CharacterItemGroupPrototype.cs
Labels: Changes: C#

FuckThisShit
  Content.Shared/Prototypes/CharacterItemGroupPrototype.cs
Labels: Changes: C#

fuck my baka life
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutsItemListPanel.xaml.cs
Labels: Changes: C#, Changes: UI

this too jjust to be safe
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutsCategoryPanel.xaml.cs
Labels: Changes: C#, Changes: UI

add a hair comb and handheld mirrors
  Resources/Prototypes/Entities/Objects/Specific/Service/barber.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Service/barber.yml
  Resources/Textures/_DEN/Objects/Tools/comb.rsi/icon.png
  Resources/Textures/_DEN/Objects/Tools/comb.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Tools/comb.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Tools/comb.rsi/meta.json
  Resources/Textures/_DEN/Objects/Tools/mirror_gold.rsi/icon.png
  Resources/Textures/_DEN/Objects/Tools/mirror_gold.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Tools/mirror_gold.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Tools/mirror_gold.rsi/meta.json
  Resources/Textures/_DEN/Objects/Tools/mirror_gray.rsi/icon.png
  Resources/Textures/_DEN/Objects/Tools/mirror_gray.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Tools/mirror_gray.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Tools/mirror_gray.rsi/meta.json
Labels: Changes: Sprite

add comb and mirrors to loadouts
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/_DEN/CharacterItemGroups/Loadouts/miscItems.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/general.yml
Labels: Changes: Localization

make wall mirror constructible
  Resources/Prototypes/Entities/Structures/Wallmounts/mirror.yml
  Resources/Prototypes/_DEN/Recipes/Construction/Graphs/Furniture/mirror.yml
  Resources/Prototypes/_DEN/Recipes/Construction/furniture.yml
Labels: none

its furniture
  Resources/Prototypes/_DEN/Recipes/Construction/furniture.yml
Labels: none

oops wrong one
  Resources/Prototypes/_DEN/Recipes/Construction/furniture.yml
Labels: none

add the bitches to the autolathe
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/misc.yml
Labels: none

Revert "add the bitches to the autolathe"
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/misc.yml
Labels: none

make the mirrors heirloom and comb colorable also i forgot item group restrictions
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/general.yml
Labels: none

meow
  Content.Server/Ame/Components/AmeControllerComponent.cs
  Resources/Audio/Machines/ame_fuelinjection.ogg
  Resources/Audio/Machines/attributions.yml
Labels: Changes: Audio, Changes: C#

add name, icon, description to wallpapers
  Resources/Prototypes/_Impstation/Recipes/Construction/furniture.yml
Labels: none

replace glowstick requirement with lv
  Resources/Prototypes/_Impstation/Recipes/Construction/Graphs/furniture/wallpapers.yml
Labels: none

Pulse PDW rotation fix
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: none

Put back the boo message.
  Resources/Locale/en-US/ghost/components/ghost-component.ftl
Labels: Changes: Localization

tweakdarkoasis
  Resources/Prototypes/_Floof/Recipes/Reactions/drinks.yml
Labels: none

Added janitor loadout, made the repair engineer loadout actually selectable
  Resources/Locale/en-US/_DEN/set-selector/selectable-set.ftl
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Prototypes/_DEN/Catalog/selectable_sets.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/ert_loadout.yml
Labels: Changes: Localization

Update selectable-set.ftl
  Resources/Locale/en-US/_DEN/set-selector/selectable-set.ftl
Labels: Changes: Localization

casing issue causing linter error
  Resources/Prototypes/_DEN/Catalog/selectable_sets.yml
Labels: none

remove event and san access from microwave options
  Resources/Prototypes/_DEN/Access/event.yml
  Resources/Prototypes/_EE/Access/SAN.yml
Labels: none

removed bonus xeno from weak vents
  Resources/Prototypes/_DV/GameRules/events.yml
Labels: none

Completed.
  Resources/Locale/en-US/_DEN/paper/other.ftl
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/_DEN/Catalog/Fills/Paper/document.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/items.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autolathe.yml
  Resources/Textures/_DEN/Interface/Paper/meta.json
  Resources/Textures/_DEN/Interface/Paper/paperstack.png
Labels: Changes: Localization

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
