Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

ya
  Resources/Audio/_SHA/ascend_flesh_voidblink.ogg
  Resources/Audio/_SHA/ascendflesh.ogg
  Resources/Audio/_SHA/ascendfleshlong.ogg
  Resources/Audio/_SHA/castsummon.ogg
  Resources/Audio/_SHA/castsummoninstant.ogg
  Resources/Audio/_SHA/heretic_gain.ogg
  Resources/Audio/_SHA/hereticgain.ogg
  Resources/Audio/_SHA/legion_spawn.ogg
  Resources/Audio/_SHA/repulse.ogg
  Resources/Audio/_SHA/repulseinstant.ogg
  Resources/Audio/_SHA/soulscream.ogg
  Resources/Audio/_SHA/soulscreamlong+ascendfleshlong.ogg
  Resources/Audio/_SHA/soulspawn.ogg
  Resources/Audio/_SHA/soultalk1.ogg
  Resources/Audio/_SHA/soultalk2.ogg
  Resources/Audio/_SHA/soultalk3.ogg
  Resources/Audio/_SHA/soultalk4.ogg
  Resources/Audio/_SHA/storage.ogg
  Resources/Audio/_SHA/voidblink.ogg
  Resources/Audio/_SHA/whatwasleft+wisp.ogg
  Resources/Audio/_SHA/wisp.ogg
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon trance.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon-fella.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon-meditation.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon-outline-circle.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon-outline-square.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon-silhouette-eyes.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon-silhouette.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon-soul.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon-trance.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/meta.json
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/soul-eyes TEST.gif
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/soul-eyes TEST.png
Labels: Changes: Audio, Changes: Sprite

lower contrast of eighties floor
  Resources/Textures/Objects/Tiles/tile.rsi/eighties.png
  Resources/Textures/Tiles/eighties.png
Labels: Changes: Sprite

owo pls merge
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

Havoc: The Rebreakening (w/ new landmines)
  Resources/Maps/TheDen/havoc.yml
  Resources/Prototypes/Maps/havoc.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/land_mines.yml
  Resources/Prototypes/_DEN/Entities/Tiles/obliteration.yml
  Resources/Textures/_DEN/Tiles/Planet/obliteration.rsi/full.png
  Resources/Textures/_DEN/Tiles/Planet/obliteration.rsi/meta.json
  Resources/Textures/_DEN/Tiles/Planet/obliteration.rsi/obliteration.png
  Resources/Textures/_DEN/Tiles/Planet/obliteration.rsi/obliteration0.png
  Resources/Textures/_DEN/Tiles/Planet/obliteration.rsi/obliteration1.png
  Resources/Textures/_DEN/Tiles/Planet/obliteration.rsi/obliteration2.png
  Resources/Textures/_DEN/Tiles/Planet/obliteration.rsi/obliteration3.png
  Resources/Textures/_DEN/Tiles/Planet/obliteration.rsi/obliteration4.png
  Resources/Textures/_DEN/Tiles/Planet/obliteration.rsi/obliteration5.png
  Resources/Textures/_DEN/Tiles/Planet/obliteration.rsi/obliteration6.png
  Resources/Textures/_DEN/Tiles/Planet/obliteration.rsi/obliteration7.png
Labels: Changes: Map, Changes: Sprite

add hydroponics/kitchen smartfridge
  Resources/Prototypes/Entities/Structures/Machines/smartfridge.yml
  Resources/Prototypes/_DEN/Entities/Structures/Machines/smartfridge.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/smartfridge.yml
Labels: none

i fixed shoukou
  Resources/Maps/TheDen/shoukou.yml
Labels: Changes: Map

whoopsy! summit fix
  Resources/Maps/TheDen/havoc.yml
Labels: Changes: Map

Edge: Justice / Epistemics Front / Chapel Update (#2571)
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

Automated changelog update (#2571)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Edge: Justice / Epistemics Front / Chapel Update
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

What if Fix Shōkō Smartfridge (#2573)
  Resources/Maps/TheDen/shoukou.yml
  Resources/Prototypes/Entities/Structures/Machines/smartfridge.yml
  Resources/Prototypes/_DEN/Entities/Structures/Machines/smartfridge.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/smartfridge.yml
Labels: Changes: Map

Automated changelog update (#2573)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: What if Fix Shōkō Smartfridge
  Resources/Maps/TheDen/shoukou.yml
  Resources/Prototypes/Entities/Structures/Machines/smartfridge.yml
  Resources/Prototypes/_DEN/Entities/Structures/Machines/smartfridge.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/smartfridge.yml
Labels: Changes: Map

adjust colors
  Resources/Textures/Objects/Tiles/tile.rsi/eighties.png
  Resources/Textures/Tiles/eighties.png
Labels: Changes: Sprite

move the new sprties into a separate folder
  Resources/Textures/Objects/Tiles/tile.rsi/eighties.png
  Resources/Textures/Tiles/eighties.png
  Resources/Textures/_DEN/Objects/Tiles/eighties.rsi/meta.json
  Resources/Textures/_DEN/Tiles/eighties.png
Labels: Changes: Sprite

Paramedic Access Doors Fixed
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_DV/Entities/Structures/Doors/Windoors/windoor.yml
Labels: none

Mail windoors fixed
  Resources/Prototypes/_DV/Entities/Structures/Doors/Windoors/windoor.yml
Labels: none

Fix Whitespace
  Resources/Prototypes/_DV/Entities/Structures/Doors/Windoors/windoor.yml
Labels: none

Fix Door Accesses (#2574)
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_DV/Entities/Structures/Doors/Windoors/windoor.yml
Labels: none

Automated changelog update (#2574)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Fix Door Accesses
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_DV/Entities/Structures/Doors/Windoors/windoor.yml
Labels: none

add 80s low contrast floor
  Resources/Prototypes/_DEN/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/_DEN/Stacks/floor_tile.yml
  Resources/Prototypes/_DEN/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/_DEN/Tiles/floor.yml
  Resources/Prototypes/_DEN/Tiles/floors.yml
  Resources/Textures/_DEN/Objects/Tiles/eighties.rsi/eighties.png
Labels: Changes: Sprite

add low contrast 80s floor to tile cutter
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/cutter_machine.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/tiles.yml
Labels: none

added knives and rolling pin to chef loadouts
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/chef.yml
Labels: none

fixes
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/chef.yml
Labels: none

Added Knives and Rolling Pin to Chef Loadouts (#2575)
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/chef.yml
Labels: none

Automated changelog update (#2575)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Added Knives and Rolling Pin to Chef Loadouts
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/chef.yml
Labels: none

who cares
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/special.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/_DEN/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon-soul.png
Labels: Changes: Sprite

Automated changelog update (#2561)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Satyr
  Resources/Locale/en-US/_DEN/markings/ovinia.ftl
  Resources/Locale/en-US/markings/makeup.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/earrings.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/face.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/harpy.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/makeup.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/misc.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/oni_horns.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/pointy_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tails.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/wrist.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/harpy.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/plasmaman.yml
  Resources/Prototypes/Species/shadowkin.yml
  Resources/Prototypes/Species/skeleton.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Ovinia.yml
  Resources/Prototypes/_DEN/Species/Ovinia.yml
  Resources/Prototypes/_DEN/Species/canid.yml
  Resources/Prototypes/_DV/Species/chitinid.yml
  Resources/Prototypes/_DV/Species/feroxi.yml
  Resources/Prototypes/_DV/Species/kitsune.yml
  Resources/Prototypes/_DV/Species/rodentia.yml
  Resources/Prototypes/_DV/Species/vulpkanin.yml
  Resources/Prototypes/_EE/Species/tajaran.yml
  Resources/Prototypes/_Floof/Species/resomi.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc.yml
Labels: Changes: Localization

Please I need to stop edging
  Resources/Maps/TheDen/edge.yml
  Resources/Prototypes/Maps/edge.yml
Labels: Changes: Map

WHO KNOWS
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/special.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/_DEN/Voice/typing_indicator.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Effects/speech.rsi/meta.json
  Resources/Textures/_DEN/Effects/speech.rsi/psionic0.png
  Resources/Textures/_DEN/Effects/speech.rsi/psionic1.png
  Resources/Textures/_DEN/Effects/speech.rsi/psionic2.png
  Resources/Textures/_DEN/Effects/speech.rsi/psionic3.png
  Resources/Textures/_DEN/Mobs/Ghosts/telegnosis.rsi/telegnosis.png
  Resources/Textures/_SHA/Effects/speech.rsi/break0.png
  Resources/Textures/_SHA/Effects/speech.rsi/break1.png
  Resources/Textures/_SHA/Effects/speech.rsi/break2.png
  Resources/Textures/_SHA/Effects/speech.rsi/break3.png
  Resources/Textures/_SHA/Effects/speech.rsi/meta.json
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon-unshaded.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-left-unshaded-eye.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-left-unshaded.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-left.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-right-unshaded-eye.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-right-unshaded.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-right.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/spinning-inhand-left-unshaded-eye.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/spinning-inhand-left-unshaded.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/spinning-inhand-left.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/spinning-inhand-right-unshaded-eye.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/spinning-inhand-right-unshaded.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/spinning-inhand-right.png
Labels: Changes: Sprite

Minor beacon tweaks
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

EDGE: Edgy Cat Edges Edge Edgingly (#2576)
  Resources/Maps/TheDen/edge.yml
  Resources/Prototypes/Maps/edge.yml
Labels: Changes: Map

Automated changelog update (#2576)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: EDGE: Edgy Cat Edges Edge Edgingly
  Resources/Maps/TheDen/edge.yml
  Resources/Prototypes/Maps/edge.yml
Labels: Changes: Map

new objectives, retire gameshow
  Resources/Prototypes/_DEN/Objectives/conspirator.yml
  Resources/Prototypes/_Harmony/Objectives/objectiveGroups.yml
Labels: none

forgor part of the path
  Resources/Prototypes/_DEN/Objectives/conspirator.yml
Labels: none

Added new glimmer events and reduced the glimmer required for some of them to occur
  Content.Shared/_DEN/Skia/SkiaComponent.cs
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
  Resources/Prototypes/_DEN/Entities/Mobs/NPCs/glimmer_creatures.yml
  Resources/Prototypes/_DEN/GameRules/events.yml
  Resources/Prototypes/_DV/GameRules/events.yml
Labels: Changes: C#
