Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

added parent
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
Labels: none

chore: automatically update REUSE headers
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
Labels: none

added ability to disable singulo screen warping
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/Singularity/SingularityOverlay.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

chore: automatically update REUSE headers
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/Singularity/SingularityOverlay.cs
Labels: Changes: C#, Changes: UI

almost forgot this
  Content.Client/Singularity/SingularityOverlay.cs
Labels: Changes: C#

moths do NOT have sex
  Resources/Prototypes/Traits/speech.yml
Labels: none

chore: automatically update REUSE headers
  Resources/Prototypes/Traits/speech.yml
Labels: none

Update gravel.yml
  Resources/Maps/TheDen/gravel.yml
Labels: Changes: Map

chore: automatically update REUSE headers
  Resources/Maps/TheDen/gravel.yml
Labels: Changes: Map

Havoc v4
  Resources/Maps/Shuttles/TheDen/ambulance.yml
  Resources/Maps/TheDen/havoc.yml
Labels: Changes: Map

chore: automatically update REUSE headers
  Resources/Maps/Shuttles/TheDen/ambulance.yml
  Resources/Maps/TheDen/havoc.yml
Labels: Changes: Map

it's real
  Resources/Locale/en-US/_Impstation/reagents/meta/medicine.ftl
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/_Impstation/Reagents/medicine.yml
  Resources/Prototypes/_Impstation/Recipes/Reactions/medicine.yml
Labels: Changes: Localization

chore: automatically update REUSE headers
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/_Impstation/Reagents/medicine.yml
  Resources/Prototypes/_Impstation/Recipes/Reactions/medicine.yml
Labels: none

add consentprefs command that can be used anytime
  Content.Client/_DEN/Consent/ConsentEui.cs
  Content.Server/_DEN/Consent/ConsentEui.cs
  Content.Server/_DEN/Consent/ConsentWindowCommand.cs
  Resources/Locale/en-US/_DEN/commands/consent-window-command.ftl
Labels: Changes: C#, Changes: Localization

chore: automatically update REUSE headers
  Content.Client/_DEN/Consent/ConsentEui.cs
  Content.Server/_DEN/Consent/ConsentEui.cs
  Content.Server/_DEN/Consent/ConsentWindowCommand.cs
Labels: Changes: C#

restore knife storage for security thigh-high socks
  Resources/Prototypes/_Floof/Entities/Clothing/departmental_clothes.yml
Labels: none

chore: automatically update REUSE headers
  Resources/Prototypes/_Floof/Entities/Clothing/departmental_clothes.yml
Labels: none

Make medical borgs able to fly in space (#2339)
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: none

chore: automatically update REUSE headers
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: none

wedding map
  Resources/Maps/_DEN/Nonstations/weddingl.yml
Labels: Changes: Map

chore: automatically update REUSE headers
  Resources/Maps/_DEN/Nonstations/weddingl.yml
Labels: Changes: Map

limit resource usage for commands
  .github/workflows/build-test-debug.yml
Labels: Changes: Workflow

test
  DELETE.txt
Labels: none

Contraband marking & examining (#28688)
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Shared/Access/Components/IdCardComponent.cs
  Content.Shared/Access/Systems/SharedIdCardSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Contraband/ContrabandComponent.cs
  Content.Shared/Contraband/ContrabandSeverityPrototype.cs
  Content.Shared/Contraband/ContrabandSystem.cs
  Resources/Locale/en-US/contraband/contraband-severity.ftl
  Resources/Prototypes/Entities/Objects/base_contraband.yml
  Resources/Prototypes/contraband_severities.yml
Labels: Changes: C#, Changes: Localization

fix(contraband): Make contraband work with chameleon items (#30986)
  Content.Shared/Clothing/EntitySystems/SharedChameleonClothingSystem.cs
  Content.Shared/Contraband/ContrabandSystem.cs
Labels: Changes: C#

Adds Ancient Clown Wig and Mask with old sprite
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/clown.yml
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/equipped-MASK-hamster.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/equipped-MASK-vox.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/equipped-MASK.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/icon-wigless.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/wigless-equipped-MASK-hamster.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/wigless-equipped-MASK-reptilian.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/wigless-equipped-MASK-vox.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/wigless-equipped-MASK-vulpkanin.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/wigless-equipped-MASK.png
Labels: Changes: Sprite

fixed NB pin not appearing in Loadouts
  Resources/Prototypes/_DEN/Loadouts/pride.yml
Labels: none

First Review Pass Contraband Fixes (#30930)
  Resources/Locale/en-US/contraband/contraband-severity.ftl
  Resources/Prototypes/Entities/Objects/base_contraband.yml
  Resources/Prototypes/contraband_severities.yml
Labels: Changes: Localization

Contra Review Passs - Round 2 (#30942)
  Content.Shared/Contraband/ContrabandComponent.cs
Labels: Changes: C#

Fix some contraband issues (#31606)
  Resources/Prototypes/Entities/Objects/base_contraband.yml
Labels: none

Contraband Review Pass - The Threequel (#30970)
  Resources/Prototypes/Entities/Objects/base_contraband.yml
Labels: none

Job contraband rework (#33385)
  Content.Shared/Access/Components/IdCardComponent.cs
  Content.Shared/Contraband/ContrabandComponent.cs
  Content.Shared/Contraband/ContrabandSeverityPrototype.cs
  Content.Shared/Contraband/ContrabandSystem.cs
  Resources/Prototypes/Entities/Objects/base_contraband.yml
  Resources/Prototypes/contraband_severities.yml
Labels: Changes: C#

[ADMIN minor update] Add Autocompletion for Player Usernames in SetMind Command (#35477)
  Content.Server/Administration/Commands/SetMindCommand.cs
  Resources/Locale/en-US/administration/commands/set-mind-command.ftl
Labels: Changes: C#, Changes: Localization

hell
  Content.Server/Administration/Commands/SetMindCommand.cs
Labels: Changes: C#

Add completions to addobjective and localize it (#30456)
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Objectives/Commands/AddObjectiveCommand.cs
  Content.Server/Objectives/ObjectivesSystem.cs
  Resources/Locale/en-US/objectives/commands/addobjectives.ftl
Labels: Changes: C#, Changes: Localization

fix rmobjective command and add completion options (#36396)
  Content.Server/Objectives/Commands/RemoveObjectiveCommand.cs
  Content.Shared/Mind/SharedMindSystem.cs
  Resources/Locale/en-US/objectives/commands/rmobjective.ftl
Labels: Changes: C#, Changes: Localization

psionic power completions
  Content.Server/Abilities/Psionics/PsionicAbilitiesSystem.cs
  Content.Server/Commands/ContentCompletionHelper.cs
  Content.Server/Psionics/PsionicsCommands.cs
  Content.Server/_DEN/Psionics/PsionicAbilitiesSystem.DEN.cs
  Resources/Locale/en-US/psionics/psionic-commands.ftl
Labels: Changes: C#, Changes: Localization

Conveyer sprites wee!
  Resources/Textures/_DEN/Structures/conveyor.rsi/conveyor_loose.png
  Resources/Textures/_DEN/Structures/conveyor.rsi/conveyor_started_ccw.png
  Resources/Textures/_DEN/Structures/conveyor.rsi/conveyor_started_ccw_r.png
  Resources/Textures/_DEN/Structures/conveyor.rsi/conveyor_started_cw.png
  Resources/Textures/_DEN/Structures/conveyor.rsi/conveyor_started_cw_r.png
  Resources/Textures/_DEN/Structures/conveyor.rsi/conveyor_stopped_ccw.png
  Resources/Textures/_DEN/Structures/conveyor.rsi/conveyor_stopped_cw.png
  Resources/Textures/_DEN/Structures/conveyor.rsi/meta.json
  Resources/Textures/_DEN/Structures/conveyor.rsi/switch-fwd.png
  Resources/Textures/_DEN/Structures/conveyor.rsi/switch-off.png
  Resources/Textures/_DEN/Structures/conveyor.rsi/switch-rev.png
Labels: Changes: Sprite

conveyer sprites swapped over
  Resources/Prototypes/Entities/Structures/conveyor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/conveyor.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: none

Levers swapped to match up with the pretty conveyers
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/Recipes/Construction/machines.yml
Labels: none
