Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

ADD THIS TEST
  Content.IntegrationTests/Tests/_DEN/Reagents/RespectConsentReagentTest.cs
Labels: Changes: C#

ADD NORANDOM TO THESE DRINKS
  Resources/Prototypes/_Floof/Reagents/Consumable/Drink/alcohol.yml
Labels: none

Manta, Baikal Fixes and Meridian upload
  Resources/Maps/TheDen/baikal.yml
  Resources/Maps/TheDen/manta.yml
  Resources/Maps/TheDen/meridian.yml
  Resources/Prototypes/Maps/meridian.yml
Labels: Changes: Map

anti-rotting refactor
  Content.Server/Devour/DevourSystem.cs
  Content.Server/_DEN/Devour/DevourSystem.DEN.cs
  Content.Shared/Atmos/Rotting/SharedRottingSystem.cs
  Content.Shared/_DEN/Unrotting/RottingImmuneComponent.cs
Labels: Changes: C#

Offering a sacrifice spawns a ghost role instead of gibbing or converting
  Content.Server/WhiteDream/BloodCult/Runes/Offering/CultRuneOfferingSystem.cs
Labels: Changes: C#

cultists don't gib at round end
  Content.Server/WhiteDream/BloodCult/Gamerule/BloodCultRuleSystem.cs
Labels: Changes: C#

space cobra gland is now unobtainable pending rework
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/_Shitmed/Body/Prototypes/Animal/spacecobra.yml
Labels: none

Update spacecobra.yml
  Resources/Prototypes/_Shitmed/Body/Prototypes/Animal/spacecobra.yml
Labels: none

ADD ETERNITY RULESET
  Resources/Locale/en-US/_DEN/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/rules.yml
  Resources/Prototypes/_DEN/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/ServerRules/EternityRuleset.xml
Labels: Changes: Documentation, Changes: Localization

Fixes Baikal, Manta. Add Meridian.
  Resources/Maps/TheDen/baikal.yml
  Resources/Maps/TheDen/manta.yml
  Resources/Maps/TheDen/meridian.yml
  Resources/Prototypes/Maps/meridian.yml
Labels: Changes: Map

remove rotting immunity on revive
  Content.Server/Medical/DefibrillatorSystem.cs
Labels: Changes: C#

GROUP TEST FAILURES FOR READABILITY
  Content.IntegrationTests/Tests/_DEN/ItemGroups/CharacterItemGroupTest.cs
Labels: Changes: C#

MAKE SALADS USE FORKS
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/base.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meals.yml
Labels: none

MAKE NOODLES USE FORKS
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/base.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meals.yml
Labels: none

INCREASE CHEFVEND CHEESE WHEELS FROM 1 TO 2
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
Labels: none

ALLOW NOODLES TO BE EATEN WITH BOTH FORKS AND SPOONS
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/base.yml
Labels: none

RENAME BOWL TO ICE CREAM BOWL
  Resources/Prototypes/_Floof/Entities/Objects/Consumable/Food/Containers/bowl.yml
Labels: none

MAKE MUFFINS TAKE 10 SECONDS IN MICROWAVE
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Labels: none

SAUSAGES TAKE 10 SECONDS TO COOK
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Labels: none

ADD VALID SOLUTION TEST
  Content.IntegrationTests/Tests/_DEN/Solutions/ValidSolutionTest.cs
Labels: Changes: C#

FIX SOLUTION MAX VOLUMES FOR FOOD
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/_DEN/VASH/Entities/Objects/pills.yml
Labels: none

MAKE BOWL FOODS INJECTABLE
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
Labels: none

thief objective update to match sop better
  Resources/Locale/en-US/_DV/game-ticking/game-presets/preset-thief.ftl
  Resources/Prototypes/Objectives/thief.yml
Labels: Changes: Localization

free agent ghost role instructions update to match server rules better
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
Labels: Changes: Localization

ADD BLACK NITRILE GLOVES
  Resources/Prototypes/_DEN/Entities/Clothing/Hands/gloves.yml
  Resources/Textures/_DEN/Clothing/Hands/Gloves/black_nitrile.rsi/equipped-HAND.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/black_nitrile.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/black_nitrile.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/black_nitrile.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/black_nitrile.rsi/meta.json
Labels: Changes: Sprite

ADD BLACK NITRILE GLOVES TO CHEFVEND / LOADOUTS
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefdrobe.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/chef.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/chef.yml
Labels: none

MAKE A LOT OF SLICEABLE FOODS TINY
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/sushi.yml
Labels: none

ADD STRICT VAMPIRISM STOMACH THIS IS UNUSED
  Resources/Prototypes/_DEN/Body/Organs/misc.yml
Labels: none

shorter!!!
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/blackturtleneckshorts.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/blackturtleneckshorts.rsi/flipped-equipped-INNERCLOTHING.png
Labels: Changes: Sprite

Fixed sock layering, added stockings
  Resources/Locale/en-US/_DEN/markings/underwear.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/underwear.yml
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/base-left.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/base-right.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/base.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/stockings-base-left.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/stockings-base-right.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/stockings-base-torso.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/stockings-base.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/stockings-left.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/stockings-right.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/socks.rsi/stockings.png
Labels: Changes: Localization, Changes: Sprite

fix
  Resources/Locale/en-US/_DEN/markings/underwear.ftl
Labels: Changes: Localization

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

add loadouts to item groups theyre missign from
  Resources/Prototypes/CharacterItemGroups/Generic/beltGroup.yml
  Resources/Prototypes/CharacterItemGroups/Generic/headGroup.yml
  Resources/Prototypes/CharacterItemGroups/Generic/itemGroups.yml
  Resources/Prototypes/CharacterItemGroups/Generic/maskGroup.yml
  Resources/Prototypes/CharacterItemGroups/Generic/miscItemGroups.yml
  Resources/Prototypes/CharacterItemGroups/Generic/neckGroup.yml
  Resources/Prototypes/CharacterItemGroups/Generic/outerwearGroup.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/captain.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/commandUncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/headOfPersonnel.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/nanorep.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/seniorEngineer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/stationEngineer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/cataloger.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/chaplain.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/golemancer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/psionicMantis.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Logistics/cargoTechnician.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Logistics/courier.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Logistics/logisticsOfficer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Logistics/salvageSpecialist.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/chiefMedicalOfficer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/corpsman.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/detective.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/bartender.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/botanist.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/clown.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/martialArtist.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/mime.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/musician.yml
  Resources/Prototypes/_DEN/CharacterItemGroups/Loadouts/miscItems.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/corpsman.yml
  Resources/Prototypes/_Floof/CharacterItemGroups/funGroup.yml
Labels: none

add den comments
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/admin_assistant.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/psionicMantis.yml
Labels: none

Update uniform.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/uniform.yml
Labels: none

add missing item groups to traits
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
  Resources/Prototypes/CharacterItemGroups/Generic/miscTraitGroups.yml
  Resources/Prototypes/Traits/neutral.yml
  Resources/Prototypes/_Impstation/Traits/neutral.yml
Labels: none

fix excluded item groups in the test
  Content.IntegrationTests/Tests/_DEN/ItemGroups/CharacterItemGroupTest.cs
Labels: Changes: C#

add sexlube to loadouts
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/lewd.yml
  Resources/Prototypes/_Floof/CharacterItemGroups/funGroup.yml
Labels: none

you know whati m making it cost 2
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/lewd.yml
Labels: none

reverted some changes so it doesn't bork
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Species/sprite_layers.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro_tails.yml
  Resources/Prototypes/_SimpleStation/Entities/Mobs/Customization/reptilianwings.yml
Labels: none
