Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

Remove My Art
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/thatcoolbar.png
  Resources/Textures/LobbyScreens/thatcoolbar.yml
  Resources/Textures/LobbyScreens/thesix.webp
  Resources/Textures/LobbyScreens/thesix.webp.yml
Labels: none

added sec tickets and put them in lockers
  Resources/Locale/en-US/_Impstation/flavors/flavor-profiles.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_Impstation/Flavors/flavors.yml
  Resources/Prototypes/_Impstation/Tags.yml
  Resources/Textures/_Impstation/Interface/Paper/meta.json
  Resources/Textures/_Impstation/Interface/Paper/paper_heading_fine.svg.96dpi.png
  Resources/Textures/_Impstation/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Misc/bureaucracy.rsi/ticket-book.png
Labels: Changes: Localization, Changes: Sprite

add snails and shrimp to the biofabricator
  Resources/Prototypes/_DEN/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/biofabricator.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/rehydrateable.yml
Labels: none

make 10% of shrimps ghostroles
  Resources/Locale/en-US/_DEN/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/fun.yml
Labels: Changes: Localization

add admeme ghostrole shrimp
  Resources/Prototypes/_DEN/Entities/Mobs/NPCs/fun.yml
Labels: none

add shrimp meat
  Resources/Locale/en-US/_DEN/flavors/flavor-profiles.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_DEN/Flavors/flavors.yml
  Resources/Prototypes/_DEN/Recipes/Construction/Graphs/Food/meat.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/fun.yml
Labels: Changes: Localization

add cocktail sauce
  Resources/Locale/en-US/_DEN/reagents/meta/consumable/food/condiments.ftl
  Resources/Prototypes/_DEN/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/_DEN/Recipes/Reactions/food.yml
Labels: Changes: Localization

move ghostrole shrimp into separate prototype
  Resources/Prototypes/_DEN/Entities/Mobs/NPCs/fun.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/fun.yml
Labels: none

add shrimp vent spawn event
  Resources/Locale/en-US/_DEN/station-events/events/vent-critters.ftl
  Resources/Prototypes/_DEN/GameRules/events.yml
Labels: Changes: Localization

dont gib shrimps on butcher
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/fun.yml
Labels: none

awa
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/fun.yml
Labels: none

bump up nutrition value of shrimp slightly
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/meat.yml
Labels: none

add cooked shrimp to skewers and tacos
  Resources/Locale/en-US/_DEN/nutrition/components/food-sequence.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/FoodSequence/food_sequence_element.yml
Labels: Changes: Localization

add shrimp ceviche
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
Labels: none

reduce lime juice cost of shrimp ceviche
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
Labels: none

add shrimp cocktail recipe
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
Labels: none

add shrimp nigiri
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
Labels: none

add shrimp scampi recipe
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
Labels: none

description tweak
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/soup.yml
Labels: none

Conspirators (#1122)
  Content.Client/_Harmony/Conspirators/EntitySystems/ConspiratorSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Content.Server/_Harmony/GameTicking/Rules/Components/ConspiratorRuleComponent.cs
  Content.Server/_Harmony/GameTicking/Rules/ConspiratorRuleSystem.cs
  Content.Server/_Harmony/Objectives/Components/NoCompletionObjectiveComponent.cs
  Content.Server/_Harmony/Objectives/Systems/NoCompletionObjectiveSystem.cs
  Content.Shared/_Harmony/Conspirators/Components/ConspiratorComponent.cs
  Content.Shared/_Harmony/Conspirators/EntitySystems/SharedConspiratorSystem.cs
  Content.Shared/_Harmony/Roles/Components/ConspiratorRoleComponent.cs
  Resources/Audio/_Harmony/Misc/attributions.yml
  Resources/Audio/_Harmony/Misc/conspirator_greeting.ogg
  Resources/Locale/en-US/_Harmony/administration/antag.ftl
  Resources/Locale/en-US/_Harmony/game-ticking/game-presets/preset-conspirator.ftl
  Resources/Locale/en-US/_Harmony/guidebook/guides.ftl
  Resources/Locale/en-US/_Harmony/headset/headset-component.ftl
  Resources/Locale/en-US/_Harmony/mind/role-types.ftl
  Resources/Locale/en-US/_Harmony/prototypes/roles/antags.ftl
  Resources/Prototypes/Guidebook/antagonist.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_Harmony/GameRules/roundstart.yml
  Resources/Prototypes/_Harmony/Guidebook/antagonist.yml
  Resources/Prototypes/_Harmony/Objectives/conspirator.yml
  Resources/Prototypes/_Harmony/Objectives/objectiveGroups.yml
  Resources/Prototypes/_Harmony/Roles/Antags/conspirator.yml
  Resources/Prototypes/_Harmony/Roles/MindRoles/mind_roles.yml
  Resources/Prototypes/_Harmony/StatusIcon/faction.yml
  Resources/Prototypes/_Harmony/ai_factions.yml
  Resources/Prototypes/_Harmony/game_presets.yml
  Resources/Prototypes/_Harmony/radio_channels.yml
  Resources/Prototypes/secret_weights.yml
  Resources/ServerInfo/_Harmony/Guidebook/Antagonist/Conspirators.xml
  Resources/Textures/_Harmony/Interface/Misc/job_icons.rsi/Conspirator.png
  Resources/Textures/_Harmony/Interface/Misc/job_icons.rsi/meta.json
Labels: Changes: Audio, Changes: C#, Changes: Documentation, Changes: Localization, Changes: Sprite

inhands for horsey plush
  Resources/Textures/_DEN/Objects/Fun/stuplushie.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/stuplushie.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/stuplushie.rsi/meta.json
Labels: Changes: Sprite

shrimp-fried rice
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
Labels: none

cocktail sauce is tangy
  Resources/Prototypes/_DEN/Reagents/Consumable/Food/condiments.yml
Labels: none

ukoy
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
Labels: none

add pininyahang hipon
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
Labels: none

feat: defaults for basic denu options
  Content.Client/Options/UI/OptionsMenu.xaml
  Content.Client/Options/UI/OptionsMenu.xaml.cs
  Content.Client/Options/UI/Tabs/DenTab.xaml
  Content.Client/Options/UI/Tabs/DenTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Controls/Denu/DenuWindow.xaml
  Content.Client/UserInterface/Systems/Chat/Controls/Denu/DenuWindow.xaml.cs
  Content.Shared/_DEN/CCVars/DenCCVars.cs
  Resources/Locale/en-US/_DEN/escape-menu/ui/options-menu.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

feat: denu defaults in settings
  Content.Client/Options/UI/Tabs/DenTab.xaml
  Content.Client/Options/UI/Tabs/DenTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Controls/Denu/DenuWindow.xaml.cs
  Content.Shared/_DEN/CCVars/DenCCVars.cs
  Resources/Locale/en-US/_DEN/escape-menu/ui/options-menu.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

chore: oops
  Content.Client/Options/UI/Tabs/DenTab.xaml
Labels: Changes: UI

add shrimp cake
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
Labels: none

update hivni.yml to beta 1.4
  Resources/Maps/TheDen/hivni.yml
Labels: Changes: Map

hivni beta 1.4.1
  Resources/Maps/TheDen/hivni.yml
Labels: Changes: Map

Save Defaults for Denu (#2452)
  Content.Client/Options/UI/OptionsMenu.xaml
  Content.Client/Options/UI/OptionsMenu.xaml.cs
  Content.Client/Options/UI/Tabs/DenTab.xaml
  Content.Client/Options/UI/Tabs/DenTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Controls/Denu/DenuWindow.xaml
  Content.Client/UserInterface/Systems/Chat/Controls/Denu/DenuWindow.xaml.cs
  Content.Shared/_DEN/CCVars/DenCCVars.cs
  Resources/Locale/en-US/_DEN/escape-menu/ui/options-menu.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

Automated changelog update (#2452)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Save Defaults for Denu
  Content.Client/Options/UI/OptionsMenu.xaml
  Content.Client/Options/UI/OptionsMenu.xaml.cs
  Resources/Locale/en-US/_DEN/escape-menu/ui/options-menu.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

tweak: add better logs for nanochat and add logs for selfdamage
  Content.Server/_DEN/Administration/Commands/SelfDamageCommand.cs
  Content.Server/_DV/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
Labels: Changes: C#

chore: entity
  Content.Server/_DV/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
Labels: Changes: C#

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

rearrange recipes in list
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
Labels: none

Tweak: Add Better Logs for Nanochat and Add Logs for Selfdamage (#2454)
  Content.Server/_DEN/Administration/Commands/SelfDamageCommand.cs
  Content.Server/_DV/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
Labels: Changes: C#

Stu Plushie Inhands (#2451)
  Resources/Textures/_DEN/Objects/Fun/stuplushie.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/stuplushie.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/stuplushie.rsi/meta.json
Labels: Changes: Sprite
