Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

fix: formatting...
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#

add infinite spray paint cans + improve paint code
  Content.Server/Paint/PaintSystem.cs
  Resources/Prototypes/_DEN/Entities/Objects/Fun/spray_paint.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/admin.yml
Labels: Changes: C#

fix: obfuscate properly
  Content.Server/_DEN/Chat/Systems/ChatSystem.DEN.cs
  Content.Shared/Language/Systems/SharedLanguageSystem.cs
Labels: Changes: C#

fix: vscode skill issue
  Content.Shared/Language/Systems/SharedLanguageSystem.cs
Labels: Changes: C#

fix: attempt fixing
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_DEN/Chat/Systems/ChatSystem.DEN.cs
  Content.Shared/Language/Systems/SharedLanguageSystem.cs
Labels: Changes: C#

fix: actually fixed it
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_DEN/Chat/Systems/ChatSystem.DEN.cs
Labels: Changes: C#

chore: remove debug
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#

chameleon clothing for admins
  Content.Shared/Clothing/Components/ChameleonClothingComponent.cs
  Resources/Prototypes/_DEN/Entities/Objects/Misc/admin.yml
Labels: Changes: C#

Lathe Archetype Pass - Mercenary - Melee Weapons (#4023)
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/plasteel.yml
  Resources/Prototypes/_NF/Recipes/Lathes/weapons.yml
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_axe.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_axe.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_axe.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_axe.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_axe.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_axe.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_axe.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_epee.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_epee.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_epee.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_epee.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_epee.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_epee.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_epee.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_mace.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_mace.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_mace.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_mace.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_mace.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_mace.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_mace.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_spear.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_spear.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_spear.rsi/equipped-back-fill-1.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_spear.rsi/equipped-suitstorage-fill-1.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_spear.rsi/inhand-left-fill-1.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_spear.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_spear.rsi/inhand-right-fill-1.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_spear.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_spear.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_spear.rsi/spear.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_spear.rsi/spear1.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_spear.rsi/wielded-inhand-left-fill-1.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_spear.rsi/wielded-inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_spear.rsi/wielded-inhand-right-fill-1.png
  Resources/Textures/_NF/Objects/Weapons/Melee/plasteel_spear.rsi/wielded-inhand-right.png
Labels: Changes: Sprite

remove truncheon cuz it's t1, add plasteel weps
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/uncategorized.yml
Labels: none

sec & salvage variants
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/plasteel.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/security_techfab.yml
  Resources/Prototypes/_DV/Catalog/VendingMachines/Inventories/salvage_points.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/plasteel.yml
Labels: none

let secOffs belt them
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_NF/tags.yml
Labels: none

put them in the lathe
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_NF/Recipes/Lathes/weapons.yml
Labels: none

fix: missed a transformspeech
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#

add fingerless arm warmers
  Resources/Prototypes/_DEN/Entities/Clothing/Hands/arm_warmers.yml
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/coder.rsi/equipped-HAND.png
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/coder.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/coder.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/coder.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/coder.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/plain.rsi/equipped-HAND.png
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/plain.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/plain.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/plain.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/plain.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/purple.rsi/equipped-HAND.png
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/purple.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/purple.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/purple.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/purple.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/striped.rsi/equipped-HAND.png
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/striped.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/striped.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/striped.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/striped.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/valid.rsi/equipped-HAND.png
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/valid.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/valid.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/valid.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Hands/ArmWarmers/valid.rsi/meta.json
Labels: Changes: Sprite

make fingerless arm warmers obtainable via loadouts
  Resources/Prototypes/CharacterItemGroups/Generic/gloveGroup.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/hands.yml
Labels: none

allow fingerless arm warmers to be printed
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/uniform_printer.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/clothing.yml
  Resources/Prototypes/_DV/Catalog/VendingMachines/Inventories/pride.yml
Labels: none

added dexalin and saline pills
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
Labels: none

feat: new format for quotes...
  Content.Server/Chat/Systems/ChatSystem.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
Labels: Changes: C#, Changes: Localization

feat: connect name and message like emotes and subtles do
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_DEN/Chat/Systems/ChatSystem.DEN.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
Labels: Changes: C#, Changes: Localization

rebalanced these to make them side grades
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/plasteel.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/sword.yml
Labels: none

cost on plasteel arming sword
  Resources/Prototypes/Recipes/Lathes/security.yml
Labels: none

add to loadout list
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
Labels: none

re-enable rusting on round start
  Resources/Prototypes/GameRules/roundstart.yml
Labels: none

Janitor Tool: Wire Brush (#38667)
  Resources/Audio/Items/attributions.yml
  Resources/Audio/Items/wirebrushing.ogg
  Resources/Locale/en-US/tools/tool-qualities.ftl
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/Recipes/Lathes/janitorial.yml
  Resources/Prototypes/tags.yml
  Resources/Prototypes/tool_qualities.yml
  Resources/ServerInfo/Guidebook/Service/Janitorial.xml
  Resources/Textures/Objects/Specific/Janitorial/wirebrush.rsi/icon.png
  Resources/Textures/Objects/Specific/Janitorial/wirebrush.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Janitorial/wirebrush.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Janitorial/wirebrush.rsi/meta.json
  Resources/Textures/Objects/Specific/Janitorial/wirebrush.rsi/storage.png
Labels: Changes: Audio, Changes: Documentation, Changes: Localization, Changes: Sprite

Give Rust Removal a shorter Doafter (#770) (#41518)
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
Labels: none

fix tag issue
  Resources/Prototypes/tags.yml
Labels: none

add moth heart
  Resources/Prototypes/Body/Prototypes/Specific/mothroach.yml
  Resources/Prototypes/Body/Prototypes/moth.yml
  Resources/Prototypes/_DEN/Entities/Body/Organs/moth.yml
Labels: none

attributions de-added (correct)
  Resources/Locale/en-US/_Impstation/traits/speech.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
  Resources/Prototypes/_Impstation/Traits/neutral.yml
Labels: Changes: Localization

mittens
  Resources/Prototypes/_DEN/Entities/Clothing/Hands/gloves.yml
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mittens.rsi/equipped-HAND.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mittens.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mittens.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mittens.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mittens.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mittens_color.rsi/equipped-HAND.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mittens_color.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mittens_color.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mittens_color.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mittens_color.rsi/meta.json
Labels: Changes: Sprite

mittens obtainable
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Prototypes/CharacterItemGroups/Generic/gloveGroup.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/hands.yml
Labels: none

fix a prototype id
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/uniform_printer.yml
Labels: none

wrist cuffs
  Resources/Prototypes/_DEN/Entities/Clothing/Hands/misc.yml
  Resources/Textures/_DEN/Clothing/Hands/Misc/spiked_wrist_cuff.rsi/equipped-HAND.png
  Resources/Textures/_DEN/Clothing/Hands/Misc/spiked_wrist_cuff.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Hands/Misc/spiked_wrist_cuff.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Hands/Misc/spiked_wrist_cuff.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Hands/Misc/spiked_wrist_cuff.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Hands/Misc/wrist_cuff.rsi/equipped-HAND.png
  Resources/Textures/_DEN/Clothing/Hands/Misc/wrist_cuff.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Hands/Misc/wrist_cuff.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Hands/Misc/wrist_cuff.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Hands/Misc/wrist_cuff.rsi/meta.json
Labels: Changes: Sprite

add wrist cuffs to loadouts
  Resources/Prototypes/CharacterItemGroups/Generic/gloveGroup.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/hands.yml
Labels: none

move the wrist cuff textures down 1 pixel better compat with outerwear
  Resources/Textures/_DEN/Clothing/Hands/Misc/spiked_wrist_cuff.rsi/equipped-HAND.png
  Resources/Textures/_DEN/Clothing/Hands/Misc/wrist_cuff.rsi/equipped-HAND.png
Labels: Changes: Sprite

colorable fingerless gloves
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/gloveGroup.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/hands.yml
  Resources/Textures/_DEN/Clothing/Hands/Gloves/fingerless_gloves_color.rsi/equipped-HAND.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/fingerless_gloves_color.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/fingerless_gloves_color.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/fingerless_gloves_color.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/fingerless_gloves_color.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

de-attributioning so it can do itself automatically
  Resources/Audio/_Impstation/Effects/Emotes/attributions.yml
  Resources/Audio/_Impstation/Voice/Arachnid/attributions.yml
  Resources/Audio/_Impstation/Voice/Moth/attributions.yml
  Resources/Audio/_Impstation/Voice/Reptilian/attributions.yml
  Resources/Locale/en-US/_Impstation/flavors/flavor-profiles.ftl
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Misc/spider_web.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Impstation/Body/Organs/moth.yml
  Resources/Prototypes/_Impstation/Flavors/flavors.yml
  Resources/Prototypes/_Impstation/SoundCollections/emotes.yml
  Resources/Prototypes/_Impstation/Tags.yml
Labels: Changes: Localization

Update to b1.2.4
  Resources/Maps/TheDen/hivni.yml
Labels: Changes: Map

raised cost of nanomed restock to prevent arbitrage
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
Labels: none

increased the nanomed restock price a bit more
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
Labels: none

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
