Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

Copyright
  Resources/Textures/_DEN/Structures/conveyor.rsi/meta.json
Labels: Changes: Sprite

remove lobby background from entrypoint ignore list
  Content.Client/Entry/EntryPoint.cs
Labels: Changes: C#

fix loadout preference equality checking this is ass
  Content.Shared/Clothing/Loadouts/Systems/SharedLoadoutSystem.cs
Labels: Changes: C#

remove redundant setdirtys
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: C#, Changes: UI

fixed literally one default state
  Resources/Prototypes/_DEN/Voice/typing_indicator.yml
Labels: none

setdirty on voice change
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: C#, Changes: UI

character record shitfix
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: C#, Changes: UI

DepartmentPrototype changes
  Content.Shared/Roles/DepartmentPrototype.cs
  Resources/Locale/en-US/job/department.ftl
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: C#, Changes: Localization

Move contraband text to a separate examine tab (#32250)
  Content.Shared/Contraband/ContrabandSystem.cs
  Resources/Locale/en-US/contraband/contraband-severity.ftl
  Resources/Textures/Interface/VerbIcons/ATTRIBUTION.txt
Labels: Changes: C#, Changes: Localization

Hover examine buttons (#35206)
  Content.Client/Examine/ExamineButton.cs
  Content.Client/Examine/ExamineSystem.cs
  Content.Client/Verbs/UI/VerbMenuElement.cs
  Content.Client/Verbs/VerbSystem.cs
  Content.Server/Verbs/VerbSystem.cs
  Content.Shared/Examine/ExamineSystemShared.Group.cs
  Content.Shared/Verbs/Verb.cs
Labels: Changes: C#

[Bugfix] ContrabandSystem checks jobs correctly (#35228)
  Content.Shared/Contraband/ContrabandSystem.cs
Labels: Changes: C#

Contraband examine changes (again) (#36032)
  Content.Shared/Contraband/ContrabandSystem.cs
  Content.Shared/Examine/ExamineSystemShared.Group.cs
  Resources/Textures/Interface/VerbIcons/ATTRIBUTION.txt
  Resources/Textures/Interface/VerbIcons/lock-red.svg
  Resources/Textures/Interface/VerbIcons/lock-red.svg.192dpi.png
  Resources/Textures/Interface/VerbIcons/lock-red.svg.192dpi.png.yml
  Resources/Textures/Interface/VerbIcons/unlock-green.svg
  Resources/Textures/Interface/VerbIcons/unlock-green.svg.192dpi.png
  Resources/Textures/Interface/VerbIcons/unlock-green.svg.192dpi.png.yml
Labels: Changes: C#

add missing locale and department names
  Resources/Prototypes/Entities/Objects/base_contraband.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_DV/Roles/Jobs/departments.yml
Labels: none

contraband protos and ftl
  Content.Shared/Contraband/ContrabandComponent.cs
  Resources/Locale/en-US/contraband/contraband-severity.ftl
  Resources/Prototypes/Entities/Objects/base_contraband.yml
  Resources/Prototypes/contraband_severities.yml
Labels: Changes: C#, Changes: Localization

kill bottle and toy crate
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/_Floof/Catalog/Fills/Crates/lewd.yml
  Resources/Prototypes/_Floof/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
Labels: none

pedantry tweak
  Resources/Locale/en-US/_Impstation/reagents/meta/medicine.ftl
Labels: Changes: Localization

FILTER HAIR/FACIAL HAIR PICKERS BY SEX
  Content.Client/Humanoid/SingleMarkingPicker.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/MagicMirror/MagicMirrorWindow.xaml.cs
  Content.Shared/MagicMirror/SharedMagicMirrorSystem.cs
Labels: Changes: C#, Changes: UI

ADD 18+ ICON TO LEWD TRAITS
  Content.Server/FloofStation/Traits/LewdTraitSystem.cs
  Resources/Textures/_DEN/Interface/VerbIcons/ATTRIBUTION.txt
  Resources/Textures/_DEN/Interface/VerbIcons/lewd.svg
  Resources/Textures/_DEN/Interface/VerbIcons/lewd.svg.192dpi.png
  Resources/Textures/_DEN/Interface/VerbIcons/lewd.svg.192dpi.png.yml
Labels: Changes: C#

MAKE LEWD TRAIT DESCRIPTIONS CLEARER
  Resources/Locale/en-US/Floof/traits/traits.ftl
Labels: Changes: Localization

fix: breath mask was not on goliath hardsuit
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
Labels: none

pedantry tweak v2
  Resources/Locale/en-US/_Impstation/reagents/meta/medicine.ftl
Labels: Changes: Localization

Testing Commit
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: Map

cherrypick: setSelector from https://github.com/Goob-Station/Goob-Station/pull/2472
  Content.Client/_Goobstation/SetSelector/SelectableSet.xaml
  Content.Client/_Goobstation/SetSelector/SelectableSet.xaml.cs
  Content.Client/_Goobstation/SetSelector/SetSelectorBoundUserInterface.cs
  Content.Client/_Goobstation/SetSelector/SetSelectorMenu.xaml
  Content.Client/_Goobstation/SetSelector/SetSelectorMenu.xaml.cs
  Content.Shared/_Goobstation/SetSelector/SelectableSetPrototype.cs
  Content.Shared/_Goobstation/SetSelector/SetSelectorComponent.cs
  Content.Shared/_Goobstation/SetSelector/SetSelectorSystem.cs
  Content.Shared/_Goobstation/SetSelector/SetSelectorUI.cs
  Resources/Locale/en-US/_Goobstation/set-selector/set-selector-menu.ftl
  Resources/Prototypes/_Goobstation/Entities/Objects/base_set_selecor.yml
Labels: Changes: C#, Changes: Localization, Changes: UI

refactor: change selectorset namespace
  Content.Client/_Goobstation/SetSelector/SelectableSet.xaml.cs
  Content.Client/_Goobstation/SetSelector/SetSelectorBoundUserInterface.cs
  Content.Client/_Goobstation/SetSelector/SetSelectorMenu.xaml.cs
  Content.Shared/_Goobstation/SetSelector/SelectableSetPrototype.cs
  Content.Shared/_Goobstation/SetSelector/SetSelectorComponent.cs
  Content.Shared/_Goobstation/SetSelector/SetSelectorSystem.cs
  Content.Shared/_Goobstation/SetSelector/SetSelectorUI.cs
Labels: Changes: C#, Changes: UI

chore: add example item
  Resources/Locale/en-US/_DEN/set-selector/selectable-set.ftl
  Resources/Prototypes/_DEN/Catalog/selectable_sets.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/example.yml
Labels: Changes: Localization

Update Content.Server/IoC/ServerContentIoC.cs
  Content.Server/IoC/ServerContentIoC.cs
Labels: Changes: C#

Update Content.Server/Entry/EntryPoint.cs
  Content.Server/Entry/EntryPoint.cs
Labels: Changes: C#

Update Content.Server/IoC/ServerContentIoC.cs
  Content.Server/IoC/ServerContentIoC.cs
Labels: Changes: C#

Update Content.Server/IoC/ServerContentIoC.cs
  Content.Server/IoC/ServerContentIoC.cs
Labels: Changes: C#

make so reduced motion does not remove singulo warping.
  Content.Client/Singularity/SingularityOverlay.cs
Labels: Changes: C#

invalids grrrr
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: Map

forgot one change, also forgot the deal with the mouse
  Content.Client/Singularity/SingularityOverlay.cs
Labels: Changes: C#

eternity specific
  Resources/Prototypes/Catalog/VendingMachines/Inventories/wallmed.yml
  Resources/Prototypes/_DEN/Entities/Structures/Machines/vending_machines.yml
Labels: none

nanomed plus
  Resources/Prototypes/_DEN/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/_DEN/Entities/Structures/Machines/vending_machines.yml
Labels: none

All research unlocked on spawn
  Content.Server/_DEN/Research/Systems/UnlockResearchSystem.cs
  Content.Shared/_DEN/Research/UnlockResearchComponent.cs
  Resources/Prototypes/_DEN/Entities/Structures/Machines/research.yml
Labels: Changes: C#

clean!
  Content.Server/_DEN/Research/Systems/UnlockResearchSystem.cs
Labels: Changes: C#

oopsies
  Content.Server/_DEN/Research/Systems/UnlockResearchSystem.cs
  Content.Shared/_DEN/Research/UnlockResearchComponent.cs
  Resources/Prototypes/_DEN/Entities/Structures/Machines/vending_machines.yml
Labels: Changes: C#

fix
  Content.Server/Research/Systems/ResearchSystem.Technology.cs
Labels: Changes: C#

Holorollerbeds
  Resources/Prototypes/DeltaV/Entities/Structures/Furniture/rollerbeds.yml
  Resources/Textures/DeltaV/Structures/Furniture/rollerbeds.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Furniture/rollerbeds.rsi/rollerbed.png
  Resources/Textures/DeltaV/Structures/Furniture/rollerbeds.rsi/rollerbed_buckle.png
  Resources/Textures/DeltaV/Structures/Furniture/rollerbeds.rsi/rollerbed_folded.png
Labels: Changes: Sprite

Holostretcher folded
  Resources/Prototypes/DeltaV/Entities/Structures/Furniture/rollerbeds.yml
Labels: none
