Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

removes roundstart thermal eyes
  Resources/Prototypes/Traits/physical.yml
Labels: none

water bottle fill sprite fix + tonic/soda watter overall sprite fix
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Textures/Objects/Consumable/Drinks/sodawater-bottle.rsi/icon-1.png
  Resources/Textures/Objects/Consumable/Drinks/sodawater-bottle.rsi/icon-2.png
  Resources/Textures/Objects/Consumable/Drinks/sodawater-bottle.rsi/icon-3.png
  Resources/Textures/Objects/Consumable/Drinks/sodawater-bottle.rsi/icon-4.png
  Resources/Textures/Objects/Consumable/Drinks/sodawater-bottle.rsi/icon-5.png
  Resources/Textures/Objects/Consumable/Drinks/sodawater-bottle.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/fill-4.png
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/fill-5.png
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/meta.json
Labels: Changes: Sprite

New Hair Styles
  Resources/Locale/en-US/_DEN/accessories/hair.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/Mobs/Customization/human_hair.rsi/combo_tail_1.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/combo_tail_2.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/combo_tail_3.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/combo_tail_4.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

mindbreaker tooltip fixes
  Resources/Locale/en-US/psionics/psionic-powers.ftl
Labels: Changes: Localization

add fuzzy earmuffs
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Prototypes/CharacterItemGroups/Generic/headGroup.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Head/winter.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/head.yml
  Resources/Textures/_DEN/Clothing/Head/Hats/fuzzy_earmuff.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/fuzzy_earmuff.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hats/fuzzy_earmuff.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Head/Hats/fuzzy_earmuff.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Head/Hats/fuzzy_earmuff.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

robust toolbox updator
  BuildChecker/git_helper.py
  RUN_THIS.py
Labels: none

CAPITALIZATION IS MY ENEMY
  Resources/Prototypes/Entities/Markers/environmental.yml
Labels: none

Fixing the flash cooldown
  Content.Server/Flash/FlashSystem.cs
Labels: Changes: C#

add microreactor power cell to eternity loadouts
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/eternity.yml
Labels: none

:D
  Resources/Prototypes/Traits/physical.yml
Labels: none

moved title station inspector to NTrep from HoP
  Resources/Locale/en-US/_DEN/roles/alternate/dignitary-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/service-alternate.ftl
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/dignitary.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/service.yml
Labels: Changes: Localization

Update Oni points for Underwear and Undershirt
  Resources/Prototypes/Nyanotrasen/Entities/Body/Prototypes/oni.yml
Labels: none

added a minclamp to my aura (so i cant lose any more points)
  Content.Client/_DEN/StationRecords/StationJobsConsoleJobRow.xaml
  Content.Client/_DEN/StationRecords/StationJobsConsoleWindow.xaml.cs
  Content.Server/_DEN/StationRecords/StationJobsConsoleComponent.cs
  Content.Server/_DEN/StationRecords/StationJobsConsoleSystem.cs
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/_DEN/StationRecords/StationJobsConsoleUI.cs
  Resources/Prototypes/_DEN/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: C#, Changes: UI

Invalid Fixes and Feedback
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: Map

make sex fluids evaporate
  Content.Shared/Fluids/SharedPuddleSystem.Evaporation.cs
Labels: Changes: C#

Fucking AIR ALARM
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: Map

this shit is making me go psycho
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: Map

dnr + rdnr port
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Server/_Impstation/Traits/Components/RandomUnrevivableComponent.cs
  Content.Server/_Wizden/Traits/Assorted/UnrevivableSystem.cs
  Content.Shared/_Wizden/Traits/Assorted/UnrevivableComponent.cs
  Resources/Locale/en-US/_DEN/traits/disability.ftl
  Resources/Locale/en-US/medical/components/defibrillator.ftl
  Resources/Prototypes/_DEN/Traits/disabilities.yml
Labels: Changes: C#, Changes: Localization

Cami helps me keep what little sanity I have left
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: Map

thaven offsets
  Resources/Prototypes/_Impstation/InventoryTemplates/thaven_inventory_template.yml
Labels: none

Mayo is good!
  Resources/Prototypes/Catalog/VendingMachines/Inventories/condiments.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Textures/Objects/Consumable/Food/condiments.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/condiments.rsi/packet-mayo.png
Labels: Changes: Sprite

fix the year on the passport
  Content.Shared/_EE/Contractors/Systems/SharedPassportSystem.cs
Labels: Changes: C#

minor tweaks + ipc blacklist
  Resources/Locale/en-US/_DEN/traits/disability.ftl
  Resources/Prototypes/_DEN/Traits/disabilities.yml
Labels: Changes: Localization

Moving things around for #DEN
  Resources/Prototypes/Catalog/VendingMachines/Inventories/condiments.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Textures/Objects/Consumable/Food/condiments.rsi/meta.json
  Resources/Textures/_DEN/Objects/Consumable/Food/mayo_packet.rsi/meta.json
  Resources/Textures/_DEN/Objects/Consumable/Food/mayo_packet.rsi/packet-mayo.png
Labels: Changes: Sprite

remove "no species language" trait
  Resources/Prototypes/Traits/inconveniences.yml
  Resources/Prototypes/Traits/mental.yml
  Resources/Prototypes/_DEN/Traits/languages.yml
Labels: none

ipc thermal kill
  Resources/Prototypes/Traits/physical.yml
Labels: none

add comment disclaimer
  Resources/Prototypes/_DEN/Traits/languages.yml
Labels: none

fix
  Resources/Prototypes/Traits/disabilities.yml
Labels: none

oughhhhhh
  Resources/Prototypes/Traits/disabilities.yml
Labels: none

Give Resomi the ability to chirp
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_Floof/Voice/avali_emote_sounds.yml
Labels: none

Allow Resomi to Chirp
  Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
Labels: none

Better texture yay
  Resources/Textures/_DEN/Objects/Fun/bluespaceplushiepatch.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/bluespaceplushiepatch.rsi/meta.json
Labels: Changes: Sprite

Make the plushies too big to allow stacking behavior
  Content.Server/_DEN/BluespacePlushiePatch/Components/BluespacePlushiePatchComponent.cs
  Content.Server/_DEN/BluespacePlushiePatch/Systems/BluespacePlushiePatchSystem.cs
Labels: Changes: C#

bluespace plushes
  Content.Server/_DEN/BluespacePlushiePatch/Components/BluespacePlushiePatchComponent.cs
  Content.Server/_DEN/BluespacePlushiePatch/Components/BluespacePlushiePatchableComponent.cs
  Content.Server/_DEN/BluespacePlushiePatch/Systems/BluespacePlushiePatchSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/_DEN/BluespacePlushiePatch/Events/BluespacePlushiePatchDoAfterEvent.cs
  Resources/Locale/en-US/_DEN/bluespaceplushiepatch/bluespaceplushiepatch.ftl
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/protolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/misc.yml
  Resources/Textures/_DEN/Objects/Fun/bluespaceplushiepatch.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/bluespaceplushiepatch.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite

Put this in the right spot in the file
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
Labels: none

Use a list of components instead.
  Content.Server/_DEN/BluespacePlushiePatch/Components/BluespacePlushiePatchComponent.cs
  Content.Server/_DEN/BluespacePlushiePatch/Systems/BluespacePlushiePatchSystem.cs
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Textures/_DEN/Objects/Fun/bluespaceplushiepatch.rsi/icon.png
Labels: Changes: C#, Changes: Sprite

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

Add tiny dot and tiny line crayon symbols
  Resources/Prototypes/Decals/crayons.yml
  Resources/Textures/Effects/crayondecals.rsi/meta.json
  Resources/Textures/Effects/crayondecals.rsi/tinydot.png
  Resources/Textures/Effects/crayondecals.rsi/tinyline.png
Labels: Changes: Sprite

fix genpop turnstiles access on prisoner id
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
Labels: none

bleed begone
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: none

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
