Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

fix unhappy linter
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
Labels: none

Update acrux.yml
  Resources/Maps/TheDen/acrux.yml
Labels: Changes: Map

Update acrux.yml
  Resources/Prototypes/Maps/acrux.yml
Labels: Changes: Map

Poster Pool Removal
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
Labels: none

Fucking Random Maps Static Map Removal
  Resources/Maps/_DEN/Nonstations/critinthepit.yml
Labels: Changes: Map

fix unlockresearchsystem
  Content.Server/_DEN/Research/Systems/UnlockResearchSystem.cs
Labels: Changes: C#

add tea seeds to exotic seeds crate
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
Labels: none

add tea plant to megaseed servitor
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
Labels: none

add a tea reaction
  Resources/Prototypes/_DEN/Recipes/Reactions/drinks.yml
Labels: none

add microwave recipe for dried tea leaves
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
Labels: none

localize tea plants
  Resources/Locale/en-US/_DEN/seeds/seeds.ftl
Labels: Changes: Localization

comment out wizden ordering computers
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
Labels: none

frontier specific
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
Labels: none

tailsss
  Resources/Locale/en-US/_DEN/markings/vulp_tails.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/vulpkanin_tails.yml
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/meta.json
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_large_wagging.png
  Resources/Textures/_DEN/Mobs/Customization/Vulpkanin/husky_tail.rsi/base_wag.png
  Resources/Textures/_DEN/Mobs/Customization/Vulpkanin/husky_tail.rsi/markings_wag.png
  Resources/Textures/_DEN/Mobs/Customization/Vulpkanin/husky_tail.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Update vulpkanin_tails.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/vulpkanin_tails.yml
Labels: none

Syndicate and CentComm Radio Implanters (#33533)
  Content.Server/Implants/RadioImplantSystem.cs
  Content.Shared/Implants/Components/RadioImplantComponent.cs
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: C#, Changes: Localization

compilerrrr
  Resources/Prototypes/_Harmony/Objectives/conspirator.yml
  Resources/Prototypes/_Harmony/Roles/Antags/conspirator.yml
  Resources/Prototypes/_Harmony/Roles/MindRoles/mind_roles.yml
  Resources/Prototypes/_Harmony/game_presets.yml
Labels: none

make this actually possible to roll
  Resources/Prototypes/_DEN/random_presets.yml
Labels: none

greggpatch
  Resources/Maps/TheDen/acrux.yml
Labels: Changes: Map

bench torture
  Resources/Textures/_DEN/Structures/Furniture/Benches/somberbench.rsi/corner.png
  Resources/Textures/_DEN/Structures/Furniture/Benches/somberbench.rsi/left.png
  Resources/Textures/_DEN/Structures/Furniture/Benches/somberbench.rsi/middle.png
  Resources/Textures/_DEN/Structures/Furniture/Benches/somberbench.rsi/right.png
  Resources/Textures/_DEN/Structures/Furniture/Benches/sombersofa.rsi/corner.png
  Resources/Textures/_DEN/Structures/Furniture/Benches/sombersofa.rsi/left.png
  Resources/Textures/_DEN/Structures/Furniture/Benches/sombersofa.rsi/middle.png
  Resources/Textures/_DEN/Structures/Furniture/Benches/sombersofa.rsi/right.png
  Resources/Textures/_SHA/Structures/Furniture/furniture-96x96.rsi/sofafootrestleft.png
  Resources/Textures/_SHA/Structures/Furniture/furniture-96x96.rsi/sofafootrestmiddle.png
  Resources/Textures/_SHA/Structures/Furniture/furniture-96x96.rsi/sofafootrestright.png
Labels: Changes: Sprite

fix?
  Resources/Locale/en-US/_DEN/markings/tails.ftl
Labels: Changes: Localization

fix
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc.yml
Labels: none

Update acrux.yml
  Resources/Maps/TheDen/acrux.yml
Labels: Changes: Map

Update acrux.yml
  Resources/Prototypes/Maps/acrux.yml
Labels: Changes: Map

Update acrux.yml
  Resources/Prototypes/Maps/acrux.yml
Labels: Changes: Map

Fix plasmamen being unable to spawn with envirosuit loadouts
  Content.Shared/Clothing/Loadouts/Systems/SharedLoadoutSystem.cs
  Resources/Prototypes/Loadouts/Categories/categories.yml
Labels: Changes: C#

actually runs without breaking the game
  Resources/Prototypes/_Harmony/GameRules/roundstart.yml
  Resources/Prototypes/_Harmony/Objectives/conspirator.yml
  Resources/Prototypes/_Harmony/game_presets.yml
Labels: none

ai factions
  Resources/Prototypes/_Harmony/Objectives/conspirator.yml
  Resources/Prototypes/_Harmony/ai_factions.yml
  Resources/Prototypes/ai_factions.yml
Labels: none

linter issues with blood brothers
  Resources/Prototypes/_Harmony/Guidebook/antagonist.yml
  Resources/Prototypes/_Harmony/StatusIcon/faction.yml
Labels: none

linter
  Resources/Prototypes/_Harmony/Roles/MindRoles/mind_roles.yml
Labels: none

Oops
  Resources/Prototypes/_DV/GameRules/events.yml
Labels: none

remove EG-4 from security, replace with tweaked PDW-9
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/protolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/security_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/security.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: none

fix loadouts to have pdw-9
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
Labels: none

stop BSO taking security duty weapons
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
Labels: none

hidespawnmenu
  Resources/Prototypes/_Harmony/Objectives/conspirator.yml
Labels: none

reduce starting count to 20
  Resources/Prototypes/_Harmony/GameRules/roundstart.yml
Labels: none

Update acrux.yml
  Resources/Maps/TheDen/acrux.yml
Labels: Changes: Map

Create NTES_Right_II.yml
  Resources/Maps/Shuttles/TheDen/NTES_Right_II.yml
Labels: Changes: Map

Update acrux.yml
  Resources/Prototypes/Maps/acrux.yml
Labels: Changes: Map

insectoid buzz
  Resources/Audio/_DEN/Voice/Moth/Emotes/attributions.yml
  Resources/Audio/_DEN/Voice/Moth/Emotes/insectoid_buzz_1.ogg
  Resources/Audio/_DEN/Voice/Moth/Emotes/insectoid_buzz_2.ogg
  Resources/Audio/_DEN/Voice/Moth/Emotes/insectoid_buzz_3.ogg
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DEN/SoundCollections/insectoid_buzz.yml
  Resources/Prototypes/_DEN/Voice/speech_emotes.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/chitinid.yml
  Resources/Prototypes/_DV/tags.yml
  Resources/Prototypes/_DV/voice/speech_emote_sounds.yml
Labels: Changes: Audio
