Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

fuck!
  Resources/Textures/_Wizden/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/_Wizden/Structures/Storage/closet.rsi/welded.png
Labels: Changes: Sprite

fixed some issues with power in Logistics, some atmospherics and SMES
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

Prevented a potential divide by zero in SiliconChargeSystem.
  Content.Server/Silicon/Charge/Systems/SiliconChargeSystem.cs
Labels: Changes: C#

Another sanity check I suppose
  Content.Server/Silicon/Charge/Systems/SiliconChargeSystem.cs
Labels: Changes: C#

Add guidebook protodata tag: embed prototype values in guidebook text (#27570)
  Content.Client/Guidebook/GuidebookDataSystem.cs
  Content.Client/Guidebook/Richtext/ProtodataTag.cs
  Content.Server/Guidebook/GuidebookDataSystem.cs
  Content.Shared/Explosion/Components/OnUseTimerTriggerComponent.cs
  Content.Shared/Guidebook/Events.cs
  Content.Shared/Guidebook/GuidebookData.cs
  Content.Shared/Guidebook/GuidebookDataAttribute.cs
  Resources/ServerInfo/Guidebook/Engineering/PortableGenerator.xml
  Resources/ServerInfo/Guidebook/Security/Defusal.xml
Labels: Changes: C#, Changes: Documentation

Add GuidebookData where needed; update entry for RTG; fix Psionic Mantis guide name
  Content.Server/Atmos/Portable/SpaceHeaterComponent.cs
  Content.Server/Power/Components/PowerSupplierComponent.cs
  Content.Shared/Atmos/Piping/Unary/Components/GasThermoMachineComponent.cs
  Content.Shared/Power/Generator/FuelGeneratorComponent.cs
  Resources/Locale/en-US/guidebook/psionics.ftl
  Resources/ServerInfo/Guidebook/Engineering/RTG.xml
Labels: Changes: C#, Changes: Documentation, Changes: Localization

testing
  Resources/Audio/_Impstation/Voice/Arachnid/attributions.yml
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Body/Organs/moth.yml
  Resources/Prototypes/Body/Prototypes/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Reagents/biological.yml
Labels: none

tweaked item descriptions to remove references to inhumane experimentation
  Resources/Prototypes/Entities/Clothing/Back/specific.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
Labels: none

initial mantle
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/protolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/misc.yml
  Resources/Textures/_DEN/Clothing/Neck/Mantles/moonmantle.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Mantles/moonmantle.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Neck/Mantles/moonmantle.rsi/meta.json
Labels: Changes: Sprite

adjust max viewport width
  Content.Shared/CCVar/CCVars.Viewport.cs
Labels: Changes: C#

Overhauled bridge, fixed camera/fax bugs, fixed Voxbox atmos, added dorm room, small bug fixes, minor atmos room tweeks
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

thaven puffer fix
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_silver.rsi/equipped-OUTERCLOTHING-thaven.png
Labels: Changes: Sprite

fixy
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_silver.rsi/equipped-OUTERCLOTHING-thaven.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_silver.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_silver.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_silver.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_silver.rsi/inhand-right.png
Labels: Changes: Sprite

touchups
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_silver.rsi/equipped-OUTERCLOTHING-thaven.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_silver.rsi/equipped-OUTERCLOTHING.png
Labels: Changes: Sprite

Fixes empty footprints when mopping
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
Labels: Changes: C#

Bug fixes & Updates request by headmapper
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

Space Ruin Masterkey Balancing
  Resources/Maps/Ruins/_DV/biodome_satellite.yml
  Resources/Maps/Ruins/_DV/djstation.yml
  Resources/Maps/Ruins/biodome_satellite.yml
  Resources/Maps/Ruins/djstation.yml
Labels: Changes: Map

voice insensitivity
  Content.Server/Explosion/EntitySystems/TriggerSystem.Voice.cs
Labels: Changes: C#

Novelty Glasses No Longer Exclusive
  Resources/Prototypes/_Impstation/Loadouts/Generic/eyes.yml
Labels: none

added TryComp for being pulled check in uncuffing
  Content.Shared/Cuffs/SharedCuffableSystem.cs
Labels: Changes: C#

voxpidgin description edit
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
Labels: none

correct descriptions
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
Labels: none

Oops CRLF
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
Labels: none

vox desc tweak
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
Labels: none

CRLF please
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
Labels: none

more markings yay
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/rodentia.yml
Labels: none

Woopsie!
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/rodentia.yml
Labels: none

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

Bug fix some lsgrid stuff
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

fixing anvil
  Resources/Maps/Shuttles/_DV/NTES_Hammerhead.yml
Labels: Changes: Map

Removing Senior Chemist and Senior Pharmacist
  Resources/Locale/en-US/_DEN/roles/alternate/medical-alternate.ftl
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/medical.yml
Labels: Changes: Localization

add hand washing
  Resources/Prototypes/Entities/Structures/Furniture/sink.yml
  Resources/Prototypes/_DEN/Interactions/specific_interactions.yml
Labels: none

dont forget locales
  Resources/Locale/en-US/_DEN/interaction/verbs/specific.ftl
Labels: Changes: Localization

tweak verb locale
  Resources/Locale/en-US/_DEN/interaction/verbs/specific.ftl
Labels: Changes: Localization

increase doafter time of washing hands immersive?
  Resources/Prototypes/_DEN/Interactions/specific_interactions.yml
Labels: none

Prisoner Slot Console, minor fixes
  Resources/Maps/TheDen/arena.yml
  Resources/Maps/TheDen/asterisk.yml
  Resources/Maps/TheDen/glacier.yml
  Resources/Maps/TheDen/manta.yml
  Resources/Prototypes/Maps/arena.yml
  Resources/Prototypes/Maps/asterisk.yml
  Resources/Prototypes/Maps/glacier.yml
  Resources/Prototypes/Maps/manta.yml
  Resources/Prototypes/Maps/tortuga.yml
Labels: Changes: Map

Update perpetuity.yml
  Resources/Maps/TheDen/perpetuity.yml
Labels: Changes: Map

add hand washing to more entities
  Resources/Prototypes/Entities/Structures/Furniture/shower.yml
  Resources/Prototypes/Entities/Structures/Furniture/toilet.yml
  Resources/Prototypes/Entities/Tiles/water.yml
  Resources/Prototypes/_Nuclear14/Tiles/water.yml
Labels: none

add new sound to faucet
  Resources/Audio/_DEN/Effects/Fluids/attributions.yml
  Resources/Audio/_DEN/Effects/Fluids/faucet.ogg
  Resources/Prototypes/_DEN/Interactions/specific_interactions.yml
Labels: Changes: Audio

make it quieter
  Resources/Prototypes/_DEN/Interactions/specific_interactions.yml
Labels: none

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
