Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

Yeah uhhhhh can I get a double quarter with cheese plain? A large fry and uh, coke. Thanks.
  Resources/Maps/TheDen/arena.yml
  Resources/Prototypes/Maps/arena.yml
  Resources/Prototypes/Maps/asterisk.yml
Labels: Changes: Map

return of the queen
  Resources/Prototypes/Maps/submarine.yml
Labels: Changes: Map

yup. add it all
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autolathe.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Power/lights.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/misc.yml
  Resources/Prototypes/_Wizden/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/_Wizden/Entities/Objects/Power/lights.yml
  Resources/Prototypes/_Wizden/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/_Wizden/Recipes/Lathes/misc.yml
Labels: none

Tiny Thaven Hair Touchup
  Resources/Textures/_DEN/Mobs/Customization/Thaven/hair.rsi/unkept_f.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/unkept.png
Labels: Changes: Sprite

1 line change andy
  Resources/Prototypes/Actions/emotes.yml
Labels: none

cold bulbs too
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autolathe.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Power/lights.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/misc.yml
Labels: none

fix thaven yml error
  Content.Server/Labels/Label/LabelSystem.cs
  Resources/Prototypes/_Impstation/Voice/thaven.yml
Labels: Changes: C#

Thaven Belt Displacements
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
  Resources/Textures/_DEN/Mobs/Species/Thaven/displacement.rsi/belt.png
  Resources/Textures/_DEN/Mobs/Species/Thaven/displacement.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Species/Thaven/displacement.rsi/hands.png
  Resources/Textures/_Impstation/Mobs/Species/Thaven/displacement.rsi/head.png
  Resources/Textures/_Impstation/Mobs/Species/Thaven/displacement.rsi/jumpsuit.png
  Resources/Textures/_Impstation/Mobs/Species/Thaven/displacement.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Species/Thaven/displacement.rsi/outerclothing_hardsuit.png
Labels: Changes: Sprite

Blink Pitch Variance
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: none

i fixa da problem
  Content.IntegrationTests/Tests/MaterialArbitrageTest.cs
  Resources/Prototypes/_Impstation/Entities/Structures/Lighting/base_lighting.yml
Labels: Changes: C#

now trash bag has a magnet toggle
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/trashbag.yml
Labels: none

fixy fix to trashbag. Remove magnet from default one.
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/trashbag.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Janitorial/trashbag.yml
Labels: none

fixed all da bags
  Resources/Prototypes/Entities/Objects/Specific/Chemistry/chem_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Librarian/books_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/tools.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Janitorial/trashbag.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Engineering/construction_bag.yml
Labels: none

Made leporazine less lethal for low weight characters
  Resources/Prototypes/Reagents/medicine.yml
Labels: none

Add the paperwork belt (#2592)
  Resources/Prototypes/_DV/Catalog/Fills/Items/Belts/belts.yml
  Resources/Prototypes/_DV/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_DV/Recipes/Lathes/clothing.yml
  Resources/Prototypes/_DV/Roles/Jobs/Command/administrative_assistant.yml
  Resources/Textures/_DV/Clothing/Belt/paperwork.rsi/equipped-BELT.png
  Resources/Textures/_DV/Clothing/Belt/paperwork.rsi/icon.png
  Resources/Textures/_DV/Clothing/Belt/paperwork.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Belt/paperwork.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Belt/paperwork.rsi/meta.json
Labels: Changes: Sprite

added the paperwork belt to uniform printer
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/uniform_printer.yml
Labels: none

more whitelisted items for the paperwork belt
  Resources/Prototypes/_DV/Entities/Clothing/Belt/belts.yml
Labels: none

more whitelisted items for the paperwork belt
  Resources/Prototypes/_DV/Entities/Clothing/Belt/belts.yml
Labels: none

adding more whitelisted items to the paperwork belt
  Resources/Prototypes/_DV/Entities/Clothing/Belt/belts.yml
Labels: none

enable
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map

added gloves to magistrate
  Resources/Prototypes/Loadouts/Jobs/Command/magistrate.yml
Labels: none

added gloves, CC disabler, and station master encryption key to magistrate
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/magistrate.yml
  Resources/Prototypes/Loadouts/Jobs/Command/magistrate.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Command/magistrate.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Ears/headsets.yml
Labels: Changes: Localization

add flashbang suppression to magistrate headset
  Resources/Prototypes/_Goobstation/Entities/Clothing/Ears/headsets.yml
Labels: none

New psionic ablility: Precognition (#2131)
  Content.Server/DeltaV/Abilities/Psionics/PrecognitionPowerSystem.cs
  Content.Server/DeltaV/StationEvents/NextEvent/NextEventComponent.cs
  Content.Server/DeltaV/StationEvents/NextEvent/NextEventSystem.cs
  Content.Server/StationEvents/BasicStationEventSchedulerSystem.cs
  Content.Server/StationEvents/Components/BasicStationEventSchedulerComponent.cs
  Content.Server/StationEvents/Components/RampingStationEventSchedulerComponent.cs
  Content.Server/StationEvents/EventManagerSystem.cs
  Content.Server/StationEvents/RampingStationEventSchedulerSystem.cs
  Content.Shared/DeltaV/Abilities/Psionics/PrecognitionPowerComponent.cs
  Content.Shared/DeltaV/Abilities/Psionics/PrecognitionResultComponent.cs
  Content.Shared/DeltaV/Actions/Events/PrecognitionPowerActionEvent.cs
  Content.Shared/Nyanotrasen/Psionics/Events.cs
  Content.Shared/Psionics/PsionicComponent.cs
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Locale/en-US/abilities/psionic.ftl
  Resources/Locale/en-US/deltav/station-events/station-event-system.ftl
  Resources/Locale/en-US/psionics/psionic-powers.ftl
  Resources/Prototypes/Actions/psionics.yml
  Resources/Prototypes/CharacterItemGroups/Generic/mindormachine.yml
  Resources/Prototypes/GameRules/cargo_gifts.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/random_sentience.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/Psionics/PsionicPowerPool.yml
  Resources/Prototypes/Psionics/psionics.yml
  Resources/Prototypes/Traits/mental.yml
  Resources/Prototypes/_DV/GameRules/events.yml
  Resources/Prototypes/_DV/GameRules/midround.yml
  Resources/Textures/DeltaV/Interface/Actions/actions_psionics.rsi/meta.json
  Resources/Textures/DeltaV/Interface/Actions/actions_psionics.rsi/precognition.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite

Made reinforced document case larger, fireproof, and explosionproof. Added stamps, gavel, whistle, and reinforced doc case to magistrate locker
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_NF/Entities/Objects/Storage/weapon_cases.yml
Labels: none

Beer Bottle
  Resources/Textures/Objects/Consumable/Drinks/beer.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/beer.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/beer.rsi/inhand-left-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/beer.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/beer.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/beer.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/beer.rsi/inhand-right-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/beer.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/beer.rsi/meta.json
Labels: Changes: Sprite

Champagne
  Resources/Textures/Objects/Consumable/Drinks/champagnebottle.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/champagnebottle.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/champagnebottle.rsi/meta.json
Labels: Changes: Sprite

Ale
  Resources/Textures/Objects/Consumable/Drinks/alebottle.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/alebottle.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/alebottle.rsi/inhand-left-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/alebottle.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/alebottle.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/alebottle.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/alebottle.rsi/inhand-right-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/alebottle.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/alebottle.rsi/meta.json
Labels: Changes: Sprite

Jaegermister
  Resources/Textures/_DEN/Objects/Consumable/Drinks/jaegermisterbottle.rsi/inhand-left-fill-1.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/jaegermisterbottle.rsi/inhand-left-fill-2.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/jaegermisterbottle.rsi/inhand-left-fill-3.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/jaegermisterbottle.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/jaegermisterbottle.rsi/inhand-right-fill-1.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/jaegermisterbottle.rsi/inhand-right-fill-2.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/jaegermisterbottle.rsi/inhand-right-fill-3.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/jaegermisterbottle.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/jaegermisterbottle.rsi/meta.json
Labels: Changes: Sprite

Grenadine
  Resources/Textures/Objects/Consumable/Drinks/grenadinebottle.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/grenadinebottle.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/grenadinebottle.rsi/inhand-left-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/grenadinebottle.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/grenadinebottle.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/grenadinebottle.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/grenadinebottle.rsi/inhand-right-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/grenadinebottle.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/grenadinebottle.rsi/meta.json
Labels: Changes: Sprite

Gin
  Resources/Textures/Objects/Consumable/Drinks/ginbottle.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/ginbottle.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/ginbottle.rsi/inhand-left-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/ginbottle.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/ginbottle.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/ginbottle.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/ginbottle.rsi/inhand-right-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/ginbottle.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/ginbottle.rsi/meta.json
Labels: Changes: Sprite

Cognac
  Resources/Textures/Objects/Consumable/Drinks/cognacbottle.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/cognacbottle.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/cognacbottle.rsi/inhand-left-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/cognacbottle.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/cognacbottle.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/cognacbottle.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/cognacbottle.rsi/inhand-right-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/cognacbottle.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/cognacbottle.rsi/meta.json
Labels: Changes: Sprite

Gildlager
  Resources/Textures/Objects/Consumable/Drinks/gildlagerbottle.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/gildlagerbottle.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/gildlagerbottle.rsi/inhand-left-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/gildlagerbottle.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/gildlagerbottle.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/gildlagerbottle.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/gildlagerbottle.rsi/inhand-right-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/gildlagerbottle.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/gildlagerbottle.rsi/meta.json
Labels: Changes: Sprite

Patron
  Resources/Textures/Objects/Consumable/Drinks/patronbottle.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/patronbottle.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/patronbottle.rsi/inhand-left-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/patronbottle.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/patronbottle.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/patronbottle.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/patronbottle.rsi/inhand-right-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/patronbottle.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/patronbottle.rsi/meta.json
Labels: Changes: Sprite

Bottle of Nothing
  Resources/Textures/Objects/Consumable/Drinks/bottleofnothing.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/bottleofnothing.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/bottleofnothing.rsi/meta.json
Labels: Changes: Sprite

Mopwata
  Resources/Textures/Objects/Consumable/Drinks/mopwata.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/mopwata.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/mopwata.rsi/inhand-left-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/mopwata.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/mopwata.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/mopwata.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/mopwata.rsi/inhand-right-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/mopwata.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/mopwata.rsi/meta.json
Labels: Changes: Sprite

NT Cahors
  Resources/Textures/Objects/Consumable/Drinks/ntcahors.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/ntcahors.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/ntcahors.rsi/inhand-left-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/ntcahors.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/ntcahors.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/ntcahors.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/ntcahors.rsi/inhand-right-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/ntcahors.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/ntcahors.rsi/meta.json
Labels: Changes: Sprite

Lime
  Resources/Textures/Objects/Consumable/Drinks/limejuice.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/limejuice.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/limejuice.rsi/meta.json
Labels: Changes: Sprite

Rum
  Resources/Textures/Objects/Consumable/Drinks/rumbottle.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/rumbottle.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/rumbottle.rsi/inhand-left-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/rumbottle.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/rumbottle.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/rumbottle.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/rumbottle.rsi/inhand-right-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/rumbottle.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/rumbottle.rsi/meta.json
Labels: Changes: Sprite

Space Mountain Wind
  Resources/Textures/Objects/Consumable/Drinks/space_mountain_wind_bottle.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/space_mountain_wind_bottle.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/space_mountain_wind_bottle.rsi/inhand-left-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/space_mountain_wind_bottle.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/space_mountain_wind_bottle.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/space_mountain_wind_bottle.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/space_mountain_wind_bottle.rsi/inhand-right-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/space_mountain_wind_bottle.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/space_mountain_wind_bottle.rsi/meta.json
Labels: Changes: Sprite
