Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

fix
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
Labels: none

Roy's Birthday As A Thaven Holiday
  Resources/Prototypes/_Impstation/datasets.yml
Labels: none

yippee
  Resources/Locale/en-US/interaction/verbs/noop.ftl
Labels: Changes: Localization

Merge pull request #1198 from ashkitten/hud-tables
  Content.Client/StatusIcon/StatusIconSystem.cs
  Content.Shared/StatusIcon/StatusIconPrototype.cs
Labels: Changes: C#

fix teardown test fail
  Content.IntegrationTests/Tests/Interaction/InteractionTest.cs
Labels: Changes: C#

fix entitytest fail
  Content.IntegrationTests/Tests/EntityTest.cs
Labels: Changes: C#

fix inventory fail
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
Labels: Changes: C#

Update OpenTK to latest (#39227)
  Directory.Packages.props
Labels: none

Buff Folders and Clipboards
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: none

Add FireProof Folders
  Content.Server/Atmos/Components/ContentProtectionComponent.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/detdrobe.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Loadouts/Jobs/Command/admin_assistant.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/uncategorized.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/misc.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder-aa-overlay-pen.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder-aa.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder-fireproof.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
Labels: Changes: C#, Changes: Sprite

make character requirements shared
  Content.Client/LateJoin/LateJoinGui.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/TraitPreferenceSelector.xaml.cs
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRolesEui.cs
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutsItemListPanel.xaml.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
  Content.Server/Thief/Systems/ThiefUndeterminedBackpackSystem.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Server/_EE/Contractors/Systems/EmployerSystem.cs
  Content.Server/_EE/Contractors/Systems/LifepathSystem.cs
  Content.Server/_EE/Contractors/Systems/NationalitySystem.cs
  Content.Shared/Clothing/Loadouts/Systems/SharedLoadoutSystem.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Logic.cs
  Content.Shared/Customization/Systems/CharacterRequirements.cs
  Content.Shared/Customization/Systems/SharedCharacterRequirementsSystem.cs
  Content.Shared/Station/SharedStationSpawningSystem.cs
  Content.Shared/Traits/Assorted/Systems/ExtendDescriptionSystem.cs
Labels: Changes: C#, Changes: UI

add GetProfileContext API to character requirements
  Content.Client/_DEN/Customization/Systems/CharacterRequirementsSystem.cs
Labels: Changes: C#

make clientside use profile context
  Content.Client/LateJoin/LateJoinGui.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/TraitPreferenceSelector.xaml.cs
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRolesEui.cs
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutsItemListPanel.xaml.cs
Labels: Changes: C#, Changes: UI

add server-side profile context
  Content.Server/_DEN/Customization/Systems/CharacterRequirementsSystem.cs
Labels: Changes: C#

use server-side profile context
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Server/_DEN/Administration/Commands/SpawnPlayer.cs
  Content.Server/_DV/Administration/Commands/SpawnCharacter.cs
  Content.Server/_EE/Contractors/Systems/EmployerSystem.cs
  Content.Server/_EE/Contractors/Systems/LifepathSystem.cs
  Content.Server/_EE/Contractors/Systems/NationalitySystem.cs
  Content.Server/_Goobstation/Ghostbar/GhostBarSystem.cs
Labels: Changes: C#

NTRep Fax Smaller & One-Hand
  Resources/Prototypes/_Goobstation/Entities/Objects/Tools/tools.yml
Labels: none

fuck it lets add entity too
  Content.Client/_DEN/Customization/Systems/CharacterRequirementsSystem.cs
  Content.Server/_DEN/Customization/Systems/CharacterRequirementsSystem.cs
  Content.Shared/_DEN/Customization/SharedCharacterRequirementsSystem.cs
Labels: Changes: C#

Port Puffers and Poncho from Imp
  Resources/Prototypes/CharacterItemGroups/Generic/neckGroup.yml
  Resources/Prototypes/CharacterItemGroups/Generic/outerwearGroup.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/mime.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/neck.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/outerclothing.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/mime.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/misc.yml
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_mime.rsi/equipped-OUTERCLOTHING-thaven.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_mime.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_mime.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_mime.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_mime.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_mime.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_silver.rsi/equipped-OUTERCLOTHING-thaven.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_silver.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_silver.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_silver.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_silver.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_silver.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/poncho.rsi/equipped-OUTERCLOTHING-thaven.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/poncho.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/poncho.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/poncho.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/poncho.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/poncho.rsi/meta.json
Labels: Changes: Sprite

touchups, wardrobe vendors
  Resources/Prototypes/Catalog/VendingMachines/Inventories/atmosdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cargodrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/scidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Prototypes/CharacterItemGroups/Generic/neckGroup.yml
  Resources/Prototypes/CharacterItemGroups/Generic/outerwearGroup.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/neck.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/outerclothing.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/misc.yml
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/poncho.rsi/equipped-NECK-thaven.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/poncho.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/poncho.rsi/meta.json
Labels: Changes: Sprite

store players in requirements
  Content.Client/_DEN/Customization/Systems/CharacterRequirementsSystem.cs
  Content.Server/_DEN/Customization/Systems/CharacterRequirementsSystem.cs
  Content.Shared/_DEN/Customization/Systems/CharacterRequirementContext.cs
Labels: Changes: C#

add player construction to requirement contexts
  Content.Client/Lobby/LobbyUIController.cs
  Content.Server/Clothing/Systems/LoadoutSystem.cs
  Content.Server/_DEN/Administration/Commands/SpawnPlayer.cs
  Content.Server/_DV/Administration/Commands/SpawnCharacter.cs
  Content.Server/_DV/ParadoxAnomaly/Systems/ParadoxAnomalySystem.cs
  Content.Server/_Goobstation/Ghostbar/GhostBarSystem.cs
  Content.Shared/Clothing/Loadouts/Systems/SharedLoadoutSystem.cs
  Content.Shared/Customization/Systems/SharedCharacterRequirementsSystem.cs
Labels: Changes: C#

allow HasAdminFlag to indclude deadmined players
  Content.Shared/Administration/Managers/ISharedAdminManager.cs
Labels: Changes: C#

add admin requirement
  Content.Shared/_DEN/Customization/Requirements/CharacterRequirements.Admin.cs
  Resources/Locale/en-US/_DEN/customization/character-requirements.ftl
Labels: Changes: C#, Changes: Localization

fix a typo, add warmth to new items, rename the poncho ID better
  Resources/Prototypes/Catalog/VendingMachines/Inventories/atmosdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/CharacterItemGroups/Generic/outerwearGroup.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/outerclothing.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/misc.yml
Labels: none

help
  Content.Client/Audio/Jukebox/JukeboxBoundUserInterface.cs
Labels: Changes: C#

i'm dumb LOL
  Content.Client/Audio/Jukebox/JukeboxBoundUserInterface.cs
Labels: Changes: C#

fix misnamed song, checkin for others
  Resources/Prototypes/_DEN/Catalog/Jukebox/Standard.yml
Labels: none

this pr is doomed but i will at least fix it first
  Resources/Prototypes/_DEN/Catalog/Jukebox/Standard.yml
Labels: none

oops copy/paste error
  Resources/Prototypes/_DEN/Catalog/Jukebox/Standard.yml
Labels: none

no rags
  Resources/Audio/_DEN/Music/attributions.yml
  Resources/Audio/_DEN/Music/whirling-in-rags_8am.ogg
  Resources/Prototypes/_DEN/Catalog/Jukebox/Standard.yml
Labels: Changes: Audio

Fix Instant Thieving
  Content.Shared/Strip/Components/StrippableComponent.cs
Labels: Changes: C#

ignore
  Resources/Prototypes/_DEN/Voice/speech_sounds.yml
Labels: none

add roleban helpers for server this aint for this pr its for april
  Content.Server/Administration/Managers/BanManager.cs
Labels: Changes: C#

allow shared roleban retrieval
  Content.Client/_DEN/Players/PlayTimeTracking/JobRequirementsManager.Bans.cs
  Content.Server/_DEN/Players/PlayTimeTracking/PlayTimeTrackingManager.Bans.cs
  Content.Shared/Players/PlayTimeTracking/ISharedPlaytimeManager.cs
Labels: Changes: C#

add antag and job ban requirements
  Content.Shared/_DEN/Customization/Requirements/CharacterRequirements.Bans.cs
  Resources/Locale/en-US/_DEN/customization/character-requirements.ftl
Labels: Changes: C#, Changes: Localization

add centcomm pin
  Resources/Locale/en-US/_DEN/obvious/obvious.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/centdrobe.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Textures/_DEN/Clothing/Neck/Misc/pins.rsi/cc-equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/pins.rsi/cc.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/pins.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

make loadouts always show requirements
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutItemButton.xaml.cs
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutsItemListPanel.xaml.cs
Labels: Changes: C#, Changes: UI

Added Voidlites
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/_DEN/Entities/Objects/Tools/flashlights.yml
  Resources/Textures/_DEN/Objects/Tools/voidlite.rsi/inhand-left-light.png
  Resources/Textures/_DEN/Objects/Tools/voidlite.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Tools/voidlite.rsi/inhand-right-light.png
  Resources/Textures/_DEN/Objects/Tools/voidlite.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Tools/voidlite.rsi/meta.json
  Resources/Textures/_DEN/Objects/Tools/voidlite.rsi/voidlite-on.png
  Resources/Textures/_DEN/Objects/Tools/voidlite.rsi/voidlite-overlay.png
  Resources/Textures/_DEN/Objects/Tools/voidlite.rsi/voidlite.png
Labels: Changes: Sprite

Made them slightly brighter, same radius
  Resources/Prototypes/_DEN/Entities/Objects/Tools/flashlights.yml
Labels: none

fix antag selection
  Content.Server/Administration/Managers/BanManager.cs
  Content.Server/Administration/Managers/IBanManager.cs
  Content.Server/Antag/AntagSelectionSystem.cs
Labels: Changes: C#

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
