Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

mantis parent
  Resources/Prototypes/Entities/Objects/base_contraband.yml
Labels: none

gloves
  Resources/Prototypes/Entities/Clothing/Hands/colored.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
Labels: none

security pass
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/breaching_hammer.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Floof/Entities/Clothing/OuterClothing/wintercoats.yml
Labels: none

fixes
  Resources/Locale/en-US/contraband/contraband-severity.ftl
  Resources/Prototypes/Entities/Objects/Tools/emag.yml
Labels: Changes: Localization

minor contraband fix
  Resources/Locale/en-US/contraband/contraband-severity.ftl
  Resources/Prototypes/Entities/Objects/base_contraband.yml
Labels: Changes: Localization

medical pass
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/base_contraband.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Belt/belts.yml
Labels: none

more parent fixes
  Resources/Prototypes/Entities/Objects/base_contraband.yml
Labels: none

make chocolate milk craftable
  Resources/Prototypes/_DEN/Recipes/Reactions/drinks.yml
Labels: none

Actually im making it a 2:1 ratio
  Resources/Prototypes/_DEN/Recipes/Reactions/drinks.yml
Labels: none

Fixed all ghost roles not randomizing by adding needed components, removed a name a noticed that has bad connotations from the names list.
  Resources/Locale/en-US/datasets/names/first.ftl
  Resources/Locale/en-US/datasets/names/first_female.ftl
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/_EE/Gamerules/SANDeserters.yml
Labels: Changes: Localization

Duplicate ID
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: none

Just gotta do sprite now
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/toy.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/toy.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/toy.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/stationary.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Ammuntion/Boxes/toy.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Ammuntion/Projectiles/toy.yml
  Resources/Prototypes/_DEN/Recipes/Construction/Graphs/Weapons/thumb_tack_dart.yml
  Resources/Prototypes/_DEN/Recipes/Construction/Graphs/weapons.yml
  Resources/Prototypes/tags.yml
Labels: none

cherry-picked and merged 4aa6356
  Content.Server/Animals/Systems/UdderSystem.cs
  Content.Server/Animals/Systems/WoolySystem.cs
Labels: Changes: C#

added new whitelisted items for the paperwork belt
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/tape_recorder.yml
  Resources/Prototypes/_DV/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/tags.yml
Labels: none

Update clubYNK.yml
  Resources/Maps/_DEN/Nonstations/clubYNK.yml
Labels: Changes: Map

Adding the gameshow lawset
  Resources/Locale/en-US/_DEN/station-laws/laws.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_DEN/Entities/Stations/base.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: Localization

Update silicon-laws.yml
  Resources/Prototypes/silicon-laws.yml
Labels: none

Make All Species Technically Storable
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Back/back.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Species/canid.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Species/ovinia.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/feroxi.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/kitsune.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/lamia.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_EE/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
Labels: none

remove test backpack
  Resources/Prototypes/_DEN/Entities/Clothing/Back/back.yml
Labels: none

wait it's "storable" not "storeable"
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Species/canid.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Species/ovinia.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/feroxi.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/kitsune.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/lamia.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_EE/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
Labels: none

move StorableSpecies to den's existing base.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_DEN/Entities/Mobs/base.yml
Labels: none

aa drip + loadouts
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/admin_assistant.yml
  Resources/Prototypes/Loadouts/Jobs/Command/admin_assistant.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_DEN/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DEN/Entities/Clothing/departmental_clothes.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/uniform_printer.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/adminassistant.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/_DEN/Clothing/Departmental/Command/aathong.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Departmental/Command/aathong.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Departmental/Command/aathong.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Head/Hats/aacap.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/aacap.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hats/aacap.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Head/Hoods/hoodaa.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hoods/hoodaa.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hoods/hoodaa.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Neck/Misc/aacollar.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/aacollar.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/aacollar.rsi/meta.json
  Resources/Textures/_DEN/Clothing/OuterClothing/WinterCoats/coataa.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DEN/Clothing/OuterClothing/WinterCoats/coataa.rsi/icon.png
  Resources/Textures/_DEN/Clothing/OuterClothing/WinterCoats/coataa.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpskirt/admin_assistant.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpskirt/admin_assistant.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpskirt/admin_assistant.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/aaturtleneck.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/aaturtleneck.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/aaturtleneck.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/admin_assistant.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/admin_assistant.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/admin_assistant.rsi/meta.json
Labels: Changes: Sprite

give mothpeople their emotes
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
Labels: none

comment it too
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
Labels: none

remove forced coloring from shadowkin tails
  Resources/Prototypes/Entities/Mobs/Customization/Markings/shadowkin.yml
Labels: none

make the shape 21x6 (more natural 'human shape' than the previous rectangle)
  Resources/Prototypes/_DEN/Entities/Mobs/base.yml
Labels: none

Additional Fixes
  Resources/Maps/TheDen/hive.yml
Labels: Changes: Map

add rp pills / canisters
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Medical/pills.yml
Labels: none

a
  Resources/Prototypes/Actions/misc.yml
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Alerts/revenant.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: none

a
  Resources/Prototypes/Alerts/revenant.yml
Labels: none

add drug moodlets
  Resources/Locale/en-US/_DEN/mood/drugs.ftl
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/_CD/Reagents/medicine.yml
  Resources/Prototypes/_DEN/Mood/drugs.yml
Labels: Changes: Localization

Update alcohol.yml
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/alcohol.yml
Labels: none

add medicine loadouts
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/_DEN/CharacterItemGroups/Loadouts/miscItems.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Medical/pills.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/medicine.yml
Labels: Changes: Localization

add medicine descriptions
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutItemButton.xaml.cs
  Content.Shared/Clothing/Loadouts/Prototypes/LoadoutPrototype.cs
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/medicine.yml
Labels: Changes: C#, Changes: UI

adjust prescription loadout costs
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/medicine.yml
Labels: none

holy shit lower equilibrazine dose i forgot 6.7 is OD
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Medical/pills.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/medicine.yml
Labels: none

reduce soretizone dose as well
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Medical/pills.yml
Labels: none

add medical loadout category
  Resources/Locale/en-US/_DEN/loadouts/categories.ftl
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/_DEN/Loadouts/Categories/categories.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/medicine.yml
  Resources/Prototypes/_DEN/Loadouts/accessibility.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
Labels: Changes: Localization

add loadout desc for estradiol/testosterone
  Resources/Prototypes/_DEN/Loadouts/items.yml
Labels: none

add ethyloxyephedrine to loadouts
  Resources/Prototypes/_DEN/CharacterItemGroups/Loadouts/miscItems.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Medical/pills.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/medicine.yml
Labels: none
