Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

Twenty-Three Flavors of Night
  Resources/Maps/TheDen/arena.yml
  Resources/Maps/TheDen/asterisk.yml
  Resources/Prototypes/Maps/asterisk.yml
Labels: Changes: Map

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

Map Tweaks/Updates
  Resources/Maps/TheDen/eternity.yml
  Resources/Maps/TheDen/infinity.yml
Labels: Changes: Map

Update infinity.yml
  Resources/Maps/TheDen/infinity.yml
Labels: Changes: Map

traitor and secret require 40 population
  Resources/Prototypes/game_presets.yml
Labels: none

Update sprite credits + remove Floof plush sprite
  Resources/Prototypes/_Floof/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Floof/Mobs/Customization/Reptilian/fin.rsi/meta.json
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/dino.png
  Resources/Textures/_Floof/Objects/Fun/floof_plush.rsi/meta.json
Labels: Changes: Sprite

initial commit
  Resources/Prototypes/Entities/Clothing/Head/soft.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Floof/Entities/Clothing/departmental_clothes.yml
  Resources/Textures/Clothing/Head/Envirohelms/paramedic.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Envirohelms/paramedic.rsi/icon.png
  Resources/Textures/Clothing/Head/Envirohelms/paramedic.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Envirosuits/paramedic.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Envirosuits/paramedic.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Envirosuits/paramedic.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-paramedic.png
  Resources/Textures/Objects/Fun/figurines.rsi/meta.json
  Resources/Textures/Objects/Fun/figurines.rsi/paramedic.png
  Resources/Textures/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/Structures/Storage/closet.rsi/paramed.png
  Resources/Textures/Structures/Storage/closet.rsi/paramed_door.png
  Resources/Textures/_DEN/Structures/Doors/Airlocks/Glass/paramedic.rsi/assembly.png
  Resources/Textures/_DEN/Structures/Doors/Airlocks/Glass/paramedic.rsi/closed.png
  Resources/Textures/_DEN/Structures/Doors/Airlocks/Glass/paramedic.rsi/closing.png
  Resources/Textures/_DEN/Structures/Doors/Airlocks/Glass/paramedic.rsi/meta.json
  Resources/Textures/_DEN/Structures/Doors/Airlocks/Glass/paramedic.rsi/open.png
  Resources/Textures/_DEN/Structures/Doors/Airlocks/Glass/paramedic.rsi/opening.png
  Resources/Textures/_DEN/Structures/Doors/Airlocks/Standard/paramedic.rsi/assembly.png
  Resources/Textures/_DEN/Structures/Doors/Airlocks/Standard/paramedic.rsi/closed.png
  Resources/Textures/_DEN/Structures/Doors/Airlocks/Standard/paramedic.rsi/closing.png
  Resources/Textures/_DEN/Structures/Doors/Airlocks/Standard/paramedic.rsi/meta.json
  Resources/Textures/_DEN/Structures/Doors/Airlocks/Standard/paramedic.rsi/open.png
  Resources/Textures/_DEN/Structures/Doors/Airlocks/Standard/paramedic.rsi/opening.png
Labels: Changes: Sprite

loadout
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/paramedic.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Medical/paramedic.yml
Labels: none

no battery proto
  Resources/Prototypes/_DEN/Entities/Clothing/Head/hats.yml
Labels: none

I FUCKED IT MY BAD OG
  Resources/Prototypes/_DEN/Recipes/Cooking/FoodSequence/mothic_sequence_element.yml
Labels: none

decription...
  Resources/Prototypes/_DEN/Entities/Clothing/Head/hats.yml
Labels: none

what do you mean the windbreaker isnt in loadout
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/paramedic.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Medical/paramedic.yml
Labels: none

Black turtleneck but shorts
  Resources/Locale/en-US/loadouts/generic/uniform.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/CharacterItemGroups/Generic/itemGroups.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/uniform.yml
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/blackturtleneckshorts.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/blackturtleneckshorts.rsi/flipped-equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/blackturtleneckshorts.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/blackturtleneckshorts.rsi/icon_flipped.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/blackturtleneckshorts.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/blackturtleneckshorts.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/blackturtleneckshorts.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/black_turtleneck.rsi/flipped-equipped-INNERCLOTHING.png
Labels: Changes: Localization, Changes: Sprite

preliminary files for dragons. this looks great
  .run/Content Server+Client.run.xml
  Content.Shared/Humanoid/HumanoidVisualLayersExtension.cs
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/_SimpleStation/Entities/Mobs/Customization/reptilianwings.yml
  Resources/Textures/_SimpleStation/Mobs/Customization/wings64x34.rsi/dragon-back.png
  Resources/Textures/_SimpleStation/Mobs/Customization/wings64x34.rsi/dragon-front.png
  Resources/Textures/_SimpleStation/Mobs/Customization/wings64x34.rsi/dragon-inner-back.png
  Resources/Textures/_SimpleStation/Mobs/Customization/wings64x34.rsi/dragon-inner-front.png
  Resources/Textures/_SimpleStation/Mobs/Customization/wings64x34.rsi/meta.json
Labels: Changes: C#, Changes: Documentation, Changes: Sprite

oh god i hope i'll fix this in the future
  Content.Shared/Humanoid/HumanoidVisualLayers.cs
  Content.Shared/Humanoid/HumanoidVisualLayersExtension.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Species/sprite_layers.yml
  Resources/Prototypes/_SimpleStation/Entities/Mobs/Customization/reptilianwings.yml
  Resources/Textures/_SimpleStation/Mobs/Customization/wings64x34.rsi/dragon-back.png
  Resources/Textures/_SimpleStation/Mobs/Customization/wings64x34.rsi/dragon-front-side.png
  Resources/Textures/_SimpleStation/Mobs/Customization/wings64x34.rsi/dragon-front.png
  Resources/Textures/_SimpleStation/Mobs/Customization/wings64x34.rsi/dragon-inner-front.png
  Resources/Textures/_SimpleStation/Mobs/Customization/wings64x34.rsi/dragon-inner-frontsides.png
  Resources/Textures/_SimpleStation/Mobs/Customization/wings64x34.rsi/meta.json
Labels: Changes: C#, Changes: Sprite

New Map for Den Eternity Server
  Resources/Maps/TheDen/perpetuity.yml
  Resources/Prototypes/Maps/perpetuity.yml
Labels: Changes: Map

add character item group tests
  Content.IntegrationTests/Tests/_DEN/ItemGroups/CharacterItemGroupTest.cs
Labels: Changes: C#

POSSIBLY MAKE THIS LESS SHIT TO READ?
  Content.IntegrationTests/Tests/_DEN/ItemGroups/CharacterItemGroupTest.cs
Labels: Changes: C#

REMOVE LOBOTOMIES
  Resources/Prototypes/_DV/QuickPhrases/Subjects/medical.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgeries.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgery_steps.yml
Labels: none

MAKE IT SLIGHTLY LESS SHIT AGAIN
  Content.IntegrationTests/Tests/_DEN/ItemGroups/CharacterItemGroupTest.cs
Labels: Changes: C#

EXCLUDE SOME PROTOTYPES HERE
  Content.IntegrationTests/Tests/_DEN/ItemGroups/CharacterItemGroupTest.cs
Labels: Changes: C#

ADD BEDSHEETS TO AUTOTAILOR
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autotailor.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/base.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/bedsheets.yml
Labels: none

BEDSHEET LATHE CATEGORY
  Resources/Locale/en-US/_DEN/lathe/lathe-categories.ftl
  Resources/Prototypes/_DEN/Recipes/Lathes/base.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/bedsheets.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/categories.yml
Labels: Changes: Localization

ADD TECHNICOLOR COATS
  Resources/Prototypes/_DEN/Entities/Clothing/OuterClothing/coats.yml
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_beige.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_beige.rsi/icon-open.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_beige.rsi/icon.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_beige.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_beige.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_beige.rsi/meta.json
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_beige.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_black.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_black.rsi/icon-open.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_black.rsi/icon.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_black.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_black.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_black.rsi/meta.json
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_black.rsi/open-equipped-OUTERCLOTHING.png
Labels: Changes: Sprite

FIX BEIGE JACKET NAME
  Resources/Prototypes/_DEN/Entities/Clothing/OuterClothing/coats.yml
Labels: none

enable asteroids in space again
  Content.Shared/CCVar/CCVars.Worldgen.cs
Labels: Changes: C#

FIX LOADOUT GROUPS PART 1
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/admin_assistant.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/psionicMantis.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/chiefMedicalOfficer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/cataloger.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/chaplain.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/mystagogue.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/psionicMantis.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/chemist.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/mime.yml
Labels: none

OOPS MY
  Content.IntegrationTests/Tests/_DEN/ItemGroups/CharacterItemGroupTest.cs
Labels: Changes: C#

OOPS
  Resources/Prototypes/Loadouts/Jobs/Epistemics/chaplain.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/mime.yml
Labels: none

ADD WHITE TECHNICOLOR JACKET
  Resources/Prototypes/_DEN/Entities/Clothing/OuterClothing/coats.yml
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_white.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_white.rsi/icon-open.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_white.rsi/icon.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_white.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_white.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_white.rsi/meta.json
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_white.rsi/open-equipped-OUTERCLOTHING.png
Labels: Changes: Sprite

ADD SWEATER VEST
  Resources/Prototypes/_DEN/Entities/Clothing/OuterClothing/coats.yml
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/sweater_vest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/sweater_vest.rsi/icon.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/sweater_vest.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/sweater_vest.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/sweater_vest.rsi/meta.json
Labels: Changes: Sprite

ADD SIMPLE SKIRT
  Resources/Prototypes/_DEN/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpskirt/skirt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpskirt/skirt.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpskirt/skirt.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpskirt/skirt.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpskirt/skirt.rsi/meta.json
Labels: Changes: Sprite

ADD UNDERWEAR LEGGINGS
  Resources/Locale/en-US/_DEN/markings/underwear.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/underwear.yml
  Resources/Textures/_DEN/Mobs/Customization/Underwear/leggings.rsi/base.png
  Resources/Textures/_DEN/Mobs/Customization/Underwear/leggings.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

ADD GRAYSCALE BUTTON UPS
  Resources/Locale/en-US/_DEN/markings/undershirt.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_fem_grayscale.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_fem_grayscale.rsi/undershirt-buttons.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_fem_grayscale.rsi/undershirt-collar.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_fem_grayscale.rsi/undershirt.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_grayscale.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_grayscale.rsi/undershirt-buttons.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_grayscale.rsi/undershirt-collar.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_grayscale.rsi/undershirt.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_open_fem_grayscale.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_open_fem_grayscale.rsi/undershirt-buttons.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_open_fem_grayscale.rsi/undershirt-collar.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_open_fem_grayscale.rsi/undershirt.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_open_grayscale.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_open_grayscale.rsi/undershirt-buttons.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_open_grayscale.rsi/undershirt-collar.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_open_grayscale.rsi/undershirt.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_partial_fem_grayscale.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_partial_fem_grayscale.rsi/undershirt-buttons.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_partial_fem_grayscale.rsi/undershirt-collar.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_partial_fem_grayscale.rsi/undershirt.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_partial_grayscale.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_partial_grayscale.rsi/undershirt-buttons.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_partial_grayscale.rsi/undershirt-collar.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_partial_grayscale.rsi/undershirt.png
Labels: Changes: Localization, Changes: Sprite

ADD LOADOUTS FOR NEW CLOTHING
  Resources/Prototypes/CharacterItemGroups/Generic/itemGroups.yml
  Resources/Prototypes/CharacterItemGroups/Generic/outerwearGroup.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/outerclothing.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/uniform.yml
Labels: none

FOLDED COLLARS
  Resources/Prototypes/CharacterItemGroups/Generic/neckGroup.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/neck.yml
  Resources/Textures/_DEN/Clothing/Neck/Misc/folded_collar.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/folded_collar.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/folded_collar.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/folded_collar.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/folded_collar.rsi/meta.json
Labels: Changes: Sprite

ADD THAVEN DISPLACEMENT SPRITES
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/sweater_vest.rsi/equipped-OUTERCLOTHING-thaven.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/sweater_vest.rsi/meta.json
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_beige.rsi/equipped-OUTERCLOTHING-thaven.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_beige.rsi/meta.json
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_beige.rsi/open-equipped-OUTERCLOTHING-thaven.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_black.rsi/equipped-OUTERCLOTHING-thaven.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_black.rsi/meta.json
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_black.rsi/open-equipped-OUTERCLOTHING-thaven.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_white.rsi/equipped-OUTERCLOTHING-thaven.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_white.rsi/meta.json
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/technicolor_white.rsi/open-equipped-OUTERCLOTHING-thaven.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpskirt/skirt.rsi/equipped-INNERCLOTHING-thaven.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpskirt/skirt.rsi/meta.json
Labels: Changes: Sprite

remove dragon bleedout
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: none

removed 5 minute timer warning
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/objectives/conditions/carp-rifts.ftl
Labels: Changes: Localization

give dragons a pinpointer
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/_DEN/Entities/InventoryTemplates/dragon.yml
  Resources/Prototypes/_DEN/Loadouts/dragon.yml
Labels: none

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
