Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

Removing uneeded files
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/contravend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/cuddlycritter.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/fun.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
Labels: Changes: Localization

nerfed damage of the spaceblade, 5 slash > 2 slash
  Resources/Prototypes/_NF/Entities/Objects/Fun/spaceblade.yml
Labels: none

working version
  Resources/Locale/en-US/_Impstation/accessories/human-hair.ftl
  Resources/Locale/en-US/_Impstation/markings/misc.ftl
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc.yml
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/head.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/head.rsi/shadow.png
  Resources/Textures/_Impstation/Mobs/Customization/human_hair.rsi/eyebangshort.png
  Resources/Textures/_Impstation/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/human_hair.rsi/overeyeslong.png
Labels: Changes: Localization, Changes: Sprite

initial commit
  Resources/Audio/_DEN/Voice/Shadowkin/Emotes/attributions.yml
  Resources/Audio/_DEN/Voice/Shadowkin/Emotes/shadowkin_female_laugh_01.ogg
  Resources/Audio/_DEN/Voice/Shadowkin/Emotes/shadowkin_female_laugh_02.ogg
  Resources/Audio/_DEN/Voice/Shadowkin/Emotes/shadowkin_female_scream.ogg
  Resources/Audio/_DEN/Voice/Shadowkin/Emotes/shadowkin_male_laugh_01.ogg
  Resources/Audio/_DEN/Voice/Shadowkin/Emotes/shadowkin_male_laugh_02.ogg
  Resources/Audio/_DEN/Voice/Shadowkin/Emotes/shadowkin_male_scream.ogg
  Resources/Audio/_DEN/Voice/Shadowkin/Talk/attributions.yml
  Resources/Audio/_DEN/Voice/Shadowkin/Talk/shadowkin_speak_ask.ogg
  Resources/Audio/_DEN/Voice/Shadowkin/Talk/shadowkin_speak_exclaim.ogg
  Resources/Audio/_DEN/Voice/Shadowkin/Talk/shadowkin_speak_say.ogg
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/speech_sounds.yml
  Resources/Prototypes/_DEN/SoundCollections/Shadowkin/laughs.yml
  Resources/Prototypes/_DEN/SoundCollections/Shadowkin/screams.yml
  Resources/Prototypes/_DEN/Voice/speech_sounds.yml
Labels: Changes: Audio

8 PIXEL CHANGE
  Resources/Textures/_Impstation/Mobs/Customization/human_hair.rsi/eyebangshort.png
Labels: Changes: Sprite

Several changes to integrate spaceblades into the Den's systems
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/games.yml
  Resources/Prototypes/CharacterItemGroups/Generic/miscItemGroups.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Mail/mail.yml
Labels: none

Improve space blade collisions (#2772)
  Resources/Prototypes/_NF/Entities/Objects/Fun/spaceblade.yml
Labels: none

Update toy.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
Labels: none

Update toy.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
Labels: none

Update spaceblade.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/spaceblade.yml
Labels: none

glowy eyes
  Resources/Locale/en-US/_DEN/markings/shadowkin.ftl
  Resources/Locale/en-US/markings/shadowkin.ftl
  Resources/Prototypes/Species/shadowkin.yml
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/shadowkinmarks.yml
Labels: Changes: Localization

Update spaceblade.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/spaceblade.yml
Labels: none

meow
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_DV/Roles/Jobs/Security/brigmedic.yml
Labels: none

changes
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_DV/Roles/Jobs/Security/brigmedic.yml
Labels: none

add heirloom examine text
  Content.Server/Traits/Assorted/HeirloomSystem.cs
  Content.Server/_DEN/Traits/Assorted/HeirloomSystem.cs
  Resources/Locale/en-US/_DEN/traits/heirloom.ftl
Labels: Changes: C#, Changes: Localization

Merge pull request #636 from starlighthowls/master
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/cuteaprons.yml
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutebar.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutebar.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutebar.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutebar.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutebar.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutechef.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutechef.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutechef.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutechef.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutechef.rsi/meta.json
Labels: Changes: Sprite

Cute apron resprites (#2535)
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutebar.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutebar.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutebar.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutebar.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutechef.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutechef.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutechef.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutechef.rsi/inhand-right.png
Labels: Changes: Sprite

Marching Band Uniforms! (#2911)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/uniform_printer.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/uniform_printer.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/clothing.yml
  Resources/Textures/_Impstation/Clothing/Head/Hats/mus_shako.rsi/equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/mus_shako.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/mus_shako.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/mus_marchingband.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/mus_marchingband.rsi/equipped-INNERCLOTHING-vox.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/mus_marchingband.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/mus_marchingband.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/mus_marchingband.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/mus_marchingband.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/mus_marchingband.rsi/meta.json
Labels: Changes: Sprite

Adjusting Thaven Eye Offsets
  Resources/Prototypes/_Impstation/InventoryTemplates/thaven_inventory_template.yml
Labels: none

Lounge Singer Outfit + Fur Coat for Musician! (#3160)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/bomberjackets.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Textures/_Impstation/Clothing/Hands/Gloves/mus_singergloves.rsi/equipped-HAND-gastropoid.png
  Resources/Textures/_Impstation/Clothing/Hands/Gloves/mus_singergloves.rsi/equipped-HAND-vox.png
  Resources/Textures/_Impstation/Clothing/Hands/Gloves/mus_singergloves.rsi/equipped-HAND.png
  Resources/Textures/_Impstation/Clothing/Hands/Gloves/mus_singergloves.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Hands/Gloves/mus_singergloves.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Neck/Misc/mus_boa.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/mus_boa.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/mus_boa.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/mus_boa.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/mus_boa.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/mus_furcoat.rsi/equipped-OUTERCLOTHING-gastropoid.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/mus_furcoat.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/mus_furcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/mus_furcoat.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/mus_furcoat.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/mus_furcoat.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/mus_furcoat.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/equipped-INNERCLOTHING-decapoid.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/equipped-INNERCLOTHING-diona.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/equipped-INNERCLOTHING-gastropoid.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/equipped-INNERCLOTHING-goblin.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/equipped-INNERCLOTHING-gray.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/equipped-INNERCLOTHING-moth.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/equipped-INNERCLOTHING-thaven.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/equipped-INNERCLOTHING-vox.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/meta.json
Labels: Changes: Sprite

make things obtainable suits, musician clothing are in loadouts costume items are in the theatrical crate
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/cataloger.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/chaplain.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/detective.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/bartender.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/chef.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/lawyer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/musician.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/reporter.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Epistemics/cataloguer.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Epistemics/chaplain.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/bartender.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/chef.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/lawyer.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/musician.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/reporter.yml
Labels: none

Captain Lobby Art
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/KAASI_DOSHI.webp
  Resources/Textures/LobbyScreens/KAASI_DOSHI.webp.yml
  Resources/Textures/LobbyScreens/attributions.yml
Labels: none

move nightclub suit + lyre loadouts + fix test fail
  Resources/Locale/en-US/_Impstation/forensics/fibers.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/miscItemGroups.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/bartender.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/musician.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/bartender.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/musician.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
Labels: Changes: Localization

Displacement maps big update (#30093)
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Client/DisplacementMap/DisplacementMapSystem.cs
  Content.Shared/Clothing/Components/ClothingComponent.cs
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
  Content.Shared/DisplacementMap/DisplacementData.cs
  Content.Shared/Hands/Components/HandsComponent.cs
  Content.Shared/Inventory/InventoryComponent.cs
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/random_suit.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/gingerbread.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Textures/Mobs/Species/Human/displacement.rsi/jumpsuit-female.png
  Resources/Textures/Mobs/Species/Human/displacement.rsi/meta.json
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/ears.png
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/meta.json
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/shoes.png
Labels: Changes: C#, Changes: Sprite

fix autodrobe arbitrage
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
Labels: none

fixed service, musician, theatre, clown, mime, and zoologist doors not using the new prototype, fixed maints for NTR, BSO, MAG also using wrong prototype
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_DEN/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_DEN/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/_DV/Entities/Structures/Doors/Airlocks/access.yml
Labels: none

whoops
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Species/ovinia.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/back.png
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/eyes.png
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/hand.png
  Resources/Textures/_DEN/Mobs/Species/Ovinia/displacement.rsi/jumpsuit-female.png
  Resources/Textures/_DEN/Mobs/Species/Ovinia/displacement.rsi/meta.json
Labels: Changes: Sprite

Eye Customization
  Content.Shared/Humanoid/Markings/MarkingCategories.cs
  Resources/Locale/en-US/_DEN/markings/arachne.ftl
  Resources/Locale/en-US/_Impstation/markings/arachnid.ftl
  Resources/Locale/en-US/_Impstation/markings/misc.ftl
  Resources/Locale/en-US/_Impstation/markings/slimeperson.ftl
  Resources/Locale/en-US/_Impstation/preferences/ui/markings-picker.ftl
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/arachne.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/arachnid.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/slime.yml
  Resources/Textures/Mobs/Species/Slime/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/head_m.png
  Resources/Textures/_Impstation/Mobs/Customization/Arachnid/eyes.rsi/jumper1.png
  Resources/Textures/_Impstation/Mobs/Customization/Arachnid/eyes.rsi/jumper2.png
  Resources/Textures/_Impstation/Mobs/Customization/Arachnid/eyes.rsi/jumper3.png
  Resources/Textures/_Impstation/Mobs/Customization/Arachnid/eyes.rsi/jumper4.png
  Resources/Textures/_Impstation/Mobs/Customization/Arachnid/eyes.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Arachnid/eyes.rsi/round1.png
  Resources/Textures/_Impstation/Mobs/Customization/Arachnid/eyes.rsi/round2.png
  Resources/Textures/_Impstation/Mobs/Customization/Arachnid/eyes.rsi/round3.png
  Resources/Textures/_Impstation/Mobs/Customization/Arachnid/eyes.rsi/round4.png
  Resources/Textures/_Impstation/Mobs/Customization/slime_parts.rsi/cyclops.png
  Resources/Textures/_Impstation/Mobs/Customization/slime_parts.rsi/cyclopsglow.png
  Resources/Textures/_Impstation/Mobs/Customization/slime_parts.rsi/droopy.png
  Resources/Textures/_Impstation/Mobs/Customization/slime_parts.rsi/droopyglow.png
  Resources/Textures/_Impstation/Mobs/Customization/slime_parts.rsi/eyes.png
  Resources/Textures/_Impstation/Mobs/Customization/slime_parts.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite

Adding contra blade to the uplink
  Resources/Locale/en-US/_DEN/store/uplink-catalog.ftl
  Resources/Prototypes/_DEN/Catalog/uplink_catalog.yml
Labels: Changes: Localization

shut up linter
  Resources/Prototypes/lobbyscreens.yml
Labels: none

thavengirlmode
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
Labels: none

Fixed duplicate Id
  Resources/Prototypes/_DEN/Catalog/uplink_catalog.yml
Labels: none

fixes
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/costumes.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpsuits_punk.yml
Labels: none

Update Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
Labels: none

Update Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
Labels: none

Update Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
Labels: none

Update Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
Labels: none

Update Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
Labels: none

i fix
  Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
Labels: none

add ftls
  Resources/Locale/en-US/_DEN/markings/thaven.ftl
  Resources/Locale/en-US/_Impstation/markings/thaven.ftl
Labels: Changes: Localization

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
