Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

give ovinia cow tail
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro_tails.yml
Labels: none

WAIT I DIDN'T PUSH IT
  Resources/Textures/_DEN/Clothing/OuterClothing/WinterCoats/turtleneckhalfblouse.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DEN/Clothing/OuterClothing/WinterCoats/turtleneckhalfblouse.rsi/icon.png
  Resources/Textures/_DEN/Clothing/OuterClothing/WinterCoats/turtleneckhalfblouse.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/OuterClothing/WinterCoats/turtleneckhalfblouse.rsi/inhand-right.png
Labels: Changes: Sprite

The UI portion
  Content.Client/FlavorText/FlavorText.xaml
  Content.Client/FlavorText/FlavorText.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/Cloning/CloningSystem.Utility.cs
  Content.Server/DetailExaminable/DetailExaminableSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Resources/Locale/en-US/preferences/ui/flavor-text.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

add hoof hand markings
  Resources/Locale/en-US/_DEN/markings/ovinia.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Ovinia.yml
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/body_markings.rsi/hand-hoof-left.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/body_markings.rsi/hand-hoof-right.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/body_markings.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

make cow splots markings makr more sense
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/body_markings.rsi/torso-cow-f.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/body_markings.rsi/torso-cow-m.png
Labels: Changes: Sprite

shorts round 1
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/bootyshorts.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/bootyshorts.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/bootyshorts.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/bootyshorts.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/bootyshorts.rsi/meta.json
Labels: Changes: Sprite

recolorable hoof hands
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Ovinia.yml
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/body_markings.rsi/hand-hoof-left.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/body_markings.rsi/hand-hoof-right.png
Labels: Changes: Sprite

neotab it
  Content.Client/FlavorText/FlavorText.xaml
  Content.Client/FlavorText/FlavorText.xaml.cs
Labels: Changes: C#, Changes: UI

fix locale
  Resources/Locale/en-US/_DEN/markings/ovinia.ftl
Labels: Changes: Localization

Booty Shorts and a Sentimental Ring
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/itemGroups.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/uniform.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Textures/_DEN/Clothing/Hands/sentimentalring.rsi/equipped-HAND.png
  Resources/Textures/_DEN/Clothing/Hands/sentimentalring.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Hands/sentimentalring.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Hands/sentimentalring.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/bootyshorts.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/bootyshorts.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

whoop forgot neck slot
  Resources/Prototypes/_DEN/Entities/Clothing/Hands/gloves.yml
Labels: none

indent
  Resources/Prototypes/_DEN/Entities/Clothing/Hands/gloves.yml
Labels: none

ok so i'm a little rusty
  Resources/Prototypes/_DEN/Entities/Clothing/Hands/gloves.yml
Labels: none

whoops, heating coefficient should be 1.1 not 0.1, weird
  Resources/Prototypes/_DEN/Entities/Clothing/OuterClothing/wintercoats.yml
Labels: none

progress
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/bomberjackets.yml
Labels: none

xcard
  Content.Client/_AS/UserInterface/Controls/CardButton.cs
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml.cs
  Content.Server/_AS/Consent/ConsentCardSystem.cs
  Content.Shared/IoC/SharedContentIoC.cs
  Content.Shared/_AS/Consent/Components/ConsentCardComps.cs
  Content.Shared/_AS/Consent/ConsentCardEvents.cs
  Content.Shared/_AS/Consent/SharedConsentCardSystem.cs
  Resources/Locale/en-US/_AS/consent/consent-cards.ftl
  Resources/Prototypes/_AS/Consent/consent_cards.yml
  Resources/Textures/_AS/Consent/Cards/x_card.rsi/meta.json
  Resources/Textures/_AS/Consent/Cards/x_card.rsi/x-card.png
  Resources/Textures/_AS/Interface/x.svg
  Resources/Textures/_AS/Interface/x.svg.96dpi.png
  Resources/Textures/_AS/Interface/x.svg.96dpi.png.yml
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: UI

update license
  Resources/Textures/_AS/Consent/Cards/x_card.rsi/meta.json
Labels: Changes: Sprite

Changed audio file and consent toggle description size
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml.cs
  Content.Server/_AS/Consent/ConsentCardSystem.cs
Labels: Changes: C#, Changes: UI

progress
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/outerwearGroup.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/outerclothing.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/bomberjackets.yml
Labels: Changes: Localization

progresss
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/bomberjackets.yml
Labels: Changes: Localization

holy shit loadout code
  Resources/Prototypes/CharacterItemGroups/Generic/outerwearGroup.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/atmosphericTechnician.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/engineeringUncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Logistics/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/outerclothing.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Engineering/atmosphericTechnician.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Engineering/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Logistics/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/bomberjackets.yml
Labels: none

Update drinks_special.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_special.yml
Labels: none

Added the ashtray to the service techfab
  Resources/Prototypes/Recipes/Lathes/cooking.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/service_techfab.yml
Labels: none

file-scoped namespace
  Content.Shared/IoC/SharedContentIoC.cs
Labels: Changes: C#

am i done???
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Engineering/atmosphericTechnician.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Engineering/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Epistemics/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Logistics/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/bomberjackets.yml
Labels: none

contraband tweaks
  Resources/Locale/en-US/contraband/contraband-severity.ftl
  Resources/Prototypes/Entities/Objects/base_contraband.yml
  Resources/Prototypes/contraband_severities.yml
Labels: Changes: Localization

regroup stuff
  Content.Client/UserInterface/Controls/NeoTabContainer.xaml.cs
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml.cs
  Content.Shared/_DEN/Consent/ConsentCategoryPrototype.cs
  Resources/Locale/en-US/_DEN/consent/consent-groups.ftl
  Resources/Prototypes/_DEN/Consent/consent_groups.yml
Labels: Changes: C#, Changes: Localization, Changes: UI

partial consent UI rework
  Content.Client/FlavorText/FlavorText.xaml
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml.cs
  Resources/Locale/en-US/Blep/consent.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

DONE YAY YAY YAY YAY
  Resources/Prototypes/_DEN/Loadouts/Generic/outerclothing.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Engineering/atmosphericTechnician.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Engineering/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Epistemics/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Logistics/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/uncategorized.yml
Labels: none

oh yeah
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/bomberjackets.yml
Labels: none

character limit and save status always shown
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml.cs
  Resources/Locale/en-US/Blep/consent.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

wee shuffle
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml.cs
  Content.Shared/_DEN/Consent/ConsentCategoryPrototype.cs
Labels: Changes: C#, Changes: UI

Mustard Bottle
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Textures/Objects/Consumable/Food/condiments.rsi/bottle-mustard.png
  Resources/Textures/Objects/Consumable/Food/condiments.rsi/label-m.png
  Resources/Textures/Objects/Consumable/Food/condiments.rsi/meta.json
Labels: Changes: Sprite

Fixed it?
  Resources/Prototypes/Entities/Structures/Wallmounts/defib_cabinet.yml
Labels: none

I finally did it
  Resources/Prototypes/Entities/Structures/Wallmounts/defib_cabinet.yml
Labels: none

KatanaSheath Fix
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_DV/Catalog/Fills/Items/Belts/belts.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/DeltaV/Clothing/Belt/belt_overlay.rsi/katana.png
  Resources/Textures/DeltaV/Clothing/Belt/belt_overlay.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Belt/belt_overlay.rsi/wakizashi.png
Labels: Changes: Sprite

clean baseball bat yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
Labels: none

Makes kukri not use combat knife's storage sprite (#33661)
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
Labels: none

Resized baseball bats to be more realistic (#38392)
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Textures/Objects/Weapons/Melee/baseball_bat.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/baseball_bat.rsi/storage.png
  Resources/Textures/Objects/Weapons/Melee/incomplete_bat.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/incomplete_bat.rsi/storage.png
Labels: Changes: Sprite

Combat and survival knife storage/inhand sprites (#33111)
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Textures/Objects/Weapons/Melee/combat_knife.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/combat_knife.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/combat_knife.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/combat_knife.rsi/storage.png
  Resources/Textures/Objects/Weapons/Melee/survival_knife.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/survival_knife.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/survival_knife.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/survival_knife.rsi/storage.png
Labels: Changes: Sprite

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
