Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

knife
  Resources/Prototypes/_DEN/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_DEN/SoundCollections/tools.yml
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/meta.json
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/omnitool-slicing.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/omnitool-snipping.png
Labels: Changes: Sprite

fix
  Resources/Prototypes/_DEN/Entities/Objects/Tools/tools.yml
Labels: none

somber door standardization
  Resources/Prototypes/_DEN/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_DEN/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/_DEN/Entities/Structures/Wallmounts/shelfs.yml
  Resources/Prototypes/_SHA/everything.yml
Labels: none

striped pink soap looked like a raw burger patty...
  Resources/Locale/en-US/_DEN/forensics/residues.ftl
  Resources/Migrations/migration.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/meta.json
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberindigo-1.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberindigo-2.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberindigo-3.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberindigo-4.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberindigo-inhand-left.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberindigo-inhand-right.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberpink-1.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberpink-2.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberpink-3.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberpink-4.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberpink-inhand-left.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberpink-inhand-right.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberviolet-1.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberviolet-2.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberviolet-3.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberviolet-4.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberviolet-inhand-left.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/somberviolet-inhand-right.png
Labels: Changes: Localization, Changes: Sprite

allow mappers to choose shower states
  Content.Shared/Showers/SharedShowerSystem.cs
  Content.Shared/Showers/ShowerComponent.cs
  Resources/Prototypes/Entities/Structures/Furniture/shower.yml
Labels: Changes: C#

Automated changelog update (#2587)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Poker Chips Are Now Spawnable (#433)
  Resources/Locale/en-US/_TheDen/stack/stacks.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/games.yml
  Resources/Prototypes/Entities/Objects/Fun/poker_chips.yml
  Resources/Prototypes/_DEN/Fun/poker_stacks.yml
  Resources/Prototypes/_WF/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/_WF/Entities/Objects/Storage/toolbox.yml
  Resources/Prototypes/tags.yml
Labels: Changes: Localization

Automated changelog update (#2592)
  Resources/Changelog/Den.yml
Labels: none

Thaven "Army Knife" (#2593)
  Resources/Audio/_Impstation/Items/toolslap.ogg
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/_DEN/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_DEN/SoundCollections/tools.yml
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/equipped-BELT.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/meta.json
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/omnitool-prying.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/omnitool-pulsing.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/omnitool-screwing.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/omnitool-slicing.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/omnitool-snipping.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/omnitool-wrenching.png
  Resources/Textures/_DEN/Objects/Tools/thavenarmyknife.rsi/storage.png
Labels: Changes: Audio, Changes: Sprite

Automated changelog update (#2593)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Thaven "Army Knife"
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/_DEN/SoundCollections/tools.yml
Labels: none

switch to enum
  Content.Shared/Showers/SharedShowerSystem.cs
  Content.Shared/Showers/ShowerComponent.cs
  Resources/Prototypes/Entities/Structures/Furniture/shower.yml
Labels: Changes: C#

[BOUNTY] Allow Mappers to Choose Shower States (#2599)
  Content.Shared/Showers/SharedShowerSystem.cs
  Content.Shared/Showers/ShowerComponent.cs
  Resources/Prototypes/Entities/Structures/Furniture/shower.yml
Labels: Changes: C#

Automated changelog update (#2599)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: [BOUNTY] Allow Mappers to Choose Shower States
  Content.Shared/Showers/SharedShowerSystem.cs
  Content.Shared/Showers/ShowerComponent.cs
  Resources/Prototypes/Entities/Structures/Furniture/shower.yml
Labels: Changes: C#

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

asdf
  Resources/Textures/_DEN/Objects/Specific/Mantis/handlabelermantis.rsi/hand_labeler.png
Labels: Changes: Sprite

Revert "asdf"
  Resources/Textures/_DEN/Objects/Specific/Mantis/handlabelermantis.rsi/hand_labeler.png
Labels: Changes: Sprite

1 commit ops?
  Content.Server/Speech/EntitySystems/DamagedSiliconAccentSystem.cs
Labels: Changes: C#

sprite edits and meta files
  Resources/Textures/Clothing/Uniforms/Jumpsuit/rippedpunk.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/rippedpunk.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/rippedpunk.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/rippedpunk.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/angeldress.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/angeldress.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/angeldress.rsi/meta.json
Labels: Changes: Sprite

Conspiracy game mode requires 40 pop to vote
  Resources/Prototypes/_DEN/game_presets.yml
Labels: none

Lower danger can no longer select high danger game modes
  Resources/Prototypes/_DEN/random_presets.yml
Labels: none

increased nsfw holo barrier charges from 2 => 8
  Resources/Prototypes/_DEN/Entities/Objects/Devices/holoprojectors.yml
Labels: none

Removed Brackets From the Pool of DamagedSiliconAccentSystem (#2601)
  Content.Server/Speech/EntitySystems/DamagedSiliconAccentSystem.cs
Labels: Changes: C#

Automated changelog update (#2601)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Removed Brackets From the Pool of DamagedSiliconAccentSystem
  Content.Server/Speech/EntitySystems/DamagedSiliconAccentSystem.cs
Labels: Changes: C#

[TWEAK]: Increased Nsfw Holo Barrier Charges From 2 => 8 (#2604)
  Resources/Prototypes/_DEN/Entities/Objects/Devices/holoprojectors.yml
Labels: none

Automated changelog update (#2604)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: [TWEAK]: Increased Nsfw Holo Barrier Charges From 2 => 8
  Resources/Prototypes/_DEN/Entities/Objects/Devices/holoprojectors.yml
Labels: none

Glacier/Manta Fixes
  Resources/Maps/TheDen/glacier.yml
  Resources/Maps/TheDen/manta.yml
Labels: Changes: Map

Conspiracy Pop Requirement (#2603)
  Resources/Prototypes/_DEN/game_presets.yml
  Resources/Prototypes/_DEN/random_presets.yml
Labels: none

Automated changelog update (#2603)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Conspiracy Pop Requirement
  Resources/Prototypes/_DEN/game_presets.yml
  Resources/Prototypes/_DEN/random_presets.yml
Labels: none

Glacier/Manta Fixes (#2605)
  Resources/Maps/TheDen/glacier.yml
  Resources/Maps/TheDen/manta.yml
Labels: Changes: Map

Automated changelog update (#2605)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Glacier/Manta Fixes
  Resources/Maps/TheDen/glacier.yml
  Resources/Maps/TheDen/manta.yml
Labels: Changes: Map

clarion
  Resources/Locale/en-US/foldable/components/foldable-component.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/chaplain.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/chaplain.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Textures/_DEN/Objects/Specific/Chapel/clarion.rsi/closed.png
  Resources/Textures/_DEN/Objects/Specific/Chapel/clarion.rsi/meta.json
  Resources/Textures/_DEN/Objects/Specific/Chapel/clarion.rsi/open.png
Labels: Changes: Localization, Changes: Sprite

Fixing jetpacks and adding them to correct lathes, more engi items
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/devices.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/cargo_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/engineering_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/security_techfab.yml
Labels: none

aaaaaa
  Resources/Migrations/migration.yml
  Resources/Prototypes/_DEN/Entities/Structures/Decoration/mannequin.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_SHA/Structures/Lighting/LightPosts/lampeidolitefloor.rsi/base.png
  Resources/Textures/_SHA/Structures/Lighting/LightPosts/lampeidolitefloor.rsi/crystal.png
  Resources/Textures/_SHA/Structures/Lighting/LightPosts/lampeidolitefloor.rsi/glow.png
  Resources/Textures/_SHA/Structures/Lighting/LightPosts/lampeidolitefloor.rsi/meta.json
  Resources/Textures/_SHA/Structures/Lighting/LightPosts/lampeidolitewell.rsi/base.png
  Resources/Textures/_SHA/Structures/Lighting/LightPosts/lampeidolitewell.rsi/crystal.png
  Resources/Textures/_SHA/Structures/Lighting/LightPosts/lampeidolitewell.rsi/glow.png
  Resources/Textures/_SHA/Structures/Lighting/LightPosts/lampeidolitewell.rsi/meta.json
Labels: Changes: Sprite

New Bible - Clarion (#2607)
  Resources/Locale/en-US/foldable/components/foldable-component.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/chaplain.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/chaplain.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Textures/_DEN/Objects/Specific/Chapel/clarion.rsi/closed.png
  Resources/Textures/_DEN/Objects/Specific/Chapel/clarion.rsi/meta.json
  Resources/Textures/_DEN/Objects/Specific/Chapel/clarion.rsi/open.png
Labels: Changes: Localization, Changes: Sprite

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
