Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

update REUSE headers from: Updated Holobarriers
  Content.Client/_DEN/Holosign/UI/LabelableHolosignProjectorDescriptionBUI.cs
  Resources/Migrations/denMigrations.yml
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/admin.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/lewd.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/service_techfab.yml
  Resources/Prototypes/_DEN/tags.yml
Labels: Changes: C#

Automated changelog update (#2624)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Gorilla Gauntlet Doesn't Unanchor Things
  Resources/Prototypes/Entities/Objects/Specific/Research/anomaly.yml
Labels: none

Automated changelog update (#2641)
  Resources/Changelog/Den.yml
Labels: none

fix changelog
  Resources/Changelog/Den.yml
Labels: none

AA and XO changes
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_DV/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_DV/Roles/Jobs/Command/administrative_assistant.yml
Labels: none

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

make all blood traits take no slots
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: none

More AA changes, loadout, locker, new titles
  Resources/Locale/en-US/_DEN/roles/alternate/command-alternate.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/admin_assistant.yml
  Resources/Prototypes/Loadouts/Jobs/Command/admin_assistant.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/command.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/adminassistant.yml
Labels: Changes: Localization

Added apple juice as alternate drink to the locker
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/adminassistant.yml
Labels: none

Typo fail oof
  Content.Shared/PDA/PdaComponent.cs
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Changes: C#

[BugFix] Projector Slot Whitelist (#2658)
  Content.Shared/PDA/PdaComponent.cs
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Changes: C#

update REUSE headers from: [BugFix] Projector Slot Whitelist
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: none

CE 20 hour requirement Engineering
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
Labels: none

CMO add Para & MD & department playtime requirement
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
Labels: none

HoP 20 hour civ requirement
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Labels: none

LO increase time requirements
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
Labels: none

RD increase department time reqs
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Labels: none

Warden increase time Reqs
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: none

Make All Blood Traits Take No Slots (#2656)
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: none

Automated changelog update (#2656)
  Resources/Changelog/Den.yml
Labels: none

move (lower contrast) to name so it shows up in lathes
  Resources/Prototypes/_DEN/Entities/Objects/Misc/tiles.yml
Labels: none

Add New Eighties Floor Variant (#2570)
  Resources/Prototypes/_DEN/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/cutter_machine.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/tiles.yml
  Resources/Prototypes/_DEN/Stacks/floor_tile.yml
  Resources/Prototypes/_DEN/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/_DEN/Tiles/floor.yml
  Resources/Prototypes/_DEN/Tiles/floors.yml
  Resources/Textures/Objects/Tiles/tile.rsi/eighties.png
  Resources/Textures/Tiles/eighties.png
  Resources/Textures/_DEN/Objects/Tiles/eighties.rsi/eighties.png
  Resources/Textures/_DEN/Objects/Tiles/eighties.rsi/meta.json
  Resources/Textures/_DEN/Tiles/eighties.png
Labels: Changes: Sprite

Automated changelog update (#2570)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Add New Eighties Floor Variant
  Resources/Prototypes/_DEN/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/_DEN/Tiles/floors.yml
Labels: none

New Map: Quintessa
  Resources/Maps/Shuttles/TheDen/OCTS_Stardust.yml
  Resources/Prototypes/Maps/quintessa.yml
Labels: Changes: Map

[TWEAK]: Adds Conspirators Back to Even More Antatgs, but Like Less of Them (#2615)
  Resources/Prototypes/_DEN/GameRules/roundstart.yml
  Resources/Prototypes/_DEN/game_presets.yml
Labels: none

Automated changelog update (#2615)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: [TWEAK]: Adds Conspirators Back to Even More Antatgs, but Like Less of Them
  Resources/Prototypes/_DEN/GameRules/roundstart.yml
Labels: none

New Map: Quintessa (#2660)
  Resources/Maps/Shuttles/TheDen/OCTS_Stardust.yml
  Resources/Prototypes/Maps/quintessa.yml
Labels: Changes: Map

Automated changelog update (#2660)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: New Map: Quintessa
  Resources/Maps/Shuttles/TheDen/OCTS_Stardust.yml
  Resources/Prototypes/Maps/quintessa.yml
Labels: Changes: Map

Corpsman maints door
  Resources/Maps/TheDen/dingo.yml
Labels: Changes: Map

Tweaks and adjustments based on thread feedback
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: none

oopsie :3
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
Labels: none

grrrr kitten should have checked more thoroughly before uncommenting deltacode
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
Labels: none

>:(
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
Labels: none

Mapping: Dingo - Corpsman Maints Door (#2661)
  Resources/Maps/TheDen/dingo.yml
Labels: Changes: Map

update REUSE headers from: Mapping: Dingo - Corpsman Maints Door
  Resources/Maps/TheDen/dingo.yml
Labels: Changes: Map

oh god
  Resources/Maps/TheDen/baikal.yml
Labels: Changes: Map

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
