Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

special IPC singing
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Prototypes/Traits/skills.yml
  Resources/Prototypes/_DEN/Traits/Misc/singer_types.yml
  Resources/Prototypes/_DEN/Traits/species.yml
Labels: Changes: Localization

fix: character data
  Content.Server/Database/ServerDbBase.cs
Labels: Changes: C#

den note on singer
  Resources/Prototypes/Traits/skills.yml
Labels: none

Add the ability to enter cryo without an announcement.
  Content.Server/Bed/Cryostorage/CryostorageSystem.cs
  Content.Shared/Bed/Cryostorage/SharedCryostorageSystem.cs
  Content.Shared/_DEN/Bed/Cryostorage/Components/CryoingSilentlyComponent.cs
  Content.Shared/_DEN/Bed/Cryostorage/Components/CryostorageSilentlyComponent.cs
  Content.Shared/_DEN/Bed/Cryostorage/Systems/CryoSilentlySystem.cs
  Resources/Locale/en-US/_DEN/containers/containers.ftl
  Resources/Prototypes/Entities/Structures/cryopod.yml
Labels: Changes: C#, Changes: Localization

add low-cost synth singer version
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Prototypes/Traits/skills.yml
  Resources/Prototypes/_DEN/Traits/Misc/singer_types.yml
  Resources/Prototypes/_DEN/Traits/species.yml
Labels: Changes: Localization

it's six tones not five ummm oopsseyyy
  Resources/Locale/en-US/_DEN/traits/traits.ftl
Labels: Changes: Localization

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

Rechambered the P-15 in .35, added sec lathe recipes, research prereqs, and a non-BSO variant.
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/security_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/security.yml
  Resources/Prototypes/_DEN/tags.yml
  Resources/Textures/_DEN/Objects/Weapons/Guns/Pistols/BRDIP_15_standard.rsi/base.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Pistols/BRDIP_15_standard.rsi/bolt-open.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Pistols/BRDIP_15_standard.rsi/equipped-BELT.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Pistols/BRDIP_15_standard.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Pistols/BRDIP_15_standard.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Pistols/BRDIP_15_standard.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Pistols/BRDIP_15_standard.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Pistols/BRDIP_15_standard.rsi/mag-0.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Pistols/BRDIP_15_standard.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Shields/blueshieldshield.rsi/meta.json
Labels: Changes: Sprite

Emagged lathe recipes for the P-15
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/protolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/security_techfab.yml
Labels: none

Added new weapons to loadouts. Added EG-4 research and lathe recipe.
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/protolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/security_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/security.yml
Labels: none

Added just about everything.
  Resources/Locale/en-US/_DEN/catalog/fills/paper/document.ftl
  Resources/Locale/en-US/_DEN/paper/doc-printer.ftl
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_DEN/Catalog/Fills/Paper/document.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/document_printer.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/printer.yml
  Resources/Textures/_DEN/Interface/Paper/HoP.png
  Resources/Textures/_DEN/Interface/Paper/command.png
  Resources/Textures/_DEN/Interface/Paper/engineering.png
  Resources/Textures/_DEN/Interface/Paper/epistemics.png
  Resources/Textures/_DEN/Interface/Paper/law.png
  Resources/Textures/_DEN/Interface/Paper/logistics.png
  Resources/Textures/_DEN/Interface/Paper/medical.png
  Resources/Textures/_DEN/Interface/Paper/security.png
  Resources/Textures/_DEN/Interface/Paper/syndicate.png
Labels: Changes: Localization

Standardized the Receipt of Delivery's separators.
  Resources/Locale/en-US/_DEN/paper/doc-printer.ftl
Labels: Changes: Localization

Forgot some comments
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/praetorian.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/armour.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Entities/Misc/implanters.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Lever/lever.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/blueshield_mace.yml
  Resources/Prototypes/_Goobstation/Entities/Shields/shields.yml
  Resources/Prototypes/_Goobstation/Entities/Specific/bso.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
Labels: none

YAML Fix.
  Resources/Prototypes/_DEN/Recipes/Lathes/printer.yml
Labels: none

BSO WT550
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/wt550_BSO.rsi/base-unshaded.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/wt550_BSO.rsi/base.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/wt550_BSO.rsi/equipped-BACKPACK.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/wt550_BSO.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/wt550_BSO.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/wt550_BSO.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/wt550_BSO.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/wt550_BSO.rsi/mag-0.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/wt550_BSO.rsi/mag-1.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/wt550_BSO.rsi/mag-2.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/wt550_BSO.rsi/mag-3.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/wt550_BSO.rsi/mag-4.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/wt550_BSO.rsi/mag-5.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/wt550_BSO.rsi/mag-unshaded-0.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/wt550_BSO.rsi/mag-unshaded-1.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/wt550_BSO.rsi/mag-unshaded-2.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/wt550_BSO.rsi/mag-unshaded-3.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/wt550_BSO.rsi/mag-unshaded-4.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/wt550_BSO.rsi/mag-unshaded-5.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/wt550_BSO.rsi/meta.json
Labels: Changes: Sprite

fixed req changes meow
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutJobActionsWindow.xaml.cs
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutsItemListPanel.xaml.cs
  Content.Client/_DEN/Lobby/UI/Loadouts/LoadoutsTab.xaml.cs
  Content.Shared/Clothing/Loadouts/Systems/SharedLoadoutSystem.cs
  Resources/Locale/en-US/_DEN/loadouts/actions.ftl
  Resources/Locale/en-US/_DEN/loadouts/ui.ftl
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

Tail galore
  Resources/Prototypes/Species/slime.yml
Labels: none

Made the EG-4 a T3 research.
  Resources/Prototypes/Research/arsenal.yml
Labels: none

proliferate lyre bird + add minimoog synth sounds
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/skills.yml
  Resources/Prototypes/_DEN/Traits/Misc/singer_types.yml
  Resources/Prototypes/_DEN/Traits/species.yml
Labels: Changes: Localization

Bingo bongo
  Resources/Locale/en-US/_DEN/roles/alternate/dignitary-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/medical-alternate.ftl
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/dignitary.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/medical.yml
Labels: Changes: Localization

Added the Gumshoe title for detectives.
  Resources/Locale/en-US/_DEN/roles/alternate/security-alternate.ftl
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/security.yml
Labels: Changes: Localization

New chef titles too
  Resources/Locale/en-US/_DEN/roles/alternate/service-alternate.ftl
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/service.yml
Labels: Changes: Localization

fixed ui
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutJobActionsWindow.xaml
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutJobActionsWindow.xaml.cs
Labels: Changes: C#, Changes: UI

guard clauses
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutJobActionsWindow.xaml.cs
Labels: Changes: C#, Changes: UI

A bunch of new titles
  Resources/Locale/en-US/_DEN/roles/alternate/dignitary-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/engineering-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/epistemics-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/logistics-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/medical-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/security-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/service-alternate.ftl
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/dignitary.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/engineering.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/epistemics.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/logistics.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/medical.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/security.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/service.yml
Labels: Changes: Localization

performance fix + more guard clauses meow
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: C#, Changes: UI

Add the ability to ignore cryo messages with a toggle in the options.
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/_DEN/Customization/Systems/IgnoreCryoMessagesSystem.cs
  Content.Server/Bed/Cryostorage/CryostorageSystem.IgnoreMessage.cs
  Content.Server/Bed/Cryostorage/CryostorageSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_DEN/Bed/Cryostorage/IgnoringCryoMessagesComponent.cs
  Content.Shared/CCVar/CCVars.Hud.cs
  Content.Shared/_DEN/Bed/Cryostorage/Components/IgnoreCryoMessage.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

Add some more comments for clarity.
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Server/Bed/Cryostorage/CryostorageSystem.IgnoreMessage.cs
  Content.Server/Bed/Cryostorage/CryostorageSystem.cs
  Content.Shared/CCVar/CCVars.Hud.cs
Labels: Changes: C#, Changes: UI

Finalizing the changes
  Resources/Locale/en-US/_DEN/roles/alternate/service-alternate.ftl
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/service.yml
Labels: Changes: Localization

Updates in response to feedback.
  Resources/Locale/en-US/_DEN/roles/alternate/dignitary-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/engineering-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/service-alternate.ftl
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/dignitary.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/engineering.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/service.yml
Labels: Changes: Localization

job piority selection fix + nanotransen rep formatting fix meow
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: C#, Changes: UI

Fixed the Kweh and Rhodes Piano instruments.
  Resources/Audio/MidiCustom/space-station-14.sf2
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_percussion.yml
Labels: none

More Epi stuff
  Resources/Locale/en-US/_DEN/roles/alternate/epistemics-alternate.ftl
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/epistemics.yml
Labels: Changes: Localization

One more for good measure
  Resources/Locale/en-US/_DEN/roles/alternate/epistemics-alternate.ftl
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/epistemics.yml
Labels: Changes: Localization

more tail for slime
  Resources/Prototypes/Species/slime.yml
Labels: none

moths can now DRINK fiber
  Resources/Locale/en-US/_Impstation/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/consumable/drink/alchohol.ftl
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_Impstation/Reagents/Consumable/Drink/alchohol.yml
  Resources/Prototypes/_Impstation/Recipes/Reactions/drinks.yml
Labels: Changes: Localization

it now actually has a flavor
  Resources/Prototypes/_Impstation/Flavors/flavors.yml
Labels: none

Fixed the scream threshold
  Resources/Prototypes/_Funkystation/Reagents/medicine.yml
Labels: none

candy sprites
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/gummy_bear.rsi/blue.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/gummy_bear.rsi/green.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/gummy_bear.rsi/meta.json
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/gummy_bear.rsi/orange.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/gummy_bear.rsi/pink.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/gummy_bear.rsi/purple.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/gummy_bear.rsi/red.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/gummy_bear.rsi/yellow.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/hard_candy.rsi/blue.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/hard_candy.rsi/green.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/hard_candy.rsi/meta.json
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/hard_candy.rsi/pink.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/hard_candy.rsi/purple.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/hard_candy.rsi/yellow.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/large_gummy_worm.rsi/meta.json
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/large_gummy_worm.rsi/worm.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/larj_bar.rsi/chunk.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/larj_bar.rsi/chunk_small.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/larj_bar.rsi/meta.json
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/larj_bar.rsi/unwrapped.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/larj_bar.rsi/wrapped.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/wrapped_candy.rsi/blue.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/wrapped_candy.rsi/green.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/wrapped_candy.rsi/meta.json
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/wrapped_candy.rsi/pink.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/wrapped_candy.rsi/purple.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Candy/wrapped_candy.rsi/yellow.png
Labels: Changes: Sprite

artificial candy flavors
  Resources/Locale/en-US/_DEN/flavors/flavor-profiles.ftl
  Resources/Prototypes/_DEN/Flavors/flavors.yml
Labels: Changes: Localization

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
