Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

I hate bag space
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
Labels: none

boy am I bad at math
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/medkits.yml
Labels: none

the wrong way around you idiot
  Resources/Prototypes/Entities/Objects/Specific/Medical/medkits.yml
Labels: none

table fixes
  Resources/Prototypes/_DEN/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/sink.yml
  Resources/Textures/_DEN/Structures/Furniture/Tables/sombermetalcounter.rsi/full.png
  Resources/Textures/_DEN/Structures/Furniture/Tables/sombermetalcounter.rsi/meta.json
  Resources/Textures/_DEN/Structures/Furniture/Tables/sombermetalcounter.rsi/state_0.png
  Resources/Textures/_DEN/Structures/Furniture/Tables/sombermetalcounter.rsi/state_1.png
  Resources/Textures/_DEN/Structures/Furniture/Tables/sombermetalcounter.rsi/state_2.png
  Resources/Textures/_DEN/Structures/Furniture/Tables/sombermetalcounter.rsi/state_3.png
  Resources/Textures/_DEN/Structures/Furniture/Tables/sombermetalcounter.rsi/state_4.png
  Resources/Textures/_DEN/Structures/Furniture/Tables/sombermetalcounter.rsi/state_5.png
  Resources/Textures/_DEN/Structures/Furniture/Tables/sombermetalcounter.rsi/state_6.png
  Resources/Textures/_DEN/Structures/Furniture/Tables/sombermetalcounter.rsi/state_7.png
  Resources/Textures/_DEN/Structures/Furniture/Tables/somberwoodcounter.rsi/full.png
  Resources/Textures/_DEN/Structures/Furniture/Tables/somberwoodcounter.rsi/state_1.png
  Resources/Textures/_DEN/Structures/Furniture/Tables/somberwoodcounter.rsi/state_3.png
  Resources/Textures/_DEN/Structures/Furniture/Tables/somberwoodcounter.rsi/state_4.png
  Resources/Textures/_DEN/Structures/Furniture/Tables/somberwoodcounter.rsi/state_6.png
  Resources/Textures/_DEN/Structures/Furniture/Tables/somberwoodtable.rsi/state_1.png
  Resources/Textures/_DEN/Structures/Furniture/Tables/somberwoodtable.rsi/state_3.png
  Resources/Textures/_DEN/Structures/Furniture/Tables/somberwoodtable.rsi/state_4.png
  Resources/Textures/_DEN/Structures/Furniture/Tables/somberwoodtable.rsi/state_6.png
  Resources/Textures/_DEN/Structures/Furniture/sombersink.rsi/meta.json
  Resources/Textures/_DEN/Structures/Furniture/sombersink.rsi/sink.png
  Resources/Textures/_DEN/Structures/Furniture/sombersink.rsi/sink_countertop-fill-1.png
  Resources/Textures/_DEN/Structures/Furniture/sombersink.rsi/sink_countertop.png
  Resources/Textures/_DEN/Structures/Furniture/sombersink.rsi/sink_stem.png
  Resources/Textures/_DEN/Structures/Furniture/sombersink.rsi/sink_wide_countertop-fill-1.png
  Resources/Textures/_DEN/Structures/Furniture/sombersink.rsi/sink_wide_countertop.png
  Resources/Textures/_DEN/Structures/Furniture/sombersink.rsi/sink_wide_stemless.png
  Resources/Textures/_SHA/Structures/Furniture/chairs.rsi/meta.json
Labels: Changes: Sprite

more table fixes
  Resources/Prototypes/_DEN/Entities/Structures/furniture/Tables/tables.yml
  Resources/Textures/_DEN/Structures/Furniture/Tables/somberwoodtable.rsi/full.png
  Resources/Textures/_DEN/Structures/Furniture/Tables/somberwoodtable.rsi/state_0.png
  Resources/Textures/_DEN/Structures/Furniture/Tables/somberwoodtable.rsi/state_2.png
  Resources/Textures/_DEN/Structures/Furniture/Tables/somberwoodtablecoffee.rsi/full.png
  Resources/Textures/_DEN/Structures/Furniture/Tables/somberwoodtableend.rsi/full.png
  Resources/Textures/_DEN/Structures/Furniture/sombersink.rsi/sink_countertop-fill-1.png
  Resources/Textures/_DEN/Structures/Furniture/sombersink.rsi/sink_countertop.png
  Resources/Textures/_DEN/Structures/Furniture/sombersink.rsi/sink_wide_countertop-fill-1.png
  Resources/Textures/_DEN/Structures/Furniture/sombersink.rsi/sink_wide_countertop.png
Labels: Changes: Sprite

this actually fits now
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
Labels: none

it's a trait instead now
  Content.Server/_CD/Traits/SynthSystem.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: C#, Changes: Localization

forgot a line
  Content.Server/_CD/Traits/SynthSystem.cs
Labels: Changes: C#

disposals touchup
  Resources/Textures/_DEN/Structures/Piping/somberdisposal.rsi/condisposal.png
  Resources/Textures/_DEN/Structures/Piping/somberdisposal.rsi/conmailing.png
  Resources/Textures/_DEN/Structures/Piping/somberdisposal.rsi/disposal-charging.png
  Resources/Textures/_DEN/Structures/Piping/somberdisposal.rsi/disposal-flush.png
  Resources/Textures/_DEN/Structures/Piping/somberdisposal.rsi/disposal.png
  Resources/Textures/_DEN/Structures/Piping/somberdisposal.rsi/dispover-handle.png
  Resources/Textures/_DEN/Structures/Piping/somberdisposal.rsi/mailing-charging.png
  Resources/Textures/_DEN/Structures/Piping/somberdisposal.rsi/mailing-flush.png
  Resources/Textures/_DEN/Structures/Piping/somberdisposal.rsi/mailing.png
  Resources/Textures/_DEN/Structures/Piping/somberdisposal.rsi/mailover-handle.png
Labels: Changes: Sprite

feat: hunger takes less bites, blood is generally more nutritious for vampire
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/_DEN/Reagents/biological.yml
  Resources/Prototypes/_Impstation/Reagents/biological.yml
Labels: none

feat: wipe marks verb instead of arbitrary damage checking, "not nourishing" popup unhardcoding, general cleanup
  Content.Server/Vampire/BloodSuckerComponent.cs
  Content.Server/Vampire/BloodSuckerSystem.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Resources/Locale/en-US/abilities/bloodsucker.ftl
Labels: Changes: C#, Changes: Localization

fix: shimmering blood will satiate for the same as others until changed
  Resources/Prototypes/_DEN/Reagents/biological.yml
  Resources/Prototypes/_Impstation/Reagents/biological.yml
Labels: none

chore: unused
  Content.Server/Vampire/BloodSuckerSystem.cs
Labels: Changes: C#

fixing descriptions
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Locale/en-US/traits/traits.ftl
Labels: Changes: Localization

resprite dan dan noodles and chow mein from mr chang vendor (#4064)
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Textures/_Impstation/Objects/Consumable/Food/Snacks/chinese.rsi/chow-mein.png
  Resources/Textures/_Impstation/Objects/Consumable/Food/Snacks/chinese.rsi/dan-dan-noodles.png
  Resources/Textures/_Impstation/Objects/Consumable/Food/Snacks/chinese.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Consumable/Food/Snacks/chinese.rsi/takeout-closed.png
  Resources/Textures/_Impstation/Objects/Consumable/Food/Snacks/chinese.rsi/takeout-empty.png
  Resources/Textures/_Impstation/Objects/Consumable/Food/Snacks/chinese.rsi/takeout-inhand-left.png
  Resources/Textures/_Impstation/Objects/Consumable/Food/Snacks/chinese.rsi/takeout-inhand-right.png
Labels: Changes: Sprite

feat: give mice typing indicators
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/nukiemouse.yml
Labels: none

comments
  Resources/Locale/en-US/traits/traits.ftl
Labels: Changes: Localization

accent instead of biological trait
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/neutral.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: Localization

feat: open genpop lockers before sentence is served
  Content.Shared/Security/Components/GenpopLockerComponent.cs
  Content.Shared/Security/Systems/SharedGenpopSystem.cs
Labels: Changes: C#

Better Description of Vox-Pidgin
  Resources/ServerInfo/Guidebook/Mobs/Vox.xml
Labels: Changes: Documentation

Add Poison Recovery Description
  Resources/ServerInfo/Guidebook/Mobs/Plasmaman.xml
Labels: Changes: Documentation

added credit
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/meta.json
Labels: Changes: Sprite

oop
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/meta.json
Labels: Changes: Sprite

feat: Private Holoprojector
  Resources/Prototypes/_DEN/Entities/Structures/Holographic/projections.yml
  Resources/Textures/_DEN/Structures/Holo/private.rsi/icon.png
  Resources/Textures/_DEN/Structures/Holo/private.rsi/meta.json
Labels: Changes: Sprite

tweak: licensing to CC0
  Resources/Textures/_DEN/Structures/Holo/private.rsi/meta.json
Labels: Changes: Sprite

feat: projector
  Resources/Textures/_DEN/Objects/Devices/Holoprojectors/private.rsi/icon.png
  Resources/Textures/_DEN/Objects/Devices/Holoprojectors/private.rsi/inhand_left.png
  Resources/Textures/_DEN/Objects/Devices/Holoprojectors/private.rsi/inhand_right.png
  Resources/Textures/_DEN/Objects/Devices/Holoprojectors/private.rsi/meta.json
Labels: Changes: Sprite

feat: projector item
  Resources/Prototypes/_DEN/Entities/Objects/Devices/holoprojectors.yml
Labels: none

fix: rsi
  Resources/Textures/_DEN/Objects/Devices/Holoprojectors/private.rsi/meta.json
Labels: Changes: Sprite

fix: icons and entities
  Resources/Prototypes/_DEN/Entities/Objects/Devices/holoprojectors.yml
  Resources/Textures/_DEN/Objects/Devices/Holoprojectors/private.rsi/icon-inhand-left.png
  Resources/Textures/_DEN/Objects/Devices/Holoprojectors/private.rsi/icon-inhand-right.png
Labels: Changes: Sprite

feat: lathe recipe
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/general.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/misc.yml
Labels: none

Invalids deleted (Hivni)
  Resources/Maps/TheDen/hivni.yml
Labels: Changes: Map

Reverting maxpop change
  Resources/Prototypes/Maps/hivni.yml
Labels: Changes: Map

feat: every 5 minutes minimum to every 15 minutes minimum (20 minutes maximum)
  Resources/Prototypes/Traits/disabilities.yml
Labels: none

Adjust timeBetweenIncidents for Narcolepsy trait
  Resources/Prototypes/Traits/disabilities.yml
Labels: none

Remove duplicate AtmosPipeColor entries
  Resources/Maps/TheDen/hivni.yml
Labels: Changes: Map

Buffed cleanades and hydra cleandes
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: none

Removed impact damage
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: none

Add the ModifyOnApply system and an insulative filling that uses it.
  Content.Server/_DEN/ItemModifiers/Components/ModifiableComponent.cs
  Content.Server/_DEN/ItemModifiers/Components/ModifyOnApplyComponent.cs
  Content.Server/_DEN/ItemModifiers/Systems/ModifyOnApplySystem.cs
  Content.Shared/_DEN/ItemModifiers/Events/ModifyOnApplyDoAfterEvent.cs
  Resources/Locale/en-US/_DEN/item-modifier/base.ftl
  Resources/Locale/en-US/_DEN/item-modifier/insulative.ftl
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Nyanotrasen/Research/experimental.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/insulative.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/protolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/security_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/misc.yml
  Resources/Prototypes/_DEN/tags.yml
  Resources/Textures/_DEN/Objects/Misc/insulative_filling.rsi/base.png
  Resources/Textures/_DEN/Objects/Misc/insulative_filling.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite

EntityWhitelistSystem and whitespace fixes.
  Content.Server/_DEN/ItemModifiers/Components/ModifyOnApplyComponent.cs
  Content.Server/_DEN/ItemModifiers/Systems/ModifyOnApplySystem.cs
  Resources/Prototypes/_DEN/Entities/Objects/Misc/insulative.yml
Labels: Changes: C#

Add the ability to modify descriptions as well, and add more descriptors to the insulative hats
  Content.Server/_DEN/ItemModifiers/Components/ModifyOnApplyComponent.cs
  Content.Server/_DEN/ItemModifiers/Systems/ModifyOnApplySystem.cs
  Resources/Locale/en-US/_DEN/item-modifier/insulative.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Misc/insulative.yml
Labels: Changes: C#, Changes: Localization
