Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

candy additions
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/candy.yml
Labels: none

fix the candy prototypes
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/candy.yml
Labels: none

Tweaked the Branded Flippos
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
Labels: none

Added a the spider clan flippo to the Space Ninja gear. Tweaked a few entity names.
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
Labels: none

add gummy bear bag
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/Containers/candy.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/candy.yml
  Resources/Textures/_DEN/Objects/Storage/candy_bag.rsi/gummy_bear.png
  Resources/Textures/_DEN/Objects/Storage/candy_bag.rsi/meta.json
Labels: Changes: Sprite

Added cautery functionality to all flippos.
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
Labels: none

add hard candy bag
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/Containers/candy.yml
  Resources/Textures/_DEN/Objects/Storage/candy_bag.rsi/hard_candy.png
  Resources/Textures/_DEN/Objects/Storage/candy_bag.rsi/meta.json
Labels: Changes: Sprite

filter candy bag contents
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/Containers/candy.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/candy.yml
  Resources/Prototypes/_DEN/tags.yml
Labels: none

add nutriment to the candy
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/candy.yml
Labels: none

gumball and lollipop bags
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/candy.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/Containers/candy.yml
  Resources/Textures/_DEN/Objects/Storage/candy_bag.rsi/gumball.png
  Resources/Textures/_DEN/Objects/Storage/candy_bag.rsi/lollipop.png
  Resources/Textures/_DEN/Objects/Storage/candy_bag.rsi/meta.json
Labels: Changes: Sprite

fix larj bar size
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/candy.yml
Labels: none

add bulk candy crate and cargo product
  Resources/Prototypes/_DEN/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_DEN/Catalog/Fills/Crates/fun.yml
Labels: none

fix these two flavors
  Resources/Prototypes/_DEN/Flavors/flavors.yml
Labels: none

fix borked flavor
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/candy.yml
Labels: none

Fixed branded lighter damage too
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
Labels: none

Scrubs Complete.
  Resources/Prototypes/Entities/Clothing/Uniforms/scrubs.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/scrubs.yml
  Resources/Textures/Clothing/Uniforms/Scrubs/blue.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Scrubs/blue.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Scrubs/green.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Scrubs/green.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Scrubs/purple.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Scrubs/purple.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Scrubs/black.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Scrubs/black.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Scrubs/cyan.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Scrubs/cyan.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Scrubs/cybersun.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Scrubs/cybersun.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Scrubs/pink.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Scrubs/pink.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Scrubs/rainbow.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Scrubs/rainbow.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Scrubs/white.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Scrubs/white.rsi/meta.json
Labels: Changes: Sprite

Chemistry Added.
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatchem.rsi/folded-equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatchem.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/chemistry.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/chemistry.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/chemshirtsuit.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/chemshirtsuit.rsi/meta.json
Labels: Changes: Sprite

Virology done.
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatviro.rsi/folded-equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatviro.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/virology.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/virology.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/virology.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/virology.rsi/meta.json
Labels: Changes: Sprite

CMO Outfits done.
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/meta.json
Labels: Changes: Sprite

add role whitelist to cvar
  Resources/ConfigPresets/Build/development.toml
Labels: Changes: Config

Forgot to fix the hit SFX too
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
Labels: none

add voice gender toggle
  Content.Server/_DEN/Vocal/VoiceGenderToggleSystem.cs
  Content.Shared/_DEN/Vocal/SharedVoiceGenderToggleSystem.cs
  Content.Shared/_DEN/Vocal/VoiceGenderToggleComponent.cs
  Resources/Prototypes/_DEN/Actions/traits.yml
  Resources/Prototypes/_DEN/Traits/neutral.yml
Labels: Changes: C#

change the category to voice
  Resources/Prototypes/_DEN/Traits/neutral.yml
Labels: none

forgot about cooldown
  Content.Server/_DEN/Vocal/VoiceGenderToggleSystem.cs
Labels: Changes: C#

localize trait
  Resources/Locale/en-US/_DEN/traits/speech.ftl
Labels: Changes: Localization

add icons
  Resources/Prototypes/_DEN/Actions/traits.yml
  Resources/Textures/_DEN/Actions/voice_gender.rsi/female.png
  Resources/Textures/_DEN/Actions/voice_gender.rsi/male.png
  Resources/Textures/_DEN/Actions/voice_gender.rsi/meta.json
Labels: Changes: Sprite

actually resomi are not *just* unisex
  Resources/Prototypes/_DEN/Traits/neutral.yml
Labels: none

jumpsuit and jumpskirt were switched around, whoops
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo.rsi/meta.json
Labels: Changes: Sprite

remove this damn ass line
  Content.Server/_DEN/Vocal/VoiceGenderToggleSystem.cs
Labels: Changes: C#

Tweaks done!
  Resources/Locale/en-US/loadouts/jobs/security.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_DEN/Catalog/Fills/Items/misc.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
Labels: Changes: Localization

un-proliferate lyre bird, and make MM more expensive
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/skills.yml
  Resources/Prototypes/_DEN/Traits/species.yml
Labels: Changes: Localization

forgot a line
  Resources/Locale/en-US/traits/traits.ftl
Labels: Changes: Localization

this actually needs to use preferredvoice
  Content.Server/_DEN/Vocal/VoiceGenderToggleSystem.cs
Labels: Changes: C#

Geneticist Edited.
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Clothing/Uniforms/Jumpskirt/genetics.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/genetics.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/genetics.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/genetics.rsi/meta.json
Labels: Changes: Sprite

oops
  Resources/Textures/_White/Mobs/Customization/reptilian_64x32.rsi/snake_large_overlay.png
Labels: Changes: Sprite

Update dingo.yml
  Resources/Maps/TheDen/dingo.yml
Labels: Changes: Map

my beautiful wallpapers (#2901)
  Resources/Prototypes/_Impstation/Entities/Structures/Wallmounts/wallpaper.yml
  Resources/Prototypes/_Impstation/Recipes/Construction/Graphs/furniture/wallpapers.yml
  Resources/Prototypes/_Impstation/Recipes/Construction/furniture.yml
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/bannerblackred.png
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/bannerbluewhite.png
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/bannercolorful.png
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/bannerrainbow.png
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/bannerska.png
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/beach.png
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/beachedge.png
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/black.png
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/blackedge.png
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/fish.png
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/fishedge.png
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/green.png
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/greenedge.png
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/purple.png
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/purpleedge.png
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/rainbow.png
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/rainbowedge.png
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/red.png
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/rededge.png
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/ska.png
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/skaedge.png
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/starsbig.png
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/starsmoon.png
  Resources/Textures/_Impstation/Structures/Wallmounts/wallpaper.rsi/starssmall.png
Labels: Changes: Sprite

remove broken component on wallpaper
  Resources/Prototypes/_Impstation/Entities/Structures/Wallmounts/wallpaper.yml
Labels: none

BRDI P-15 has spread now. EG-4 damage buff. EG-4 re-added to BSO loadout + Security EG-4 is cheaper.
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
Labels: none

songbird no longer horny
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_glass.yml
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/alcohol.yml
Labels: none
