Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

actually nvm i like gold eyes better
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Smokables/Cigarettes/cigarette.yml
  Resources/Textures/_DEN/Objects/Consumable/Smokeables/Cigarettes/Cartons/mantis.rsi/closed.png
  Resources/Textures/_DEN/Objects/Consumable/Smokeables/Cigarettes/Cartons/mantis.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Consumable/Smokeables/Cigarettes/Cartons/mantis.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Consumable/Smokeables/Cigarettes/Cartons/mantis.rsi/meta.json
  Resources/Textures/_DEN/Objects/Consumable/Smokeables/Cigarettes/Cartons/mantis.rsi/open.png
Labels: Changes: Sprite

Glacier Receives our Love
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: Map

BSO, NTRep, Musician Spawns for Glacier Overhaul
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: Map

bluespace plushes
  Content.Server/_DEN/BluespacePlushiePatch/Components/BluespacePlushiePatchComponent.cs
  Content.Server/_DEN/BluespacePlushiePatch/Components/BluespacePlushiePatchableComponent.cs
  Content.Server/_DEN/BluespacePlushiePatch/Systems/BluespacePlushiePatchSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/_DEN/BluespacePlushiePatch/Events/BluespacePlushiePatchDoAfterEvent.cs
  Resources/Locale/en-US/_DEN/bluespaceplushiepatch/bluespaceplushiepatch.ftl
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/protolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/misc.yml
  Resources/Textures/_DEN/Objects/Fun/bluespaceplushiepatch.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/bluespaceplushiepatch.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite

Put this in the right spot in the file
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
Labels: none

Make the plushies too big to allow stacking behavior
  Content.Server/_DEN/BluespacePlushiePatch/Components/BluespacePlushiePatchComponent.cs
  Content.Server/_DEN/BluespacePlushiePatch/Systems/BluespacePlushiePatchSystem.cs
Labels: Changes: C#

Better texture yay
  Resources/Textures/_DEN/Objects/Fun/bluespaceplushiepatch.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/bluespaceplushiepatch.rsi/meta.json
Labels: Changes: Sprite

fix: fix for Den
  Content.Client/_DV/CartridgeLoader/Cartridges/NanoChatEntry.xaml.cs
  Content.Client/_DV/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml
  Content.Client/_DV/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml.cs
  Content.Server/_DV/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
  Content.Shared/_DV/CartridgeLoader/Cartridges/NanoChatUiMessageEvent.cs
  Content.Shared/_DV/CartridgeLoader/Cartridges/NanoChatUiState.cs
  Content.Shared/_DV/NanoChat/NanoChatCardComponent.cs
  Content.Shared/_DV/NanoChat/SharedNanoChatSystem.cs
Labels: Changes: C#, Changes: UI

chore: locale
  Resources/Locale/en-US/_Funkystation/nanochat/nanochat.ftl
Labels: Changes: Localization

fix: linter
  Resources/Prototypes/_Funkystation/NanoChat/emojis.yml
Labels: none

fix: linter
  Resources/Prototypes/_Funkystation/NanoChat/emojis.yml
Labels: none

Added missing localization strings
  Resources/Locale/en-US/_DEN/markings/reptilianandvulpkanin.ftl
Labels: Changes: Localization

Use a list of components instead.
  Content.Server/_DEN/BluespacePlushiePatch/Components/BluespacePlushiePatchComponent.cs
  Content.Server/_DEN/BluespacePlushiePatch/Systems/BluespacePlushiePatchSystem.cs
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Textures/_DEN/Objects/Fun/bluespaceplushiepatch.rsi/icon.png
Labels: Changes: C#, Changes: Sprite

tired of this not being a flatpack
  Resources/Prototypes/Entities/Objects/Devices/flatpack.yml
Labels: none

actually added the cargo buys, whoops
  Resources/Prototypes/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/Catalog/Fills/Crates/engineering.yml
Labels: none

Mapping Tools - Outside Lighting
  Resources/Prototypes/Entities/Markers/environmental.yml
  Resources/Textures/Markers/environment.rsi/base-light-day.png
  Resources/Textures/Markers/environment.rsi/base-light-evening.png
  Resources/Textures/Markers/environment.rsi/base-light-night.png
  Resources/Textures/Markers/environment.rsi/meta.json
Labels: Changes: Sprite

Mantis Update for Arena/Asterisk and Manta Security Beacon
  Resources/Maps/TheDen/arena.yml
  Resources/Maps/TheDen/asterisk.yml
  Resources/Maps/TheDen/manta.yml
Labels: Changes: Map

requested changes
  Resources/Prototypes/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/Entities/Objects/Devices/flatpack.yml
Labels: none

IDK WHAT TO CALL THIS YET
  Resources/Locale/en-US/_DEN/chat/managers/chat_manager.ftl
  Resources/Locale/en-US/_DEN/psionics/psionic-powers.ftl
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Entities/Clothing/Back/smuggler_tables.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/randomitems.yml
  Resources/Prototypes/_DEN/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Smokables/Cigarettes/cartons.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Smokables/Cigarettes/cigarette.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Smokables/Cigarettes/packs.yml
  Resources/Prototypes/_DEN/Language/animal.yml
  Resources/Prototypes/_DEN/Voice/speech_sounds.yml
  Resources/Prototypes/_DEN/Voice/speech_verbs.yml
  Resources/Textures/_DEN/Mobs/Animals/eidolitehermit.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Mobs/Animals/eidolitehermit.rsi/fella-moving.png
  Resources/Textures/_DEN/Mobs/Animals/eidolitehermit.rsi/fella.png
  Resources/Textures/_DEN/Mobs/Animals/eidolitehermit.rsi/fella_dead.png
  Resources/Textures/_DEN/Mobs/Animals/eidolitehermit.rsi/icon.png
  Resources/Textures/_DEN/Mobs/Animals/eidolitehermit.rsi/inhand-left.png
  Resources/Textures/_DEN/Mobs/Animals/eidolitehermit.rsi/inhand-right.png
  Resources/Textures/_DEN/Mobs/Animals/eidolitehermit.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

yay yay
  Content.Client/Drugs/DrugOverlaySystem.cs
  Content.Client/_DEN/Drugs/MnemolithOverlay.cs
  Content.Shared/_DEN/Drugs/SeeingMnemolithComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/_DEN/Reagents/psionic.yml
  Resources/Prototypes/_DEN/Shaders/shaders.yml
  Resources/Prototypes/_DEN/status_effects.yml
  Resources/Textures/_DEN/Shaders/mnemolith.swsl
Labels: Changes: C#

core functionality meow
  Content.Client/_DEN/StationRecords/StationJobsConsoleBoundUserInterface.cs
  Content.Client/_DEN/StationRecords/StationJobsConsoleJobRow.xaml
  Content.Client/_DEN/StationRecords/StationJobsConsoleJobRow.xaml.cs
  Content.Client/_DEN/StationRecords/StationJobsConsoleWindow.xaml
  Content.Client/_DEN/StationRecords/StationJobsConsoleWindow.xaml.cs
  Content.Server/_DEN/StationRecords/StationJobsConsoleComponent.cs
  Content.Server/_DEN/StationRecords/StationJobsConsoleSystem.cs
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/_DEN/StationRecords/StationJobsConsoleUI.cs
  Resources/Prototypes/_DEN/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: C#, Changes: UI

meowfully it looks less shit
  Content.Client/_DEN/StationRecords/StationJobsConsoleJobRow.xaml
  Content.Client/_DEN/StationRecords/StationJobsConsoleJobRow.xaml.cs
  Content.Client/_DEN/StationRecords/StationJobsConsoleWindow.xaml
  Content.Client/_DEN/StationRecords/StationJobsConsoleWindow.xaml.cs
  Content.Server/_DEN/StationRecords/StationJobsConsoleSystem.cs
Labels: Changes: C#, Changes: UI

meowdy is appears everything but a sprite is here!! wowzers!!!
  Content.Client/_DEN/StationRecords/StationJobsConsoleJobRow.xaml.cs
  Content.Client/_DEN/StationRecords/StationJobsConsoleWindow.xaml
  Content.Client/_DEN/StationRecords/StationJobsConsoleWindow.xaml.cs
  Content.Shared/Roles/JobPrototype.cs
  Resources/Locale/en-US/_DEN/machines/computers.ftl
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
  Resources/Prototypes/_DEN/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: C#, Changes: Localization, Changes: UI

i think we're cooking meow
  Content.Client/_DEN/StationRecords/StationJobsConsoleBoundUserInterface.cs
  Content.Client/_DEN/StationRecords/StationJobsConsoleWindow.xaml.cs
  Content.Server/_DEN/StationRecords/StationJobsConsoleSystem.cs
  Resources/Locale/en-US/_DEN/machines/computers.ftl
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_DEN/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/circuit_imprinter.yml
Labels: Changes: C#, Changes: Localization, Changes: UI

Update Content.Client/_DEN/StationRecords/StationJobsConsoleWindow.xaml.cs
  Content.Client/_DEN/StationRecords/StationJobsConsoleWindow.xaml.cs
Labels: Changes: C#, Changes: UI

Update Content.Server/_DEN/StationRecords/StationJobsConsoleComponent.cs
  Content.Server/_DEN/StationRecords/StationJobsConsoleComponent.cs
Labels: Changes: C#

living things glow but not through walls (needs bugfixing)
  Content.Client/Drugs/DrugOverlaySystem.cs
  Content.Client/_DEN/Drugs/MnemolithOverlay.cs
  Content.Client/_DEN/Overlays/SeeingMnemolithHighlightOverlay.cs
  Content.Client/_DEN/Overlays/SeeingMnemolithHighlightSystem.cs
  Content.Shared/_DEN/Overlays/SeeingMnemolithHighlightComponent.cs
  Content.Shared/_DEN/Overlays/SeeingMnemolithHighlightSystem.cs
  Resources/Prototypes/_DEN/Reagents/psionic.yml
  Resources/Prototypes/_DEN/status_effects.yml
Labels: Changes: C#

this actually works now
  Resources/Prototypes/Catalog/Fills/Crates/engineering.yml
Labels: none

fix gasping ratio + remove gasping from two drinks + fix some alcohol percentages
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_Impstation/Recipes/Reactions/drinks.yml
Labels: none

New VASHBox for adult toys only.
  Resources/Prototypes/_DEN/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_DEN/VASH/Entities/Objects/boxes.yml
  Resources/Prototypes/_Floof/Entities/Objects/Lewd/dildos.yml
  Resources/Prototypes/_Floof/Entities/Objects/Lewd/fleshlights.yml
  Resources/Prototypes/_Floof/Entities/Objects/Lewd/vibes.yml
  Resources/Prototypes/_Floof/Entities/Objects/Lewd/whips.yml
  Resources/Prototypes/_Floof/Loadouts/itemsLewd.yml
  Resources/Prototypes/tags.yml
Labels: none

undo ethanol% changes
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/alcohol.yml
Labels: none

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

Glacier Day One patches and Manta Sauna Fix
  Resources/Maps/TheDen/glacier.yml
  Resources/Maps/TheDen/manta.yml
Labels: Changes: Map

work resumes soon juggling stuff
  Content.Shared/_DEN/Overlays/SeeingMnemolithHighlightComponent.cs
Labels: Changes: C#

please just commit all staged
  Content.Client/Drugs/DrugOverlaySystem.cs
Labels: Changes: C#

add lemon juice
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/unlockedboozeomat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_Wizden/Entities/Objects/Consumable/Drinks/drinks-cartons.yml
  Resources/Textures/_Wizden/Objects/Consumable/Drinks/lemonjuice.rsi/icon.png
  Resources/Textures/_Wizden/Objects/Consumable/Drinks/lemonjuice.rsi/icon_open.png
  Resources/Textures/_Wizden/Objects/Consumable/Drinks/lemonjuice.rsi/inhand-left.png
  Resources/Textures/_Wizden/Objects/Consumable/Drinks/lemonjuice.rsi/inhand-right.png
  Resources/Textures/_Wizden/Objects/Consumable/Drinks/lemonjuice.rsi/meta.json
Labels: Changes: Sprite

spdx
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/unlockedboozeomat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
Labels: none

add trapper hats to loadouts and winterdrobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Prototypes/CharacterItemGroups/Generic/headGroup.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/head.yml
Labels: none

increase clothing restock to 2400 spesos
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
Labels: none

fixing plasmamen and skeleton emotes + adding rattle
  Resources/Locale/en-US/_DEN/chat/emotes.ftl
  Resources/Locale/en-US/_DEN/chat/ui/emotes.ftl
  Resources/Prototypes/Entities/Mobs/Species/plasmaman.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DEN/Voice/speech_emotes.yml
  Resources/Prototypes/_DEN/tags.yml
Labels: Changes: Localization
