Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

testchange
  Resources/Locale/en-US/_DEN/markings/reptilianandvulpkanin.ftl
Labels: Changes: Localization

undo that thats so fucking dumb
  Resources/Locale/en-US/_DEN/markings/reptilianandvulpkanin.ftl
Labels: Changes: Localization

give the admins a modsuit and bluespace implanter
  Resources/Prototypes/Roles/Jobs/Command/centcom_official.yml
Labels: none

Update lighthouse.yml
  Resources/Maps/TheDen/lighthouse.yml
Labels: Changes: Map

Update lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Changes: Map

changed an 8 to a 6
  Resources/Prototypes/Traits/physical.yml
Labels: none

Update lighthouse.yml
  Resources/Maps/TheDen/lighthouse.yml
Labels: Changes: Map

Arena Long Awaited Fixes
  Resources/Maps/TheDen/arena.yml
Labels: Changes: Map

Rodentia can growl now I guess???
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/_DV/voice/speech_emote_sounds.yml
Labels: none

these things should not be 6 points for crowbars
  Resources/Prototypes/Traits/physical.yml
Labels: none

thanks VS, real nice merge tool you got there, cunt
  Resources/Prototypes/_DV/Entities/Mobs/Species/rodentia.yml
Labels: none

helmets
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Textures/_DEN/Clothing/Head/Helmets/atmos_firehelmet.rsi/icon-flash.png
  Resources/Textures/_DEN/Clothing/Head/Helmets/atmos_firehelmet.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Helmets/atmos_firehelmet.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Head/Helmets/atmos_firehelmet.rsi/off-equipped-HELMET-feroxi.png
  Resources/Textures/_DEN/Clothing/Head/Helmets/atmos_firehelmet.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/_DEN/Clothing/Head/Helmets/atmos_firehelmet.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/_DEN/Clothing/Head/Helmets/atmos_firehelmet.rsi/off-equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Helmets/atmos_firehelmet.rsi/off-inhand-left.png
  Resources/Textures/_DEN/Clothing/Head/Helmets/atmos_firehelmet.rsi/off-inhand-right.png
  Resources/Textures/_DEN/Clothing/Head/Helmets/atmos_firehelmet.rsi/on-equipped-HELMET-feroxi.png
  Resources/Textures/_DEN/Clothing/Head/Helmets/atmos_firehelmet.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/_DEN/Clothing/Head/Helmets/atmos_firehelmet.rsi/on-equipped-HELMET-vulpkanin - copia.png
  Resources/Textures/_DEN/Clothing/Head/Helmets/atmos_firehelmet.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/_DEN/Clothing/Head/Helmets/atmos_firehelmet.rsi/on-equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Helmets/atmos_firehelmet.rsi/on-inhand-left.png
  Resources/Textures/_DEN/Clothing/Head/Helmets/atmos_firehelmet.rsi/on-inhand-right.png
Labels: Changes: Sprite

Nerf Laika Melee
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/animals.yml
Labels: none

Give Laika Temperature Insulation
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/animals.yml
Labels: none

Literally get rid of this.
  Resources/Textures/Interface/Alerts/mood.rsi/meta.json
  Resources/Textures/Interface/Alerts/mood.rsi/mood1.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood_insane.png
Labels: Changes: Sprite

it just works
  Content.Shared/Overlays/ShowHealthBarsComponent.cs
Labels: Changes: C#

the bahr and service banners!
  Resources/Locale/en-US/_DEN/barsign/barsign-component.ftl
  Resources/Prototypes/_DEN/Entities/Structures/Decoration/banners.yml
  Resources/Prototypes/_DEN/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/Prototypes/bar_signs.yml
  Resources/Textures/_DEN/Structures/Decoration/banner.rsi/banner_service.png
  Resources/Textures/_DEN/Structures/Decoration/banner.rsi/meta.json
  Resources/Textures/_DEN/Structures/Wallmounts/barsign.rsi/meta.json
  Resources/Textures/_DEN/Structures/Wallmounts/barsign.rsi/thebahr.png
Labels: Changes: Localization, Changes: Sprite

added the bottle of cum to the Loadout system.
  Resources/Locale/en-US/loadouts/lewd.ftl
  Resources/Prototypes/Loadouts/Jobs/Service/bartender.yml
  Resources/Prototypes/_Floof/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
Labels: Changes: Localization

Fixed Operating Tables not Showing Modes on other clients
  Content.Shared/Item/ItemToggle/ComponentTogglerSystem.cs
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/advanced_operating_table.yml
Labels: Changes: C#

Fax logging
  Content.Server/Fax/FaxSystem.cs
  Content.Server/_DEN/Fax/FaxLoggingSystem.cs
  Content.Shared/CCVar/CCVars.Den.cs
  Content.Shared/_DEN/Fax/FaxSentEvent.cs
Labels: Changes: C#

quickfix
  Content.Server/_DEN/Fax/FaxLoggingSystem.cs
Labels: Changes: C#

silly
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/magistrate.yml
Labels: none

Fix indentation
  Content.Shared/Item/ItemToggle/ComponentTogglerSystem.cs
Labels: Changes: C#

move some traits to "species" category
  Resources/Locale/en-US/traits/categories.ftl
  Resources/Prototypes/Traits/categories.yml
  Resources/Prototypes/Traits/neutral.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/Traits/skills.yml
  Resources/Prototypes/Traits/species.yml
  Resources/Prototypes/_DEN/Traits/species.yml
Labels: Changes: Localization

order trait categories by ID and not localized name
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: C#, Changes: UI

admin chat relay is only sent to admins
  Content.Server/Chat/Managers/ChatManager.cs
Labels: Changes: C#

remove markdown
  Content.Server/_DEN/Fax/FaxLoggingSystem.cs
Labels: Changes: C#

move languages and skeleton accent into species cateogry
  Resources/Prototypes/Traits/neutral.yml
  Resources/Prototypes/_EE/Traits/languages.yml
Labels: none

all admins option
  Content.Server/Chat/Managers/ChatManager.cs
Labels: Changes: C#

oops
  Content.Server/Chat/Managers/ChatManager.cs
Labels: Changes: C#

dorkass
  Content.Server/Chat/Managers/ChatManager.cs
Labels: Changes: C#

!
  Content.Server/Chat/Managers/ChatManager.cs
Labels: Changes: C#

Wrapped Scarf
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/neckGroup.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/neck.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Neck/scarfs.yml
  Resources/Textures/_Impstation/Clothing/Neck/Scarfs/wrappedscarfwhite.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/Neck/Scarfs/wrappedscarfwhite.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Neck/Scarfs/wrappedscarfwhite.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Neck/Scarfs/wrappedscarfwhite.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Neck/Scarfs/wrappedscarfwhite.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Remove Romerol from the Oracle spawn
  Resources/Prototypes/Reagents/toxins.yml
Labels: none

Thaven Gloomy Hair + Bomber Sprite
  Resources/Locale/en-US/_DEN/markings/thaven.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/thaven.yml
  Resources/Textures/_DEN/Mobs/Customization/Thaven/hair.rsi/hair_gloomy_long.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/hair.rsi/hair_gloomy_longer.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/hair.rsi/hair_gloomy_medium.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/hair.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_white.rsi/equipped-OUTERCLOTHING-thaven.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_white.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_white.rsi/open-equipped-OUTERCLOTHING-thaven.png
Labels: Changes: Localization, Changes: Sprite

fixy
  Resources/Textures/_DEN/Mobs/Customization/Thaven/hair.rsi/hair_gloomy_long.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/hair.rsi/hair_gloomy_longer.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/hair.rsi/hair_gloomy_medium.png
Labels: Changes: Sprite

woof bark
  Content.Server/_DEN/Discord/DiscordLink/InGameCommands.cs
Labels: Changes: C#

a
  Content.Server/_DEN/Discord/DiscordLink/InGameCommands.cs
Labels: Changes: C#

Thaven Arm Improvement
  Resources/Locale/en-US/_DEN/markings/thaven.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/thaven.yml
  Resources/Prototypes/_Impstation/Body/Parts/thaven.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
  Resources/Prototypes/_Impstation/Species/thaven.yml
  Resources/Textures/_DEN/Mobs/Customization/Thaven/chest.rsi/bitemark_f.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/hair.rsi/floorlengthbedhead_f.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/larm.rsi/arm_l_prosthetic.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/larm.rsi/arm_l_twisting.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/larm.rsi/l_arm_doll.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/larm.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Thaven/rarm.rsi/arm_r_prosthetic.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/rarm.rsi/arm_r_twisting.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/rarm.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Thaven/rarm.rsi/r_arm_doll.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/tail.rsi/eel2_f.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/undershirt.rsi/nanotrasen_f.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/undershirt.rsi/rolledundershirt_f.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/undershirt.rsi/undershirt_f.png
  Resources/Textures/_DEN/Mobs/Species/Thaven/parts.rsi/full.png
  Resources/Textures/_DEN/Mobs/Species/Thaven/parts.rsi/l_arm.png
  Resources/Textures/_DEN/Mobs/Species/Thaven/parts.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Species/Thaven/parts.rsi/r_arm.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/chest.rsi/bitemark.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/burqa.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/classicfloorlengthbedhead.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/dyedlong1.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/longbedhead2.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/longbundled.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/niqab.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/larm.rsi/tiger.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/rarm.rsi/tiger.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/tail.rsi/eel2.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/undergarmenttop.rsi/nanotrasen.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/undergarmenttop.rsi/rolledundershirt.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/undergarmenttop.rsi/undershirt.png
Labels: Changes: Localization, Changes: Sprite

Added a new ship for the ERT by @blahaj_the_shonk and an event mape for @karallieyt
  Resources/Maps/Shuttles/TheDen/NTRF_Retractor.yml
  Resources/Maps/_DEN/Nonstations/hydro.yml
Labels: Changes: Map

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
