Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

Colorable MRE Flask (#2557)
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Textures/Objects/Consumable/Drinks/mreflask.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/mreflask.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/mreflask.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/mreflask.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/mreflask.rsi/meta.json
Labels: Changes: Sprite

Automated changelog update (#2567)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: [Bounty] Waterfalls!
  Resources/Audio/_DEN/Effects/Fluids/attributions.yml
  Resources/Prototypes/_DEN/Entities/Tiles/water.yml
Labels: none

Automated changelog update (#2557)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Add Whispering to AAC Tablets
  Content.Client/_starcup/AACTablet/UI/AACWindow.xaml.cs
  Content.Server/_DV/AACTablet/AACTabletSystem.cs
Labels: Changes: C#, Changes: UI

update REUSE headers from: Colorable MRE Flask
  Resources/Prototypes/Loadouts/Generic/items.yml
Labels: none

Steel Derringer + Giftboxes (#2528)
  Resources/Locale/en-US/_DEN/prototypes/catalog/cargo/cargo-armory.ftl
  Resources/Locale/en-US/_DEN/prototypes/catalog/fills/crates/armory-crates.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/_DEN/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_DEN/Catalog/Fills/Crates/weapons.yml
  Resources/Prototypes/_DEN/Entities/Objects/Storage/fancy_box.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Textures/_DEN/Objects/Storage/fancy_box.rsi/icon.png
  Resources/Textures/_DEN/Objects/Storage/fancy_box.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Guns/Pistols/derringer.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Pistols/derringer.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Automated changelog update (#2528)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Steel Derringer + Giftboxes
  Resources/Locale/en-US/_DEN/prototypes/catalog/cargo/cargo-armory.ftl
  Resources/Locale/en-US/_DEN/prototypes/catalog/fills/crates/armory-crates.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/_DEN/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_DEN/Catalog/Fills/Crates/weapons.yml
  Resources/Prototypes/_DEN/Entities/Objects/Storage/fancy_box.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
Labels: Changes: Localization

Fixies
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

[BOUNTY] Additional Insectoid Emote Sounds (#2481)
  Resources/Audio/_DEN/Voice/Moth/Emotes/attributions.yml
  Resources/Audio/_DEN/Voice/Moth/Emotes/insectoid_buzz_1.ogg
  Resources/Audio/_DEN/Voice/Moth/Emotes/insectoid_buzz_2.ogg
  Resources/Audio/_DEN/Voice/Moth/Emotes/insectoid_buzz_3.ogg
  Resources/Audio/_DEN/Voice/Moth/Emotes/insectoid_wing_flutter_1.ogg
  Resources/Audio/_DEN/Voice/Moth/Emotes/insectoid_wing_flutter_2.ogg
  Resources/Audio/_DEN/Voice/Moth/Emotes/insectoid_wing_flutter_3.ogg
  Resources/Audio/_DEN/Voice/Moth/Emotes/insectoid_wing_flutter_4.ogg
  Resources/Audio/_DEN/Voice/Moth/Emotes/insectoid_wing_flutter_5.ogg
  Resources/Locale/en-US/_DEN/chat/emotes.ftl
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DEN/SoundCollections/insectoid.yml
  Resources/Prototypes/_DEN/Voice/speech_emotes.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/chitinid.yml
  Resources/Prototypes/_DV/tags.yml
  Resources/Prototypes/_DV/voice/speech_emote_sounds.yml
Labels: Changes: Audio, Changes: Localization

Automated changelog update (#2481)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: [BOUNTY] Additional Insectoid Emote Sounds
  Resources/Audio/_DEN/Voice/Moth/Emotes/attributions.yml
  Resources/Prototypes/_DEN/SoundCollections/insectoid.yml
Labels: none

Added tajarans to valid species
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/underwear.yml
Labels: none

Add a Bunch of Missing Shit to the Servicefab (#2565)
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/service_techfab.yml
Labels: none

Automated changelog update (#2565)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Add a Bunch of Missing Shit to the Servicefab
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/service_techfab.yml
Labels: none

Replace Swabs in Nutrimax Inventory with Swab Box (#2564)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
Labels: none

Automated changelog update (#2564)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Replace Swabs in Nutrimax Inventory with Swab Box
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
Labels: none

Edge Fixes v Small (#2568)
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

update REUSE headers from: Edge Fixes v Small
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

Floof Underwear & Undershirt Markings for Tajarans (#2569)
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/underwear.yml
Labels: none

update REUSE headers from: Floof Underwear & Undershirt Markings for Tajarans
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/underwear.yml
Labels: none

asdf
  Resources/Textures/_SHA/Objects/Storage/boxmantis.rsi/1-closed.png
  Resources/Textures/_SHA/Objects/Storage/boxmantis.rsi/1-open.png
  Resources/Textures/_SHA/Objects/Storage/boxmantis.rsi/2-closed.png
  Resources/Textures/_SHA/Objects/Storage/boxmantis.rsi/2-open.png
  Resources/Textures/_SHA/Objects/Storage/boxmantis.rsi/3-closed.png
  Resources/Textures/_SHA/Objects/Storage/boxmantis.rsi/3-open.png
  Resources/Textures/_SHA/Objects/Storage/boxmantis.rsi/4-closed.png
  Resources/Textures/_SHA/Objects/Storage/boxmantis.rsi/4-open.png
  Resources/Textures/_SHA/Objects/Storage/boxmantis.rsi/inhand-left.png
  Resources/Textures/_SHA/Objects/Storage/boxmantis.rsi/inhand-right.png
  Resources/Textures/_SHA/Objects/Storage/boxmantis.rsi/label-candles.png
  Resources/Textures/_SHA/Objects/Storage/boxmantis.rsi/label-eye.png
  Resources/Textures/_SHA/Objects/Storage/boxmantis.rsi/label-pistol.png
  Resources/Textures/_SHA/Objects/Storage/boxmantis.rsi/label-psi.png
  Resources/Textures/_SHA/Objects/Storage/boxmantis.rsi/label-restraints.png
  Resources/Textures/_SHA/Objects/Storage/boxmantis.rsi/label-revolver.png
  Resources/Textures/_SHA/Objects/Storage/boxmantis.rsi/label-shotgun.png
  Resources/Textures/_SHA/Objects/Storage/boxmantis.rsi/label-smg.png
  Resources/Textures/_SHA/Objects/Storage/boxmantis.rsi/label-smiley.png
  Resources/Textures/_SHA/Objects/Storage/boxmantis.rsi/meta.json
Labels: Changes: Sprite

structural + whoosh
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
Labels: none

structural + whoosh
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
Labels: none

no whoosh for faust since it plays when stun-dropped
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
Labels: none

[TWEAK]: Rebalance the Replicator Defender a Little (#2530)
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-loadout.yml
Labels: none

More Energy Weapon Sound Stuff (#2559)
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/attributions.yml
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/pulse_pistol_1.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/pulse_pistol_10.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/pulse_pistol_11.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/pulse_pistol_12.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/pulse_pistol_2.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/pulse_pistol_3.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/pulse_pistol_4.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/pulse_pistol_5.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/pulse_pistol_6.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/pulse_pistol_7.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/pulse_pistol_8.ogg
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/PulsePistol/pulse_pistol_9.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_DEN/SoundCollections/Weapons/Gunshots/energy.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: Audio

[Resprite] New Dildos! (#2555)
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Lewd/dildos.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/lewd.yml
  Resources/Prototypes/_Floof/CharacterItemGroups/funGroup.yml
  Resources/Prototypes/_Floof/Entities/Objects/Lewd/dildos.yml
  Resources/Prototypes/_Floof/Loadouts/itemsLewd.yml
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/dildo-avian.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/dildo-canine.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/dildo-double.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/dildo-dragon.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/dildo-equine.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/dildo-humanoid.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/dildo-smooth.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/dildo-tentacle.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/dildos.rsi/meta.json
Labels: Changes: Sprite

Automated changelog update (#2530)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: [TWEAK]: Rebalance the Replicator Defender a Little
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-loadout.yml
Labels: none

Automated changelog update (#2555)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: [Resprite] New Dildos!
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Lewd/dildos.yml
  Resources/Prototypes/_Floof/CharacterItemGroups/funGroup.yml
Labels: none

[BOUNTY] Added New Thaven Drink, Kindness (#2554)
  Resources/Locale/en-US/_DEN/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_DEN/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_DEN/Flavors/flavors.yml
  Resources/Prototypes/_DEN/Mood/genericPositiveEffects.yml
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_DEN/Recipes/Reactions/drinks.yml
  Resources/Textures/_DEN/Objects/Consumable/Drinks/kindness.rsi/fill-1.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/kindness.rsi/fill-2.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/kindness.rsi/fill-3.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/kindness.rsi/icon.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/kindness.rsi/icon_empty.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/kindness.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Automated changelog update (#2554)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: [BOUNTY] Added New Thaven Drink, Kindness
  Resources/Locale/en-US/_DEN/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_DEN/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_DEN/Flavors/flavors.yml
  Resources/Prototypes/_DEN/Mood/genericPositiveEffects.yml
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_DEN/Recipes/Reactions/drinks.yml
Labels: Changes: Localization

Automated changelog update (#2547)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Mantis Gear Polish
  Resources/Locale/en-US/_DEN/foldable/components/foldable-component.ftl
  Resources/Locale/en-US/_DEN/items/toggle.ftl
  Resources/Locale/en-US/guidebook/psionics.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/psionicMantis.yml
  Resources/Prototypes/Entities/Structures/Doors/airlock_groups.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/units.yml
  Resources/Prototypes/Guidebook/science.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Neck/misc.yml
Labels: Changes: Localization
