Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

linter again
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: none

initial commit
  Resources/Prototypes/_DEN/Entities/Clothing/Masks/masks.yml
  Resources/Textures/_DEN/Clothing/Mask/kitsune_mask.rsi/equipped-MASK-chitinid.png
  Resources/Textures/_DEN/Clothing/Mask/kitsune_mask.rsi/equipped-MASK-feroxi.png
  Resources/Textures/_DEN/Clothing/Mask/kitsune_mask.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_DEN/Clothing/Mask/kitsune_mask.rsi/equipped-MASK-resomi.png
  Resources/Textures/_DEN/Clothing/Mask/kitsune_mask.rsi/equipped-MASK-shadowkin.png
  Resources/Textures/_DEN/Clothing/Mask/kitsune_mask.rsi/equipped-MASK-tajaran.png
  Resources/Textures/_DEN/Clothing/Mask/kitsune_mask.rsi/equipped-MASK-vox.png
  Resources/Textures/_DEN/Clothing/Mask/kitsune_mask.rsi/equipped-MASK-vulpakin.png
  Resources/Textures/_DEN/Clothing/Mask/kitsune_mask.rsi/equipped-MASK.png
  Resources/Textures/_DEN/Clothing/Mask/kitsune_mask.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Mask/kitsune_mask.rsi/meta.json
Labels: Changes: Sprite

test fails
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/security_techfab.yml
Labels: none

make obtainable
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/mask.yml
Labels: none

it works because i hit "save changes"
  Content.Server/Body/Components/RespiratorComponent.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
Labels: Changes: C#

fix rsi validator
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/meta.json
Labels: Changes: Sprite

Headcage Sprite Adjustments
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/cage.rsi/equipped-HELMET.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/cage.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/cage.rsi/meta.json
Labels: Changes: Sprite

Mantis Grammar Correction
  Resources/Maps/TheDen/asterisk.yml
  Resources/Maps/TheDen/baikal.yml
  Resources/Maps/TheDen/box.yml
  Resources/Maps/TheDen/edge.yml
  Resources/Maps/TheDen/glacier.yml
  Resources/Maps/TheDen/lighthouse.yml
  Resources/Maps/TheDen/shoukou.yml
  Resources/Prototypes/Entities/Clothing/Head/envirohelms.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/envirosuits.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_Floof/Entities/Clothing/departmental_clothes.yml
Labels: Changes: Map

reduce soulbreaker toxin in shells
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Projectiles/shotgun.yml
Labels: none

fix cats not having emotes
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_DEN/SoundCollections/Shadowkin/screams.yml
  Resources/Prototypes/_DEN/SoundCollections/arachne.yml
  Resources/Prototypes/_DEN/SoundCollections/shadowkin.yml
  Resources/Prototypes/_DEN/Voice/speech_emote_sounds.yml
Labels: none

fixtm
  Resources/Prototypes/_DEN/SoundCollections/arachne.yml
  Resources/Prototypes/_DEN/Voice/speech_emote_sounds.yml
Labels: none

fix
  Resources/Prototypes/_DEN/Voice/speech_emote_sounds.yml
Labels: none

fix again
  Resources/Prototypes/_DEN/Voice/speech_emote_sounds.yml
Labels: none

fixed gasping issue
  Resources/Prototypes/Nyanotrasen/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DEN/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DV/voice/speech_emote_sounds.yml
  Resources/Prototypes/_Floof/Voice/avali_emote_sounds.yml
  Resources/Prototypes/_Impstation/Voice/thaven.yml
Labels: none

fixed mice....?
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: none

added a singular S
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: none

fix again trust
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/nukiemouse.yml
Labels: none

Added estradiol and testostorone bottles and estradiol pill bottles, added to general loadout, added syringe to general loadout
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Medical/pills.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
Labels: none

Lowered pill count to 4, changed bottles to disposable syringes for better balance and stuff. Left bottle prototypes in for mappers and other cases
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Medical/pills.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
Labels: none

Allows cryptobiolin to accumulate psionic insulation duration. Adjusts duration so that 15u equals 25 minutes of insulation, matching the maximum standard brig time.
  Resources/Prototypes/Reagents/medicine.yml
Labels: none

not sure why this exists
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/icon_on.png
Labels: Changes: Sprite

why did I do this
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/meta.json
Labels: Changes: Sprite

mailbag fixes
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/tools.yml
Labels: none

holy fuck
  Content.Client/Damage/Systems/StaminaSystem.cs
  Content.Shared/Damage/Systems/SharedStaminaSystem.cs
Labels: Changes: C#

soft stun isn't really relevant for us I feel
  Content.Shared/Damage/Systems/SharedStaminaSystem.cs
Labels: Changes: C#

remove my own bad code
  Content.Shared/Damage/Systems/SharedStaminaSystem.cs
Labels: Changes: C#

Removed invisible character causing an error
  Resources/Prototypes/_Impstation/Voice/thaven.yml
Labels: none

Fixed the kinetic claw so it's now functional and fixed the kinetic machete so its block function works.
  Content.Shared/_Lavaland/Weapons/Block/SharedBlockChargeSystem.cs
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/crushers.yml
Labels: Changes: C#

Adding some lavaland essentials to LO's locker
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: none

Add heat distortion shader for hot gases (#39107)
  Content.Client/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Client/Atmos/Overlays/GasTileHeatOverlay.cs
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Shared/Atmos/EntitySystems/SharedGasTileOverlaySystem.cs
  Content.Shared/CCVar/CCVars.Net.cs
  Resources/Prototypes/Shaders/shaders.yml
  Resources/Textures/Shaders/heat.swsl
Labels: Changes: C#

Revert "Make Translator Drain 0 Until They Are Fixed (#1494)"
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
Labels: none

Apply wattage changes ala #1493 to translators
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
Labels: none

swapped to make a BaseScrapSmall
  Resources/Prototypes/Entities/Objects/Materials/scrap.yml
Labels: none

fix command flask and water bottle being 'eaten' by dispensers
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
Labels: none

Add in-game date to the PDA (#4277)
  Content.Client/PDA/PdaMenu.xaml
  Content.Client/PDA/PdaMenu.xaml.cs
  Content.Server/PDA/PdaSystem.cs
  Content.Shared/PDA/PdaComponent.cs
  Content.Shared/PDA/PdaUpdateState.cs
  Content.Shared/_DV/CCVars/DCCVars.cs
  Resources/Locale/en-US/_DV/pda/pda-component.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

a
  Content.Server/PDA/PdaSystem.cs
Labels: Changes: C#

a
  Content.Server/PDA/PdaSystem.cs
Labels: Changes: C#

reparented shit
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks-cartons.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drink_containers.yml
  Resources/Prototypes/_DEN/VASH/Entities/Objects/sexlube.yml
Labels: none

Fix thaven AGAIN
  Resources/Prototypes/_Impstation/Voice/thaven.yml
Labels: none

removed duplicate header
  Resources/Prototypes/_Impstation/Voice/thaven.yml
Labels: none

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
