Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

Retractor tweak at blahaj request
  Resources/Maps/Shuttles/TheDen/NTRF_Retractor.yml
Labels: Changes: Map

silly me.
  Content.Shared/Chat/ChatChannel.cs
Labels: Changes: C#

a
  Content.Server/Discord/DiscordLink/DiscordChatLink.cs
Labels: Changes: C#

a
  Content.Server/_DEN/Discord/InGameCommands.cs
Labels: Changes: C#

bleeeh
  Content.Server/_DEN/Discord/InGameCommands.cs
Labels: Changes: C#

does not disable relay
  Content.Shared/CCVar/CCVars.Chat.Ooc.cs
Labels: Changes: C#

a
  Content.Server/Discord/DiscordLink/DiscordChatLink.cs
Labels: Changes: C#

base verification
  Content.Server/Discord/DiscordLink/DiscordLink.cs
  Content.Server/_DEN/Discord/DiscordUserLink.Game.cs
  Content.Server/_DEN/Discord/DiscordUserLink.cs
Labels: Changes: C#

database, impl
  Content.Server.Database/Model.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Server/_DEN/Discord/DiscordUserLink.Game.cs
  Content.Server/_DEN/Discord/DiscordUserLink.Helpers.cs
  Content.Server/_DEN/Discord/DiscordUserLink.cs
Labels: Changes: C#

migration
  Content.Server.Database/Migrations/Postgres/20250822222401_DiscordGameLink.Designer.cs
  Content.Server.Database/Migrations/Postgres/20250822222401_DiscordGameLink.cs
  Content.Server.Database/Migrations/Postgres/PostgresServerDbContextModelSnapshot.cs
  Content.Server.Database/Migrations/Sqlite/20250822222346_DiscordGameLink.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20250822222346_DiscordGameLink.cs
Labels: Changes: C#

fixed detective, changed skirt to turtleskirt
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: none

YIPPEE
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Server/Discord/DiscordLink/DiscordLink.cs
  Content.Server/_DEN/Discord/DiscordUserLink.Game.cs
  Content.Server/_DEN/Discord/DiscordUserLink.Helpers.cs
  Content.Server/_DEN/Discord/DiscordUserLink.cs
Labels: Changes: C#

added detective's beret, changed senior turtleneck
  Resources/Prototypes/_DV/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/_DV/Clothing/Head/Hats/beret_det.rsi/equipped-HELMET.png
  Resources/Textures/_DV/Clothing/Head/Hats/beret_det.rsi/icon.png
  Resources/Textures/_DV/Clothing/Head/Hats/beret_det.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Head/Hats/beret_det.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Head/Hats/beret_det.rsi/meta.json
Labels: Changes: Sprite

fix test fail
  Content.Server/_DEN/Discord/DiscordUserLink.Helpers.cs
Labels: Changes: C#

oops
  Content.Server/Discord/DiscordLink/DiscordLink.cs
  Content.Server/_DEN/Discord/DiscordUserLink.Helpers.cs
Labels: Changes: C#

meow
  Content.Server/_DEN/Discord/DiscordUserLink.Game.cs
Labels: Changes: C#

!
  Content.Server/_DEN/Discord/DiscordUserLink.Game.cs
Labels: Changes: C#

FINAL FIXES RAAAGGHHH
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: Map

add the accents
  Resources/Locale/en-US/_Impstation/traits/speech.ftl
  Resources/Locale/en-US/accent/nocontractions.ftl
  Resources/Prototypes/Accents/nocontractions_replacements.yml
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
  Resources/Prototypes/_Impstation/Traits/neutral.yml
Labels: Changes: Localization

migrate to imp namespace
  Content.Server/_Impstation/Drone/DroneComponent.cs
  Content.Server/_Impstation/Drone/DroneSystem.cs
  Content.Server/_Impstation/Speech/Components/NoContractionsAccentComponent.cs
  Content.Server/_Impstation/Speech/Components/ProperCapitalizationComponent.cs
  Content.Server/_Impstation/Speech/Components/ProperPunctuationComponent.cs
  Content.Server/_Impstation/Speech/Components/StiltedSpeechComponent.cs
  Content.Server/_Impstation/Speech/EntitySystems/NoContractionsAccentSystem.cs
  Content.Server/_Impstation/Speech/EntitySystems/ProperCapitalizationSystem.cs
  Content.Server/_Impstation/Speech/EntitySystems/ProperPunctuationSystem.cs
  Content.Server/_Impstation/Speech/EntitySystems/StiltedSpeechSystem.cs
  Resources/Locale/en-US/_Impstation/traits/speech.ftl
  Resources/Prototypes/_Impstation/Accents/nocontractions_replacements.yml
Labels: Changes: C#, Changes: Localization

removed accidental asprite left over, removed extra junk i forgot, fixed the firelock cause i also forgot.
  Resources/Textures/_DEN/Structures/Doors/Airlocks/Glass/glass.rsi/closing-panel.png
  Resources/Textures/_DEN/Structures/Doors/Airlocks/Standard/firelock.rsi/frame1.png
  Resources/Textures/_DEN/Structures/Doors/Airlocks/Standard/firelock.rsi/frame2.png
  Resources/Textures/_DEN/Structures/Doors/Airlocks/Standard/firelock.rsi/frame3.png
  Resources/Textures/_DEN/Structures/Doors/Airlocks/Standard/firelock.rsi/frame4.png
  Resources/Textures/_DEN/Structures/Doors/Airlocks/Standard/firelock.rsi/frame5.png
  Resources/Textures/_DEN/Structures/Doors/Airlocks/Standard/firelock.rsi/frame6.png
  Resources/Textures/_DEN/Structures/Doors/Airlocks/highsec/highsec.rsi/hisec.aseprite
Labels: Changes: Sprite

start position correction.
  Content.Server/_DEN/Fax/FaxLoggingSystem.cs
Labels: Changes: C#

added to loadout
  Resources/Prototypes/Loadouts/Jobs/Security/corpsman.yml
  Resources/Prototypes/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Loadouts/Jobs/Security/prisonGuard.yml
  Resources/Prototypes/Loadouts/Jobs/Security/seniorOfficer.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/warden.yml
Labels: none

ough her hair
  Resources/Locale/en-US/_DEN/accessories/hair.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/hair.yml
  Resources/Textures/_DEN/Mobs/Customization/Hair/mera.rsi/hair_mera.png
  Resources/Textures/_DEN/Mobs/Customization/Hair/mera.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

fix admin only
  Content.Server/Administration/Systems/BwoinkSystem.cs
Labels: Changes: C#

idk
  Content.Server/Discord/DiscordLink/DiscordLink.cs
  Content.Server/_DEN/Discord/DiscordUserLink.Game.cs
Labels: Changes: C#

a
  Content.Server/Discord/DiscordLink/DiscordLink.cs
Labels: Changes: C#

a
  Content.Server/Discord/DiscordLink/DiscordLink.cs
Labels: Changes: C#

moved shit around
  Resources/Prototypes/Loadouts/Jobs/Security/corpsman.yml
  Resources/Prototypes/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/warden.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/corpsman.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/prisonGuard.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/seniorOfficer.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/warden.yml
Labels: none

fuck you teal dummy thaven get out of that sprite
  Resources/Textures/Clothing/Uniforms/Jumpskirt/skirt_pencil_gym_bra.rsi/equipped-INNERCLOTHING-thaven.png
Labels: Changes: Sprite

i didn't change you calm down
  Resources/Textures/Clothing/Uniforms/Jumpskirt/asymmetric_dress.rsi/equipped-INNERCLOTHING.png
Labels: Changes: Sprite

DIE DIE DIE DIE
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
Labels: none

fixed minor mistake i told myself not to make. Thank you tests
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
Labels: none

Fix retractor invalids
  Resources/Maps/Shuttles/TheDen/NTRF_Retractor.yml
Labels: Changes: Map

Ported muted scream from IMP
  Content.Server/Abilities/Mime/MimePowersSystem.cs
  Content.Server/Speech/Muting/MutingSystem.cs
  Content.Shared/Speech/Muting/MutedComponent.cs
  Resources/Prototypes/Traits/disabilities.yml
Labels: Changes: C#

times changed
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: none

I forgot both the muted traits
  Resources/Prototypes/_DEN/Traits/disabilities.yml
Labels: none

Update Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: none

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

Space Blades (Let it drip!) (#1596)
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/contravend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/cuddlycritter.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/spaceblade.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/spaceblade_boxes.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/fun.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/blade.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/blue.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/check.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/clown.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/contraband.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/eyeball.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/frontier.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/goldblue.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/mail.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/mcblade.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/meta.json
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/moff.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/pizza.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/redorange.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/rune.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/sb_box.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/sb_box_unfolded.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/secblade.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/singularity.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/tesla.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/weh.png
Labels: Changes: Localization, Changes: Sprite

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
