Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

barking
  Content.Shared/_Goobstation/TapeRecorder/Components/TapeRecorderComponent.cs
Labels: Changes: C#

Changed spawning logic to be beacon based instead of vent based
  Content.Server/StationEvents/Components/VentCrittersRuleComponent.cs
  Content.Server/StationEvents/Events/VentCrittersRule.cs
  Resources/Prototypes/_DV/GameRules/events.yml
Labels: Changes: C#

Kind of sort of maybe got the muzzle flashes to work?
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Projectiles/muzzleflashes.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/energy_pulsemagnum.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/energy_pulsemagnum_disabler.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/meta.json
Labels: Changes: Sprite

clean up rule class
  Content.Server/StationEvents/Events/VentCrittersRule.cs
Labels: Changes: C#

Move linq query to stop integration test shitting itself mashallah
  Content.Server/StationEvents/Events/VentCrittersRule.cs
Labels: Changes: C#

Ravager is actually maybe a bit much
  Resources/Prototypes/_DV/GameRules/events.yml
Labels: none

blow it our your ass
  Content.Server/StationEvents/Events/VentCrittersRule.cs
Labels: Changes: C#

More muzzle flash tweaks
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Projectiles/muzzleflashes.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/energy_pulsemagnum_lethal.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/meta.json
Labels: Changes: Sprite

Finalized the Pulse Magnum
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Projectiles/muzzleflashes.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: none

Renamed the BloodlossInCrit component to AdditionalPassiveDamage to better reflect how it functions and what its purpose is.
  Content.Shared/_DEN/AdditionalPassiveDamage/AdditionalPassiveDamageComponent.cs
  Content.Shared/_DEN/AdditionalPassiveDamage/AdditionalPassiveDamageSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
Labels: Changes: C#

review comments
  Content.Server/StationEvents/Events/VentCrittersRule.cs
Labels: Changes: C#

removed unused dependancies
  Content.Server/StationEvents/Events/VentCrittersRule.cs
Labels: Changes: C#

feat: scroll to bottom for chat
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml
  Content.Client/_DEN/custom-controls.ftl
  Content.Client/_Goobstation/UserInterface/Controls/CustomOutputPanel.cs
Labels: Changes: C#, Changes: UI

Un-copypaste wallmount substation prototype to give them a UI (#37047)
  Resources/Prototypes/Entities/Structures/Power/substation.yml
Labels: none

Fix trash bag visuals (#32386)
  Content.Server/Storage/EntitySystems/StorageFillVisualizerSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
Labels: Changes: C#

Better robotics console (#38023)
  Content.Client/Robotics/UI/RoboticsConsoleWindow.xaml.cs
  Content.Server/Robotics/Systems/RoboticsConsoleSystem.cs
  Content.Server/Silicons/Borgs/BorgSystem.Transponder.cs
  Content.Shared/Robotics/Components/RoboticsConsoleComponent.cs
  Content.Shared/Robotics/RoboticsConsoleUi.cs
  Resources/Locale/en-US/research/components/robotics-console.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

Fix robotics console
  Content.Server/Silicons/Borgs/BorgSystem.Transponder.cs
  Resources/Locale/en-US/research/components/robotics-console.ftl
Labels: Changes: C#, Changes: Localization

fix: linter
  Resources/Prototypes/Entities/Structures/Power/substation.yml
Labels: none

Removes asimov from roundstart laws.
  Resources/Migrations/denMigrations.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
Labels: none

standardised salvage lockers
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
Labels: none

spawn tweaks
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_Floof/Entities/Mobs/NPCs/scugcat.yml
  Resources/Prototypes/_Floof/Gamerules/Events.yml
Labels: none

add hats to winterdrobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
Labels: none

add temperature protection for winter hats
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/_DEN/beaniesAbsurd/beanies.yml
Labels: none

up price of barge to 55k
  Resources/Prototypes/_DV/Catalog/Shipyard/civilian.yml
Labels: none

raise clothes restock to 2200
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/_DV/Catalog/Shipyard/civilian.yml
Labels: none

Make safes craftable (#32694)
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/storage/tallbox.yml
  Resources/Prototypes/Recipes/Crafting/tallbox.yml
Labels: none

update contraband parent
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Labels: none

give the warden an access config for new safes
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Labels: none

Gamer Emote Icons (#701)
  Resources/Prototypes/Actions/emotes.yml
  Resources/Textures/_Harmony/Interface/Emotes/attributions.yml
  Resources/Textures/_Harmony/Interface/Emotes/flip.png
  Resources/Textures/_Harmony/Interface/Emotes/jump.png
  Resources/Textures/_Harmony/Interface/Emotes/spin.png
Labels: none

attribute
  Resources/Prototypes/Actions/emotes.yml
Labels: none

Fix blocked UI interaction on unpowered devices (#36319)
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.Held.cs
Labels: Changes: C#

Add utility knife/box cutter (#39567)
  Resources/Audio/Weapons/attributions.yml
  Resources/Audio/Weapons/utilityknifeclose.ogg
  Resources/Audio/Weapons/utilityknifeopen.ogg
  Resources/Prototypes/Catalog/Bounties/bounties.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Recipes/Lathes/cargo.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Weapons/Melee/utility_knife.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/utility_knife.rsi/inhand-left-blade.png
  Resources/Textures/Objects/Weapons/Melee/utility_knife.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/utility_knife.rsi/inhand-right-blade.png
  Resources/Textures/Objects/Weapons/Melee/utility_knife.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/utility_knife.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/utility_knife.rsi/utility_knife_blade.png
  Resources/Textures/Objects/Weapons/Melee/utility_knife.rsi/utility_knife_handle.png
Labels: Changes: Audio, Changes: Sprite

Update dingo.yml
  Resources/Maps/TheDen/dingo.yml
Labels: Changes: Map

Adds utility knife to loadout
  Resources/Prototypes/_DEN/Loadouts/items.yml
Labels: none

give service worker hydroponics, bar, and kitchen access
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
Labels: none

Golden shaker
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_special.yml
  Resources/Prototypes/Loadouts/Jobs/Service/bartender.yml
  Resources/Textures/Objects/Consumable/Drinks/shaker_gold.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/shaker_gold.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/shaker_gold.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/shaker_gold.rsi/meta.json
Labels: Changes: Sprite

Changed lexorin recipe to require vestine again
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: none

add intoxicating blood reagent
  Resources/Locale/en-US/_DEN/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_DEN/reagents/meta/biological.ftl
  Resources/Locale/en-US/_DEN/reagents/meta/physical-desc.ftl
  Resources/Prototypes/_DEN/Flavors/flavors.yml
  Resources/Prototypes/_DEN/Reagents/biological.yml
Labels: Changes: Localization

replace arachne blood with intoxicating blood
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Nyanotrasen/Entities/Body/Parts/spider.yml
Labels: none

dedupe ftl key
  Resources/Locale/en-US/_DEN/flavors/flavor-profiles.ftl
Labels: Changes: Localization

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
