Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

suffixes
  Resources/Prototypes/_DEN/Entities/Structures/Machines/vending_machines.yml
Labels: none

asdf
  Resources/Prototypes/_DEN/Entities/Structures/Machines/vending_machines.yml
Labels: none

Administrative Assistant and Executive Officer Changes (#2657)
  Resources/Locale/en-US/_DEN/roles/alternate/command-alternate.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/admin_assistant.yml
  Resources/Prototypes/Loadouts/Jobs/Command/admin_assistant.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/command.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/adminassistant.yml
  Resources/Prototypes/_DV/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_DV/Roles/Jobs/Command/administrative_assistant.yml
Labels: Changes: Localization

Automated changelog update (#2657)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Administrative Assistant and Executive Officer Changes
  Resources/Locale/en-US/_DEN/roles/alternate/command-alternate.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/admin_assistant.yml
  Resources/Prototypes/Loadouts/Jobs/Command/admin_assistant.yml
  Resources/Prototypes/_DV/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_DV/Roles/Jobs/Command/administrative_assistant.yml
Labels: Changes: Localization

ApplyShaderToEntitySystem and New Shader (#2645)
  Content.Client/Effects/Systems/ApplyShaderToEntitySystem.cs
  Content.Shared/Effects/Components/ApplyShaderToEntityComponent.cs
  Resources/Prototypes/_DEN/Shaders/debug.yml
  Resources/Prototypes/_DEN/Shaders/shaders.yml
  Resources/Textures/_DEN/Shaders/analog_distortion.swsl
Labels: Changes: C#

update REUSE headers from: ApplyShaderToEntitySystem and New Shader
  Content.Client/Effects/Systems/ApplyShaderToEntitySystem.cs
  Content.Shared/Effects/Components/ApplyShaderToEntityComponent.cs
  Resources/Prototypes/_DEN/Shaders/debug.yml
  Resources/Prototypes/_DEN/Shaders/shaders.yml
Labels: Changes: C#

shader fix
  Resources/Textures/_DEN/Shaders/analog_distortion.swsl
Labels: none

ouuuuugh
  Resources/Maps/TheDen/baikal.yml
Labels: Changes: Map

invalids
  Resources/Maps/TheDen/baikal.yml
Labels: Changes: Map

Their Worm Does Not Die, And the Fire Is Not Quenched. (Baikal Update) (#2662)
  Resources/Maps/TheDen/baikal.yml
Labels: Changes: Map

Automated changelog update (#2662)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Their Worm Does Not Die, And the Fire Is Not Quenched. (Baikal Update)
  Resources/Maps/TheDen/baikal.yml
Labels: Changes: Map

Fix climbing through doors and walls.
  Resources/Prototypes/_DEN/Entities/Structures/Holographic/projections.yml
Labels: none

asdf
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/sombersoapdish-inhand-left.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/sombersoapdish-inhand-right.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/soap.rsi/sombersoapdish.png
Labels: Changes: Sprite

kitchen sprite touchups
  Resources/Prototypes/_DEN/Entities/Objects/Misc/candy_bowl.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/utensils.yml
  Resources/Prototypes/_DEN/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Objects/Consumable/Food/plates.rsi/meta.json
  Resources/Textures/_DEN/Objects/Misc/sombercandybowl.rsi/candy_bowl0.png
  Resources/Textures/_DEN/Objects/Misc/sombercandybowl.rsi/candy_bowl1.png
  Resources/Textures/_DEN/Objects/Misc/somberutensils.rsi/fork.png
  Resources/Textures/_DEN/Objects/Misc/somberutensils.rsi/knife.png
  Resources/Textures/_DEN/Objects/Misc/somberutensils.rsi/spoon.png
  Resources/Textures/_DEN/Objects/Storage/lunchbox.rsi/somber-inhand-left.png
  Resources/Textures/_DEN/Objects/Storage/lunchbox.rsi/somber-inhand-right.png
  Resources/Textures/_DEN/Objects/Storage/lunchbox.rsi/somber-open.png
  Resources/Textures/_DEN/Objects/Storage/lunchbox.rsi/somber.png
  Resources/Textures/_DEN/Objects/Tools/somberrollingpin.rsi/equipped-BELT.png
  Resources/Textures/_DEN/Objects/Tools/somberrollingpin.rsi/icon.png
  Resources/Textures/_DEN/Objects/Tools/somberrollingpin.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Tools/somberrollingpin.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/sombercleaver.rsi/butch.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/somberkitchenknife.rsi/icon.png
Labels: Changes: Sprite

polish
  Resources/Prototypes/_DEN/Catalog/VendingMachines/Inventories/dinnerware.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks_special.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/Containers/lunchbox.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/Containers/plate.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/candy_bowl.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/chopsticks.yml
  Resources/Prototypes/_DEN/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombercoupeglass.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombercoupeglass.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Misc/somberskimmer.rsi/skimmer1.png
  Resources/Textures/_DEN/Objects/Misc/somberskimmer.rsi/skimmer2.png
  Resources/Textures/_DEN/Objects/Misc/somberskimmer.rsi/skimmer3.png
  Resources/Textures/_DEN/Objects/Misc/somberskimmer.rsi/skimmer4.png
  Resources/Textures/_DEN/Objects/Misc/somberskimmer.rsi/skimmer5.png
  Resources/Textures/_DEN/Objects/Misc/somberutensils.rsi/knife.png
Labels: Changes: Sprite

curve the cleaver a little
  Resources/Textures/_DEN/Objects/Weapons/Melee/sombercleaver.rsi/butch.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/sombercleaver.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/sombercleaver.rsi/inhand-right.png
Labels: Changes: Sprite

Fix Climbing Through Doors and Walls. (#2663)
  Resources/Prototypes/_DEN/Entities/Structures/Holographic/projections.yml
Labels: none

move powder sprite so it fits on dishes
  Resources/Textures/_DEN/Objects/Materials/materials.rsi/mnemolithpowder.png
Labels: Changes: Sprite

Fix satyr cow print layering
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Ovinia.yml
Labels: none

Marking Expansion (#2580)
  Resources/Prototypes/Entities/Mobs/Customization/Markings/base.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
  Resources/Prototypes/_ADT/Mobs/Customization/custom/Human_tattoos.yml
  Resources/Prototypes/_ADT/Mobs/Customization/demon/demon.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/base.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/eyes.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/kemonomimi_limbs.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/nipplepiercings.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/shadowkinmarks.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/vulpkaninmarks.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/Oni_horns.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/feroxi.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/rodentia.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Prototypes/_EE/Entities/Mobs/Customization/Markings/tajaran.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro_ears.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro_tails.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/tails.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/underwear.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/bodyhair.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/humanoid.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc2.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/scars.yml
Labels: none

Automated changelog update (#2580)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Marking Expansion
  Resources/Prototypes/Entities/Mobs/Customization/Markings/base.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
  Resources/Prototypes/_ADT/Mobs/Customization/demon/demon.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/nipplepiercings.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/feroxi.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Prototypes/_EE/Entities/Mobs/Customization/Markings/tajaran.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro_ears.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro_tails.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/tails.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/underwear.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/bodyhair.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/humanoid.yml
Labels: none

wirefix
  Resources/Maps/TheDen/baikal.yml
Labels: Changes: Map

June Told me to Send It
  Resources/Maps/TheDen/baikal.yml
Labels: Changes: Map

June Told Me to Send It (#2666)
  Resources/Maps/TheDen/baikal.yml
Labels: Changes: Map

update REUSE headers from: June Told Me to Send It
  Resources/Maps/TheDen/baikal.yml
Labels: Changes: Map

yay
  Resources/Prototypes/_DEN/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/_DEN/Catalog/VendingMachines/Inventories/dinnerware.yml
  Resources/Prototypes/_DEN/Decals/somber_tile_overlay.yml
  Resources/Prototypes/_DEN/Entities/Structures/Walls/somber.yml
  Resources/Textures/_DEN/Decals/somber_tile_overlay.rsi/dirt.png
  Resources/Textures/_DEN/Decals/somber_tile_overlay.rsi/grass.png
  Resources/Textures/_DEN/Decals/somber_tile_overlay.rsi/meta.json
  Resources/Textures/_DEN/Decals/somber_tile_overlay.rsi/sand.png
Labels: Changes: Sprite

adds a tiny map for a small event
  Resources/Maps/_DEN/Nonstations/fiendmap.yml
Labels: Changes: Map

Tiny Grid for a Small Event (#2667)
  Resources/Maps/_DEN/Nonstations/fiendmap.yml
Labels: Changes: Map

update REUSE headers from: Tiny Grid for a Small Event
  Resources/Maps/_DEN/Nonstations/fiendmap.yml
Labels: Changes: Map

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

Mantis Wolfskin
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/psionicMantis.yml
  Resources/Prototypes/_DEN/Catalog/VendingMachines/Inventories/mantis.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/outfits.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Epistemics/psionicMantis.yml
  Resources/Textures/_DEN/Clothing/Head/Hats/mantis_shroud_hat.rsi/equipped-HELMET-thaven.png
  Resources/Textures/_DEN/Clothing/Head/Hats/mantis_shroud_hat.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/mantis_shroud_hat.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hats/mantis_shroud_hat.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Head/Hats/mantis_shroud_hat.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Head/Hats/mantis_shroud_hat.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Neck/Cloaks/mantis_shroud.rsi/equipped-NECK-thaven.png
  Resources/Textures/_DEN/Clothing/Neck/Cloaks/mantis_shroud.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Cloaks/mantis_shroud.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Neck/Cloaks/mantis_shroud.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Neck/Cloaks/mantis_shroud.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Neck/Cloaks/mantis_shroud.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath.rsi/equipped-SUITSTORAGE-thaven.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath.rsi/flipped-equipped-SUITSTORAGE-thaven.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath.rsi/flipped-equipped-SUITSTORAGE.png
Labels: Changes: Sprite

fix uniform init
  Resources/Prototypes/_DEN/Shaders/shaders.yml
  Resources/Textures/_DEN/Shaders/analog_distortion.swsl
Labels: none

[HOTFIX] Fix Uniform Init (#2670)
  Resources/Prototypes/_DEN/Shaders/shaders.yml
  Resources/Textures/_DEN/Shaders/analog_distortion.swsl
Labels: none

IMPROVEMENTS.
  Resources/Textures/_DEN/Clothing/Neck/Cloaks/mantis_shroud.rsi/equipped-NECK-thaven.png
  Resources/Textures/_DEN/Clothing/Neck/Cloaks/mantis_shroud.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Cloaks/mantis_shroud.rsi/icon.png
Labels: Changes: Sprite

added hew to everyone (i think)
  Resources/Prototypes/Nyanotrasen/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DEN/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DV/voice/speech_emote_sounds.yml
  Resources/Prototypes/_Impstation/Voice/speech_emote_sounds.yml
Labels: none

yuuuup
  Resources/Textures/_DEN/Clothing/Head/Hats/mantis_shroud_hat.rsi/icon.png
Labels: Changes: Sprite

add the plushie
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/FoodSequence/mothic_sequence_element.yml
  Resources/Textures/_DEN/Objects/Fun/jakplushie.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Objects/Fun/jakplushie.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/jakplushie.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/jakplushie.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/jakplushie.rsi/meta.json
Labels: Changes: Sprite
