Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

Added shading to the sprite, oops.
  Resources/Textures/_DEN/Interface/Paper/paperstack.png
Labels: none

Files for Eternity Maps
  Resources/Maps/TheDen/eternity.yml
  Resources/Maps/TheDen/infinity.yml
  Resources/Prototypes/Maps/eternity.yml
  Resources/Prototypes/Maps/infinity.yml
Labels: Changes: Map

Update eternity.yml
  Resources/Maps/TheDen/eternity.yml
Labels: Changes: Map

More Role Titles
  Resources/Locale/en-US/_DEN/roles/alternate/dignitary-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/engineering-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/epistemics-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/logistics-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/security-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/service-alternate.ftl
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/dignitary.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/engineering.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/epistemics.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/logistics.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/security.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/service.yml
Labels: Changes: Localization

add non-access locked prototypes for eternity
  Resources/Prototypes/_DEN/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_DEN/Entities/Structures/Wallmounts/Signs/bar_sign.yml
Labels: none

add server selective character requirement
  Content.Shared/_DEN/Customization/Requirements/CharacterRequirements.Server.cs
  Content.Shared/_DEN/ServerContent/SelectiveServerContentManager.cs
Labels: Changes: C#

add speso loadout to eternity only
  Resources/Locale/en-US/_DEN/customization/character-requirements.ftl
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Locale/en-US/_DEN/server-selective/servers.ftl
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/eternity.yml
Labels: Changes: Localization

forgot a line
  Content.Shared/_DEN/Customization/Requirements/CharacterRequirements.Server.cs
Labels: Changes: C#

Arena Comms Consoles and Salvage Tweak
  Resources/Maps/TheDen/arena.yml
Labels: Changes: Map

furries
  Resources/Textures/_DEN/Clothing/OuterClothing/Fursuits/bear.rsi/meta.json
Labels: Changes: Sprite

map stuff
  Content.Server/AutoVote/AutoVoteSystem.cs
  Content.Shared/CCVar/CCVars.AutoVote.cs
  Resources/Prototypes/_DEN/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_DEN/Maps/Pools/eternity.yml
Labels: Changes: C#

aaaaaa
  Content.Server/Maps/GameMapManager.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-dangers.ftl
  Resources/Prototypes/_DEN/game_presets.yml
Labels: Changes: C#, Changes: Localization

min 0
  Resources/Prototypes/Maps/eternity.yml
  Resources/Prototypes/Maps/infinity.yml
Labels: Changes: Map

a
  Content.Server/Maps/GameMapManager.cs
Labels: Changes: C#

a
  Resources/Prototypes/Maps/eternity.yml
  Resources/Prototypes/Maps/infinity.yml
Labels: Changes: Map

Update security-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/security-alternate.ftl
Labels: Changes: Localization

Update security.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/security.yml
Labels: none

Update Resources/Locale/en-US/_DEN/roles/alternate/service-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/service-alternate.ftl
Labels: Changes: Localization

Update dignitary-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/dignitary-alternate.ftl
Labels: Changes: Localization

Update epistemics-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/epistemics-alternate.ftl
Labels: Changes: Localization

Update Resources/Locale/en-US/_DEN/roles/alternate/epistemics-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/epistemics-alternate.ftl
Labels: Changes: Localization

Update Resources/Locale/en-US/_DEN/roles/alternate/service-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/service-alternate.ftl
Labels: Changes: Localization

Update epistemics.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/epistemics.yml
Labels: none

Update dignitary.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/dignitary.yml
Labels: none

Update epistemics-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/epistemics-alternate.ftl
Labels: Changes: Localization

Update epistemics.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/epistemics.yml
Labels: none

Update epistemics-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/epistemics-alternate.ftl
Labels: Changes: Localization

Update epistemics.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/epistemics.yml
Labels: none

Update engineering-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/engineering-alternate.ftl
Labels: Changes: Localization

Update engineering.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/engineering.yml
Labels: none

Update epistemics-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/epistemics-alternate.ftl
Labels: Changes: Localization

Update epistemics.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/epistemics.yml
Labels: none

made hats butcherable
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
Labels: none

made bullets recyclable
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/base_cartridge.yml
Labels: none

i'm drunk idk
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/base_cartridge.yml
Labels: none

feat: in-lobby server hub
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/_DEN/Hub/HubPanel.xaml
  Content.Client/_DEN/Hub/HubPanel.xaml.cs
  Content.Client/_DEN/Hub/HubServerEntry.xaml
  Content.Client/_DEN/Hub/HubServerEntry.xaml.cs
  Content.Client/_DEN/Hub/HubSystem.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/_DEN/Hub/HubManager.cs
  Content.Server/_DEN/Hub/HubRefreshSystem.cs
  Content.Shared/IoC/SharedContentIoC.cs
  Content.Shared/_DEN/CCVars/DenCCVars.cs
  Content.Shared/_DEN/Hub/HubData.cs
  Content.Shared/_DEN/Hub/HubServerPrototype.cs
  Resources/Locale/en-US/hub/hub-servers.ftl
  Resources/Prototypes/_DEN/Hub/hub_servers.yml
Labels: Changes: C#, Changes: Localization, Changes: UI

chore: update every 30 seconds by default
  Content.Shared/_DEN/CCVars/DenCCVars.cs
Labels: Changes: C#

Update security-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/security-alternate.ftl
Labels: Changes: Localization

Update security.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/security.yml
Labels: none

chore: cleanup
  Content.Client/_DEN/Hub/HubPanel.xaml.cs
  Content.Client/_DEN/Hub/HubPanelUtils.cs
  Content.Client/_DEN/Hub/HubServerEntry.xaml
  Content.Client/_DEN/Hub/HubServerEntry.xaml.cs
Labels: Changes: C#, Changes: UI

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
