Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

storedOffset bugfix (#33606)
  Content.Client/UserInterface/Systems/Storage/Controls/ItemGridPiece.cs
  Content.Shared/Item/SharedItemSystem.cs
Labels: Changes: C#

small fix
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
Labels: none

Changed the storage sizes of different swords. (#36564)
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Textures/Objects/Weapons/Melee/captain_sabre.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/captain_sabre_storage_64x.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/captain_sabre_storage_64x.rsi/storage.png
  Resources/Textures/Objects/Weapons/Melee/claymore_storage_64x.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/claymore_storage_64x.rsi/storage.png
  Resources/Textures/Objects/Weapons/Melee/cutlass.rsi/foam_storage.png
  Resources/Textures/Objects/Weapons/Melee/cutlass.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/cutlass.rsi/storage.png
  Resources/Textures/Objects/Weapons/Melee/energykatana.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/energykatana_storage_64x.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/energykatana_storage_64x.rsi/storage.png
  Resources/Textures/Objects/Weapons/Melee/katana.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/katana.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Melee/katana.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/katana_storage_64x.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/katana_storage_64x.rsi/storage.png
  Resources/Textures/Objects/Weapons/Melee/machete.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/machete.rsi/storage.png
Labels: Changes: Sprite

Added missing textures
  Resources/Textures/Objects/Weapons/Melee/incomplete_bat.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/incomplete_bat.rsi/inhand-right.png
Labels: Changes: Sprite

Fix another storedSprite bug (#36662)
  Content.Client/UserInterface/Systems/Storage/Controls/ItemGridPiece.cs
Labels: Changes: C#

Intense corrective action
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml.cs
Labels: Changes: C#, Changes: UI

L for Logistics
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/bomberjackets.yml
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_cargo.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_cargo.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_cargo_loose.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_cargo_loose.rsi/open-equipped-OUTERCLOTHING.png
Labels: Changes: Sprite

missing audio
  Resources/Audio/Voice/Talk/vox.ogg
  Resources/Audio/Voice/Talk/vox_ask.ogg
  Resources/Audio/Voice/Talk/vox_exclaim.ogg
Labels: Changes: Audio

Added the NanoTrasen ResponseForce Nyx, a rapid response security focused frigate
  Resources/Maps/Shuttles/TheDen/NTRF_Nyx.yml
Labels: Changes: Map

remove non-basic humanoids from ERT spawnlist
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
Labels: none

prep
  Content.Server/_DV/ParadoxAnomaly/Systems/ParadoxAnomalySystem.cs
  Content.Shared/Devour/SharedDevourSystem.cs
  Content.Shared/_Floof/Consent/ConsentTogglePrototype.cs
  Resources/Locale/en-US/Blep/consent.ftl
  Resources/Prototypes/_DEN/Consent/consent_groups.yml
  Resources/Prototypes/consent.yml
Labels: Changes: C#, Changes: Localization

default value implementation
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml.cs
  Content.Server/_Floof/Consent/ConsentSystem.cs
  Content.Shared/_Floof/Consent/SharedConsentSystem.cs
  Resources/Prototypes/_DEN/Consent/consent_groups.yml
  Resources/Prototypes/consent.yml
Labels: Changes: C#, Changes: UI

ERT modsuit backpack buff
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/engineering-responsory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/inquisitory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/janitorial-responsory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/leader-responsory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/medical-responsory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/security-responsory.yml
Labels: none

ERT standardisation
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
Labels: none

Some nice QoL tweaks
  Content.Server/Chemistry/Components/ReagentDispenserComponent.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/unlockedboozeomat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_special.yml
  Resources/Prototypes/Entities/Structures/Dispensers/base_structuredispensers.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/cooking.yml
  Resources/Textures/Objects/Consumable/Drinks/shaker.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/shaker.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/shaker.rsi/meta.json
Labels: Changes: C#, Changes: Sprite

meow
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml.cs
  Content.Server/_Floof/Consent/ConsentSystem.cs
  Resources/Locale/en-US/Blep/consent.ftl
  Resources/Prototypes/_DEN/Consent/consent_groups.yml
  Resources/Prototypes/consent.yml
Labels: Changes: C#, Changes: Localization, Changes: UI

Nyx tweaks
  Resources/Maps/Shuttles/TheDen/NTRF_Nyx.yml
Labels: Changes: Map

remove resomi for the same reason as shadowkin
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
Labels: none

fix for the ashtray
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/service_techfab.yml
Labels: none

Update lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: none

More nyx tweaks
  Resources/Maps/Shuttles/TheDen/NTRF_Nyx.yml
Labels: Changes: Map

ERT custom loadouts
  Resources/Locale/en-US/_DEN/set-selector/selectable-set.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Prototypes/_DEN/Catalog/selectable_sets.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/ert_loadout.yml
Labels: Changes: Localization

ERT huds
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Eyes/hud.yml
Labels: none

FTL error
  Resources/Prototypes/_DEN/Catalog/selectable_sets.yml
Labels: none

More nyx tweaks
  Resources/Maps/Shuttles/TheDen/NTRF_Nyx.yml
Labels: Changes: Map

typos
  Resources/Locale/en-US/_DEN/set-selector/selectable-set.ftl
Labels: Changes: Localization

Invalid protos
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
Labels: none

linter fix
  Resources/Prototypes/_DEN/Catalog/selectable_sets.yml
Labels: none

more linter fixes
  Resources/Prototypes/_DEN/Catalog/selectable_sets.yml
Labels: none

Make Golden Ring and Sentimental Ring Tiny
  Resources/Prototypes/_DEN/Entities/Clothing/Hands/gloves.yml
Labels: none

Revert "Add Residency To Records, Change Drug Allergies (#1405)"
  Content.Client/_CD/Records/UI/CharacterRecordViewer.xaml
  Content.Client/_CD/Records/UI/CharacterRecordViewer.xaml.cs
  Content.Client/_CD/Records/UI/RecordEditorGui.xaml
  Content.Client/_CD/Records/UI/RecordEditorGui.xaml.cs
  Content.Server/_CD/Records/RecordsSerialization.cs
  Content.Shared/_CD/Records/PlayerProvidedCharacterRecords.cs
  Resources/Locale/en-US/_CD/records/editor.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

Update tajaran.yml
  Resources/Prototypes/_EE/Entities/Mobs/Customization/Markings/tajaran.yml
Labels: none

added greatshield to leader by popular request
  Resources/Locale/en-US/_DEN/set-selector/selectable-set.ftl
  Resources/Prototypes/_DEN/Catalog/selectable_sets.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/ert_loadout.yml
Labels: Changes: Localization

added actual spawners
  Resources/Maps/Shuttles/TheDen/NTRF_Nyx.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: Changes: Map

More nyx tweaks
  Resources/Maps/Shuttles/TheDen/NTRF_Nyx.yml
Labels: Changes: Map

Buying shit now sticks it in a bag
  Content.Shared/_Goobstation/SetSelector/SetSelectorSystem.cs
  Resources/Prototypes/_DEN/Entities/Objects/Misc/ert_loadout.yml
Labels: Changes: C#

Craftable Pride Flags (#3479)
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/flags.yml
  Resources/Prototypes/_DV/Entities/Structures/Wallmounts/flags.yml
  Resources/Prototypes/_DV/Recipes/Construction/Graphs/flags.yml
  Resources/Prototypes/_DV/Recipes/Construction/furniture.yml
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/ace_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/aro_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/bi_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/enby_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/gay_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/intersex_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/les_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/meta.json
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/pan_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/trans_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/trans_royal_shrimp_flag.png
Labels: Changes: Sprite

Mindshield commander, fix wonky gear spawns
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
Labels: none

linter fix
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: none

Change Thief Syndie & Chameleon kit contents, add Syndie codeword paper (#30446)
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Traitor/Components/TraitorCodePaperComponent.cs
  Content.Server/Traitor/Systems/TraitorCodePaperSystem.cs
  Resources/Locale/en-US/thief/backpack.ftl
  Resources/Locale/en-US/traitor/traitor-codes-component.ftl
  Resources/Prototypes/Catalog/thief_toolbox_sets.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: Changes: C#, Changes: Localization
