Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

Adding the Veils to CharacterItemGroups
  Resources/Prototypes/CharacterItemGroups/Generic/eyesGroup.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/engineeringUncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/chemist.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
Labels: none

Adding Entities and Loadouts
  Resources/Prototypes/_DEN/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/eyes.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Engineering/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Epistemics/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Medical/chemist.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/uncategorized.yml
Labels: none

Sprites for the Veils
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/chemtaj.rsi/equipped-EYES.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/chemtaj.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/chemtaj.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/chemtaj.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/chemtaj.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/civtaj.rsi/equipped-EYES.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/civtaj.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/civtaj.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/civtaj.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/civtaj.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/diagtaj.rsi/equipped-EYES.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/diagtaj.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/diagtaj.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/diagtaj.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/diagtaj.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/engtaj.rsi/equipped-EYES.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/engtaj.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/engtaj.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/engtaj.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/engtaj.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/medtaj.rsi/equipped-EYES.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/medtaj.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/medtaj.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/medtaj.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/medtaj.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/sectaj.rsi/equipped-EYES.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/sectaj.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/sectaj.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/sectaj.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/sectaj.rsi/meta.json
Labels: Changes: Sprite

Removing VisionCorrection from veils
  Resources/Prototypes/_DEN/Entities/Clothing/Eyes/glasses.yml
Labels: none

Automated changelog update (#2719)
  Resources/Changelog/Den.yml
Labels: none

Changed NTDefault laws. Changed AI to use NTDefault. Added generic Command exemption to AI turret controller default settings.
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/turret_controls.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: Localization

Increased Magistrate playtime requirements to match Captain/HoS. Added Command playtime requirement to Captain.
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/magistrate.yml
Labels: none

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

Adds engineering veil to salvage too; matches desc
  Resources/Prototypes/CharacterItemGroups/Jobs/Logistics/salvageSpecialist.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Logistics/salvageSpecialist.yml
Labels: none

fixes typo
  Resources/Prototypes/_DEN/Entities/Clothing/Eyes/glasses.yml
Labels: none

Magistrate/Captain Time Requirement Tweaks (#2722)
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/magistrate.yml
Labels: none

AI Laws and Turret Defaults Update (#2721)
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/turret_controls.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: Localization

Automated changelog update (#2722)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Magistrate/Captain Time Requirement Tweaks
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/magistrate.yml
Labels: none

Automated changelog update (#2721)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: AI Laws and Turret Defaults Update
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/turret_controls.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: Localization

redial
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/_DEN/Redial/RedialManager.cs
  Content.Client/_DEN/Redial/RedialPopup.cs
  Content.Server/Administration/ServerApi.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/_DEN/Administration/ServerApi.DEN.cs
  Content.Server/_DEN/Redial/RedialManager.cs
  Content.Server/_DEN/Redial/RedialSystem.cs
  Content.Shared/_DEN/Redial/MsgRequestRedial.cs
  Resources/Locale/en-US/_DEN/redial/redial.ftl
Labels: Changes: C#, Changes: Localization

update REUSE headers from: External Server Events!
  Content.Client/_DEN/Redial/RedialManager.cs
  Content.Client/_DEN/Redial/RedialPopup.cs
  Content.Server/Administration/ServerApi.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/_DEN/Administration/ServerApi.DEN.cs
  Content.Server/_DEN/Redial/RedialManager.cs
  Content.Server/_DEN/Redial/RedialSystem.cs
  Content.Shared/_DEN/Redial/MsgRequestRedial.cs
  Resources/Locale/en-US/_DEN/redial/redial.ftl
  Resources/Prototypes/Entities/Objects/Devices/station_map.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Tools/gps.yml
  Resources/Prototypes/Entities/Objects/Tools/handheld_mass_scanner.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Mantis/handheldcomputers.yml
  Resources/Prototypes/_DEN/Entities/Objects/Tools/handheld_atmospherics_monitor.yml
  Resources/Prototypes/_DEN/Entities/Objects/Tools/handheld_power_monitor.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_Goobstation/Entities/Specific/bso.yml
Labels: Changes: C#, Changes: Localization

credits and licenses
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/chemtaj.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/civtaj.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/diagtaj.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/engtaj.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/medtaj.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/sectaj.rsi/meta.json
Labels: Changes: Sprite

Update RedialPopup.cs
  Content.Client/_DEN/Redial/RedialPopup.cs
Labels: Changes: C#

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
