Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

Even more URLs fixed
  Resources/Prototypes/_DEN/Unrefined/Entities/Objects/Tools/survival_tools.yml
  Resources/Prototypes/_DEN/Unrefined/Recipes/miscellanious.yml
Labels: none

wip
  Resources/Audio/_DEN/Effects/attributions.yml
  Resources/Audio/_DEN/Effects/crystalchime1.ogg
  Resources/Audio/_DEN/Effects/crystalchime2.ogg
  Resources/Audio/_DEN/Effects/crystalchime3.ogg
  Resources/Locale/en-US/_DEN/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_DEN/Voice/speech_sounds.yml
Labels: Changes: Audio, Changes: Localization

Fixed stockings and legging markings for thaven and other species
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/thaven.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/underwear.yml
Labels: none

Leggings Fix (Alt)
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/base_species.yml
Labels: none

Slime emotes!
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_Impstation/Voice/speech_emotes.yml
  Resources/Textures/Interface/Emotes/bubble.png
  Resources/Textures/Interface/Emotes/pop.png
  Resources/Textures/Interface/Emotes/squish.png
Labels: none

urggh
  Resources/Maps/Shuttles/_DV/NTES_Hammerhead.yml
Labels: Changes: Map

Spawn-limiting to fix an error.
  Resources/Prototypes/_DEN/Unrefined/Procedural/grassland_planet.yml
Labels: none

Barrels get ItemSlots and Tent flaps are now airtight
  Resources/Prototypes/_DEN/Unrefined/Entities/Structures/storage.yml
  Resources/Prototypes/_DEN/Unrefined/Entities/Structures/tents.yml
Labels: none

Add the ModifyOnApply system and an insulative filling that uses it.
  Content.Server/_DEN/ItemModifiers/Components/ModifiableComponent.cs
  Content.Server/_DEN/ItemModifiers/Components/ModifyOnApplyComponent.cs
  Content.Server/_DEN/ItemModifiers/Systems/ModifyOnApplySystem.cs
  Content.Shared/_DEN/ItemModifiers/Events/ModifyOnApplyDoAfterEvent.cs
  Resources/Locale/en-US/_DEN/item-modifier/base.ftl
  Resources/Locale/en-US/_DEN/item-modifier/insulative.ftl
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Nyanotrasen/Research/experimental.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/insulative.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/protolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/security_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/misc.yml
  Resources/Prototypes/_DEN/tags.yml
  Resources/Textures/_DEN/Objects/Misc/insulative_filling.rsi/base.png
  Resources/Textures/_DEN/Objects/Misc/insulative_filling.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite

fix: apply sex displacements even when using species-specific clothing sprites
  Content.Client/Clothing/ClientClothingSystem.cs
Labels: Changes: C#

Initial release
  Resources/Maps/TheDen/hivni.yml
  Resources/Prototypes/Maps/hivni.yml
Labels: Changes: Map

Disabling Edge from Map Vote Pool
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map

Becoming a station
  Resources/Maps/TheDen/hivni.yml
Labels: Changes: Map

Add the ability to modify descriptions as well, and add more descriptors to the insulative hats
  Content.Server/_DEN/ItemModifiers/Components/ModifyOnApplyComponent.cs
  Content.Server/_DEN/ItemModifiers/Systems/ModifyOnApplySystem.cs
  Resources/Locale/en-US/_DEN/item-modifier/insulative.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Misc/insulative.yml
Labels: Changes: C#, Changes: Localization

Home Run Bat And Mantis Traitor/Caster Updates
  Resources/Locale/en-US/_DEN/store/uplink-catalog.ftl
  Resources/Prototypes/_DEN/Catalog/uplink_catalog.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Ammunition/Cells/casters.yml
  Resources/Prototypes/_DV/Catalog/uplink_catalog.yml
Labels: Changes: Localization

Lathe part upgrading.
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Shared/Lathe/LatheComponent.cs
  Content.Shared/Lathe/SharedLatheSystem.cs
  Content.Shared/_DV/Lathe/LatheUpgradeSystem.cs
Labels: Changes: C#, Changes: UI

fix parents, update descriptions
  Resources/Locale/en-US/_DEN/store/uplink-catalog.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Ammunition/Cells/casters.yml
Labels: Changes: Localization

Fix the psionics requirements on Mantis, Librarian, and Mystagogue
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Labels: none

Storable Species Fix
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/gingerbread.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/plasmaman.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/chitinid.yml
Labels: none

Update username credit for pride vendor meta.json
  Resources/Textures/_DV/Structures/Machines/VendingMachines/pride.rsi/meta.json
Labels: Changes: Sprite

Mantis Coats For Resomi
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/mantis_jacket_airy.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/mantis_jacket_airy.rsi/flipped-equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/mantis_jacket_airy.rsi/meta.json
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/mantis_jacket_ornate.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/mantis_jacket_ornate.rsi/meta.json
  Resources/Textures/_DEN/Clothing/OuterClothing/WinterCoats/mantis_winter_coat_dark.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_DEN/Clothing/OuterClothing/WinterCoats/mantis_winter_coat_dark.rsi/meta.json
  Resources/Textures/_DEN/Clothing/OuterClothing/WinterCoats/mantis_winter_coat_dark.rsi/rolled-equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_DEN/Clothing/OuterClothing/WinterCoats/mantis_winter_coat_mu.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_DEN/Clothing/OuterClothing/WinterCoats/mantis_winter_coat_mu.rsi/meta.json
Labels: Changes: Sprite

Give Braided Tail Its Own West Sprite
  Resources/Textures/Mobs/Customization/human_hair.rsi/braidtail.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/hair.rsi/braidtail_f.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/braidtail.png
Labels: Changes: Sprite

waba
  Resources/Prototypes/_DEN/Entities/Structures/Machines/vending_machines.yml
Labels: none

Private Server Edits
  Resources/Prototypes/lobbyscreens.yml
Labels: none

save
  Content.Client/_DEN/Hub/HubPanel.xaml.cs
Labels: Changes: C#, Changes: UI

Add the NSFW holoprojector
  Content.Client/_DEN/Holosign/Systems/LabelableHolosignProjectorSystem.cs
  Content.Client/_DEN/Holosign/UI/LabelableHolosignProjectorBoundUserInterface.cs
  Content.Client/_DEN/Holosign/UI/LabelableHolosignProjectorWindow.xaml
  Content.Client/_DEN/Holosign/UI/LabelableHolosignProjectorWindow.xaml.cs
  Content.Server/_DEN/Holosign/Systems/LabelableHolosignProjectorSystem.cs
  Content.Shared/_DEN/Holosign/Components/LabelableHolosignProjectorComponent.cs
  Content.Shared/_DEN/Holosign/Components/LabeledHolosignComponent.cs
  Content.Shared/_DEN/Holosign/Events/LabelableHolosignEvents.cs
  Content.Shared/_DEN/Holosign/Systems/SharedLabelableHolosignProjectorSystem.cs
  Resources/Locale/en-US/_DEN/holofan/labelable_holosign.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/_DEN/Entities/Structures/Holographic/projections.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/misc.yml
  Resources/Textures/_DEN/Objects/Devices/Holoprojectors/adult.rsi/icon.png
  Resources/Textures/_DEN/Objects/Devices/Holoprojectors/adult.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Devices/Holoprojectors/adult.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Devices/Holoprojectors/adult.rsi/meta.json
  Resources/Textures/_DEN/Structures/Holo/adult.rsi/icon.png
  Resources/Textures/_DEN/Structures/Holo/adult.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: UI

Right this needs to be a datafield.
  Content.Shared/_DEN/Holosign/Components/LabelableHolosignProjectorComponent.cs
Labels: Changes: C#

save
  Content.Client/_DEN/Hub/HubPanel.xaml.cs
  Content.Client/_DEN/Hub/HubSystem.cs
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-64x64.png
  Resources/Textures/Logo/logo.png
  Resources/manifest.yml
Labels: Changes: C#, Changes: UI

Increase the durability of the holosigns
  Resources/Prototypes/_DEN/Entities/Structures/Holographic/projections.yml
Labels: none

Make the holobarriers passable, that's what the doors are for.
  Resources/Prototypes/_DEN/Entities/Structures/Holographic/projections.yml
Labels: none

Add the NSFW holoprojector to loadouts.
  Resources/Prototypes/_Floof/Loadouts/itemsLewd.yml
Labels: none

scrambled speech available as character trait
  Resources/Locale/en-US/_Impstation/traits/speech.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
  Resources/Prototypes/_Impstation/Traits/neutral.yml
Labels: Changes: Localization

adds new dispel vulnerability trait
  Resources/Locale/en-US/_DEN/traits/misc.ftl
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Prototypes/_DEN/Traits/mental.yml
Labels: Changes: Localization

save
  Content.Client/_DEN/Hub/HubPanel.xaml.cs
  Content.Client/_DEN/Hub/HubSystem.cs
  Resources/ConfigPresets/TheDen/defaultden.toml
  Resources/Locale/en-US/_DEN/tiles/tiles.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-dangers.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/_DEN/Maps/Pools/eternity.yml
  Resources/Prototypes/_DEN/SoundCollections/footsteps.yml
  Resources/Prototypes/_DEN/Tiles/floors.yml
  Resources/Prototypes/_DEN/game_presets.yml
  Resources/Textures/Logo/logo.png
  Resources/Textures/_SHA/Objects/Tiles/tile.rsi/break-circuit.png
  Resources/Textures/_SHA/Objects/Tiles/tile.rsi/break-glass.png
  Resources/Textures/_SHA/Objects/Tiles/tile.rsi/break-invisible.png
  Resources/Textures/_SHA/Objects/Tiles/tile.rsi/break-lattice-horizontal.png
  Resources/Textures/_SHA/Objects/Tiles/tile.rsi/break-lattice-vertical.png
  Resources/Textures/_SHA/Objects/Tiles/tile.rsi/break-somber-dark-NE.png
  Resources/Textures/_SHA/Objects/Tiles/tile.rsi/break-somber-dark-NW.png
  Resources/Textures/_SHA/Objects/Tiles/tile.rsi/break-somber-dark-SE.png
  Resources/Textures/_SHA/Objects/Tiles/tile.rsi/break-somber-dark-SW.png
  Resources/Textures/_SHA/Objects/Tiles/tile.rsi/break-underlay.png
  Resources/Textures/_SHA/Objects/Tiles/tile.rsi/meta.json
  Resources/Textures/_SHA/Tiles/break-circuit.png
  Resources/Textures/_SHA/Tiles/break-glass.png
  Resources/Textures/_SHA/Tiles/break-invisible.png
  Resources/Textures/_SHA/Tiles/break-lattice-horizontal.png
  Resources/Textures/_SHA/Tiles/break-lattice-vertical.png
  Resources/Textures/_SHA/Tiles/break-somber-dark-NE.png
  Resources/Textures/_SHA/Tiles/break-somber-dark-NW.png
  Resources/Textures/_SHA/Tiles/break-somber-dark-SE.png
  Resources/Textures/_SHA/Tiles/break-somber-dark-SW.png
  Resources/Textures/_SHA/Tiles/break-underlay.png
  Resources/Textures/_SHA/Tiles/meta.json
Labels: Changes: C#, Changes: Config, Changes: Localization, Changes: Sprite, Changes: UI

Update dingo.yml
  Resources/Maps/TheDen/dingo.yml
Labels: Changes: Map

Update dingo.yml
  Resources/Maps/TheDen/dingo.yml
Labels: Changes: Map

Update dingo.yml
  Resources/Prototypes/Maps/dingo.yml
Labels: Changes: Map

Revert "save"
  Resources/Textures/_Floof/Structures/Walls/railing.rsi/corner.png
  Resources/Textures/_Floof/Structures/Walls/railing.rsi/corner_small.png
  Resources/Textures/_Floof/Structures/Walls/railing.rsi/round.png
  Resources/Textures/_Floof/Structures/Walls/railing.rsi/side.png
Labels: Changes: Sprite

save
  Resources/Locale/en-US/_DEN/tiles/tiles.ftl
  Resources/Locale/en-US/_SHA/everything.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-dangers.ftl
  Resources/Prototypes/Entities/Structures/Walls/railing.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/_DEN/Maps/Pools/eternity.yml
  Resources/Prototypes/_DEN/SoundCollections/footsteps.yml
  Resources/Prototypes/_DEN/Tiles/floors.yml
  Resources/Prototypes/_DEN/game_presets.yml
  Resources/Prototypes/_Floof/Entities/Structures/Walls/railing.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_SHA/Objects/Tiles/tile.rsi/meta.json
  Resources/Textures/_SHA/Structures/Walls/railing.rsi/invisible.png
  Resources/Textures/_SHA/Structures/Walls/railing.rsi/meta.json
  Resources/Textures/_SHA/Structures/Walls/railing.rsi/round.png
  Resources/Textures/_SHA/Structures/Walls/railing.rsi/side.png
  Resources/Textures/_SHA/Tiles/meta.json
Labels: Changes: Localization, Changes: Sprite

save
  Resources/Textures/_Floof/Structures/Walls/railing.rsi/invisible.png
  Resources/Textures/_SHA/Structures/Walls/railing.rsi/corner.png
  Resources/Textures/_SHA/Structures/Walls/railing.rsi/corner_small.png
Labels: Changes: Sprite

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
