Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

allow looc when crit
  Content.Shared/CCVar/CCVars.Chat.Looc.cs
Labels: Changes: C#

dispel vuln pointdrop
  Resources/Prototypes/_DEN/Traits/mental.yml
Labels: none

save
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/Logo/logo.png
  Resources/Textures/Structures/Walls/mining.rsi/mining1.png
  Resources/Textures/Structures/Walls/mining.rsi/mining3.png
  Resources/Textures/Structures/Walls/mining.rsi/mining4.png
  Resources/Textures/Structures/Walls/mining.rsi/mining5.png
  Resources/Textures/Structures/Walls/mining.rsi/mining6.png
  Resources/Textures/Structures/Walls/mining.rsi/mining7.png
  Resources/Textures/Structures/Walls/mining_diagonal.rsi/state0.png
  Resources/Textures/Structures/Walls/mining_diagonal.rsi/state1.png
Labels: Changes: Sprite

Move the loadout to the right place
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/lewd.yml
  Resources/Prototypes/_Floof/Loadouts/itemsLewd.yml
Labels: none

ScugCat Redesign and Rebrand
  Resources/Prototypes/_Floof/Entities/Mobs/NPCs/scugcat.yml
  Resources/Textures/_Floof/Mobs/Animals/occat.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Animals/occat.rsi/occat.png
  Resources/Textures/_Floof/Mobs/Animals/occat.rsi/occat_crit.png
  Resources/Textures/_Floof/Mobs/Animals/occat.rsi/occat_dead.png
  Resources/Textures/_Floof/Mobs/Animals/occat.rsi/occat_sleep.png
  Resources/Textures/_Floof/Mobs/Animals/scugcat.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Animals/scugcat.rsi/scugcat.png
  Resources/Textures/_Floof/Mobs/Animals/scugcat.rsi/scugcat_crit.png
  Resources/Textures/_Floof/Mobs/Animals/scugcat.rsi/scugcat_dead.png
  Resources/Textures/_Floof/Mobs/Animals/scugcat.rsi/scugcat_sleep.png
Labels: Changes: Sprite

somber couch
  Resources/Prototypes/_DEN/Entities/Structures/furniture/benches.yml
Labels: none

the rest of somber couch
  Resources/Textures/_DEN/Structures/Furniture/Benches/sombersofa.rsi/arm_left.png
  Resources/Textures/_DEN/Structures/Furniture/Benches/sombersofa.rsi/arm_right.png
  Resources/Textures/_DEN/Structures/Furniture/Benches/sombersofa.rsi/corner.png
  Resources/Textures/_DEN/Structures/Furniture/Benches/sombersofa.rsi/left.png
  Resources/Textures/_DEN/Structures/Furniture/Benches/sombersofa.rsi/meta.json
  Resources/Textures/_DEN/Structures/Furniture/Benches/sombersofa.rsi/middle.png
  Resources/Textures/_DEN/Structures/Furniture/Benches/sombersofa.rsi/right.png
Labels: Changes: Sprite

Fishing Cap Fix
  Resources/Prototypes/Loadouts/Generic/head.yml
Labels: none

Map update to b1.2.2
  Resources/Maps/TheDen/hivni.yml
Labels: Changes: Map

Alien Germ Plushie On Head
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Textures/_DEN/Objects/Fun/ufoplushie.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Objects/Fun/ufoplushie.rsi/meta.json
Labels: Changes: Sprite

murder DamageMarkerOnCollide extra damage
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: none

comment out backstab for clarity
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/crushers.yml
Labels: none

re-enable lamp variation on roundstart
  Resources/Prototypes/GameRules/roundstart.yml
Labels: none

weapon damage and power attack pass v1
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/crushers.yml
Labels: none

kinetic claw changes + anim fixes
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/crushers.yml
Labels: none

hammer does struct and you can yeet it for BONK
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/crushers.yml
Labels: none

machete and spear embed now. also spear slightly longer
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/crushers.yml
Labels: none

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

Compass/Weapon Value Adjustment
  Resources/Prototypes/_DEN/Unrefined/Entities/Objects/Misc/quest_items.yml
  Resources/Prototypes/_DEN/Unrefined/Entities/Objects/Tools/survival_tools.yml
  Resources/Prototypes/_DEN/Unrefined/Entities/Objects/Weapons/forged_weapons.yml
Labels: none

Whoopsie
  Resources/Prototypes/_DEN/Unrefined/Entities/Objects/Tools/survival_tools.yml
Labels: none

Syntax fix
  Resources/Prototypes/_DEN/Unrefined/Entities/Objects/Misc/quest_items.yml
  Resources/Prototypes/_DEN/Unrefined/Entities/Objects/Tools/survival_tools.yml
Labels: none

Update dingo.yml
  Resources/Maps/TheDen/dingo.yml
Labels: Changes: Map

add ability to force slot for a loadout category
  Content.Shared/Clothing/Loadouts/Prototypes/LoadoutCategoryPrototype.cs
  Content.Shared/Clothing/Loadouts/Systems/SharedLoadoutSystem.cs
Labels: Changes: C#

add forced slots to loadout categories
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/_DEN/Loadouts/Categories/categories.yml
  Resources/Prototypes/_Floof/Loadouts/Categories/categories.yml
Labels: none

Map Update 2, a la mode
  Resources/Maps/TheDen/alamode.yml
Labels: Changes: Map

CHANGES FOR REAL THIS TIME
  Resources/Maps/TheDen/alamode.yml
Labels: Changes: Map

Holobarrier tweaks.
  Content.Shared/Climbing/Components/ClimbableComponent.cs
  Content.Shared/Clumsy/ClumsySystem.cs
  Resources/Prototypes/_DEN/Entities/Structures/Holographic/projections.yml
Labels: Changes: C#

There's no reason examine range should really be limited.
  Content.Shared/_DEN/Holosign/Systems/SharedLabelableHolosignProjectorSystem.cs
Labels: Changes: C#

MY DARK FUCKING PORTAL I GUESS
  Resources/Textures/Structures/Windows/mining_diagonal.rsi/state0.png
  Resources/Textures/_SHA/Structures/Walls/somberdark_diagonal.rsi/state1.png
  Resources/Textures/_SHA/Structures/Windows/somberdark.rsi/full.png
  Resources/Textures/_SHA/Structures/Windows/somberdark.rsi/meta.json
  Resources/Textures/_SHA/Structures/Windows/somberdark.rsi/window0.png
  Resources/Textures/_SHA/Structures/Windows/somberdark.rsi/window1.png
  Resources/Textures/_SHA/Structures/Windows/somberdark.rsi/window2.png
  Resources/Textures/_SHA/Structures/Windows/somberdark.rsi/window3.png
  Resources/Textures/_SHA/Structures/Windows/somberdark.rsi/window4.png
  Resources/Textures/_SHA/Structures/Windows/somberdark.rsi/window5.png
  Resources/Textures/_SHA/Structures/Windows/somberdark.rsi/window6.png
  Resources/Textures/_SHA/Structures/Windows/somberdark.rsi/window7.png
  Resources/Textures/_SHA/Structures/Windows/somberdark_diagonal.rsi/meta.json
  Resources/Textures/_SHA/Structures/Windows/somberdark_diagonal.rsi/state0.png
  Resources/Textures/_SHA/Structures/Windows/somberdark_diagonal.rsi/state1.png
  Resources/Textures/_SHA/Tiles/break-circuit.png
  Resources/Textures/_SHA/Tiles/break-glass.png
  Resources/Textures/_SHA/Tiles/meta.json
Labels: Changes: Sprite

changes
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
Labels: none

tweak clothing slots
  Resources/Prototypes/InventoryTemplates/aghost_inventory_template.yml
Labels: none

Update to 1.2.3
  Resources/Maps/TheDen/hivni.yml
  Resources/Prototypes/Maps/hivni.yml
Labels: Changes: Map

Make doors close on barriers again
  Resources/Prototypes/_DEN/Entities/Structures/Holographic/projections.yml
Labels: none

Added small amount of pills, injectors, and candy to help med through the start of the round.
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
Labels: none

feat: important roleplay mechanics (emote-says)
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_DEN/Chat/Systems/ChatSystem.DEN.cs
  Content.Shared/Language/ObfuscationMethods.cs
  Content.Shared/Language/Systems/SharedLanguageSystem.cs
  Content.Shared/_DEN/StringBounds/StringBounds.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
Labels: Changes: C#, Changes: Localization

tweak: fix coloring
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
Labels: Changes: Localization

fix: index offset was wrong
  Content.Server/_DEN/Chat/Systems/ChatSystem.DEN.cs
Labels: Changes: C#

tweak: only works on messages prefixed with !
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_DEN/Chat/Systems/ChatSystem.DEN.cs
Labels: Changes: C#

fix: oops
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#

fix: potential outofboundsexception
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#
