Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

Feat: Toggle Prone (#2701)
  Content.Shared/Standing/SharedLayingDownSystem.cs
  Content.Shared/_DEN/CCVars/DenCCVars.cs
Labels: Changes: C#

update REUSE headers from: Feat: Toggle Prone
  Content.Shared/Standing/SharedLayingDownSystem.cs
Labels: Changes: C#

Copy vulp mask sprites for use for feroxi
  Resources/Textures/Clothing/Head/Welding/blue_flame_welding_mask.rsi/equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Welding/blue_flame_welding_mask.rsi/meta.json
  Resources/Textures/Clothing/Head/Welding/blue_flame_welding_mask.rsi/up-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Welding/flame_welding_mask.rsi/equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Welding/flame_welding_mask.rsi/meta.json
  Resources/Textures/Clothing/Head/Welding/flame_welding_mask.rsi/up-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Welding/paintedwelding.rsi/equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Welding/paintedwelding.rsi/meta.json
  Resources/Textures/Clothing/Head/Welding/paintedwelding.rsi/up-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Welding/welding.rsi/equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Welding/welding.rsi/meta.json
  Resources/Textures/Clothing/Head/Welding/welding.rsi/up-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Mask/breath.rsi/equipped-MASK-feroxi.png
  Resources/Textures/Clothing/Mask/breath.rsi/meta.json
  Resources/Textures/Clothing/Mask/breath.rsi/up-equipped-MASK-feroxi.png
  Resources/Textures/Clothing/Mask/clown.rsi/equipped-MASK-feroxi.png
  Resources/Textures/Clothing/Mask/clown.rsi/meta.json
  Resources/Textures/Clothing/Mask/ert.rsi/equipped-MASK-feroxi.png
  Resources/Textures/Clothing/Mask/ert.rsi/meta.json
  Resources/Textures/Clothing/Mask/gas.rsi/equipped-MASK-feroxi.png
  Resources/Textures/Clothing/Mask/gas.rsi/meta.json
  Resources/Textures/Clothing/Mask/gasatmos.rsi/equipped-MASK-feroxi.png
  Resources/Textures/Clothing/Mask/gasatmos.rsi/meta.json
  Resources/Textures/Clothing/Mask/gascaptain.rsi/equipped-MASK-feroxi.png
  Resources/Textures/Clothing/Mask/gascaptain.rsi/meta.json
  Resources/Textures/Clothing/Mask/gascaptaincombat.rsi/equipped-MASK-feroxi.png
  Resources/Textures/Clothing/Mask/gascaptaincombat.rsi/meta.json
  Resources/Textures/Clothing/Mask/gascentcom.rsi/equipped-MASK-feroxi.png
  Resources/Textures/Clothing/Mask/gascentcom.rsi/meta.json
  Resources/Textures/Clothing/Mask/gasexplorer.rsi/equipped-MASK-feroxi.png
  Resources/Textures/Clothing/Mask/gasexplorer.rsi/meta.json
  Resources/Textures/Clothing/Mask/gassecurity.rsi/equipped-MASK-feroxi.png
  Resources/Textures/Clothing/Mask/gassecurity.rsi/meta.json
  Resources/Textures/Clothing/Mask/gassyndicate.rsi/equipped-MASK-feroxi.png
  Resources/Textures/Clothing/Mask/gassyndicate.rsi/meta.json
  Resources/Textures/Clothing/Mask/welding-gas.rsi/equipped-MASK-feroxi.png
  Resources/Textures/Clothing/Mask/welding-gas.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/Clothing/Mask/welding-gas.rsi/meta.json
  Resources/Textures/Clothing/Mask/welding-gas.rsi/up-equipped-MASK-feroxi.png
  Resources/Textures/Clothing/Mask/welding-gas.rsi/up-equipped-MASK-vulpkanin.png
Labels: Changes: Sprite

remove broken feroxi clown mask
  Resources/Textures/Clothing/Mask/clown.rsi/equipped-MASK-feroxi.png
  Resources/Textures/Clothing/Mask/clown.rsi/meta.json
Labels: Changes: Sprite

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

Ani Plushie
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Textures/_DEN/Objects/Fun/aniplushie.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/aniplushie.rsi/inhand-leftside.png
  Resources/Textures/_DEN/Objects/Fun/aniplushie.rsi/inhand-rightside.png
  Resources/Textures/_DEN/Objects/Fun/aniplushie.rsi/meta.json
Labels: Changes: Sprite

Ani Plushie
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Textures/_DEN/Objects/Fun/aniplushie.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/aniplushie.rsi/inhand-right.png
Labels: Changes: Sprite

Update toys.yml and cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/toys.yml
Labels: none

forcefield rebalance
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
Labels: none

Forcefield Rebalance (#2705)
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
Labels: none

Automated changelog update (#2705)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Forcefield Rebalance
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
Labels: none

Automated changelog update (#2709)
  Resources/Changelog/Den.yml
Labels: none

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

changed foodsequenceelement
  Resources/Locale/en-US/_DEN/nutrition/components/food-sequence.ftl
  Resources/Prototypes/_DEN/Recipes/Cooking/FoodSequence/mothic_sequence_element.yml
Labels: Changes: Localization

oh my purr
  Resources/Audio/_RMC14/Voice/Reptilian/attributions.yml
  Resources/Audio/_RMC14/Voice/Reptilian/lizard_purr.ogg
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: Changes: Audio

Ani Plushie (#2708)
  Resources/Locale/en-US/_DEN/nutrition/components/food-sequence.ftl
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/toys.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/FoodSequence/mothic_sequence_element.yml
  Resources/Textures/_DEN/Objects/Fun/aniplushie.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/aniplushie.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/aniplushie.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/aniplushie.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Automated changelog update (#2708)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Ani Plushie
  Resources/Locale/en-US/_DEN/nutrition/components/food-sequence.ftl
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/toys.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/FoodSequence/mothic_sequence_element.yml
Labels: Changes: Localization

Make ForceField projectors use a doafter
  Content.Shared/_DV/Holosign/ChargeHolosignProjectorComponent.cs
  Content.Shared/_DV/Holosign/ChargeHolosignSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
Labels: Changes: C#

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

Make ForceField Projectors Use a Doafter (#2712)
  Content.Shared/_DV/Holosign/ChargeHolosignProjectorComponent.cs
  Content.Shared/_DV/Holosign/ChargeHolosignSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
Labels: Changes: C#

Automated changelog update (#2712)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Make ForceField Projectors Use a Doafter
  Content.Shared/_DV/Holosign/ChargeHolosignProjectorComponent.cs
  Content.Shared/_DV/Holosign/ChargeHolosignSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
Labels: Changes: C#

this fails type checking
  Content.Client/_DEN/DumpPrototypes/DumpPrototypesCommand.cs
Labels: Changes: C#

format it differently
  Content.Client/_DEN/DumpPrototypes/DumpPrototypesCommand.cs
Labels: Changes: C#

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

base shader
  Resources/Prototypes/_DEN/Shaders/debug.yml
  Resources/Prototypes/_DEN/Shaders/shaders.yml
  Resources/Textures/_DEN/Shaders/oil_spill.swsl
Labels: none

add params
  Resources/Prototypes/_DEN/Shaders/shaders.yml
  Resources/Textures/_DEN/Shaders/oil_spill.swsl
Labels: none

goo created
  Resources/Prototypes/_DEN/Shaders/debug.yml
  Resources/Prototypes/_DEN/Shaders/shaders.yml
  Resources/Textures/_DEN/Shaders/alien_goo.swsl
Labels: none

a lot of dead weight from experimenting, trim out before pushing
  Resources/Prototypes/_DEN/Shaders/shaders.yml
  Resources/Textures/_DEN/Shaders/alien_goo.swsl
Labels: none

Reptilian (Unathi) Purring From RMC14 (#2711)
  Resources/Audio/_RMC14/Voice/Reptilian/attributions.yml
  Resources/Audio/_RMC14/Voice/Reptilian/lizard_purr.ogg
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: Changes: Audio

Automated changelog update (#2711)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Reptilian (Unathi) Purring From RMC14
  Resources/Audio/_RMC14/Voice/Reptilian/attributions.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: none

add alien goo shader
  Resources/Prototypes/_DEN/Shaders/shaders.yml
  Resources/Textures/_DEN/Shaders/alien_goo.swsl
Labels: none

improve the debugging tools and fix linter error
  Resources/Prototypes/_DEN/Shaders/debug.yml
  Resources/Prototypes/_DEN/Shaders/shaders.yml
  Resources/Textures/_DEN/Shaders/alien_goo.swsl
Labels: none

clean up attributions
  Resources/Textures/_DEN/Shaders/alien_goo.swsl
Labels: none

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

Alien Goo (#2717)
  Resources/Prototypes/_DEN/Shaders/debug.yml
  Resources/Prototypes/_DEN/Shaders/shaders.yml
  Resources/Textures/_DEN/Shaders/alien_goo.swsl
  Resources/Textures/_DEN/Shaders/oil_spill.swsl
Labels: none
