Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

Revert "make explicitly voteable"
  Resources/Prototypes/game_presets.yml
Labels: none

Revert "make infection do genetic damage, remove genetic damage from PFactory"
  Content.Shared/Zombies/ZombieTumorInfectionComponent.cs
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: C#

Revert "fix zombie preset"
  Resources/Prototypes/game_presets.yml
Labels: none

Revert "guidebook updates"
  Resources/ServerInfo/Guidebook/Antagonist/Zombies.xml
Labels: Changes: Documentation

Revert "zombies heal when dead"
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Server/Zombies/ZombieTumorOrganSystem.cs
Labels: Changes: C#

Revert "try to unzombify after tumor removal"
  Content.Server/Zombies/ZombieTumorOrganSystem.cs
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: Changes: C#

Revert "funky parity?"
  Content.Shared/_Shitmed/Surgery/Conditions/SurgeryOrganConditionComponent.cs
Labels: Changes: C#

Revert "Newzeds guidebook (#2618)"
  Resources/ServerInfo/Guidebook/Antagonist/Zombies.xml
Labels: Changes: Documentation

Revert "Zombie surgery bugfix (#2342)"
  Content.Client/Zombies/ZombieSystem.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Server/Zombies/ZombieTumorOrganSystem.cs
  Content.Shared/Zombies/ZombieTumorInfectionComponent.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/StatusIcon/faction.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgeries.yml
  Resources/Prototypes/game_presets.yml
  Resources/Textures/_Funkystation/Interface/Misc/zombie_job_icons.rsi/Stage1.png
  Resources/Textures/_Funkystation/Interface/Misc/zombie_job_icons.rsi/Stage2.png
  Resources/Textures/_Funkystation/Interface/Misc/zombie_job_icons.rsi/Stage3.png
  Resources/Textures/_Funkystation/Interface/Misc/zombie_job_icons.rsi/Stage4.png
  Resources/Textures/_Funkystation/Interface/Misc/zombie_job_icons.rsi/Stage5.png
  Resources/Textures/_Funkystation/Interface/Misc/zombie_job_icons.rsi/meta.json
Labels: Changes: C#, Changes: Sprite

Revert "cleanup from initial cherrypick"
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Content.Server/EntityEffects/Effects/CureZombieInfection.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Server/Zombies/ZombieTumorOrganSystem.cs
  Resources/Prototypes/Chemistry/metabolizer_types.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgeries.yml
Labels: Changes: C#

Revert "Zombie tumor system (#2201)"
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Content.Server/EntityEffects/Effects/CureZombieInfection.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Server/Zombies/ZombieTumorOrganSystem.cs
  Content.Shared/Zombies/SharedZombieTumorOrganSystem.cs
  Content.Shared/Zombies/ZombieTumorImmuneComponent.cs
  Content.Shared/Zombies/ZombieTumorInfectionComponent.cs
  Content.Shared/Zombies/ZombieTumorOrganComponent.cs
  Content.Shared/Zombies/ZombieTumorSpawnerComponent.cs
  Content.Shared/_Shitmed/Surgery/Conditions/SurgeryOrganPrototypeConditionComponent.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.cs
  Resources/Locale/en-US/_Shitmed/surgery/surgery-popup.ftl
  Resources/Locale/en-US/metabolism/metabolizer-types.ftl
  Resources/Locale/en-US/zombies/zombie.ftl
  Resources/Prototypes/Chemistry/metabolizer_types.yml
  Resources/Prototypes/Entities/Body/Organs/zombie_tumor.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgeries.yml
  Resources/Textures/_Funkystation/Objects/Specific/Medical/zombietumor.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Specific/Medical/zombietumor.rsi/zombierobotumor-inhand-left.png
  Resources/Textures/_Funkystation/Objects/Specific/Medical/zombietumor.rsi/zombierobotumor-inhand-right.png
  Resources/Textures/_Funkystation/Objects/Specific/Medical/zombietumor.rsi/zombierobotumor.png
  Resources/Textures/_Funkystation/Objects/Specific/Medical/zombietumor.rsi/zombietumor-inhand-left.png
  Resources/Textures/_Funkystation/Objects/Specific/Medical/zombietumor.rsi/zombietumor-inhand-right.png
  Resources/Textures/_Funkystation/Objects/Specific/Medical/zombietumor.rsi/zombietumor.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite

fix antag window
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
Labels: Changes: C#

but with correct casing
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
Labels: Changes: C#

at long last
  Resources/Audio/_SHA/scrape.ogg
  Resources/Locale/en-US/_SHA/everything.ftl
  Resources/Locale/en-US/items/components/item-component.ftl
  Resources/Locale/en-US/reflect/reflect-component.ftl
  Resources/Locale/en-US/weapons/ranged/recharge-basic-entity-ammo.ftl
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_SHA/Effects/arcs.rsi/meta.json
  Resources/Textures/_SHA/Effects/arcs.rsi/punchgreen.png
  Resources/Textures/_SHA/Effects/arcs.rsi/smashgreen.png
  Resources/Textures/_SHA/Heretic/break-64x.rsi/invisible.png
  Resources/Textures/_SHA/Heretic/break-64x.rsi/meta.json
  Resources/Textures/_SHA/Heretic/break-96x.rsi/invisible.png
  Resources/Textures/_SHA/Heretic/break-96x.rsi/meta.json
  Resources/Textures/_SHA/Heretic/break-96x.rsi/ritual-mirror-fast-break.png
  Resources/Textures/_SHA/Heretic/break-96x.rsi/ritual-mirror-fast-soul.png
  Resources/Textures/_SHA/Heretic/break-96x.rsi/soul-eyes-faint.png
  Resources/Textures/_SHA/Heretic/break-96x.rsi/soul-faint.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/meta.json
  Resources/Textures/_SHA/Misc/misc.rsi/icon-light.png
  Resources/Textures/_SHA/Misc/misc.rsi/icon-sound1.png
  Resources/Textures/_SHA/Misc/misc.rsi/icon-sound2.png
  Resources/Textures/_SHA/Misc/misc.rsi/icon-storage.png
  Resources/Textures/_SHA/Misc/misc.rsi/icon.png
  Resources/Textures/_SHA/Misc/misc.rsi/label-light.png
  Resources/Textures/_SHA/Misc/misc.rsi/label-sound1.png
  Resources/Textures/_SHA/Misc/misc.rsi/label-sound2.png
  Resources/Textures/_SHA/Misc/misc.rsi/label-sound3.png
  Resources/Textures/_SHA/Misc/misc.rsi/label-storage.png
  Resources/Textures/_SHA/Misc/misc.rsi/label.png
  Resources/Textures/_SHA/Misc/misc.rsi/meta.json
  Resources/Textures/_SHA/Misc/misc.rsi/wrap.png
Labels: Changes: Audio, Changes: Localization, Changes: Sprite

and done with toys
  Resources/Prototypes/_SHA/everything.yml
Labels: none

update REUSE headers from: Revert #2417
  Content.Client/Zombies/ZombieSystem.cs
  Content.Server/EntityEffects/Effects/CureZombieInfection.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Server/Zombies/ZombieSystem.cs
  Resources/Locale/en-US/metabolism/metabolizer-types.ftl
  Resources/Locale/en-US/zombies/zombie.ftl
  Resources/Prototypes/Chemistry/metabolizer_types.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/StatusIcon/faction.yml
  Resources/ServerInfo/Guidebook/Antagonist/Zombies.xml
Labels: Changes: C#, Changes: Documentation, Changes: Localization

[BOUNTY] Fix Typing Indicator Changes (#2583)
  Content.Shared/Chat/TypingIndicator/SharedTypingIndicatorSystem.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorComponent.cs
Labels: Changes: C#

Automated changelog update (#2583)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: [BOUNTY] Fix Typing Indicator Changes
  Content.Shared/Chat/TypingIndicator/SharedTypingIndicatorSystem.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorComponent.cs
Labels: Changes: C#

Add Simple Prefix-Suffix Accent (#2579)
  Content.Server/_DEN/Speech/Components/PrefixSuffixAccentComponent.cs
  Content.Server/_DEN/Speech/EntitySystems/PrefixSuffixAccentSystem.cs
Labels: Changes: C#

Automated changelog update (#2579)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Add Simple Prefix-Suffix Accent
  Content.Server/_DEN/Speech/Components/PrefixSuffixAccentComponent.cs
  Content.Server/_DEN/Speech/EntitySystems/PrefixSuffixAccentSystem.cs
Labels: Changes: C#

Poker Chips are Now Spawnable (#433)
  Resources/Locale/en-US/_TheDen/stack/stacks.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/games.yml
  Resources/Prototypes/Entities/Objects/Fun/poker_chips.yml
  Resources/Prototypes/_TheDen/Stacks/Fun/poker_stacks.yml
  Resources/Prototypes/_WF/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/_WF/Entities/Objects/Storage/toolbox.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_2.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_3.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_4.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/chip_5.png
  Resources/Textures/Objects/Fun/poker_chips.rsi/meta.json
  Resources/Textures/_WF/Objects/Storage/pokerchipcase.rsi/icon-open.png
  Resources/Textures/_WF/Objects/Storage/pokerchipcase.rsi/icon.png
  Resources/Textures/_WF/Objects/Storage/pokerchipcase.rsi/inhand-left.png
  Resources/Textures/_WF/Objects/Storage/pokerchipcase.rsi/inhand-right.png
  Resources/Textures/_WF/Objects/Storage/pokerchipcase.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Update events.yml
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
Labels: none

[TWEAK]: Adjusted Down Glimmer Level for Events (#2578)
  Content.Shared/_DEN/Skia/SkiaComponent.cs
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
  Resources/Prototypes/_DEN/Entities/Mobs/NPCs/glimmer_creatures.yml
  Resources/Prototypes/_DEN/GameRules/events.yml
  Resources/Prototypes/_DV/GameRules/events.yml
Labels: Changes: C#

Automated changelog update (#2578)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: [TWEAK]: Adjusted Down Glimmer Level for Events
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
  Resources/Prototypes/_DEN/GameRules/events.yml
Labels: none

Buff Pan Flute & Ocarina (You Can Put Them on Your Neck Now) (#2515)
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_wind.yml
Labels: none

Automated changelog update (#2515)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Buff Pan Flute & Ocarina (You Can Put Them on Your Neck Now)
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_wind.yml
Labels: none

Mapping Patriarch touches YAML (Real?)
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
Labels: none

Mapping Patriarch Touches YAML (Real?) (#2588)
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
Labels: none

update REUSE headers from: Mapping Patriarch Touches YAML (Real?)
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
Labels: none

Update dingo.yml
  Resources/Maps/TheDen/dingo.yml
Labels: Changes: Map

.
  Resources/Migrations/migration.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/chairs.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Decals/somber_electrum.rsi/icon-unshaded.png
  Resources/Textures/_DEN/Structures/Furniture/chairs.rsi/meta.json
  Resources/Textures/_DEN/Structures/Furniture/chairs.rsi/somberfloorcushion-blue.png
  Resources/Textures/_DEN/Structures/Furniture/chairs.rsi/somberfloorcushion-bluepink.png
  Resources/Textures/_DEN/Structures/Furniture/chairs.rsi/somberfloorcushion-pink.png
  Resources/Textures/_DEN/Structures/Furniture/chairs.rsi/somberfloorcushion-pinkblue.png
  Resources/Textures/_DEN/Structures/Furniture/chairs.rsi/somberfloorcushion-underlay-unshaded1.png
  Resources/Textures/_DEN/Structures/Furniture/chairs.rsi/somberfloorcushion-underlay-unshaded2.png
  Resources/Textures/_DEN/Structures/Furniture/chairs.rsi/somberfloorcushion-underlay.png
  Resources/Textures/_DEN/Structures/Furniture/chairs.rsi/somberfloorcushion.png
  Resources/Textures/_SHA/Structures/Furniture/chairs.rsi/meta.json
  Resources/Textures/_SHA/Structures/Furniture/chairs.rsi/somberfloorcushionfancy.png
Labels: Changes: Sprite

Normalized thaven asphyxiation speed
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/thaven.yml
Labels: none

:3
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

added Onivia to the species list
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/eyes.yml
Labels: none

Final Bugfixes for Edge Real Not Fake Merge Immediately (#2591)
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

update REUSE headers from: Final Bugfixes for Edge Real Not Fake Merge Immediately
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
