Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

Wagging Long Bat Tail for Real This Time (#2520)
  Resources/Locale/en-US/_DEN/markings/tails.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/fixedskyrattailsanimated.yml
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/m_tail_batl_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/m_tail_batl_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/m_tail_batl_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/m_tail_batl_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/m_waggingtail_batl_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/m_waggingtail_batl_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/m_waggingtail_batl_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/m_waggingtail_batl_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Automated changelog update (#2532)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Epic Reference
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/Cyberlimbs/aeon.yml
Labels: none

Automated changelog update (#2520)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Wagging Long Bat Tail for Real This Time
  Resources/Locale/en-US/_DEN/markings/tails.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/fixedskyrattailsanimated.yml
Labels: Changes: Localization

only gib things that have a mind
  Content.Shared/Kitchen/SharedKitchenSpikeSystem.cs
Labels: Changes: C#

MAP
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

fixes
  Resources/Audio/_DEN/Weapons/Guns/Gunshots/EnergyGun/attributions.yml
  Resources/Prototypes/_DEN/SoundCollections/Weapons/Gunshots/energy.yml
Labels: none

captain antique too
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: none

ERP V2.13 (#2539)
  Den/Den.sln
  Den/Den/Den.csproj
  Den/Den/Program.cs
  Resources/Maps/TheDen/edge.yml
Labels: Changes: C#, Changes: Map

Automated changelog update (#2539)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: ERP V2.13
  Den/Den/Program.cs
  Resources/Maps/TheDen/edge.yml
Labels: Changes: C#, Changes: Map

remove conspirators from even more antags
  Resources/Prototypes/_DEN/game_presets.yml
Labels: none

Arena Evac Shuttle and Glacier QoL
  Resources/Maps/Shuttles/_DV/NTES_UCLB.yml
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: Map

[FIX]: Remove Conspirators From Even More Antags (#2540)
  Resources/Prototypes/_DEN/game_presets.yml
Labels: none

Automated changelog update (#2540)
  Resources/Changelog/Den.yml
Labels: none

Arena Evac Shuttle and Glacier QoL (#2541)
  Resources/Maps/Shuttles/_DV/NTES_UCLB.yml
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: Map

Automated changelog update (#2541)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Arena Evac Shuttle and Glacier QoL
  Resources/Maps/Shuttles/_DV/NTES_UCLB.yml
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: Map

faust touchups
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatsword-inhands-64x.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatsword-inhands-64x.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatsword-inhands-64x.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatsword-inhands-64x.rsi/wielded-inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatsword-inhands-64x.rsi/wielded-inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatsword.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatsword.rsi/meta.json
  Resources/Textures/_DEN/Structures/Specific/Chapel/somber-church-bell.rsi/church-bell.png
Labels: Changes: Sprite

Faust Improvements
  Resources/Audio/_DEN/Weapons/Melee/fausthit.ogg
  Resources/Audio/_DEN/Weapons/Melee/faustmiss.ogg
  Resources/Audio/_DEN/Weapons/Melee/faustsheath.ogg
  Resources/Audio/_DEN/Weapons/Melee/faustunsheath.ogg
  Resources/Audio/_DEN/Weapons/Melee/faustunwield.ogg
  Resources/Audio/_DEN/Weapons/Melee/faustwield.ogg
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatsword-inhands-64x.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatsword-inhands-64x.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatsword-inhands-64x.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatsword-inhands-64x.rsi/wielded-inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatsword-inhands-64x.rsi/wielded-inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatsword.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatsword.rsi/meta.json
Labels: Changes: Audio, Changes: Sprite

Faust Improvements (#2542)
  Resources/Audio/_DEN/Weapons/Melee/fausthit.ogg
  Resources/Audio/_DEN/Weapons/Melee/faustmiss.ogg
  Resources/Audio/_DEN/Weapons/Melee/faustsheath.ogg
  Resources/Audio/_DEN/Weapons/Melee/faustunsheath.ogg
  Resources/Audio/_DEN/Weapons/Melee/faustunwield.ogg
  Resources/Audio/_DEN/Weapons/Melee/faustwield.ogg
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatsword-inhands-64x.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatsword-inhands-64x.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatsword-inhands-64x.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatsword-inhands-64x.rsi/wielded-inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatsword-inhands-64x.rsi/wielded-inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatsword.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatsword.rsi/meta.json
Labels: Changes: Audio, Changes: Sprite

Automated changelog update (#2542)
  Resources/Changelog/Den.yml
Labels: none

[TWEAK]: Meatspikes only Gib Entities that Have a Mind (#2538)
  Content.Shared/Kitchen/SharedKitchenSpikeSystem.cs
Labels: Changes: C#

Automated changelog update (#2538)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: [TWEAK]: Meatspikes only Gib Entities that Have a Mind
  Content.Shared/Kitchen/SharedKitchenSpikeSystem.cs
Labels: Changes: C#

bwah
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/toys.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/FoodSequence/mothic_sequence_element.yml
  Resources/Textures/_DEN/Objects/Fun/inkdropplushie.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/inkdropplushie.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/inkdropplushie.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/inkdropplushie.rsi/meta.json
Labels: Changes: Sprite

added ftl entry
  Resources/Locale/en-US/_DEN/nutrition/components/food-sequence.ftl
Labels: Changes: Localization

vox hair+facial hair
  Resources/Locale/en-US/accessories/vox-facial-hair.ftl
  Resources/Locale/en-US/accessories/vox-hair.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/vox_facial_hair.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/vox_hair.yml
  Resources/Textures/Mobs/Customization/vox_facial_hair.rsi/manesmall_s.png
  Resources/Textures/Mobs/Customization/vox_facial_hair.rsi/meta.json
  Resources/Textures/Mobs/Customization/vox_facial_hair.rsi/tuft_s.png
  Resources/Textures/Mobs/Customization/vox_hair.rsi/bushy_s.png
  Resources/Textures/Mobs/Customization/vox_hair.rsi/catfish_s.png
  Resources/Textures/Mobs/Customization/vox_hair.rsi/hedgehog_s.png
  Resources/Textures/Mobs/Customization/vox_hair.rsi/mad_scientist_s.png
  Resources/Textures/Mobs/Customization/vox_hair.rsi/meta.json
  Resources/Textures/Mobs/Customization/vox_hair.rsi/slick_s.png
  Resources/Textures/Mobs/Customization/vox_hair.rsi/spotty_s.png
  Resources/Textures/Mobs/Customization/vox_hair.rsi/wise_braid_s.png
Labels: Changes: Localization, Changes: Sprite

fix speciesRestriction label
  Resources/Prototypes/Entities/Mobs/Customization/Markings/vox_hair.yml
Labels: none

hm
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_SHA/everything.yml
Labels: none

Fix AllowedStates referencing the same HashSet
  Content.Server/_DEN/Psionics/NoosphereVulnurabilitySystem.cs
  Content.Shared/_DEN/Traits/NoosphereVulnerabilityComponent.cs
Labels: Changes: C#

Mantis Gear Polish
  Resources/Locale/en-US/_DEN/foldable/components/foldable-component.ftl
  Resources/Prototypes/_DEN/Entities/Clothing/Back/back.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/chairs.yml
  Resources/Textures/_DEN/Clothing/Back/Backpacks/mantis.rsi/flipped-equipped-BACKPACK-thaven.png
  Resources/Textures/_DEN/Clothing/Back/Backpacks/mantis.rsi/flipped-equipped-BACKPACK.png
  Resources/Textures/_DEN/Clothing/Back/Backpacks/mantis.rsi/icon-flipped.png
  Resources/Textures/_DEN/Clothing/Back/Duffels/mantis.rsi/flipped-equipped-BACKPACK-thaven.png
  Resources/Textures/_DEN/Clothing/Back/Duffels/mantis.rsi/flipped-equipped-BACKPACK.png
  Resources/Textures/_DEN/Clothing/Back/Duffels/mantis.rsi/icon-flipped.png
  Resources/Textures/_DEN/Clothing/Back/Messenger/mantis.rsi/flipped-equipped-BACKPACK-thaven.png
  Resources/Textures/_DEN/Clothing/Back/Messenger/mantis.rsi/flipped-equipped-BACKPACK.png
  Resources/Textures/_DEN/Clothing/Back/Messenger/mantis.rsi/icon-flipped.png
  Resources/Textures/_DEN/Clothing/Back/Misc/mantis-sarcophagus.rsi/equipped-SUITSTORAGE-thaven.png
  Resources/Textures/_DEN/Clothing/Back/Misc/mantis-sarcophagus.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Clothing/Back/Misc/mantis-sarcophagus.rsi/flipped-equipped-SUITSTORAGE-thaven.png
  Resources/Textures/_DEN/Clothing/Back/Misc/mantis-sarcophagus.rsi/flipped-equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath.rsi/flipped-equipped-SUITSTORAGE-thaven.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath.rsi/flipped-equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath.rsi/icon-flipped.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Make invalid traits a warning instead of an assert.
  Content.Server/Traits/TraitSystem.cs
Labels: Changes: C#

Inkdrop Admin Plushie (#2543)
  Resources/Locale/en-US/_DEN/nutrition/components/food-sequence.ftl
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/toys.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/FoodSequence/mothic_sequence_element.yml
  Resources/Textures/_DEN/Objects/Fun/inkdropplushie.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/inkdropplushie.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/inkdropplushie.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/inkdropplushie.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Automated changelog update (#2543)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Inkdrop Admin Plushie
  Resources/Locale/en-US/_DEN/nutrition/components/food-sequence.ftl
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/toys.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/FoodSequence/mothic_sequence_element.yml
Labels: Changes: Localization

ok back to it
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath.rsi/flipped-equipped-SUITSTORAGE-thaven.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath.rsi/flipped-equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath.rsi/icon-flipped.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath.rsi/meta.json
Labels: Changes: Sprite

asdf
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
Labels: none

Fix Mousetraps
  Content.Shared/StepTrigger/Systems/StepTriggerImmuneSystem.cs
Labels: Changes: C#

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
