Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

chore: automatically update REUSE headers
  Resources/Prototypes/_DEN/random_presets.yml
Labels: none

fix: error on test
  Content.IntegrationTests/Tests/Preferences/ServerDbSqliteTests.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: Changes: C#

chore: automatically update REUSE headers
  Content.IntegrationTests/Tests/Preferences/ServerDbSqliteTests.cs
Labels: Changes: C#

increased SAN event spawn chance 3.5 => 5, earliest start to 60
  Resources/Prototypes/_EE/Gamerules/SANDeserters.yml
Labels: none

chore: automatically update REUSE headers
  Resources/Prototypes/_EE/Gamerules/SANDeserters.yml
Labels: none

Turrets Shoot Laying Down People (#2427)
  Content.Server/NPC/Components/NPCRangedCombatComponent.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Combat/Ranged/GunOperator.cs
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
Labels: Changes: C#

chore: automatically update REUSE headers
  Content.Server/NPC/Components/NPCRangedCombatComponent.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Combat/Ranged/GunOperator.cs
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
Labels: Changes: C#

Bro.
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#

changed admin chat to green
  Content.Shared/Chat/ChatChannelExtensions.cs
Labels: Changes: C#

chore: automatically update REUSE headers
  Content.Shared/Chat/ChatChannelExtensions.cs
Labels: Changes: C#

fix heirloom loadout crash
  Content.Shared/Clothing/Loadouts/Systems/SharedLoadoutSystem.cs
Labels: Changes: C#

chore: automatically update REUSE headers
  Content.Shared/Clothing/Loadouts/Systems/SharedLoadoutSystem.cs
Labels: Changes: C#

fix indent on this component
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Labels: none

chore: automatically update REUSE headers
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Labels: none

give clown, mime, and martial artist service access
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/martialartist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
Labels: none

chore: automatically update REUSE headers
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/martialartist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
Labels: none

Add The Game to mail. You are welcome.
  Resources/Prototypes/_DEN/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/_DV/Mail/mailDeliveries.yml
Labels: none

chore: automatically update REUSE headers
  Resources/Prototypes/_DEN/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/_DV/Mail/mailDeliveries.yml
Labels: none

remove service access from sec
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: none

chore: automatically update REUSE headers
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: none

adding new clown mask
  Resources/Locale/en-US/_Impstation/foldable/foldable-component.ftl
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/equipped-MASK-hamster.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/equipped-MASK-vox.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/equipped-MASK.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/icon-wigless.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/wigless-equipped-MASK-hamster.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/wigless-equipped-MASK-reptilian.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/wigless-equipped-MASK-vox.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/wigless-equipped-MASK-vulpkanin.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/wigless-equipped-MASK.png
Labels: Changes: Localization, Changes: Sprite

Made the AMG Coat printable
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/uniform_printer.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/clothing.yml
Labels: none

chore: automatically update REUSE headers
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/uniform_printer.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/clothing.yml
Labels: none

advertise channel!
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
  Content.Shared/Radio/RadioChannelPrototype.cs
  Resources/Locale/en-US/headset/headset-component.ftl
  Resources/Prototypes/_DEN/radio_channels.yml
  Resources/Prototypes/radio_channels.yml
Labels: Changes: C#, Changes: Localization

chore: automatically update REUSE headers
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
  Content.Shared/Radio/RadioChannelPrototype.cs
  Resources/Prototypes/_DEN/radio_channels.yml
  Resources/Prototypes/radio_channels.yml
Labels: Changes: C#

Update Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
Labels: Changes: C#

Update Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
Labels: Changes: C#

Update Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
Labels: Changes: C#

Test fail fix!
  Content.IntegrationTests/Tests/EncryptionKeys/RemoveEncryptionKeys.cs
Labels: Changes: C#

chore: automatically update REUSE headers
  Content.IntegrationTests/Tests/EncryptionKeys/RemoveEncryptionKeys.cs
Labels: Changes: C#

Dragons Can Emote Again
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: none

chore: automatically update REUSE headers
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: none

No admins count because they can bypass.
  Content.Server/Connection/ConnectionManager.cs
Labels: Changes: C#

I'm a dork
  Resources/Prototypes/_Funkystation/Reagents/Reactions/exotics.yml
Labels: none

chore: automatically update REUSE headers
  Resources/Prototypes/_Funkystation/Reagents/Reactions/exotics.yml
Labels: none

chore: automatically update REUSE headers
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
Labels: none

Reduce weight to 0.2 to increase rarity.
  Resources/Prototypes/_DV/Mail/mailDeliveries.yml
Labels: none

fixed yaml linter and reptilian mask sprite
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/equipped-MASK-reptilian.png
Labels: Changes: Sprite

initial commit
  Resources/Locale/en-US/_DEN/traits/speech.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/miscTraitGroups.yml
  Resources/Prototypes/Traits/speech.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/tags.yml
Labels: Changes: Localization

chore: automatically update REUSE headers
  Resources/Prototypes/CharacterItemGroups/Generic/miscTraitGroups.yml
  Resources/Prototypes/Traits/speech.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/tags.yml
Labels: none
