Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

add human body sprite overlay markings
  Resources/Locale/en-US/_DEN/markings/overlay.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/overlay.yml
Labels: Changes: Localization

Added minimum time requirements for several ghost roles
  Resources/Prototypes/Roles/Antags/Thief.yml
  Resources/Prototypes/Roles/Antags/dragon.yml
  Resources/Prototypes/Roles/Antags/ninja.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Roles/Antags/zombie.yml
  Resources/Prototypes/_DV/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/_EE/Gamerules/SANDeserters.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicators.yml
Labels: none

+2 vox chest markings
  Resources/Prototypes/Species/vox.yml
Labels: none

Hypnoglossy
  Content.Server/Language/LanguageSystem.cs
  Content.Server/_DEN/Language/PsychomandateSpeakerComponent.cs
  Content.Shared/Language/Systems/SharedLanguageSystem.cs
  Resources/Locale/en-US/Floof/hypno.ftl
  Resources/Locale/en-US/_DEN/chat/chat-language.ftl
  Resources/Locale/en-US/_DEN/chat/managers/chat_manager.ftl
  Resources/Locale/en-US/_DEN/language/languages.ftl
  Resources/Locale/en-US/_DEN/psionics/psionic-powers.ftl
  Resources/Locale/en-US/_DEN/traits/misc.ftl
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Prototypes/Traits/inconveniences.yml
  Resources/Prototypes/Traits/mental.yml
  Resources/Prototypes/_DEN/Language/Species-Specific/vox.yml
  Resources/Prototypes/_DEN/Language/genericlanguages.yml
  Resources/Prototypes/_DEN/Psionics/psionics.yml
  Resources/Prototypes/_DEN/Traits/languages.yml
  Resources/Prototypes/_DEN/Traits/mental.yml
Labels: Changes: C#, Changes: Localization

fix speech verbs
  Resources/Prototypes/_DEN/Language/genericlanguages.yml
Labels: none

update inspect
  Resources/Locale/en-US/_DEN/traits/misc.ftl
Labels: Changes: Localization

the borg army is coming meow
  Content.Server/_Shitmed/Medical/Surgery/SurgerySystem.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.cs
  Content.Shared/_Shitmed/Surgery/SurgeryTargetComponent.cs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
Labels: Changes: C#

the esoteric nature of build tests perplexes me
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
Labels: none

Update janitor.yml
  Resources/Prototypes/Loadouts/Jobs/Service/janitor.yml
Labels: none

switch priority of lick and kiss objects
  Resources/Prototypes/_DEN/Interactions/object_interactions.yml
Labels: none

add base interaction verb prototypes
  Resources/Prototypes/_DEN/Entities/base_verbs.yml
Labels: none

apply base interaction verb inheritance to prototypes
  Resources/Prototypes/Entities/Objects/Consumable/Food/food_base.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/flare_gun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/armblade.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/chainsaw.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cult.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/gohei.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/needle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sledgehammer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/telescopic_baton.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/white_cane.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Prototypes/_DEN/VASH/Entities/Objects/bleeders.yml
  Resources/Prototypes/_DEN/VASH/Entities/Objects/condoms.yml
  Resources/Prototypes/_DEN/VASH/Entities/Objects/sexlube.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Crossbow/crossbow.yml
Labels: none

add interaction verbs to a shitton of things
  Resources/Prototypes/Entities/Structures/Decoration/mannequin.yml
  Resources/Prototypes/Entities/Structures/Decoration/statues.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/frame.yml
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/Entities/Structures/Machines/flatpacker.yml
  Resources/Prototypes/Entities/Structures/Machines/jukebox.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/microwave.yml
  Resources/Prototypes/Entities/Structures/Machines/nuke.yml
  Resources/Prototypes/Entities/Structures/Machines/recycler.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/ame.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/generators.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/teg.yml
  Resources/Prototypes/Entities/Structures/Specific/oracle.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/sophicscribe.yml
Labels: none

oops
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cane.yml
Labels: none

oops
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
Labels: none

MORE
  Resources/Prototypes/Entities/Structures/Power/Generation/generators.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/solar.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/base_structuresigns.yml
  Resources/Prototypes/_DEN/Entities/base_verbs.yml
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/autodoc.yml
Labels: none

fix microwave verbs
  Resources/Prototypes/Entities/Structures/Machines/base_structuremachines.yml
  Resources/Prototypes/Entities/Structures/Machines/microwave.yml
Labels: none

remove redundancy
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/Entities/Structures/Machines/flatpacker.yml
  Resources/Prototypes/Entities/Structures/Machines/jukebox.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/recycler.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/autodoc.yml
Labels: none

inital commit with adding sprite overlays and marking limits on hair for moths
  Resources/Prototypes/Species/moth.yml
Labels: none

Added Den comments for where changes in moth file happened
  Resources/Prototypes/Species/moth.yml
Labels: none

Fixes to Map and Things
  Resources/Maps/TheDen/eternity.yml
  Resources/Maps/TheDen/infinity.yml
  Resources/Prototypes/Maps/eternity.yml
  Resources/Prototypes/Maps/infinity.yml
Labels: Changes: Map

add interaction verbs to mechs and the singulo/tesla
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/generator.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/energyball.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/generator.yml
Labels: none

Update gravel.yml
  Resources/Maps/TheDen/gravel.yml
Labels: Changes: Map

reduce cost of CQC by 20 TC
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
Labels: none

death
  Resources/Maps/TheDen/gravel.yml
Labels: Changes: Map

Begone THOT
  Resources/Prototypes/_Lavaland/Procedural/ruin_pools.yml
Labels: none

remove solarian racism
  Resources/ServerInfo/Guidebook/Lore/Nations/SolAlliance.xml
Labels: Changes: Documentation

ruleset rewrite
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRuleset.xml
Labels: Changes: Documentation

MAKE HIGH DANGER REQUIRE A MINIMUM OF 40 PLAYERS
  Resources/Prototypes/_DEN/game_presets.yml
Labels: none

meow
  Resources/Locale/en-US/_DEN/catalog/fills/paper/document.ftl
  Resources/Locale/en-US/_DEN/paper/doc-printer.ftl
  Resources/Prototypes/_DEN/Catalog/Fills/Paper/document.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/document_printer.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/printer.yml
Labels: Changes: Localization

let moths eat candy
  Resources/Prototypes/Body/Organs/moth.yml
Labels: none

extra denu stuff
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRuleset.xml
Labels: Changes: Documentation

Fixes layering
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/underwear.yml
Labels: none

LOCK OFF SURVIVAL AND EVEN MORE ANTAGS TOO
  Resources/Prototypes/_DEN/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: none

remove denu text
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRuleset.xml
Labels: Changes: Documentation

whitespacing.........
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRuleset.xml
Labels: Changes: Documentation

Update Resources/ServerInfo/Guidebook/ServerRules/DefaultRuleset.xml
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRuleset.xml
Labels: Changes: Documentation

Update Resources/ServerInfo/Guidebook/ServerRules/DefaultRuleset.xml
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRuleset.xml
Labels: Changes: Documentation

formatting
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRuleset.xml
Labels: Changes: Documentation

junegestion
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRuleset.xml
Labels: Changes: Documentation

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
