Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

make sure these don't spawn in dorms
  Resources/Prototypes/_DEN/GameRules/events.yml
Labels: none

[TWEAK]: Added 4 New Conspiracy Objectives, Retired 1 Conspiracy Objective. (#2577)
  Resources/Prototypes/_DEN/Objectives/conspirator.yml
  Resources/Prototypes/_Harmony/Objectives/objectiveGroups.yml
Labels: none

Automated changelog update (#2577)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: [TWEAK]: Added 4 New Conspiracy Objectives, Retired 1 Conspiracy Objective.
  Resources/Prototypes/_DEN/Objectives/conspirator.yml
Labels: none

add simple prefix-suffix accent
  Content.Server/_DEN/Speech/Components/PrefixSuffixAccentComponent.cs
  Content.Server/_DEN/Speech/EntitySystems/PrefixSuffixAccentSystem.cs
Labels: Changes: C#

adjusted the colors again
  Resources/Textures/_DEN/Objects/Tiles/eighties.rsi/eighties.png
  Resources/Textures/_DEN/Tiles/eighties.png
Labels: Changes: Sprite

Marking expansion
  Resources/Prototypes/Entities/Mobs/Customization/Markings/base.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
  Resources/Prototypes/_ADT/Mobs/Customization/custom/Human_tattoos.yml
  Resources/Prototypes/_ADT/Mobs/Customization/demon/demon.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/base.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/eyes.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/kemonomimi_limbs.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/nipplepiercings.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/shadowkinmarks.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/vulpkaninmarks.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/Oni_horns.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/feroxi.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/rodentia.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Prototypes/_EE/Entities/Mobs/Customization/Markings/tajaran.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro_ears.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro_tails.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/tails.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/underwear.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/bodyhair.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/humanoid.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc2.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/scars.yml
Labels: none

more bleed stages + more damage types + rephrasings
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Shared/HealthExaminable/HealthExaminableComponent.cs
  Content.Shared/Traits/Assorted/Components/SelfAwareComponent.cs
  Resources/Locale/en-US/bloodstream/bloodstream.ftl
  Resources/Locale/en-US/health-examinable/health-examinable-carbon.ftl
  Resources/Locale/en-US/health-examinable/health-examinable-selfaware.ftl
  Resources/Locale/en-US/health-examinable/health-examinable-silicon.ftl
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: Changes: C#, Changes: Localization

lil tweak
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/base.yml
Labels: none

FINALLY.
  Resources/Audio/_SHA/soulscream+ascendfleshlong.ogg
  Resources/Audio/_SHA/soulscreamlong+ascendfleshlong.ogg
  Resources/Audio/_SHA/soultalk5.ogg
  Resources/Audio/_SHA/soultalk6.ogg
  Resources/Audio/_SHA/soultalk7.ogg
  Resources/Audio/_SHA/soultalk8.ogg
  Resources/Prototypes/_DEN/Voice/typing_indicator.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Effects/speech.rsi/psionic0.png
  Resources/Textures/_DEN/Effects/speech.rsi/psionic1.png
  Resources/Textures/_DEN/Effects/speech.rsi/psionic2.png
  Resources/Textures/_DEN/Effects/speech.rsi/psionic3.png
  Resources/Textures/_SHA/Effects/speech.rsi/break0.png
  Resources/Textures/_SHA/Effects/speech.rsi/break1.png
  Resources/Textures/_SHA/Effects/speech.rsi/break2.png
  Resources/Textures/_SHA/Effects/speech.rsi/break3.png
  Resources/Textures/_SHA/Effects/speech.rsi/meta.json
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/draw-ritual-mirror.png
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/draw.png
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/icon.png
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/inhand-both-silhouette-black.png
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/meta.json
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/ritual-mirror-instant.png
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/ritual-mirror.png
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/ritual.png
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/soul-cover.png
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/soul-crown.png
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/soul.png
Labels: Changes: Audio, Changes: Sprite

Many many fixes
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

gulp
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

One last edge
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

long time edger, first time pusher
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

fix typing indicator changes
  Content.Shared/Chat/TypingIndicator/SharedTypingIndicatorSystem.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorComponent.cs
Labels: Changes: C#

this should be accessible via VV
  Content.Shared/Chat/TypingIndicator/TypingIndicatorComponent.cs
Labels: Changes: C#

adds consents to becoming a zooombie
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Shared/Devour/SharedDevourSystem.cs
  Resources/Locale/en-US/Blep/consent.ftl
  Resources/Prototypes/_DEN/Consent/consent_groups.yml
  Resources/Prototypes/consent.yml
Labels: Changes: C#, Changes: Localization

8 points electrical burn examine + typo fix in 100 caustic
  Resources/Locale/en-US/health-examinable/health-examinable-carbon.ftl
Labels: Changes: Localization

asdf
  Resources/Audio/_SHA/blood+enterblood.ogg
  Resources/Audio/_SHA/disintegrate.ogg
  Resources/Audio/_SHA/disintegrateinstant.ogg
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/_SHA/everything.yml
Labels: Changes: Audio

typo that kills everything
  Content.Shared/Devour/SharedDevourSystem.cs
Labels: Changes: C#

Automated changelog update (#2581)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Better Visible Wounds
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Shared/HealthExaminable/HealthExaminableComponent.cs
  Content.Shared/Traits/Assorted/Components/SelfAwareComponent.cs
  Resources/Locale/en-US/bloodstream/bloodstream.ftl
  Resources/Locale/en-US/health-examinable/health-examinable-carbon.ftl
  Resources/Locale/en-US/health-examinable/health-examinable-selfaware.ftl
  Resources/Locale/en-US/health-examinable/health-examinable-silicon.ftl
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: Changes: C#, Changes: Localization

Automated changelog update (#2417)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: [PORT]: FunkyStation Zombie Rework
  Content.Client/Zombies/ZombieSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Content.Server/EntityEffects/Effects/CureZombieInfection.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Server/Zombies/ZombieTumorOrganSystem.cs
  Content.Shared/Zombies/SharedZombieTumorOrganSystem.cs
  Content.Shared/Zombies/ZombieTumorImmuneComponent.cs
  Content.Shared/Zombies/ZombieTumorInfectionComponent.cs
  Content.Shared/Zombies/ZombieTumorOrganComponent.cs
  Content.Shared/Zombies/ZombieTumorSpawnerComponent.cs
  Content.Shared/_Shitmed/Surgery/Conditions/SurgeryOrganConditionComponent.cs
  Content.Shared/_Shitmed/Surgery/Conditions/SurgeryOrganPrototypeConditionComponent.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.cs
  Resources/Locale/en-US/Blep/consent.ftl
  Resources/Locale/en-US/_Shitmed/surgery/surgery-popup.ftl
  Resources/Locale/en-US/metabolism/metabolizer-types.ftl
  Resources/Locale/en-US/zombies/zombie.ftl
  Resources/Prototypes/Chemistry/metabolizer_types.yml
  Resources/Prototypes/Entities/Body/Organs/zombie_tumor.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/StatusIcon/faction.yml
  Resources/Prototypes/_DEN/Consent/consent_groups.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgeries.yml
  Resources/Prototypes/consent.yml
  Resources/Prototypes/game_presets.yml
  Resources/ServerInfo/Guidebook/Antagonist/Zombies.xml
Labels: Changes: C#, Changes: Documentation, Changes: Localization

fix test fail
  Content.Shared/Chat/TypingIndicator/TypingIndicatorComponent.cs
Labels: Changes: C#

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

gfsdds
  Resources/Audio/_DEN/Weapons/Melee/fausthit.ogg
  Resources/Audio/_DEN/Weapons/Melee/faustmiss.ogg
  Resources/Audio/_DEN/Weapons/Melee/faustsheath.ogg
  Resources/Audio/_DEN/Weapons/Melee/faustunsheath.ogg
  Resources/Audio/_DEN/Weapons/Melee/faustunwield.ogg
  Resources/Audio/_DEN/Weapons/Melee/faustwield.ogg
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/draw-ritual-mirror.png
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/soul-crown.png
Labels: Changes: Audio, Changes: Sprite

Edge: Post Logi Update Bugfix (#2582)
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

update REUSE headers from: Edge: Post Logi Update Bugfix
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

Update acrux.yml
  Resources/Maps/TheDen/acrux.yml
Labels: Changes: Map

Update acrux.yml
  Resources/Prototypes/Maps/acrux.yml
Labels: Changes: Map

The Great Big Acrux Update Thats Fixes (Mostly) Everything! (#2585)
  Resources/Maps/TheDen/acrux.yml
  Resources/Prototypes/Maps/acrux.yml
Labels: Changes: Map

Automated changelog update (#2585)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: The Great Big Acrux Update Thats Fixes (Mostly) Everything!
  Resources/Maps/TheDen/acrux.yml
Labels: Changes: Map

asdf
  Resources/Audio/_SHA/castsummon+faustunsheath.ogg
  Resources/Audio/_SHA/resonatorblast.ogg
  Resources/Audio/_SHA/rites.ogg
  Resources/Locale/en-US/_SHA/everything.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_SHA/Effects/arcs.rsi/meta.json
  Resources/Textures/_SHA/Effects/arcs.rsi/punch.png
  Resources/Textures/_SHA/Effects/arcs.rsi/smash.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon-grasp-left.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon-grasp-right.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon-grasp-soul-left.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon-grasp-soul-right.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon-grasp.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/meta.json
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-both-grasp-summon.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-both-silhouette-summon.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-left-grasp-summon.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-left-summon.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-right-grasp-summon.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/inhand-right-summon.png
  Resources/Textures/_SHA/Heretic/break_inhands.rsi/meta.json
  Resources/Textures/_SHA/Heretic/grasp_projectiles.rsi/bulletgrasp.png
  Resources/Textures/_SHA/Heretic/grasp_projectiles.rsi/bulletgraspsoul.png
  Resources/Textures/_SHA/Heretic/grasp_projectiles.rsi/impactgrasp.png
  Resources/Textures/_SHA/Heretic/grasp_projectiles.rsi/impactgraspsoul.png
  Resources/Textures/_SHA/Heretic/grasp_projectiles.rsi/meta.json
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/draw-ritual-mirror.png
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/meta.json
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/ritual-mirror-instant.png
  Resources/Textures/_SHA/Misc/misc.rsi/icon.png
  Resources/Textures/_SHA/Misc/misc.rsi/meta.json
  Resources/Textures/_SHA/Objects/Weapons/Melee/Mantis/mantisgreatsword-inhands-64x.rsi/inhand-left-summon.png
  Resources/Textures/_SHA/Objects/Weapons/Melee/Mantis/mantisgreatsword-inhands-64x.rsi/inhand-left.png
  Resources/Textures/_SHA/Objects/Weapons/Melee/Mantis/mantisgreatsword-inhands-64x.rsi/inhand-right-summon.png
  Resources/Textures/_SHA/Objects/Weapons/Melee/Mantis/mantisgreatsword-inhands-64x.rsi/inhand-right.png
  Resources/Textures/_SHA/Objects/Weapons/Melee/Mantis/mantisgreatsword-inhands-64x.rsi/meta.json
  Resources/Textures/_SHA/Objects/Weapons/Melee/Mantis/mantisgreatsword-inhands-64x.rsi/wielded-inhand-left.png
  Resources/Textures/_SHA/Objects/Weapons/Melee/Mantis/mantisgreatsword-inhands-64x.rsi/wielded-inhand-right.png
Labels: Changes: Audio, Changes: Localization, Changes: Sprite

sgfaa
  Resources/Audio/_SHA/castsummonfast.ogg
  Resources/Audio/_SHA/castsummoninstant+faustunsheath.ogg
  Resources/Audio/_SHA/storage.ogg
  Resources/Audio/_SHA/storage1.ogg
  Resources/Audio/_SHA/storage2.ogg
  Resources/Audio/_SHA/storage3.ogg
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_SHA/Heretic/break_icons.rsi/icon-soul-faint.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/meta.json
  Resources/Textures/_SHA/Heretic/break_icons.rsi/soul-eyes-faint.png
  Resources/Textures/_SHA/Heretic/break_icons.rsi/soul-faint.png
  Resources/Textures/_SHA/Heretic/ritual_circle.rsi/meta.json
  Resources/Textures/_SHA/Misc/misc.rsi/icon.png
  Resources/Textures/_SHA/Misc/misc.rsi/invisible.png
  Resources/Textures/_SHA/Misc/misc.rsi/label-light.png
  Resources/Textures/_SHA/Misc/misc.rsi/label-sound1.png
  Resources/Textures/_SHA/Misc/misc.rsi/label-sound2.png
  Resources/Textures/_SHA/Misc/misc.rsi/label-sound3.png
  Resources/Textures/_SHA/Misc/misc.rsi/label-storage.png
  Resources/Textures/_SHA/Misc/misc.rsi/label.png
  Resources/Textures/_SHA/Misc/misc.rsi/meta.json
  Resources/Textures/_SHA/Misc/misc.rsi/wrap.png
Labels: Changes: Audio, Changes: Sprite

asdf
  Resources/Prototypes/_SHA/everything.yml
Labels: none

Revert "typo that kills everything"
  Content.Shared/Devour/SharedDevourSystem.cs
Labels: Changes: C#

Revert "adds consents to becoming a zooombie"
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Shared/Devour/SharedDevourSystem.cs
  Resources/Locale/en-US/Blep/consent.ftl
  Resources/Prototypes/_DEN/Consent/consent_groups.yml
  Resources/Prototypes/consent.yml
Labels: Changes: C#, Changes: Localization

Revert "radiation isn't a damage group"
  Resources/Prototypes/Traits/physical.yml
Labels: none
