Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

drazil, hew juice, wehhew explosion, & wehhew cigarette uncommented
  Content.Server/EntityEffects/Effects/ExplosionReactionEffect.cs
  Resources/Audio/Items/Toys/attributions.yml
  Resources/Audio/Items/Toys/hew.ogg
  Resources/Locale/en-US/chat/emotes.ftl
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/meta/fun.ftl
  Resources/Locale/en-US/reagents/meta/physical-desc.ftl
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/Recipes/Reactions/fun.yml
  Resources/Prototypes/SoundCollections/emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Textures/Interface/Emotes/attributions.yml
  Resources/Textures/Interface/Emotes/hew.png
  Resources/Textures/Objects/Fun/toys.rsi/lizard-inversed-equipped-HELMET.png
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/plushie_lizard_inversed.png
  Resources/Textures/Objects/Fun/toys.rsi/plushielizardinversed-inhand-left.png
  Resources/Textures/Objects/Fun/toys.rsi/plushielizardinversed-inhand-right.png
Labels: Changes: Audio, Changes: C#, Changes: Localization, Changes: Sprite

yml editing
  Resources/Prototypes/_EE/Traits/languages.yml
Labels: none

whoops forgor that bit
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
Labels: none

hibirdstansunny Admin Plushie
  Resources/Locale/en-US/_DEN/nutrition/components/food-sequence.ftl
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/toys.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/FoodSequence/mothic_sequence_element.yml
  Resources/Textures/_DEN/Objects/Fun/agenaplushie.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/agenaplushie.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/agenaplushie.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/agenaplushie.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

agena admin plushie
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
Labels: none

agena admin plushie
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
Labels: none

Add the monochromatic vision trait.
  Content.Client/_DEN/Overlays/MonochromaticVisionOverlay.cs
  Content.Client/_DEN/Overlays/MonochromaticVisionSystem.cs
  Content.Shared/_DEN/Traits/Components/MonochromaticVisionComponent.cs
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Prototypes/_DEN/Traits/Misc/visual.yml
  Resources/Prototypes/_DV/Traits/altvision.yml
Labels: Changes: C#, Changes: Localization

Update Resources/Textures/Clothing/Uniforms/Jumpsuit/rippedpunk.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/rippedpunk.rsi/meta.json
Labels: Changes: Sprite

Update Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/angeldress.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/angeldress.rsi/meta.json
Labels: Changes: Sprite

Small Edits to the Angel Dress and Ripped Punk Jeans (#2602)
  Resources/Textures/Clothing/Uniforms/Jumpsuit/rippedpunk.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/rippedpunk.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/rippedpunk.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/rippedpunk.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/angeldress.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/angeldress.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/angeldress.rsi/meta.json
Labels: Changes: Sprite

Automated changelog update (#2602)
  Resources/Changelog/Den.yml
Labels: none

Buff Autodocs
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/autodoc.yml
Labels: none

Update Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
Labels: none

Update Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
Labels: none

Update Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
Labels: none

Forgot the fix
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/_Shitmed/Surgery/SurgerySpeedModifyEvent.cs
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/autodoc.yml
Labels: Changes: C#

fix pr template and make reuse ignore .github
  .github/PULL_REQUEST_TEMPLATE.md
  Tools/reuse_utilities/reuse_helperfunctions.py
Labels: Changes: Documentation

Hibirdstansunny Admin Plushie (#2637)
  Resources/Locale/en-US/_DEN/nutrition/components/food-sequence.ftl
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/toys.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/FoodSequence/mothic_sequence_element.yml
  Resources/Textures/_DEN/Objects/Fun/agenaplushie.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/agenaplushie.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/agenaplushie.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/agenaplushie.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

Automated changelog update (#2637)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Hibirdstansunny Admin Plushie
  Resources/Locale/en-US/_DEN/nutrition/components/food-sequence.ftl
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/toys.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/FoodSequence/mothic_sequence_element.yml
Labels: Changes: Localization

mute toxin cigs are BACK baby
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
Labels: none

remove comments
  Resources/Prototypes/_Impstation/Catalog/uplink_catalog.yml
Labels: none

quick formatting fix
  Resources/Locale/en-US/_Impstation/store/uplink-catalog.ftl
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/cartons.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
Labels: Changes: Localization

ya
  Resources/Migrations/migration.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/_DEN/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Structures/Storage/Crates/sombercrate.rsi/base.png
  Resources/Textures/_DEN/Structures/Storage/Crates/sombercrate.rsi/closed.png
  Resources/Textures/_DEN/Structures/Storage/Crates/sombercrate.rsi/icon.png
  Resources/Textures/_DEN/Structures/Storage/Crates/sombercrate.rsi/open.png
  Resources/Textures/_DEN/Structures/Storage/Crates/sombercratefloral.rsi/base.png
  Resources/Textures/_DEN/Structures/Storage/Crates/sombercratefloral.rsi/closed.png
  Resources/Textures/_DEN/Structures/Storage/Crates/sombercratefloral.rsi/icon.png
  Resources/Textures/_DEN/Structures/Storage/Crates/sombercratefloral.rsi/lock.png
  Resources/Textures/_DEN/Structures/Storage/Crates/sombercratefloral.rsi/meta.json
  Resources/Textures/_DEN/Structures/Storage/Crates/sombercratefloral.rsi/open.png
  Resources/Textures/_DEN/Structures/Storage/Crates/sombercratefloral.rsi/welded.png
  Resources/Textures/_DEN/Structures/Storage/Crates/sombercrateshadow.rsi/base.png
  Resources/Textures/_DEN/Structures/Storage/Crates/sombercrateshadow.rsi/closed.png
  Resources/Textures/_DEN/Structures/Storage/Crates/sombercrateshadow.rsi/icon.png
  Resources/Textures/_DEN/Structures/Storage/Crates/sombercrateshadow.rsi/lock.png
  Resources/Textures/_DEN/Structures/Storage/Crates/sombercrateshadow.rsi/meta.json
  Resources/Textures/_DEN/Structures/Storage/Crates/sombercrateshadow.rsi/open.png
  Resources/Textures/_DEN/Structures/Storage/Crates/sombercrateshadow.rsi/welded.png
  Resources/Textures/_SHA/Structures/Lighting/LightPosts/lampeidolitefloating.rsi/base.png
  Resources/Textures/_SHA/Structures/Lighting/LightPosts/lampeidolitefloating.rsi/crystal.png
  Resources/Textures/_SHA/Structures/Lighting/LightPosts/lampeidolitefloating.rsi/glow.png
  Resources/Textures/_SHA/Structures/Lighting/LightPosts/lampeidolitefloating.rsi/meta.json
  Resources/Textures/_SHA/Structures/Lighting/LightPosts/lampeidolitefloor.rsi/base.png
  Resources/Textures/_SHA/Structures/Lighting/LightPosts/lampeidolitefloor.rsi/glow.png
  Resources/Textures/_SHA/Structures/Lighting/LightPosts/lampeidolitewell.rsi/base.png
  Resources/Textures/_SHA/Structures/Lighting/LightPosts/lampeidolitewell.rsi/crystal.png
  Resources/Textures/_SHA/Structures/Lighting/LightPosts/lampeidolitewell.rsi/glow.png
Labels: Changes: Sprite

asdf
  Resources/Locale/en-US/reflect/reflect-component.ftl
  Resources/Locale/en-US/weapons/ranged/recharge-basic-entity-ammo.ftl
Labels: Changes: Localization

ya
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Structures/Doors/Windoors/somber.rsi/bolted_unlit.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somber.rsi/emergency_unlit.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somberdark.rsi/bolted_unlit.png
  Resources/Textures/_DEN/Structures/Doors/Windoors/somberdark.rsi/emergency_unlit.png
  Resources/Textures/_SHA/Objects/Devices/door_remote.rsi/door_remotebase.png
  Resources/Textures/_SHA/Objects/Devices/door_remote.rsi/door_remotelightscolour.png
  Resources/Textures/_SHA/Objects/Devices/door_remote.rsi/meta.json
Labels: Changes: Sprite

a hair wasnt credited
  Resources/Textures/_Impstation/Mobs/Customization/human_hair.rsi/meta.json
Labels: Changes: Sprite

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

asdfas
  Content.Server/Medical/SuitSensors/SuitSensorComponent.cs
  Resources/Prototypes/_DEN/Decals/somber_tile_overlay.yml
  Resources/Prototypes/_DEN/Entities/Structures/Windows/somber.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Decals/somber_tile_overlay.rsi/meta.json
  Resources/Textures/_DEN/Decals/somber_tile_overlay.rsi/somber-dark-diagonal-end-E.png
  Resources/Textures/_DEN/Decals/somber_tile_overlay.rsi/somber-dark-diagonal-end-N.png
  Resources/Textures/_DEN/Decals/somber_tile_overlay.rsi/somber-dark-diagonal-end-S.png
  Resources/Textures/_DEN/Decals/somber_tile_overlay.rsi/somber-dark-diagonal-end-W.png
  Resources/Textures/_DEN/Decals/somber_tile_overlay.rsi/somber-dark-diagonal-end-outer-E.png
  Resources/Textures/_DEN/Decals/somber_tile_overlay.rsi/somber-dark-diagonal-end-outer-N.png
  Resources/Textures/_DEN/Decals/somber_tile_overlay.rsi/somber-dark-diagonal-end-outer-S.png
  Resources/Textures/_DEN/Decals/somber_tile_overlay.rsi/somber-dark-diagonal-end-outer-W.png
  Resources/Textures/_DEN/Decals/somber_tile_overlay.rsi/somber-diagonal-end-E.png
  Resources/Textures/_DEN/Decals/somber_tile_overlay.rsi/somber-diagonal-end-N.png
  Resources/Textures/_DEN/Decals/somber_tile_overlay.rsi/somber-diagonal-end-S.png
  Resources/Textures/_DEN/Decals/somber_tile_overlay.rsi/somber-diagonal-end-W.png
  Resources/Textures/_DEN/Decals/somber_tile_overlay.rsi/somber-diagonal-end-outer-E.png
  Resources/Textures/_DEN/Decals/somber_tile_overlay.rsi/somber-diagonal-end-outer-N.png
  Resources/Textures/_DEN/Decals/somber_tile_overlay.rsi/somber-diagonal-end-outer-S.png
  Resources/Textures/_DEN/Decals/somber_tile_overlay.rsi/somber-diagonal-end-outer-W.png
  Resources/Textures/_DEN/Objects/Decoration/somberashtray.rsi/ashtray1.png
  Resources/Textures/_DEN/Objects/Decoration/somberashtray.rsi/ashtray10.png
  Resources/Textures/_DEN/Objects/Decoration/somberashtray.rsi/ashtray2.png
  Resources/Textures/_DEN/Objects/Decoration/somberashtray.rsi/ashtray3.png
  Resources/Textures/_DEN/Objects/Decoration/somberashtray.rsi/ashtray4.png
  Resources/Textures/_DEN/Objects/Decoration/somberashtray.rsi/ashtray5.png
  Resources/Textures/_DEN/Objects/Decoration/somberashtray.rsi/ashtray6.png
  Resources/Textures/_DEN/Objects/Decoration/somberashtray.rsi/ashtray7.png
  Resources/Textures/_DEN/Objects/Decoration/somberashtray.rsi/ashtray8.png
  Resources/Textures/_DEN/Objects/Decoration/somberashtray.rsi/ashtray9.png
  Resources/Textures/_DEN/Objects/Decoration/somberashtray.rsi/icon.png
  Resources/Textures/_DEN/Structures/Windows/Somber/somber_diagonal_end.rsi/meta.json
  Resources/Textures/_DEN/Structures/Windows/Somber/somber_diagonal_end.rsi/state0.png
  Resources/Textures/_DEN/Structures/Windows/Somber/somber_diagonal_end.rsi/state1.png
  Resources/Textures/_DEN/Structures/Windows/Somber/somberdark_diagonal_end.rsi/meta.json
  Resources/Textures/_DEN/Structures/Windows/Somber/somberdark_diagonal_end.rsi/state0.png
  Resources/Textures/_DEN/Structures/Windows/Somber/somberdark_diagonal_end.rsi/state1.png
Labels: Changes: C#, Changes: Sprite

i never noticed i messed up the inhands on the cigpack...
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/case_robust.rsi/closed.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/case_robust.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/case_robust.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/case_robust.rsi/open.png
  Resources/Textures/_DEN/Objects/Consumable/Smokeables/Cigarettes/Packs/mantis.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Consumable/Smokeables/Cigarettes/Packs/mantis.rsi/inhand-right.png
Labels: Changes: Sprite

add BaseDecorativeFixture for decorations that won't bounce off walls on mapinit
  Resources/Prototypes/Entities/Clothing/Multiple/towel.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigars/case.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks_flasks.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks_special.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/_DEN/Entities/Objects/Decoration/ashtray.yml
  Resources/Prototypes/_DEN/Entities/Objects/Devices/Electronics/signaller.yml
  Resources/Prototypes/_DEN/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/candles.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/utensils.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Janitorial/spray.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Janitorial/washcloth.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Kitchen/foodcarts.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Mantis/pots.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Service/barber.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/_DEN/Entities/Objects/Tools/lantern.yml
  Resources/Prototypes/_DEN/Entities/Objects/base_item.yml
  Resources/Prototypes/_DEN/Entities/Structures/Decoration/umbrella.yml
  Resources/Prototypes/_DEN/Entities/Structures/Dispensers/coffee.yml
  Resources/Prototypes/_DEN/Entities/Structures/Piping/Atmospherics/special.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/Tables/tables.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/chairs.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/somber_potted_plants.yml
  Resources/Prototypes/_SHA/everything.yml
Labels: none

Removed Tarajan Species Specific Language Restrictions (#2636)
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
  Resources/Prototypes/_EE/Traits/languages.yml
Labels: none

Automated changelog update (#2636)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Removed Tarajan Species Specific Language Restrictions
  Resources/Prototypes/_EE/Traits/languages.yml
Labels: none

initial
  Content.Client/Effects/Systems/ApplyShaderToEntitySystem.cs
  Content.Shared/Effects/Components/ApplyShaderToEntityComponent.cs
  Content.Shared/Effects/Systems/SharedApplyShaderToEntitySystem.cs
  Resources/Prototypes/_DEN/Shaders/shaders.yml
  Resources/Textures/_DEN/Shaders/analog_distortion.swsl
Labels: Changes: C#

added salvage spear to vendor
  Resources/Prototypes/_DV/Catalog/VendingMachines/Inventories/salvage_points.yml
Labels: none

Introduce Comments
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/_Shitmed/Surgery/SurgerySpeedModifyEvent.cs
Labels: Changes: C#

make this actually function
  Content.Shared/Effects/Components/ApplyShaderToEntityComponent.cs
  Resources/Textures/_DEN/Shaders/analog_distortion.swsl
Labels: Changes: C#

change params to dict, stop making a new shader instance every time the shader is set
  Content.Client/Effects/Systems/ApplyShaderToEntitySystem.cs
  Content.Shared/Effects/Components/ApplyShaderToEntityComponent.cs
  Resources/Textures/_DEN/Shaders/analog_distortion.swsl
Labels: Changes: C#

not actually required whoops. also null check and an attempt at networking
  Content.Client/Effects/Systems/ApplyShaderToEntitySystem.cs
  Content.Shared/Effects/Components/ApplyShaderToEntityComponent.cs
  Resources/Prototypes/_DEN/Shaders/debug.yml
Labels: Changes: C#
