Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

chore: move CreateColumnCategory to utils
  Content.Client/_DEN/Hub/HubPanel.xaml.cs
  Content.Client/_DEN/Hub/HubPanelUtils.cs
Labels: Changes: C#, Changes: UI

chore: no magic numbers
  Content.Client/_DEN/Hub/HubPanel.xaml.cs
Labels: Changes: C#, Changes: UI

chore: put styleclass in the xaml
  Content.Client/_DEN/Hub/HubPanel.xaml
  Content.Client/_DEN/Hub/HubPanel.xaml.cs
Labels: Changes: C#, Changes: UI

feat: disable connections
  Content.Client/_DEN/Hub/HubPanelUtils.cs
  Content.Server/_DEN/Hub/HubManager.cs
  Content.Shared/_DEN/Hub/HubData.cs
  Content.Shared/_DEN/Hub/HubServerPrototype.cs
  Resources/Locale/en-US/hub/hub-servers.ftl
Labels: Changes: C#, Changes: Localization

chore: no connecting to eternity
  Resources/Prototypes/_DEN/Hub/hub_servers.yml
Labels: none

chore: cleanup two
  Content.Client/_DEN/Hub/HubPanel.xaml.cs
  Content.Client/_DEN/Hub/HubPanelUtils.cs
Labels: Changes: C#, Changes: UI

chore: emphasis?
  Resources/Locale/en-US/hub/hub-servers.ftl
Labels: Changes: Localization

fix: offline
  Content.Client/_DEN/Hub/HubPanelUtils.cs
  Content.Server/_DEN/Hub/HubManager.cs
Labels: Changes: C#

Update epistemics-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/epistemics-alternate.ftl
Labels: Changes: Localization

Update epistemics.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/epistemics.yml
Labels: none

a prison of my own making
  Resources/Locale/en-US/_DEN/catalog/fills/paper/document.ftl
  Resources/Locale/en-US/_DEN/paper/doc-printer.ftl
  Resources/Locale/en-US/corvax/lathe/lathe-categories.ftl
  Resources/Prototypes/Corvax/Recipes/Lathes/categories.yml
  Resources/Prototypes/_DEN/Catalog/Fills/Paper/document.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/document_printer.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/categories.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/printer.yml
  Resources/Textures/_DEN/Interface/Paper/service.png
Labels: Changes: Localization

i live in a prison
  Resources/Prototypes/_DEN/Catalog/Fills/Paper/document.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/categories.yml
Labels: none

meowwww just kidding i hate myself
  Resources/Prototypes/_DEN/Recipes/Lathes/categories.yml
Labels: none

the woke update
  Resources/Locale/en-US/_DEN/paper/doc-printer.ftl
Labels: Changes: Localization

Added the Soup Tag to Nyanotransen soups.
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/soup.yml
Labels: none

im doing it dad are you proud meow
  Resources/Prototypes/Language/Species-Specific/reptilian.yml
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/inhand-left-fill-1.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/inhand-left-fill-2.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/inhand-left-fill-3.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/inhand-left-fill-4.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/inhand-right-fill-1.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/inhand-right-fill-2.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/inhand-right-fill-3.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/inhand-right-fill-4.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/meta.json
Labels: Changes: Sprite

Ovinia/Oni markings change.
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/Oni_horns.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro_ears.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro_tails.yml
Labels: none

added drink reagents sprites etc for cherry soda and vodka cheers
  Resources/Locale/en-US/_DEN/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_DEN/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_DEN/Flavors/flavors.yml
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_DEN/Recipes/Reactions/drinks.yml
  Resources/Textures/_DEN/Objects/Consumable/Drinks/cherrysoda.rsi/fill-1.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/cherrysoda.rsi/fill-2.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/cherrysoda.rsi/fill-3.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/cherrysoda.rsi/fill-4.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/cherrysoda.rsi/fill-5.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/cherrysoda.rsi/fill-6.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/cherrysoda.rsi/icon.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/cherrysoda.rsi/icon_empty.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/cherrysoda.rsi/meta.json
  Resources/Textures/_DEN/Objects/Consumable/Drinks/vodkacheers.rsi/fill-1.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/vodkacheers.rsi/fill-2.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/vodkacheers.rsi/fill-3.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/vodkacheers.rsi/fill-4.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/vodkacheers.rsi/fill-5.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/vodkacheers.rsi/fill-6.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/vodkacheers.rsi/icon.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/vodkacheers.rsi/icon_empty.png
  Resources/Textures/_DEN/Objects/Consumable/Drinks/vodkacheers.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

i love adding more if statements sooo much!!!
  Content.Server/Fluids/EntitySystems/PuddleSystem.Spillable.cs
  Content.Shared/Fluids/Components/SpillableComponent.cs
  Resources/Locale/en-US/_DEN/lathe/lathe-categories.ftl
  Resources/Prototypes/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/categories.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/misc.yml
Labels: Changes: C#, Changes: Localization

the bountiful capitalisation harvest
  Resources/Prototypes/Entities/Objects/Misc/rubber_stamp.yml
Labels: none

Korat!
  Resources/Maps/TheDen/korat.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/korat.yml
Labels: Changes: Map

Make Bed Shadows Black
  Resources/Textures/Structures/Furniture/furniture.rsi/bed-MED.png
  Resources/Textures/Structures/Furniture/furniture.rsi/bed.png
  Resources/Textures/Structures/Furniture/furniture.rsi/meta.json
Labels: Changes: Sprite

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

port wizden aseprite tools
  Tools/SS14 Aseprite Plugins/Displacement Map Flip.lua
  Tools/SS14 Aseprite Plugins/Displacement Map Shift.lua
  Tools/SS14 Aseprite Plugins/Displacement Map Visualizer.lua
  Tools/SS14 Aseprite Templates/IconSmoothingTemplate README.txt
  Tools/SS14 Aseprite Templates/IconSmoothingTemplate.aseprite
Labels: none

added mindshields to clerk and attorney
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/_DV/Roles/Jobs/Justice/clerk.yml
Labels: none

less cramped cargo shuttle
  Resources/Maps/Shuttles/cargo.yml
Labels: Changes: Map

i love adding more if statements sooo much!!!
  Content.Server/Fluids/EntitySystems/PuddleSystem.Spillable.cs
  Content.Shared/Fluids/Components/SpillableComponent.cs
  Resources/Locale/en-US/_DEN/lathe/lathe-categories.ftl
  Resources/Prototypes/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/categories.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/misc.yml
Labels: Changes: C#, Changes: Localization

the bountiful capitalisation harvest
  Resources/Prototypes/Entities/Objects/Misc/rubber_stamp.yml
Labels: none

meow :3
  Resources/Prototypes/Nyanotrasen/Entities/Body/Prototypes/oni.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/vulpkaninmarks.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro_ears.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro_tails.yml
  Resources/Textures/_DEN/Mobs/Species/Oni/parts.rsi/full.png
  Resources/Textures/_DEN/Mobs/Species/Oni/parts.rsi/head_f.png
  Resources/Textures/_DEN/Mobs/Species/Oni/parts.rsi/head_m.png
  Resources/Textures/_DEN/Mobs/Species/Oni/parts.rsi/l_arm.png
  Resources/Textures/_DEN/Mobs/Species/Oni/parts.rsi/l_foot.png
  Resources/Textures/_DEN/Mobs/Species/Oni/parts.rsi/l_hand.png
  Resources/Textures/_DEN/Mobs/Species/Oni/parts.rsi/l_leg.png
  Resources/Textures/_DEN/Mobs/Species/Oni/parts.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Species/Oni/parts.rsi/r_arm.png
  Resources/Textures/_DEN/Mobs/Species/Oni/parts.rsi/r_foot.png
  Resources/Textures/_DEN/Mobs/Species/Oni/parts.rsi/r_hand.png
  Resources/Textures/_DEN/Mobs/Species/Oni/parts.rsi/r_leg.png
  Resources/Textures/_DEN/Mobs/Species/Oni/parts.rsi/torso_f.png
  Resources/Textures/_DEN/Mobs/Species/Oni/parts.rsi/torso_m.png
Labels: Changes: Sprite

Don't buckle things to themselves it makes the engine very angry.
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
Labels: Changes: C#

Removing ServiceFab Migration
  Resources/Migrations/eeMigration.yml
Labels: none

Removing EngineeringTechFab Migration also
  Resources/Migrations/eeMigration.yml
Labels: none

kekani begged me to add extra paperwork so here
  Resources/Locale/en-US/_DEN/catalog/fills/paper/document.ftl
  Resources/Locale/en-US/_DEN/paper/doc-printer.ftl
  Resources/Prototypes/_DEN/Catalog/Fills/Paper/document.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/document_printer.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/printer.yml
Labels: Changes: Localization

meow
  Content.Server/Fluids/EntitySystems/PuddleSystem.Spillable.cs
  Content.Shared/Fluids/Components/SpillableComponent.cs
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: Changes: C#

she stamp on my
  Resources/Locale/en-US/_DEN/lathe/lathe-categories.ftl
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/categories.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/misc.yml
Labels: Changes: Localization

add umbrellas
  Resources/Prototypes/_DEN/Entities/Structures/Decoration/umbrella.yml
  Resources/Prototypes/_DEN/Recipes/Construction/Graphs/Furniture/umbrella.yml
  Resources/Prototypes/_DEN/Recipes/Construction/umbrella.yml
  Resources/Textures/_DEN/Structures/Decoration/umbrella.rsi/blue.png
  Resources/Textures/_DEN/Structures/Decoration/umbrella.rsi/gray.png
  Resources/Textures/_DEN/Structures/Decoration/umbrella.rsi/green.png
  Resources/Textures/_DEN/Structures/Decoration/umbrella.rsi/meta.json
  Resources/Textures/_DEN/Structures/Decoration/umbrella.rsi/orange.png
  Resources/Textures/_DEN/Structures/Decoration/umbrella.rsi/pink.png
  Resources/Textures/_DEN/Structures/Decoration/umbrella.rsi/purple.png
  Resources/Textures/_DEN/Structures/Decoration/umbrella.rsi/red.png
  Resources/Textures/_DEN/Structures/Decoration/umbrella.rsi/yellow.png
Labels: Changes: Sprite

add pool tile
  Resources/Prototypes/_DEN/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/_DEN/Stacks/floor_tile.yml
  Resources/Prototypes/_DEN/Tiles/floor.yml
  Resources/Textures/_DEN/Objects/Tiles/pool.rsi/meta.json
  Resources/Textures/_DEN/Objects/Tiles/pool.rsi/pool-dark.png
  Resources/Textures/_DEN/Objects/Tiles/pool.rsi/pool.png
  Resources/Textures/_DEN/Tiles/pool.rsi/meta.json
  Resources/Textures/_DEN/Tiles/pool.rsi/pool-dark.png
  Resources/Textures/_DEN/Tiles/pool.rsi/pool.png
Labels: Changes: Sprite

add pool water
  Resources/Prototypes/_DEN/Entities/Tiles/water.yml
  Resources/Textures/_DEN/Tiles/Planet/water.rsi/meta.json
  Resources/Textures/_DEN/Tiles/Planet/water.rsi/pool_water.png
Labels: Changes: Sprite

add rectangular wall mirror
  Resources/Prototypes/_DEN/Entities/Structures/Wallmounts/mirror.yml
  Resources/Prototypes/_DEN/Recipes/Construction/Graphs/Furniture/mirror.yml
  Resources/Prototypes/_DEN/Recipes/Construction/furniture.yml
  Resources/Textures/_DEN/Structures/Wallmounts/mirror_rectangle.rsi/meta.json
  Resources/Textures/_DEN/Structures/Wallmounts/mirror_rectangle.rsi/mirror.png
Labels: Changes: Sprite

add centered stemless sink
  Resources/Prototypes/_DEN/Entities/Structures/furniture/sink.yml
  Resources/Textures/_DEN/Structures/Furniture/sink.rsi/meta.json
  Resources/Textures/_DEN/Structures/Furniture/sink.rsi/sink_centered-fill-1.png
  Resources/Textures/_DEN/Structures/Furniture/sink.rsi/sink_centered.png
Labels: Changes: Sprite
