Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

Remove VoxFood tag
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
Labels: none

Remove VoxFood tag
  Resources/Prototypes/tags.yml
Labels: none

Remove VoxFood tag
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
Labels: none

remove empty pngs
  Resources/Textures/Objects/Consumable/Food/bay_food_shellfish.rsi/.png
  Resources/Textures/Structures/Decoration/barrels.rsi/.png
  Resources/Textures/_Nuclear14/Structures/Decoration/barrels.rsi/.png
Labels: Changes: Sprite

remove empty states
  Resources/Textures/Objects/Consumable/Food/bay_food_shellfish.rsi/meta.json
  Resources/Textures/Structures/Decoration/barrels.rsi/meta.json
  Resources/Textures/_Nuclear14/Structures/Decoration/barrels.rsi/meta.json
Labels: Changes: Sprite

Update outerClothing.yml
  Resources/Prototypes/_Floof/Loadouts/outerClothing.yml
Labels: none

Added override conditional to emotes and subtle so that emotes also use the name of the overrides
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#

add floof uniforms to autotailor
  Resources/Prototypes/_DEN/Recipes/Lathes/Clothing/dresses.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Clothing/uniforms.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autotailor.yml
Labels: none

change lathe category names
  Resources/Locale/en-US/_DEN/lathe/lathe-categories.ftl
Labels: Changes: Localization

give CCO TraitorNonTargetable
  Resources/Prototypes/Roles/Jobs/Command/centcom_official.yml
Labels: none

allow objectivetypes to be easily edited in vv
  Content.Server/FloofStation/Traits/Components/MarkedComponent.cs
  Content.Server/Objectives/Components/PickRandomPersonComponent.cs
  Content.Shared/_Floof/Objectives/ObjectiveTypes.cs
Labels: Changes: C#

updated clothing items values
  Resources/Textures/_Floof/Clothing/OuterClothing/Misc/marshoodie.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Floof/Clothing/OuterClothing/Misc/marshoodie.rsi/icon.png
  Resources/Textures/_Floof/Clothing/OuterClothing/Misc/marshoodie.rsi/inhand-left.png
  Resources/Textures/_Floof/Clothing/OuterClothing/Misc/marshoodie.rsi/inhand-right.png
Labels: Changes: Sprite

updated clothing items values
  Resources/Prototypes/_Floof/Entities/Clothing/OuterClothing/MiscOuterwear.yml
Labels: none

fix magnet networking
  Content.Shared/Storage/Components/MagnetPickupComponent.cs
  Content.Shared/Storage/EntitySystems/MagnetPickupSystem.cs
Labels: Changes: C#

turn trashbag magnet off by default
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/trashbag.yml
Labels: none

remove smites
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
Labels: Changes: C#

add glass versions of event airlocks
  Resources/Prototypes/_DEN/Entities/Structures/Doors/Airlocks/access.yml
Labels: none

give admins event access
  Content.Shared/Access/AccessGroupPrototype.cs
  Content.Shared/Access/Components/IdCardConsoleComponent.cs
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/_DEN/Access/misc.yml
Labels: Changes: C#

add event ID cards
  Resources/Prototypes/_DEN/Entities/Objects/Misc/identification_cards.yml
  Resources/Textures/Objects/Misc/id_cards.rsi/event.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/Objects/Misc/id_cards.rsi/vip.png
Labels: Changes: Sprite

add AA VIP / change service card icon
  Resources/Prototypes/_DEN/Entities/Objects/Misc/identification_cards.yml
Labels: none

add titles to ID cards
  Resources/Locale/en-US/_DEN/job/job-names.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Misc/identification_cards.yml
Labels: Changes: Localization

Fixed Eye Symmetry
  Resources/Textures/Mobs/Species/Shadowkin/parts.rsi/eyes.png
Labels: Changes: Sprite

yay!
  Resources/Locale/en-US/loadouts/generic/uniform.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/itemGroups.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/uniform.yml
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/militarybrat.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/militarybrat.rsi/flipped-equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/militarybrat.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/militarybrat.rsi/icon_flipped.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/militarybrat.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/militarybrat.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/militarybrat.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

oops forgot i wanted to do this
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
Labels: none

Changed name and description
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
Labels: none

Me when I change my mind
  Resources/Textures/Mobs/Species/Shadowkin/parts.rsi/eyes.png
Labels: Changes: Sprite

vendor and loadout stuff
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/Loadouts/Generic/neck.yml
Labels: none

Update chapel.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
Labels: none

Update hive.yml
  Resources/Maps/TheDen/hive.yml
Labels: Changes: Map

Make Shadowkin Markings Recolorable
  Resources/Prototypes/Species/shadowkin.yml
Labels: none

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

AnaerobicShadowkinBloodlossVer
  Content.Shared/_DEN/BloodlossInCrit/BloodlossInCritComponent.cs
  Content.Shared/_DEN/BloodlossInCrit/BloodlossInCritSystem.cs
  Resources/Prototypes/Body/Organs/shadowkin.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Player/shadowkin.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/ServerInfo/Guidebook/Mobs/Shadowkin.xml
Labels: Changes: C#, Changes: Documentation

move cropped undershirt to undershirt folder
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/undershirts.yml
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/undershirt.yml
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/cropped.rsi/croppedundershirt.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/cropped.rsi/meta.json
Labels: Changes: Sprite

move undershirt.yml to right folder
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/undershirts.yml
Labels: none

add button up undershirts
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup.rsi/undershirt-buttons.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup.rsi/undershirt-collar.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup.rsi/undershirt.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_open.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_open.rsi/undershirt-buttons.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_open.rsi/undershirt-collar.png
  Resources/Textures/_DEN/Mobs/Customization/Undershirt/buttonup_open.rsi/undershirt.png
Labels: Changes: Sprite

A few more tweaks
  Resources/Prototypes/Body/Organs/shadowkin.yml
Labels: none

Updated the Shadowkin Guidebook Page
  Resources/ServerInfo/Guidebook/Mobs/Shadowkin.xml
Labels: Changes: Documentation

Just a comment.
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
Labels: none

More Guidebook tweaks.
  Resources/ServerInfo/Guidebook/Mobs/Shadowkin.xml
Labels: Changes: Documentation

add self-examine to detail examinable component and system
  Content.Server/DetailExaminable/DetailExaminableComponent.cs
  Content.Server/DetailExaminable/DetailExaminableSystem.cs
  Resources/Locale/en-US/_DEN/preferences/ui/flavor-text.ftl
  Resources/Textures/_DEN/Interface/VerbIcons/ATTRIBUTION.txt
  Resources/Textures/_DEN/Interface/VerbIcons/mirror.svg
  Resources/Textures/_DEN/Interface/VerbIcons/mirror.svg.192dpi.png
  Resources/Textures/_DEN/Interface/VerbIcons/mirror.svg.192dpi.png.yml
Labels: Changes: C#, Changes: Localization
