Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

move the shako down by the uniform
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
Labels: none

Replace Speech bubble time accumulator with TimeSpan (#38241)
  Content.Client/Chat/UI/SpeechBubble.cs
Labels: Changes: C#

bowowowowow
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/corpsman.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/detective.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/prisonGuard.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/warden.yml
Labels: none

WE'RE SO BACK
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/uncategorized.yml
Labels: none

Update Resources/Locale/en-US/_Impstation/markings/misc.ftl
  Resources/Locale/en-US/_Impstation/markings/misc.ftl
Labels: Changes: Localization

Update Resources/Locale/en-US/_Impstation/markings/slimeperson.ftl
  Resources/Locale/en-US/_Impstation/markings/slimeperson.ftl
Labels: Changes: Localization

resomihotfix
  Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
Labels: none

reversed admin logs order before its sent from the server, so it reads top to bottom.
  Content.Server/Administration/Logs/AdminLogsEui.cs
Labels: Changes: C#

REMOVED EVIL FUCKED UP COPPY
  Resources/Textures/_DEN/Clothing/Head/Helmets/atmos_firehelmet.rsi/on-equipped-HELMET-vulpkanin - copia.png
Labels: Changes: Sprite

Fixing issues with the space blades
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/_DEN/Loadouts/Generic/items.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/spaceblade.yml
Labels: Changes: Localization

initial commit
  .github/workflows/reuse-updater.yml
  Tools/apply_reuse_headers.py
  Tools/reuse_utilities/reuse_helperfunctions.py
  Tools/reuse_utilities/reuse_update_all_headers.py
  Tools/reuse_utilities/reuse_update_headers_from_merge.py
  Tools/update_pr_reuse_headers.py
Labels: Changes: Workflow

test commit (revert)
  Resources/Prototypes/Actions/borgs.yml
Labels: none

Revert "test pr (revert) (#1574)"
  Resources/Prototypes/Actions/borgs.yml
Labels: none

chore: automatically update REUSE headers
  Resources/Prototypes/Actions/borgs.yml
Labels: none

Revert "Hotfix for Space Blades (#1570)"
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/_DEN/Loadouts/Generic/items.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/spaceblade.yml
Labels: Changes: Localization

Revert "Revert "Hotfix for Space Blades" (#1576)"
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/_DEN/Loadouts/Generic/items.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/spaceblade.yml
Labels: Changes: Localization

chore: automatically update REUSE headers
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/_NF/Entities/Objects/Fun/spaceblade.yml
Labels: Changes: Localization

chore: automatically update REUSE headers
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/_DEN/Loadouts/Generic/items.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/spaceblade.yml
Labels: Changes: Localization

Update Resources/Prototypes/_DEN/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/detective.yml
Labels: none

hos web vest typo fix
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
Labels: none

Revert "HoS Web Vest Typo Fix (#1578)"
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
Labels: none

silly
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/Hats.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/hats_one.yml
Labels: none

a
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/hats.yml
Labels: none

AHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
  Content.Shared/Customization/Systems/CharacterRequirements.Antagonist.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Job.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Logic.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Mindshield.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Misc.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Player.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Profile.cs
  Content.Shared/Customization/Systems/CharacterRequirements.cs
  Content.Shared/Customization/Systems/CharacterRequirementsSystem.cs
  Content.Shared/_DEN/Customization/Systems/CharacterRequirementContext.cs
Labels: Changes: C#

use the constructor for this actually
  Content.Shared/Customization/Systems/CharacterRequirementsSystem.cs
Labels: Changes: C#

add the rest of the with constructors
  Content.Shared/_DEN/Customization/Systems/CharacterRequirementContext.cs
Labels: Changes: C#

Fix Defib Interaction
  Resources/Prototypes/Entities/Structures/Wallmounts/defib_cabinet.yml
Labels: none

Fixed Defibs not Recharging
  Resources/Prototypes/Entities/Structures/Wallmounts/defib_cabinet.yml
Labels: none

almost forgot these
  Content.Shared/_EE/Contractors/Systems/CharacterRequirements.Profile.cs
Labels: Changes: C#

everything
  Content.Client/LateJoin/LateJoinGui.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/TraitPreferenceSelector.xaml.cs
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRolesEui.cs
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutsItemListPanel.xaml.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
  Content.Server/Thief/Systems/ThiefUndeterminedBackpackSystem.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Server/_EE/Contractors/Systems/EmployerSystem.cs
  Content.Server/_EE/Contractors/Systems/LifepathSystem.cs
  Content.Server/_EE/Contractors/Systems/NationalitySystem.cs
  Content.Shared/Clothing/Loadouts/Systems/SharedLoadoutSystem.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Job.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Logic.cs
  Content.Shared/Station/SharedStationSpawningSystem.cs
  Content.Shared/Traits/Assorted/Systems/ExtendDescriptionSystem.cs
Labels: Changes: C#, Changes: UI

accidentally inverted the job requirement reason logic
  Content.Shared/Customization/Systems/CharacterRequirements.Job.cs
Labels: Changes: C#

fix erorrs
  Content.Server/Discord/DiscordLink/DiscordLink.cs
Labels: Changes: C#

Update detective.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/detective.yml
Labels: none

yaml fix? no more prison guard duplicate
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/detective.yml
  Resources/Prototypes/Loadouts/Jobs/Security/prisonGuard.yml
Labels: none

Fixes spaceblades not colliding with each other
  Resources/Prototypes/_NF/Entities/Objects/Fun/spaceblade.yml
Labels: none

Thaven Zappy Sounds
  Resources/Audio/_DEN/Weapons/shockpunch1.ogg
  Resources/Audio/_DEN/Weapons/shockpunch2.ogg
  Resources/Audio/_DEN/Weapons/shockpunch3.ogg
  Resources/Audio/_DEN/Weapons/shockpunch4.ogg
  Resources/Prototypes/_DEN/SoundCollections/punching.yml
  Resources/Prototypes/_Impstation/Damage/thaven.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
  Resources/ServerInfo/Guidebook/Mobs/_Impstation/Thaven.xml
Labels: Changes: Audio, Changes: Documentation

attributions
  Resources/Audio/_DEN/Weapons/attributions.yml
Labels: none

fin
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: none

fixed jaegermister missing trash sprite
  Resources/Textures/_DEN/Objects/Consumable/jaegermisterbottle_empty.rsi/icon.png
  Resources/Textures/_DEN/Objects/Consumable/jaegermisterbottle_empty.rsi/meta.json
Labels: Changes: Sprite

fix
  Resources/Locale/en-US/_DEN/flavors/flavor-profiles.ftl
  Resources/Textures/_DEN/Objects/Consumable/TrashDrinks/jaegermisterbottle_empty.rsi/icon.png
  Resources/Textures/_DEN/Objects/Consumable/TrashDrinks/jaegermisterbottle_empty.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite
