Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

update thaven wolfskin, add icon sprites, add loadout
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/psionicMantis.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Epistemics/psionicMantis.yml
  Resources/Textures/_DEN/Clothing/Neck/Cloaks/mantis_shroud.rsi/equipped-NECK-thaven.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/icon-folded.png
Labels: Changes: Sprite

Door fix Dingo
  Resources/Migrations/denMigrations.yml
Labels: none

Door Fix Dingo (#2680)
  Resources/Migrations/denMigrations.yml
Labels: none

Automated changelog update (#2680)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Door Fix Dingo
  Resources/Migrations/denMigrations.yml
Labels: none

Removed lines causing Security Riot Gifts
  Resources/Maps/TheDen/acrux.yml
Labels: Changes: Map

Port Acrux: Security Crates Spawning (#2681)
  Resources/Maps/TheDen/acrux.yml
Labels: Changes: Map

Automated changelog update (#2681)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Port Acrux: Security Crates Spawning
  Resources/Maps/TheDen/acrux.yml
Labels: Changes: Map

Rimless Glasses On Head
  Resources/Prototypes/_DEN/Entities/Clothing/Eyes/glasses.yml
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/rimless.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/rimless.rsi/meta.json
Labels: Changes: Sprite

fishy
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushcast-inhand-left.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushcast-inhand-right.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushcast-unshaded.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushcast.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushebb-inhand-left.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushebb-inhand-right.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushebb-unshaded.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushebb.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/meta.json
Labels: Changes: Sprite

Faust Hip Sheath (#2678)
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/psionicMantis.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Epistemics/psionicMantis.yml
  Resources/Textures/_DEN/Clothing/Neck/Cloaks/mantis_shroud.rsi/equipped-NECK-thaven.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/equipped-SUITSTORAGE-thaven.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/folded-equipped-SUITSTORAGE-thaven.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/folded-equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/icon-folded.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/mantisgreatsword.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath-alt.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath.rsi/folded-equipped-SUITSTORAGE-thaven.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath.rsi/folded-equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisgreatswordsheath.rsi/icon-folded.png
Labels: Changes: Sprite

Automated changelog update (#2678)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Faust Hip Sheath
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/psionicMantis.yml
Labels: none

bikael fixes
  Resources/Maps/TheDen/baikal.yml
Labels: Changes: Map

hollerpad
  Resources/Maps/TheDen/baikal.yml
Labels: Changes: Map

Bikeal Update (#2683)
  Resources/Maps/TheDen/baikal.yml
Labels: Changes: Map

Automated changelog update (#2683)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Bikeal Update
  Resources/Maps/TheDen/baikal.yml
Labels: Changes: Map

Tajaran Accent (#2674)
  Content.Server/_DEN/Speech/Components/TajaranAccentComponent.cs
  Content.Server/_DEN/Speech/EntitySystems/TajaranAccentSystem.cs
  Resources/Prototypes/Traits/neutral.yml
  Resources/Prototypes/_EE/Entities/Mobs/Species/tajaran.yml
Labels: Changes: C#

Automated changelog update (#2674)
  Resources/Changelog/Den.yml
Labels: none

Rimless Glasses On Head (#2682)
  Resources/Prototypes/_DEN/Entities/Clothing/Eyes/glasses.yml
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/rimless.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/rimless.rsi/meta.json
Labels: Changes: Sprite

update REUSE headers from: Tajaran Accent
  Content.Server/_DEN/Speech/Components/TajaranAccentComponent.cs
  Content.Server/_DEN/Speech/EntitySystems/TajaranAccentSystem.cs
  Resources/Prototypes/Traits/neutral.yml
Labels: Changes: C#

Automated changelog update (#2682)
  Resources/Changelog/Den.yml
Labels: none

nucarp
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplush-inhand-left.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplush-inhand-right.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplush.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushbreak-inhand-left.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushbreak-inhand-right.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushbreak-unshaded.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushbreak.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushcast-inhand-left.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushcast-inhand-right.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushcast-unshaded.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushcast.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushdream-inhand-left.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushdream-inhand-right.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushdream-unshaded.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushdream.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushebb-inhand-left.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushebb-inhand-right.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushebb-unshaded.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushebb.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushsucker-inhand-left.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushsucker-inhand-right.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushsucker-unshaded.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushsucker.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushtatter-inhand-left.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushtatter-inhand-right.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushtatter-unshaded.png
  Resources/Textures/_SHA/Objects/Fun/toys.rsi/carpplushtatter.png
Labels: Changes: Sprite

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

make huds inherit from base comp
  Content.Shared/Overlays/BaseEquipmentHudComponent.cs
  Content.Shared/Overlays/ShowCriminalRecordIconsComponent.cs
  Content.Shared/Overlays/ShowHealthBarsComponent.cs
  Content.Shared/Overlays/ShowHealthIconsComponent.cs
  Content.Shared/Overlays/ShowHungerIconsComponent.cs
  Content.Shared/Overlays/ShowJobIconsComponent.cs
  Content.Shared/Overlays/ShowMindShieldIconsComponent.cs
  Content.Shared/Overlays/ShowPsionicsRecordIconsSystem.cs
  Content.Shared/Overlays/ShowSyndicateIconsComponent.cs
  Content.Shared/Overlays/ShowThirstIconsComponent.cs
  Content.Shared/Overlays/Systems/SharedEquipmentHudSystem.cs
Labels: Changes: C#

whoops
  Content.Shared/Overlays/BaseEquipmentHudComponent.cs
Labels: Changes: C#

slimeperson geras no longer drops inventory
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/ServerInfo/Guidebook/Mobs/SlimePerson.xml
Labels: Changes: Documentation

yuuuuup
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/seniorEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/chiefEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/seniorEngineer.yml
Labels: none

the organization update
  Resources/Locale/en-US/_DEN/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_DEN/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/en-US/_DEN/reagents/meta/consumable/drink/drinks.ftl
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/base_drinks.yml
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/drinks.yml
Labels: Changes: Localization

minor fixes for guidebook and action button text
  Resources/Prototypes/Actions/types.yml
  Resources/ServerInfo/Guidebook/Mobs/SlimePerson.xml
Labels: Changes: Documentation

Slimeperson Geras Polymorph Doesn't Drop Inventory (#2685)
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/ServerInfo/Guidebook/Mobs/SlimePerson.xml
Labels: Changes: Documentation

Automated changelog update (#2685)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Slimeperson Geras Polymorph Doesn't Drop Inventory
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/ServerInfo/Guidebook/Mobs/SlimePerson.xml
Labels: Changes: Documentation

soon
  Resources/Textures/_SHA/Heretic/mansus_grasp.rsi/inhand-left.png
  Resources/Textures/_SHA/Heretic/mansus_grasp.rsi/inhand-right.png
Labels: Changes: Sprite

fix...?
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/seniorEngineer.yml
Labels: none

Automated changelog update (#2673)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: The Milkshake Update! (+Egg Creams!)
  Resources/Locale/en-US/_DEN/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_DEN/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/en-US/_DEN/reagents/meta/consumable/drink/drinks.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_DEN/Flavors/flavors.yml
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/base_drinks.yml
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/_DEN/Recipes/Reactions/drinks.yml
Labels: Changes: Localization

Atmos Gasmask in Senior Engineering Loadout (#2686)
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/seniorEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/chiefEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/seniorEngineer.yml
Labels: none
