Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

convert the if into a ternary for readability sakes
  Content.Shared/Psionics/Glimmer/GlimmerSystem.cs
Labels: Changes: C#

I'M STILL BEING SILLY
  Content.Shared/Psionics/Glimmer/GlimmerSystem.cs
Labels: Changes: C#

Removing the black jetpack from lathes
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/devices.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/cargo_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/engineering_techfab.yml
Labels: none

work work
  Resources/Audio/_DEN/Effects/fogcloselong.ogg
  Resources/Audio/_DEN/Effects/fogopenlong.ogg
  Resources/Audio/_SHA/piano.ogg
  Resources/Prototypes/_DEN/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/_DEN/Entities/Structures/Wallmounts/switch.yml
  Resources/Textures/_DEN/Markers/environment.rsi/base-blue.png
  Resources/Textures/_DEN/Markers/environment.rsi/base-green.png
  Resources/Textures/_DEN/Markers/environment.rsi/base-red.png
  Resources/Textures/_DEN/Markers/environment.rsi/meta.json
  Resources/Textures/_DEN/Markers/environment.rsi/shutter.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallboss.rsi/closed-unshaded.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallboss.rsi/closed.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallboss.rsi/closing-unshaded.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallboss.rsi/closing.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallboss.rsi/frame.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallboss.rsi/icon-unshaded.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallboss.rsi/icon.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallboss.rsi/invisible.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallboss.rsi/meta.json
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallboss.rsi/open.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallboss.rsi/opening-unshaded.png
  Resources/Textures/_DEN/Structures/Doors/Shutters/fogwallboss.rsi/opening.png
Labels: Changes: Audio, Changes: Sprite

finally.
  Resources/Prototypes/_DEN/Entities/Objects/Devices/Electronics/signaller.yml
  Resources/Prototypes/_DEN/Entities/Structures/Decoration/fireplace.yml
  Resources/Prototypes/_DEN/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/_DEN/Entities/Structures/Specific/Mantis/lighting.yml
  Resources/Prototypes/_DEN/Entities/Structures/Wallmounts/monitors_televisions.yml
  Resources/Prototypes/_DEN/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/Tables/tables.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Markers/environment.rsi/base-blue.png
  Resources/Textures/_DEN/Markers/environment.rsi/base-green.png
  Resources/Textures/_DEN/Markers/environment.rsi/base-purple.png
  Resources/Textures/_DEN/Markers/environment.rsi/base-red.png
  Resources/Textures/_DEN/Markers/environment.rsi/meta.json
  Resources/Textures/_DEN/Markers/environment.rsi/shutter.png
  Resources/Textures/_DEN/Markers/environment.rsi/sound.png
  Resources/Textures/_DEN/Objects/Devices/signaller.rsi/somber-signaller-light.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/base.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framegold-unshaded.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framegold.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framepink-unshaded.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framepink.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framepurple-unshaded.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framepurple.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/locked.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/meta.json
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/off.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/on.png
Labels: Changes: Sprite

More frivolous changes
  Resources/Maps/TheDen/havoc.yml
Labels: Changes: Map

Stop eating your own lightning dummy
  Content.Server/Singularity/EntitySystems/EventHorizonSystem.cs
Labels: Changes: C#

change bodyPart and markingCategory
  Resources/Prototypes/_ADT/Mobs/Customization/custom/Human_tattoos.yml
Labels: none

more tweaks
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_monitor.rsi/head-1.png
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_monitor.rsi/head-2.png
  Resources/Textures/Mobs/Customization/cyberlimbs/wardtakahashi/wardtakahashi_monitor.rsi/head-2.png
  Resources/Textures/Mobs/Customization/cyberlimbs/wardtakahashi/wardtakahashi_monitor.rsi/head-stripes.png
  Resources/Textures/Mobs/Customization/cyberlimbs/wardtakahashi/wardtakahashi_monitor.rsi/head.png
  Resources/Textures/Mobs/Customization/cyberlimbs/wardtakahashi/wardtakahashi_monitor.rsi/meta.json
Labels: Changes: Sprite

a
  Resources/Textures/_DEN/Objects/Specific/Janitorial/somberdrain.rsi/eye-fill-1.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/somberdrain.rsi/eye.png
  Resources/Textures/_DEN/Structures/Storage/Crates/sombercoffin.rsi/base.png
  Resources/Textures/_DEN/Structures/Storage/Crates/sombercoffin.rsi/closed.png
  Resources/Textures/_DEN/Structures/Storage/Crates/sombercrate.rsi/base.png
  Resources/Textures/_DEN/Structures/Storage/Crates/sombercrate.rsi/closed.png
  Resources/Textures/_DEN/Structures/Storage/Crates/sombercrate.rsi/icon.png
  Resources/Textures/_DEN/Structures/Storage/Crates/sombercrate.rsi/open.png
Labels: Changes: Sprite

the demons made me make a food cart
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Kitchen/foodcarts.yml
  Resources/Prototypes/_DEN/Entities/Structures/Piping/Disposal/units.yml
  Resources/Textures/_DEN/Objects/Specific/Kitchen/food_carts.rsi/cart_bbqsauce.png
  Resources/Textures/_DEN/Objects/Specific/Kitchen/food_carts.rsi/cart_coldsauce.png
  Resources/Textures/_DEN/Objects/Specific/Kitchen/food_carts.rsi/cart_hotsauce.png
  Resources/Textures/_DEN/Objects/Specific/Kitchen/food_carts.rsi/cart_ketchup.png
  Resources/Textures/_DEN/Objects/Specific/Kitchen/food_carts.rsi/foodcart.xcf
  Resources/Textures/_DEN/Objects/Specific/Kitchen/food_carts.rsi/icon-somber.png
  Resources/Textures/_DEN/Objects/Specific/Kitchen/food_carts.rsi/meta.json
  Resources/Textures/_DEN/Objects/Specific/Kitchen/food_carts.rsi/stand-somber.png
Labels: Changes: Sprite

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

One yml line
  Resources/Prototypes/_DV/Reagents/Consumable/Drink/alcohol.yml
Labels: none

Improvised crossbow name typo fixed
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Crossbow/crossbow.yml
Labels: none

Grammar and spelling issues on some PDAs fixed
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: none

yea
  Resources/Textures/_DEN/Objects/Consumable/Drinks/sombericebucket.rsi/icon.png
  Resources/Textures/_SHA/Structures/Decoration/somberfireplacepenthouse.rsi/fireplace.png
Labels: Changes: Sprite

Havoc Station: The Rebreakening (W/ New Landmines) (#2572)
  Resources/Maps/TheDen/havoc.yml
  Resources/Prototypes/Maps/havoc.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/land_mines.yml
  Resources/Prototypes/_DEN/Entities/Tiles/obliteration.yml
  Resources/Textures/_DEN/Tiles/Planet/obliteration.rsi/full.png
  Resources/Textures/_DEN/Tiles/Planet/obliteration.rsi/meta.json
  Resources/Textures/_DEN/Tiles/Planet/obliteration.rsi/obliteration.png
  Resources/Textures/_DEN/Tiles/Planet/obliteration.rsi/obliteration0.png
  Resources/Textures/_DEN/Tiles/Planet/obliteration.rsi/obliteration1.png
  Resources/Textures/_DEN/Tiles/Planet/obliteration.rsi/obliteration2.png
  Resources/Textures/_DEN/Tiles/Planet/obliteration.rsi/obliteration3.png
  Resources/Textures/_DEN/Tiles/Planet/obliteration.rsi/obliteration4.png
  Resources/Textures/_DEN/Tiles/Planet/obliteration.rsi/obliteration5.png
  Resources/Textures/_DEN/Tiles/Planet/obliteration.rsi/obliteration6.png
  Resources/Textures/_DEN/Tiles/Planet/obliteration.rsi/obliteration7.png
Labels: Changes: Map, Changes: Sprite

update REUSE headers from: Havoc Station: The Rebreakening (W/ New Landmines)
  Resources/Maps/TheDen/havoc.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/land_mines.yml
  Resources/Prototypes/_DEN/Entities/Tiles/obliteration.yml
Labels: Changes: Map

lighting adjustments
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/special.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Multiple/towel.yml
  Resources/Prototypes/_DEN/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Janitorial/washcloth.yml
  Resources/Prototypes/_DEN/Entities/Objects/Tools/lantern.yml
  Resources/Prototypes/_DEN/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/_DEN/Entities/Structures/Decoration/fireplace.yml
  Resources/Prototypes/_DEN/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_DEN/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/_DEN/Entities/Structures/Specific/Mantis/lighting.yml
  Resources/Prototypes/_DEN/Entities/Structures/Wallmounts/monitors_televisions.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/Tables/tables.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/altar.yml
Labels: none

Fix: Kalimotxo, LO PDA, Mime PDA, Improvised Crossbows (#2635)
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_DV/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Crossbow/crossbow.yml
Labels: none

Fix the Ribcage Tattoo (#2632)
  Resources/Prototypes/_ADT/Mobs/Customization/custom/Human_tattoos.yml
Labels: none

update REUSE headers from: Fix: Kalimotxo, LO PDA, Mime PDA, Improvised Crossbows
  Resources/Prototypes/_DV/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Crossbow/crossbow.yml
Labels: none

Automated changelog update (#2632)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Fix the Ribcage Tattoo
  Resources/Prototypes/_ADT/Mobs/Customization/custom/Human_tattoos.yml
Labels: none

Jetpack Recipe Costs and Distribution, a Few More Engi Techfab Additions/Fixes (#2608)
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/devices.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/cargo_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/engineering_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/security_techfab.yml
Labels: none

Automated changelog update (#2608)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Jetpack Recipe Costs and Distribution, a Few More Engi Techfab Additions/Fixes
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/devices.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/cargo_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/security_techfab.yml
Labels: none

[BOUNTY] Rickenbacker Tweaks (#2626)
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Fun/instruments.yml
Labels: none

Automated changelog update (#2626)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: [BOUNTY] Rickenbacker Tweaks
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Fun/instruments.yml
Labels: none

Stop The Tesla Eating and Gaining Energy From Its Own Lightning. (#2631)
  Content.Server/Singularity/EntitySystems/EventHorizonSystem.cs
Labels: Changes: C#

Automated changelog update (#2631)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Stop The Tesla Eating and Gaining Energy From Its Own Lightning.
  Content.Server/Singularity/EntitySystems/EventHorizonSystem.cs
Labels: Changes: C#

cleanup hud types (revert)
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
Labels: none

ftl thingie
  Resources/Locale/en-US/_DEN/markings/ipc_screens.ftl
Labels: Changes: Localization

oopsie
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_monitor.rsi/head-2.png
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_monitor.rsi/head.png
Labels: Changes: Sprite

chem tweaks: phlog ignites you + flash reaction effect
  Content.Server/EntityEffects/Effects/FlashReactionEffect.cs
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Prototypes/Reagents/pyrotechnic.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
Labels: Changes: C#, Changes: Localization

smokes & smoke packs/cartons (wehhew + mutetoxin cigs commented out)
  Resources/Locale/en-US/_Impstation/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/discount.yml
  Resources/Prototypes/_Impstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/cartons.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Cartons/mixedrejectscarton.rsi/closed.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Cartons/mixedrejectscarton.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Cartons/mixedrejectscarton.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Cartons/mixedrejectscarton.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Cartons/mixedrejectscarton.rsi/open.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/mixedrejects.rsi/closed.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/mixedrejects.rsi/equipped-BELT.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/mixedrejects.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/mixedrejects.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/mixedrejects.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/mixedrejects.rsi/open.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/mixedrejects.rsi/trash.png
Labels: Changes: Localization, Changes: Sprite

typo fixes
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
Labels: Changes: Localization

asdf
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Kitchen/foodcarts.yml
  Resources/Prototypes/_DEN/Entities/Structures/Decoration/umbrella.yml
  Resources/Prototypes/_DEN/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/shower.yml
  Resources/Textures/_DEN/Decals/somber_electrum.rsi/electrumcirclesmall.png
  Resources/Textures/_DEN/Decals/somber_electrum.rsi/electrumcirclesmallNE.png
  Resources/Textures/_DEN/Decals/somber_electrum.rsi/electrumcirclesmallNW.png
  Resources/Textures/_DEN/Decals/somber_electrum.rsi/electrumcirclesmallSE.png
  Resources/Textures/_DEN/Decals/somber_electrum.rsi/electrumcirclesmallSW.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/somberdrain.rsi/eye-fill-1.png
  Resources/Textures/_DEN/Objects/Specific/Janitorial/somberdrain.rsi/eye.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/base-center.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framegold-center-unshaded.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framegold-center.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framegold-left-unshaded.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framegold-left.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framegold-right-unshaded.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framegold-right.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framegold-unshaded.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framegold.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framepink-center-unshaded.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framepink-center.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framepurple-center-unshaded.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framepurple-center.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framesilver-center-unshaded.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framesilver-center.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framesilver-left-unshaded.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framesilver-left.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framesilver-right-unshaded.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framesilver-right.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framesilver-unshaded.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/framesilver.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/meta.json
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/off-center.png
  Resources/Textures/_DEN/Structures/Wallmounts/somberswitch.rsi/on-center.png
Labels: Changes: Sprite
