Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

Missing construction category name
  Resources/Locale/en-US/_DV/construction/construction-categories.ftl
Labels: Changes: Localization

now checks for HardGrab instead of IsPulled
  Content.Shared/Cuffs/SharedCuffableSystem.cs
Labels: Changes: C#

Added birthday to records and consoles
  Content.Client/_CD/Records/UI/CharacterRecordViewer.xaml
  Content.Client/_CD/Records/UI/CharacterRecordViewer.xaml.cs
  Content.Client/_CD/Records/UI/RecordEditorGui.xaml
  Content.Client/_CD/Records/UI/RecordEditorGui.xaml.cs
  Content.Server/_CD/Records/RecordsSerialization.cs
  Content.Shared/_CD/Records/PlayerProvidedCharacterRecords.cs
  Resources/Locale/en-US/_CD/records/editor.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

Birthday defaults to N/A if none set
  Content.Shared/_CD/Records/PlayerProvidedCharacterRecords.cs
Labels: Changes: C#

modified Handcuff component to include check for if cuffs are breakable during hard grab. Modified cuff yml to include all that and modified the uncuff check to check for said addition
  Content.Shared/Cuffs/Components/HandcuffComponent.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
Labels: Changes: C#

Add custom colors to white items
  Resources/Prototypes/Loadouts/Generic/neck.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/neck.yml
  Resources/Prototypes/_DEN/beaniesAbsurd/loadouts.yml
  Resources/Prototypes/_Floof/Loadouts/outerClothing.yml
  Resources/Prototypes/_Floof/Loadouts/uniform.yml
Labels: none

Add an accesibility option to make flash effects black instead of white.
  Content.Client/Flash/FlashOverlay.cs
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Shared/_DV/CCVars/DCCVars.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Textures/Shaders/flashed_effect.swsl
Labels: Changes: C#, Changes: Localization, Changes: UI

Removed job restrictions on wearables
  Resources/Prototypes/Loadouts/Generic/eyes.yml
  Resources/Prototypes/Loadouts/Generic/uniform.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/uniform.yml
  Resources/Prototypes/_Floof/Loadouts/uniform.yml
Labels: none

add diner uniform yml
  Resources/Prototypes/_DEN/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: none

add diner uniforms to chefdrobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefdrobe.yml
Labels: none

add diner uniforms to prototypes
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/chef.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/chef.yml
Labels: none

add skates to loadouts
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/general.yml
Labels: none

Move things into the right place.
  Content.Client/Flash/FlashOverlay.cs
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Shared/_DEN/CCVars/DenCCVars.cs
  Content.Shared/_DV/CCVars/DCCVars.cs
  Resources/Locale/en-US/_DEN/escape-menu/options-menu.ftl
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

wrong loadout category lol
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/general.yml
Labels: none

add description to diner cap and uniform
  Resources/Prototypes/_DEN/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: none

let service worker take the diner uniforms too
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/chef.yml
Labels: none

make it inherit from chef hats instead now you can be piloted with it
  Resources/Prototypes/_DEN/Entities/Clothing/Head/hats.yml
Labels: none

Fix Thaven Typo In Underwear Restrictions
  Resources/Prototypes/Entities/Mobs/Customization/Markings/underwear.yml
Labels: none

more
  Resources/Locale/en-US/_DEN/markings/thaven.ftl
  Resources/Locale/en-US/_Impstation/markings/thaven.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/base_species.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/thaven.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/underwear.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/thaven.yml
  Resources/Textures/_DEN/Mobs/Customization/Thaven/chest.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Thaven/chest.rsi/nonaturals_f.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/underwear.rsi/leggings.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/underwear.rsi/leggings_f.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/underwear.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Thaven/underwear.rsi/satin_f.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/underwear.rsi/stockings-base-torso.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/underwear.rsi/stockings-base-torso_f.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/underwear.rsi/tanga_f.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/chest.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/chest.rsi/nonaturals.png
Labels: Changes: Localization, Changes: Sprite

work continues
  Resources/Locale/en-US/_DEN/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_DEN/Language/animal.yml
  Resources/Textures/_DEN/Mobs/Animals/eidolitehermit.rsi/equipped-HELMET-unshaded.png
  Resources/Textures/_DEN/Mobs/Animals/eidolitehermit.rsi/fella-dead-unshaded.png
  Resources/Textures/_DEN/Mobs/Animals/eidolitehermit.rsi/fella-dead.png
  Resources/Textures/_DEN/Mobs/Animals/eidolitehermit.rsi/fella-moving-unshaded.png
  Resources/Textures/_DEN/Mobs/Animals/eidolitehermit.rsi/fella-unshaded.png
  Resources/Textures/_DEN/Mobs/Animals/eidolitehermit.rsi/icon-unshaded.png
  Resources/Textures/_DEN/Mobs/Animals/eidolitehermit.rsi/inhand-left-unshaded.png
  Resources/Textures/_DEN/Mobs/Animals/eidolitehermit.rsi/inhand-right-unshaded.png
  Resources/Textures/_DEN/Mobs/Animals/eidolitehermit.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

updated descriptions+tau-ceti
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
Labels: none

oops
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
Labels: none

thusd fix
  Content.Server/Medical/CPR/CPRSystem.cs
Labels: Changes: C#

fuck
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
Labels: none

increase width of crew manifest
  Content.Client/CrewManifest/CrewManifestUi.xaml
Labels: Changes: UI

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

Grasslands/Lavaland Code Update
  Content.Server/_Lavaland/Procedural/Systems/LavalandPlanetSystem.cs
  Content.Shared/_Lavaland/CCVar/CCVars.Lavaland.cs
  Resources/Audio/_DEN/Unrefined/attributions.yml
  Resources/ConfigPresets/TheDen/defaultden.toml
Labels: Changes: C#, Changes: Config

Music Source
  Resources/Audio/_DEN/Unrefined/attributions.yml
Labels: none

Fixing constructions and song attribution (hopefully)
  Resources/Audio/_DEN/Unrefined/attributions.yml
  Resources/Prototypes/_DEN/Unrefined/Recipes/farming.yml
  Resources/Prototypes/_DEN/Unrefined/Recipes/structures.yml
Labels: none

added folding
  Resources/Prototypes/_DEN/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_Floof/Entities/Clothing/Neck/collars.yml
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_aa.rsi/folded-equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_aa.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_bell.rsi/folded-equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_bell.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_bell.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_black.rsi/folded-equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_black.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_blue.rsi/folded-equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_blue.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_cc.rsi/folded-equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_cc.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_cmd.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_cmd.rsi/folded-equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_cmd.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_cowbell.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_cowbell.rsi/folded-equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_cowbell.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_engi.rsi/folded-equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_engi.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_epi.rsi/folded-equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_epi.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_logi.rsi/folded-equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_logi.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_med.rsi/folded-equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_med.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_pink.rsi/folded-equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_pink.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_sec.rsi/folded-equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_sec.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_shock.rsi/folded-equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_shock.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_shock.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_syndi.rsi/folded-equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Collars/collar_syndi.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Neck/Collars/colorable_collar.rsi/folded-equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Collars/colorable_collar.rsi/meta.json
Labels: Changes: Sprite

Fixed URLs
  Resources/Prototypes/_DEN/Unrefined/Entities/Objects/magic.yml
  Resources/Prototypes/_DEN/Unrefined/Entities/Structures/crude_machines.yml
  Resources/Prototypes/_DEN/Unrefined/Recipes/structures.yml
Labels: none

Files Lintered
  Resources/Prototypes/Maps/unrefined.yml
  Resources/Prototypes/_DEN/Unrefined/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_DEN/Unrefined/Entities/Objects/Misc/quest_items.yml
  Resources/Prototypes/_DEN/Unrefined/Entities/Objects/Tools/tent_packs.yml
  Resources/Prototypes/_DEN/Unrefined/Entities/Objects/Weapons/forged_weapons.yml
  Resources/Prototypes/_DEN/Unrefined/Entities/Objects/magic.yml
  Resources/Prototypes/_DEN/Unrefined/Entities/Structures/flora.yml
  Resources/Prototypes/_DEN/Unrefined/Entities/Structures/quest_structures.yml
  Resources/Prototypes/_DEN/Unrefined/Recipes/Graphs/cast_anvil.yml
  Resources/Prototypes/_DEN/Unrefined/Recipes/Graphs/clay_oven.yml
  Resources/Prototypes/_DEN/Unrefined/Recipes/Graphs/cobblestone_wall.yml
  Resources/Prototypes/_DEN/Unrefined/Recipes/Graphs/cooking_fire.yml
  Resources/Prototypes/_DEN/Unrefined/Recipes/Graphs/crafting_table.yml
  Resources/Prototypes/_DEN/Unrefined/Recipes/Graphs/drainage_sump.yml
  Resources/Prototypes/_DEN/Unrefined/Recipes/Graphs/fertile_soil.yml
  Resources/Prototypes/_DEN/Unrefined/Recipes/Graphs/great_furnace.yml
  Resources/Prototypes/_DEN/Unrefined/Recipes/Graphs/grinding_mortar.yml
  Resources/Prototypes/_DEN/Unrefined/Recipes/Graphs/stone_furnace.yml
  Resources/Prototypes/_DEN/Unrefined/Recipes/Graphs/stone_knife.yml
  Resources/Prototypes/_DEN/Unrefined/Recipes/Graphs/stone_pickaxe.yml
  Resources/Prototypes/_DEN/Unrefined/Recipes/Graphs/stone_shovel.yml
  Resources/Prototypes/_DEN/Unrefined/Recipes/Graphs/vellum_map.yml
Labels: Changes: Map

Item components de-sprited
  Resources/Prototypes/_DEN/Unrefined/Entities/Objects/Tools/survival_tools.yml
Labels: none

Material item de-sprited
  Resources/Prototypes/_DEN/Unrefined/Entities/Objects/Materials/materials.yml
Labels: none

materials/stacks URLs fixed
  Resources/Prototypes/_DEN/Unrefined/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_DEN/Unrefined/Entities/Objects/Misc/quest_items.yml
  Resources/Prototypes/_DEN/Unrefined/Entities/Objects/magic.yml
Labels: none

magic essence item de-sprited
  Resources/Prototypes/_DEN/Unrefined/Entities/Objects/magic.yml
Labels: none

swapped rsi state order
  Resources/Textures/_DEN/Unrefined/Objects/Tools/stone_knife.rsi/meta.json
Labels: Changes: Sprite

magic essence sprite URLs fixed
  Resources/Prototypes/_DEN/Unrefined/Entities/Objects/magic.yml
Labels: none

survival tools sprite URL fixed
  Resources/Prototypes/_DEN/Unrefined/Entities/Objects/Tools/survival_tools.yml
Labels: none

Material URLs fixed
  Resources/Prototypes/_DEN/Unrefined/Entities/Objects/Materials/materials.yml
Labels: none
