Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

remove accidental coconut sprites + rose cocktail ethanol% fix + rose razorium + rose water jug
  Resources/Prototypes/_DEN/Catalog/ReagentDispensers/beverage.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Throwable/roses.yml
  Resources/Prototypes/_Impstation/Reagents/Consumable/Drink/alchohol.yml
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/coconest-inhand-left.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/coconest-inhand-right.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/coconest.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/dead.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/harvest.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/seed.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/slice.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/stage-1.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/stage-2.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/stage-3.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/stage-4.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/stage-5.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/stage-6.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/coconut-inhand-left.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/coconut-inhand-right.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/coconut.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/dead.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/harvest.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/seed.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/slice.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/stage-1.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/stage-2.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/stage-3.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/stage-4.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/stage-5.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/stage-6.png
Labels: Changes: Sprite

allow instrument stands to be swappable
  Content.Server/_DEN/Instruments/InstrumentStandSystem.cs
Labels: Changes: C#

add filled microphone stand prototype
  Resources/Prototypes/_DEN/Entities/Objects/Fun/Instruments/stands.yml
Labels: none

add crafting recipe for microphone stands
  Resources/Prototypes/_DEN/Entities/Objects/Fun/Instruments/stands.yml
  Resources/Prototypes/_DEN/Recipes/Construction/Graphs/Utilities/instrumentStands.yml
  Resources/Prototypes/_DEN/Recipes/Construction/utilities.yml
Labels: none

credit LandsharkRAWR for the rose PR
  Resources/Locale/en-US/_Impstation/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/consumable/drink/alchohol.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/consumable/drink/juice.ftl
  Resources/Locale/en-US/_Impstation/seeds/seeds.ftl
  Resources/Locale/en-US/_Impstation/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/_Impstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Throwable/roses.yml
  Resources/Prototypes/_Impstation/Flavors/flavors.yml
  Resources/Prototypes/_Impstation/Hydroponics/seeds.yml
  Resources/Prototypes/_Impstation/Reagents/Consumable/Drink/alchohol.yml
  Resources/Prototypes/_Impstation/Reagents/Consumable/Drink/juice.yml
  Resources/Prototypes/_Impstation/Recipes/Reactions/drinks.yml
Labels: Changes: Localization

Implement map text (#28705)
  Content.Client/MapText/MapTextComponent.cs
  Content.Client/MapText/MapTextOverlay.cs
  Content.Client/MapText/MapTextSystem.cs
  Content.Server/MapText/MapTextComponent.cs
  Content.Server/MapText/MapTextSystem.cs
  Content.Shared/MapText/SharedMapTextComponent.cs
  Content.Shared/MapText/SharedMapTextSystem.cs
  Resources/Locale/en-US/mapping/map-text-component.ftl
  Resources/Prototypes/Entities/Markers/map_text.yml
Labels: Changes: C#, Changes: Localization

fix test fail
  Resources/Prototypes/Entities/Markers/map_text.yml
Labels: none

test fail fix?
  Content.Server/_DEN/Instruments/InstrumentStandSystem.cs
  Resources/Prototypes/_DEN/Entities/Objects/Fun/Instruments/stands.yml
Labels: Changes: C#

feat: sauna marker
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Commands.cs
  Content.Shared/Atmos/Atmospherics.cs
  Resources/Prototypes/Entities/Markers/atmos_blocker.yml
  Resources/Prototypes/_DEN/Entities/Markers/atmos_blocker.yml
  Resources/Textures/Markers/atmos.rsi/meta.json
  Resources/Textures/Markers/atmos.rsi/sauna.png
Labels: Changes: C#, Changes: Sprite

text fix part 2?
  Resources/Prototypes/_DEN/Entities/Objects/Fun/Instruments/stands.yml
Labels: none

test fix part 3?
  Resources/Prototypes/_DEN/Entities/Objects/Fun/Instruments/stands.yml
Labels: none

Update Resources/Textures/Objects/Misc/ParcelGiftWrap/gift_wrap.rsi/meta.json
  Resources/Textures/Objects/Misc/ParcelGiftWrap/gift_wrap.rsi/meta.json
Labels: Changes: Sprite

Update Resources/Textures/Objects/Misc/ParcelGiftWrap/gift_wrap_trash.rsi/meta.json
  Resources/Textures/Objects/Misc/ParcelGiftWrap/gift_wrap_trash.rsi/meta.json
Labels: Changes: Sprite

Update Resources/Textures/Objects/Misc/ParcelGiftWrap/gift_wrap.rsi/meta.json
  Resources/Textures/Objects/Misc/ParcelGiftWrap/gift_wrap.rsi/meta.json
Labels: Changes: Sprite

Update Resources/Textures/Objects/Misc/ParcelGiftWrap/gift_wrap_trash.rsi/meta.json
  Resources/Textures/Objects/Misc/ParcelGiftWrap/gift_wrap_trash.rsi/meta.json
Labels: Changes: Sprite

Update Resources/Textures/Objects/Misc/ParcelGiftWrap/wrapped_gift.rsi/meta.json
  Resources/Textures/Objects/Misc/ParcelGiftWrap/wrapped_gift.rsi/meta.json
Labels: Changes: Sprite

Meowzers
  Content.Client/_DEN/Hub/HubPanel.xaml.cs
  Content.Server/_DEN/Hub/HubManager.cs
  Content.Shared/_DEN/Hub/HubData.cs
  Content.Shared/_DEN/Hub/HubServerPrototype.cs
  Resources/Prototypes/_DEN/Hub/hub_servers.yml
Labels: Changes: C#, Changes: UI

Moth noises-Squeak!
  Resources/Audio/_CD/Voice/Talk/attributions.yml
  Resources/Audio/_CD/Voice/Talk/moth.ogg
  Resources/Audio/_CD/Voice/Talk/moth_ask.ogg
  Resources/Audio/_CD/Voice/Talk/moth_exclaim.ogg
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/_CD/Voice/speech_sounds.yml
Labels: Changes: Audio

Update Resources/Audio/_CD/Voice/Talk/attributions.yml
  Resources/Audio/_CD/Voice/Talk/attributions.yml
Labels: none

done and dusted, out of this world
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
Labels: none

Updated guidebook.
  Resources/Locale/en-US/_DEN/guidebook/guides.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
  Resources/Prototypes/Guidebook/chemicals.yml
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_Floof/Reagents/Aphrodisiacs/medicine.yml
  Resources/Prototypes/_Floof/Reagents/Aphrodisiacs/narcotics.yml
  Resources/Prototypes/_Floof/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_Floof/Reagents/natural_sauce.yml
  Resources/ServerInfo/Guidebook/ChemicalTabs/Lewd.xml
Labels: Changes: Documentation, Changes: Localization

the this thing
  Content.IntegrationTests/Tests/Interaction/InteractionTest.cs
Labels: Changes: C#

revert
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
Labels: none

playing around with revenant powers
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/skia.yml
Labels: none

azalea plushie initial commit
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Textures/_DEN/Objects/Fun/azaleaplushie.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/azaleaplushie.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/azaleaplushie.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/azaleaplushie.rsi/meta.json
Labels: Changes: Sprite

Fix Mantis Blindfold/Veil
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/epiglasses_mantis_alt.rsi/equipped-EYES-chitinid.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/epiglasses_mantis_alt.rsi/equipped-EYES-feroxi.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/epiglasses_mantis_alt.rsi/equipped-EYES-reptilian.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/epiglasses_mantis_alt.rsi/equipped-EYES-resomi.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/epiglasses_mantis_alt.rsi/equipped-EYES-shadowkin.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/epiglasses_mantis_alt.rsi/equipped-EYES-vox.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/epiglasses_mantis_alt.rsi/equipped-EYES-vulpkanin.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/epiglasses_mantis_alt.rsi/equipped-EYES.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/epiglasses_mantis_alt.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_veil.rsi/equipped-MASK-chitinid.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_veil.rsi/equipped-MASK-feroxi.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_veil.rsi/equipped-MASK-ovinia.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_veil.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_veil.rsi/equipped-MASK-resomi.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_veil.rsi/equipped-MASK-rodentia.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_veil.rsi/equipped-MASK-shadowkin.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_veil.rsi/equipped-MASK-tajaran.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_veil.rsi/equipped-MASK-vox.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_veil.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_veil.rsi/equipped-MASK.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_veil.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Neck/Bedsheets/mantis.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Structures/Machines/somberjukebox.rsi/meta.json
  Resources/Textures/_DEN/Structures/Machines/somberjukebox.rsi/select.png
Labels: Changes: Sprite

Mantees
  Resources/Maps/TheDen/dingo.yml
  Resources/Maps/TheDen/gravel.yml
Labels: Changes: Map

somber
  Resources/Maps/TheDen/dingo.yml
  Resources/Maps/TheDen/gravel.yml
Labels: Changes: Map

EDGE
  Resources/Maps/TheDen/edge.yml
Labels: Changes: Map

oops light fix
  Resources/Maps/TheDen/edge.yml
  Resources/Maps/TheDen/gravel.yml
Labels: Changes: Map

Fix Mantis (wheel)Chair
  Resources/Prototypes/_DEN/Entities/Structures/furniture/chairs.yml
Labels: none

Update gravel.yml
  Resources/Maps/TheDen/gravel.yml
Labels: Changes: Map

updated description
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
Labels: none

this motherfucker is burgers
  Resources/Locale/en-US/_DEN/nutrition/components/food-sequence.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/FoodSequence/mothic_sequence_element.yml
Labels: Changes: Localization

she is obtainable
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/toys.yml
Labels: none

deleted some code that was causing this bug
  Content.Shared/_DEN/Movement/Systems/SharedLegSupportSystem.cs
Labels: Changes: C#

i add her to toy spawner too
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
Labels: none

Update perpetuity.yml
  Resources/Maps/TheDen/perpetuity.yml
Labels: Changes: Map

other stuff
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/knuckles.yml
  Resources/Textures/_DEN/Clothing/Back/Misc/mantis-sarcophagus.rsi/equipped-SUITSTORAGE-thaven.png
  Resources/Textures/_DEN/Clothing/Back/Misc/mantis-sarcophagus.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Clothing/Back/Misc/mantis-sarcophagus.rsi/flipped-equipped-SUITSTORAGE-thaven.png
  Resources/Textures/_DEN/Clothing/Back/Misc/mantis-sarcophagus.rsi/flipped-equipped-SUITSTORAGE.png
Labels: Changes: Sprite

baboom
  Resources/Maps/TheDen/manta.yml
Labels: Changes: Map

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
