Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

we're getting there it's fine
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/RequirementsSelector.xaml
  Content.Client/Lobby/UI/RequirementsSelector.xaml.cs
  Content.Client/_DEN/Lobby/UI/Controls/AlternateTitleSelectionMenu.xaml
  Content.Client/_DEN/Lobby/UI/Controls/AlternateTitleSelectionMenu.xaml.cs
  Content.Server/_DEN/Job/AlternateJobTitleSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/_DEN/Job/SharedAlternateTitleSystem.cs
Labels: Changes: C#, Changes: UI

migration
  Content.Server.Database/Migrations/Postgres/20250829011917_AlternateJobTitles.Designer.cs
  Content.Server.Database/Migrations/Postgres/20250829011917_AlternateJobTitles.cs
  Content.Server.Database/Migrations/Postgres/PostgresServerDbContextModelSnapshot.cs
  Content.Server.Database/Migrations/Sqlite/20250829011908_AlternateJobTitles.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20250829011908_AlternateJobTitles.cs
Labels: Changes: C#

Finish implementing functionality of the custom job title system as well as polish up the UI.
  Content.Client/Lobby/UI/CharacterPickerButton.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/_DEN/Lobby/UI/Controls/AlternateTitleSelectionMenu.xaml
  Content.Client/_DEN/Lobby/UI/Controls/AlternateTitleSelectionMenu.xaml.cs
  Content.Server/Access/Systems/PresetIdCardSystem.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Server/_DEN/Job/Components/AlternateJobTitleComponent.cs
  Content.Server/_DEN/Job/Systems/AlternateJobTitleSystem.cs
  Content.Shared/Roles/JobPrototype.cs
  Resources/Locale/en-US/_DEN/roles/alternate/command-alternate.ftl
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/captain.yml
Labels: Changes: C#, Changes: Localization, Changes: UI

Remove some excess logging.
  Content.Client/_DEN/Lobby/UI/Controls/AlternateTitleSelectionMenu.xaml.cs
Labels: Changes: C#, Changes: UI

Hey woops that's not hooked up to anything anymore.
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
Labels: none

BSO Webbing and BRDI P-15
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_DV/Entities/Clothing/Belt/belts.yml
  Resources/Textures/_DEN/Clothing/Belt/BSO_belt_overlay.rsi/BRDIP_15.png
  Resources/Textures/_DEN/Clothing/Belt/BSO_belt_overlay.rsi/baton.png
  Resources/Textures/_DEN/Clothing/Belt/BSO_belt_overlay.rsi/flashbang.png
  Resources/Textures/_DEN/Clothing/Belt/BSO_belt_overlay.rsi/gasgrenade.png
  Resources/Textures/_DEN/Clothing/Belt/BSO_belt_overlay.rsi/katana.png
  Resources/Textures/_DEN/Clothing/Belt/BSO_belt_overlay.rsi/medkit.png
  Resources/Textures/_DEN/Clothing/Belt/BSO_belt_overlay.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Belt/BSO_belt_overlay.rsi/pulsemagnum.png
  Resources/Textures/_DEN/Clothing/Belt/BSO_belt_overlay.rsi/slp.png
  Resources/Textures/_DEN/Clothing/Belt/BSO_belt_overlay.rsi/universal.png
  Resources/Textures/_DEN/Clothing/Belt/BSO_belt_overlay.rsi/wakizashi.png
  Resources/Textures/_DEN/Clothing/Belt/blueshieldwebbing.rsi/equipped-BELT.png
  Resources/Textures/_DEN/Clothing/Belt/blueshieldwebbing.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Belt/blueshieldwebbing.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Belt/blueshieldwebbing.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Belt/blueshieldwebbing.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Guns/Pistols/BRDIP_15.rsi/base.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Pistols/BRDIP_15.rsi/bolt-open.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Pistols/BRDIP_15.rsi/equipped-BELT.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Pistols/BRDIP_15.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Pistols/BRDIP_15.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Pistols/BRDIP_15.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Pistols/BRDIP_15.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Pistols/BRDIP_15.rsi/mag-0.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Pistols/BRDIP_15.rsi/meta.json
Labels: Changes: Sprite

meow
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutsItemListPanel.xaml.cs
  Content.Client/_DEN/Lobby/UI/Loadouts/LoadoutsTab.xaml
  Content.Client/_DEN/Lobby/UI/Loadouts/LoadoutsTab.xaml.cs
  Content.Server.Database/Migrations/Postgres/20251024005328_JobLoadouts.Designer.cs
  Content.Server.Database/Migrations/Postgres/20251024005328_JobLoadouts.cs
  Content.Server.Database/Migrations/Postgres/PostgresServerDbContextModelSnapshot.cs
  Content.Server.Database/Migrations/Sqlite/20251024005323_JobLoadouts.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20251024005323_JobLoadouts.cs
  Content.Server.Database/Model.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Clothing/Loadouts/Systems/SharedLoadoutSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Resources/Locale/en-US/_DEN/loadouts/ui.ftl
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

ruff ruff
  Content.Server.Database/Model.cs
Labels: Changes: C#

feat: new job titles
  Resources/Locale/en-US/_DEN/roles/alternate/command-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/dignitary-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/engineering-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/epistemics-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/logistics-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/medical-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/security-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/service-alternate.ftl
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/command.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/dignitary.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/engineering.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/epistemics.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/logistics.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/medical.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/security.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/service.yml
Labels: Changes: Localization

feat: character requirements for titles
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/RequirementsSelector.xaml.cs
  Content.Client/_DEN/Lobby/UI/Controls/AlternateTitleSelectionMenu.xaml.cs
  Content.Shared/_DEN/Job/AlternateJobTitlePrototype.cs
Labels: Changes: C#, Changes: UI

chore: update prototypes to match changes
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/command.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/dignitary.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/engineering.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/epistemics.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/logistics.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/medical.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/security.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/service.yml
Labels: none

feat: ensure LocIds are saved, not strings
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/RequirementsSelector.xaml.cs
  Content.Client/_DEN/Lobby/UI/Controls/AlternateTitleSelectionMenu.xaml.cs
Labels: Changes: C#, Changes: UI

fix: linter error
  Resources/Locale/en-US/_DEN/roles/alternate/security-alternate.ftl
Labels: Changes: Localization

fix: use proper locales
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/security.yml
Labels: none

feat: add more job titles
  Resources/Locale/en-US/_DEN/roles/alternate/command-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/dignitary-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/engineering-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/epistemics-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/logistics-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/medical-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/security-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/service-alternate.ftl
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/command.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/dignitary.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/engineering.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/epistemics.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/logistics.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/medical.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/security.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/service.yml
Labels: Changes: Localization

fix: missing localizations
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/security.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/service.yml
Labels: none

chore: more medical titles
  Resources/Locale/en-US/_DEN/roles/alternate/medical-alternate.ftl
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/medical.yml
Labels: Changes: Localization

fix: linter
  Resources/Locale/en-US/_DEN/roles/alternate/medical-alternate.ftl
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/medical.yml
Labels: Changes: Localization

make candy cigarettes actually get smoket
  Resources/Prototypes/_DV/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
Labels: none

reptilian markings
  Resources/Locale/en-US/_DEN/markings/reptilianandvulpkanin.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/reptilianmarks.yml
  Resources/Textures/_DEN/Mobs/Customization/Reptilian/cheek.rsi/cheek_tuft.png
  Resources/Textures/_DEN/Mobs/Customization/Reptilian/cheek.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Reptilian/ears.rsi/floppy_ears.png
  Resources/Textures/_DEN/Mobs/Customization/Reptilian/ears.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Reptilian/horns.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Reptilian/horns.rsi/short_horns.png
  Resources/Textures/_DEN/Mobs/Customization/Reptilian/tail.rsi/furred_tail_over.png
  Resources/Textures/_DEN/Mobs/Customization/Reptilian/tail.rsi/furred_tail_under.png
  Resources/Textures/_DEN/Mobs/Customization/Reptilian/tail.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

unpaid intern title for AA
  Resources/Locale/en-US/_DEN/roles/alternate/command-alternate.ftl
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/command.yml
Labels: Changes: Localization

baikal's haunted
  Resources/Maps/TheDen/baikal.yml
Labels: Changes: Map

moar job titles
  Resources/Locale/en-US/_DEN/roles/alternate/command-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/engineering-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/epistemics-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/security-alternate.ftl
  Resources/Locale/en-US/_DEN/roles/alternate/service-alternate.ftl
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/command.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/engineering.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/epistemics.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/security.yml
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/service.yml
Labels: Changes: Localization

remove queen
  Resources/Locale/en-US/_DEN/roles/alternate/command-alternate.ftl
Labels: Changes: Localization

remove admiral from captain, it's a CC rank
  Resources/Locale/en-US/_DEN/roles/alternate/command-alternate.ftl
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/command.yml
Labels: Changes: Localization

Forgot acolyte
  Resources/Locale/en-US/_DEN/roles/alternate/epistemics-alternate.ftl
Labels: Changes: Localization

fixing typos
  Resources/Locale/en-US/_DEN/roles/alternate/security-alternate.ftl
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/security.yml
Labels: Changes: Localization

Changed BSO locker items, BSO webbing + loadout tweaks, Tons of contraband parents.
  Resources/Locale/en-US/prototypes/entities/clothing/outerClothing/hardsuits.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/base_contraband.yml
  Resources/Prototypes/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_DEN/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/praetorian.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/armour.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Entities/Misc/implanters.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Lever/lever.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/blueshield_mace.yml
  Resources/Prototypes/_Goobstation/Entities/Shields/shields.yml
  Resources/Prototypes/_Goobstation/Entities/Specific/bso.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
Labels: Changes: Localization

fix: improper saving
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: Changes: C#

Revert "Make Candy Cigarettes Actually Get Smoket (#1937)"
  Resources/Prototypes/_DV/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
Labels: none

mrow
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/RequirementsSelector.xaml
  Content.Client/Lobby/UI/RequirementsSelector.xaml.cs
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutJobActionsWindow.xaml
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutJobActionsWindow.xaml.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Resources/Locale/en-US/_DEN/loadouts/actions.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

BRDIP-15 magazine sprites + Greatshield suitstorage and backpack sprites
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
  Resources/Prototypes/_Goobstation/Entities/Shields/shields.yml
  Resources/Textures/_DEN/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/BRDIP_15_mag.rsi/base.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/BRDIP_15_mag.rsi/mag-1.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/BRDIP_15_mag.rsi/mag-10.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/BRDIP_15_mag.rsi/mag-11.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/BRDIP_15_mag.rsi/mag-2.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/BRDIP_15_mag.rsi/mag-3.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/BRDIP_15_mag.rsi/mag-4.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/BRDIP_15_mag.rsi/mag-5.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/BRDIP_15_mag.rsi/mag-6.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/BRDIP_15_mag.rsi/mag-7.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/BRDIP_15_mag.rsi/mag-8.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/BRDIP_15_mag.rsi/mag-9.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/BRDIP_15_mag.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/BRDIP_15_mag.rsi/practice.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/BRDIP_15_mag.rsi/red-icon.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/BRDIP_15_mag.rsi/red.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/BRDIP_15_mag.rsi/rubber.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/BRDIP_15_mag.rsi/uranium.png
  Resources/Textures/_Goobstation/Objects/Shields/blueshieldshield.rsi/equipped-BACKPACK-on.png
  Resources/Textures/_Goobstation/Objects/Shields/blueshieldshield.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Shields/blueshieldshield.rsi/equipped-SUITSTORAGE-on.png
  Resources/Textures/_Goobstation/Objects/Shields/blueshieldshield.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Shields/blueshieldshield.rsi/meta.json
Labels: Changes: Sprite

miaow
  Content.Server/Database/ServerDbBase.cs
Labels: Changes: C#

mrruh
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: C#, Changes: UI

meow
  Content.Client/Lobby/UI/RequirementsSelector.xaml.cs
Labels: Changes: C#, Changes: UI

Teeny tiny addition
  Resources/Prototypes/_White/Entities/Mobs/Customization/Markings/reptilian.yml
Labels: none

Some more markings, cause IPCs have lizard synth bodies
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
Labels: none

use the right function for this
  Content.Server/Traits/TraitSystem.Functions.cs
Labels: Changes: C#

arachnid get all hair
  Resources/Locale/en-US/_Impstation/markings/arachnid.ftl
  Resources/Prototypes/Species/arachnid.yml
Labels: Changes: Localization

i think this needs to be here
  Resources/Prototypes/Species/arachnid.yml
Labels: none

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
