Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

chore: automatically update REUSE headers
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/chaplain.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Mail/mail.yml
Labels: none

Adding Jaeger, finally. Also a test.
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/ReagentDispensers/beverage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/unlockedboozeomat.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_glass.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/trash_drinks.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
  Resources/Textures/Objects/Consumable/Drinks/jaegermister.rsi/fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/jaegermister.rsi/fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/jaegermister.rsi/fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/jaegermister.rsi/fill-4.png
  Resources/Textures/Objects/Consumable/Drinks/jaegermister.rsi/fill-5.png
  Resources/Textures/Objects/Consumable/Drinks/jaegermister.rsi/fill-6.png
  Resources/Textures/Objects/Consumable/Drinks/jaegermister.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/jaegermister.rsi/icon_empty.png
  Resources/Textures/Objects/Consumable/Drinks/jaegermister.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/jaegermisterbottle.rsi/fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/jaegermisterbottle.rsi/fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/jaegermisterbottle.rsi/fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/jaegermisterbottle.rsi/fill-4.png
  Resources/Textures/Objects/Consumable/Drinks/jaegermisterbottle.rsi/fill-5.png
  Resources/Textures/Objects/Consumable/Drinks/jaegermisterbottle.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/jaegermisterbottle.rsi/icon_empty.png
  Resources/Textures/Objects/Consumable/Drinks/jaegermisterbottle.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/jaegermisterbottle.rsi/meta.json
  Resources/Textures/Objects/Consumable/TrashDrinks/jaegermisterbottle_empty.rsi/icon.png
  Resources/Textures/Objects/Consumable/TrashDrinks/jaegermisterbottle_empty.rsi/meta.json
Labels: Changes: Localization, Changes: Sprite

fix prayer rugs yay they are functional now
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Chapel/prayer objects.yml
Labels: none

Little Glacier Fixes... 2!
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: Map

chore: automatically update REUSE headers
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: Map

chore: automatically update REUSE headers
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/ReagentDispensers/beverage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/unlockedboozeomat.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_glass.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/trash_drinks.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
Labels: none

Update flavors.yml
  Resources/Prototypes/Flavors/flavors.yml
Labels: none

Clean up Lockers & Add Jetpacks
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
Labels: none

chore: automatically update REUSE headers
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
Labels: none

Update Content.Server/_DEN/Vampiric/BloodSuckerSystem.cs
  Content.Server/_DEN/Vampiric/BloodSuckerSystem.cs
Labels: Changes: C#

chore: automatically update REUSE headers
  Content.Server/_DEN/Vampiric/BloodSuckerSystem.cs
Labels: Changes: C#

Convert Locker/Closet fills to Entity Tables: Part 2 (#38254)
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Catalog/Fills/Lockers/space_ruin.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_colors.yml
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/service.yml
Labels: none

Added entity tables for other forks and added their content to them
  Resources/Prototypes/_DEN/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_DEN/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/_DEN/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_Floof/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/security.yml
Labels: none

chore: automatically update REUSE headers
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Catalog/Fills/Lockers/space_ruin.yml
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_colors.yml
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/_DEN/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_DEN/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/_DEN/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/_Floof/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/security.yml
Labels: none

I did it better
  Content.Server/Consent/ConsentSystem.cs
  Content.Server/Consent/ServerConsentManager.cs
  Content.Server/Devour/DevourSystem.cs
  Content.Server/FloofStation/Abilities/Psionics/Abilities/PsionicHypnoSystem.cs
  Content.Server/_DEN/Devour/DevourSystem.DEN.cs
  Content.Server/_DEN/Devourable/DevourableSystem.cs
  Content.Shared/Atmos/Rotting/SharedRottingSystem.cs
  Content.Shared/Consent/SharedConsentSystem.cs
  Content.Shared/Devour/SharedDevourSystem.cs
  Content.Shared/Mind/SharedMindSystem.cs
  Content.Shared/_DEN/Devourable/DevourableComponent.cs
  Content.Shared/_DEN/Unrotting/DragonUnrottingComponent.cs
Labels: Changes: C#

chore: automatically update REUSE headers
  Content.Server/Consent/ServerConsentManager.cs
  Content.Server/FloofStation/Abilities/Psionics/Abilities/PsionicHypnoSystem.cs
  Content.Server/_DEN/Devour/DevourSystem.DEN.cs
  Content.Shared/Atmos/Rotting/SharedRottingSystem.cs
  Content.Shared/Mind/SharedMindSystem.cs
  Content.Shared/_DEN/Unrotting/DragonUnrottingComponent.cs
Labels: Changes: C#

erm
  Content.Server/Consent/ServerConsentManager.cs
Labels: Changes: C#

Revert "erm"
  Content.Server/Consent/ServerConsentManager.cs
Labels: Changes: C#

fix namespace
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/UserInterface/Systems/MenuBar/GameTopMenuBarUIController.cs
  Content.Client/_Floof/Consent/ClientConsentManager.cs
  Content.Client/_Floof/Consent/ConsentSystem.cs
  Content.Client/_Floof/Consent/IClientConsentManager.cs
  Content.Client/_Floof/Consent/UI/ConsentUiController.cs
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml.cs
  Content.Server/Abilities/Psionics/Abilities/MindSwapPowerSystem.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Server/Database/UserDbDataManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/FloofStation/Abilities/Psionics/Abilities/PsionicHypnoSystem.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/StationEvents/Events/MassMindSwapRule.cs
  Content.Server/_DV/ParadoxAnomaly/Systems/ParadoxAnomalySystem.cs
  Content.Server/_Floof/Consent/ConsentSystem.cs
  Content.Server/_Floof/Consent/IServerConsentManager.cs
  Content.Server/_Floof/Consent/ServerConsentManager.cs
  Content.Shared/Devour/SharedDevourSystem.cs
  Content.Shared/_Floof/Consent/ConsentTogglePrototype.cs
  Content.Shared/_Floof/Consent/MsgUpdateConsent.cs
  Content.Shared/_Floof/Consent/PlayerConsentSettings.cs
  Content.Shared/_Floof/Consent/SharedConsentSystem.cs
  Content.Shared/_Floof/Examine/CustomExamineSystem.cs
Labels: Changes: C#, Changes: UI

chore: automatically update REUSE headers
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/UserInterface/Systems/MenuBar/GameTopMenuBarUIController.cs
  Content.Server/Abilities/Psionics/Abilities/MindSwapPowerSystem.cs
  Content.Server/Database/UserDbDataManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/StationEvents/Events/MassMindSwapRule.cs
Labels: Changes: C#

a
  Content.Shared/_Floof/Consent/SharedConsentSystem.cs
Labels: Changes: C#

split temperature protection into heating and cooling (#30662)
  Content.Server/Atmos/Components/TemperatureProtectionComponent.cs
  Content.Server/Temperature/Components/TemperatureProtectionComponent.cs
  Content.Server/Temperature/Systems/TemperatureSystem.cs
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
Labels: Changes: C#

Reset TC provided to antags & reset cost changes
  Content.Server/GameTicking/Rules/Components/TraitorRuleComponent.cs
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
Labels: Changes: C#

chore: automatically update REUSE headers
  Content.Server/GameTicking/Rules/Components/TraitorRuleComponent.cs
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
Labels: Changes: C#

Fix previous coefficient mentions
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: none

chore: automatically update REUSE headers
  Content.Server/Temperature/Components/TemperatureProtectionComponent.cs
  Content.Server/Temperature/Systems/TemperatureSystem.cs
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: C#

Disable NukeOps from the scheduler for now
  Resources/Prototypes/game_presets.yml
Labels: none

The Test-Fix of '87
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Neck/base_clothingneck.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/robes.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_DV/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_EE/Entities/Clothing/Neck/magmantles.yml
  Resources/Prototypes/_EE/Entities/Clothing/SolAlliance/SAN/Modsuits/CSA-85x.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/apocryphal.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/corporate.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/engineering-responsory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/inquisitory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/janitorial-responsory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/leader-responsory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/medical-responsory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/praetorian.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/security-responsory.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/modsuit.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/armour.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/modsuit.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/coats_punk.yml
  Resources/Prototypes/_White/Entities/Clothing/Cult/armor.yml
Labels: none

don't remove the game mode entirely, you dolt
  Resources/Prototypes/_DEN/random_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: none

chore: automatically update REUSE headers
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Neck/base_clothingneck.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/robes.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_DV/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_EE/Entities/Clothing/Neck/magmantles.yml
  Resources/Prototypes/_EE/Entities/Clothing/SolAlliance/SAN/Modsuits/CSA-85x.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/apocryphal.yml
Labels: none

Consistency
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
Labels: none

chore: automatically update REUSE headers
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
Labels: none

Consistency
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
Labels: none

chore: automatically update REUSE headers
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
Labels: none

Small Oversight
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/robes.yml
Labels: none

removed JOL and reduced speed on cybernetics
  Resources/Prototypes/_Shitmed/Body/Parts/cybernetic.yml
Labels: none

chore: automatically update REUSE headers
  Resources/Prototypes/_Shitmed/Body/Parts/cybernetic.yml
Labels: none

HOPEFULLY FINAL TEST FIX
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/misc.yml
Labels: none

lower cold slowdown
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/chitinid.yml
Labels: none

chore: automatically update REUSE headers
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/chitinid.yml
Labels: none

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
