Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

added 11 new pipe colors
  Resources/Prototypes/Entities/Objects/Tools/spray_painter.yml
Labels: none

yeppp
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Medical/pills.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Prototypes/_DEN/VASH/Entities/Objects/pills.yml
Labels: none

birth control
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Prototypes/_DEN/VASH/Entities/Objects/pills.yml
Labels: none

Add Papermoon dyed paper reams (#2864)
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/paper.yml
  Resources/Textures/_DV/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/_DV/Objects/Misc/bureaucracy.rsi/ream-bright.png
  Resources/Textures/_DV/Objects/Misc/bureaucracy.rsi/ream-classic.png
Labels: Changes: Sprite

#mywarning
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
Labels: none

Fixing reams not showing up + more folders
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
Labels: none

Added to loadout, costs 1 point, available for all
  Resources/Prototypes/_DEN/Loadouts/Generic/items.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/paper.yml
Labels: none

The Underworld Arrives...
  Resources/Maps/TheDen/clubYNK.yml
Labels: Changes: Map

Safety Measures (emergency closets)
  Resources/Maps/TheDen/clubYNK.yml
Labels: Changes: Map

vergil voice: WHY ISNT THIS WORKING.
  Resources/Locale/en-US/_DEN/markings/eyes.ftl
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/eyes.yml
  Resources/Textures/_DEN/Mobs/Customization/Body/eyes/glowingeyel.png
  Resources/Textures/_DEN/Mobs/Customization/Body/eyes/glowingeyer.png
  Resources/Textures/_DEN/Mobs/Customization/Body/eyes/glowingeyes.png
  Resources/Textures/_DEN/Mobs/Customization/Body/eyes/meta.json
Labels: Changes: Localization

Update PlayerProvidedCharacterRecords.cs
  Content.Shared/_CD/Records/PlayerProvidedCharacterRecords.cs
Labels: Changes: C#

i forgot to put .rsi (also head)
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/eyes.yml
  Resources/Textures/_DEN/Mobs/Customization/Head/eyes.rsi/glowingeyel.png
  Resources/Textures/_DEN/Mobs/Customization/Head/eyes.rsi/glowingeyer.png
  Resources/Textures/_DEN/Mobs/Customization/Head/eyes.rsi/glowingeyes.png
  Resources/Textures/_DEN/Mobs/Customization/Head/eyes.rsi/meta.json
Labels: Changes: Sprite

I. ok. final one.
  Resources/Locale/en-US/_DEN/markings/eyes.ftl
Labels: Changes: Localization

ok final, final one
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/eyes.yml
Labels: none

Fixing the explosive pen so it can explode
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/pen.yml
Labels: none

Minor Arena Fixes
  Resources/Maps/TheDen/arena.yml
Labels: Changes: Map

Improve Gas Yaml Serialization (#40070)
  Content.IntegrationTests/Tests/Atmos/GasArrayTest.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Gases.cs
  Content.Server/Atmos/Reactions/GasReactionPrototype.cs
  Content.Shared/Atmos/GasArraySerializer.cs
  Content.Shared/Atmos/GasMixture.cs
  Resources/Prototypes/Atmospherics/reactions.yml
  Resources/Prototypes/Catalog/Fills/Items/gas_tanks.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
Labels: Changes: C#

Improve canister admin logs (#34495)
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasCanisterSystem.cs
  Content.Shared/Atmos/GasMixture.cs
  Content.Tests/Shared/Atmos/GasMixtureTest.cs
Labels: Changes: C#

Fix missing Comp
  Content.IntegrationTests/Tests/Atmos/GasArrayTest.cs
Labels: Changes: C#

Change format of other items to the new format
  Resources/Prototypes/Entities/Markers/atmos_blocker.yml
  Resources/Prototypes/Entities/Mobs/Species/plasmaman.yml
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/_DV/Catalogue/Fills/Items/gas_tanks.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Items/gas_tanks.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/spaceblade.yml
Labels: none

Remove unecessary comments from the gas moles (pretty obvious what gas is what now)
  Resources/Prototypes/Catalog/Fills/Items/gas_tanks.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
Labels: none

Gas Reactions
  Resources/Prototypes/Atmospherics/reactions.yml
Labels: none

Lavaland Planets
  Resources/Prototypes/_Lavaland/Procedural/lavaland_planets.yml
Labels: none

Salvage atmos modifiers
  Resources/Prototypes/Procedural/salvage_mods.yml
Labels: none

Crystallizer recipes
  Resources/Prototypes/_Funkystation/Atmospherics/crystallizer.yml
Labels: none

Readd and update the list of Gases in the storage cannister (To retain convention of how the gases are ordered)
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
Labels: none

Format fixes
  Resources/Prototypes/Atmospherics/reactions.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
Labels: none

Update crystallizer prototype for serializer
  Content.Shared/_Funkystation/Atmos/Prototypes/CrystallizerRecipePrototype.cs
Labels: Changes: C#

YML Linter fixes
  Content.Shared/Salvage/Expeditions/Modifiers/SalvageAirMod.cs
  Content.Shared/_Lavaland/Procedural/Prototypes/LavalandMapPrototype.cs
Labels: Changes: C#

YML extra fixes
  Resources/Prototypes/Atmospherics/reactions.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Procedural/salvage_mods.yml
  Resources/Prototypes/_Funkystation/Atmospherics/crystallizer.yml
Labels: none

file relocation, grilles, and tablees
  Resources/Maps/_DEN/Nonstations/clubYNK.yml
Labels: Changes: Map

Adjusted pipe colors
  Resources/Prototypes/Entities/Objects/Tools/spray_painter.yml
Labels: none

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

update clarity
  Resources/Locale/en-US/traits/traits.ftl
Labels: Changes: Localization

Update eyes.ftl
  Resources/Locale/en-US/_DEN/markings/eyes.ftl
Labels: Changes: Localization

let's gamble
  Resources/Prototypes/Psionics/PsionicPowerPool.yml
Labels: none

nah nvm
  Resources/Prototypes/Psionics/PsionicPowerPool.yml
Labels: none

add event accesses
  Resources/Locale/en-US/_DEN/prototypes/access/accesses.ftl
  Resources/Prototypes/_DEN/Access/event.yml
Labels: Changes: Localization

add event door electronics
  Resources/Prototypes/_DEN/Access/event.yml
  Resources/Prototypes/_DEN/Entities/Objects/Devices/Electronics/door_access.yml
Labels: none

add event airlocks
  Resources/Prototypes/_DEN/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_DEN/Wires/layouts.yml
Labels: none
