Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

chest, neck fluff, ovinia base markings
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/base.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/base_species.yml
Labels: none

reparent moth fluffs
  Resources/Prototypes/Entities/Mobs/Customization/Markings/moth_fluff.yml
Labels: none

reparent ovinia markings
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Ovinia.yml
Labels: none

change mask eyes
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_ritual.rsi/equipped-glow-resomi.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_ritual.rsi/equipped-glow-vox.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_ritual.rsi/equipped-glow.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_ritual.rsi/icon-glow.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_ritual.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_ritual.rsi/inhand-left-glow.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_ritual.rsi/inhand-right-glow.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantistailorsknife.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantistailorsknife.rsi/inhand-right.png
Labels: Changes: Sprite

hair markings too
  Content.Client/Humanoid/SingleMarkingPicker.xaml.cs
Labels: Changes: C#, Changes: UI

woops duplicate
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Ovinia.yml
Labels: none

oops
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/base.yml
Labels: none

make technicolor jacket / sweater vest insulating
  Resources/Prototypes/_DEN/Entities/Clothing/OuterClothing/coats.yml
Labels: none

make generic belt loadouts smaller
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: none

tailorable airy sleeve
  Resources/Prototypes/_DEN/Entities/Clothing/Hands/gloves.yml
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mantis_gloves_airy.rsi/icon-folded.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mantis_gloves_airy_tailored.rsi/equipped-HAND.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mantis_gloves_airy_tailored.rsi/folded-equipped-HAND.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mantis_gloves_airy_tailored.rsi/icon-folded.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mantis_gloves_airy_tailored.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mantis_gloves_airy_tailored.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mantis_gloves_airy_tailored.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Hands/Gloves/mantis_gloves_airy_tailored.rsi/meta.json
Labels: Changes: Sprite

lighten mnemolith pill bottle slightly
  Resources/Textures/_DEN/Objects/Specific/Mantis/pillcanistermantis.rsi/pill_canister-mnemolith.png
Labels: Changes: Sprite

add roses and lilies to loadouts
  Resources/Prototypes/CharacterItemGroups/Generic/headGroup.yml
  Resources/Prototypes/Loadouts/Generic/head.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/head.yml
Labels: none

nerf giant bear plush stamina damage
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/toys.yml
Labels: none

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

spinnable tailor's knives
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/general.yml
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisknife.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantisknife.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantistailorsknife.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantistailorsknife.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantistailorsknife.rsi/spinning-inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/Mantis/mantistailorsknife.rsi/spinning-inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/tailorsknife.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/tailorsknife.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/tailorsknife.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/tailorsknife.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Melee/tailorsknife.rsi/spinning-inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/tailorsknife.rsi/spinning-inhand-right.png
Labels: Changes: Localization, Changes: Sprite

no reason for that to be in spawn menu
  Resources/Prototypes/_DEN/Entities/Clothing/Hands/gloves.yml
Labels: none

new color eyes, knife pitches adjusted
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_ritual.rsi/equipped-glow-resomi.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_ritual.rsi/equipped-glow-vox.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_ritual.rsi/equipped-glow.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_ritual.rsi/icon-glow.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_ritual.rsi/inhand-left-glow.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_ritual.rsi/inhand-right-glow.png
Labels: Changes: Sprite

oh yeah i gotta tell em
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/knife.yml
Labels: none

PDA Visual Update
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_DEN/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/pda.yml
  Resources/Textures/Objects/Devices/pda.rsi/equipped-BELT.png
  Resources/Textures/Objects/Devices/pda.rsi/equipped-IDCARD.png
  Resources/Textures/Objects/Devices/pda.rsi/inhand-left.png
  Resources/Textures/Objects/Devices/pda.rsi/inhand-right.png
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_DEN/Objects/Devices/pda.rsi/equipped-BELT.png
  Resources/Textures/_DEN/Objects/Devices/pda.rsi/equipped-IDCARD.png
  Resources/Textures/_DEN/Objects/Devices/pda.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Devices/pda.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Devices/pda.rsi/mantis-inhand-right.png
  Resources/Textures/_DEN/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_DV/Objects/Devices/pda.rsi/equipped-BELT.png
  Resources/Textures/_DV/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Devices/pda.rsi/meta.json
Labels: Changes: Sprite

asdf
  Resources/Textures/Objects/Devices/pda.rsi/inhand-left-screen.png
  Resources/Textures/Objects/Devices/pda.rsi/inhand-right-screen.png
  Resources/Textures/_DEN/Objects/Devices/pda.rsi/inhand-left-screen.png
  Resources/Textures/_DEN/Objects/Devices/pda.rsi/inhand-right-screen.png
  Resources/Textures/_DV/Objects/Devices/pda.rsi/inhand-left-screen.png
  Resources/Textures/_DV/Objects/Devices/pda.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Devices/pda.rsi/inhand-right-screen.png
  Resources/Textures/_DV/Objects/Devices/pda.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Devices/pda.rsi/inhand-left-screen.png
  Resources/Textures/_Goobstation/Objects/Devices/pda.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Devices/pda.rsi/inhand-right-screen.png
  Resources/Textures/_Goobstation/Objects/Devices/pda.rsi/inhand-right.png
Labels: Changes: Sprite

squish
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: none

new mnemolith
  Content.Client/Popups/PopupUIController.cs
  Resources/Locale/en-US/_DEN/reagents/psionic.ftl
  Resources/Prototypes/_DEN/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_DEN/Reagents/fun.yml
  Resources/Prototypes/_DEN/Reagents/psionic.yml
  Resources/Textures/_DEN/Clothing/Neck/Misc/mantispendulum.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/mantispendulum.rsi/inhand-right.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite

new mnemolith messages
  Content.Client/Popups/PopupUIController.cs
  Content.Server/Abilities/Psionics/Abilities/AssayPowerSystem.cs
  Content.Shared/Popups/SharedPopupSystem.cs
  Resources/Locale/en-US/_DEN/reagents/psionic.ftl
  Resources/Prototypes/_DEN/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/outfits.yml
  Resources/Prototypes/_DEN/Reagents/psionic.yml
Labels: Changes: C#, Changes: Localization

correct comment
  Resources/Locale/en-US/_DEN/reagents/psionic.ftl
Labels: Changes: Localization

Revert "Emote Sound Cooldown (#2159)"
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Speech/EntitySystems/VocalSystem.cs
  Content.Server/_RMC14/Emote/RMCEmoteSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Emote/RecentlyEmotedComponent.cs
  Content.Shared/_RMC14/Emote/SharedRMCEmoteSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: C#

tweaked description of 3 items to remove xenophobic references
  Resources/Prototypes/_EE/Entities/Clothing/SolAlliance/SAN/hats.yml
  Resources/Prototypes/_EE/Entities/Clothing/SolAlliance/SAN/uniforms.yml
Labels: none

actually nvm i like gold eyes better
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_ritual.rsi/equipped-glow-resomi.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_ritual.rsi/equipped-glow-vox.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_ritual.rsi/equipped-glow.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_ritual.rsi/icon-glow.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_ritual.rsi/inhand-left-glow.png
  Resources/Textures/_DEN/Clothing/Mask/mantis_mask_ritual.rsi/inhand-right-glow.png
Labels: Changes: Sprite

simply copy and pasted what the other psion traits do to marish so it works as intended now
  Resources/Prototypes/_DEN/Traits/languages.yml
Labels: none

ensure the trait check uses the right trait list for the current job
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Profile.cs
Labels: Changes: C#

add humans and oni back to ovinia tail markings oops
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Ovinia.yml
Labels: none

Tails broke on original directory, moved them elsewhere
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakedual_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakedual_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakedual_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakedual_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakestripe_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakestripe_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakestripe_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakestripe_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakestripealt_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakestripealt_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakestripealt_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakestripealt_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snaketail_BEHIND.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snaketail_FRONT.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakeunder_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakeunder_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakeunder_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakeunder_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakedual_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakedual_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakedual_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakedual_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripe_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripe_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripe_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripe_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripealt_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripealt_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripealt_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripealt_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snaketail_BEHIND.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snaketail_FRONT.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakeunder_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakeunder_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakeunder_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakeunder_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/meta.json
Labels: Changes: Sprite

somehow the rest didnt get commited lol
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro_tails.yml
  Resources/Prototypes/_SimpleStation/Entities/Mobs/Customization/reptilianwings.yml
  Resources/Textures/Floof/Mobs/Customization/skyrattails.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/meta.json
Labels: Changes: Sprite

Uhh, trial?
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakedual_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakedual_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakedual_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakedual_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripe_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripe_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripe_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripe_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripealt_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripealt_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripealt_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripealt_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snaketail_BEHIND.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snaketail_FRONT.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakeunder_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakeunder_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakeunder_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakeunder_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snakedual_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snakedual_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snakedual_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snakedual_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snakestripe_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snakestripe_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snakestripe_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snakestripe_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snakestripealt_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snakestripealt_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snakestripealt_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snakestripealt_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snaketail_BEHIND.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snaketail_FRONT.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snakeunder_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snakeunder_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snakeunder_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snakeunder_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/meta.json
Labels: Changes: Sprite

Trial 2
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakedual_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakedual_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakedual_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakedual_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakestripe_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakestripe_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakestripe_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakestripe_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakestripealt_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakestripealt_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakestripealt_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakestripealt_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snaketail_BEHIND.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snaketail_FRONT.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakeunder_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakeunder_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakeunder_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_tail_snakeunder_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/meta.json
Labels: Changes: Sprite

Okay I was under the impression they work
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/fixedskyrattailsanimated.yml
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakedual_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakedual_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakedual_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakedual_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripe_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripe_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripe_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripe_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripealt_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripealt_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripealt_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripealt_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snaketail_BEHIND.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snaketail_FRONT.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakeunder_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakeunder_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakeunder_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakeunder_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snakedual_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snakedual_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snakestripealt_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snakestripealt_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snaketail_BEHIND.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snaketail_FRONT.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snakeunder_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snakeunder_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snakeunder_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/m_waggingtail_snakeunder_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyratwaggingtails.rsi/meta.json
Labels: Changes: Sprite

finally its so over
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/fixedskyrattailsanimated.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro_tails.yml
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/meta.json
Labels: Changes: Sprite

add phobos to shipyard
  Resources/Maps/Shuttles/TheDen/NTRF_Phobos.yml
  Resources/Prototypes/_DEN/Catalog/Shipyard/military.yml
Labels: Changes: Map

not intended for the lizard smooth to be there
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro_tails.yml
Labels: none

Accidentally un-commited some other tails
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakedual_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakedual_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripe_BEHIND_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripe_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripe_FRONT_primary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripe_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripealt_BEHIND_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/m_waggingtail_snakestripealt_FRONT_secondary.png
  Resources/Textures/_Floof/Mobs/Customization/fixedskyrattails.rsi/meta.json
Labels: Changes: Sprite

why is this thing deleting itself
  .run/Content Server+Client.run.xml
Labels: Changes: Documentation

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
