Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

add heat pump (#772)
  Content.Client/_Funkystation/Atmos/UI/GasHeatPumpBoundUserInterface.cs
  Content.Client/_Funkystation/Atmos/UI/GasHeatPumpWindow.xaml
  Content.Client/_Funkystation/Atmos/UI/GasHeatPumpWindow.xaml.cs
  Content.Server/_Funkystation/Atmos/Piping/Binary/Components/HeatPumpComponent.cs
  Content.Server/_Funkystation/Atmos/Piping/Binary/EntitySystems/HeatPumpSystem.cs
  Content.Shared/_Funkystation/Atmos/Piping/Binary/Components/SharedHeatPumpComponent.cs
  Resources/Locale/en-US/components/gas-pump-component.ftl
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/RPD/rpd.yml
  Resources/Prototypes/Recipes/Construction/Graphs/atmospherics/atmos_binary.yml
  Resources/Textures/Interface/Radial/RPD/pump_heat.png
  Resources/Textures/Structures/Piping/Atmospherics/pump.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/pump.rsi/pumpHeat.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: UI

atmospherics construction, not utilities
  Resources/Prototypes/Recipes/Construction/atmospherics.yml
Labels: none

fix
  Content.Server/_Funkystation/Atmos/Piping/Binary/EntitySystems/HeatPumpSystem.cs
Labels: Changes: C#

!
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
Labels: none

Gas tank recipes
  Resources/Prototypes/_DEN/Recipes/Lathes/misc.yml
Labels: none

Aaand add them to autloathe pack
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autolathe.yml
Labels: none

add tanks to medfab so medical can replace their life support tanks if needed
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/medical_techfab.yml
Labels: none

Tanks now use more proportional values (based on the 300 material Airtank uses)
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
Labels: none

Fixed referenced sprite
  Resources/Prototypes/typing_indicator.yml
Labels: none

Moved RSI and bug fix
  Resources/Prototypes/DeltaV/Entities/Structures/Furniture/rollerbeds.yml
  Resources/Prototypes/Entities/Structures/Furniture/rollerbeds.yml
  Resources/Textures/DeltaV/Structures/Furniture/rollerbeds.rsi/meta.json
  Resources/Textures/_DV/Structures/Furniture/rollerbeds.rsi/holographic_rollerbed.png
  Resources/Textures/_DV/Structures/Furniture/rollerbeds.rsi/holographic_rollerbed_buckled.png
  Resources/Textures/_DV/Structures/Furniture/rollerbeds.rsi/holographic_rollerbed_folded.png
  Resources/Textures/_DV/Structures/Furniture/rollerbeds.rsi/meta.json
Labels: Changes: Sprite

Fixed xeno thermal vision/NV
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
Labels: none

Added BuckleOnHealing to Rollerbeds
  Resources/Prototypes/DeltaV/Entities/Structures/Furniture/rollerbeds.yml
  Resources/Prototypes/Entities/Structures/Furniture/rollerbeds.yml
Labels: none

Multiple hypno subjects~
  Content.Client/Floofstation/HypnotizedSystem.cs
  Content.Client/Floofstation/PsionicHypnoSystem.cs
  Content.Server/FloofStation/Abilities/Psionics/Abilities/PsionicHypnoSystem.cs
  Content.Shared/Floofstation/Hypno/HypnotizedComponent.cs
  Resources/Prototypes/_Floof/Actions/psionics.yml
  Resources/Prototypes/_Floof/psionics.yml
Labels: Changes: C#

no glimmer
  Resources/Prototypes/_Floof/psionics.yml
Labels: none

no mood changes
  Content.Server/FloofStation/Abilities/Psionics/Abilities/PsionicHypnoSystem.cs
Labels: Changes: C#

mraow?
  Content.Server/_DEN/Research/Systems/UnlockResearchSystem.cs
Labels: Changes: C#

!
  Content.Server/_DEN/Research/Systems/UnlockResearchSystem.cs
Labels: Changes: C#

base contraband additions plus default fix
  Content.Shared/Contraband/ContrabandComponent.cs
  Resources/Prototypes/Entities/Objects/base_contraband.yml
Labels: Changes: C#

a
  Content.Client/_Funkystation/Atmos/UI/GasHeatPumpWindow.xaml.cs
Labels: Changes: C#, Changes: UI

the people have spoken, and they want teal
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelSelectorButton.cs
  Content.Shared/Chat/ChatChannelExtensions.cs
Labels: Changes: C#

added space pens to command survival boxes
  Resources/Prototypes/_Impstation/Catalog/Fills/Boxes/emergency.yml
Labels: none

stops the fucking passport from spawning when borg or ai
  Content.Shared/_EE/Contractors/Systems/SharedPassportSystem.cs
Labels: Changes: C#

Update Content.Shared/_EE/Contractors/Systems/SharedPassportSystem.cs
  Content.Shared/_EE/Contractors/Systems/SharedPassportSystem.cs
Labels: Changes: C#

Buff Rollerbeds
  Content.Server/Body/Components/BloodstreamComponent.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/_DEN/Bed/Components/StabilizeOnBuckleComponent.cs
  Content.Server/_DEN/Bed/Systems/StabilizeOnBuckleSystem.cs
  Resources/Prototypes/Entities/Structures/Furniture/rollerbeds.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/medical_techfab.yml
  Resources/Prototypes/_DV/Entities/Structures/Holographic/rollerbeds.yml
  Resources/Prototypes/_DV/Recipes/Lathes/medical.yml
Labels: Changes: C#

1 accent more like TWO ACCENTS
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
Labels: none

made it not hard coded
  Content.Server/Clothing/Systems/LoadoutSystem.cs
  Content.Shared/_EE/Contractors/Systems/SharedPassportSystem.cs
Labels: Changes: C#

Made the Code look INFINITELY better
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/_DEN/Bed/Systems/StabilizeOnBuckleSystem.cs
Labels: Changes: C#

Incredible, Immaculate Bugfix
  Content.Server/Body/Systems/RespiratorSystem.cs
Labels: Changes: C#

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

Juni Review Check 1
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: Map

Nerf to Bodybags, Buff to Rollerbeds
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Structures/Furniture/rollerbeds.yml
  Resources/Prototypes/_DV/Entities/Structures/Holographic/rollerbeds.yml
Labels: none

Small bugifx
  Resources/Prototypes/Entities/Structures/Furniture/rollerbeds.yml
Labels: none

adds head mirror to medical loadouts
  Resources/Prototypes/_DEN/Loadouts/Jobs/Medical/uncategorized.yml
Labels: none

fixed ninja stars doing embedded damage forever if they despawned
  Content.Shared/Projectiles/EmbedPassiveDamageSystem.cs
Labels: Changes: C#

Centcomm drip (#3003)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/centdrobe.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/uniform_printer.yml
  Resources/Prototypes/_DV/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_DV/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/_DV/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/_DV/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/clothing.yml
  Resources/Textures/_DV/Clothing/Back/Backpacks/centcom.rsi/equipped-BACKPACK.png
  Resources/Textures/_DV/Clothing/Back/Backpacks/centcom.rsi/icon.png
  Resources/Textures/_DV/Clothing/Back/Backpacks/centcom.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Back/Backpacks/centcom.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Back/Backpacks/centcom.rsi/meta.json
  Resources/Textures/_DV/Clothing/Back/Duffels/centcom.rsi/equipped-BACKPACK.png
  Resources/Textures/_DV/Clothing/Back/Duffels/centcom.rsi/icon.png
  Resources/Textures/_DV/Clothing/Back/Duffels/centcom.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Back/Duffels/centcom.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Back/Duffels/centcom.rsi/meta.json
  Resources/Textures/_DV/Clothing/Back/Satchels/centcom.rsi/equipped-BACKPACK.png
  Resources/Textures/_DV/Clothing/Back/Satchels/centcom.rsi/icon.png
  Resources/Textures/_DV/Clothing/Back/Satchels/centcom.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Back/Satchels/centcom.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Back/Satchels/centcom.rsi/meta.json
  Resources/Textures/_DV/Clothing/Neck/mantles/centcommantle.rsi/equipped-NECK.png
  Resources/Textures/_DV/Clothing/Neck/mantles/centcommantle.rsi/icon.png
  Resources/Textures/_DV/Clothing/Neck/mantles/centcommantle.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/centcom_agent.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/centcom_agent.rsi/icon.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/centcom_agent.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/centcom_agent.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/centcom_agent.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/centcom_official.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/centcom_official.rsi/icon.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/centcom_official.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/centcom_official.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/centcom_official.rsi/meta.json
Labels: Changes: Sprite

Rearranged CentDrobe a bit. Added missing lathe packs.
  Resources/Prototypes/Catalog/VendingMachines/Inventories/centdrobe.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/uniform_printer.yml
Labels: none

Fix Vulp Trait
  Content.Server/Temperature/Systems/TemperatureSystem.cs
Labels: Changes: C#

Add an antag immune implant for CC trialmins (#3652)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/centdrobe.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/subdermal_implants.yml
Labels: none

made centcomm mindshield implanter sprite the same as the others
  Resources/Prototypes/_DV/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/subdermal_implants.yml
Labels: none

Standardizard CentComm across items.
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Shared/Chat/V2/Types.cs
  Resources/Locale/en-US/cargo/bounties.ftl
  Resources/Locale/en-US/extenddescriptions/mindshield.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Clothing/Head/envirohelms.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/envirosuits.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/bedsheets.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Floof/Entities/Clothing/Neck/collars.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Devices/red_phone.yml
  Resources/ServerInfo/Guidebook/Glossary.xml
  Resources/ServerInfo/Guidebook/_CD/Records.xml
Labels: Changes: C#, Changes: Documentation, Changes: Localization
