Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

update REUSE headers from: Tweak: Add Better Logs for Nanochat and Add Logs for Selfdamage
  Content.Server/_DV/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
Labels: Changes: C#

shrimp and grits
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
Labels: none

shrimp gumbo
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
Labels: none

pininyahang hipon is fruit
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/soup.yml
Labels: none

Update acrux.yml
  Resources/Maps/TheDen/acrux.yml
Labels: Changes: Map

Update acrux.yml
  Resources/Prototypes/Maps/acrux.yml
Labels: Changes: Map

build fixes
  Content.Shared/_Harmony/Roles/Components/ConspiratorRoleComponent.cs
  Resources/Textures/_Harmony/Interface/Misc/job_icons.rsi/meta.json
Labels: Changes: C#, Changes: Sprite

nerf skia shadows a little bit
  Content.Shared/_DEN/Skia/SkiaComponent.cs
  Resources/Prototypes/_DEN/Entities/Mobs/NPCs/glimmer_creatures.yml
Labels: Changes: C#

give the drained one a bit more beef
  Resources/Prototypes/_DEN/Entities/Mobs/NPCs/glimmer_creatures.yml
Labels: none

add shrimp sour soup
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
Labels: none

add description to shrimp sour soup
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/soup.yml
Labels: none

bump up the weight of space shrimp event
  Resources/Prototypes/_DEN/GameRules/events.yml
Labels: none

Holy water damages ghosts
  Resources/Prototypes/_DEN/Entities/Mobs/NPCs/glimmer_creatures.yml
Labels: none

fix the typo
  Resources/Locale/en-US/reagents/meta/biological.ftl
Labels: Changes: Localization

Update acrux.yml
  Resources/Maps/TheDen/acrux.yml
Labels: Changes: Map

add items themselves
  Resources/Prototypes/Entities/Clothing/Head/soft.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/_DEN/Clothing/Head/Hats/nt_baseballcap.rsi/equipped-HELMET-hamster.png
  Resources/Textures/_DEN/Clothing/Head/Hats/nt_baseballcap.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/nt_baseballcap.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hats/nt_baseballcap.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Head/Hats/nt_baseballcap.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Head/Hats/nt_baseballcap.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Head/Hats/syndie_baseballcap.rsi/equipped-HELMET-hamster.png
  Resources/Textures/_DEN/Clothing/Head/Hats/syndie_baseballcap.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/syndie_baseballcap.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hats/syndie_baseballcap.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Head/Hats/syndie_baseballcap.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Head/Hats/syndie_baseballcap.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/nt_baseball.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/nt_baseball.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/nt_baseball.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/nt_baseball.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/nt_baseball.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/syndie_baseball.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/syndie_baseball.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/syndie_baseball.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/syndie_baseball.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/syndie_baseball.rsi/meta.json
Labels: Changes: Sprite

add to loadout, vendor and printer
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Objects/Misc/handy_flags.yml
  Resources/Prototypes/_DEN/CharacterItemGroups/Loadouts/miscItems.yml
  Resources/Prototypes/_DEN/Entities/Objects/Storage/costumes.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/costumes.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/uniform_printer.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/clothing.yml
Labels: none

add to loadout hats and syndiedrobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/syndiedrobe.yml
  Resources/Prototypes/CharacterItemGroups/Generic/headGroup.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/head.yml
Labels: none

this is a better spot for it
  Resources/Prototypes/Catalog/VendingMachines/Inventories/syndiedrobe.yml
Labels: none

add to uplink
  Resources/Locale/en-US/_DEN/store/uplink-catalog.ftl
  Resources/Prototypes/_DEN/Catalog/uplink_catalog.yml
Labels: Changes: Localization

Update RussianAccentSystem.cs
  Content.Server/Speech/EntitySystems/RussianAccentSystem.cs
Labels: Changes: C#

add shrimp cocktail sprite
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/meals.yml
  Resources/Textures/_DEN/Objects/Consumable/Food/Shrimp/cocktail_shrimp.rsi/icon.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Shrimp/cocktail_shrimp.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Shrimp/cocktail_shrimp.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Consumable/Food/Shrimp/cocktail_shrimp.rsi/meta.json
Labels: Changes: Sprite

half of tail meta files
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/9sune.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/axolotl.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_long.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bat_short.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/bee.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/cow.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/crow.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/datashark.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/eevee.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/fennec.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/fish.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/fox.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/guilmon.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/hawk.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/horse.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/husk.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/husky.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/insect.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/kangaroo.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/kitsune.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/lab.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/murid.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/orca.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/otie.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/rabbit.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/raccoon.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/raptor.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/sabresune.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/sergal.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/shark.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/shepherd.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/skunk.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/straight.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/tenticles.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/tiger.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/tiger2.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/twocat.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/wah.rsi/meta.json
Labels: Changes: Sprite

all tail meta files
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/avian1.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/avian2.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/cable.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/cat.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/catbig.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/deer.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/doublekits.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/dtiger.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/fox2.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/fox3.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/leopard.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/ltiger.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/lunasuna.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/pede.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/plug.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/queenbee.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/queeninsect.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/reptileslim.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/segmented.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/sevenkitsune.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/smooth.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/spade.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/spikes.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/squirrel.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/stripe.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/tailmaww.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/teshari.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/tesharifluffy.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/tesharithin.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/threecat.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/wolf.rsi/meta.json
  Resources/Textures/_Floof/Mobs/Customization/Skyrattails/zorgoia.rsi/meta.json
Labels: Changes: Sprite

remove: ai emergency sealant
  Resources/Prototypes/_DV/Catalog/ai_catalog.yml
Labels: none

Rimless Glasses
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/eyesGroup.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Eyes/glasses.yml
Labels: Changes: Localization

commit all pls
  Resources/Prototypes/_DEN/Loadouts/Generic/eyes.yml
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/rimless.rsi/equipped-EYES.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/rimless.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/rimless.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/rimless.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/rimless.rsi/meta.json
Labels: Changes: Sprite

Update acrux.yml
  Resources/Maps/TheDen/acrux.yml
Labels: Changes: Map

Update acrux.yml
  Resources/Prototypes/Maps/acrux.yml
Labels: Changes: Map

Update acrux.yml
  Resources/Maps/TheDen/acrux.yml
Labels: Changes: Map

Anvil De-Rotation
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map

backend
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: C#, Changes: Map

fix typo
  Resources/Maps/TheDen/acrux.yml
Labels: Changes: Map

Tabletop computers from frontier (#2953)
  Content.Server/Construction/NodeEntities/BoardNodeEntity.cs
  Content.Shared/_NF/Construction/Components/ComputerTabletopBoardComponent.cs
  Resources/Locale/en-US/_NF/recipes/components.ftl
  Resources/Locale/en-US/_NF/recipes/recipes.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop_shipyard.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/frame_tabletop.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/machines/computer_tabletop.yml
  Resources/Prototypes/_NF/Recipes/Construction/machines.yml
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/broken_tabletop.png
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/computer_board_exposed.png
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/computer_monitor_unscrewed.png
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/computer_no_monitor.png
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/computer_tabletop.png
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/computer_tabletop_frame.png
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/computer_tabletop_scrap.png
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/generic_keyboard_tabletop.png
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/computers.rsi/atmos_key.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/computer.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/contraband.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/generic_keyboard.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/generic_keys.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/generic_panel_open.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/computers.rsi/shipyard.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/solar_screen.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/telesci_key.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite

fix merge issue
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
Labels: none

add command to export player characters by GUID or username
  Content.Server/Preferences/Managers/IServerPreferencesManager.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Server/_DEN/Administration/Commands/ExportCharactersCommand.cs
Labels: Changes: C#

fix rsi failure
  Resources/Prototypes/_NF/Recipes/Construction/machines.yml
Labels: none

remove my crap code
  Resources/Prototypes/_NF/Recipes/Construction/machines.yml
Labels: none

Poster Removal
  Resources/Maps/TheDen/shoukou.yml
  Resources/Prototypes/_DV/Entities/Structures/Wallmounts/Signs/posters.yml
Labels: Changes: Map

Poster Texture Removal
  Resources/Textures/_DV/Structures/Wallmounts/Posters/TJohnson.rsi/fuckaround.png
  Resources/Textures/_DV/Structures/Wallmounts/Posters/TJohnson.rsi/meta.json
Labels: Changes: Sprite

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
