Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

Poison Wine
  Resources/Textures/Objects/Consumable/Drinks/pwinebottle.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/pwinebottle.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/pwinebottle.rsi/meta.json
Labels: Changes: Sprite

Space Up
  Resources/Textures/Objects/Consumable/Drinks/space-up_bottle.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/space-up_bottle.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/space-up_bottle.rsi/inhand-left-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/space-up_bottle.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/space-up_bottle.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/space-up_bottle.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/space-up_bottle.rsi/inhand-right-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/space-up_bottle.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/space-up_bottle.rsi/meta.json
Labels: Changes: Sprite

Vermouth
  Resources/Textures/Objects/Consumable/Drinks/vermouthbottle.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/vermouthbottle.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/vermouthbottle.rsi/inhand-left-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/vermouthbottle.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/vermouthbottle.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/vermouthbottle.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/vermouthbottle.rsi/inhand-right-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/vermouthbottle.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/vermouthbottle.rsi/meta.json
Labels: Changes: Sprite

Waterbottle
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/inhand-left-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/inhand-right-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/meta.json
Labels: Changes: Sprite

Tequila
  Resources/Textures/Objects/Consumable/Drinks/tequillabottle.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/tequillabottle.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/tequillabottle.rsi/inhand-left-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/tequillabottle.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/tequillabottle.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/tequillabottle.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/tequillabottle.rsi/inhand-right-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/tequillabottle.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/tequillabottle.rsi/meta.json
Labels: Changes: Sprite

Vodka
  Resources/Textures/Objects/Consumable/Drinks/vodkabottle.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/vodkabottle.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/vodkabottle.rsi/inhand-left-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/vodkabottle.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/vodkabottle.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/vodkabottle.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/vodkabottle.rsi/inhand-right-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/vodkabottle.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/vodkabottle.rsi/meta.json
Labels: Changes: Sprite

Wine
  Resources/Textures/Objects/Consumable/Drinks/winebottle.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/winebottle.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/winebottle.rsi/meta.json
Labels: Changes: Sprite

Alco-bottle
  Resources/Textures/Objects/Consumable/Drinks/alco-bottle.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/alco-bottle.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/alco-bottle.rsi/inhand-left-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/alco-bottle.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/alco-bottle.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/alco-bottle.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/alco-bottle.rsi/inhand-right-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/alco-bottle.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/alco-bottle.rsi/meta.json
Labels: Changes: Sprite

Coffee Liqueur
  Resources/Textures/Objects/Consumable/Drinks/coffeeliqueurbottle.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/coffeeliqueurbottle.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/coffeeliqueurbottle.rsi/meta.json
Labels: Changes: Sprite

Absinthe
  Resources/Textures/Objects/Consumable/Drinks/absinthebottle.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/absinthebottle.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/absinthebottle.rsi/inhand-left-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/absinthebottle.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/absinthebottle.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/absinthebottle.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/absinthebottle.rsi/inhand-right-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/absinthebottle.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/absinthebottle.rsi/meta.json
Labels: Changes: Sprite

Whiskey
  Resources/Textures/Objects/Consumable/Drinks/whiskeybottle.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/whiskeybottle.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/whiskeybottle.rsi/inhand-left-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/whiskeybottle.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/whiskeybottle.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/whiskeybottle.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/whiskeybottle.rsi/inhand-right-fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/whiskeybottle.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/whiskeybottle.rsi/meta.json
Labels: Changes: Sprite

thaven specific ones
  Resources/Textures/Clothing/Belt/bandolier.rsi/equipped-BELT-thaven.png
  Resources/Textures/Clothing/Belt/bandolier.rsi/meta.json
  Resources/Textures/Clothing/Belt/champion.rsi/equipped-BELT-thaven.png
  Resources/Textures/Clothing/Belt/champion.rsi/meta.json
  Resources/Textures/Clothing/Belt/security.rsi/equipped-BELT-thaven.png
  Resources/Textures/Clothing/Belt/security.rsi/meta.json
  Resources/Textures/Clothing/Belt/waistbag_color.rsi/equipped-BELT-thaven.png
  Resources/Textures/Clothing/Belt/waistbag_leather.rsi/equipped-BELT-thaven.png
  Resources/Textures/Clothing/Belt/waistbag_leather.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Belt/katanasheath.rsi/equipped-BELT-thaven.png
  Resources/Textures/Nyanotrasen/Clothing/Belt/katanasheath.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Belt/katanasheath.rsi/sheath-sabre-equipped-BELT-thaven.png
  Resources/Textures/Nyanotrasen/Clothing/Belt/mailbag.rsi/equipped-BELT-thaven.png
  Resources/Textures/Nyanotrasen/Clothing/Belt/mailbag.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Belt/katanasheathsingle.rsi/equipped-BELT-thaven.png
  Resources/Textures/_DEN/Clothing/Belt/katanasheathsingle.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Belt/katanasheathsingle.rsi/sheath-sabre-equipped-BELT-thaven.png
  Resources/Textures/_DV/Clothing/Belt/courierbag.rsi/equipped-BELT-thaven.png
  Resources/Textures/_DV/Clothing/Belt/courierbag.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Belt/courierbag.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Belt/courierbag.rsi/meta.json
Labels: Changes: Sprite

Update drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
Labels: none

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

Plurality Flags
  Resources/Prototypes/_DEN/Entities/Structures/Wallmounts/Signs/flags.yml
  Resources/Textures/_DEN/Structures/Wallmounts/Flags/plurality_flag.rsi/flag_left.png
  Resources/Textures/_DEN/Structures/Wallmounts/Flags/plurality_flag.rsi/flag_right.png
  Resources/Textures/_DEN/Structures/Wallmounts/Flags/plurality_flag.rsi/meta.json
  Resources/Textures/_DEN/Structures/Wallmounts/Flags/plurality_interlock_flag.rsi/flag_left.png
  Resources/Textures/_DEN/Structures/Wallmounts/Flags/plurality_interlock_flag.rsi/flag_right.png
  Resources/Textures/_DEN/Structures/Wallmounts/Flags/plurality_interlock_flag.rsi/meta.json
Labels: Changes: Sprite

pixel
  Resources/Textures/_DEN/Mobs/Customization/Thaven/hair.rsi/unkept_f.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/unkept.png
Labels: Changes: Sprite

cherry pick but its being weird, some sprites didn't transfer
  Resources/Prototypes/Entities/Objects/Specific/Research/rped.yml
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/icon.png
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/inhand-right.png
Labels: Changes: Sprite

more brought over, still having some issues
  Resources/Prototypes/Entities/Objects/Specific/Research/rped.yml
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/icon-unshaded.png
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/inhand-left-unshaded.png
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/inhand-right-unshaded.png
Labels: Changes: Sprite

Rebuilt JSON cause it just wasn't coming in, fixed YML
  Resources/Prototypes/Entities/Objects/Specific/Research/rped.yml
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/meta.json
Labels: Changes: Sprite

cherry picked, adjusted ham, sushi, snowcones, and pizza sizes to be slightly different. Added cotton pizza to pizza box spawns with low chance.
  Resources/Prototypes/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bagel.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/bowl.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/plate.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/tin.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/frozen.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/noodles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/skewer.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/taco.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/sushi.yml
Labels: none

added new points disk sprites, made all floppy and optical disks 1x1 in inventory.
  Resources/Prototypes/Entities/Objects/Misc/dat_fukken_disk.yml
  Resources/Prototypes/Entities/Objects/Misc/treasure.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/disk.yml
  Resources/Prototypes/_Arcadis/Entities/Objects/Computers/computerDisk.yml
  Resources/Textures/_DEN/Objects/Specific/Research/researchdisk.rsi/disk_black.png
  Resources/Textures/_DEN/Objects/Specific/Research/researchdisk.rsi/disk_blue.png
  Resources/Textures/_DEN/Objects/Specific/Research/researchdisk.rsi/disk_green.png
  Resources/Textures/_DEN/Objects/Specific/Research/researchdisk.rsi/disk_orange.png
  Resources/Textures/_DEN/Objects/Specific/Research/researchdisk.rsi/disk_purple.png
  Resources/Textures/_DEN/Objects/Specific/Research/researchdisk.rsi/meta.json
Labels: Changes: Sprite

Fixed borked YML from upstream, fixed bacon somehow getting mispelled in the burger stack
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/bowl.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Recipes/Cooking/food_sequence_element.yml
Labels: none

Fixed the YMl for real
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
Labels: none

Changes AAC to prevent vowed mimes from sending messages
  Content.Server/_DV/AACTablet/AACTabletSystem.cs
Labels: Changes: C#

dayonepatch
  Resources/Prototypes/Maps/submarine.yml
Labels: Changes: Map

alsofix
  Resources/Prototypes/Maps/submarine.yml
Labels: Changes: Map

commented out the baugette in the box that we don't even use, will add to the mime loadout in a different pr
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
Labels: none

Update Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
Labels: none

Made changes to hive
  Resources/Maps/TheDen/hive.yml
Labels: Changes: Map

fix(tests): set parallelism to 2
  Content.IntegrationTests/AssemblyInfo.cs
Labels: Changes: C#

stop killing Ian, you monsters
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
Labels: none

Add Bluespace Lifeline to ERT ghost roles
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: none

Added mindshield to Deathsquad because its not inheriting for some reason
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: none

Fixed a few items not having suffixes in the spawn menu
  Resources/Prototypes/_DEN/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/implanters.yml
Labels: none

made FoodBreadBase abstract
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
Labels: none

Update NTES_Propeller.yml
  Resources/Maps/Shuttles/_DV/NTES_Propeller.yml
Labels: Changes: Map

Update submarine.yml
  Resources/Prototypes/Maps/submarine.yml
Labels: Changes: Map

Update ion_storm.yml
  Resources/Prototypes/Datasets/ion_storm.yml
Labels: none

proper date and time
  Content.Shared/_DV/CCVars/DCCVars.cs
Labels: Changes: C#

Revert "[PORT] Add Heat Distortion Shader for Hot Gases (#1725)"
  Content.Client/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Client/Atmos/Overlays/GasTileHeatOverlay.cs
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Shared/Atmos/EntitySystems/SharedGasTileOverlaySystem.cs
  Content.Shared/CCVar/CCVars.Net.cs
  Resources/Prototypes/Shaders/shaders.yml
  Resources/Textures/Shaders/heat.swsl
Labels: Changes: C#
