Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

initialize spray paint when map init
  Content.Server/Paint/PaintSystem.cs
  Content.Server/_DEN/Paint/PaintSystem.cs
Labels: Changes: C#

draw the rest of the owl
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Content.Server/Paint/PaintSystem.cs
  Content.Server/_DEN/Paint/PaintSystem.cs
Labels: Changes: C#

fixes
  Content.Server/_DEN/Paint/PaintSystem.cs
Labels: Changes: C#

ovinia tail wagging
  Resources/Locale/en-US/_DEN/markings/ovinia.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Ovinia.yml
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/tail_markings.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/tail_markings.rsi/ovinia-tail_wag.png
Labels: Changes: Localization, Changes: Sprite

removed captain dogi
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Textures/Clothing/OuterClothing/Armor/captaindogi.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/captaindogi.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/captaindogi.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/captaindogi.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/captaindogi.rsi/meta.json
Labels: Changes: Sprite

removed HoS samurai armor
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Textures/Clothing/OuterClothing/Armor/hosamurai.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/hosamurai.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/hosamurai.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/hosamurai.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/hosamurai.rsi/meta.json
Labels: Changes: Sprite

removed summer corpsman jumpsuit
  Resources/Prototypes/Loadouts/Jobs/Security/corpsman.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/summercorpsman.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/summercorpsman.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/summercorpsman.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/summercorpsman.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/summercorpsman.rsi/meta.json
Labels: Changes: Sprite

reorganize files
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Hygiene/bleeders.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Hygiene/boxes.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Lewd/boxes.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Lewd/condoms.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Lewd/pills.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Lewd/sexlube.yml
  Resources/Textures/_DEN/Objects/Specific/Hygiene/menstrual_products.rsi/liner.png
  Resources/Textures/_DEN/Objects/Specific/Hygiene/menstrual_products.rsi/meta.json
  Resources/Textures/_DEN/Objects/Specific/Hygiene/menstrual_products.rsi/pad.png
  Resources/Textures/_DEN/Objects/Specific/Hygiene/menstrual_products.rsi/tampon.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/icon-1.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/icon-2.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/icon-3.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/icon-4.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/icon-5.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/icon.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/icon_open.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/inhand-left-fill-1.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/inhand-left-fill-2.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/inhand-right-fill-1.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/inhand-right-fill-2.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/meta.json
  Resources/Textures/_DEN/Objects/Specific/Lewd/condoms.rsi/condom.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/condoms.rsi/condomout.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/condoms.rsi/meta.json
  Resources/Textures/_DEN/Objects/Specific/Lewd/pills.rsi/lovebottle.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/pills.rsi/meta.json
  Resources/Textures/_DEN/Objects/Specific/Lewd/pills.rsi/pill1.png
  Resources/Textures/_DEN/Objects/Storage/boxes.rsi/hygiene.png
  Resources/Textures/_DEN/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/_DEN/Objects/Storage/boxes.rsi/sex.png
Labels: Changes: Sprite

removed oni lore entry
  Resources/ServerInfo/Guidebook/Mobs/Lore/OniLore.xml
Labels: Changes: Documentation

removed guidebook link to oni lore
  Resources/Prototypes/Guidebook/species.yml
Labels: none

removing oni lore references
  Resources/Locale/en-US/_DEN/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/species.yml
Labels: Changes: Localization

removed plushie
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/toys.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/FoodSequence/mothic_sequence_element.yml
  Resources/Textures/Objects/Fun/toys.rsi/aliceplush.png
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
Labels: Changes: Sprite

removed plushie from baikal
  Resources/Maps/TheDen/baikal.yml
Labels: Changes: Map

removed plushie from eternity and submarine
  Resources/Maps/TheDen/eternity.yml
Labels: Changes: Map

asdf
  Resources/Textures/_DEN/Structures/Furniture/Altars/Cults/bananium.rsi/full.png
  Resources/Textures/_DEN/Structures/Furniture/Altars/Cults/bananium.rsi/meta.json
Labels: Changes: Sprite

Update Credits
  Resources/Credits/GitHub.txt
Labels: none

resprites
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Lewd/condoms.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Lewd/sexlube.yml
  Resources/Prototypes/_Floof/Loadouts/itemsLewd.yml
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/icon-1.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/icon-2.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/icon-3.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/icon-4.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/icon-5.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/icon.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/icon_open.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/inhand-left-fill-1.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/inhand-left-fill-2.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/inhand-right-fill-1.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/inhand-right-fill-2.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/bottlelube.rsi/meta.json
  Resources/Textures/_DEN/Objects/Specific/Lewd/condoms.rsi/condom.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/condoms.rsi/condomout.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/condoms.rsi/meta.json
  Resources/Textures/_DEN/Objects/Specific/Lewd/pills.rsi/lovebottle.png
  Resources/Textures/_DEN/Objects/Specific/Lewd/pills.rsi/meta.json
  Resources/Textures/_DEN/Objects/Specific/Lewd/pills.rsi/pill1.png
Labels: Changes: Localization, Changes: Sprite

Live Test
  Resources/Maps/TheDen/obsidian.yml
  Resources/Prototypes/Maps/obsidian.yml
Labels: Changes: Map

LPO Update/QoL overhaul
  Resources/Maps/TheDen/LPO.yml
Labels: Changes: Map

testing something one seccc
  Resources/Prototypes/_DEN/Entities/Structures/furniture/bookshelf.yml
Labels: none

ok
  Resources/Prototypes/_DEN/Entities/Structures/furniture/bookshelf.yml
Labels: none

wallfixes
  Resources/Prototypes/_DEN/Entities/Structures/Walls/somber.yml
  Resources/Prototypes/_DEN/Entities/Structures/furniture/altar.yml
  Resources/Textures/_DEN/Structures/Walls/Somber/somber.rsi/meta.json
  Resources/Textures/_DEN/Structures/Walls/Somber/somber.rsi/reinf_construct-0.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somber.rsi/reinf_construct-1.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somber.rsi/reinf_construct-2.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somber.rsi/reinf_construct-3.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somber.rsi/reinf_construct-4.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somber.rsi/reinf_construct-5.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somber.rsi/reinf_over0.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somber.rsi/reinf_over1.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somber.rsi/reinf_over2.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somber.rsi/reinf_over3.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somber.rsi/reinf_over4.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somber.rsi/reinf_over5.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somber.rsi/reinf_over6.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somber.rsi/reinf_over7.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somber.rsi/reinforced_wall_girder.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somber.rsi/rgeneric.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somberdark.rsi/meta.json
  Resources/Textures/_DEN/Structures/Walls/Somber/somberdark.rsi/reinf_construct-0.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somberdark.rsi/reinf_construct-1.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somberdark.rsi/reinf_construct-2.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somberdark.rsi/reinf_construct-3.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somberdark.rsi/reinf_construct-4.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somberdark.rsi/reinf_construct-5.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somberdark.rsi/reinf_over0.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somberdark.rsi/reinf_over1.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somberdark.rsi/reinf_over2.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somberdark.rsi/reinf_over3.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somberdark.rsi/reinf_over4.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somberdark.rsi/reinf_over5.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somberdark.rsi/reinf_over6.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somberdark.rsi/reinf_over7.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somberdark.rsi/reinforced_wall_girder.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somberdark.rsi/rgeneric.png
Labels: Changes: Sprite

I can't fucking spell dawg
  Resources/Locale/en-US/game-ticking/game-presets/preset-dangers.ftl
  Resources/Prototypes/_DEN/game_presets.yml
  Resources/Prototypes/_DEN/random_presets.yml
  Resources/Prototypes/_Harmony/game_presets.yml
  Resources/Prototypes/secret_weights.yml
Labels: Changes: Localization

Actually add guidebook entry
  Resources/Prototypes/_DEN/Guidebook/antagonist.yml
  Resources/ServerInfo/Guidebook/_DEN/Antagonist/Skia.xml
Labels: Changes: Documentation

make it actually work
  Resources/Locale/en-US/_DEN/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/antagonist.yml
  Resources/Prototypes/_DEN/Guidebook/antagonist.yml
Labels: Changes: Localization

mechanics
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/_DEN/Psionics/TenuousGripSystem.cs
  Content.Shared/_DEN/Traits/TenuousGripComponent.cs
Labels: Changes: C#

hell
  Resources/Locale/en-US/_DEN/markings/slimeperson.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/slimeperson.yml
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/anatomical.rsi/brain.png
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/anatomical.rsi/floating_ribs.png
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/anatomical.rsi/heart.png
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/anatomical.rsi/lungs.png
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/anatomical.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/anatomical.rsi/organ-bladder.png
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/anatomical.rsi/organ-large_intestine.png
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/anatomical.rsi/organ-liver.png
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/anatomical.rsi/organ-pharynx.png
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/anatomical.rsi/organ-small_intestine.png
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/anatomical.rsi/organ-stomach.png
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/anatomical.rsi/organbones-bladder.png
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/anatomical.rsi/organbones-bones.png
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/anatomical.rsi/organbones-heart.png
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/anatomical.rsi/organbones-large_intestine.png
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/anatomical.rsi/organbones-liver.png
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/anatomical.rsi/organbones-lungs.png
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/anatomical.rsi/organbones-pharynx.png
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/anatomical.rsi/organbones-small_intestine.png
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/anatomical.rsi/organbones-stomach.png
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/anatomical.rsi/pelvis.png
  Resources/Textures/_DEN/Mobs/Customization/SlimePerson/anatomical.rsi/skull.png
Labels: Changes: Localization, Changes: Sprite

wall deconstruction
  Resources/Prototypes/Tiles/tile_migrations.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Structures/Walls/Somber/somber.rsi/meta.json
  Resources/Textures/_DEN/Structures/Walls/Somber/somber.rsi/reinf_construct-2.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somber.rsi/reinf_construct-3.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somber.rsi/reinf_construct-4.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somber.rsi/reinf_construct-5.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somber.rsi/reinforced_wall_girder.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somber.rsi/wall_girder.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somberdark.rsi/meta.json
  Resources/Textures/_DEN/Structures/Walls/Somber/somberdark.rsi/reinf_construct-2.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somberdark.rsi/reinf_construct-3.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somberdark.rsi/reinf_construct-4.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somberdark.rsi/reinf_construct-5.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somberdark.rsi/reinforced_wall_girder.png
  Resources/Textures/_DEN/Structures/Walls/Somber/somberdark.rsi/wall_girder.png
Labels: Changes: Sprite

lil fix
  Resources/Locale/en-US/_DEN/markings/slimeperson.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/slimeperson.yml
Labels: Changes: Localization

tile migrations
  Resources/Locale/en-US/_SHA/everything.ftl
  Resources/Prototypes/Tiles/tile_migrations.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_SHA/Tiles/meta.json
Labels: Changes: Localization

typo fix
  Resources/Prototypes/_SHA/everything.yml
Labels: none

rail decal touchups
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_SHA/Decals/somber_dark.rsi/meta.json
  Resources/Textures/_SHA/Decals/somber_dark.rsi/penthouse-lattice-balcony-N.png
  Resources/Textures/_SHA/Decals/somber_dark.rsi/penthouse-lattice-balcony-S.png
  Resources/Textures/_SHA/Decals/somber_dark.rsi/penthouse-lattice-balcony.png
  Resources/Textures/_SHA/Decals/somber_dark.rsi/penthouse-lattice-horizontal.png
  Resources/Textures/_SHA/Decals/somber_dark.rsi/penthouse-lattice-vertical.png
  Resources/Textures/_SHA/Tiles/break-lattice-glass-balcony-N.png
  Resources/Textures/_SHA/Tiles/break-lattice-glass-balcony-S.png
Labels: Changes: Sprite

let this commit be a testament to the 2 hours i lost because of einstein's loadout system
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/_DEN/Psionics/NoosphereVulnurability.cs
  Content.Shared/_DEN/Traits/NoosphereVulnerabilityComponent.cs
  Content.Shared/_DEN/Traits/TenuousGripComponent.cs
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Prototypes/_DEN/Traits/mental.yml
Labels: Changes: C#, Changes: Localization

grilles
  Resources/Prototypes/Tiles/tile_migrations.yml
  Resources/Prototypes/_DEN/Entities/Structures/Walls/railing.yml
  Resources/Prototypes/_DEN/Entities/Structures/Walls/somber.yml
  Resources/Textures/_DEN/Structures/Walls/Somber/sombergrille.rsi/grille.png
  Resources/Textures/_DEN/Structures/Walls/Somber/sombergrille.rsi/grille_broken.png
  Resources/Textures/_DEN/Structures/Walls/Somber/sombergrille.rsi/grille_diagonal.png
  Resources/Textures/_DEN/Structures/Walls/Somber/sombergrille.rsi/meta.json
Labels: Changes: Sprite

another testament + some final fixes
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/_DEN/Psionics/NoosphereVulnurability.cs
  Content.Server/_DEN/Psionics/NoosphereVulnurabilitySystem.cs
  Content.Shared/_DEN/Traits/NoosphereVulnerabilityComponent.cs
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Prototypes/Actions/psionics.yml
  Resources/Prototypes/_DEN/Traits/mental.yml
Labels: Changes: C#, Changes: Localization

another testament + some final fixes
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/_DEN/Psionics/NoosphereVulnurability.cs
  Content.Server/_DEN/Psionics/NoosphereVulnurabilitySystem.cs
  Content.Shared/_DEN/Traits/NoosphereVulnerabilityComponent.cs
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Prototypes/_DEN/Traits/mental.yml
Labels: Changes: C#, Changes: Localization

closet shadow fix
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_DEN/Structures/Storage/Shelfs/somberdoorcloset.rsi/open.png
  Resources/Textures/_DEN/Structures/Storage/Shelfs/somberdoorclosetamaranth.rsi/open.png
  Resources/Textures/_DEN/Structures/Storage/Shelfs/somberdoorclosetdark.rsi/open.png
  Resources/Textures/_DEN/Structures/Storage/Shelfs/somberdoorclosetmnemolith.rsi/open.png
  Resources/Textures/_DEN/Tiles/Somber/meta.json
Labels: Changes: Sprite

fix
  Resources/Textures/_DEN/Tiles/Somber/meta.json
Labels: none

tests
  Resources/Prototypes/_DEN/Traits/mental.yml
Labels: none

thief tweaks
  Resources/Locale/en-US/thief/backpack.ftl
  Resources/Prototypes/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/Catalog/thief_toolbox_sets.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Back/smuggler.yml
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: Changes: Localization
