Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

Fuck invalid configurators
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: Map

move den mask loadouts to mask file
  Resources/Prototypes/_DEN/Loadouts/Generic/mask.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
Labels: none

move den toy loadouts to toys file
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/toys.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
Labels: none

move towel loadouts to towels file
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/towels.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
Labels: none

move HRT to medicine loadouts
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/medicine.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
Labels: none

move the harp into an instruments file
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/instruments.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
Labels: none

move items to general.yml file
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/general.yml
Labels: none

manual attributions
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/general.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/instruments.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/medicine.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/towels.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/toys.yml
Labels: none

move accessibility/lewd loadouts into items folder
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/accessibility.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/lewd.yml
Labels: none

woops i brooke it
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/undershirt.yml
Labels: none

Remove Species Language Trait
  Content.Server/Traits/TraitSystem.Functions.cs
  Content.Server/_DEN/Language/LanguageSystem.cs
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Prototypes/Traits/inconveniences.yml
  Resources/Prototypes/Traits/mental.yml
  Resources/Prototypes/_DEN/Traits/languages.yml
Labels: Changes: C#, Changes: Localization

add colorable beret loadout item
  Resources/Prototypes/CharacterItemGroups/Generic/headGroup.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/head.yml
  Resources/Textures/_DEN/Clothing/Head/Hats/beret_colorable.rsi/equipped-HELMET-hamster.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beret_colorable.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beret_colorable.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beret_colorable.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beret_colorable.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beret_colorable.rsi/meta.json
Labels: Changes: Sprite

Update default.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map

COLOR!!!
  Resources/Prototypes/_Floof/Entities/Clothing/OuterClothing/MiscOuterwear.yml
  Resources/Prototypes/_Floof/Loadouts/outerClothing.yml
Labels: none

More greatshield clothing slots.
  Resources/Prototypes/_Goobstation/Entities/Shields/shields.yml
Labels: none

Generic (?) Shadowkin markings edited, FTL files for _ADT and generic(??) tail markings no longer showing marking name in color picker.
  Resources/Locale/en-US/_ADT/markings/shadekin.ftl
  Resources/Locale/en-US/markings/shadowkin.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/shadowkin.yml
  Resources/Textures/Mobs/Customization/Shadowkin/tails32x32.rsi/meta.json
  Resources/Textures/Mobs/Customization/Shadowkin/tails32x32.rsi/shadowkin_medium_over.png
  Resources/Textures/Mobs/Customization/Shadowkin/tails32x32.rsi/shadowkin_medium_under.png
  Resources/Textures/Mobs/Customization/Shadowkin/tails32x32.rsi/shadowkin_shorter_over.png
  Resources/Textures/Mobs/Customization/Shadowkin/tails32x32.rsi/shadowkin_shorter_under.png
  Resources/Textures/Mobs/Customization/Shadowkin/tails64x32.rsi/meta.json
  Resources/Textures/Mobs/Customization/Shadowkin/tails64x32.rsi/shadowkin_big_fluff_over.png
  Resources/Textures/Mobs/Customization/Shadowkin/tails64x32.rsi/shadowkin_big_fluff_under.png
  Resources/Textures/Mobs/Customization/Shadowkin/tails64x32.rsi/shadowkin_big_over.png
  Resources/Textures/Mobs/Customization/Shadowkin/tails64x32.rsi/shadowkin_big_under.png
  Resources/Textures/Mobs/Customization/Shadowkin/tails64x32.rsi/shadowkin_over.png
  Resources/Textures/Mobs/Customization/Shadowkin/tails64x32.rsi/shadowkin_under.png
Labels: Changes: Localization, Changes: Sprite

Putting excess file deletion in a different commit, just in case this needs to be reverted.
  Resources/Textures/Mobs/Customization/Shadowkin/tails32x32.rsi/shadowkin_medium.png
  Resources/Textures/Mobs/Customization/Shadowkin/tails32x32.rsi/shadowkin_shorter.png
  Resources/Textures/Mobs/Customization/Shadowkin/tails64x32.rsi/shadowkin.png
  Resources/Textures/Mobs/Customization/Shadowkin/tails64x32.rsi/shadowkin_big.png
  Resources/Textures/Mobs/Customization/Shadowkin/tails64x32.rsi/shadowkin_big_fluff.png
Labels: Changes: Sprite

improperly updated meta.json
  Resources/Textures/Mobs/Customization/Shadowkin/tails64x32.rsi/meta.json
Labels: Changes: Sprite

Gives some much needed love to hyposprays.
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/equipped-BELT.png
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/hypo.png
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Medical/syndihypo.rsi/hypo.png
  Resources/Textures/Objects/Specific/Medical/syndihypo.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Medical/syndihypo.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Specific/Medical/jetinjector.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Specific/Medical/jetinjector.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Specific/Medical/jetinjector.rsi/jetinjector_base.png
Labels: Changes: Sprite

All edited tail side sprites now show under clothing
  Resources/Textures/Mobs/Customization/Shadowkin/tails32x32.rsi/shadowkin_medium_over.png
  Resources/Textures/Mobs/Customization/Shadowkin/tails32x32.rsi/shadowkin_medium_under.png
  Resources/Textures/Mobs/Customization/Shadowkin/tails32x32.rsi/shadowkin_shorter_over.png
  Resources/Textures/Mobs/Customization/Shadowkin/tails32x32.rsi/shadowkin_shorter_under.png
  Resources/Textures/Mobs/Customization/Shadowkin/tails64x32.rsi/shadowkin_big_fluff_over.png
  Resources/Textures/Mobs/Customization/Shadowkin/tails64x32.rsi/shadowkin_big_fluff_under.png
  Resources/Textures/Mobs/Customization/Shadowkin/tails64x32.rsi/shadowkin_big_over.png
  Resources/Textures/Mobs/Customization/Shadowkin/tails64x32.rsi/shadowkin_big_under.png
  Resources/Textures/Mobs/Customization/Shadowkin/tails64x32.rsi/shadowkin_over.png
  Resources/Textures/Mobs/Customization/Shadowkin/tails64x32.rsi/shadowkin_under.png
  Resources/Textures/_ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/medium_twocolored_over.png
  Resources/Textures/_ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/medium_twocolored_under.png
  Resources/Textures/_ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/shadekin_medium_behind.png
  Resources/Textures/_ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/shadekin_medium_front.png
  Resources/Textures/_ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/shadekin_shorter_over.png
  Resources/Textures/_ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/shadekin_shorter_under.png
  Resources/Textures/_ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/shorter_brush_over.png
  Resources/Textures/_ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/shorter_brush_under.png
Labels: Changes: Sprite

Rebased most Document Printer files to _den.
  Resources/Locale/en-US/_DEN/catalog/fills/paper/document.ftl
  Resources/Locale/en-US/_DEN/paper/doc-printer.ftl
  Resources/Prototypes/_DEN/Catalog/Fills/Paper/document.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/document_printer.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/printer.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/paper.yml
Labels: Changes: Localization

Changed paper colors to be more unique.
  Resources/Prototypes/Corvax/Catalog/Fills/Paper/document.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/printer.yml
  Resources/Prototypes/_DEN/Catalog/Fills/Paper/document.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/printer.yml
Labels: none

YAML Fixes.
  Resources/Prototypes/_DEN/Recipes/Lathes/printer.yml
Labels: none

Added multi tool to heads lockers
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/adminassistant.yml
Labels: none

added CE belt to hardsuit locker
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: none

Added 10k spesos exchange to salvage vendor
  Resources/Prototypes/_DV/Catalog/VendingMachines/Inventories/salvage_points.yml
Labels: none

Added bear plushies to loadouts, removed damage from big bear
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/toys.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/toys.yml
Labels: none

Buffed ifrit
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/familiars.yml
Labels: none

linting errors? In MY code?
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/toys.yml
Labels: none

missed this lol whoops
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/toys.yml
Labels: none

fixed the game crashing because i forgor the recipe lmao
  Resources/Prototypes/_DEN/Recipes/Lathes/medical.yml
Labels: none

Screw this go away
  Resources/Prototypes/Species/slime.yml
Labels: none

Printable Lanterns
  Resources/Prototypes/Entities/Objects/Tools/lantern.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/misc.yml
Labels: none

meow
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutsItemListPanel.xaml.cs
  Content.Client/_DEN/Lobby/UI/Loadouts/LoadoutsTab.xaml
  Content.Client/_DEN/Lobby/UI/Loadouts/LoadoutsTab.xaml.cs
  Content.Server.Database/Migrations/Postgres/20251024005328_JobLoadouts.Designer.cs
  Content.Server.Database/Migrations/Postgres/20251024005328_JobLoadouts.cs
  Content.Server.Database/Migrations/Postgres/PostgresServerDbContextModelSnapshot.cs
  Content.Server.Database/Migrations/Sqlite/20251024005323_JobLoadouts.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20251024005323_JobLoadouts.cs
  Content.Server.Database/Model.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Clothing/Loadouts/Systems/SharedLoadoutSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Resources/Locale/en-US/_DEN/loadouts/ui.ftl
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

help
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/_DEN/Lobby/UI/Controls/AlternateTitleSelectionMenu.xaml
  Content.Client/_DEN/Lobby/UI/Controls/AlternateTitleSelectionMenu.xaml.cs
  Content.Server.Database/Model.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/_DEN/Job/AlternateJobTitleSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/_DEN/Job/GetJobNameEvent.cs
  Content.Shared/_DEN/Job/SharedAlternateTitleSystem.cs
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
Labels: Changes: C#, Changes: Localization, Changes: UI

chore: automatically update REUSE headers
  Content.Server/Access/Systems/IdCardConsoleSystem.cs
  Content.Server/Access/Systems/IdCardSystem.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/_DEN/Job/AlternateJobTitleSystem.cs
  Content.Shared/Access/Systems/SharedIdCardSystem.cs
  Content.Shared/_DEN/Job/AlternateJobTitlePrototype.cs
  Content.Shared/_DEN/Job/GetJobNameEvent.cs
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/captain.yml
Labels: Changes: C#

backend
  Content.Server/Access/Systems/IdCardConsoleSystem.cs
  Content.Server/Access/Systems/IdCardSystem.cs
  Content.Server/Clothing/Systems/LoadoutSystem.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/_DEN/Job/AlternateJobTitleSystem.cs
  Content.Shared/Access/Systems/SharedIdCardSystem.cs
  Content.Shared/_DEN/Job/AlternateJobTitlePrototype.cs
  Content.Shared/_DEN/Job/GetJobNameEvent.cs
  Resources/Locale/en-US/_DEN/roles/alternate/command-alternate.ftl
  Resources/Prototypes/_DEN/Roles/Jobs/Alternate/captain.yml
Labels: Changes: C#, Changes: Localization

fix error
  Content.Server/GameTicking/GameTicker.Spawning.cs
Labels: Changes: C#

clean...
  Content.Server/_DEN/Job/AlternateJobTitleSystem.cs
Labels: Changes: C#

a
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/_DEN/Lobby/UI/Controls/AlternateTitleSelectionMenu.xaml
  Content.Client/_DEN/Lobby/UI/Controls/AlternateTitleSelectionMenu.xaml.cs
Labels: Changes: C#, Changes: UI

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
