Repository TheDenSS14/TheDen, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Audio, Changes: C#, Changes: Config, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: Workflow

more shader changes
  Resources/Prototypes/_DEN/Shaders/debug.yml
  Resources/Textures/_DEN/Shaders/analog_distortion.swsl
Labels: none

remove default shader value
  Content.Shared/Effects/Components/ApplyShaderToEntityComponent.cs
  Resources/Textures/_DEN/Shaders/analog_distortion.swsl
Labels: Changes: C#

polish prep
  Resources/Prototypes/_DEN/Entities/Objects/base_item.yml
  Resources/Prototypes/_SHA/everything.yml
Labels: none

asdf
  Resources/Prototypes/_DEN/Entities/Objects/base_item.yml
Labels: none

Revert "pillars and decals and uhhhhhhhhhhhhhhhhhhhh"
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Janitorial/soap.yml
Labels: none

no screen texture for u
  Content.Client/Effects/Systems/ApplyShaderToEntitySystem.cs
Labels: Changes: C#

norot polish
  Resources/Prototypes/Entities/Clothing/Multiple/towel.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks_flasks.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drinks_special.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/_DEN/Entities/Objects/Decoration/ashtray.yml
  Resources/Prototypes/_DEN/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/candles.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Janitorial/spray.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Janitorial/washcloth.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Mantis/pots.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/_DEN/Entities/Objects/Tools/lantern.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/Nyanotrasen/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Misc/bureaucracy.rsi/stamp-mantis-unshaded.png
  Resources/Textures/Nyanotrasen/Objects/Misc/bureaucracy.rsi/stamp-mantis.png
Labels: Changes: Sprite

elevator fix
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_DEN/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_DEN/Entities/Structures/Windows/somber.yml
  Resources/Prototypes/_SHA/everything.yml
  Resources/Textures/_SHA/Structures/Walls/fire_escape.rsi/fire_escape_half.png
  Resources/Textures/_SHA/Structures/Walls/fire_escape.rsi/fire_escape_half_left.png
  Resources/Textures/_SHA/Structures/Walls/fire_escape.rsi/fire_escape_half_right.png
  Resources/Textures/_SHA/Structures/Walls/fire_escape.rsi/meta.json
  Resources/Textures/_SHA/Structures/Walls/invisible.rsi/meta.json
  Resources/Textures/_SHA/Structures/Walls/invisible.rsi/occluder_full.png
  Resources/Textures/_SHA/Structures/Walls/invisible.rsi/occluder_half.png
  Resources/Textures/_SHA/Structures/Walls/invisible.rsi/occluder_half_left.png
  Resources/Textures/_SHA/Structures/Walls/invisible.rsi/occluder_half_right.png
  Resources/Textures/_SHA/Structures/Walls/invisible.rsi/occluder_left.png
  Resources/Textures/_SHA/Structures/Walls/invisible.rsi/occluder_right.png
  Resources/Textures/_SHA/Tiles/elevatorleft.png
Labels: Changes: Sprite

Buff Autodocs (#2639)
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/_Shitmed/Surgery/SurgerySpeedModifyEvent.cs
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/autodoc.yml
Labels: Changes: C#

Automated changelog update (#2639)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Buff Autodocs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/_Shitmed/Surgery/SurgerySpeedModifyEvent.cs
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/autodoc.yml
Labels: Changes: C#

Don't use displacements that don't exist.
  Content.Client/Clothing/ClientClothingSystem.cs
  Resources/Prototypes/_DEN/Entities/Mobs/Species/ovinia.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
Labels: Changes: C#

add commenting
  Content.Shared/Psionics/Glimmer/GlimmerSystem.cs
Labels: Changes: C#

Automated changelog update (#2629)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Fix Sophia Returning Empty Strings when Glimmer Is Zero
  Content.Shared/Psionics/Glimmer/GlimmerSystem.cs
Labels: Changes: C#

teensy tiny refactor because i was made aware CharacterItemGroup works on traits for SOME reason
  Resources/Prototypes/_DEN/CharacterItemGroups/Traits/bloods.yml
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: none

bugfix synthetic trait exclusion, now that we have the trait group exclusion
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: none

oops i forgot an S
  Resources/Prototypes/Traits/physical.yml
Labels: none

The Great Refactor of Time, move FTL stuff out of upstream files and into den namespace, fix synthetic bugfix not going the other way and add intoxicating blood to roundstart traits
  Resources/Locale/en-US/_DEN/traits/bloods.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_DEN/CharacterItemGroups/Traits/bloods.yml
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: Changes: Localization

nuke duplicate code out of EXISTENCE
  Content.Server/_CD/Traits/SynthSystem.cs
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: Changes: C#

decouple synth blood from the trait, make Synthetic ion-storm only and atomize synth blood into it's own trait
  Resources/Locale/en-US/_DEN/traits/bloods.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_DEN/CharacterItemGroups/Traits/bloods.yml
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: Changes: Localization

Added Plasteel Spear To Salvage Vendor (#2644)
  Resources/Prototypes/_DV/Catalog/VendingMachines/Inventories/salvage_points.yml
Labels: none

Automated changelog update (#2644)
  Resources/Changelog/Den.yml
Labels: none

[Bounty] Fix Displacements Trying to Use Sex Displacements that Don't Exist (#2646)
  Content.Client/Clothing/ClientClothingSystem.cs
  Resources/Prototypes/_DEN/Entities/Mobs/Species/ovinia.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
Labels: Changes: C#

Automated changelog update (#2646)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: [Bounty] Fix Displacements Trying to Use Sex Displacements that Don't Exist
  Content.Client/Clothing/ClientClothingSystem.cs
  Resources/Prototypes/_DEN/Entities/Mobs/Species/ovinia.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
Labels: Changes: C#

Tiny meta.json Attribution Fix (#2642)
  Resources/Textures/_Impstation/Mobs/Customization/human_hair.rsi/meta.json
Labels: Changes: Sprite

Automated changelog update (#2638)
  Resources/Changelog/Den.yml
Labels: none

update REUSE headers from: Add the Monochromatic Vision Trait.
  Content.Client/_DEN/Overlays/MonochromaticVisionOverlay.cs
  Content.Client/_DEN/Overlays/MonochromaticVisionSystem.cs
  Content.Shared/_DEN/Traits/Components/MonochromaticVisionComponent.cs
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Prototypes/_DEN/Traits/Misc/visual.yml
  Resources/Prototypes/_DV/Traits/altvision.yml
Labels: Changes: C#, Changes: Localization

teensy tiny refactor because i was made aware CharacterItemGroup works on traits for SOME reason
  Resources/Prototypes/_DEN/CharacterItemGroups/Traits/bloods.yml
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: none

bugfix synthetic trait exclusion, now that we have the trait group exclusion
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: none

oops i forgot an S
  Resources/Prototypes/Traits/physical.yml
Labels: none

refactor locale to not be in upstream files
  Resources/Locale/en-US/_DEN/traits/bloods.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/_DEN/CharacterItemGroups/Traits/bloods.yml
Labels: Changes: Localization

nuke duplicate code out of EXISTENCE
  Content.Server/_CD/Traits/SynthSystem.cs
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: Changes: C#

decouple synth blood from the trait, make Synthetic ion-storm only and atomize synth blood into it's own trait
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/_DEN/CharacterItemGroups/Traits/bloods.yml
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: Changes: Localization

making this easier for git to merge (hopefully)
  Resources/Prototypes/_DEN/CharacterItemGroups/Traits/bloods.yml
Labels: none

more reversions to make git not Freak the Fuck Out
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: none

grabbing stuff from the original PR
  Resources/Locale/en-US/_DEN/traits/bloods.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: Changes: Localization

reversions and cleanup
  Resources/Locale/en-US/_DEN/traits/bloods.ftl
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_DEN/Traits/bloods.yml
Labels: Changes: Localization

revert synthetic blood fix because that's not REAL yet
  Resources/Prototypes/Traits/physical.yml
Labels: none

.github/labeler.yml:

# SPDX-FileCopyrightText: 2022 mirrorcult <lunarautomaton6@gmail.com>
# SPDX-FileCopyrightText: 2024 DEATHB4DEFEAT <77995199+DEATHB4DEFEAT@users.noreply.github.com>
# SPDX-FileCopyrightText: 2024 VMSolidus <evilexecutive@gmail.com>
# SPDX-FileCopyrightText: 2025 sleepyyapril <123355664+sleepyyapril@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later AND MIT

"Changes: Audio":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Changes: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Changes: Config":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Changes: Documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Changes: Localization":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Changes: Map":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Changes: UI":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Changes: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Changes: Workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
