Repository TheDenSS14/TheDen, pull requests merged in 2024-12, with the labels that each got.

#83 Wife Plush
  Resources/Audio/Items/Toys/attributions.yml
  Resources/Audio/Items/Toys/grimble1.ogg
  Resources/Audio/Items/Toys/grimble2.ogg
  Resources/Audio/Items/Toys/grimbleactive.ogg
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Entities/Objects/Fun/prizeticket.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/prizecounter.yml
  Resources/Prototypes/SoundCollections/toys.yml
  Resources/Prototypes/TheDen/Loadouts/items.yml
  Resources/Prototypes/threats.yml
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/plushie_grim.png
Labels: Changes: YML, Changes: Audio, Changes: Sprite

#85 The Great Accent PR
  Content.Server/DeltaV/Speech/Components/IrishAccentComponent.cs
  Content.Server/DeltaV/Speech/EntitySystems/IrishAccentSystem.cs
  Resources/Locale/en-US/deltav/accent/irish.ftl
  Resources/Locale/en-US/deltav/traits/traits.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
  Resources/Prototypes/DeltaV/Accents/word_replacements.yml
  Resources/Prototypes/DeltaV/Traits/neutral.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#87 Hypno
  Content.Client/Consent/UI/Windows/ConsentWindow.xaml.cs
  Content.Server/FloofStation/Abilities/Psionics/Abilities/PsionicHypnoSystem.cs
  Resources/Locale/en-US/Blep/consent.ftl
  Resources/Locale/en-US/Floof/hypno.ftl
  Resources/Prototypes/consent.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI

#89 EE Merge + Early Merge Fixes
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Server/Power/EntitySystems/PowerReceiverSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Resources/Locale/en-US/game-ticking/game-rules/gamerule-admin.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI

#91 Update Glimmer Drain
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: YML, Changes: C#

#92 Update hypno.ftl
  Resources/Locale/en-US/Floof/hypno.ftl
Labels: Changes: YML, Changes: Localization

#94 Do a Flip
  Content.Client/Emoting/AnimatedEmotesSystem.cs
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/Emoting/AnimatedEmotesSystem.cs
  Content.Shared/Chat/Prototypes/EmotePrototype.cs
  Content.Shared/Emoting/AnimatedEmotesComponent.cs
  Content.Shared/Emoting/EmoteSystem.cs
  Content.Shared/Emoting/SharedAnimatedEmotesSystem.cs
  Resources/Locale/en-US/emotes.ftl
  Resources/Prototypes/Actions/emotes.yml
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#101 Featherhat
  Resources/Prototypes/Nyanotrasen/mailDeliveries.yml
  Resources/Prototypes/TheDen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/TheDen/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/TheDen/Loadouts/Generic/head.yml
  Resources/Textures/TheDen/Clothing/Head/Hats/featheredcap.rsi/equipped-HELMET.png
  Resources/Textures/TheDen/Clothing/Head/Hats/featheredcap.rsi/icon.png
  Resources/Textures/TheDen/Clothing/Head/Hats/featheredcap.rsi/inhand-left.png
  Resources/Textures/TheDen/Clothing/Head/Hats/featheredcap.rsi/inhand-right.png
  Resources/Textures/TheDen/Clothing/Head/Hats/featheredcap.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#103 Vega and Morty Plushies!
  Resources/Audio/Items/vegaheyy.ogg
  Resources/Audio/Items/vegawoag.ogg
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/mortplush.png
  Resources/Textures/Objects/Fun/toys.rsi/vegaplushie.png
Labels: Changes: YML, Changes: Audio, Changes: Sprite, Status: Needs Review

#105 Alice Plushie
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Textures/Objects/Fun/toys.rsi/aliceplush.png
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#107 Plubshies :3
  Resources/Prototypes/TheDen/Loadouts/items.yml
Labels: Changes: YML

#109 Added Frontier Jackets to Loadout
  Resources/Prototypes/Floof/CharacterItemGroups/outerGroup.yml
  Resources/Prototypes/TheDen/Loadouts/Generic/outerclothing.yml
Labels: Changes: YML, Status: Needs Review

#113 NanoChat Fix
  Content.Server/DeltaV/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
  Content.Shared/DeltaV/NanoChat/SharedNanoChatSystem.cs
Labels: Changes: YML, Changes: C#

#114 Carried Entities Interact Fix
  Content.Server/Carrying/CarryingSystem.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#108 Added Cap Trenchcoat
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/TheDen/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/TheDen/Loadouts/Jobs/Command/captain.yml
  Resources/Textures/TheDen/Clothing/OuterClothing/Coats/cap_trenchcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/TheDen/Clothing/OuterClothing/Coats/cap_trenchcoat.rsi/icon.png
  Resources/Textures/TheDen/Clothing/OuterClothing/Coats/cap_trenchcoat.rsi/inhand-left.png
  Resources/Textures/TheDen/Clothing/OuterClothing/Coats/cap_trenchcoat.rsi/inhand-right.png
  Resources/Textures/TheDen/Clothing/OuterClothing/Coats/cap_trenchcoat.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#106 Lederhosen
  Resources/Prototypes/TheDen/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/TheDen/Loadouts/Generic/uniform.yml
  Resources/Textures/TheDen/Clothing/Uniforms/Jumpsuit/lederhosen.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/TheDen/Clothing/Uniforms/Jumpsuit/lederhosen.rsi/icon.png
  Resources/Textures/TheDen/Clothing/Uniforms/Jumpsuit/lederhosen.rsi/inhand-left.png
  Resources/Textures/TheDen/Clothing/Uniforms/Jumpsuit/lederhosen.rsi/inhand-right.png
  Resources/Textures/TheDen/Clothing/Uniforms/Jumpsuit/lederhosen.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review
