Repository TheDenSS14/TheDen, pull requests merged in 2024-11, with the labels that each got.

#4 No More Xeno Friends
  Resources/Prototypes/Floof/Gamerules/Cargo_gifts.yml
Labels: Changes: YML

#6 Kill Gax and Rad
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: YML, Changes: Map

#13 Change Dragon Carp Rifts and Nuke Arming to Use Landmarks.
  Content.Server/Dragon/DragonRiftSystem.cs
  Content.Server/Nuke/NukeSystem.cs
  Resources/Prototypes/Objectives/traitor.yml
Labels: Changes: YML, Changes: C#

#14 Attempt to Fix Power Flickers
  Content.Server/Power/EntitySystems/PowerNetSystem.cs
  Content.Server/Power/Pow3r/BatteryRampPegSolver.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: YML, Changes: C#

#17 Removed Default Captain Hat.
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
Labels: Changes: YML

#18 Update Mystagogue Playtime
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Labels: Changes: YML

#20 Removed All Sex Toy Spawns in Maints Lockers
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
Labels: Changes: YML

#22 Many Rules Changes
  Resources/ServerInfo/Rules.txt
Labels: Changes: YML

#21 No More Anomaly
  Resources/Prototypes/Floof/Catalog/Cargo/cargo_lewd.yml
  Resources/Prototypes/Floof/Catalog/Fills/Crates/lewd.yml
  Resources/Prototypes/Floof/Entities/Objects/Devices/Misc/identification_card.yml
  Resources/Prototypes/Floof/Roles/Jobs/Wildcards/anomaly.yml
  Resources/Prototypes/Floof/Roles/play_time_trackers.yml
  Resources/Prototypes/Maps/arena.yml
  Resources/Prototypes/Maps/asterisk.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/edge.yml
  Resources/Prototypes/Maps/gaxstation.yml
  Resources/Prototypes/Maps/glacier.yml
  Resources/Prototypes/Maps/hammurabi.yml
  Resources/Prototypes/Maps/hive.yml
  Resources/Prototypes/Maps/lighthouse.yml
  Resources/Prototypes/Maps/pebble.yml
  Resources/Prototypes/Maps/radstation.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Maps/shoukou.yml
  Resources/Prototypes/Maps/tortuga.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: YML, Changes: Map

#24 Reenable Quick Swapping Items
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: YML, Changes: C#

#26 Trait Languages Overhaul
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/CharacterItemGroups/languageGroups.yml
  Resources/Prototypes/Traits/languages.yml
Labels: Changes: YML, Changes: Localization

#29 Re-Adds Deception
  Resources/Prototypes/Store/presets.yml
Labels: Changes: YML

#31 CMO Drip DLC
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/chiefMedicalOfficer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Textures/Clothing/Head/Misc/head_mirror.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Misc/head_mirror.rsi/icon.png
  Resources/Textures/Clothing/Head/Misc/head_mirror.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Misc/head_mirror.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Misc/head_mirror.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/meta.json
Labels: Changes: YML, Changes: Sprite

#35 New Comfy Areas and Atmos Removal.
  Resources/Maps/TheDen/arena.yml
  Resources/Maps/TheDen/asterisk.yml
  Resources/Maps/TheDen/edge.yml
Labels: Changes: YML, Changes: Map

#38 IPC Customization
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/rodentia.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/harpy.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_tails.yml
Labels: Changes: YML

#41 Revert Saltern Changes
  Content.Server/Atmos/Piping/Trinary/EntitySystems/PressureControlledValveSystem.cs
  Resources/Maps/saltern.yml
  Resources/Prototypes/Datasets/Names/last.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/solar.yml
  Resources/Prototypes/Maps/saltern.yml
Labels: Changes: YML, Changes: Map, Changes: C#

#44 Revert "Show Language Names In Chat (#1165)"
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Language/LanguagePrototype.cs
  Resources/Locale/en-US/chat/managers/chat-language.ftl
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/headset/headset-component.ftl
  Resources/Prototypes/Language/Species-Specific/diona.yml
  Resources/Prototypes/Language/Species-Specific/harpy.yml
  Resources/Prototypes/Language/Species-Specific/marish.yml
  Resources/Prototypes/Language/Species-Specific/moth.yml
  Resources/Prototypes/Language/Species-Specific/nekomimetic.yml
  Resources/Prototypes/Language/Species-Specific/reptilian.yml
  Resources/Prototypes/Language/Species-Specific/slimeperson.yml
  Resources/Prototypes/Language/Species-Specific/vulpkanin.yml
  Resources/Prototypes/Language/Standard/elyran.yml
  Resources/Prototypes/Language/Standard/freespeak.yml
  Resources/Prototypes/Language/Standard/solcommon.yml
  Resources/Prototypes/Language/Standard/taucetibasic.yml
  Resources/Prototypes/Language/Standard/tradeband.yml
  Resources/Prototypes/Language/genericlanguages.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#49 Added Long Bow Hair, And Some New Dresses! (Elegant, Western, Turtlen…
  Resources/Prototypes/Entities/Clothing/Uniforms/color_dress.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Prototypes/Loadouts/uniform.yml
  Resources/Textures/Clothing/Uniforms/Jumpskirt/dresswestern.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/dresswestern.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/dresswestern.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/dresswestern.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/dresswestern.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/elegantdress.rsi/color-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/elegantdress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/elegantdress.rsi/icon-color.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/elegantdress.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/elegantdress.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/elegantdress.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/elegantdress.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/stripeddress.rsi/color-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/stripeddress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/stripeddress.rsi/icon-color.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/stripeddress.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/stripeddress.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/stripeddress.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/stripeddress.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/turtledress.rsi/color-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/turtledress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/turtledress.rsi/icon-color.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/turtledress.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/turtledress.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/turtledress.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/turtledress.rsi/meta.json
  Resources/Textures/Mobs/Customization/human_hair.rsi/longbow.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#53 Adds New Sprites for Shotgun Shell Boxes (#33176)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/beanbag.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/flare.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/incendiary.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/lethal.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-3.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-4.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-alt-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-alt-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-alt-3.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-alt-4.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/practice.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/slug.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/tranquilizer.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/uranium.png
Labels: Changes: YML, Changes: Sprite

#57 Revert "Hm"
  Content.Client/Consent/UI/ConsentUiController.cs
  Content.Client/Consent/UI/Windows/ConsentWindow.xaml
  Content.Client/Consent/UI/Windows/ConsentWindow.xaml.cs
Labels: Changes: YML, Changes: C#, Changes: UI

#58 Show Senior Roles
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
Labels: Changes: YML, Changes: Localization

#52 ChemVend Jug Count to 8.
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemvend.yml
Labels: Changes: YML

#60 Shoko Changes
  Resources/Maps/TheDen/shoukou.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#61 Boatload of Map Changes
  Content.Server/StationEvents/Events/AnomalySpawnRule.cs
  Resources/Maps/TheDen/asterisk.yml
  Resources/Maps/TheDen/core.yml
  Resources/Maps/TheDen/edge.yml
  Resources/Maps/TheDen/lighthouse.yml
  Resources/Maps/TheDen/pebble.yml
Labels: Changes: YML, Changes: Map, Changes: C#, Status: Needs Review

#64 Remove IPCs From Having the Singer Trait
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: YML

#59 More Fixes
  Content.Client/Arcade/BlockGameMenu.cs
  Content.Client/Arcade/UI/BlockGameBoundUserInterface.cs
  Content.Client/Arcade/UI/SpaceVillainArcadeBoundUserInterface.cs
  Content.Server/Arcade/BlockGame/BlockGame.Ui.cs
  Content.Server/Arcade/BlockGame/BlockGame.cs
  Content.Server/Arcade/BlockGame/BlockGameArcadeSystem.cs
  Content.Server/VoiceMask/VoiceMaskSystem.cs
  Resources/Prototypes/game_presets.yml
Labels: Changes: YML, Changes: C#

#66 Mime Masks for All
  Resources/Prototypes/Loadouts/Jobs/Service/mime.yml
  Resources/Prototypes/TheDen/Loadouts/items.yml
Labels: Changes: YML

#67 Loadout Stuff
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/TheDen/Loadouts/groups.yml
  Resources/Prototypes/TheDen/Loadouts/items.yml
  Resources/Prototypes/TheDen/Loadouts/lewd.yml
Labels: Changes: YML, Changes: Localization

#69 Marish Latent Psychic Requirement
  Resources/Prototypes/TheDen/Traits/languages.yml
Labels: Changes: YML

#70 AHelp Replies (Port Frontier PR #2283)
  Content.Client/Administration/UI/Bwoink/BwoinkWindow.xaml.cs
  Content.Client/Administration/UI/CustomControls/PlayerListControl.xaml.cs
  Content.Client/Administration/UI/CustomControls/PlayerListEntry.xaml
  Content.Client/Administration/UI/CustomControls/PlayerListEntry.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabHeader.xaml
  Content.Client/Chat/Managers/ChatManager.cs
  Content.Client/Chat/Managers/IChatManager.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Players/RateLimiting/PlayerRateLimitManager.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/UserInterface/Controls/ListContainer.cs
  Content.Client/UserInterface/Controls/SearchListContainer.cs
  Content.Client/UserInterface/Systems/Admin/AdminUIController.cs
  Content.IntegrationTests/PoolManager.Cvars.cs
  Content.Server/Administration/Managers/AdminManager.cs
  Content.Server/Administration/ServerApi.cs
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Server/Chat/Managers/ChatManager.RateLimit.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Discord/WebhookPayload.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/GameTicking/GameTicker.GameRule.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/GameTicking/Rules/SecretRuleSystem.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Nutrition/EntitySystems/FoodGuideDataSystem.cs
  Content.Server/Players/RateLimiting/PlayerRateLimitManager.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/Administration/PlayerInfo.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Chat/ISharedChatManager.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Players/RateLimiting/RateLimitRegistration.cs
  Content.Shared/Players/RateLimiting/SharedPlayerRateLimitManager.cs
  Resources/Locale/en-US/administration/bwoink.ftl
  Resources/Locale/en-US/administration/ui/tabs/player-tab.ftl
  Resources/Locale/en-US/game-ticking/game-rules/gamerule-admin.ftl
  Resources/Locale/en-US/game-ticking/game-rules/rule-secret.ftl
  Resources/Locale/en-US/interaction/interaction-system.ftl
  Resources/Textures/Interface/Bwoink/pinned.png
  Resources/Textures/Interface/Bwoink/pinned2.png
  Resources/Textures/Interface/Bwoink/un_pinned.png
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI

#71 Remove Friendly/Neutral Mobs
  Resources/Prototypes/Entities/Mobs/NPCs/xenopet.yml
  Resources/Prototypes/Floof/Catalog/Fills/Crates/xeno.yml
  Resources/Prototypes/Floof/Entities/Mobs/NPCs/Adolescent_dragon.yml
  Resources/Prototypes/Floof/Entities/Objects/Specific/Rehydrateable.yml
Labels: Changes: YML

#74 Mapping Changes
  Resources/Maps/TheDen/asterisk.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#75 Fix Silicons Not Being Able to Interact with Doors
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
Labels: Changes: YML

#76 Saltern Updates
  Resources/Maps/TheDen/saltern.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review
