Repository TheDenSS14/TheDen, pull requests merged in 2025-02, with the labels that each got.

#216 Quick Fixes
  Resources/Audio/Items/Toys/Plushie/PlushieJenn/jennplushuse.ogg
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
Labels: Changes: YML, Changes: Audio, Status: Needs Review

#220 Belt Tweaks
  Resources/Migrations/denMigrations.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Belt/belts.yml
Labels: Changes: YML, Status: Needs Review

#221 Hi Hello the New Mech Sounds Are Here
  Resources/Audio/_DEN/attributions.yml
  Resources/Audio/_DEN/sound_mecha_powerloader_step_01.ogg
  Resources/Audio/_DEN/sound_mecha_powerloader_step_02.ogg
  Resources/Audio/_DEN/sound_mecha_tracked_00.ogg
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/mechs.yml
Labels: Changes: YML, Changes: Audio, Status: Needs Review

#222 Wooooah Minibomb with No Gib?
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: Changes: YML

#224 Hops Now Real, This Is Entirely for Bnuuy Reasons Do Not Judge Me
  Resources/Prototypes/Actions/emotes.yml
Labels: Changes: YML, Status: Needs Review

#226 The Experimental Bluespace Generator
  Resources/Prototypes/Entities/Structures/Power/Generation/generators.yml
Labels: Changes: YML

#227 Human Hybrids
  Content.Server/_NF/Speech/Components/GoblinAccentComponent.cs
  Content.Server/_NF/Speech/EntitySystems/GoblinAccentSystem.cs
  Resources/Locale/en-US/_DEN/species/species.ftl
  Resources/Locale/en-US/_NF/accent/goblin-accent.ftl
  Resources/Locale/en-US/_NF/traits/traits.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/Oni_horns.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_noses.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_tails.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/oni_horns.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/pointy_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tusks.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/wrist.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/Oni_horns.yml
  Resources/Prototypes/_DEN/Species/human.yml
  Resources/Prototypes/_DEN/Traits/neutral.yml
  Resources/Prototypes/_NF/Accents/word_replacements.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#228 Rubber Gas Mask
  Resources/Prototypes/Floof/Catalog/Fills/Crates/lewd.yml
  Resources/Prototypes/Floof/CharacterItemGroups/funGroup.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_DEN/Loadouts/lewd.yml
  Resources/Textures/_DEN/Clothing/Mask/dronegasmask.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_DEN/Clothing/Mask/dronegasmask.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_DEN/Clothing/Mask/dronegasmask.rsi/equipped-MASK.png
  Resources/Textures/_DEN/Clothing/Mask/dronegasmask.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Mask/dronegasmask.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Mask/dronegasmask.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Mask/dronegasmask.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#229 Hypopen Changes + Chloral Hydrate Sleepiness
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
Labels: Changes: YML

#231 Fix Arcade Machines (#30376)
  Content.Client/Arcade/UI/BlockGameBoundUserInterface.cs
  Content.Client/Arcade/UI/SpaceVillainArcadeBoundUserInterface.cs
Labels: Changes: YML, Changes: C#

#234 EE Merge but Real Real
  Content.Client/DeltaV/VendingMachines/UI/ShopVendorWindow.xaml.cs
  Content.Client/Effects/ColorFlashEffectSystem.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/Anomaly/AnomalySystem.Vessel.cs
  Content.Server/Anomaly/Components/AnomalyVesselComponent.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Specific/PickNearbyWeldableOperator.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Specific/WeldbotWeldOperator.cs
  Content.Server/NPC/NPCBlackboard.cs
  Content.Server/Xenoarchaeology/Equipment/Components/ArtifactAnalyzerComponent.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/ArtifactAnalyzerSystem.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Profile.cs
  Content.Shared/Silicons/Bots/WeldbotComponent.cs
  Content.Shared/Silicons/Bots/WeldbotSystem.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/customization/character-requirements.ftl
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Locale/en-US/npc/weldbot.ftl
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Maps/bagel.yml
  Resources/Maps/glacier.yml
  Resources/Maps/northway.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/NPCs/weldbot.yml
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
  Resources/Prototypes/Entities/Structures/Machines/artifact_analyzer.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Guidebook/species.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/northway.yml
  Resources/Prototypes/NPCs/weldbot.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/bots/weldbot.yml
  Resources/Prototypes/Recipes/Crafting/bots.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/silicon-laws.yml
  Resources/Prototypes/tags.yml
  Resources/ServerInfo/Guidebook/Mobs/Dwarf.xml
  Resources/ServerInfo/Guidebook/Mobs/Oni.xml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
  Resources/Textures/Mobs/Silicon/Bots/weldbot.rsi/meta.json
  Resources/Textures/Mobs/Silicon/Bots/weldbot.rsi/weldbot.png
  Resources/Textures/Structures/Machines/artifact_analyzer.rsi/meta.json
  Resources/Textures/Structures/Machines/artifact_analyzer.rsi/panel.png
Labels: Changes: YML, Changes: Map, Changes: C#, Changes: Localization, Changes: Documentation, Changes: Sprite, Changes: UI

#237 Pebble Station Tweaks
  Resources/Maps/TheDen/pebble.yml
  Resources/Prototypes/Maps/pebble.yml
Labels: Changes: YML, Changes: Map

#238 Fix Latent Psionic
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: YML, Status: Needs Review

#240 General Upkeep
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/DeltaV/Objectives/stealTargetGroups.yml
  Resources/Prototypes/DeltaV/Objectives/traitor.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Traits/mental.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/Weapons/Melee/industrial.yml
Labels: Changes: YML, Status: Needs Review

#241 Shoko Initial Changes
  Resources/Maps/TheDen/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#242 Corpsman Loadout Changes, Evil Mind Powers, Weird Noises and Associated Paraphernalia
  Resources/Audio/_DEN/attributions.yml
  Resources/Audio/_DEN/holofan_sound.ogg
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/corpsman.yml
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
  Resources/Prototypes/Loadouts/Jobs/Security/corpsman.yml
  Resources/Prototypes/Traits/mental.yml
Labels: Changes: YML, Changes: Localization, Changes: Audio, Status: Needs Review

#243 MindSwap Consent
  Content.Server/Abilities/Psionics/Abilities/MindSwapPowerSystem.cs
  Resources/Locale/en-US/Blep/consent.ftl
  Resources/Prototypes/consent.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#246 Shadowkin Trait Fixes
  Resources/Prototypes/Traits/mental.yml
Labels: Changes: YML, Status: Needs Review

#245 Asterisk Fixed Forever (Kinda)
  Resources/Maps/TheDen/asterisk.yml
  Resources/Migrations/denMigrations.yml
  Resources/Prototypes/Maps/asterisk.yml
Labels: Changes: YML, Changes: Map

#249 Asterisk Hotfix
  Resources/Maps/TheDen/asterisk.yml
Labels: Changes: YML, Changes: Map

#250 Add External Command-Locked and Security-Locked Airlocks (#1805)
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Airlocks/access.yml
Labels: Changes: YML

#253 Fixes Part Two
  Content.Client/Buckle/BuckleSystem.cs
  Content.Server/VoiceMask/VoiceMaskSystem.cs
  Content.Server/_Shitmed/Body/Systems/DebrainedSystem.cs
  Content.Shared/Standing/SharedLayingDownSystem.cs
Labels: Changes: YML, Changes: C#

#251 Music + Smokes
  Resources/Audio/Lobby/Get_It_Done.ogg
  Resources/Audio/Lobby/Undefined_Theory.ogg
  Resources/Audio/Lobby/attributions.yml
  Resources/Audio/Lobby/thestation.ogg
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cigs.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Smokeables/Cigarettes/cartons.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/randomitems.yml
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Cartons/pink.rsi/closed.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Cartons/pink.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Cartons/pink.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Cartons/pink.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Cartons/pink.rsi/open.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Cartons/purple.rsi/closed.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Cartons/purple.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Cartons/purple.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Cartons/purple.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Cartons/purple.rsi/open.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/pink.rsi/closed.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/pink.rsi/equipped-BELT.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/pink.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/pink.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/pink.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/pink.rsi/open.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/pink.rsi/trash.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/purple.rsi/closed.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/purple.rsi/equipped-BELT.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/purple.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/purple.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/purple.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/purple.rsi/open.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/purple.rsi/trash.png
Labels: Changes: YML, Changes: C#, Changes: Audio, Changes: Sprite

#252 Make Plushie Crate Buyable
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Floof/Catalog/Cargo/cargo_fun.yml
Labels: Changes: YML

#255 More Object Interactions
  Resources/Locale/en-US/_DEN/interaction/verbs/objectInteractions.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/bowl.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/plate.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/food_base.yml
  Resources/Prototypes/Entities/Objects/Misc/utensils.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/flare_gun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/armblade.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/chainsaw.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cult.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/gohei.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/needle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sledgehammer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/telescopic_baton.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/white_cane.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Prototypes/Interactions/noop_interactions.yml
  Resources/Prototypes/_DEN/Interactions/object_interactions.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#258 Quickfix (Real Attempt)
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: Changes: YML, Status: Needs Review

#259 Clicker
  Resources/Audio/Items/clicker.ogg
  Resources/Prototypes/Floof/CharacterItemGroups/uniformGroup.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/clicker.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/uniform.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/latexcatsuitblank.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/latexcatsuitblank.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/latexcatsuitblank.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/latexcatsuitblank.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/latexcatsuitblank.rsi/meta.json
  Resources/Textures/_DEN/Objects/Fun/clicker.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/clicker.rsi/meta.json
Labels: Changes: YML, Changes: Audio, Changes: Sprite, Status: Needs Review

#260 Clickfix
  Resources/Audio/Items/clicker.ogg
  Resources/Prototypes/_DEN/Entities/Objects/Fun/clicker.yml
Labels: Changes: YML, Changes: Audio, Status: Needs Review

#263 Map Hotfixes, Pebble and Asterisk
  Resources/Maps/TheDen/asterisk.yml
  Resources/Maps/TheDen/pebble.yml
Labels: Changes: YML, Changes: Map

#264 Foxmerge
  Resources/Locale/en-US/deltav/reagents/meta/medicine.ftl
  Resources/Prototypes/Atmospherics/thresholds.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Machines/advanced_microwave.yml
  Resources/Prototypes/DeltaV/Reagents/medicine.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/electronics.yml
  Resources/Prototypes/DeltaV/Recipes/Reactions/medicine.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/CircuitBoards/Machine/production.yml
  Resources/ServerInfo/Guidebook/Medical/Cryogenics.xml
  Resources/Textures/_DV/Structures/Machines/advanced_microwave.rsi/meta.json
  Resources/Textures/_DV/Structures/Machines/advanced_microwave.rsi/mw.png
  Resources/Textures/_DV/Structures/Machines/advanced_microwave.rsi/mw0.png
  Resources/Textures/_DV/Structures/Machines/advanced_microwave.rsi/mw_running_unlit.png
  Resources/Textures/_DV/Structures/Machines/advanced_microwave.rsi/mw_unlit.png
  Resources/Textures/_DV/Structures/Machines/advanced_microwave.rsi/mwb.png
  Resources/Textures/_DV/Structures/Machines/advanced_microwave.rsi/mwbloody.png
  Resources/Textures/_DV/Structures/Machines/advanced_microwave.rsi/mwbloody0.png
  Resources/Textures/_DV/Structures/Machines/advanced_microwave.rsi/mwbloody1.png
  Resources/Textures/_DV/Structures/Machines/advanced_microwave.rsi/mwbloodyo.png
  Resources/Textures/_DV/Structures/Machines/advanced_microwave.rsi/mwo.png
Labels: Changes: YML, Changes: Localization, Changes: Documentation, Changes: Sprite

#265 Minor Stuff
  Resources/Locale/en-US/deltav/phrases/common.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/chiefEngineer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/engineeringUncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Logistics/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/paramedic.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Threats/status.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/chiefEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Logistics/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Traits/inconveniences.yml
  Resources/Prototypes/Traits/mental.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#266 Quickfix
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/chitinid.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
Labels: Changes: YML, Status: Needs Review

#269 Make Dignitaries Have Fake AA
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/magistrate.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: Changes: YML

#270 Trait Fixes
  Resources/Prototypes/Floof/Traits/physical.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_DEN/Traits/physical.yml
Labels: Changes: YML, Status: Needs Review

#271 Edge Station DV Port
  Resources/Maps/TheDen/edge.yml
  Resources/Migrations/denMigrations.yml
  Resources/Prototypes/Maps/edge.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#272 Mask Additions, Warmer Clothes
  Resources/Locale/en-US/loadouts/lewd.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Floof/CharacterItemGroups/funGroup.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/lewd.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/coats_punk.yml
  Resources/Textures/Clothing/Mask/plaguedoctormask.rsi/equipped-MASK.png
  Resources/Textures/_DEN/Clothing/Mask/ballisticmask.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_DEN/Clothing/Mask/ballisticmask.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_DEN/Clothing/Mask/ballisticmask.rsi/equipped-MASK.png
  Resources/Textures/_DEN/Clothing/Mask/ballisticmask.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Mask/ballisticmask.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Mask/ballisticmask.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Mask/ballisticmask.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Mask/dronegasmaskhoodless.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_DEN/Clothing/Mask/dronegasmaskhoodless.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_DEN/Clothing/Mask/dronegasmaskhoodless.rsi/equipped-MASK.png
  Resources/Textures/_DEN/Clothing/Mask/dronegasmaskhoodless.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Mask/dronegasmaskhoodless.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Mask/dronegasmaskhoodless.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Mask/dronegasmaskhoodless.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#273 Edge Silo
  Resources/Maps/TheDen/edge.yml
Labels: Changes: YML, Changes: Map

#276 Quickfixes
  Resources/Maps/Floof/arena.yml
  Resources/Maps/TheDen/arena.yml
  Resources/Maps/arena.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_Nuclear14/Stacks/material_stacks.yml
Labels: Changes: YML, Changes: Map

#279 Whisper and Subtle Is only Heard by Players
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
Labels: Changes: YML, Changes: C#

#278 Epistemics Point Generation Buffs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactComponent.cs
  Content.Shared/Anomaly/Components/AnomalyComponent.cs
  Resources/Prototypes/Catalog/Bounties/bounties.yml
Labels: Changes: YML, Changes: C#

#280 Trait Additions and Change Part 1 (Part 2 Is Never Happening)
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/Traits/skills.yml
  Resources/Prototypes/_DEN/Traits/physical.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#282 Quickfix for New Traits
  Resources/Locale/en-US/_DEN/traits/traits.ftl
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#277 Glacier Port
  Content.Server/Materials/Components/ProduceMaterialExtractorComponent.cs
  Content.Server/Materials/ProduceMaterialExtractorSystem.cs
  Resources/Locale/en-US/deltav/prototypes/access/accesses.ftl
  Resources/Locale/en-US/lathe/components/lathe-component.ftl
  Resources/Locale/en-US/lathe/lathe-categories.ftl
  Resources/Maps/TheDen/glacier.yml
  Resources/Migrations/denMigrations.yml
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Access/research.yml
  Resources/Prototypes/DeltaV/Access/epistemics.yml
  Resources/Prototypes/DeltaV/Access/misc.yml
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Shutter/blast_door.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Windoors/windoor.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/biogen.yml
  Resources/Prototypes/Recipes/Lathes/categories.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Textures/DeltaV/Markers/jobs.rsi/meta.json
  Resources/Textures/DeltaV/Markers/jobs.rsi/roboticist.png
Labels: Changes: YML, Changes: Map, Changes: C#, Changes: Localization, Changes: Sprite

#283 Edge Fixes
  Resources/Maps/TheDen/edge.yml
  Resources/Prototypes/Maps/edge.yml
Labels: Changes: YML, Changes: Map

#284 Bunch of New Stuff and Fixes
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/CharacterItemGroups/Generic/beltGroup.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Logistics/logisticsOfficer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/warden.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/botanist.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/janitor.yml
  Resources/Prototypes/Entities/Objects/Tools/spray_painter.yml
  Resources/Prototypes/Loadouts/Generic/backpacks.yml
  Resources/Prototypes/Loadouts/Generic/belt.yml
  Resources/Prototypes/Loadouts/Generic/duffelbags.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/Loadouts/Generic/satchels.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/golemancer.yml
  Resources/Prototypes/Loadouts/Jobs/Logistics/logisticsOfficer.yml
  Resources/Prototypes/Loadouts/Jobs/Security/warden.yml
  Resources/Prototypes/Loadouts/Jobs/Service/botanist.yml
  Resources/Prototypes/Loadouts/Jobs/Service/janitor.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Shoes/specific.yml
  Resources/Textures/_DEN/Clothing/Shoes/Specific/purple_galoshes.rsi/equipped-FEET.png
  Resources/Textures/_DEN/Clothing/Shoes/Specific/purple_galoshes.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Shoes/Specific/purple_galoshes.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Shoes/Specific/purple_galoshes.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Shoes/Specific/purple_galoshes.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#285 The Greatsword
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/warden.yml
  Resources/Prototypes/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/warden.yml
  Resources/Textures/_DEN/Objects/Weapons/Melee/shieldblade.rsi/equipped-BACKPACK.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/shieldblade.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/shieldblade.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/shieldblade.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/shieldblade.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/shieldblade.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Melee/shieldblade.rsi/wielded-inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/shieldblade.rsi/wielded-inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/shieldbladeblue.rsi/equipped-BACKPACK.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/shieldbladeblue.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/shieldbladeblue.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/shieldbladeblue.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/shieldbladeblue.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/shieldbladeblue.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Melee/shieldbladeblue.rsi/wielded-inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/shieldbladeblue.rsi/wielded-inhand-right.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#286 Greatsword Quickfix
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
Labels: Changes: YML, Status: Needs Review

#289 Melee Tweaks and Changes
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_string.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/home_run_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Loadouts/Jobs/Logistics/salvageSpecialist.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/blunt.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/breaching_hammer.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/breaching_hammer.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/breaching_hammer.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/kanabou.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/kanabou.rsi/meta.json
  Resources/Textures/Objects/Fun/Instruments/bassguitar.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Fun/Instruments/bassguitar.rsi/meta.json
  Resources/Textures/Objects/Fun/Instruments/eguitar.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Fun/Instruments/eguitar.rsi/meta.json
  Resources/Textures/Objects/Fun/Instruments/guitar.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Fun/Instruments/guitar.rsi/meta.json
  Resources/Textures/Objects/Fun/Instruments/rockguitar.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Fun/Instruments/rockguitar.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/baseball_bat.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/baseball_bat.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/claymore.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/claymore.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/home_run_bat.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/home_run_bat.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#292 Quickfixes
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Recipes/Lathes/sheet.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/materials.yml
Labels: Changes: YML, Status: Needs Review

#287 Glacier II Update
  Resources/Maps/TheDen/glacier.yml
  Resources/Prototypes/Maps/glacier.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#291 Who Up Shoukouing They Shit (Proper Spelling This Time)
  Resources/Maps/TheDen/shoukou.yml
  Resources/Migrations/denMigrations.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#293 Clothing Additions and Tweaks
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/CharacterItemGroups/Generic/outerwearGroup.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/Floof/CharacterItemGroups/uniformGroup.yml
  Resources/Prototypes/Loadouts/Generic/outerClothing.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/uniform.yml
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/shorts.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/shorts.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/shorts.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/shorts.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/shorts.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review
