Repository TheDenSS14/TheDen, pull requests merged in 2025-10, with the labels that each got.

#1826 Fix Magnet Bag Networking and Disable the Trash Bag's Magnet by Default
  Content.Shared/Storage/Components/MagnetPickupComponent.cs
  Content.Shared/Storage/EntitySystems/MagnetPickupSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/trashbag.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1827 Remove Obtrusive, Unused, and Broken Smites
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review, Status: Direction Approved

#1825 Make CentComm Officials Untargetable By Default (+ Make "Marked" Easier To Edit In VV)
  Content.Server/FloofStation/Traits/Components/MarkedComponent.cs
  Content.Server/Objectives/Components/PickRandomPersonComponent.cs
  Content.Shared/_Floof/Objectives/ObjectiveTypes.cs
  Resources/Prototypes/Roles/Jobs/Command/centcom_official.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1832 Military Brat Cargo Pants
  Resources/Locale/en-US/loadouts/generic/uniform.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/CharacterItemGroups/Generic/itemGroups.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/uniform.yml
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/militarybrat.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/militarybrat.rsi/flipped-equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/militarybrat.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/militarybrat.rsi/icon_flipped.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/militarybrat.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/militarybrat.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/militarybrat.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#1833 Changed Name and Description of Templars Helmet
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
Labels: Changes: YML

#1828 Event Accesses
  Content.Shared/Access/AccessGroupPrototype.cs
  Content.Shared/Access/Components/IdCardConsoleComponent.cs
  Resources/Locale/en-US/_DEN/job/job-names.ftl
  Resources/Locale/en-US/_DEN/prototypes/access/accesses.ftl
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/_DEN/Access/event.yml
  Resources/Prototypes/_DEN/Access/misc.yml
  Resources/Prototypes/_DEN/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_DEN/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_DEN/Wires/layouts.yml
  Resources/Textures/Objects/Misc/id_cards.rsi/event.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/Objects/Misc/id_cards.rsi/vip.png
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Sprite, Status: Needs Review

#1843 Use RT Arg Parser
  Content.Server/Discord/DiscordLink/DiscordLink.cs
Labels: Changes: YML, Changes: C#

#1844 Remove Pipe Stacking
  Content.Server/Atmos/EntitySystems/PipeRestrictOverlapSystem.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/teg.yml
Labels: Changes: YML, Changes: C#

#1830 Revolver Bugfixes
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Revolver.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1845 Make the Examine Tooltip's Max Width Configurable
  Content.Client/Examine/ExamineSystem.cs
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Shared/_DEN/CCVars/DenCCVars.cs
  Resources/Locale/en-US/_DEN/escape-menu/options-menu.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI, Status: Needs Review

#1846 Revert "Remove Pipe Stacking (#1844)"
  Content.Server/Atmos/EntitySystems/PipeRestrictOverlapSystem.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/teg.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1774 Psionics Polish And Some Rebalancing
  Content.Server/Psionics/PsionicsSystem.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Psionics/psionics.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Traits/mental.yml
  Resources/Prototypes/Traits/skills.yml
  Resources/Prototypes/_Floof/psionics.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review, Status: Direction Approved
