Repository TheDenSS14/TheDen, pull requests merged in 2025-09, with the labels that each got.

#1640 Fix Tests Please
  .github/workflows/build-test-debug.yml
  Content.IntegrationTests/Tests/EntityTest.cs
Labels: Changes: YML, Changes: C#, Changes: Workflow

#1606 Remove Nearsighted Requirement From Prescription Medhud
  Resources/Prototypes/Loadouts/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/corpsman.yml
Labels: Changes: YML, Status: Needs Review

#1631 NTRep Loadout Upgrade
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/nanorep.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Command/nanorep.yml
Labels: Changes: YML, Status: Needs Review

#1626 Small Trait Max Width Increase
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML, Status: Needs Review

#1636 Fixes IPCs Standing on Sleep/Death
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
Labels: Changes: YML, Status: Needs Review

#1632 Fix Solutions Flickering when Transferring Contents
  Content.Shared/Chemistry/Components/Solution.cs
Labels: Changes: YML, Changes: C#, Status: Maintainer Approved

#1624 Client-Side Entity Log Sorting
  Content.Client/Administration/UI/Logs/AdminLogsControl.xaml
  Content.Client/Administration/UI/Logs/AdminLogsControl.xaml.cs
  Content.Server/Administration/Logs/AdminLogsEui.cs
  Resources/Locale/en-US/administration/ui/admin-logs.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI, Status: Needs Review

#1625 Conspiracy Book (Tenebrae)
  Resources/Locale/en-US/_Impstation/paper/book-tenebraeconspiracy.ftl
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/books_author.yml
  Resources/Textures/_Impstation/Objects/Misc/book.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Misc/book.rsi/tenebraeconspiracybook.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#1611 Nanotrasen Representative ID
  Resources/Prototypes/_DEN/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: Changes: YML, Status: Needs Review

#1629 Add Fire Examine to Objects
  Content.Server/Atmos/Components/ContentProtectionComponent.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Explosion/Components/ExplosionResistanceComponent.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Shared/Clothing/Components/FireProtectionComponent.cs
  Content.Shared/Clothing/EntitySystems/FireProtectionSystem.cs
  Resources/Locale/en-US/_DEN/fire/fire.ftl
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/box.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/paper.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review

#1637 [FIX]: Fixed Monkey, Kobold and Scug Inventories.
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_DEN/Body/Prototypes/scugcat.yml
  Resources/Prototypes/_Floof/Entities/Mobs/NPCs/scugcat.yml
Labels: Changes: YML, Status: Needs Review

#1612 Fix Standing up when Exiting Critical State
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1609 Proper Punctuation/Capitalization Accents
  Resources/Locale/en-US/_Impstation/traits/speech.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
  Resources/Prototypes/_DEN/Traits/neutral.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicators.yml
  Resources/Prototypes/_Impstation/Traits/neutral.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#1605 Added Whitelist to BodyBags
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
Labels: Changes: YML, Status: Maintainer Approved

#1598 Fix Instant Thieving
  Content.Shared/Strip/Components/StrippableComponent.cs
Labels: Changes: YML, Changes: C#

#1610 Cool New Cigarettes
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cigs.yml
  Resources/Prototypes/CharacterItemGroups/Generic/miscItemGroups.yml
  Resources/Prototypes/Entities/Clothing/Back/smuggler_tables.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cartons.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/randomitems.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/items.yml
  Resources/Prototypes/_DV/Entities/Objects/Consumable/Smokeables/Cigarettes/cartons.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/cartons.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Cartons/spirits.rsi/closed.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Cartons/spirits.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Cartons/spirits.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Cartons/spirits.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Cartons/spirits.rsi/open.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/spirits.rsi/closed.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/spirits.rsi/equipped-BELT.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/spirits.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/spirits.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/spirits.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/spirits.rsi/open.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/spirits.rsi/trash.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#1596 Port Puffers and Poncho From Imp
  Resources/Prototypes/Catalog/VendingMachines/Inventories/atmosdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cargodrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/scidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Prototypes/CharacterItemGroups/Generic/outerwearGroup.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/mime.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/outerclothing.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/mime.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/misc.yml
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_mime.rsi/equipped-OUTERCLOTHING-thaven.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_mime.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_mime.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_mime.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_mime.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_mime.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_silver.rsi/equipped-OUTERCLOTHING-thaven.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_silver.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_silver.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_silver.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_silver.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/big_puffercoat_silver.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/poncho.rsi/equipped-NECK-thaven.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/poncho.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/poncho.rsi/equipped-OUTERCLOTHING-thaven.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/poncho.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/poncho.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/poncho.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/poncho.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/poncho.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#1607 Caduceus Cap, Valor Helm, and Compact Armor Vest
  Resources/Audio/_Impstation/Effects/Vehicle/ambulancesiren.ogg
  Resources/Audio/_Impstation/Effects/Vehicle/attributions.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/paramedic.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Medical/paramedic.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/armor.yml
  Resources/Textures/_DV/Clothing/Head/Helmets/security.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Head/Helmets/security.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/paramedicsirencap.rsi/icon-light.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/paramedicsirencap.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/paramedicsirencap.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/paramedicsirencap.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/paramedicsirencap.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Head/Hats/paramedicsirencap.rsi/off-equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/paramedicsirencap.rsi/on-equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/security.rsi/equipped-HELMET-vox.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/security.rsi/equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/security.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/security.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/security.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/security.rsi/light-equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/security.rsi/lighton-equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/security.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Head/Helmets/securitysirenhelmet.rsi/icon-light.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/securitysirenhelmet.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/securitysirenhelmet.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/securitysirenhelmet.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/securitysirenhelmet.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Head/Helmets/securitysirenhelmet.rsi/off-equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/securitysirenhelmet.rsi/on-equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/security_compact.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/security_compact.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/security_compact.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/security_compact.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/security_compact.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/security_compact.rsi/meta.json
Labels: Changes: YML, Changes: Audio, Changes: Sprite, Status: Needs Review

#1642 Fix Test Fail
  Resources/Locale/en-US/_DEN/stabilizing/stabilizing.ftl
Labels: Changes: YML, Changes: Localization

#1643 Fixing All Debug Fails
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/helmets.yml
Labels: Changes: YML

#1644 Hardsuitstun
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_EE/Entities/Clothing/SolAlliance/SAN/outerwear.yml
  Resources/Prototypes/_Floof/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/armour.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/armor.yml
Labels: Changes: YML, Status: Needs Review

#1646 Lighthouse Corpsman
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#1650 Welder Fuel Prediction
  Content.Server/Tools/ToolSystem.cs
  Content.Shared/Tools/Components/WelderComponent.cs
  Content.Shared/Tools/Systems/SharedToolSystem.Welder.cs
  Content.Shared/Tools/Systems/SharedToolSystem.cs
Labels: Changes: YML, Changes: C#

#1651 Security Vest Quick Fix
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Engineering/atmosphericTechnician.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Engineering/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Epistemics/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Logistics/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/bomberjackets.yml
Labels: Changes: YML, Status: Maintainer Approved

#1645 Made Geras Slimes Carry over Color
  Content.Server/Geras/GerasSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Textures/Mobs/Aliens/slimes.rsi/aslime_3.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/aslime_angry.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/aslime_mischievous.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/meta.json
  Resources/Textures/Mobs/Aliens/slimes.rsi/slime_geras.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/slime_geras_eyes.png
Labels: Changes: YML, Changes: C#, Changes: Sprite, Status: Maintainer Approved

#1652 Hardsuit Helmets Are Breath Masks
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/modsuit.yml
Labels: Changes: YML, Status: Maintainer Approved, Status: Direction Approved

#1661 Entity Spawn Menu Cleanup
  Content.IntegrationTests/Tests/_DEN/Entities/EntitySpawnMenuTest.cs
  Resources/Prototypes/Entities/Debugging/clicktest.yml
  Resources/Prototypes/Entities/Debugging/options_visualizer.yml
  Resources/Prototypes/Entities/Debugging/stress_test.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_DV/GameRules/events.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Goobstation/Entities/Debugging/nukiestealth.yml
  Resources/Prototypes/_Impstation/GameRules/replicator_event.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1654 Patrol Cap, Midriff Undershirt
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Locale/en-US/_DEN/markings/undershirt.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/headGroup.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/head.yml
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/undershirt.yml
  Resources/Textures/_DEN/Clothing/Head/Hats/patrolcap.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/patrolcap.rsi/flipped-equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/patrolcap.rsi/flipped-inhand-left.png
  Resources/Textures/_DEN/Clothing/Head/Hats/patrolcap.rsi/flipped-inhand-right.png
  Resources/Textures/_DEN/Clothing/Head/Hats/patrolcap.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hats/patrolcap.rsi/icon_flipped.png
  Resources/Textures/_DEN/Clothing/Head/Hats/patrolcap.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Head/Hats/patrolcap.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Head/Hats/patrolcap.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/undershirt.rsi/croppedundershirt.png
  Resources/Textures/_DEN/Mobs/Customization/undershirt.rsi/meta.json
  Resources/Textures/_DV/Clothing/Belt/security.rsi/equipped-BELT.png
  Resources/Textures/_DV/Clothing/Belt/security.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#1655 [TWEAK]: Minor Dragon Buffs
  Content.Server/Dragon/Components/DragonComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1658 Species Fashion Breath Mask Sprites
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/chitinid.yml
  Resources/Textures/Clothing/Mask/breathcommand.rsi/equipped-MASK-chitinid.png
  Resources/Textures/Clothing/Mask/breathcommand.rsi/equipped-MASK-feroxi.png
  Resources/Textures/Clothing/Mask/breathcommand.rsi/equipped-MASK-resomi.png
  Resources/Textures/Clothing/Mask/breathcommand.rsi/equipped-MASK-shadowkin.png
  Resources/Textures/Clothing/Mask/breathcommand.rsi/equipped-MASK-tajaran.png
  Resources/Textures/Clothing/Mask/breathcommand.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/Clothing/Mask/breathcommand.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/equipped-MASK-chitinid.png
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/equipped-MASK-feroxi.png
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/equipped-MASK-resomi.png
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/equipped-MASK-shadowkin.png
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/equipped-MASK-tajaran.png
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_DEN/Clothing/Mask/breathfashion.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#1656 Heeeeeyyaaaaaa Daddy Map's His Heart Out (Help)
  Resources/Maps/TheDen/arena.yml
Labels: Changes: YML, Changes: Map

#1663 I'm Normal And Sane And Normal And I Just Adopted Juni's Chud Son
  Resources/Maps/TheDen/baikal.yml
  Resources/Prototypes/Maps/baikal.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#1664 Nanorep FTL Bugfix
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/nanorep.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Command/nanorep.yml
Labels: Changes: YML, Status: Maintainer Approved

#1665 French Accent Port From Impstation
  Content.Server/_Impstation/Speech/Components/BasicFrenchAccentComponent.cs
  Content.Server/_Impstation/Speech/EntitySystems/BasicFrenchAccentSystem.cs
  Resources/Locale/en-US/_Impstation/accent/french.ftl
  Resources/Locale/en-US/_Impstation/traits/speech.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/_Impstation/Accents/french_replacements.yml
  Resources/Prototypes/_Impstation/Traits/neutral.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review

#1671 Remove Hairballs
  Content.Server/Nyanotrasen/Abilities/Felinid/FelinidSystem.cs
Labels: Changes: YML, Changes: C#

#1309 [TWEAK]: Balance Changes Part 1
  Content.Server/GameTicking/Rules/Components/TraitorRuleComponent.cs
  Resources/Maps/TheDen/havoc.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/bardrobe.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/captain.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/warden.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Loadouts/Generic/eyes.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/_DEN/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/warden.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/protolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/security_techfab.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/_EE/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_Shitmed/Body/Parts/cybernetic.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/bolt-open.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/mag-0.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/wielded-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Shotguns/antelope.rsi/wielded-inhand-right.png
Labels: Changes: YML, Changes: Map, Changes: C#, Changes: Sprite, Status: Needs Review, Status: Direction Approved

#1666 [TWEAK]: Let Cargo Techs Unlock Artifact Containers
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifact_equipment.yml
Labels: Changes: YML

#1673 [PORT] Laser Tag From Delta-V
  Resources/Locale/en-US/_DV/store/uplink/weaponry.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/_DV/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_DV/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_DV/Catalog/Uplink/weaponry.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/base.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/disabler-inhand-left.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/disabler-inhand-right.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/equipped-BELT.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/icon.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/lethal-inhand-left.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/lethal-inhand-right.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/mag-unshaded-0.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/mag-unshaded-1.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/mag-unshaded-2.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/mag-unshaded-3.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/mag-unshaded-4.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/meta.json
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/mode-disabler.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/mode-lethal.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#1685 [REMOVE]: Cluwne From Grand Lottery
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
Labels: Changes: YML, Status: Needs Review

#1690 Fixed Blue Pumpkins Not Having a Name and Added Chem Jug to the Service Techfab
  Resources/Locale/en-US/seeds/seeds.ftl
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/service_techfab.yml
Labels: Changes: YML, Changes: Localization, Status: Maintainer Approved

#1693 Drink Consent Fix
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_glass.yml
  Resources/Prototypes/_DEN/Reagents/Consumable/Drink/alcohol.yml
Labels: Changes: YML, Status: Needs Review

#1699 Frontier Radio Layers/Toggle
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Resources/Locale/en-US/radio/components/handheld-radio-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
  Resources/Textures/Objects/Devices/communication.rsi/meta.json
  Resources/Textures/Objects/Devices/communication.rsi/walkietalkie-broadcasting.png
  Resources/Textures/Objects/Devices/communication.rsi/walkietalkie-off.png
  Resources/Textures/Objects/Devices/securityhandy.rsi/meta.json
  Resources/Textures/Objects/Devices/securityhandy.rsi/walkietalkie-broadcasting.png
  Resources/Textures/Objects/Devices/securityhandy.rsi/walkietalkie-off.png
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Sprite, Status: Maintainer Approved

#1701 Radios In Neck Slot
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
Labels: Changes: YML, Status: Needs Review

#1702 Balls
  Resources/Prototypes/Catalog/VendingMachines/Inventories/games.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Mail/mail.yml
  Resources/Textures/_DEN/Objects/Fun/skimmerdiscus.rsi/icon-underglow.png
  Resources/Textures/_DEN/Objects/Fun/skimmerdiscus.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/skimmerdiscus.rsi/inhand-left-underglow.png
  Resources/Textures/_DEN/Objects/Fun/skimmerdiscus.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/skimmerdiscus.rsi/inhand-right-underglow.png
  Resources/Textures/_DEN/Objects/Fun/skimmerdiscus.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/skimmerdiscus.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#1700 Mimes Aren't Forcefrenched
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
Labels: Changes: YML, Status: Needs Review, Status: Discussion Ping

#1706 Security Lobby Art
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/NO-RO.webp
  Resources/Textures/LobbyScreens/NO-RO.webp.yml
  Resources/Textures/LobbyScreens/attributions.yml
Labels: Changes: YML

#1692 [PORT]: Re-Anchorable Structures
  Content.Shared/Construction/Components/AnchorableComponent.cs
  Content.Shared/Construction/EntitySystems/AnchorableSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets/turrets_base.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/Entities/Structures/Doors/SecretDoor/secret_door.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/base_wallmount.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Prototypes/Entities/Structures/catwalk.yml
  Resources/Prototypes/Entities/Structures/cryopod.yml
  Resources/Prototypes/Entities/Structures/plastic_flaps.yml
  Resources/Prototypes/Entities/Structures/stairs.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1703 Stop Robotic Arms From Flickering Lights
  Content.Shared/_Goobstation/Factory/RoboticArmComponent.cs
  Content.Shared/_Goobstation/Factory/RoboticArmSystem.cs
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/robotic_arm.yml
  Resources/Prototypes/_Goobstation/Recipes/Crafting/filters.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1667 [PORT]: Ported Derelict Cyborgs From WizDen
  Content.Server/Silicons/Laws/IonStormSystem.cs
  Content.Server/Silicons/Laws/StartIonStormedSystem.cs
  Content.Shared/Silicons/Laws/Components/StartIonStormedComponent.cs
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/cyborg.yml
  Resources/Textures/Interface/Actions/actions_borg.rsi/meta.json
  Resources/Textures/Interface/Actions/actions_borg.rsi/syndicate-c20r-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/syndicate-desword-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/syndicate-esword-module.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/derelict.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/derelict_e.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/derelict_e_r.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/derelict_icon.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/derelict_l.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/engineer_derelict.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/engineer_derelict_crystal.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/janitor_derelict.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/janitor_moving_derelict.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/medical_derelict.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/medical_moving_derelict.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/meta.json
  Resources/Textures/Mobs/Silicon/chassis.rsi/miner_derelict.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/miner_moving_derelict.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/synd_sec_derelict.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/synd_sec_derelict_e.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/synd_sec_derelict_l.png
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Sprite, Status: Needs Review

#1694 [PORT]: Stun Animations and Predicted Stun System
  Content.Client/Damage/Systems/StaminaSystem.cs
  Content.Client/Stunnable/StunSystem.cs
  Content.Server/Damage/Systems/StaminaSystem.cs
  Content.Server/Ensnaring/EnsnareableSystem.Ensnaring.cs
  Content.Server/Ensnaring/EnsnareableSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Server/Shadowkin/EtherealStunItemSystem.cs
  Content.Server/Shadowkin/ShadowkinSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/_DV/Abilities/Kitsune/KitsuneFoxSystem.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.cs
  Content.Shared/Damage/Components/StaminaComponent.cs
  Content.Shared/Damage/Components/StaminaDamageOnEmbedComponent.cs
  Content.Shared/Damage/Components/StaminaModifierComponent.cs
  Content.Shared/Damage/Systems/SharedStaminaSystem.Modifier.cs
  Content.Shared/Damage/Systems/SharedStaminaSystem.cs
  Content.Shared/Ensnaring/SharedEnsnareableSystem.cs
  Content.Shared/Flight/SharedFlightSystem.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/Shadowkin/SharedEtherealSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.Visualizer.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/Stunnable/StunVisualsComponent.cs
  Content.Shared/Stunnable/StunnedComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.cs
  Content.Shared/_Goobstation/Stunnable/OvertimeStaminaDamageSystem.cs
  Content.Shared/_Goobstation/TableSlam/TableSlamSystem.cs
  Content.Shared/_White/Grab/GrabThrownSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Textures/Mobs/Effects/stunned.rsi/meta.json
  Resources/Textures/Mobs/Effects/stunned.rsi/stunned.png
Labels: Changes: YML, Changes: C#, Changes: Sprite, Status: Needs Review

#1705 Airlock Fix Manta
  Resources/Maps/TheDen/manta.yml
Labels: Changes: YML, Changes: Map

#1719 Cryptobiolin Duration Fix
  Resources/Prototypes/Reagents/medicine.yml
Labels: Changes: YML, Status: Maintainer Approved

#1691 The Smallest Glacier Fixes
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: YML, Changes: Map

#1751 Changes AAC to Prevent Vowed Mimes From Sending Messages
  Content.Server/_DV/AACTablet/AACTabletSystem.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1747 Plurality Flags
  Resources/Prototypes/_DEN/Entities/Structures/Wallmounts/Signs/flags.yml
  Resources/Textures/_DEN/Structures/Wallmounts/Flags/plurality_flag.rsi/flag_left.png
  Resources/Textures/_DEN/Structures/Wallmounts/Flags/plurality_flag.rsi/flag_right.png
  Resources/Textures/_DEN/Structures/Wallmounts/Flags/plurality_flag.rsi/meta.json
  Resources/Textures/_DEN/Structures/Wallmounts/Flags/plurality_interlock_flag.rsi/flag_left.png
  Resources/Textures/_DEN/Structures/Wallmounts/Flags/plurality_interlock_flag.rsi/flag_right.png
  Resources/Textures/_DEN/Structures/Wallmounts/Flags/plurality_interlock_flag.rsi/meta.json
Labels: Changes: YML, Changes: Sprite

#1741 Magistrate Loadout and Locker Additions
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/magistrate.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Command/magistrate.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_NF/Entities/Objects/Storage/weapon_cases.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#1748 [PORT] RPED Resprite
  Resources/Prototypes/Entities/Objects/Specific/Research/rped.yml
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/icon-unshaded.png
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/icon.png
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/inhand-left-unshaded.png
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/inhand-right-unshaded.png
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#1728 Fixing Flasks and Water Bottles
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks-cartons.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Drinks/drink_containers.yml
  Resources/Prototypes/_DEN/VASH/Entities/Objects/sexlube.yml
Labels: Changes: YML, Status: Needs Review

#1737 Less Lethal Leporazine for Littles
  Resources/Prototypes/Reagents/medicine.yml
Labels: Changes: YML, Status: Needs Review

#1723 Kinetic Claw and Machete Fixes
  Content.Shared/_Lavaland/Weapons/Block/SharedBlockChargeSystem.cs
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/crushers.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1756 Add Bluespace Lifeline to ERT Ghost Roles
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/implanters.yml
Labels: Changes: YML

#1739 Paperwork Belt for The Den
  Resources/Prototypes/Loadouts/Generic/belt.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/uniform_printer.yml
  Resources/Prototypes/_DV/Catalog/Fills/Items/Belts/belts.yml
  Resources/Prototypes/_DV/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_DV/Recipes/Lathes/clothing.yml
  Resources/Textures/_DV/Clothing/Belt/paperwork.rsi/equipped-BELT.png
  Resources/Textures/_DV/Clothing/Belt/paperwork.rsi/icon.png
  Resources/Textures/_DV/Clothing/Belt/paperwork.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Belt/paperwork.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Belt/paperwork.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#1712 Kitsune Mask
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/mask.yml
  Resources/Textures/_DEN/Clothing/Mask/kitsune_mask.rsi/equipped-MASK-chitinid.png
  Resources/Textures/_DEN/Clothing/Mask/kitsune_mask.rsi/equipped-MASK-feroxi.png
  Resources/Textures/_DEN/Clothing/Mask/kitsune_mask.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_DEN/Clothing/Mask/kitsune_mask.rsi/equipped-MASK-resomi.png
  Resources/Textures/_DEN/Clothing/Mask/kitsune_mask.rsi/equipped-MASK-shadowkin.png
  Resources/Textures/_DEN/Clothing/Mask/kitsune_mask.rsi/equipped-MASK-tajaran.png
  Resources/Textures/_DEN/Clothing/Mask/kitsune_mask.rsi/equipped-MASK-vox.png
  Resources/Textures/_DEN/Clothing/Mask/kitsune_mask.rsi/equipped-MASK-vulpakin.png
  Resources/Textures/_DEN/Clothing/Mask/kitsune_mask.rsi/equipped-MASK.png
  Resources/Textures/_DEN/Clothing/Mask/kitsune_mask.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Mask/kitsune_mask.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#1763 Pomegranate Description Tweak
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
Labels: Changes: YML, Status: Needs Review

#1770 Fixing the Explosive Pen so It Can Explode
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/pen.yml
Labels: Changes: YML, Status: Needs Review

#1765 The Underworld Arrives...
  Resources/Maps/_DEN/Nonstations/clubYNK.yml
Labels: Changes: YML, Changes: Map

#1776 Use User's Discord Role Color for OOC Name Color
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/_DEN/Discord/DiscordUserLink.Helpers.cs
Labels: Changes: YML, Changes: C#

#1775 Give Vox A Full Tank Option To Spawn WIth
  Resources/Prototypes/CharacterItemGroups/Generic/outerwearGroup.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/species.yml
Labels: Changes: YML, Status: Needs Review

#1769 Glowing Eye Markings
  Resources/Locale/en-US/_DEN/markings/eyes.ftl
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/eyes.yml
  Resources/Textures/_DEN/Mobs/Customization/Head/eyes.rsi/glowingeyel.png
  Resources/Textures/_DEN/Mobs/Customization/Head/eyes.rsi/glowingeyer.png
  Resources/Textures/_DEN/Mobs/Customization/Head/eyes.rsi/glowingeyes.png
  Resources/Textures/_DEN/Mobs/Customization/Head/eyes.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite

#1724 Lavaland Essentials for LO's Locker
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Question, Changes: YML

#1792 Paperwork Belt Tweaks - More Whitelisted Items
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/tape_recorder.yml
  Resources/Prototypes/_DV/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/tags.yml
Labels: Changes: YML, Status: Needs Review

#1799 FIX: Give Mothpeople Their Emotes
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
Labels: Changes: YML, Status: Needs Review

#1804 [PORT] Change Sec-Related Vend Lines
  Resources/Locale/en-US/advertisements/vending/ammo.ftl
  Resources/Locale/en-US/advertisements/vending/donut.ftl
  Resources/Locale/en-US/advertisements/vending/happyhonk.ftl
  Resources/Locale/en-US/advertisements/vending/secdrobe.ftl
  Resources/Locale/en-US/advertisements/vending/sectech.ftl
  Resources/Prototypes/Catalog/VendingMachines/Advertisements/secdrobe.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#1807 Update eyes.yml
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/eyes.yml
Labels: Changes: YML

#1796 Storable Species
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Back/back.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Species/canid.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Species/ovinia.yml
  Resources/Prototypes/_DEN/Entities/Mobs/base.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/feroxi.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/kitsune.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/lamia.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_EE/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
Labels: Changes: YML

#1708 Flatpacker Resprite and Visual Improvements
  Resources/Prototypes/Entities/Structures/Machines/flatpacker.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Textures/_DEN/Structures/Machines/flatpacker.rsi/base.png
  Resources/Textures/_DEN/Structures/Machines/flatpacker.rsi/inserting.png
  Resources/Textures/_DEN/Structures/Machines/flatpacker.rsi/meta.json
  Resources/Textures/_DEN/Structures/Machines/flatpacker.rsi/packing.png
  Resources/Textures/_DEN/Structures/Machines/flatpacker.rsi/packing_unlit.png
  Resources/Textures/_DEN/Structures/Machines/flatpacker.rsi/panel.png
  Resources/Textures/_DEN/Structures/Machines/flatpacker.rsi/screen.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#1802 Remove Forced Coloring From Shadowkin Tails on Other Species
  Resources/Locale/en-US/_DEN/markings/shadowkin.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/shadowkin.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#1794 The Underworld... Gets Updated
  Resources/Maps/_DEN/Nonstations/clubYNK.yml
Labels: Changes: YML, Changes: Map

#1812 Fix Small Trait
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML

#1810 Magic Glowsticks
  Resources/Prototypes/_DEN/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_DEN/Entities/Objects/Tools/glowstick.yml
Labels: Changes: YML, Status: Needs Review

#1814 New Blueshield Officer Gas Masks
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Textures/_DEN/Clothing/Mask/bsocombatgasmask.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_DEN/Clothing/Mask/bsocombatgasmask.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_DEN/Clothing/Mask/bsocombatgasmask.rsi/equipped-MASK.png
  Resources/Textures/_DEN/Clothing/Mask/bsocombatgasmask.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Mask/bsocombatgasmask.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Mask/bsocombatgasmask.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Mask/bsocombatgasmask.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Mask/bsoert.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_DEN/Clothing/Mask/bsoert.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_DEN/Clothing/Mask/bsoert.rsi/equipped-MASK.png
  Resources/Textures/_DEN/Clothing/Mask/bsoert.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Mask/bsoert.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Mask/bsoert.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Mask/bsoert.rsi/meta.json
Labels: Changes: YML, Changes: Sprite

#1818 Not Exclusive Whitelist Diet; Vox Regain Access to Old Food.
  Content.Server/Body/Components/StomachComponent.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Resources/Prototypes/Body/Organs/vox.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bagel.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donut.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/noodles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/tags.yml
Labels: Changes: YML, Changes: C#

#1808 Medical Loadout Items + Add Prescription Meds To Loadouts
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutItemButton.xaml.cs
  Content.Shared/Clothing/Loadouts/Prototypes/LoadoutPrototype.cs
  Resources/Locale/en-US/_DEN/loadouts/categories.ftl
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Locale/en-US/_DEN/mood/drugs.ftl
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/_CD/Reagents/medicine.yml
  Resources/Prototypes/_DEN/CharacterItemGroups/Loadouts/miscItems.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Medical/pills.yml
  Resources/Prototypes/_DEN/Loadouts/Categories/categories.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/Items/medicine.yml
  Resources/Prototypes/_DEN/Loadouts/accessibility.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Prototypes/_DEN/Mood/drugs.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI, Status: Needs Review

#1823 Adding Override for Emotes, Fixes pAI's Not Inheriting Plushie Names.
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review
