Repository TheDenSS14/TheDen, pull requests merged in 2025-01, with the labels that each got.

#116 Summer Security Uniform Sprite Fix
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/summer_security.rsi/equipped-INNERCLOTHING.png
Labels: Changes: YML, Changes: Sprite

#117 Added Captain's Combat Gas Mask
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/TheDen/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/TheDen/Loadouts/Jobs/Command/captain.yml
  Resources/Textures/TheDen/Clothing/Mask/gascaptaincombat.rsi/equipped-MASK-reptilian.png
  Resources/Textures/TheDen/Clothing/Mask/gascaptaincombat.rsi/equipped-MASK-vox.png
  Resources/Textures/TheDen/Clothing/Mask/gascaptaincombat.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/TheDen/Clothing/Mask/gascaptaincombat.rsi/equipped-MASK.png
  Resources/Textures/TheDen/Clothing/Mask/gascaptaincombat.rsi/icon.png
  Resources/Textures/TheDen/Clothing/Mask/gascaptaincombat.rsi/inhand-left.png
  Resources/Textures/TheDen/Clothing/Mask/gascaptaincombat.rsi/inhand-right.png
  Resources/Textures/TheDen/Clothing/Mask/gascaptaincombat.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#118 Decreased Chance to Turn Into Shrimp on Metem Cloning.
  Resources/Prototypes/Nyanotrasen/metempsychoticNonHumanoids.yml
Labels: Changes: YML

#119 Make All Trait Languages Visible
  Resources/Prototypes/Language/Species-Specific/diona.yml
  Resources/Prototypes/Language/Species-Specific/harpy.yml
  Resources/Prototypes/Language/Species-Specific/marish.yml
  Resources/Prototypes/Language/Species-Specific/moth.yml
  Resources/Prototypes/Language/Species-Specific/nekomimetic.yml
  Resources/Prototypes/Language/Species-Specific/slimeperson.yml
  Resources/Prototypes/Language/Species-Specific/vulpkanin.yml
  Resources/Prototypes/Language/Standard/elyran.yml
  Resources/Prototypes/Language/Standard/freespeak.yml
  Resources/Prototypes/Language/Standard/solcommon.yml
  Resources/Prototypes/Language/Standard/tradeband.yml
  Resources/Prototypes/Language/genericlanguages.yml
Labels: Changes: YML

#120 Disable Default Shadowkin Powers
  Content.Server/Shadowkin/ShadowkinSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
Labels: Changes: YML, Changes: C#

#122 Changelog Stuff
  Tools/actions_changelogs_since_last_run.py
Labels: Changes: YML

#121 Rename Namespace
  Content.Shared/Roles/StartingGearPrototype.cs
  Resources/Locale/en-US/_DEN/traits/misc.ftl
  Resources/Prototypes/_DEN/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_DEN/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/head.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/outerclothing.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/uniform.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/_DEN/Loadouts/groups.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Prototypes/_DEN/Loadouts/lewd.yml
  Resources/Prototypes/_DEN/Traits/languages.yml
  Resources/Textures/_DEN/Clothing/Head/Hats/featheredcap.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/featheredcap.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hats/featheredcap.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Head/Hats/featheredcap.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Head/Hats/featheredcap.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Mask/gascaptaincombat.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_DEN/Clothing/Mask/gascaptaincombat.rsi/equipped-MASK-vox.png
  Resources/Textures/_DEN/Clothing/Mask/gascaptaincombat.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_DEN/Clothing/Mask/gascaptaincombat.rsi/equipped-MASK.png
  Resources/Textures/_DEN/Clothing/Mask/gascaptaincombat.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Mask/gascaptaincombat.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Mask/gascaptaincombat.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Mask/gascaptaincombat.rsi/meta.json
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/cap_trenchcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/cap_trenchcoat.rsi/icon.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/cap_trenchcoat.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/cap_trenchcoat.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Coats/cap_trenchcoat.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/lederhosen.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/lederhosen.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/lederhosen.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/lederhosen.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/lederhosen.rsi/meta.json
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Sprite

#123 Update humanoid-character-profile.ftl
  Resources/Locale/en-US/preferences/humanoid-character-profile.ftl
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#126 More Leash Tweaks (#414)
  Content.Client/Floofstation/Leash/LeashVisualsOverlay.cs
  Content.Client/Floofstation/Leash/LeashVisualsSystem.cs
  Content.Shared/Floofstation/Leash/Components/LeashAnchorComponent.cs
  Content.Shared/Floofstation/Leash/Components/LeashComponent.cs
  Content.Shared/Floofstation/Leash/Components/LeashedVisualsComponent.cs
  Content.Shared/Floofstation/Leash/LeashSystem.cs
  Resources/Locale/en-US/Floof/verbs/verb-categories.ftl
  Resources/Locale/en-US/floofstation/leash/leash-verbs.ftl
  Resources/Migrations/floofmigration.yml
  Resources/Prototypes/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Floof/Catalog/Fills/Crates/lewd.yml
  Resources/Prototypes/Floof/Entities/Clothing/Neck/collars.yml
  Resources/Prototypes/Floof/Entities/Mobs/NPCs/scugcat.yml
  Resources/Prototypes/Floof/Entities/Objects/Tools/leash.yml
  Resources/Prototypes/Floof/Loadouts/items.yml
  Resources/Prototypes/Floof/Recipes/Lathes/tools.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/shock_collar.yml
  Resources/Textures/Floof/Interface/VerbIcons/resize.svg
  Resources/Textures/Floof/Interface/VerbIcons/resize.svg.192dpi.png
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review

#125 Added Fancy Fountain Pens for Other Department Heads.
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/paper.yml
  Resources/Textures/_DEN/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/_DEN/Objects/Misc/bureaucracy.rsi/pen_ce.png
  Resources/Textures/_DEN/Objects/Misc/bureaucracy.rsi/pen_hos.png
  Resources/Textures/_DEN/Objects/Misc/bureaucracy.rsi/pen_lo.png
  Resources/Textures/_DEN/Objects/Misc/bureaucracy.rsi/pen_rd.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#124 CMO Turtlenecks Loadout (Again)
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/chiefMedicalOfficer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/chiefMedicalOfficer.yml
Labels: Changes: YML, Status: Needs Review

#129 Tweaked Striking Calluses To Be Usable By Other Species
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML, Status: Needs Review

#131 Nudity Permit (#389)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Floof/CharacterItemGroups/uniformGroup.yml
  Resources/Prototypes/Floof/Entities/Clothing/Uniforms/misc.yml
  Resources/Prototypes/Floof/Loadouts/uniform.yml
  Resources/Textures/Floof/Clothing/Uniforms/loincloth.rsi/icon.png
  Resources/Textures/Floof/Clothing/Uniforms/nuditypermit.rsi/icon.png
  Resources/Textures/Floof/Clothing/Uniforms/nuditypermit.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#132 Fix: Server Now Reads Request Grid Rather than Location Grid
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#133 Added the Argenti, Gestio, Novalite, SVT, and Harpoon to the Salvage Vend
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/salvage_points.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Textures/_DEN/Objects/Weapons/Melee/harpoon.rsi/equipped-BACKPACK.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/harpoon.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/harpoon.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/harpoon.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/harpoon.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Melee/harpoon.rsi/spear.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/harpoon.rsi/spear1.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/harpoon.rsi/wielded-inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/harpoon.rsi/wielded-inhand-right.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#135 Added Argenti to the Security Loadout.
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/heavy_rifle.yml
Labels: Changes: YML, Status: Needs Review

#134 Cargo Shuttle Fixed
  Resources/Maps/Shuttles/cargo.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#137 Added the Chief Engineer Turtlenecks to the Loadout
  Resources/Prototypes/Loadouts/Jobs/Engineering/chiefEngineer.yml
Labels: Changes: YML, Status: Needs Review

#139 Bugfixes
  Content.Client/Effects/ColorFlashEffectSystem.cs
  Content.Server/Carrying/CarryingSystem.cs
  Content.Server/FootPrint/PuddleFootPrintsSystem.cs
  Content.Server/Instruments/InstrumentSystem.cs
  Content.Server/Nyanotrasen/Kitchen/EntitySystems/DeepFryerSystem.Storage.cs
  Content.Server/Nyanotrasen/Kitchen/EntitySystems/DeepFryerSystem.cs
  Content.Shared/Floofstation/Leash/LeashSystem.cs
  Content.Shared/Footprint/FootPrintsComponent.cs
  Content.Shared/Footprint/PuddleFootPrintsComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Tools/Systems/SharedToolSystem.Welder.cs
  Resources/Locale/en-US/floofstation/leash/leash.ftl
  Resources/Prototypes/Entities/Objects/Decoration/ashtray.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#140 Add Shackles
  Resources/Prototypes/Floof/CharacterItemGroups/outerGroup.yml
  Resources/Prototypes/Floof/Entities/Clothing/OuterClothing/MiscOuterwear.yml
  Resources/Prototypes/Floof/Loadouts/outerClothing.yml
  Resources/Textures/Floof/Clothing/OuterClothing/Misc/shackles.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Floof/Clothing/OuterClothing/Misc/shackles.rsi/icon.png
  Resources/Textures/Floof/Clothing/OuterClothing/Misc/shackles.rsi/meta.json
Labels: Changes: YML, Changes: Sprite

#141 Gave Lizards NT Branded Hair Growth Serum
  Resources/Prototypes/Species/reptilian.yml
Labels: Changes: YML, Status: Needs Review

#143 Salvage Argenti Fix
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
Labels: Changes: YML, Status: Needs Review

#142 Fix some Species Not Leaving Footprints (#426)
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: YML, Status: Needs Review

#144 Fixed Lightweight Trait, Added Heavyweight Trait
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Prototypes/Floof/Traits/physical.yml
  Resources/Prototypes/_DEN/Traits/physical.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#145 Blukie Suit Resprite (#2393)
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/DeltaV/Clothing/Head/ReverseEngineering/juggernaut.rsi/equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/ReverseEngineering/juggernaut.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Head/ReverseEngineering/juggernaut.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Head/ReverseEngineering/syndicate.rsi/combat-equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/ReverseEngineering/syndicate.rsi/icon-flash.png
  Resources/Textures/DeltaV/Clothing/Head/ReverseEngineering/syndicate.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Head/ReverseEngineering/syndicate.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Head/ReverseEngineering/syndicate.rsi/off-equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/ReverseEngineering/syndicate.rsi/on-equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/OuterClothing/ReverseEngineering/syndicate.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/ReverseEngineering/syndicate.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/ReverseEngineering/syndicate.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/ReverseEngineering/syndicate.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/ReverseEngineering/syndicate.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#146 Research Digiboard (#2508)
  Resources/Locale/en-US/deltav/objectives/conditions/steal-target-groups.ftl
  Resources/Locale/en-US/deltav/research/rd-clipboard.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/DeltaV/Objectives/stealTargetGroups.yml
  Resources/Prototypes/DeltaV/Objectives/traitor.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Textures/DeltaV/Objects/Misc/rd_clipboard.rsi/equipped-BELT.png
  Resources/Textures/DeltaV/Objects/Misc/rd_clipboard.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Misc/rd_clipboard.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Misc/rd_clipboard.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Misc/rd_clipboard.rsi/rd_clipboard.png
  Resources/Textures/DeltaV/Objects/Misc/rd_clipboard.rsi/rd_clipboard_over.png
  Resources/Textures/DeltaV/Objects/Misc/rd_clipboard.rsi/rd_clipboard_paper.png
  Resources/Textures/DeltaV/Objects/Misc/rd_clipboard.rsi/rd_clipboard_pen.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#149 Weight Traits Tweaks
  Resources/Prototypes/Floof/Traits/physical.yml
  Resources/Prototypes/_DEN/Traits/physical.yml
Labels: Changes: YML, Status: Needs Review

#152 Switch to EE Maps
  Resources/Prototypes/Maps/arena.yml
  Resources/Prototypes/Maps/asterisk.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/edge.yml
  Resources/Prototypes/Maps/gaxstation.yml
  Resources/Prototypes/Maps/glacier.yml
  Resources/Prototypes/Maps/hammurabi.yml
  Resources/Prototypes/Maps/hive.yml
  Resources/Prototypes/Maps/lighthouse.yml
  Resources/Prototypes/Maps/pebble.yml
  Resources/Prototypes/Maps/radstation.yml
  Resources/Prototypes/Maps/shoukou.yml
  Resources/Prototypes/Maps/tortuga.yml
Labels: Changes: YML, Changes: Map

#130 Pebble Violet Edition
  Resources/Maps/TheDen/pebble.yml
  Resources/Prototypes/Maps/pebble.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#159 Subtle Privacy + Fixes
  Content.Client/Crayon/UI/CrayonBoundUserInterface.cs
  Content.Client/Crayon/UI/CrayonWindow.xaml
  Content.Client/Crayon/UI/CrayonWindow.xaml.cs
  Content.Client/Holopad/HolopadWindow.xaml
  Content.Client/Holopad/HolopadWindow.xaml.cs
  Content.Client/Mech/Ui/MechMenu.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/Wires/UI/WiresMenu.cs
  Content.Server/Access/LogWireAction.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Crayon/CrayonSystem.cs
  Content.Server/Holopad/HolopadSystem.cs
  Content.Server/Lock/EntitySystems/ActivatableUIRequiresLockSystem.cs
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
  Content.Server/Silicons/Borgs/BorgSystem.cs
  Content.Server/Silicons/StationAi/StationAiSystem.cs
  Content.Server/Spawners/EntitySystems/ContainerSpawnPointSystem.cs
  Content.Server/Telephone/TelephoneSystem.cs
  Content.Server/Wires/WiresSystem.cs
  Content.Shared/Access/SharedAccessWire.cs
  Content.Shared/Bed/Cryostorage/CanEnterCryostorageComponent.cs
  Content.Shared/Bed/Cryostorage/SharedCryostorageSystem.cs
  Content.Shared/Crayon/SharedCrayonComponent.cs
  Content.Shared/Intellicard/Components/IntellicardComponent.cs
  Content.Shared/InteractionVerbs/SharedInteractionVerbsSystem.cs
  Content.Shared/Lock/ActivatableUIRequiresLockComponent.cs
  Content.Shared/Lock/LockSystem.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.Airlock.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.Held.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Content.Shared/Telephone/SharedTelephoneSystem.cs
  Content.Shared/Telephone/TelephoneComponent.cs
  Content.Shared/Wires/ActivatableUIRequiresPanelComponent.cs
  Content.Shared/Wires/SharedWiresSystem.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/components/base-computer-ui-component.ftl
  Resources/Locale/en-US/crayon/crayon-component.ftl
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
  Resources/Locale/en-US/holopad/holopad.ftl
  Resources/Locale/en-US/intellicard/intellicard.ftl
  Resources/Locale/en-US/silicons/station-ai.ftl
  Resources/Locale/en-US/telephone/telephone.ftl
  Resources/Locale/en-US/wires/components/wires-component.ftl
  Resources/Prototypes/Decals/crayons.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Masks/specific.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Fun/crayons.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mecha_equipment.yml
  Resources/Prototypes/Entities/Structures/Machines/holopad.yml
  Resources/Prototypes/Nyanotrasen/Entities/Body/Parts/spider.yml
  Resources/Prototypes/Nyanotrasen/Entities/Body/Prototypes/arachne.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI

#162 Pebble Violet V2
  Resources/Maps/TheDen/pebble.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#161 Small Fixes and Rat King AI Tweak
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML, Status: Needs Review

#166 Hypnotic Gaze Accessible to Mantis and 0 Point Cost
  Resources/Prototypes/Floof/Traits/mental.yml
Labels: Changes: YML

#164 Added More Gambling Rewards to the Lottery Crates
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/_DEN/Traits/physical.yml
Labels: Changes: YML

#167 ChemMaster Plus
  Content.Client/Chemistry/UI/ChemMasterBoundUserInterface.cs
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Server/Chemistry/Components/ChemMasterComponent.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Shared/Chemistry/SharedChemMaster.cs
  Resources/Locale/en-US/chemistry/components/chem-master-component.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI

#171 Alice Plushie Soundbox
  Resources/Audio/Items/alice1.ogg
  Resources/Audio/Items/alice3.ogg
  Resources/Audio/Items/tabieep.ogg
  Resources/Audio/Items/tabieep2.ogg
  Resources/Audio/Items/tabiwaow.ogg
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/tabiplushie.png
Labels: Changes: YML, Changes: Audio, Changes: Sprite, Status: Needs Review

#170 Tabiplushie
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Changes: YML, Changes: Audio, Changes: Sprite, Status: Needs Review

#168 Added Senior Trooper Uniform
  Resources/Prototypes/_DEN/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Textures/_DEN/Clothing/Head/Hats/seniortrooperhat.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/seniortrooperhat.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hats/seniortrooperhat.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Head/Hats/seniortrooperhat.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Head/Hats/seniortrooperhat.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/seniortrooper.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/seniortrooper.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/seniortrooper.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/seniortrooper.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/seniortrooper.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#174 Cargo and Catalog Fills Tweaks and Loadout Groups FIxes
  Resources/Locale/en-US/Floof/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/Floof/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/floofstation/drinks.ftl
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cola.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/gib.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/pwrgame.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/shamblersjuice.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/soda.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sovietsoda.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/spaceup.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/starkist.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/chiefEngineer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Logistics/cargoTechnician.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Logistics/logisticsOfficer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Floof/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Floof/Flavors/flavors.yml
  Resources/Prototypes/Floof/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Floof/Reagents/Drinks/drinks.yml
  Resources/Prototypes/Floof/Recipes/Reactions/drinks.yml
  Resources/Prototypes/Loadouts/Jobs/Logistics/cargoTechnician.yml
  Resources/Prototypes/_CD/Loadouts/Jobs/Cargo/cargoTechnician.yml
Labels: Changes: YML, Changes: Localization

#177 Plushie Changes
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Changes: YML, Status: Needs Review

#180 democracy doesn't work
  Resources/Prototypes/Maps/arena.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/edge.yml
  Resources/Prototypes/Maps/europa.yml
  Resources/Prototypes/Maps/gaxstation.yml
  Resources/Prototypes/Maps/glacier.yml
  Resources/Prototypes/Maps/hammurabi.yml
  Resources/Prototypes/Maps/hive.yml
  Resources/Prototypes/Maps/lighthouse.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/radstation.yml
  Resources/Prototypes/Maps/submarine.yml
  Resources/Prototypes/Maps/tortuga.yml
Labels: Changes: YML, Changes: Map

#179 Plushie Tweaks, the Squeakuel
  Resources/Audio/Items/tabieep2.ogg
  Resources/Audio/Items/tabiwaow.ogg
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Changes: YML, Changes: Audio

#181 Name/Pronoun Customization+
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/CCVar/CCVars.Customize.cs
  Resources/Locale/en-US/character-appearance/components/humanoid-appearance-component.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI

#184 Clarke Drills Quick Tweaks
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/Weapons/Melee/industrial.yml
Labels: Changes: YML

#183 Default Mime Mask to Loadouts
  Resources/Prototypes/_DEN/Loadouts/items.yml
Labels: Changes: YML, Status: Needs Review

#186 Adds Multi-Step Sound Effect to Spiders/Arachne
  Resources/Audio/Effects/Footsteps/spiderstep1.ogg
  Resources/Audio/Effects/Footsteps/spiderstep2.ogg
  Resources/Audio/Effects/Footsteps/spiderstep3.ogg
  Resources/Audio/Effects/Footsteps/spiderstep4.ogg
  Resources/Audio/Effects/Footsteps/spiderstep5.ogg
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/_DEN/SoundCollections/footsteps.yml
Labels: Changes: YML, Changes: Audio, Status: Needs Review

#185 Baikal Station TEST NOT REAL
  Resources/Maps/TheDen/baikal.yml
  Resources/Prototypes/Maps/baikal.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review, DO NOT MERGE

#187 Soul-Shatter
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Lockers/epistemics.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Textures/_DEN/Objects/Weapons/Guns/Shotguns/soulshatter.rsi/bolt-open.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Shotguns/soulshatter.rsi/equipped-BACKPACK.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Shotguns/soulshatter.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Shotguns/soulshatter.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Shotguns/soulshatter.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Shotguns/soulshatter.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Shotguns/soulshatter.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#188 Sharks Go RAWR! (#31142)
  Resources/Audio/Items/Toys/attributions.yml
  Resources/Audio/Items/Toys/rawr.ogg
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Changes: YML, Changes: Audio, Status: Needs Review

#190 Energy Revolver Loadout Tweaks
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
Labels: Changes: YML

#191 Baikal: Add Psych Role + Code Fixes
  Resources/Maps/TheDen/baikal.yml
  Resources/Prototypes/Maps/baikal.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#192 Fix Infinite Save
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: YML, Changes: C#, Changes: UI

#194 Added Combat Helmet and Mask for Security
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Textures/_DEN/Clothing/Head/Helmets/securitycombathelmet.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Helmets/securitycombathelmet.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Helmets/securitycombathelmet.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Head/Helmets/securitycombathelmet.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Head/Helmets/securitycombathelmet.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Mask/securitycombatgasmask.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_DEN/Clothing/Mask/securitycombatgasmask.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_DEN/Clothing/Mask/securitycombatgasmask.rsi/equipped-MASK.png
  Resources/Textures/_DEN/Clothing/Mask/securitycombatgasmask.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Mask/securitycombatgasmask.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Mask/securitycombatgasmask.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Mask/securitycombatgasmask.rsi/meta.json
Labels: Changes: YML, Changes: Sprite

#195 Jenn Plush (Testing Purposes Only)
  Resources/Audio/Items/jennplushthrow1.ogg
  Resources/Audio/Items/jennplushthrow2.ogg
  Resources/Audio/Items/jennplushuse1.ogg
  Resources/Audio/Items/jennplushuse2.ogg
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Textures/Objects/Fun/toys.rsi/jennplush.png
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
Labels: Changes: YML, Changes: Audio, Changes: Sprite

#197 Plushie Audio Fixes
  Resources/Audio/Items/Toys/Plushie/PlushieAlice/alice1.ogg
  Resources/Audio/Items/Toys/Plushie/PlushieAlice/alice3.ogg
  Resources/Audio/Items/Toys/Plushie/PlushieJenn/jennplushthrow1.ogg
  Resources/Audio/Items/Toys/Plushie/PlushieJenn/jennplushthrow2.ogg
  Resources/Audio/Items/Toys/Plushie/PlushieJenn/jennplushuse1.ogg
  Resources/Audio/Items/Toys/Plushie/PlushieJenn/jennplushuse2.ogg
  Resources/Audio/Items/Toys/Plushie/PlushieTabi/tabieep.ogg
  Resources/Audio/Items/Toys/Plushie/PlushieTabi/tabieep2.ogg
  Resources/Audio/Items/Toys/Plushie/PlushieTabi/tabiwaow.ogg
  Resources/Audio/Items/Toys/Plushie/PlushieVega/vegaheyy.ogg
  Resources/Audio/Items/Toys/Plushie/PlushieVega/vegawoag.ogg
  Resources/Audio/Items/jennplushthrow1.ogg
  Resources/Audio/Items/jennplushuse1.ogg
  Resources/Audio/Items/jennplushuse2.ogg
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Changes: YML, Changes: Audio, Status: Needs Review

#199 Jenn Plushie: Public Use Edition
  Resources/Audio/Items/Toys/Plushie/PlushieJenn/jennplushthrow.ogg
  Resources/Audio/Items/Toys/Plushie/PlushieJenn/jennplushthrow1.ogg
  Resources/Audio/Items/Toys/Plushie/PlushieJenn/jennplushthrow2.ogg
  Resources/Audio/Items/Toys/Plushie/PlushieJenn/jennplushuse.ogg
  Resources/Audio/Items/Toys/Plushie/PlushieJenn/jennplushuse1.ogg
  Resources/Audio/Items/Toys/Plushie/PlushieJenn/jennplushuse2.ogg
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
Labels: Changes: YML, Changes: Audio, Status: Needs Review

#202 Owl Hooting for Harpies
  Resources/Audio/Effects/Emotes/harpyHoot1.ogg
  Resources/Audio/Effects/Emotes/harpyHoot2.ogg
  Resources/Audio/Effects/Emotes/harpyHoot3.ogg
  Resources/Audio/Effects/Emotes/harpyHoot4.ogg
  Resources/Locale/en-US/chat/emotes.ftl
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
  Resources/Prototypes/SoundCollections/harpy.yml
Labels: Changes: YML, Changes: Localization, Changes: Audio, Status: Needs Review

#204 The Fixes
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Shared/Humanoid/Markings/MarkingManager.cs
  Content.Shared/Humanoid/Markings/MarkingPrototype.cs
  Content.Shared/Humanoid/Markings/MarkingsSet.cs
  Resources/Prototypes/DeltaV/Body/Organs/chitinid.yml
  Resources/Prototypes/DeltaV/Body/Prototypes/chitinid.yml
  Resources/Prototypes/DeltaV/Damage/modifier_sets.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/chitinid.yml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Chitinid.xml
Labels: Changes: YML, Changes: C#, Changes: Documentation, Changes: UI

#206 randomhumanoid
  Content.Shared/Species/Systems/ReformSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/diona.yml
Labels: Changes: YML, Changes: C#

#205 Arachne Silk Production Factory
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
Labels: Changes: YML, Status: Needs Review

#207 EE Merge to Fix ChemMaster Demonic Possession + Shadowkin
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Server/Abilities/Psionics/Abilities/DarkSwapSystem.cs
  Content.Server/Shadowkin/ShadowkinSystem.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/_EE/chat/chat-language.ftl
  Resources/Locale/en-US/language/languages.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Body/Organs/shadowkin.yml
  Resources/Prototypes/Body/Prototypes/shadowkin.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Datasets/Names/shadowkin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/earrings.yml
  Resources/Prototypes/Entities/Mobs/Player/shadowkin.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Language/Species-Specific/marish.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Species/shadowkin.yml
  Resources/Prototypes/Traits/mental.yml
  Resources/Prototypes/Traits/species.yml
  Resources/Prototypes/_EE/Entities/Mobs/Species/tajaran.yml
  Resources/ServerInfo/Guidebook/Mobs/Shadowkin.xml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
  Resources/ServerInfo/Guidebook/Mobs/Tajaran.xml
  Resources/ServerInfo/Guidebook/Mobs/shadowkin.Lore.txt
  Resources/Textures/Mobs/Species/Shadowkin/parts.rsi/full.png
  Resources/Textures/Mobs/Species/Shadowkin/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Shadowkin/parts.rsi/head_m.png
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Documentation, Changes: Sprite, Changes: UI

#208 Trait Fixes and Station Destruction Risks Removal
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Floof/Traits/mental.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
Labels: Changes: YML, Status: Needs Review

#210 Blueshield Rescue Axe
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/rescueaxe.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
  Resources/Textures/_DEN/Objects/Weapons/Melee/blueshieldaxe.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/blueshieldaxe.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/blueshieldaxe.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/blueshieldaxe.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#213 Nicotine Addiction Tweak
  Resources/Locale/en-US/mood/mood.ftl
  Resources/Prototypes/Mood/drugs.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#214 Baikal Station - Firelocks and Fun Update
  Resources/Maps/TheDen/baikal.yml
Labels: Changes: YML, Changes: Map
