Repository TheDenSS14/TheDen, pull requests merged in 2025-05, with the labels that each got.

#495 Veterinary Cone
  Resources/Prototypes/CharacterItemGroups/Generic/neckGroup.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/neck.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/medical.yml
  Resources/Textures/_DEN/Clothing/Neck/Misc/vet-cone.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/vet-cone.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/vet-cone.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/vet-cone.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/vet-cone.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#497 Loadout and Printer Towels
  Resources/Locale/en-US/_DEN/lathe/lathe-categories.ftl
  Resources/Locale/en-US/_DEN/loadouts/categories.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/_DEN/Loadouts/Categories/categories.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Command/magistrate.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Command/nanorep.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Command/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Engineering/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Epistemics/cataloguer.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Epistemics/chaplain.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Epistemics/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Logistics/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Misc/prisoner.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/clown.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/lawyer.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/mime.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/categories.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/clothing.yml
Labels: Changes: YML, Changes: Localization

#498 Revert "Cyber Eye Changes (#1876)"
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#499 Mop Damage Tweaks
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: Changes: YML, Status: Needs Review

#500 Lizard Marking Localization Fixes
  Resources/Locale/en-US/_white/markings/reptilian.ftl
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#501 Random Drink Spawn Pool Removals
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_glass.yml
Labels: Changes: YML, Status: Needs Review

#496 Armor and Weapon Tweaks
  Resources/Locale/en-US/_white/markings/reptilian.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/_EE/Entities/Objects/Weapons/Melee/terminus.yml
  Resources/Textures/Objects/Weapons/Guns/Launchers/rocket.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/rocket.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite

#502 Psychomatic Hotfix
  Resources/Prototypes/Language/genericlanguages.yml
Labels: Changes: YML, Changes: Localization

#504 Cowbell Collars
  Resources/Audio/_DEN/cowbell-ring1.ogg
  Resources/Audio/_DEN/cowbell-ring2.ogg
  Resources/Audio/_DEN/cowbell-ring3.ogg
  Resources/Audio/_DEN/cowbell-ring4.ogg
  Resources/Prototypes/_DEN/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_DEN/SoundCollections/cowbell.yml
  Resources/Textures/_DEN/Clothing/Neck/Misc/cowbellcollar.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/cowbellcollar.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/cowbellcollar.rsi/meta.json
Labels: Changes: YML, Changes: Audio, Changes: Sprite, Status: Needs Review

#505 Cowbell Loadout and Noise Tweak
  Resources/Audio/_DEN/cowbell-ring1.ogg
  Resources/Audio/_DEN/cowbell-ring2.ogg
  Resources/Audio/_DEN/cowbell-ring3.ogg
  Resources/Audio/_DEN/cowbell-ring4.ogg
  Resources/Prototypes/Floof/CharacterItemGroups/neckGroup.yml
  Resources/Prototypes/Loadouts/Generic/neck.yml
Labels: Changes: YML, Changes: Audio, Status: Needs Review

#508 Rodentia, Chitinid, FastMetabolism Hunger Fix
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/chitinid.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/_DEN/Traits/disabilities.yml
Labels: Changes: YML

#509 Quick Tweaks and Missing Stuff
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/identification_cards.yml
  Resources/Textures/Objects/Misc/id_cards.rsi/blueshieldofficer.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#510 Renault Ate More Telecrystals
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
Labels: Changes: YML, Status: Needs Review

#511 Potential Pill Test Error Fix
  Resources/Prototypes/_DEN/VASH/Entities/Objects/pills.yml
  Resources/Textures/_DEN/VASH/Objects/pills.rsi/meta.json
  Resources/Textures/_DEN/VASH/Objects/pills.rsi/pill1.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#514 Rose, Jasmine and a Bouquet
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Fun/rose_jasmine.yml
  Resources/Textures/Objects/Fun/Bouquets/rose_jasmine.rsi/icon.png
  Resources/Textures/Objects/Fun/Bouquets/rose_jasmine.rsi/inhand-left.png
  Resources/Textures/Objects/Fun/Bouquets/rose_jasmine.rsi/inhand-right.png
  Resources/Textures/Objects/Fun/Bouquets/rose_jasmine.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/jasmine.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/jasmine.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/red_rose.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/red_rose.rsi/produce.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#516 Fix Rodentia Underwear Layering
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/rodentia.yml
Labels: Changes: YML, Status: Needs Review

#506 Cherrypick: Message Highlights (DeltaV#2990)
  Content.Client/CharacterInfo/CharacterInfoSystem.cs
  Content.Client/Options/UI/OptionsMenu.xaml
  Content.Client/Options/UI/OptionsMenu.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/_DEN/Options/UI/Tabs/ExtraTab.xaml
  Content.Client/_DEN/Options/UI/Tabs/ExtraTab.xaml.cs
  Content.Client/_DV/UserInterfaces/Systems/Chat/ChatUIController.cs
  Content.Client/_DV/UserInterfaces/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Content.Client/_DV/UserInterfaces/Systems/Chat/Controls/Widgets/ChatBox.xaml.cs
  Content.Shared/_DV/CCVars/DCCVars.cs
  Resources/Locale/en-US/_DEN/escape-menu/options-menu.ftl
  Resources/Locale/en-US/_DV/chat/highlights.ftl
  Resources/Locale/en-US/_DV/chat/ui/chat-box.ftl
  Resources/Prototypes/_DV/Catalog/Chat/highlights.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI, Status: Needs Review

#518 Spider Tweaks
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: YML, Status: Needs Review

#519 Golden Ring Colour-Customisable.
  Resources/Prototypes/Loadouts/Generic/hands.yml
Labels: Changes: YML, Status: Needs Review

#520 Bouquet Sprite Fix
  Resources/Textures/Objects/Fun/Bouquets/rose_jasmine.rsi/inhand-left.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#521 Remove Nicotine Moodlet Spam
  Resources/Prototypes/Reagents/narcotics.yml
Labels: Changes: YML, Status: Needs Review

#522 Tastes Like.... Green.
  Resources/Locale/en-US/deltav/flavors/flavor-profiles.ftl
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#524 Crusher Axe and Glaive Tweaks
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
Labels: Changes: YML, Status: Needs Review

#525 René Magritte Paintings
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/paintings.yml
  Resources/Textures/_DEN/Structures/Wallmounts/paintings.rsi/meta.json
  Resources/Textures/_DEN/Structures/Wallmounts/paintings.rsi/painting0.png
  Resources/Textures/_DEN/Structures/Wallmounts/paintings.rsi/painting1.png
  Resources/Textures/_DEN/Structures/Wallmounts/paintings.rsi/painting2.png
  Resources/Textures/_DEN/Structures/Wallmounts/paintings.rsi/painting3.png
Labels: Changes: YML, Changes: Sprite

#526 The Loadout and Markings UI Fix
  Content.Client/Humanoid/MarkingPicker.xaml
  Content.Client/Humanoid/MarkingPicker.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/LoadoutPreferenceSelector.xaml.cs
  Content.Client/Lobby/UI/RequirementsSelector.xaml
  Content.Client/Lobby/UI/TraitPreferenceSelector.xaml.cs
  Content.Client/UserInterface/Controls/AlternatingBGContainer.xaml
  Content.Client/UserInterface/Controls/AlternatingBGContainer.xaml.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Logic.cs
  Content.Shared/Humanoid/Markings/MarkingPrototype.cs
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/en-US/preferences/ui/markings-picker.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI

#527 Loadout Jaunters
  Resources/Locale/en-US/loadouts/jobs/cargo.ftl
  Resources/Prototypes/_DEN/Loadouts/Jobs/Logistics/salvageSpecialist.yml
Labels: Changes: YML, Changes: Localization

#530 Detail Examine Range Constraint Removal
  Content.Server/DetailExaminable/DetailExaminableystem.cs
Labels: Changes: YML, Changes: C#

#529 Raisins Now Contain Raisins
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
Labels: Changes: YML, Status: Needs Review

#531 Add Le Funi Paintinges to the Painting Spawner
  Resources/Prototypes/Entities/Markers/Spawners/Random/paintings.yml
Labels: Changes: YML, Status: Needs Review

#537 Directional Ghost Construction Not Working as Intended
  Content.Server/Construction/Completions/SnapToGrid.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#534 IPC "Visor Eyes" Marking
  Resources/Locale/en-US/_DEN/markings/ipc_screens.ftl
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/ipc_screens.yml
  Resources/Textures/_DEN/Mobs/Customization/Face/ipc_screen_visors.rsi/ipc_screen_visor_background.png
  Resources/Textures/_DEN/Mobs/Customization/Face/ipc_screen_visors.rsi/ipc_screen_visor_eyes.png
  Resources/Textures/_DEN/Mobs/Customization/Face/ipc_screen_visors.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Face/ipc_screens.rsi/ipc_screen_covering.png
  Resources/Textures/_DEN/Mobs/Customization/Face/ipc_screens.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#513 Asterisk/Shoko Fixes
  Resources/Maps/TheDen/asterisk.yml
  Resources/Maps/TheDen/shoukou.yml
Labels: Changes: YML, Changes: Map

#532 Security Sawn Off
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/uncategorized.yml
Labels: Changes: YML, Status: Needs Review

#533 Engineering Stuff
  Content.Shared/Clothing/ClothingSpeedModifierComponent.cs
  Content.Shared/Clothing/ClothingSpeedModifierSystem.cs
  Content.Shared/Clothing/MagbootsComponent.cs
  Content.Shared/Clothing/MagbootsSystem.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Loadouts/Generic/species.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/_EE/Entities/Clothing/Neck/magmantles.yml
  Resources/Prototypes/_EE/Entities/Clothing/SolAlliance/SAN/Modsuits/CSA-85x.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Shoes/modsuit.yml
  Resources/Textures/Clothing/OuterClothing/Vests/hazard.rsi/equipped-OUTERCLOTHING-unshaded-vox.png
  Resources/Textures/Clothing/OuterClothing/Vests/hazard.rsi/equipped-OUTERCLOTHING-unshaded.png
  Resources/Textures/Clothing/OuterClothing/Vests/hazard.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Vests/hazard.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Vests/hazard.rsi/icon-unshaded.png
  Resources/Textures/Clothing/OuterClothing/Vests/hazard.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Vests/hazard.rsi/meta.json
  Resources/Textures/_EE/Clothing/Neck/Mantles/magmantle.rsi/equipped-NECK.png
  Resources/Textures/_EE/Clothing/Neck/Mantles/magmantle.rsi/icon-on.png
  Resources/Textures/_EE/Clothing/Neck/Mantles/magmantle.rsi/icon.png
  Resources/Textures/_EE/Clothing/Neck/Mantles/magmantle.rsi/meta.json
  Resources/Textures/_EE/Clothing/Neck/Mantles/magmantle.rsi/on-equipped-NECK.png
Labels: Changes: YML, Changes: C#, Changes: Sprite

#539 Corpsman Jumpsuit/Skirt Rollability
  Resources/Locale/en-US/foldable/components/foldable-component.ftl
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/brigmedic.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/brigmedic.rsi/rolled-equipped-INNERCLOTHING.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#546 Glimmer Tier Calculation Fixed
  Content.Shared/Psionics/Glimmer/GlimmerSystem.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#548 Introduction to Stinky Steve's Space Weed Emporium
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cigs.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Smokables/Cigarettes/packs.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Textures/_DEN/Objects/Consumable/Smokables/Cigarettes/Packs/stinkyjoints.rsi/closed.png
  Resources/Textures/_DEN/Objects/Consumable/Smokables/Cigarettes/Packs/stinkyjoints.rsi/equipped-BELT.png
  Resources/Textures/_DEN/Objects/Consumable/Smokables/Cigarettes/Packs/stinkyjoints.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Consumable/Smokables/Cigarettes/Packs/stinkyjoints.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Consumable/Smokables/Cigarettes/Packs/stinkyjoints.rsi/meta.json
  Resources/Textures/_DEN/Objects/Consumable/Smokables/Cigarettes/Packs/stinkyjoints.rsi/open.png
  Resources/Textures/_DEN/Objects/Consumable/Smokables/Cigarettes/Packs/stinkyjoints.rsi/trash.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#544 Machete Fix+Shadowkin Telepathy Fix when Chaplin
  Content.Server/Abilities/Psionics/PsionicAbilitiesSystem.Functions.cs
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/crushers.yml
Labels: Changes: YML, Changes: C#

#551 Ovinia Traits Restrict
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: YML, Status: Needs Review

#540 Ovinia Tweaks
  Resources/Prototypes/_DEN/Entities/Mobs/Species/ovinia.yml
  Resources/Prototypes/_DEN/Species/Ovinia.yml
Labels: Changes: YML, Status: Needs Review

#552 Bug Smart Equip Return Pos
  Content.Shared/Interaction/SmartEquipSystem.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#554 Mailing Unit UI Fix + Clear Target on Send (#831)
  Content.Client/Disposal/Systems/DisposalUnitSystem.cs
  Content.Client/Disposal/UI/MailingUnitWindow.xaml.cs
  Content.Server/Disposal/Mailing/MailingUnitSystem.cs
Labels: Changes: YML, Changes: C#, Changes: UI

#558 Emergency Comfort Deployment Unit
  Resources/Prototypes/_DEN/Entities/Structures/furniture/pillows.yml
  Resources/Prototypes/_DEN/Recipes/Construction/Graphs/Furniture/pillows.yml
  Resources/Prototypes/_DEN/Recipes/Construction/pillows.yml
  Resources/Textures/_DEN/Structures/Furniture/pillows.rsi/EmergencyComfortDeploymentUnitUnwrapped.png
  Resources/Textures/_DEN/Structures/Furniture/pillows.rsi/EmergencyComfortDeploymentUnitWrapped.png
  Resources/Textures/_DEN/Structures/Furniture/pillows.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#550 HOPEFULLY Fixes Drug Withdrawal Spam Bug
  Content.Server/Mood/MoodComponent.cs
  Content.Server/Mood/MoodSystem.cs
  Resources/Prototypes/Reagents/narcotics.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#555 Fixed Antag Selection Unit Tests & More
  Content.IntegrationTests/Tests/Minds/MindTest.DeleteAllThenGhost.cs
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#553 Made Wall Lockers Airtight
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
Labels: Changes: YML, Status: Needs Review

#559 Add Aprons to Loadouts, New Waist Aprons
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefdrobe.yml
  Resources/Prototypes/CharacterItemGroups/Generic/beltGroup.yml
  Resources/Prototypes/CharacterItemGroups/Generic/outerwearGroup.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/bartender.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DEN/Entities/Clothing/OuterClothing/apron.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/belt.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/outerclothing.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/bartender.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/clothing.yml
  Resources/Textures/_DEN/Clothing/OuterClothing/Misc/apronwaist.rsi/checker-equipped-OUTERCLOTHING.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Misc/apronwaist.rsi/checker-icon.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Misc/apronwaist.rsi/checker-inhand-left.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Misc/apronwaist.rsi/checker-inhand-right.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Misc/apronwaist.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Misc/apronwaist.rsi/icon.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Misc/apronwaist.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Misc/apronwaist.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Misc/apronwaist.rsi/meta.json
  Resources/Textures/_DEN/Clothing/OuterClothing/Misc/apronwaist.rsi/stripes_horizontal-equipped-OUTERCLOTHING.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Misc/apronwaist.rsi/stripes_horizontal-icon.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Misc/apronwaist.rsi/stripes_horizontal-inhand-left.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Misc/apronwaist.rsi/stripes_horizontal-inhand-right.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Misc/apronwaist.rsi/stripes_vertical-equipped-OUTERCLOTHING.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Misc/apronwaist.rsi/stripes_vertical-icon.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Misc/apronwaist.rsi/stripes_vertical-inhand-left.png
  Resources/Textures/_DEN/Clothing/OuterClothing/Misc/apronwaist.rsi/stripes_vertical-inhand-right.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite

#562 Egg Layer Trait + Other Trait Related Changes
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Floof/Traits/lewd.yml
  Resources/Prototypes/Traits/languages.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_DEN/Traits/languages.yml
Labels: Changes: YML, Changes: Localization

#563 Arachne and Harpy RGB Skin Tones
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/harpy.yml
Labels: Changes: YML

#564 You Can Now Carry the Sheep
  Resources/Prototypes/_DEN/Entities/Mobs/Species/ovinia.yml
Labels: Changes: YML, Status: Needs Review

#565 Add Custom Rodentia Scream
  Resources/Audio/Floof/Voice/Rodentia/Rat_Scream_01.ogg
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Floof/SoundCollections/emotes.yml
  Resources/Prototypes/Floof/SoundCollections/vulpkanin.yml
Labels: Changes: YML, Changes: Audio, Status: Needs Review

#567 Fix Research Putting Epistemics in Debt + Fix Concurrent Enumeration for Metabolizer
  Content.Server/Body/Systems/MetabolizerSystem.cs
  Content.Server/Research/Systems/ResearchSystem.Technology.cs
Labels: Changes: YML, Changes: C#

#570 Exclusivity on Command Loadout Items
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/chiefEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/mystagogue.yml
  Resources/Prototypes/Loadouts/Jobs/Logistics/logisticsOfficer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/chiefMedicalOfficer.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
Labels: Changes: YML, Status: Needs Review

#568 Disable Egg Layer Trait (Pending Changes/Removal)
  Resources/Prototypes/Entities/Objects/Misc/eggs.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML, Status: Needs Review

#569 Missing Translators
  Resources/Prototypes/Entities/Objects/Devices/translator_implants.yml
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
  Resources/Prototypes/Entities/Objects/Misc/translator_implanters.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/language.yml
  Resources/Prototypes/Research/civilianservices.yml
Labels: Changes: YML, Status: Needs Review

#571 More Customizability for Humans
  Resources/Prototypes/Entities/Mobs/Customization/Markings/shadowkin.yml
  Resources/Prototypes/_ADT/Mobs/Customization/shadowkin/shadowkin.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Ovinia.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/feroxi.yml
Labels: Changes: YML, Status: Needs Review

#541 Corgium Tweaks
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/Prototypes/_Funkystation/Reagents/exotic.yml
Labels: bug, Changes: YML, Status: Needs Review, DO NOT MERGE

#572 Pixel Tweaks for Neck Fluff
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/head_markings.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/head_markings.rsi/ovinia-neck-fluff.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#535 Rework Nekomimetic Language
  Resources/Fonts/Biscuitos.ttf
  Resources/Locale/en-US/language/languages.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Language/Species-Specific/nekomimetic.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/Oni.yml
  Resources/Prototypes/fonts.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#574 Syrup Bottle and Packet Condiment
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/condiments.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/_DEN/tags.yml
  Resources/Textures/_DEN/Objects/Consumable/Food/syrup.rsi/bottle-alpha-1.png
  Resources/Textures/_DEN/Objects/Consumable/Food/syrup.rsi/bottle-alpha-2.png
  Resources/Textures/_DEN/Objects/Consumable/Food/syrup.rsi/bottle-alpha-3.png
  Resources/Textures/_DEN/Objects/Consumable/Food/syrup.rsi/bottle-alpha-4.png
  Resources/Textures/_DEN/Objects/Consumable/Food/syrup.rsi/bottle-alpha-5.png
  Resources/Textures/_DEN/Objects/Consumable/Food/syrup.rsi/bottle-alpha-6.png
  Resources/Textures/_DEN/Objects/Consumable/Food/syrup.rsi/bottle-empty.png
  Resources/Textures/_DEN/Objects/Consumable/Food/syrup.rsi/bottle-open.png
  Resources/Textures/_DEN/Objects/Consumable/Food/syrup.rsi/icon.png
  Resources/Textures/_DEN/Objects/Consumable/Food/syrup.rsi/label-syrup.png
  Resources/Textures/_DEN/Objects/Consumable/Food/syrup.rsi/meta.json
  Resources/Textures/_DEN/Objects/Consumable/Food/syrup.rsi/packet-syrup.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#575 BUG Fixed Paradox Anomaly Selection
  Content.Server/DeltaV/ParadoxAnomaly/Systems/ParadoxAnomalySystem.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#576 BUG Voyeurism Is Not a Feature
  Resources/Prototypes/Shaders/Stencils.yml
  Resources/Prototypes/Shaders/displacement.yml
Labels: Changes: YML, Status: Needs Review

#577 Port Juggernaut Sprites From Delta V
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Objects/Tools/decoys.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/DeltaV/Clothing/Head/ReverseEngineering/juggernaut.rsi/equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/ReverseEngineering/juggernaut.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Head/ReverseEngineering/juggernaut.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/icon.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/cybersun.rsi/icon-flash.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/cybersun.rsi/icon.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/cybersun.rsi/meta.json
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/cybersun.rsi/off-equipped-HELMET-feroxi.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/cybersun.rsi/off-equipped-HELMET-harpy.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/cybersun.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/cybersun.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/cybersun.rsi/off-equipped-HELMET.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/cybersun.rsi/on-equipped-HELMET-feroxi.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/cybersun.rsi/on-equipped-HELMET-harpy.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/cybersun.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/cybersun.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/cybersun.rsi/on-equipped-HELMET.png
  Resources/Textures/_DV/Clothing/Head/ReverseEngineering/juggernaut.rsi/icon-flash.png
  Resources/Textures/_DV/Clothing/Head/ReverseEngineering/juggernaut.rsi/icon.png
  Resources/Textures/_DV/Clothing/Head/ReverseEngineering/juggernaut.rsi/meta.json
  Resources/Textures/_DV/Clothing/Head/ReverseEngineering/juggernaut.rsi/off-equipped-HELMET-feroxi.png
  Resources/Textures/_DV/Clothing/Head/ReverseEngineering/juggernaut.rsi/off-equipped-HELMET-harpy.png
  Resources/Textures/_DV/Clothing/Head/ReverseEngineering/juggernaut.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/_DV/Clothing/Head/ReverseEngineering/juggernaut.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/_DV/Clothing/Head/ReverseEngineering/juggernaut.rsi/off-equipped-HELMET.png
  Resources/Textures/_DV/Clothing/Head/ReverseEngineering/juggernaut.rsi/on-equipped-HELMET-feroxi.png
  Resources/Textures/_DV/Clothing/Head/ReverseEngineering/juggernaut.rsi/on-equipped-HELMET-harpy.png
  Resources/Textures/_DV/Clothing/Head/ReverseEngineering/juggernaut.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/_DV/Clothing/Head/ReverseEngineering/juggernaut.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/_DV/Clothing/Head/ReverseEngineering/juggernaut.rsi/on-equipped-HELMET.png
  Resources/Textures/_DV/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/equipped-OUTERCLOTHING-harpy.png
  Resources/Textures/_DV/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_DV/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DV/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/icon.png
  Resources/Textures/_DV/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/meta.json
  Resources/Textures/_DV/Objects/Tools/Decoys/juggernaut_decoy.rsi/folded.png
  Resources/Textures/_DV/Objects/Tools/Decoys/juggernaut_decoy.rsi/jballoon.png
  Resources/Textures/_DV/Objects/Tools/Decoys/juggernaut_decoy.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#573 Human Hybrid Consolidation
  Resources/Locale/en-US/_DEN/species/species.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/Oni_horns.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_noses.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_tails.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/oni_horns.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/pointy_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/shadowkin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tusks.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/wrist.yml
  Resources/Prototypes/Entities/Mobs/Customization/cyberlimbs/bishop.yml
  Resources/Prototypes/Entities/Mobs/Customization/cyberlimbs/hesphiastos.yml
  Resources/Prototypes/Floof/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/Floof/Entities/Mobs/Customization/Markings/tails.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/Oni_horns.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/_ADT/Mobs/Customization/reptilian/Reptilian.yml
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/kemonomimi_limbs.yml
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/nipplepiercings.yml
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/nipples.yml
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/pubes.yml
  Resources/Prototypes/_DEN/Species/human.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#578 Add All Antag Gamemodes to Vote
  Resources/Prototypes/game_presets.yml
Labels: Changes: YML

#581 Atmos Heat Transfer Fix
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Gases.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.GridAtmosphere.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.LINDA.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Monstermos.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Superconductivity.cs
  Content.Server/Atmos/TileAtmosphere.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#582 BUG - Weather No Longer Overrenders
  Content.Client/Overlays/StencilOverlay.RestrictedRange.cs
  Content.Client/Overlays/StencilOverlay.Weather.cs
  Resources/Prototypes/Shaders/Stencils.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#580 Fix: Readded a Missing Comma in the Bunny Ears Marking
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_ears.yml
Labels: Changes: YML, Status: Needs Review

#579 Remove Healing Word as Trait Power & Provide a Counter to Xenoglossy
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Language/LanguageSystem.cs
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Resources/Prototypes/Traits/mental.yml
Labels: Changes: YML, Changes: C#

#589 Prescription Hud and Handheld Radio Tweaks
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Construction/Graphs/clothing/prescriptionhuds.yml
  Resources/Prototypes/Recipes/Lathes/cargo.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Textures/Objects/Devices/securityhandy.rsi/meta.json
  Resources/Textures/Objects/Devices/securityhandy.rsi/walkietalkie-off.png
  Resources/Textures/Objects/Devices/securityhandy.rsi/walkietalkie-on.png
  Resources/Textures/Objects/Devices/securityhandy.rsi/walkietalkie.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#592 Fix Research Points
  Content.Server/Research/Systems/ResearchSystem.Server.cs
  Content.Server/Research/Systems/ResearchSystem.Technology.cs
  Content.Server/Research/Systems/ResearchSystem.cs
  Content.Server/_DEN/Research/Components/StationResearchRecordComponent.cs
Labels: Changes: YML, Changes: C#

#596 Injectables Tweaks
  Resources/Prototypes/Entities/Objects/Specific/Mail/Items/misc.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/syringes.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/_Goobstation/Entities/Specific/Medical/medkits.yml
Labels: Changes: YML, Status: Needs Review

#598 Rickenbacker Loadouts Fix
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/musician.yml
  Resources/Prototypes/Loadouts/Jobs/Service/musician.yml
Labels: Changes: YML

#600 Resomi Can Now Wear the Cyber Arm and Leg Feathers Properly + Additional Hair
  Resources/Locale/en-US/_FloofStation/accessories/resomi-hair.ftl
  Resources/Locale/en-US/_FloofStation/markings/resomi.ftl
  Resources/Prototypes/_Floofstation/Entities/Mobs/Customization/Markings/resomi_hair.yml
  Resources/Prototypes/_Floofstation/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/_Floofstation/Species/resomi.yml
  Resources/Textures/_FloofStation/Mobs/Customization/resomi_hair.rsi/ResomiRoyalPlume.png
  Resources/Textures/_FloofStation/Mobs/Customization/resomi_hair.rsi/meta.json
  Resources/Textures/_FloofStation/Mobs/Species/Resomi/parts.rsi/l_arm.png
  Resources/Textures/_FloofStation/Mobs/Species/Resomi/parts.rsi/r_arm.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite

#601 Accentless Cost Removal
  Resources/Prototypes/Traits/neutral.yml
Labels: Changes: YML, Status: Needs Review

#606 Thieves as RP Antagonists
  Content.Server/GameTicking/Rules/ThiefRuleSystem.cs
  Resources/Locale/en-US/_DV/game-ticking/game-presets/preset-thief.ftl
  Resources/Locale/en-US/thief/backpack.ftl
  Resources/Prototypes/Catalog/thief_toolbox_sets.yml
  Resources/Prototypes/GameRules/midround.yml
  Resources/Prototypes/Objectives/thief.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review

#608 Made Loadout Icons Bigger
  Content.Client/Lobby/UI/LoadoutPreferenceSelector.xaml.cs
Labels: Changes: YML, Changes: C#, Changes: UI

#557 Synth Trait
  Content.Server/StationEvents/Events/IonStormRule.cs
  Content.Server/_CD/Traits/SynthComponent.cs
  Content.Server/_CD/Traits/SynthSystem.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorComponent.cs
  Resources/Locale/en-US/_CD/reagents/meta/biological.ftl
  Resources/Locale/en-US/_CD/station/events.ftl
  Resources/Locale/en-US/_CD/traits/traits.ftl
  Resources/Locale/en-US/reagents/meta/biological.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_CD/Reagents/biological.yml
  Resources/Prototypes/_CD/Traits/traits.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review

#604 Better Voting (Part 1)
  Content.Client/Entry/EntryPoint.cs
  Content.Server/GameTicking/Commands/ForcePresetCommand.cs
  Content.Server/GameTicking/Commands/SetGamePresetCommand.cs
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/GameTicking/Presets/GamePresetPrototype.cs
  Content.Server/GameTicking/Rules/Components/SecretRuleComponent.cs
  Content.Server/GameTicking/Rules/SecretRuleSystem.cs
  Content.Server/PresetPicker/PresetPickerPrototype.cs
  Content.Server/SubFloor/SubFloorHideSystem.cs
  Content.Server/Voting/Managers/VoteManager.DefaultVotes.cs
  Content.Server/Voting/Managers/VoteManager.cs
  Content.Server/_DEN/GameTicking/GameTicker.FakePreset.cs
  Content.Server/_DEN/GameTicking/IFakePreset.cs
  Content.Server/_DEN/GameTicking/Rules/HighDangerRuleComponent.cs
  Content.Server/_DEN/GameTicking/Rules/HighDangerRuleSystem.cs
  Content.Server/_DEN/GameTicking/Rules/LowDangerRuleComponent.cs
  Content.Server/_DEN/GameTicking/Rules/LowDangerRuleSystem.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-dangers.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-secret.ftl
  Resources/Prototypes/_DEN/GameRules/roundstart.yml
  Resources/Prototypes/_DEN/game_presets.yml
  Resources/Prototypes/_DEN/random_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#605 Traitor Telecrystal Tweaks
  Content.Server/GameTicking/Rules/Components/TraitorRuleComponent.cs
  Resources/Prototypes/Catalog/thief_toolbox_sets.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#609 Ready up Manifest
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/ReadyManifest/ReadyManifestEui.cs
  Content.Client/ReadyManifest/ReadyManifestSystem.cs
  Content.Client/ReadyManifest/ReadyManifestUi.xaml
  Content.Client/ReadyManifest/ReadyManifestUi.xaml.cs
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Content.Server/ReadyManifest/ReadyManifestEui.cs
  Content.Server/ReadyManifest/ReadyManifestSystem.cs
  Content.Shared/ReadyManifest/SharedReadyManifestSystem.cs
Labels: Changes: YML, Changes: C#, Changes: UI, Status: Needs Review

#602 Localization Patch + 4 Compatibility Resprite
  Resources/Locale/en-US/_FloofStation/markings/resomi.ftl
  Resources/Textures/_CD/Clothing/OuterClothing/WinterCoats/coat.rsi/CARGO-equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_CD/Clothing/OuterClothing/WinterCoats/coat.rsi/folded-CARGO-equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_CD/Clothing/OuterClothing/WinterCoats/coat.rsi/meta.json
  Resources/Textures/_DV/Clothing/OuterClothing/Armor/duravest.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_DV/Clothing/OuterClothing/Armor/duravest.rsi/meta.json
  Resources/Textures/_DV/Clothing/OuterClothing/Armor/platecarrier.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_DV/Clothing/OuterClothing/Armor/platecarrier.rsi/meta.json
  Resources/Textures/_DV/Clothing/OuterClothing/Armor/riot.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_DV/Clothing/OuterClothing/Armor/riot.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#618 Let Unathi Yip Again
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Labels: Changes: YML, Status: Needs Review

#616 Chemist Emergency Hydro Access
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
Labels: Changes: YML, Status: Needs Review

#617 Ports Delta-V Species Plushies
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Entities/Objects/Fun/prizeticket.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/prizecounter.yml
  Resources/Prototypes/_DV/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/_DV/SoundCollections/plushie.yml
  Resources/Textures/_DV/Objects/Fun/Toys/plushies.rsi/chitinid.png
  Resources/Textures/_DV/Objects/Fun/Toys/plushies.rsi/felinid.png
  Resources/Textures/_DV/Objects/Fun/Toys/plushies.rsi/feroxi.png
  Resources/Textures/_DV/Objects/Fun/Toys/plushies.rsi/harpy.png
  Resources/Textures/_DV/Objects/Fun/Toys/plushies.rsi/meta.json
  Resources/Textures/_DV/Objects/Fun/Toys/plushies.rsi/oni.png
  Resources/Textures/_DV/Objects/Fun/Toys/plushies.rsi/rodentia.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#622 Add Alien-Themed Markings
  Resources/Locale/en-US/_DEN/markings/alien.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/alien.yml
  Resources/Textures/_DEN/Mobs/Customization/Head/alien_markings.rsi/alien_antenna_double.png
  Resources/Textures/_DEN/Mobs/Customization/Head/alien_markings.rsi/alien_antenna_side.png
  Resources/Textures/_DEN/Mobs/Customization/Head/alien_markings.rsi/alien_antenna_single.png
  Resources/Textures/_DEN/Mobs/Customization/Head/alien_markings.rsi/eyes_alien.png
  Resources/Textures/_DEN/Mobs/Customization/Head/alien_markings.rsi/eyes_alien_big.png
  Resources/Textures/_DEN/Mobs/Customization/Head/alien_markings.rsi/eyes_alien_three.png
  Resources/Textures/_DEN/Mobs/Customization/Head/alien_markings.rsi/eyes_alien_wide.png
  Resources/Textures/_DEN/Mobs/Customization/Head/alien_markings.rsi/head.png
  Resources/Textures/_DEN/Mobs/Customization/Head/alien_markings.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite

#621 Disable Ion Damage
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Goobstation/Damage/modifier_sets.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/bingle.yml
Labels: Changes: YML

#619 Remove Revenants Pending Rework
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
Labels: Changes: YML

#615 Optimizing Tests
  Content.IntegrationTests/PoolManager.Cvars.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#625 Glacier Sauna Fix
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: YML, Changes: Map
