Repository TheDenSS14/TheDen, pull requests merged in 2025-03, with the labels that each got.

#295 The Progression Cloak. (#451)
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/_Funkystation/Entities/Clothing/Neck/cloaks.yml
  Resources/Textures/_Funkystation/Clothing/Neck/Cloaks/pride.rsi/equipped-NECK.png
  Resources/Textures/_Funkystation/Clothing/Neck/Cloaks/pride.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Neck/Cloaks/pride.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Neck/Cloaks/pride.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Clothing/Neck/Cloaks/pride.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#297 Roingus
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_Funkystation/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/_Funkystation/Mobs/Animals/roingus.rsi/dead.png
  Resources/Textures/_Funkystation/Mobs/Animals/roingus.rsi/equipped-HELMET.png
  Resources/Textures/_Funkystation/Mobs/Animals/roingus.rsi/icon.png
  Resources/Textures/_Funkystation/Mobs/Animals/roingus.rsi/meta.json
  Resources/Textures/_Funkystation/Mobs/Animals/roingus.rsi/roingus-moving.png
  Resources/Textures/_Funkystation/Mobs/Animals/roingus.rsi/roingus.png
  Resources/Textures/_Funkystation/Mobs/Animals/roingus.rsi/splat.png
Labels: Changes: YML, Changes: Sprite

#296 Mono Is Not Osha Certified (Shoukou Hotfix)
  Resources/Maps/TheDen/shoukou.yml
Labels: Changes: YML, Changes: Map

#294 Bandana Eat Hotfix
  Resources/Prototypes/Entities/Clothing/Masks/bandanas.yml
Labels: Changes: YML, Status: Needs Review

#298 Telescopic Shield Fix
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
Labels: Changes: YML, Status: Needs Review

#299 Species Layering Fix
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: YML, Status: Needs Review

#300 Further Layering Tweaks
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: YML, Status: Needs Review

#302 Nipples
  Resources/Locale/en-US/_DEN/markings/nipples.ftl
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/nipples.yml
  Resources/Textures/_DEN/Mobs/Customization/Body/nipples.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Body/nipples.rsi/nipples.png
  Resources/Textures/_DEN/Mobs/Customization/Body/nipples.rsi/nippleslarge.png
  Resources/Textures/_DEN/Mobs/Customization/Body/nipples.rsi/nippleslargevulp.png
  Resources/Textures/_DEN/Mobs/Customization/Body/nipples.rsi/nipplesvulp.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#304 Revert Mask Layering
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: YML, Status: Needs Review

#303 Minor Glacier Spawnpoint Fixes
  Resources/Maps/TheDen/glacier.yml
  Resources/Prototypes/Maps/glacier.yml
Labels: Changes: YML, Changes: Map

#306 BRDI Repaints
  Resources/Prototypes/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_EE/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_blue.rsi/base.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_blue.rsi/bolt-open.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_blue.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_blue.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_blue.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_blue.rsi/mag-0.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_blue.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_blue.rsi/wielded-inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_blue.rsi/wielded-inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_decorated.rsi/base.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_decorated.rsi/bolt-open.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_decorated.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_decorated.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_decorated.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_decorated.rsi/mag-0.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_decorated.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_decorated.rsi/wielded-inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_decorated.rsi/wielded-inhand-right.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#307 Gun Tweaks
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Research/arsenal.yml
Labels: Changes: YML, Status: Needs Review

#308 Unleashing Vent Monsters
  Resources/Prototypes/Floof/Gamerules/Events.yml
Labels: Changes: YML, Status: Needs Review

#309 Wisps and Fixes
  Resources/Locale/en-US/psionics/psionic-powers.ftl
  Resources/Locale/en-US/station-events/events/vent-critters.ftl
  Resources/Migrations/floofmigration.yml
  Resources/Prototypes/Entities/Mobs/NPCs/living_light.yml
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Floof/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#310 Pet Roingus Real
  Resources/Locale/en-US/loadouts/items.ftl
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/_Funkystation/Entities/Mobs/NPCs/animals.yml
Labels: Changes: YML, Changes: Localization

#311 Pubes (and Slight Nipple Retexture)
  Content.Shared/Humanoid/HumanoidVisualLayers.cs
  Content.Shared/Humanoid/Markings/MarkingCategories.cs
  Resources/Locale/en-US/_DEN/markings/nipples.ftl
  Resources/Locale/en-US/_DEN/markings/piercings.ftl
  Resources/Locale/en-US/_DEN/markings/pubes.ftl
  Resources/Prototypes/DeltaV/Species/rodentia.yml
  Resources/Prototypes/DeltaV/Species/vulpkanin.yml
  Resources/Prototypes/Nyanotrasen/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/shadowkin.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/nipplepiercings.yml
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/nipples.yml
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/pubes.yml
  Resources/Textures/_DEN/Mobs/Customization/Body/nipples.rsi/nippleslarge.png
  Resources/Textures/_DEN/Mobs/Customization/Body/nipples.rsi/nippleslargevulp.png
  Resources/Textures/_DEN/Mobs/Customization/Body/pubes.rsi/lower.png
  Resources/Textures/_DEN/Mobs/Customization/Body/pubes.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Body/pubes.rsi/upper.png
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Sprite, Status: Needs Review

#312 Quickfixes and Tweaks
  Content.Server/WhiteDream/BloodCult/Runes/Apocalypse/CultRuneApocalypseComponent.cs
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/salvage_points.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#313 Slime Markings+ Port
  Resources/Locale/en-US/preferences/ui/markings-picker.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/Oni_horns.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/rodentia.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/diona.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/harpy.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_noses.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_tails.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/makeup.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/oni_horns.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/pointy_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/shadowkin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tusks.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Floof/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/Floof/Entities/Mobs/Customization/Markings/tails.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Textures/SimpleStation14/Mobs/Customization/snouts.rsi/easterndnw_primary.png
  Resources/Textures/SimpleStation14/Mobs/Customization/snouts.rsi/easterndnw_secondary.png
  Resources/Textures/SimpleStation14/Mobs/Customization/snouts.rsi/easterndw_primary.png
  Resources/Textures/SimpleStation14/Mobs/Customization/snouts.rsi/extra_magus.png
  Resources/Textures/SimpleStation14/Mobs/Customization/snouts.rsi/meta.json
  Resources/Textures/SimpleStation14/Mobs/Customization/snouts.rsi/skullbird.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/axolotl.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/easternd_primary.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/easternd_secondary.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/fish_primary.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/fish_secondary.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/gecko_primary.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/gecko_secondary.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/gecko_tertiary.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/maw.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/meta.json
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/snake.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/succubus.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/tentacle.png
  Resources/Textures/SimpleStation14/Mobs/Customization/wings64x32.rsi/harpy.png
  Resources/Textures/SimpleStation14/Mobs/Customization/wings64x32.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#314 Revert "Slime Markings+ Port"
  Resources/Locale/en-US/preferences/ui/markings-picker.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/Oni_horns.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/rodentia.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/diona.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/harpy.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_noses.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_tails.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/makeup.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/oni_horns.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/pointy_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/shadowkin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tusks.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Floof/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/Floof/Entities/Mobs/Customization/Markings/tails.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Textures/SimpleStation14/Mobs/Customization/snouts.rsi/easterndnw_primary.png
  Resources/Textures/SimpleStation14/Mobs/Customization/snouts.rsi/easterndnw_secondary.png
  Resources/Textures/SimpleStation14/Mobs/Customization/snouts.rsi/easterndw_primary.png
  Resources/Textures/SimpleStation14/Mobs/Customization/snouts.rsi/extra_magus.png
  Resources/Textures/SimpleStation14/Mobs/Customization/snouts.rsi/meta.json
  Resources/Textures/SimpleStation14/Mobs/Customization/snouts.rsi/skullbird.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/axolotl.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/easternd_primary.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/easternd_secondary.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/fish_primary.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/fish_secondary.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/gecko_primary.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/gecko_secondary.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/gecko_tertiary.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/maw.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/meta.json
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/snake.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/succubus.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/tentacle.png
  Resources/Textures/SimpleStation14/Mobs/Customization/wings64x32.rsi/harpy.png
  Resources/Textures/SimpleStation14/Mobs/Customization/wings64x32.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#317 Edge Evac Shuttle Change
  Resources/Prototypes/Maps/edge.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#318 NTES Vertex
  Resources/Maps/Shuttles/DeltaV/NTES_Vertex.yml
  Resources/Prototypes/Maps/edge.yml
  Resources/Prototypes/Maps/glacier.yml
Labels: Changes: YML, Changes: Map

#319 Arena Update
  Resources/Maps/TheDen/arena.yml
Labels: Changes: YML, Changes: Map

#320 Some IPC Markings
  Resources/Prototypes/Entities/Mobs/Customization/Markings/diona.yml
  Resources/Prototypes/Floof/Entities/Mobs/Customization/Markings/tails.yml
Labels: Changes: YML, Status: Needs Review

#322 Quick Marking Adjustments
  Resources/Locale/en-US/deltav/markings/vulpkanin.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/diona.yml
  Resources/Prototypes/Species/ipc.yml
  Resources/Prototypes/Species/slime.yml
Labels: Changes: YML, Changes: Localization

#324 I Do Not Care for Age Requirement
  Resources/Prototypes/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Service/bartender.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/warden.yml
Labels: Changes: YML

#326 Rodentia Can Squeak Again
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/rodentia.yml
Labels: Changes: YML

#327 Humanhybridchanges
  Resources/Locale/en-US/markings/kemonomimi_limbs.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_limbs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Textures/Mobs/Customization/kemonomimi-limbs.rsi/furred_l_arm.png
  Resources/Textures/Mobs/Customization/kemonomimi-limbs.rsi/furred_l_foot.png
  Resources/Textures/Mobs/Customization/kemonomimi-limbs.rsi/furred_l_hand.png
  Resources/Textures/Mobs/Customization/kemonomimi-limbs.rsi/furred_l_leg.png
  Resources/Textures/Mobs/Customization/kemonomimi-limbs.rsi/furred_r_arm.png
  Resources/Textures/Mobs/Customization/kemonomimi-limbs.rsi/furred_r_foot.png
  Resources/Textures/Mobs/Customization/kemonomimi-limbs.rsi/furred_r_hand.png
  Resources/Textures/Mobs/Customization/kemonomimi-limbs.rsi/furred_r_leg.png
  Resources/Textures/Mobs/Customization/kemonomimi-limbs.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#328 Quickfixes
  Resources/Locale/en-US/xenoarchaeology/artifact-hints.ftl
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#330 Burgerception
  Resources/Locale/en-US/nutrition/components/food-sequence.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/Recipes/Cooking/food_sequence_element.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#211 Garteg Murder
  Content.Server/Content.Server.csproj
  Content.Server/_EE/Atmos/AtmosphereSystem.EE.API.cs
  Content.Server/_EE/Atmos/TileEnumerator.cs
  Content.Server/_EE/PressureDestructible/Components/PressureDestructibleComponent.cs
  Content.Server/_EE/PressureDestructible/Components/PressureDestructibleImmuneComponent.cs
  Content.Server/_EE/PressureDestructible/EntitySystems/PressureDestructibleSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/inflatable_wall.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: Changes: YML, Changes: C#

#333 Quickfix + Lamb Horns Marking
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/cyberlimbs/bishop.yml
  Resources/Prototypes/Entities/Mobs/Customization/cyberlimbs/hesphiastos.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Textures/Mobs/Customization/kemonomimi-ears.rsi/lambhornstone1.png
  Resources/Textures/Mobs/Customization/kemonomimi-ears.rsi/lambhornstone2.png
  Resources/Textures/Mobs/Customization/kemonomimi-ears.rsi/meta.json
Labels: Changes: YML, Changes: Sprite

#332 Pride Themed Scarves
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/Entities/Clothing/Neck/scarfs.yml
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/ace.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/ace.rsi/icon.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/ace.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/ace.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/ace.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/aro.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/aro.rsi/icon.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/aro.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/aro.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/aro.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/bi.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/bi.rsi/icon.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/bi.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/bi.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/bi.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/gay.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/gay.rsi/icon.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/gay.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/gay.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/gay.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/inter.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/inter.rsi/icon.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/inter.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/inter.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/inter.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/lesbian-long.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/lesbian-long.rsi/icon.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/lesbian-long.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/lesbian-long.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/lesbian-long.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/lesbian.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/lesbian.rsi/icon.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/lesbian.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/lesbian.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/lesbian.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/non.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/non.rsi/icon.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/non.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/non.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/non.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/pan.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/pan.rsi/icon.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/pan.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/pan.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/pan.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/rainbow.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/rainbow.rsi/icon.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/rainbow.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/rainbow.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/rainbow.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/trans.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/trans.rsi/icon.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/trans.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/trans.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/trans.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#337 Sundry Hydroponics and Food Stuff.
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/nutrition/components/food-sequence.ftl
  Resources/Locale/en-US/reagents/meta/consumable/drink/juice.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/Reagents/Consumable/Drink/juice.yml
  Resources/Prototypes/Recipes/Cooking/food_sequence_element.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Consumable/Food/bowl.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/bowl.rsi/uszka-borscht.png
  Resources/Textures/Objects/Consumable/Food/bowl.rsi/zurek.png
  Resources/Textures/Objects/Specific/Hydroponics/beetroot.rsi/dead.png
  Resources/Textures/Objects/Specific/Hydroponics/beetroot.rsi/harvest.png
  Resources/Textures/Objects/Specific/Hydroponics/beetroot.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/beetroot.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/beetroot.rsi/seed.png
  Resources/Textures/Objects/Specific/Hydroponics/beetroot.rsi/stage-1.png
  Resources/Textures/Objects/Specific/Hydroponics/beetroot.rsi/stage-2.png
  Resources/Textures/Objects/Specific/Hydroponics/beetroot.rsi/stage-3.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#336 Humans Have Human Hybrid Features
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Humanoid/SkinColor.cs
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/Oni_horns.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/oni_horns.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/pointy_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/shadowkin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tusks.yml
  Resources/Prototypes/Floof/Entities/Mobs/Customization/Markings/tails.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/Oni_horns.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/_DEN/Species/human.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI, Status: Needs Review

#334 Return Of The Hive
  Resources/Maps/TheDen/hive.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/hive.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#339 Blueshield Shield and Mace
  Resources/Audio/_Goobstation/Weapons/Effects/attributions.yml
  Resources/Audio/_Goobstation/Weapons/Effects/nanotrasenenergyhum.ogg
  Resources/Audio/_Goobstation/Weapons/Effects/nanotrasenenergyoff.ogg
  Resources/Audio/_Goobstation/Weapons/Effects/nanotrasenenergyon.ogg
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Weapons/blueshieldshield.yml
  Resources/Prototypes/_Goobstation/Entities/Shields/shields.yml
  Resources/Prototypes/_Goobstation/Entities/Weapons/Melee/blueshield_mace.yml
  Resources/Textures/_Goobstation/Objects/Shields/blueshieldshield.rsi/icon-on.png
  Resources/Textures/_Goobstation/Objects/Shields/blueshieldshield.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Shields/blueshieldshield.rsi/inhand-left-on.png
  Resources/Textures/_Goobstation/Objects/Shields/blueshieldshield.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Shields/blueshieldshield.rsi/inhand-right-on.png
  Resources/Textures/_Goobstation/Objects/Shields/blueshieldshield.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Shields/blueshieldshield.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Shields/riotshield.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Shields/riotshield.rsi/riot_bullet-icon.png
  Resources/Textures/_Goobstation/Objects/Shields/riotshield.rsi/riot_bullet-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Shields/riotshield.rsi/riot_bullet-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/blueshield_mace.rsi/icon-off.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/blueshield_mace.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/blueshield_mace.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/blueshield_mace.rsi/off-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/blueshield_mace.rsi/off-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/blueshield_mace.rsi/on-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/blueshield_mace.rsi/on-inhand-right.png
Labels: Changes: YML, Changes: Audio, Changes: Sprite

#341 Fixed Pubes. For the Third Time.
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: YML, Status: Needs Review

#342 Less Bountiful VASH
  Resources/Locale/en-US/cargo/bounties.ftl
  Resources/Prototypes/Catalog/Bounties/bounties.yml
  Resources/Prototypes/_DEN/VASH/Entities/Objects/bleeders.yml
  Resources/Prototypes/_DEN/VASH/Entities/Objects/condoms.yml
  Resources/Prototypes/tags.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#343 Hygiene Update Sanitized
  Resources/Locale/en-US/Floof/loadouts/itemgroups.ftl
  Resources/Locale/en-US/_DEN/VASH/VASHvend.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/_DEN/VASH/Entities/Objects/boxes.yml
  Resources/Prototypes/_DEN/VASH/Entities/Objects/vending machine/advertisements.yml
  Resources/Prototypes/_DEN/VASH/Entities/Objects/vending machine/goodbye.yml
  Resources/Prototypes/_DEN/VASH/Entities/Objects/vending machine/inventory.yml
  Resources/Prototypes/_DEN/VASH/Entities/Objects/vending machine/vendor.yml
  Resources/Textures/_DEN/VASH/Machines/SexVend.rsi/broken.png
  Resources/Textures/_DEN/VASH/Machines/SexVend.rsi/deny-unshaded.png
  Resources/Textures/_DEN/VASH/Machines/SexVend.rsi/meta.json
  Resources/Textures/_DEN/VASH/Machines/SexVend.rsi/normal-unshaded.png
  Resources/Textures/_DEN/VASH/Machines/SexVend.rsi/off.png
  Resources/Textures/_DEN/VASH/Machines/SexVend.rsi/panel.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#345 Synthflesh IPC Head Eye Markings
  Resources/Locale/en-US/silicons/cyberlimbs.ftl
  Resources/Prototypes/Entities/Mobs/Customization/cyberlimbs/wardtakahashi.yml
  Resources/Prototypes/Entities/Mobs/Customization/cyberlimbs/zenghu.yml
  Resources/Textures/Mobs/Customization/cyberlimbs/wardtakahashi/wardtakahashi_main.rsi/head-2.png
  Resources/Textures/Mobs/Customization/cyberlimbs/wardtakahashi/wardtakahashi_main.rsi/meta.json
  Resources/Textures/Mobs/Customization/cyberlimbs/zenghu/zenghu_main.rsi/head-3.png
  Resources/Textures/Mobs/Customization/cyberlimbs/zenghu/zenghu_main.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#344 Markings and Stuff
  Resources/Prototypes/CharacterItemGroups/Generic/outerwearGroup.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Loadouts/Generic/outerClothing.yml
Labels: Changes: YML, Status: Needs Review

#348 Quicktweaks + Paramed Loadout
  Resources/Audio/Weapons/stunmace.ogg
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baguette.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/paramedic.yml
  Resources/Prototypes/_Goobstation/Entities/Weapons/Melee/blueshield_mace.yml
Labels: Changes: YML, Changes: Audio

#347 More Human Hybrid Tags
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/rodentia.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/vulpkanin.yml
Labels: Changes: YML, Status: Needs Review

#349 Shoukou Hotfix
  Resources/Maps/TheDen/shoukou.yml
Labels: Changes: YML, Changes: Map

#352 Goat and Lamb Horns
  Resources/Locale/en-US/markings/kemonomimi_ears.ftl
  Resources/Maps/TheDen/baikal.yml
  Resources/Maps/TheDen/glacier.yml
  Resources/Maps/TheDen/lighthouse.yml
  Resources/Maps/TheDen/pebble.yml
  Resources/Maps/TheDen/shoukou.yml
  Resources/Maps/pebble.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_ears.yml
  Resources/Prototypes/Floof/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Floof/Entities/Mobs/NPCs/pets.yml
Labels: Changes: YML, Changes: Map, Changes: Localization, Status: Needs Review

#353 Beanies!! Cover Your Cold Ah Head
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/CharacterItemGroups/Generic/headGroup.yml
  Resources/Prototypes/Loadouts/Generic/head.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Head/beanies.yml
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/black.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/black.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/black.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/blackwithpin.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/blackwithpin.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/blackwithpin.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/blue.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/blue.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/blue.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/gold.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/gold.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/gold.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/green.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/green.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/green.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/khaki.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/khaki.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/khaki.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/khakiwithpin.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/khakiwithpin.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/khakiwithpin.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/navyblue.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/navyblue.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/navyblue.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/navybluewithpin.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/navybluewithpin.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/navybluewithpin.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/purple.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/purple.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/purple.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/white.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/white.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/white.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/yellow.rsi/equipped-HELMET.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/yellow.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Head/Hats/beaniesabsurd/yellow.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#354 Custom Species Names
  Resources/Prototypes/DeltaV/Species/chitinid.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/plasmaman.yml
  Resources/Prototypes/Species/shadowkin.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Prototypes/_EE/Species/tajaran.yml
Labels: Changes: YML

#356 Corpsman Summer Gear
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/corpsman.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Loadouts/Jobs/Security/corpsman.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Clothing/OuterClothing/Armor/captaindogi.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/captaindogi.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/captaindogi.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/captaindogi.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/captaindogi.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/summercorpsman.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/summercorpsman.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/summercorpsman.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/summercorpsman.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/summercorpsman.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#357 Feroxi Left Leg Marking Hotfix
  Resources/Prototypes/_DV/Entities/Mobs/Species/feroxi.yml
Labels: Changes: YML, Status: Needs Review

#358 Honey Stomach for Chitinids
  Content.Server/FloofStation/Traits/LewdTraitSystem.cs
  Content.Server/_DEN/HoneyProducerComponent.cs
  Content.Shared/_DEN/HoneyingDoAfterEvent.cs
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Locale/en-US/_DEN/verbs/honey-verb.ftl
  Resources/Prototypes/Floof/Traits/lewd.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review

#362 Quickfixes
  Resources/Prototypes/Catalog/Cargo/cargo_atmospherics.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/sushi.yml
  Resources/Textures/Structures/Storage/canister.rsi/green-1.png
  Resources/Textures/Structures/Storage/canister.rsi/green.png
  Resources/Textures/Structures/Storage/canister.rsi/greenys-1.png
  Resources/Textures/Structures/Storage/canister.rsi/greenys.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#363 Captain's Shogun Dogi
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
Labels: Changes: YML

#365 Corpsman Glasses Fix
  Resources/Prototypes/DeltaV/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Eyes/glasses.yml
Labels: Changes: YML

#368 Pistol Mag Fix
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
Labels: Changes: YML, Status: Needs Review

#370 Gekker and Yip Localization Fix
  Resources/Locale/en-US/emotes/emotes.ftl
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#360 VASH Restoration and Other Fixes
  Resources/Locale/en-US/Floof/loadouts/itemgroups.ftl
  Resources/Locale/en-US/Floof/traits/traits.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/wallmed.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/color_jumpsuits.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/_CD/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DEN/VASH/Entities/Objects/boxes.yml
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/brigmedic.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/brigmedic.rsi/rolled-equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/cargotech_dark.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/cargotech_dark.rsi/meta.json
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/cargotech_light.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/cargotech_light.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#372 Un-Stripping Engineering Holoprojector Battery Panel Screws
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/holoprojectors.yml
Labels: Changes: YML, Status: Needs Review

#367 Senior Researcher PDA Progams Fixed
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Changes: YML

#373 Restock Price Hike
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_vending.yml
Labels: Changes: YML

#371 Tail Wagging Trait
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/_DEN/Traits/physical.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#374 Make Holding Down Arrow Keys Scroll the Pointer Thru Chat
  Resources/keybinds.yml
Labels: Changes: YML, Status: Needs Review

#361 Feroxi Language
  Resources/Locale/en-US/chat/managers/chat-language.ftl
  Resources/Locale/en-US/language/languages.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
  Resources/Prototypes/Language/Species-Specific/feroxi.yml
  Resources/Prototypes/_DEN/Traits/languages.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/feroxi.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#379 BSO Corpsman Permissions
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
Labels: Changes: YML, Status: Needs Review

#378 HoS Item-Group-Fix
  Resources/Locale/en-US/loadouts/itemgroups.ftl
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#377 AutoDoc Humbler
  Resources/Locale/en-US/_Shitmed/autodoc.ftl
Labels: Changes: YML, Changes: Localization

#376 Speak to the Trees (Rootspeak Fix)
  Resources/Prototypes/_DEN/Traits/languages.yml
Labels: Changes: YML, Status: Needs Review

#375 Adjusts Jobs Loadouts to Make Them More Uniform
  Resources/Locale/en-US/loadouts/jobs/heads/captain.ftl
  Resources/Locale/en-US/loadouts/jobs/heads/headOfPersonnel.ftl
  Resources/Locale/en-US/loadouts/jobs/medical/medical.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/corpsman.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/detective.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/warden.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/bartender.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/botanist.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/chef.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/janitor.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/lawyer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/mime.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/engineering.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/epistemics.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/logistics.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/medical.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/security.yml
  Resources/Prototypes/Floof/Loadouts/Jobs/service.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/mystic.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/chemist.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/psychologist.yml
  Resources/Prototypes/Loadouts/Jobs/Security/corpsman.yml
  Resources/Prototypes/Loadouts/Jobs/Service/botanist.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/corpsman.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/warden.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/bartender.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/botanist.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/chef.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/janitor.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/lawyer.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/mime.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#381 Arena Atmos Fix
  Resources/Maps/TheDen/arena.yml
Labels: Changes: YML, Changes: Map

#382 HoS Samurai Armour
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Textures/Clothing/OuterClothing/Armor/hosamurai.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/hosamurai.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/hosamurai.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/hosamurai.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/hosamurai.rsi/meta.json
Labels: Changes: YML, Changes: Sprite

#380 Less Slippery Puddles!
  Content.Server/Chemistry/TileReactions/SpillTileReaction.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Shared/Slippery/SlipperyComponent.cs
  Content.Shared/StepTrigger/Components/StepTriggerComponent.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#383 Quicktweaks
  Resources/Locale/en-US/nutrition/components/food-sequence.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/Recipes/Cooking/food_sequence_element.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/rescueaxe.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
  Resources/Textures/_DEN/Clothing/Hands/goldenring.rsi/equipped-HAND.png
  Resources/Textures/_DEN/Clothing/Hands/goldenring.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Hands/goldenring.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#385 Pride Loadouts
  Resources/Prototypes/CharacterItemGroups/Generic/itemGroups.yml
  Resources/Prototypes/CharacterItemGroups/Generic/neckGroup.yml
  Resources/Prototypes/Floof/CharacterItemGroups/headGroup.yml
  Resources/Prototypes/Floof/CharacterItemGroups/neckGroup.yml
  Resources/Prototypes/Loadouts/Generic/neck.yml
  Resources/Prototypes/_DEN/Loadouts/pride.yml
Labels: Changes: YML, Status: Needs Review

#389 Epistemtits (Foldable Epistemics Uniforms)
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Floof/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat.rsi/folded-equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_robo.rsi/folded-equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_robo.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatrd.rsi/folded-equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatrd.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatsci.rsi/folded-equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatsci.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/rnd.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/rnd.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/roboticist.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/roboticist.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/scientist.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/scientist.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/rnd.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/rnd.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/epicoat.rsi/folded-equipped-OUTERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/epicoat.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/mystacoat.rsi/folded-equipped-OUTERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/mystacoat.rsi/meta.json
  Resources/Textures/Floof/Clothing/OuterClothing/WinterCoats/longcoatRD.rsi/folded-equipped-OUTERCLOTHING.png
  Resources/Textures/Floof/Clothing/OuterClothing/WinterCoats/longcoatRD.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/explorer_coat.rsi/folded-equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/Coats/explorer_coat.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#388 Localization and Fixes
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_limbs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Devices/chameleon_projector.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Prototypes/_DEN/Traits/physical.yml
Labels: Changes: YML, Status: Needs Review

#390 This Pr Sponsored by Todays Sponsor HONEY
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/meta/consumable/food/condiments.ftl
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Floof/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
  Resources/Prototypes/Recipes/Reactions/food.yml
Labels: Changes: YML, Changes: Localization

#392 Fixes Gnash Emote
  Resources/Prototypes/_DV/Entities/Mobs/Species/feroxi.yml
Labels: Changes: YML

#391 Dressification
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
Labels: Changes: YML

#394 Fast Metabolism Trait
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Prototypes/_DEN/Traits/disabilities.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#395 Roboticist Labcoat/Gloves Exclusivity
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/golemancer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/uncategorized.yml
Labels: Changes: YML, Status: Needs Review

#396 Logistits (Logistics Foldable Unforms.
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_CD/Entities/Clothing/Uniforms/jumpskirt.yml
  Resources/Prototypes/_CD/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatqm.rsi/folded-equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatqm.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cargotech.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cargotech.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/qm.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/qm.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qm.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qmformal.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qmformal.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qmturtle.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qmturtle.rsi/meta.json
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/foreman_coat.rsi/folded-equipped-OUTERCLOTHING.png
  Resources/Textures/_CD/Clothing/OuterClothing/Coats/foreman_coat.rsi/meta.json
  Resources/Textures/_CD/Clothing/OuterClothing/WinterCoats/coat.rsi/folded-CARGO-equipped-OUTERCLOTHING.png
  Resources/Textures/_CD/Clothing/OuterClothing/WinterCoats/coat.rsi/meta.json
  Resources/Textures/_CD/Clothing/Uniforms/Jumpskirt/cargotech_dark.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpskirt/cargotech_dark.rsi/meta.json
  Resources/Textures/_CD/Clothing/Uniforms/Jumpskirt/cargotech_light.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpskirt/cargotech_light.rsi/meta.json
  Resources/Textures/_CD/Clothing/Uniforms/Jumpskirt/qmturtleskirt.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpskirt/qmturtleskirt.rsi/meta.json
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/cargotech_dark.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/cargotech_dark.rsi/meta.json
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/cargotech_light.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/cargotech_light.rsi/meta.json
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/foreman.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/foreman.rsi/meta.json
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/qmturtle.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/qmturtle.rsi/meta.json
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/salvage.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/salvage.rsi/meta.json
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/salvage_operator.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_CD/Clothing/Uniforms/Jumpsuit/salvage_operator.rsi/meta.json
Labels: Changes: YML, Changes: Sprite

#397 Lasagne Meal
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_DEN/Objects/Consumable/Food/meals.rsi/meta.json
  Resources/Textures/_DEN/Objects/Consumable/Food/meals.rsi/redlasagne-slice.png
  Resources/Textures/_DEN/Objects/Consumable/Food/meals.rsi/redlasagne.png
Labels: Changes: YML, Changes: Sprite

#398 Localization Fixes
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Maps/Shuttles/pathfinder.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/engineeringUncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/uncategorized.yml
Labels: Changes: YML, Changes: Map, Changes: Localization

#399 Ore Crabs and Ore Golems Port
  Resources/Prototypes/Entities/Markers/Spawners/Random/anomaly.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Entities/World/Debris/asteroids.yml
  Resources/Prototypes/World/Biomes/basic.yml
  Resources/Prototypes/_NF/Entities/Effects/mobspawn.yml
  Resources/Prototypes/_NF/Entities/Effects/wallspawn.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/_NF/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/_NF/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/_NF/Entities/World/Debris/base_debris.yml
  Resources/Prototypes/_NF/ore.yml
  Resources/Prototypes/ore.yml
  Resources/Textures/_NF/Effects/mobspawn.rsi/crab_bananium.png
  Resources/Textures/_NF/Effects/mobspawn.rsi/crab_coal.png
  Resources/Textures/_NF/Effects/mobspawn.rsi/crab_gold.png
  Resources/Textures/_NF/Effects/mobspawn.rsi/crab_plasma.png
  Resources/Textures/_NF/Effects/mobspawn.rsi/crab_salt.png
  Resources/Textures/_NF/Effects/mobspawn.rsi/golem.png
  Resources/Textures/_NF/Effects/mobspawn.rsi/meta.json
  Resources/Textures/_NF/Mobs/Elemental/golems.rsi/bananium_golem.png
  Resources/Textures/_NF/Mobs/Elemental/golems.rsi/coal_golem.png
  Resources/Textures/_NF/Mobs/Elemental/golems.rsi/gold_golem.png
  Resources/Textures/_NF/Mobs/Elemental/golems.rsi/iron_golem.png
  Resources/Textures/_NF/Mobs/Elemental/golems.rsi/meta.json
  Resources/Textures/_NF/Mobs/Elemental/golems.rsi/plasma_golem.png
  Resources/Textures/_NF/Mobs/Elemental/golems.rsi/quartz_golem.png
  Resources/Textures/_NF/Mobs/Elemental/golems.rsi/salt_golem.png
  Resources/Textures/_NF/Mobs/Elemental/golems.rsi/silver_golem.png
  Resources/Textures/_NF/Mobs/Elemental/golems.rsi/uranium_golem.png
  Resources/Textures/_NF/Mobs/Elemental/orecrab.rsi/bananium_crab.png
  Resources/Textures/_NF/Mobs/Elemental/orecrab.rsi/coal_crab.png
  Resources/Textures/_NF/Mobs/Elemental/orecrab.rsi/gold_crab.png
  Resources/Textures/_NF/Mobs/Elemental/orecrab.rsi/meta.json
  Resources/Textures/_NF/Mobs/Elemental/orecrab.rsi/plasma_crab.png
  Resources/Textures/_NF/Mobs/Elemental/orecrab.rsi/salt_crab.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#403 It's Fine!
  Content.IntegrationTests/Tests/PostMapInitTest.cs
Labels: Changes: YML, Changes: C#
