Repository TheDenSS14/TheDen, pull requests merged in 2025-04, with the labels that each got.

#402 Psionic Stuff
  Resources/Locale/en-US/psionics/psionic-powers.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/knives.yml
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
  Resources/Prototypes/Psionics/psionics.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#406 Loadout Mega Changes (Please Test Gods, Spare Me)
  Resources/Locale/en-US/loadouts/categories.ftl
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Locale/en-US/loadouts/items.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/beltGroup.yml
  Resources/Prototypes/CharacterItemGroups/Generic/gloveGroup.yml
  Resources/Prototypes/CharacterItemGroups/Generic/miscItemGroups.yml
  Resources/Prototypes/Floof/CharacterItemGroups/maskGroup.yml
  Resources/Prototypes/Floof/Loadouts/items.yml
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/Loadouts/Generic/hands.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/Loadouts/Generic/mask.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#405 Quickfixes
  Resources/Prototypes/Entities/Objects/Specific/Mail/Items/misc.yml
  Resources/Prototypes/Entities/Objects/Tools/hand_labeler.yml
  Resources/Prototypes/Psionics/PsionicPowerPool.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_ADT/Mobs/Customization/reptilian/Reptilian.yml
Labels: Changes: YML, Status: Needs Review

#407 Remove Changeling Infection Implant
  Resources/Prototypes/_Funkystation/Store/uplink_catalog.yml
Labels: Changes: YML

#408 Woof
  Resources/Prototypes/Language/genericlanguages.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: YML

#410 Minor Fixes for Feroxi
  Resources/Locale/en-US/_DV/markings/feroxi.ftl
  Resources/Prototypes/Language/Species-Specific/feroxi.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/feroxi.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#411 Vulp Emote Fix
  Resources/Prototypes/Floof/Voice/speech_emotes.yml
Labels: Changes: YML, Status: Needs Review

#409 Canid (Reject Catgirl, Embrace Dogboy)
  Resources/Locale/en-US/_DEN/chat/chat-language.ftl
  Resources/Locale/en-US/_DEN/species/species.ftl
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Locale/en-US/language/languages.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Prototypes/DeltaV/Traits/altvision.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/face.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_noses.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_tails.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/makeup.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/wrist.yml
  Resources/Prototypes/Guidebook/species.yml
  Resources/Prototypes/Language/Species-Specific/canid.yml
  Resources/Prototypes/Species/species_weights.yml
  Resources/Prototypes/Traits/neutral.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_DEN/Damage/modifier_sets.yml
  Resources/Prototypes/_DEN/Datasets/Names/canid_first_female.yml
  Resources/Prototypes/_DEN/Datasets/Names/canid_first_male.yml
  Resources/Prototypes/_DEN/Datasets/Names/canid_last.yml
  Resources/Prototypes/_DEN/Entities/Body/Prototypes/canid.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Player/canid.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Species/canid.yml
  Resources/Prototypes/_DEN/Guidebook/species.yml
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/kemonomimi_limbs.yml
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/nipplepiercings.yml
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/nipples.yml
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/pubes.yml
  Resources/Prototypes/_DEN/Species/canid.yml
  Resources/Prototypes/_DEN/Traits/languages.yml
  Resources/Prototypes/_DEN/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc2.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
  Resources/ServerInfo/Guidebook/Mobs/_DEN/Canid.xml
Labels: Changes: YML, Changes: Localization, Changes: Documentation, Status: Needs Review

#413 RSI Quickfix
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle1.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/scars.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#412 BSO AK
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Textures/_DEN/Objects/Weapons/Guns/Rifles/bsoak.rsi/base.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Rifles/bsoak.rsi/bolt-open.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Rifles/bsoak.rsi/equipped-BACKPACK.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Rifles/bsoak.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Rifles/bsoak.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Rifles/bsoak.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Rifles/bsoak.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Rifles/bsoak.rsi/mag-0.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Rifles/bsoak.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Guns/Rifles/bsoak.rsi/wielded-inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/Rifles/bsoak.rsi/wielded-inhand-right.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#404 More Loadout Fixes
  Resources/Locale/en-US/loadouts/jobs/security.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/golemancer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/bartender.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/botanist.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/janitor.yml
  Resources/Prototypes/Floof/Loadouts/outerClothing.yml
  Resources/Prototypes/Loadouts/Generic/hands.yml
  Resources/Prototypes/Loadouts/Generic/uniform.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/golemancer.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/uncategorized.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/bartender.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/janitor.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/mime.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
Labels: Changes: YML, Changes: Localization

#414 Canid Smell and Make Footsteppies
  Resources/Prototypes/_DEN/Entities/Mobs/Species/canid.yml
Labels: Changes: YML, Status: Needs Review

#415 (Temp) Hotfix for Wheel Chair Trait
  Resources/Prototypes/_DEN/Traits/physical.yml
Labels: Changes: YML, Status: Needs Review

#417 Localization Quickfixes
  Resources/Locale/en-US/_Goobstation/lathe/lathe-categories.ftl
  Resources/Locale/en-US/materials/materials.ftl
  Resources/Prototypes/Traits/mental.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/mech_construction.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#420 Straight up Twerking on It
  Resources/Prototypes/Floof/Traits/physical.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_DEN/Traits/physical.yml
  Resources/Prototypes/_Goobstation/Traits/disabilities.yml
Labels: Changes: YML

#422 Give Felinids the Human Animal Colours
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
Labels: Changes: YML, Status: Needs Review

#424 Canid Nameslist
  Resources/Prototypes/_DEN/Species/canid.yml
Labels: Changes: YML, Status: Needs Review

#426 Couple Localization Fixes
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/crushers.yml
Labels: Changes: YML, Changes: Localization

#427 Language Trait Fixes, Tweaks and Changes
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
  Resources/Prototypes/Traits/languages.yml
  Resources/Prototypes/_EE/Traits/languages.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#428 Shoukou Minor Changes (and Lavaland I Guess)
  Resources/Maps/TheDen/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#432 Moos and Weight Trait Tweaks
  Resources/Audio/_DEN/cow-moo1.ogg
  Resources/Audio/_DEN/cow-moo2.ogg
  Resources/Audio/_DEN/cow-moo3.ogg
  Resources/Audio/_DEN/cow-moo4.ogg
  Resources/Locale/en-US/chat/emotes.ftl
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Floof/Traits/physical.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/Oni.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/Oni.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DEN/SoundCollections/oni.yml
  Resources/Prototypes/_DEN/Traits/physical.yml
  Resources/Prototypes/_DEN/Voice/speech_emotes.yml
  Resources/Prototypes/tags.yml
Labels: Changes: YML, Changes: Localization, Changes: Audio, Status: Needs Review

#431 Asterisk Face-Lift (Greggified)
  Resources/Maps/TheDen/asterisk.yml
Labels: Changes: YML, Changes: Map

#433 Straightupbugginmyshitigothiveonmyhoneystraightupbuzzingit (Hive Updates)
  Resources/Maps/TheDen/hive.yml
Labels: Changes: YML, Changes: Map

#429 Marking Whitelists
  Resources/Prototypes/Floof/CharacterItemGroups/maskGroup.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc.yml
Labels: Changes: YML

#435 Sinta'azaziba Hotfix
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
Labels: Changes: YML, Status: Needs Review

#437 Vocal Dionae, Take Two
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: Changes: YML

#440 Updated Asterisk and Migrations
  Resources/Maps/asterisk.yml
  Resources/Migrations/denMigrations.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#425 Document Printer Localization Update
  Resources/Locale/en-US/corvax/lathe/lathe-categories.ftl
  Resources/Locale/en-US/corvax/paper/doc-printer.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/catalog/fills/paper/document.ftl
  Resources/Prototypes/Corvax/Entities/Structures/Machines/printer.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/categories.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/printer.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#442 Belt Changes and Side Tweaks
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Clothing/Belt/base_clothingbelt.yml
  Resources/Prototypes/InventoryTemplates/ipc_inventory_template.yml
  Resources/Prototypes/_Imp/_Drone/Mobs_Player_silicon.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#443 Rat King Hands
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: Changes: YML, Status: Needs Review

#439 Glacier Update
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: YML, Changes: Map

#416 More Fixes for Feroxi
  Resources/Prototypes/_DV/Entities/Mobs/Species/feroxi.yml
  Resources/Prototypes/_DV/voice/speech_emotes.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/_DV/Mobs/Customization/Feroxi/body_markings.rsi/feroxi-torso-countershading-f.png
Labels: Changes: YML, Changes: Sprite

#449 Feroxi Tail for Humans
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/feroxi.yml
Labels: Changes: YML, Status: Needs Review

#448 Lizard Markings Port
  Resources/Locale/en-US/_white/markings/reptilian.ftl
  Resources/Prototypes/_White/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/meta.json
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spines_aquatic.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spines_aquatic_alt.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spines_long.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spines_long_alt.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spines_longmembrane.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spines_longmembrane_alt.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spines_short.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spines_short_alt.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spines_shortmembrane.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spines_shortmembrane_alt.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spineswag_aquatic.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spineswag_long.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spineswag_longmembrane.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spineswag_short.png
  Resources/Textures/_White/Mobs/Customization/reptilian.rsi/spineswag_shortmembrane.png
  Resources/Textures/_White/Mobs/Customization/reptilian_64x32.rsi/meta.json
  Resources/Textures/_White/Mobs/Customization/reptilian_64x32.rsi/snake_large.png
  Resources/Textures/_White/Mobs/Customization/reptilian_64x32.rsi/snake_large_overlay.png
  Resources/Textures/_White/Mobs/Customization/reptilian_64x32.rsi/snake_large_wagging.png
  Resources/Textures/_White/Mobs/Customization/reptilian_64x32.rsi/snake_large_wagging_overlay.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/cobra_hood_with_ears.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/cobra_hood_with_ears_overlay.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_argali_l.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_argali_r.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_ayrshire_l.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_ayrshire_r.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_bighorn_l.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_bighorn_r.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_curled_l.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_curled_r.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_double_l.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_double_r.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_myrsore_l.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_myrsore_r.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_ram_l.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_ram_r.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_short_l.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_short_r.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_simple_l.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/horns_simple_r.png
  Resources/Textures/_White/Mobs/Customization/reptilian_parts.rsi/meta.json
  Resources/Textures/_White/Mobs/Customization/snouts.rsi/eastern_dragon.png
  Resources/Textures/_White/Mobs/Customization/snouts.rsi/eastern_dragon_overlay.png
  Resources/Textures/_White/Mobs/Customization/snouts.rsi/eastern_dragon_usiki.png
  Resources/Textures/_White/Mobs/Customization/snouts.rsi/guilmon.png
  Resources/Textures/_White/Mobs/Customization/snouts.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#451 Flag Decor
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/tableflag.yml
  Resources/Prototypes/_DEN/Entities/Structures/Wallmounts/Signs/flags.yml
  Resources/Textures/_DEN/Objects/Misc/tableflag.rsi/meta.json
  Resources/Textures/_DEN/Objects/Misc/tableflag.rsi/tableflagblank.png
  Resources/Textures/_DEN/Objects/Misc/tableflag.rsi/tableflagtrans.png
  Resources/Textures/_DEN/Structures/Wallmounts/trans_flag.rsi/meta.json
  Resources/Textures/_DEN/Structures/Wallmounts/trans_flag.rsi/trans_flag_left.png
  Resources/Textures/_DEN/Structures/Wallmounts/trans_flag.rsi/trans_flag_right.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#450 Glacier QOL
  Resources/Maps/TheDen/glacier.yml
Labels: Changes: YML, Changes: Map

#444 Leopard Tail for Tajarans
  Resources/Locale/en-US/_EE/markings/tajaran.ftl
  Resources/Prototypes/_EE/Entities/Mobs/Customization/Markings/tajaran.yml
  Resources/Textures/_EE/Mobs/Customization/Tajaran/leotail.rsi/leopard_primary.png
  Resources/Textures/_EE/Mobs/Customization/Tajaran/leotail.rsi/leopard_tertiary.png
  Resources/Textures/_EE/Mobs/Customization/Tajaran/leotail.rsi/leotailanim_primary.png
  Resources/Textures/_EE/Mobs/Customization/Tajaran/leotail.rsi/leotailanim_secondary.png
  Resources/Textures/_EE/Mobs/Customization/Tajaran/leotail.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#454 Unlimited Racial Languages
  Resources/Prototypes/Traits/languages.yml
  Resources/Prototypes/_DEN/Traits/languages.yml
  Resources/Prototypes/_EE/Traits/languages.yml
Labels: Changes: YML

#455 Arachne Are No Longer Robotic Legs
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML, Status: Needs Review

#456 Fixadawireslikesomesortasickasselectrician
  Resources/Maps/TheDen/hive.yml
Labels: Changes: YML, Changes: Map

#452 Tile Cutter Port
  Resources/Audio/Machines/attributions.yml
  Resources/Audio/Machines/cutter.ogg
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Recipes/Lathes/tiles.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/Objects/Tiles/tile.rsi/concrete-mono.png
  Resources/Textures/Objects/Tiles/tile.rsi/concrete-smooth.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark-diagonal-mini.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark-diagonal.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark-herringbone.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark-mini.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark-mono.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark-offset.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark-pavement-vertical.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark-pavement.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark.png
  Resources/Textures/Objects/Tiles/tile.rsi/grayconcrete-mono.png
  Resources/Textures/Objects/Tiles/tile.rsi/grayconcrete-smooth.png
  Resources/Textures/Objects/Tiles/tile.rsi/meta.json
  Resources/Textures/Objects/Tiles/tile.rsi/oldconcrete-mono.png
  Resources/Textures/Objects/Tiles/tile.rsi/oldconcrete-smooth.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel-diagonal-mini.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel-diagonal.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel-herringbone.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel-mini.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel-mono.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel-offset.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel-pavement-vertical.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel-pavement.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel.png
  Resources/Textures/Objects/Tiles/tile.rsi/white-diagonal-mini.png
  Resources/Textures/Objects/Tiles/tile.rsi/white-diagonal.png
  Resources/Textures/Objects/Tiles/tile.rsi/white-herringbone.png
  Resources/Textures/Objects/Tiles/tile.rsi/white-mini.png
  Resources/Textures/Objects/Tiles/tile.rsi/white-mono.png
  Resources/Textures/Objects/Tiles/tile.rsi/white-offset.png
  Resources/Textures/Objects/Tiles/tile.rsi/white-pavement-vertical.png
  Resources/Textures/Objects/Tiles/tile.rsi/white-pavement.png
  Resources/Textures/Objects/Tiles/tile.rsi/white.png
  Resources/Textures/Structures/Machines/cuttermachine.rsi/building.png
  Resources/Textures/Structures/Machines/cuttermachine.rsi/icon.png
  Resources/Textures/Structures/Machines/cuttermachine.rsi/meta.json
  Resources/Textures/Structures/Machines/cuttermachine.rsi/panel.png
  Resources/Textures/Structures/Machines/cuttermachine.rsi/unlit.png
Labels: Changes: YML, Changes: Audio, Changes: Sprite, Status: Needs Review

#458 Resprite Telegnosis
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/special.yml
  Resources/Textures/_DEN/Mobs/Ghosts/telegnosis.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Ghosts/telegnosis.rsi/telegnosis.png
Labels: Changes: YML, Changes: Sprite

#457 Fixing Asterisk Part Three: Soju Vision Quest
  Resources/Maps/TheDen/asterisk.yml
Labels: Changes: YML, Changes: Map

#460 Fixes and Tweaks
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/cooking.yml
  Resources/Prototypes/_EE/Entities/Clothing/SolAlliance/SAN/startingGear.yml
  Resources/Prototypes/_EE/Gamerules/SANDeserters.yml
Labels: Changes: YML, Status: Needs Review

#461 Psionic Insulation Tweaks
  Resources/Locale/en-US/_DEN/traits/misc.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#447 Ethanol Content Fix & Aphro Tweaks
  Resources/Prototypes/DeltaV/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Floof/Reagents/Aphrodisiacs/medicine.yml
  Resources/Prototypes/Floof/Reagents/Aphrodisiacs/narcotics.yml
  Resources/Prototypes/Floof/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Floof/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/Floof/Recipes/Reactions/drinks.yml
  Resources/Prototypes/Nyanotrasen/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Nyanotrasen/Reagents/Consumable/Drink/lean.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/soda.yml
  Resources/Prototypes/Reagents/elements.yml
Labels: Changes: YML, Status: Needs Review

#464 Blueshield and Admin Assistant Additions
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Locale/en-US/paper/stamp-component.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Lockers/adminassistant.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Command/administrative_assistant.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-bso.png
  Resources/Textures/Objects/Misc/id_cards.rsi/adminassistant.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/Objects/Misc/stamps.rsi/stamp-bso.png
  Resources/Textures/Structures/Storage/closet.rsi/admin_assist.png
  Resources/Textures/Structures/Storage/closet.rsi/admin_assist_door.png
  Resources/Textures/Structures/Storage/closet.rsi/admin_assist_open.png
  Resources/Textures/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/_DEN/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/_DEN/Objects/Misc/bureaucracy.rsi/pen_bso.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#463 CherryPick
  Content.Client/DeltaV/AACTablet/UI/AACBoundUserInterface.cs
  Content.Client/DeltaV/AACTablet/UI/AACWindow.xaml
  Content.Client/DeltaV/AACTablet/UI/AACWindow.xaml.cs
  Content.Client/Eye/PenLight/UI/PenLightBoundUserInterface.cs
  Content.Server/Medical/PenLightSystem.cs
Labels: Changes: YML, Changes: C#, Changes: UI, Status: Needs Review

#466 Furred Torso
  Resources/Locale/en-US/markings/kemonomimi_limbs.ftl
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/kemonomimi_limbs.yml
  Resources/Textures/_DEN/Mobs/Customization/Body/kemonomimi-limbs.rsi/furred_torso_f.png
  Resources/Textures/_DEN/Mobs/Customization/Body/kemonomimi-limbs.rsi/furred_torso_m.png
  Resources/Textures/_DEN/Mobs/Customization/Body/kemonomimi-limbs.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite

#465 Pebble Overhaul Part 1: "Jenn's Great Idea"
  Resources/Maps/TheDen/pebble.yml
  Resources/Prototypes/Maps/pebble.yml
Labels: Changes: YML, Changes: Map

#470 More Tails for Oni
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_tails.yml
  Resources/Prototypes/_ADT/Mobs/Customization/reptilian/Reptilian.yml
Labels: Changes: YML, Status: Needs Review

#471 Port (Totally Tay's and Not Mine) Funky's Whitelist Action
  Content.Server/Administration/ServerApi.cs
  Content.Server/_Funkystation/Administration/ServerApi.Funkystation.cs
Labels: Changes: YML, Changes: C#

#473 Passport Slot in PDAs
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Changes: YML, Status: Needs Review

#474 Fixing of some of the Kenomimi Markings
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/kemonomimi_limbs.yml
  Resources/Textures/_DEN/Mobs/Customization/Body/kemonomimi-limbs.rsi/furred_l_hand.png
  Resources/Textures/_DEN/Mobs/Customization/Body/kemonomimi-limbs.rsi/furred_r_hand.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#472 Minor Asterisk Tweaks
  Resources/Maps/TheDen/asterisk.yml
Labels: Changes: YML, Changes: Map

#467 Large Bnunny Ears
  Resources/Locale/en-US/deltav/markings/rodentia.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/rodentia.yml
  Resources/Textures/DeltaV/Mobs/Customization/Rodentia/tall_ear_markings.rsi/ears_bunny_large_primary.png
  Resources/Textures/DeltaV/Mobs/Customization/Rodentia/tall_ear_markings.rsi/ears_bunny_large_secondary.png
  Resources/Textures/DeltaV/Mobs/Customization/Rodentia/tall_ear_markings.rsi/ears_bunny_large_tertiary.png
  Resources/Textures/DeltaV/Mobs/Customization/Rodentia/tall_ear_markings.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#476 Ported a Number of Energy Gun Buffs and Tweaks From DeltaV
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Changes: YML, Status: Needs Review

#477 Dewhitelist API
  Content.Server/_Funkystation/Administration/ServerApi.Funkystation.cs
Labels: Changes: YML, Changes: C#

#478 Status API: Characters
  Content.Server/GameTicking/GameTicker.StatusShell.cs
Labels: Changes: YML, Changes: C#

#479 Remove Ashing
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: Changes: YML, Status: Needs Review

#480 Body Parts Ash Threshold
  Resources/Prototypes/Body/Parts/base.yml
  Resources/Prototypes/Body/Parts/harpy.yml
  Resources/Prototypes/DeltaV/Body/Parts/vulpkanin.yml
Labels: Changes: YML, Status: Needs Review

#483 Quicktweaks
  Resources/Prototypes/Datasets/tips.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Recipes/Lathes/sheet.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/materials.yml
Labels: Changes: YML

#481 Rabbit Ears Fix
  Resources/Textures/DeltaV/Mobs/Customization/Rodentia/tall_ear_markings.rsi/ears_bunny_large_secondary.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite

#493 Foot Protectors Copyright Fix
  Resources/Textures/_DEN/Clothing/Shoes/Misc/foot_protectors.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#482 Footprints Fix
  Content.Server/FootPrint/FootPrintsSystem.cs
Labels: Changes: YML, Changes: C#

#492 Quick Tweaks and Additions
  Content.Server/DeltaV/NPC/Roboisseur/RoboisseurSystem.cs
  Resources/Prototypes/Body/Organs/moth.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Medical/uncategorized.yml
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/medglasses_visor.rsi/equipped-EYES.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/medglasses_visor.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/medglasses_visor.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/medglasses_visor.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Eyes/Glasses/medglasses_visor.rsi/meta.json
Labels: Changes: YML, Changes: C#, Changes: Sprite
