Repository TheDenSS14/TheDen, pull requests merged in 2025-08, with the labels that each got.

#1275 Refactor: Move Ion Storm Notification to Its Own Component
  Content.Server/StationEvents/Events/IonStormRule.cs
  Content.Server/_CD/Traits/SynthComponent.cs
  Content.Server/_DEN/Announcements/IonStormNotifierComponent.cs
  Content.Shared/Silicon/Components/SiliconComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML, Changes: C#

#1279 [HOTFIX] Tweak: Make Muzzle Accents Not Toggleable
  Content.Server/Speech/Components/AddAccentClothingComponent.cs
  Content.Server/Speech/EntitySystems/AddAccentClothingSystem.cs
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1270 Edit Ghost Description
  Resources/Locale/en-US/_Impstation/ghost/roles/ghost-role-component.ftl
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#1289 Please Don't Make Pull Requests This Big (Shitton of Cooking Updates)
  Content.Server/Nutrition/EntitySystems/FoodSequenceSystem.cs
  Content.Server/Nyanotrasen/Kitchen/EntitySystems/DeepFryerSystem.Storage.cs
  Content.Server/Nyanotrasen/Kitchen/EntitySystems/DeepFryerSystem.cs
  Content.Shared/Nutrition/Components/FoodSequenceStartPointComponent.cs
  Resources/Locale/en-US/_DEN/guidebook/guides.ftl
  Resources/Locale/en-US/_DEN/kitchen/deep-fryer-component.ftl
  Resources/Locale/en-US/_DEN/nutrition/components/food-sequence.ftl
  Resources/Locale/en-US/nutrition/components/food-sequence.ftl
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Organs/Animal/ruminant.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/deep_fryer.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Recipes/Cooking/food_sequence_element.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/_DEN/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_DEN/Guidebook/service.yml
  Resources/Prototypes/_DEN/Recipes/Construction/Graphs/Food/meat.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/food_sequence_element.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/sequence_metamorph.yml
  Resources/Prototypes/_DEN/tags.yml
  Resources/Prototypes/_DV/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_DV/Recipes/Reactions/food.yml
  Resources/ServerInfo/Guidebook/_DEN/Cooking/SequenceCooking.xml
  Resources/Textures/_DEN/Objects/Consumable/Food/burger_sequence.rsi/bearmeat.png
  Resources/Textures/_DEN/Objects/Consumable/Food/burger_sequence.rsi/birdmeat.png
  Resources/Textures/_DEN/Objects/Consumable/Food/burger_sequence.rsi/bloodtomato.png
  Resources/Textures/_DEN/Objects/Consumable/Food/burger_sequence.rsi/bluetomato.png
  Resources/Textures/_DEN/Objects/Consumable/Food/burger_sequence.rsi/chanterelle.png
  Resources/Textures/_DEN/Objects/Consumable/Food/burger_sequence.rsi/chili.png
  Resources/Textures/_DEN/Objects/Consumable/Food/burger_sequence.rsi/chilly.png
  Resources/Textures/_DEN/Objects/Consumable/Food/burger_sequence.rsi/fishmeat.png
  Resources/Textures/_DEN/Objects/Consumable/Food/burger_sequence.rsi/leaf.png
  Resources/Textures/_DEN/Objects/Consumable/Food/burger_sequence.rsi/lizardmeat.png
  Resources/Textures/_DEN/Objects/Consumable/Food/burger_sequence.rsi/meat.png
  Resources/Textures/_DEN/Objects/Consumable/Food/burger_sequence.rsi/meta.json
  Resources/Textures/_DEN/Objects/Consumable/Food/burger_sequence.rsi/spidermeat.png
  Resources/Textures/_DEN/Objects/Consumable/Food/burger_sequence.rsi/tofu.png
  Resources/Textures/_DEN/Objects/Consumable/Food/burger_sequence.rsi/tomato.png
  Resources/Textures/_DEN/Objects/Consumable/Food/burger_sequence.rsi/xenomeat.png
  Resources/Textures/_DEN/Objects/Consumable/Food/ingredients.rsi/meta.json
  Resources/Textures/_DEN/Objects/Consumable/Food/ingredients.rsi/sausage_casing.png
  Resources/Textures/_DEN/Objects/Consumable/Food/ingredients.rsi/sausage_casing_roll.png
  Resources/Textures/_DEN/Objects/Consumable/Food/meat.rsi/cooked_fish.png
  Resources/Textures/_DEN/Objects/Consumable/Food/meat.rsi/cutlet_fish.png
  Resources/Textures/_DEN/Objects/Consumable/Food/meat.rsi/cutlet_fish_raw.png
  Resources/Textures/_DEN/Objects/Consumable/Food/meat.rsi/meta.json
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Documentation, Changes: Sprite, Status: Needs Review

#1296 Make Bodybuilder/Weakling Actually Do Something
  Content.Shared/Movement/Pulling/Components/PullerComponent.cs
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1294 Tweaked CE's Jetpack
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
Labels: Changes: YML, Status: Needs Review

#1291 [FIX]: Reduce Modsuit Power Draw Till Proper Fix Is in Place
  Resources/Prototypes/_Goobstation/Entities/Clothing/Back/modsuit.yml
Labels: Changes: YML, Status: Needs Review

#1295 Bloodfeeders Can Examine Blood (and so Can You, for 1 Trait Point)
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Vampire/BloodSuckerComponent.cs
  Content.Server/Vampire/BloodSuckerSystem.cs
  Content.Server/_DEN/Body/Components/BloodExaminerComponent.cs
  Content.Server/_DEN/Body/Systems/BloodstreamSystem.cs
  Content.Server/_DEN/Vampiric/BloodSuckerSystem.cs
  Resources/Locale/en-US/_DEN/bloodstream/blood-examiner-component.ftl
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_DEN/Traits/biological.yml
  Resources/Prototypes/_Floof/Traits/physical.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review

#1306 Clientside Consent
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/UserInterface/Systems/MenuBar/GameTopMenuBarUIController.cs
  Content.Client/_Floof/Consent/ClientConsentManager.cs
  Content.Client/_Floof/Consent/ConsentSystem.cs
  Content.Client/_Floof/Consent/IClientConsentManager.cs
  Content.Client/_Floof/Consent/UI/ConsentUiController.cs
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml.cs
  Content.Server/Abilities/Psionics/Abilities/MindSwapPowerSystem.cs
  Content.Server/Consent/ConsentSystem.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Server/Database/UserDbDataManager.cs
  Content.Server/Devour/DevourSystem.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/FloofStation/Abilities/Psionics/Abilities/PsionicHypnoSystem.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/StationEvents/Events/MassMindSwapRule.cs
  Content.Server/_DEN/Devour/DevourSystem.DEN.cs
  Content.Server/_DEN/Devourable/DevourableSystem.cs
  Content.Server/_DV/ParadoxAnomaly/Systems/ParadoxAnomalySystem.cs
  Content.Server/_Floof/Consent/ConsentSystem.cs
  Content.Server/_Floof/Consent/IServerConsentManager.cs
  Content.Server/_Floof/Consent/ServerConsentManager.cs
  Content.Shared/Atmos/Rotting/SharedRottingSystem.cs
  Content.Shared/Devour/SharedDevourSystem.cs
  Content.Shared/Mind/SharedMindSystem.cs
  Content.Shared/_DEN/Devourable/DevourableComponent.cs
  Content.Shared/_DEN/Unrotting/DragonUnrottingComponent.cs
  Content.Shared/_Floof/Consent/ConsentTogglePrototype.cs
  Content.Shared/_Floof/Consent/MsgUpdateConsent.cs
  Content.Shared/_Floof/Consent/PlayerConsentSettings.cs
  Content.Shared/_Floof/Consent/SharedConsentSystem.cs
  Content.Shared/_Floof/Examine/CustomExamineSystem.cs
Labels: Changes: YML, Changes: C#, Changes: UI

#1307 Last Message Before Death
  Content.Server/Administration/BanPanelEui.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Server/_Wizden/Chat/Systems/LastMessageBeforeDeathSystem.cs
  Content.Server/_Wizden/Discord/Managers/LastMessageWebhookManager.cs
  Content.Shared/CCVar/CCVars.Discord.cs
  Content.Shared/_Impstation/CCVar/ImpCCVars.cs
  Resources/Locale/en-US/Blep/consent.ftl
  Resources/Locale/en-US/_Impstation/discord/lastmessage.ftl
  Resources/Prototypes/consent.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#1311 Lower Cold Slowdown
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/chitinid.yml
Labels: Changes: YML, Status: Needs Review

#1305 Feat: The AAC Tablet Can Send Messages Directly over the Radio
  Content.Client/_DV/AACTablet/UI/AACBoundUserInterface.cs
  Content.Client/_DV/AACTablet/UI/AACWindow.xaml
  Content.Client/_DV/AACTablet/UI/AACWindow.xaml.cs
  Content.Client/_starcup/AACTablet/UI/AACBoundUserInterface.cs
  Content.Client/_starcup/AACTablet/UI/AACWindow.xaml.cs
  Content.Server/_DV/AACTablet/AACTabletSystem.cs
  Content.Server/_starcup/AACTablet/AACTabletSystem.cs
  Content.Shared/_DV/AACTablet/AACTabletUiMessages.cs
  Content.Shared/_starcup/AACTablet/AACTabletBuiState.cs
  Resources/Prototypes/_DV/Entities/Objects/Devices/aac_tablet.yml
Labels: Changes: YML, Changes: C#, Changes: UI, Status: Needs Review

#1317 [TWEAK]: Changed Admin Chat Color to Green
  Content.Shared/Chat/ChatChannelExtensions.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1318 Fix Heirloom Loadout Crash
  Content.Shared/Clothing/Loadouts/Systems/SharedLoadoutSystem.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1325 Advertise Radio Channel!
  Content.IntegrationTests/Tests/EncryptionKeys/RemoveEncryptionKeys.cs
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
  Content.Shared/Radio/RadioChannelPrototype.cs
  Resources/Locale/en-US/headset/headset-component.ftl
  Resources/Prototypes/_DEN/radio_channels.yml
  Resources/Prototypes/radio_channels.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#1314 [FIX]: Turrets Shoot Laying Down People
  Content.Server/NPC/Components/NPCRangedCombatComponent.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Combat/Ranged/GunOperator.cs
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1327 No Admins Count because They Can Bypass
  Content.Server/Connection/ConnectionManager.cs
Labels: Changes: YML, Changes: C#

#1320 Give Clown, Mime, and Martial Artist Service Access + Remove Service Access From Security
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/martialartist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Changes: YML, Status: Direction Approved

#1339 Restore Knife Storage for Security Thigh-High Socks
  Resources/Prototypes/_Floof/Entities/Clothing/departmental_clothes.yml
Labels: Changes: YML, Status: Needs Review

#1341 Event Map for Lycaon and Lyle Wedding
  Resources/Maps/_DEN/Nonstations/weddingl.yml
Labels: Changes: YML, Changes: Map

#1257 Workflows Adjustment V2
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/conflict-labeler.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/reuse-updater.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate-rsis.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
Labels: Changes: YML, Changes: Workflow, Status: Needs Review, Status: Needs Direction Review

#1338 Add Consentprefs Command that Can Be Used Anytime
  Content.Client/_DEN/Consent/ConsentEui.cs
  Content.Server/_DEN/Consent/ConsentEui.cs
  Content.Server/_DEN/Consent/ConsentWindowCommand.cs
  Resources/Locale/en-US/_DEN/commands/consent-window-command.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review

#1297 Refactor: Allow Voice to Be Nullable on Import
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.IntegrationTests/Tests/Preferences/ServerDbSqliteTests.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: Changes: YML, Changes: C#, Changes: UI, Status: Needs Review

#1266 Accent Fix pt.1: German Redux and Italian Racism Patch
  Content.Server/Speech/EntitySystems/GermanAccentSystem.cs
  Resources/Locale/en-US/accent/german.ftl
  Resources/Locale/en-US/accent/italian.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Awaiting Changes

#1326 Dragons Can Emote Again
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: Changes: YML, Status: Needs Review

#1329 Slight Clown Mask Resprite + Hideable Wig Port From Impstation
  Resources/Locale/en-US/_Impstation/foldable/foldable-component.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/clown.yml
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/equipped-MASK-hamster.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/equipped-MASK-vox.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/equipped-MASK.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/icon-wigless.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/wigless-equipped-MASK-hamster.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/wigless-equipped-MASK-reptilian.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/wigless-equipped-MASK-vox.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/wigless-equipped-MASK-vulpkanin.png
  Resources/Textures/_DEN/Clothing/Mask/clown.rsi/wigless-equipped-MASK.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/equipped-MASK-hamster.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/equipped-MASK-vox.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/equipped-MASK.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/icon-wigless.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/wigless-equipped-MASK-hamster.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/wigless-equipped-MASK-reptilian.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/wigless-equipped-MASK-vox.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/wigless-equipped-MASK-vulpkanin.png
  Resources/Textures/_DEN/Clothing/Mask/clown_ancient.rsi/wigless-equipped-MASK.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review, Status: Maintainer Approved

#1346 Conveyer Belt Resprite
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/Entities/Structures/conveyor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/conveyor.yml
  Resources/Prototypes/Recipes/Construction/machines.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/_DEN/Structures/conveyor.rsi/conveyor_loose.png
  Resources/Textures/_DEN/Structures/conveyor.rsi/conveyor_started_ccw.png
  Resources/Textures/_DEN/Structures/conveyor.rsi/conveyor_started_ccw_r.png
  Resources/Textures/_DEN/Structures/conveyor.rsi/conveyor_started_cw.png
  Resources/Textures/_DEN/Structures/conveyor.rsi/conveyor_started_cw_r.png
  Resources/Textures/_DEN/Structures/conveyor.rsi/conveyor_stopped_ccw.png
  Resources/Textures/_DEN/Structures/conveyor.rsi/conveyor_stopped_cw.png
  Resources/Textures/_DEN/Structures/conveyor.rsi/meta.json
  Resources/Textures/_DEN/Structures/conveyor.rsi/switch-fwd.png
  Resources/Textures/_DEN/Structures/conveyor.rsi/switch-off.png
  Resources/Textures/_DEN/Structures/conveyor.rsi/switch-rev.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#1319 Fix Chaplains Showing up as Unknown Department on Crew Monitor
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Labels: Changes: YML, Status: Needs Review

#1330 Moth Motes
  Resources/Locale/en-US/_DEN/traits/speech.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/miscTraitGroups.yml
  Resources/Prototypes/Traits/speech.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/tags.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#1345 Cherrypick: Medical JoL
  Content.Server/_DV/Tools/PryingRequiresPowerComponent.cs
  Content.Server/_DV/Tools/PryingRequiresPowerSystem.cs
  Content.Shared/Prying/Systems/PryingSystem.cs
  Resources/Locale/en-US/_DV/prototypes/entities/tools/jaws-of-life.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/_DV/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/_DV/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/_DV/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/_DV/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Textures/_DV/Objects/Tools/emergency_jaws_of_life.rsi/equipped-BELT.png
  Resources/Textures/_DV/Objects/Tools/emergency_jaws_of_life.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Tools/emergency_jaws_of_life.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Tools/emergency_jaws_of_life.rsi/jaws_cutter.png
  Resources/Textures/_DV/Objects/Tools/emergency_jaws_of_life.rsi/jaws_pry.png
  Resources/Textures/_DV/Objects/Tools/emergency_jaws_of_life.rsi/meta.json
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Sprite, Status: Needs Review

#1344 More Command Completions
  Content.Server/Abilities/Psionics/PsionicAbilitiesSystem.cs
  Content.Server/Administration/Commands/SetMindCommand.cs
  Content.Server/Commands/ContentCompletionHelper.cs
  Content.Server/Objectives/Commands/AddObjectiveCommand.cs
  Content.Server/Objectives/Commands/RemoveObjectiveCommand.cs
  Content.Server/Objectives/ObjectivesSystem.cs
  Content.Server/Psionics/PsionicsCommands.cs
  Content.Server/_DEN/Psionics/PsionicAbilitiesSystem.DEN.cs
  Content.Shared/Mind/SharedMindSystem.cs
  Resources/Locale/en-US/administration/commands/set-mind-command.ftl
  Resources/Locale/en-US/objectives/commands/addobjectives.ftl
  Resources/Locale/en-US/objectives/commands/rmobjective.ftl
  Resources/Locale/en-US/psionics/psionic-commands.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization

#1361 [FIX]: Fixed Xeno Thermal Vision/NV
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
Labels: Changes: YML, Status: Needs Review

#1362 Psionic Hypnosis Changes
  Content.Client/Floofstation/HypnotizedSystem.cs
  Content.Client/Floofstation/PsionicHypnoSystem.cs
  Content.Server/FloofStation/Abilities/Psionics/Abilities/PsionicHypnoSystem.cs
  Content.Shared/Floofstation/Hypno/HypnotizedComponent.cs
  Resources/Prototypes/_Floof/Actions/psionics.yml
  Resources/Prototypes/_Floof/psionics.yml
Labels: Changes: YML, Changes: C#

#1351 Kill Bottle and Toy Crate
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/_Floof/Catalog/Fills/Crates/lewd.yml
  Resources/Prototypes/_Floof/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
Labels: Changes: YML, Status: Needs Review, Status: Direction Approved

#1332 Added Ability to Disable Singulo Screen Warping
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/Singularity/SingularityOverlay.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI, Status: Needs Review

#1357 Eternity Things
  Content.Server/Research/Systems/ResearchSystem.Technology.cs
  Content.Server/_DEN/Research/Systems/UnlockResearchSystem.cs
  Content.Shared/_DEN/Research/UnlockResearchComponent.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/wallmed.yml
  Resources/Prototypes/_DEN/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/_DEN/Entities/Structures/Machines/research.yml
  Resources/Prototypes/_DEN/Entities/Structures/Machines/vending_machines.yml
Labels: Changes: YML, Changes: C#

#1350 Contraband Examine Port
  Content.Client/Examine/ExamineButton.cs
  Content.Client/Examine/ExamineSystem.cs
  Content.Client/Verbs/UI/VerbMenuElement.cs
  Content.Client/Verbs/VerbSystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Server/Verbs/VerbSystem.cs
  Content.Shared/Access/Components/IdCardComponent.cs
  Content.Shared/Access/Systems/SharedIdCardSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Clothing/EntitySystems/SharedChameleonClothingSystem.cs
  Content.Shared/Contraband/ContrabandComponent.cs
  Content.Shared/Contraband/ContrabandSeverityPrototype.cs
  Content.Shared/Contraband/ContrabandSystem.cs
  Content.Shared/Examine/ExamineSystemShared.Group.cs
  Content.Shared/Roles/DepartmentPrototype.cs
  Content.Shared/Verbs/Verb.cs
  Resources/Locale/en-US/contraband/contraband-severity.ftl
  Resources/Locale/en-US/job/department.ftl
  Resources/Prototypes/Entities/Objects/base_contraband.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_DV/Roles/Jobs/departments.yml
  Resources/Prototypes/contraband_severities.yml
  Resources/Textures/Interface/VerbIcons/ATTRIBUTION.txt
  Resources/Textures/Interface/VerbIcons/lock-red.svg
  Resources/Textures/Interface/VerbIcons/lock-red.svg.192dpi.png
  Resources/Textures/Interface/VerbIcons/lock-red.svg.192dpi.png.yml
  Resources/Textures/Interface/VerbIcons/unlock-green.svg
  Resources/Textures/Interface/VerbIcons/unlock-green.svg.192dpi.png
  Resources/Textures/Interface/VerbIcons/unlock-green.svg.192dpi.png.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review

#1331 Allow All OuterClothing to Have Suit Storage
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
Labels: Changes: YML, Status: Direction Approved

#1363 [FIX]: Added Space Pens to Command Survival Boxes
  Resources/Prototypes/_Impstation/Catalog/Fills/Boxes/emergency.yml
Labels: Changes: YML, Status: Needs Review

#1366 Allow The Selection of 2 Accents
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
Labels: Changes: YML, Status: Needs Review

#1376 Contraband Fix
  Resources/Locale/en-US/job/department-desc.ftl
  Resources/Locale/en-US/job/department.ftl
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#1369 Fixed Ninja Stars Doing Embedded Damage Forever if They Despawned
  Content.Shared/Projectiles/EmbedPassiveDamageSystem.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1371 Head Mirror Loadout Option
  Resources/Prototypes/_DEN/Loadouts/Jobs/Medical/uncategorized.yml
Labels: Changes: YML

#1367 Buff Rollerbeds
  Content.Server/Body/Components/BloodstreamComponent.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/_DEN/Bed/Components/StabilizeOnBuckleComponent.cs
  Content.Server/_DEN/Bed/Systems/StabilizeOnBuckleSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Structures/Furniture/rollerbeds.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/medical_techfab.yml
  Resources/Prototypes/_DV/Entities/Structures/Holographic/rollerbeds.yml
  Resources/Prototypes/_DV/Recipes/Lathes/medical.yml
  Resources/Textures/_DV/Structures/Furniture/rollerbeds.rsi/holographic_rollerbed.png
  Resources/Textures/_DV/Structures/Furniture/rollerbeds.rsi/holographic_rollerbed_buckled.png
  Resources/Textures/_DV/Structures/Furniture/rollerbeds.rsi/holographic_rollerbed_folded.png
  Resources/Textures/_DV/Structures/Furniture/rollerbeds.rsi/meta.json
Labels: Changes: YML, Changes: C#, Changes: Sprite, Status: Needs Review

#1356 Cherrypick: Goob Undetermined
  Content.Client/_Goobstation/SetSelector/SelectableSet.xaml
  Content.Client/_Goobstation/SetSelector/SelectableSet.xaml.cs
  Content.Client/_Goobstation/SetSelector/SetSelectorBoundUserInterface.cs
  Content.Client/_Goobstation/SetSelector/SetSelectorMenu.xaml
  Content.Client/_Goobstation/SetSelector/SetSelectorMenu.xaml.cs
  Content.Shared/_Goobstation/SetSelector/SelectableSetPrototype.cs
  Content.Shared/_Goobstation/SetSelector/SetSelectorComponent.cs
  Content.Shared/_Goobstation/SetSelector/SetSelectorSystem.cs
  Content.Shared/_Goobstation/SetSelector/SetSelectorUI.cs
  Resources/Locale/en-US/_DEN/set-selector/selectable-set.ftl
  Resources/Locale/en-US/_Goobstation/set-selector/set-selector-menu.ftl
  Resources/Prototypes/_DEN/Catalog/selectable_sets.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/example.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/base_set_selecor.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI, Status: Needs Review

#1370 Fix Vulp Trait
  Content.Server/Temperature/Systems/TemperatureSystem.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1364 Disable Drug Motion
  Content.Client/Drugs/DrugOverlaySystem.cs
  Content.Client/Drugs/RainbowOverlay.cs
  Content.Client/Drunk/DrunkOverlay.cs
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Shared/_DV/CCVars/DCCVars.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Textures/Shaders/rainbow.swsl
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI, Status: Needs Review

#1384 Make `Spawncharacter` Better
  Content.Server/_DV/Administration/Commands/SpawnCharacter.cs
  Resources/Locale/en-US/_DEN/commands/spawncharacter-command.ftl
  Resources/Prototypes/Roles/Jobs/CentComm/cburn.yml
  Resources/Prototypes/Roles/Jobs/CentComm/deathsquad.yml
  Resources/Prototypes/Roles/Jobs/Command/centcom_official.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review

#1379 Slight EmbedPassiveDamageSystem Cleanup
  Content.Shared/Projectiles/EmbedPassiveDamageSystem.cs
Labels: Changes: YML, Changes: C#

#1392 Added Parens so Emotes Could Live Again
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1391 Tailors Knife
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Textures/_DEN/Objects/Weapons/Melee/tailorsknife.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/tailorsknife.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/tailorsknife.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Melee/tailorsknife.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#1395 Reuse Silly
  .github/workflows/reuse-updater.yml
Labels: Changes: YML, Changes: Workflow

#1399 fix: use correct token
  .github/workflows/reuse-updater.yml
Labels: Changes: YML, Changes: Workflow

#1407 Revert "Buff Salvage Borg Light"
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
Labels: Status: Needs Review

#1380 Antag RoleBans
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRoleButtonsBox.xaml.cs
  Content.Server/Administration/Managers/BanManager.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Player.cs
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
Labels: Changes: YML, Changes: C#, Changes: UI, Status: Maintainer Approved, Status: Direction Approved

#1406 Fix Blastdoors Not Closing on Plastic Flaps
  Resources/Prototypes/Entities/Structures/plastic_flaps.yml
Labels: Changes: YML, Status: Needs Review

#1403 Nerfed Portafibs
  Resources/Prototypes/_DV/Entities/Objects/Devices/Medical/portafib.yml
Labels: Changes: YML, Status: Needs Review

#1389 Napsack (New Loadout Bag For People)
  Resources/Prototypes/_DEN/Entities/Clothing/Back/back.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Textures/_DEN/Clothing/Back/napsack.rsi/equipped-BACKPACK.png
  Resources/Textures/_DEN/Clothing/Back/napsack.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DEN/Clothing/Back/napsack.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Back/napsack.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Back/napsack.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Back/napsack.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Discussion Ping

#1382 Added Jack Gloves
  Resources/Locale/en-US/forensics/fibers.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Entities/Clothing/Hands/colored.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Hands/gloves.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review, Status: Needs Direction Review

#1415 Booty Shorts and a Sentimental Ring
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/itemGroups.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DEN/Loadouts/Generic/uniform.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Textures/_DEN/Clothing/Hands/sentimentalring.rsi/equipped-HAND.png
  Resources/Textures/_DEN/Clothing/Hands/sentimentalring.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Hands/sentimentalring.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Hands/sentimentalring.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/bootyshorts.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/bootyshorts.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/bootyshorts.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/bootyshorts.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Uniforms/Jumpsuit/bootyshorts.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Maintainer Approved

#1423 Consent Default Values + Move Consent Cards
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml.cs
  Content.Server/_DV/ParadoxAnomaly/Systems/ParadoxAnomalySystem.cs
  Content.Server/_Floof/Consent/ConsentSystem.cs
  Content.Shared/Devour/SharedDevourSystem.cs
  Content.Shared/_Floof/Consent/ConsentTogglePrototype.cs
  Content.Shared/_Floof/Consent/SharedConsentSystem.cs
  Resources/Locale/en-US/Blep/consent.ftl
  Resources/Prototypes/_DEN/Consent/consent_groups.yml
  Resources/Prototypes/consent.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI

#1426 [ADD]: Admin SWAT Teams, ROLL OUT!
  Resources/Locale/en-US/_DEN/set-selector/selectable-set.ftl
  Resources/Maps/Shuttles/TheDen/NTRF_Nyx.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Prototypes/_DEN/Catalog/selectable_sets.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/ert_loadout.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/engineering-responsory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/inquisitory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/janitorial-responsory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/leader-responsory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/medical-responsory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/security-responsory.yml
Labels: Changes: YML, Changes: Map, Changes: Localization, Status: Needs Review

#1409 [TWEAK]: Changed Vox Sounds for Slightly Less Harsh Variations
  Resources/Audio/Voice/Talk/vox.ogg
  Resources/Audio/Voice/Talk/vox_ask.ogg
  Resources/Audio/Voice/Talk/vox_exclaim.ogg
  Resources/Audio/Voice/Vox/shriek1.ogg
  Resources/Audio/Voice/Vox/vox_laugh.ogg
Labels: Changes: YML, Changes: Audio, Status: Needs Review

#1358 Heat Pumps
  Content.Client/_Funkystation/Atmos/UI/GasHeatPumpBoundUserInterface.cs
  Content.Client/_Funkystation/Atmos/UI/GasHeatPumpWindow.xaml
  Content.Client/_Funkystation/Atmos/UI/GasHeatPumpWindow.xaml.cs
  Content.Server/_Funkystation/Atmos/Piping/Binary/Components/HeatPumpComponent.cs
  Content.Server/_Funkystation/Atmos/Piping/Binary/EntitySystems/HeatPumpSystem.cs
  Content.Shared/_Funkystation/Atmos/Piping/Binary/Components/SharedHeatPumpComponent.cs
  Resources/Locale/en-US/components/gas-pump-component.ftl
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/RPD/rpd.yml
  Resources/Prototypes/Recipes/Construction/Graphs/atmospherics/atmos_binary.yml
  Resources/Prototypes/Recipes/Construction/atmospherics.yml
  Resources/Textures/Interface/Radial/RPD/pump_heat.png
  Resources/Textures/Structures/Piping/Atmospherics/pump.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/pump.rsi/pumpHeat.png
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Sprite, Changes: UI

#1424 Some Nice QoL Tweaks for the Tender
  Content.Server/Chemistry/Components/ReagentDispenserComponent.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/unlockedboozeomat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_special.yml
  Resources/Prototypes/Entities/Structures/Dispensers/base_structuredispensers.yml
  Resources/Prototypes/Recipes/Lathes/cooking.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/service_techfab.yml
  Resources/Textures/Objects/Consumable/Drinks/shaker.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/shaker.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/shaker.rsi/meta.json
Labels: Changes: YML, Changes: C#, Changes: Sprite

#1429 Revert "Add Residency To Records, Change Drug Allergies (#1405)"
  Content.Client/_CD/Records/UI/CharacterRecordViewer.xaml
  Content.Client/_CD/Records/UI/CharacterRecordViewer.xaml.cs
  Content.Client/_CD/Records/UI/RecordEditorGui.xaml
  Content.Client/_CD/Records/UI/RecordEditorGui.xaml.cs
  Content.Server/_CD/Records/RecordsSerialization.cs
  Content.Shared/_CD/Records/PlayerProvidedCharacterRecords.cs
  Resources/Locale/en-US/_CD/records/editor.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI

#1430 Felinid-Tajaran Inbreeding (Markings Transfer)
  Resources/Prototypes/_EE/Entities/Mobs/Customization/Markings/tajaran.yml
Labels: Changes: YML

#1431 [FIX]: Fixing a Few Bugs with ERT Overhaul
  Content.Shared/_Goobstation/SetSelector/SetSelectorSystem.cs
  Resources/Locale/en-US/_DEN/set-selector/selectable-set.ftl
  Resources/Maps/Shuttles/TheDen/NTRF_Nyx.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Prototypes/_DEN/Catalog/selectable_sets.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/ert_loadout.yml
Labels: Changes: YML, Changes: Map, Changes: C#, Changes: Localization

#1435 Chat QoL
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: YML, Changes: C#

#1434 Add the `Spawnplayer` Command
  Content.Server/_DEN/Administration/Commands/SpawnPlayer.cs
  Resources/Locale/en-US/_DEN/commands/spawnplayer-command.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization

#1432 Porting Craftable Pride Flags (#3479) From DV
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/flags.yml
  Resources/Prototypes/_DV/Entities/Structures/Wallmounts/flags.yml
  Resources/Prototypes/_DV/Recipes/Construction/Graphs/flags.yml
  Resources/Prototypes/_DV/Recipes/Construction/furniture.yml
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/ace_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/aro_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/bi_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/enby_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/gay_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/intersex_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/les_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/meta.json
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/pan_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/trans_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/trans_royal_shrimp_flag.png
Labels: Changes: YML, Changes: Sprite

#1428 Make Golden Ring and Sentimental Ring Tiny
  Resources/Prototypes/_DEN/Entities/Clothing/Hands/gloves.yml
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#1419 Contraband Tweaks
  Resources/Locale/en-US/contraband/contraband-severity.ftl
  Resources/Prototypes/Entities/Objects/base_contraband.yml
  Resources/Prototypes/contraband_severities.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#1436 Chat Stuff!
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: YML, Changes: C#

#1437 Reapply "Add Residency To Records, Change Drug Allergies"
  Content.Client/_CD/Records/UI/CharacterRecordViewer.xaml
  Content.Client/_CD/Records/UI/CharacterRecordViewer.xaml.cs
  Content.Client/_CD/Records/UI/RecordEditorGui.xaml
  Content.Client/_CD/Records/UI/RecordEditorGui.xaml.cs
  Content.Server/_CD/Records/RecordsSerialization.cs
  Content.Shared/_CD/Records/PlayerProvidedCharacterRecords.cs
  Resources/Locale/en-US/_CD/records/editor.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI

#1438 [TWEAK]: Remove Spawns From Nyx, Make It Spawn Round Start on Centcomm
  Resources/Maps/CentralCommand/harmony.yml
  Resources/Maps/CentralCommand/main.yml
  Resources/Maps/Shuttles/TheDen/NTRF_Nyx.yml
  Resources/Prototypes/_EE/Entities/Structures/Doors/Airlocks/shuttleAirlocks.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#1442 I'm REALLY Dumb.
  Content.Shared/_CD/Records/PlayerProvidedCharacterRecords.cs
Labels: Changes: YML, Changes: C#

#1443 Chef Tweaks Vol 2
  Content.Server/Kitchen/Components/MicrowaveComponent.cs
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefdrobe.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Multiple/towel.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Structures/Machines/microwave.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_DEN/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_DEN/tags.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/advanced_microwave.yml
  Resources/Prototypes/_DV/Recipes/Cooking/meal_recipes.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1449 Command to Open Chatbox in a New Window (#33548)
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Content.Client/UserInterface/Systems/Chat/ChatWindow.xaml
  Content.Client/UserInterface/Systems/Chat/ChatWindow.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatWindowCommand.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Resources/Locale/en-US/administration/ui/tabs/admin-tab/player-actions-window.ftl
  Resources/Locale/en-US/chat/ui/chat-window.ftl
  Resources/clientCommandPerms.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI, Status: Needs Review

#1451 Made Justice Roles Spawn with Justice Headsets
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/_DV/Roles/Jobs/Justice/prosecutor.yml
Labels: Changes: YML, Status: Needs Review

#1447 Nav Console / Mass Scanner Fixes
  Content.Client/Shuttles/UI/BaseShuttleControl.xaml.cs
  Content.Client/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Client/Shuttles/UI/ShuttleDockControl.xaml.cs
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Server/Shuttles/Systems/RadarConsoleSystem.cs
  Content.Shared/Shuttles/BUIStates/NavInterfaceState.cs
  Resources/Locale/en-US/shuttles/console.ftl
  Resources/Prototypes/Entities/Objects/Tools/handheld_mass_scanner.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI, Status: Needs Review

#1452 Envelopes
  Content.Client/Paper/EnvelopeSystem.cs
  Content.Shared/Paper/EnvelopeComponent.cs
  Content.Shared/Paper/EnvelopeSystem.cs
  Resources/Locale/en-US/paper/envelope.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Textures/Interface/Paper/paper_heading_postage_stamp.svg.96dpi.png
  Resources/Textures/Interface/Paper/paper_heading_postage_stamp.svg.96dpi.png.yml
  Resources/Textures/Objects/Storage/boxes.rsi/envelope.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Sprite

#1457 Figurine Phrases
  Content.Server/Chat/SpeakOnUseComponent.cs
  Content.Server/Chat/Systems/SpeakOnUseSystem.cs
  Resources/Locale/en-US/datasets/figurines.ftl
  Resources/Prototypes/Datasets/figurines.yml
  Resources/Prototypes/Entities/Objects/Fun/figurines.yml
  Resources/Textures/Objects/Fun/figurines.rsi/inhand-left.png
  Resources/Textures/Objects/Fun/figurines.rsi/inhand-right.png
  Resources/Textures/Objects/Fun/figurines.rsi/meta.json
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Sprite, Status: Needs Review

#1454 Add Pen Clicking Sound
  Resources/Audio/Items/attributions.yml
  Resources/Audio/Items/pen_click.ogg
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/pens.rsi/luxury_pen.png
  Resources/Textures/Objects/Misc/pens.rsi/meta.json
  Resources/Textures/Objects/Misc/pens.rsi/overpriced_pen.png
  Resources/Textures/Objects/Misc/pens.rsi/pen-inhand-left.png
  Resources/Textures/Objects/Misc/pens.rsi/pen-inhand-right.png
  Resources/Textures/Objects/Misc/pens.rsi/pen.png
  Resources/Textures/Objects/Misc/pens.rsi/pen_blue.png
  Resources/Textures/Objects/Misc/pens.rsi/pen_cap.png
  Resources/Textures/Objects/Misc/pens.rsi/pen_centcom.png
  Resources/Textures/Objects/Misc/pens.rsi/pen_hop.png
  Resources/Textures/Objects/Misc/pens.rsi/pen_red.png
Labels: Changes: YML, Changes: Audio, Changes: Sprite, Status: Needs Review

#1453 Eternity Has Jugs.
  Resources/Prototypes/_DEN/Entities/Objects/Specific/chemical-containers.yml
Labels: Changes: YML

#1433 Change Thief Syndie & Chameleon Kit Contents, Add Syndie Codeword Paper
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Traitor/Components/TraitorCodePaperComponent.cs
  Content.Server/Traitor/Systems/TraitorCodePaperSystem.cs
  Resources/Locale/en-US/thief/backpack.ftl
  Resources/Locale/en-US/traitor/traitor-codes-component.ftl
  Resources/Prototypes/Catalog/thief_toolbox_sets.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#1462 Fix Not Being Able to Say No
  Content.Client/_Floof/Consent/UI/Windows/ConsentWindow.xaml.cs
  Content.Server/_Floof/Consent/ServerConsentManager.cs
  Content.Shared/_Floof/Consent/PlayerConsentSettings.cs
Labels: Changes: YML, Changes: C#, Changes: UI

#1439 Cherrypick: Metal Hydrogen Armor and Fireaxe
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Recipes/Construction/Graphs/clothing/armor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/metal_hydrogen_axe.yml
  Resources/Prototypes/Recipes/Construction/clothing.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Clothing/Head/Helmets/metal_hydrogen_helmet.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Helmets/metal_hydrogen_helmet.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/metal_hydrogen_helmet.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/metal_hydrogen_helmet.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/metal_hydrogen_helmet.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/metal_hydrogen_helmet.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/atmosian_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/atmosian_armor.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/atmosian_armor.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/atmosian_armor.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/atmosian_armor.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/metal_hydrogen_armor.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Armor/metal_hydrogen_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/metal_hydrogen_armor.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/metal_hydrogen_armor.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/metal_hydrogen_armor.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/metal_hydrogen_armor.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/metal_hydrogen_axe.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/metal_hydrogen_axe.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/metal_hydrogen_axe.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/metal_hydrogen_axe.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/metal_hydrogen_axe.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/metal_hydrogen_axe.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/metal_hydrogen_axe.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/metal_hydrogen_axe.rsi/wielded-inhand-right.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#1308 Port Sec Ponchos
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/uniform_printer.yml
  Resources/Prototypes/_DV/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_DV/Recipes/Lathes/clothing.yml
  Resources/Prototypes/_Floof/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Textures/_DV/Clothing/Neck/Misc/cwparctic.rsi/equipped-NECK.png
  Resources/Textures/_DV/Clothing/Neck/Misc/cwparctic.rsi/icon.png
  Resources/Textures/_DV/Clothing/Neck/Misc/cwparctic.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Neck/Misc/cwparctic.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Neck/Misc/cwparctic.rsi/meta.json
  Resources/Textures/_DV/Clothing/Neck/Misc/cwpsec.rsi/equipped-NECK.png
  Resources/Textures/_DV/Clothing/Neck/Misc/cwpsec.rsi/icon.png
  Resources/Textures/_DV/Clothing/Neck/Misc/cwpsec.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Neck/Misc/cwpsec.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Neck/Misc/cwpsec.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Maintainer Approved

#1487 30-Year-Olds Are Not Middle-Aged
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Locale/en-US/identity/identity-system.ftl
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/ipc.yml
  Resources/Prototypes/Species/plasmaman.yml
  Resources/Prototypes/Species/shadowkin.yml
  Resources/ServerInfo/Guidebook/Mobs/Arachne.xml
  Resources/ServerInfo/Guidebook/Mobs/IPCs.xml
  Resources/ServerInfo/Guidebook/Mobs/Plasmaman.xml
  Resources/ServerInfo/Guidebook/Mobs/Shadowkin.xml
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Documentation, Status: Maintainer Approved, Status: Direction Approved

#1494 Make Translator Drain 0 Until They Are Fixed
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
Labels: Changes: YML

#1493 Roundstart Highcap Kill
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/centcom_official.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_DV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/magistrate.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: Changes: YML, Status: Needs Review, Status: Direction Approved

#1489 Philterex Doesn't Just Kill You Now
  Resources/Prototypes/_Floof/Reagents/Aphrodisiacs/medicine.yml
Labels: Changes: YML, Status: Needs Review

#1491 Wider Language Window Default Size
  Content.Client/Language/LanguageMenuWindow.xaml
Labels: Changes: YML, Changes: UI

#1495 Fix and Buff Shadowkins Psionics
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Traits/mental.yml
Labels: Changes: YML

#1445 Add Jet Injectors
  Content.Server/Chemistry/EntitySystems/HypospraySystem.cs
  Content.Server/Chemistry/EntitySystems/InjectorSystem.cs
  Content.Shared/Chemistry/Components/HyposprayComponent.cs
  Content.Shared/Chemistry/EntitySystems/SharedHypospraySystem.cs
  Resources/Locale/en-US/chemistry/components/injector-component.ftl
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Medical/sterile.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/medical_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/medical.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/chitinid.yml
  Resources/Textures/_DEN/Objects/Specific/Medical/jetinjector.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Specific/Medical/jetinjector.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Specific/Medical/jetinjector.rsi/jetinjector_base.png
  Resources/Textures/_DEN/Objects/Specific/Medical/jetinjector.rsi/jetinjector_filled1.png
  Resources/Textures/_DEN/Objects/Specific/Medical/jetinjector.rsi/jetinjector_filled2.png
  Resources/Textures/_DEN/Objects/Specific/Medical/jetinjector.rsi/jetinjector_filled3.png
  Resources/Textures/_DEN/Objects/Specific/Medical/jetinjector.rsi/jetinjector_filled4.png
  Resources/Textures/_DEN/Objects/Specific/Medical/jetinjector.rsi/jetinjector_filled5.png
  Resources/Textures/_DEN/Objects/Specific/Medical/jetinjector.rsi/jetinjector_filled6.png
  Resources/Textures/_DEN/Objects/Specific/Medical/jetinjector.rsi/meta.json
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Sprite, Status: Needs Review, Status: Direction Approved

#1475 Edge Updates and Bugfixes
  Resources/Maps/TheDen/edge.yml
Labels: Changes: YML, Changes: Map

#1506 Sentimental Collar
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/_DEN/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Textures/_DEN/Clothing/Neck/Misc/sentimentalcollar.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/sentimentalcollar.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/sentimentalcollar.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/sentimentalcollar.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/sentimentalcollar.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#1508 Bionic Arms Nerf/Speed Legs Restriction
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_Shitmed/Body/Parts/cybernetic.yml
Labels: Changes: YML, Status: Needs Review

#1509 Schedulermaxxing
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_DEN/random_presets.yml
Labels: Changes: YML

#1497 [PORT]: Introduce an AI Shop System (#3610)
  Content.Client/_DV/Silicons/StationAiShopSystem.cs
  Content.Server/Spreader/SpreaderSystem.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Server/_DV/Silicons/StationAiShopSystem.cs
  Content.Shared/Spreader/EdgeSpreaderPrototype.cs
  Content.Shared/Store/Components/StoreComponent.cs
  Content.Shared/_DV/Silicons/SharedStationAiShopSystem.cs
  Content.Shared/_DV/Silicons/StationAiShopComponent.cs
  Resources/Locale/en-US/_DV/store/ai-catalog.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/_DV/Actions/station_ai.yml
  Resources/Prototypes/_DV/Catalog/ai_catalog.yml
  Resources/Prototypes/_DV/Store/categories.yml
  Resources/Prototypes/_DV/tags.yml
  Resources/Textures/_DV/Interface/Actions/actions_ai.rsi/bike_horn.png
  Resources/Textures/_DV/Interface/Actions/actions_ai.rsi/emergency_sealant.png
  Resources/Textures/_DV/Interface/Actions/actions_ai.rsi/holopointer.png
  Resources/Textures/_DV/Interface/Actions/actions_ai.rsi/light_synthesizer.png
  Resources/Textures/_DV/Interface/Actions/actions_ai.rsi/meta.json
  Resources/Textures/_DV/Interface/Actions/actions_ai.rsi/nanites.png
  Resources/Textures/_DV/Interface/Actions/actions_ai.rsi/rgb_lighting.png
  Resources/Textures/_DV/Interface/Actions/actions_ai.rsi/store.png
  Resources/Textures/_DV/Objects/Misc/holopointer.rsi/meta.json
  Resources/Textures/_DV/Objects/Misc/holopointer.rsi/target_box.png
  Resources/Textures/_DV/Objects/Misc/holopointer.rsi/target_circle.png
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Sprite, Status: Needs Review

#1519 Resprite the Lowest Moodlet Sprite to Be Less Disturbing
  Resources/Textures/Interface/Alerts/mood.rsi/meta.json
  Resources/Textures/Interface/Alerts/mood.rsi/mood1.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood_insane.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#1521 The Bahr Sign and Service Banners!
  Resources/Locale/en-US/_DEN/barsign/barsign-component.ftl
  Resources/Prototypes/_DEN/Entities/Structures/Decoration/banners.yml
  Resources/Prototypes/_DEN/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/Prototypes/bar_signs.yml
  Resources/Textures/_DEN/Structures/Decoration/banner.rsi/banner_service.png
  Resources/Textures/_DEN/Structures/Decoration/banner.rsi/meta.json
  Resources/Textures/_DEN/Structures/Wallmounts/barsign.rsi/meta.json
  Resources/Textures/_DEN/Structures/Wallmounts/barsign.rsi/thebahr.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#1518 Buff Station Pets
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/pets.yml
Labels: Changes: YML, Status: Needs Review

#1522 Kahlua with Extra Cream
  Resources/Locale/en-US/loadouts/lewd.ftl
  Resources/Prototypes/Loadouts/Jobs/Service/bartender.yml
  Resources/Prototypes/_Floof/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
Labels: Changes: YML, Changes: Localization, Status: Maintainer Approved, Status: Direction Approved

#1520 Fix Mediborg HUD Not Working
  Content.Shared/Overlays/ShowHealthBarsComponent.cs
Labels: Changes: YML, Changes: C#

#1523 No ID in Conscription Kit
  Resources/Prototypes/_DV/Catalog/Fills/Items/Backpacks/duffelbag.yml
Labels: Changes: YML

#1525 Fix Anomalyrule Heisentest
  Content.Server/Anomaly/AnomalySystem.Generator.cs
Labels: Changes: YML, Changes: C#

#1531 Fax Logging No Markdown + Only Send Admin Chat Relay to Admin Chat
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/_DEN/Fax/FaxLoggingSystem.cs
Labels: Changes: YML, Changes: C#

#1512 [ADD]: Give the Admins a Modsuit and Bluespace Implanter
  Resources/Prototypes/Roles/Jobs/Command/centcom_official.yml
Labels: Changes: YML

#1496 ERT/Dignitary Role Icons
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/CentComm/cburn.yml
  Resources/Prototypes/Roles/Jobs/CentComm/deathsquad.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Prototypes/StatusIcon/job.yml
  Resources/Prototypes/_DEN/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_DEN/StatusIcon/job.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/magistrate.yml
  Resources/Prototypes/_Goobstation/StatusEffects/job.yml
  Resources/Textures/Objects/Misc/id_cards.rsi/cburn.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/Admin.png
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/Blueshield.png
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/CBURN.png
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/Deathsquad.png
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/ERTChaplain.png
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/ERTEngineer.png
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/ERTJanitor.png
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/ERTLeader.png
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/ERTMedical.png
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/ERTSecurity.png
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/Magistrate.png
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/Nanotrasen.png
  Resources/Textures/_DEN/Interface/Misc/job_icons.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#1534 Thavenizing Gloomy Hair
  Resources/Locale/en-US/_DEN/markings/thaven.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/thaven.yml
  Resources/Textures/_DEN/Mobs/Customization/Thaven/hair.rsi/hair_gloomy_long.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/hair.rsi/hair_gloomy_longer.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/hair.rsi/hair_gloomy_medium.png
  Resources/Textures/_DEN/Mobs/Customization/Thaven/hair.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_white.rsi/equipped-OUTERCLOTHING-thaven.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_white.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_white.rsi/open-equipped-OUTERCLOTHING-thaven.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Maintainer Approved

#1538 More Discord Bot Stuff
  Content.Server/Discord/DiscordLink/DiscordChatLink.cs
  Content.Server/_DEN/Discord/InGameCommands.cs
  Content.Shared/CCVar/CCVars.Chat.Ooc.cs
  Content.Shared/Chat/ChatChannel.cs
Labels: Changes: YML, Changes: C#

#1533 Remove Romerol From the Oracle Spawn
  Resources/Prototypes/Reagents/toxins.yml
Labels: Changes: YML, Status: Needs Review

#1556 Make Shadowkin Eyes Glow Again
  Resources/Locale/en-US/_DEN/markings/shadowkin.ftl
  Resources/Locale/en-US/markings/shadowkin.ftl
  Resources/Prototypes/Species/shadowkin.yml
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/shadowkinmarks.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#1550 Mute People Can Now Scream
  Content.Server/Abilities/Mime/MimePowersSystem.cs
  Content.Server/Speech/Muting/MutingSystem.cs
  Content.Shared/Speech/Muting/MutedComponent.cs
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/_DEN/Traits/disabilities.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1555 Gloomy Marking + Hair Variants
  Resources/Locale/en-US/_Impstation/accessories/human-hair.ftl
  Resources/Locale/en-US/_Impstation/markings/misc.ftl
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc.yml
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/head.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/head.rsi/shadow.png
  Resources/Textures/_Impstation/Mobs/Customization/human_hair.rsi/eyebangshort.png
  Resources/Textures/_Impstation/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/human_hair.rsi/overeyeslong.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#1557 Add Heirloom Examine Text
  Content.Server/Traits/Assorted/HeirloomSystem.cs
  Content.Server/_DEN/Traits/Assorted/HeirloomSystem.cs
  Resources/Locale/en-US/_DEN/traits/heirloom.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review

#1558 Port Mannequins From Wizard's Den
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Resources/Prototypes/Entities/Structures/Decoration/mannequin.yml
  Resources/Prototypes/InventoryTemplates/mannequin_inventory_template.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/mannequin.yml
  Resources/Prototypes/Recipes/Construction/furniture.yml
  Resources/Textures/Structures/Decoration/mannequin.rsi/mannequin.png
  Resources/Textures/Structures/Decoration/mannequin.rsi/meta.json
Labels: Changes: YML, Changes: C#, Changes: Sprite, Status: Needs Review

#1562 Airlock Service Doors Hotfix, Using Wrong Sprite
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_DEN/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_DEN/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/_DV/Entities/Structures/Doors/Airlocks/access.yml
Labels: Changes: YML

#1566 Cherrypick: Replace Speech Bubble Time Accumulator with TimeSpan (#38241)
  Content.Client/Chat/UI/SpeechBubble.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1560 Captain Lobby Art
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/KAASI_DOSHI.webp
  Resources/Textures/LobbyScreens/KAASI_DOSHI.webp.yml
  Resources/Textures/LobbyScreens/attributions.yml
Labels: Changes: YML, Status: Needs Review

#1559 Adjusting Thaven Eye Offsets
  Resources/Prototypes/_Impstation/InventoryTemplates/thaven_inventory_template.yml
Labels: Changes: YML, Status: Needs Review

#1563 Porting My Custom Eyes From Imp
  Content.Shared/Humanoid/Markings/MarkingCategories.cs
  Resources/Locale/en-US/_DEN/markings/arachne.ftl
  Resources/Locale/en-US/_Impstation/markings/arachnid.ftl
  Resources/Locale/en-US/_Impstation/markings/misc.ftl
  Resources/Locale/en-US/_Impstation/markings/slimeperson.ftl
  Resources/Locale/en-US/_Impstation/preferences/ui/markings-picker.ftl
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/arachne.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/arachnid.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/slime.yml
  Resources/Textures/Mobs/Species/Slime/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/head_m.png
  Resources/Textures/_Impstation/Mobs/Customization/Arachnid/eyes.rsi/jumper1.png
  Resources/Textures/_Impstation/Mobs/Customization/Arachnid/eyes.rsi/jumper2.png
  Resources/Textures/_Impstation/Mobs/Customization/Arachnid/eyes.rsi/jumper3.png
  Resources/Textures/_Impstation/Mobs/Customization/Arachnid/eyes.rsi/jumper4.png
  Resources/Textures/_Impstation/Mobs/Customization/Arachnid/eyes.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Arachnid/eyes.rsi/round1.png
  Resources/Textures/_Impstation/Mobs/Customization/Arachnid/eyes.rsi/round2.png
  Resources/Textures/_Impstation/Mobs/Customization/Arachnid/eyes.rsi/round3.png
  Resources/Textures/_Impstation/Mobs/Customization/Arachnid/eyes.rsi/round4.png
  Resources/Textures/_Impstation/Mobs/Customization/slime_parts.rsi/cyclops.png
  Resources/Textures/_Impstation/Mobs/Customization/slime_parts.rsi/cyclopsglow.png
  Resources/Textures/_Impstation/Mobs/Customization/slime_parts.rsi/droopy.png
  Resources/Textures/_Impstation/Mobs/Customization/slime_parts.rsi/droopyglow.png
  Resources/Textures/_Impstation/Mobs/Customization/slime_parts.rsi/eyes.png
  Resources/Textures/_Impstation/Mobs/Customization/slime_parts.rsi/meta.json
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Sprite, Status: Needs Review

#1553 Space Blades
  Resources/Locale/en-US/_DEN/store/uplink-catalog.ftl
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/games.yml
  Resources/Prototypes/CharacterItemGroups/Generic/miscItemGroups.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/_DEN/Catalog/uplink_catalog.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/spaceblade.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/spaceblade_boxes.yml
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/blade.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/blue.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/check.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/clown.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/contraband.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/eyeball.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/frontier.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/goldblue.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/mail.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/mcblade.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/meta.json
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/moff.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/pizza.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/redorange.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/rune.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/sb_box.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/sb_box_unfolded.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/secblade.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/singularity.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/tesla.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/weh.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#1569 Reverse Admin Logs Order
  Content.Server/Administration/Logs/AdminLogsEui.cs
Labels: Changes: YML, Changes: C#

#1571 Moth HOTFIX
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
Labels: Changes: YML

#1572 Reuse Script Refactor
  .github/workflows/reuse-updater.yml
  Tools/apply_reuse_headers.py
  Tools/reuse_utilities/reuse_helperfunctions.py
  Tools/reuse_utilities/reuse_update_all_headers.py
  Tools/reuse_utilities/reuse_update_headers_from_merge.py
  Tools/update_pr_reuse_headers.py
Labels: Changes: YML, Changes: Workflow, Status: Needs Review

#1574 test pr (revert)
  Resources/Prototypes/Actions/borgs.yml
Labels: Changes: YML

#1576 Revert "Hotfix for Space Blades"
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/_DEN/Loadouts/Generic/items.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/spaceblade.yml
Labels: Changes: YML, Changes: Localization

#1577 Revert "Revert "Hotfix for Space Blades""
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/_DEN/Loadouts/Generic/items.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/spaceblade.yml
Labels: Changes: YML, Changes: Localization

#1578 HoS Web Vest Typo Fix
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
Labels: Changes: YML, Status: Needs Review

#1580 Silly
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/Hats.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/hats.yml
Labels: Changes: YML

#1586 sfx change
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Changes: YML, Status: Needs Review

#1585 Thaven Zappy Sounds
  Resources/Audio/_DEN/Weapons/attributions.yml
  Resources/Audio/_DEN/Weapons/shockpunch1.ogg
  Resources/Audio/_DEN/Weapons/shockpunch2.ogg
  Resources/Audio/_DEN/Weapons/shockpunch3.ogg
  Resources/Audio/_DEN/Weapons/shockpunch4.ogg
  Resources/Prototypes/_DEN/SoundCollections/punching.yml
  Resources/Prototypes/_Impstation/Damage/thaven.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
  Resources/ServerInfo/Guidebook/Mobs/_Impstation/Thaven.xml
Labels: Changes: YML, Changes: Audio, Changes: Documentation

#1588 Roy's Birthday As A Thaven Holiday
  Resources/Prototypes/_Impstation/datasets.yml
Labels: Changes: YML, Status: Needs Review, Status: Maintainer Approved, Status: Direction Approved, Status: Mapping Approved

#1594 Reduce The Size of The Portable Fax
  Resources/Prototypes/_Goobstation/Entities/Objects/Tools/tools.yml
Labels: Changes: YML

#1602 fix
  Resources/Locale/en-US/game-ticking/game-presets/preset-dangers.ftl
Labels: Changes: YML, Changes: Localization

#1592 Buffed Folders & Added Fireproof Folders
  Content.Server/Atmos/Components/ContentProtectionComponent.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/detdrobe.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Loadouts/Jobs/Command/admin_assistant.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/uncategorized.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/misc.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder-aa-overlay-pen.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder-aa.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder-fireproof.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
Labels: Changes: YML, Changes: C#, Changes: Sprite

#1604 fix antag selection choosing rolebanned players
  Content.Server/Administration/Managers/BanManager.cs
  Content.Server/Administration/Managers/IBanManager.cs
  Content.Server/Antag/AntagSelectionSystem.cs
Labels: Changes: YML, Changes: C#

#1614 More Vox Displacement Maps
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/hand_l.png
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/hand_r.png
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/head.png
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#1505 Return of the King: Lighthouse
  Resources/Maps/TheDen/lighthouse.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review
