Repository TheDenSS14/TheDen, pull requests merged in 2025-06, with the labels that each got.

#626 Better Autocall
  Content.Client/Voting/VoteManager.cs
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/Voting/Managers/VoteManager.cs
  Content.Server/Voting/VoteOptions.cs
  Content.Server/_DEN/RoundEnd/RoundEndSystem.DEN.cs
  Content.Server/_DEN/RoundEnd/ToggleHardEndCommand.cs
  Content.Shared/Voting/MsgVoteData.cs
  Resources/Locale/en-US/communications/communications-console-component.ftl
  Resources/Locale/en-US/round-end/round-end-system.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization

#623 Handheld Power and Atmospherics Monitors
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_DEN/Entities/Objects/Tools/handheld_atmospherics_monitor.yml
  Resources/Prototypes/_DEN/Entities/Objects/Tools/handheld_power_monitor.yml
  Resources/Textures/_DEN/Objects/Tools/handheld_atmospherics_monitor.rsi/icon.png
  Resources/Textures/_DEN/Objects/Tools/handheld_atmospherics_monitor.rsi/meta.json
  Resources/Textures/_DEN/Objects/Tools/handheld_atmospherics_monitor.rsi/scanner.png
  Resources/Textures/_DEN/Objects/Tools/handheld_power_monitor.rsi/icon.png
  Resources/Textures/_DEN/Objects/Tools/handheld_power_monitor.rsi/meta.json
  Resources/Textures/_DEN/Objects/Tools/handheld_power_monitor.rsi/scanner.png
Labels: Changes: YML, Changes: Sprite

#629 Mreow
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatLookupView.xaml.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml.cs
Labels: Changes: YML, Changes: C#, Changes: UI

#613 Salvage Weapon Tweaks + Addition
  Resources/Prototypes/CharacterItemGroups/Jobs/Logistics/salvageSpecialist.yml
  Resources/Prototypes/Entities/Objects/Specific/Security/target.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Loadouts/Jobs/Logistics/salvageSpecialist.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_DV/Catalog/VendingMachines/Inventories/salvage_points.yml
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/crushers.yml
  Resources/Textures/_DEN/Clothing/Belt/katanasheathsingle.rsi/equipped-BELT.png
  Resources/Textures/_DEN/Clothing/Belt/katanasheathsingle.rsi/meta.json
  Resources/Textures/_DEN/Clothing/Belt/katanasheathsingle.rsi/sheath-sabre-equipped-BELT.png
  Resources/Textures/_DEN/Clothing/Belt/katanasheathsingle.rsi/sheath-sabre.png
  Resources/Textures/_DEN/Clothing/Belt/katanasheathsingle.rsi/sheath.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#631 Toy Hammer No Longer Has a Chance to Instantly Kill Someone
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Changes: YML, Status: Needs Review

#633 Add Toy-Themed Markings
  Resources/Locale/en-US/_DEN/markings/toy.ftl
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/toy.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/feroxi.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/lamia.yml
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/accessories.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/accessories.rsi/windup_gold.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/accessories.rsi/windup_gold_animated.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/accessories.rsi/windup_silver.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/accessories.rsi/windup_silver_animated.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/accessories.rsi/zipper.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/overlay.rsi/belly_plush_f.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/overlay.rsi/belly_plush_m.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/overlay.rsi/l_foot_plush.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/overlay.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/overlay.rsi/r_foot_plush.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/overlay.rsi/torso_plush.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/overlay.rsi/torso_plush_human_f.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/overlay.rsi/torso_plush_human_m.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/arachne.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/buggy.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/buggy_feet.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/feet.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/hands.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/handsfeet.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/harpy.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/harpy_feet.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/head_human.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/head_longsnout.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/head_shortsnout.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/human.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/ovinia.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/ovinia_feet.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/shadowkin.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/shadowkin_feet.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/vox.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/vox_feet.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#614 Niko Toba's Wild Ride (Baikal Station)
  Resources/Maps/TheDen/baikal.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/baikal.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#639 Mild Baikal Fixes
  Resources/Maps/TheDen/baikal.yml
  Resources/Prototypes/Maps/baikal.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#645 Add Round Info & Self Damage Commands
  Content.Server/_DEN/Administration/Commands/ExtraDenCommands.cs
  Resources/Locale/en-US/damage/damage-command.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization

#624 Handheld Wireless Cameras
  Resources/Prototypes/_RMC14/Entities/Objects/Tool/handheldcamera.yml
  Resources/Textures/_RMC14/Objects/Devices/broadcasting_camera.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Devices/broadcasting_camera.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Devices/broadcasting_camera.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Devices/broadcasting_camera.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Devices/broadcasting_camera.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Devices/broadcasting_camera.rsi/wielded-inhand-right.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#654 Rats Are Dead for Real This Time
  Resources/Maps/TheDen/baikal.yml
Labels: Changes: YML, Changes: Map

#653 .20 Rifle and .30 Rifle Damage Value Flip (but I Dont Use the Wrong Branch)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
Labels: Changes: YML, Status: Needs Review

#642 Fishing Guide + Guidebook Reorganization
  Resources/Locale/en-US/_DEN/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/antagonist.yml
  Resources/Prototypes/Guidebook/mechanics.yml
  Resources/Prototypes/Guidebook/science.yml
  Resources/Prototypes/Guidebook/ss14.yml
  Resources/ServerInfo/Guidebook/Mechanics/Fishing.xml
  Resources/ServerInfo/Guidebook/Mechanics/Mechanics.xml
Labels: Changes: YML, Changes: Localization, Changes: Documentation, Status: Needs Review

#657 Remove Space Law Guidebook
  Resources/Locale/en-US/_EE/contractors/passport.ftl
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Guidebook/rules.yml
  Resources/Prototypes/Guidebook/security.yml
  Resources/Prototypes/Guidebook/ss14.yml
  Resources/ServerInfo/Guidebook/Lore/SettingLore.xml
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRuleset.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
Labels: Changes: YML, Changes: Localization, Changes: Documentation

#661 Hunger Decay 0.016 -> 0.003, Thirst Decay 0.1 -> 0.025
  Content.Shared/Nutrition/Components/HungerComponent.cs
  Content.Shared/Nutrition/Components/ThirstComponent.cs
Labels: Changes: YML, Changes: C#

#660 Fix Double Event Messages
  Content.Server/StationEvents/EventManagerSystem.cs
Labels: Changes: YML, Changes: C#

#663 Fix Hunger and Thirst
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Species/ovinia.yml
  Resources/Prototypes/_DEN/Traits/disabilities.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/nukiemouse.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/chitinid.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/feroxi.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_EE/Entities/Mobs/Species/tajaran.yml
Labels: Changes: YML

#665 Changing Suit Sensors On Other Players
  Content.Server/Medical/SuitSensors/SuitSensorComponent.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Shared/Medical/SuitSensor/SharedSuitSensor.cs
Labels: Changes: YML, Changes: C#

#620 Cherrypick DeltaV Holofans
  Content.Shared/_DV/Holosign/ChargeHolosignProjectorComponent.cs
  Content.Shared/_DV/Holosign/ChargeHolosignSystem.cs
  Content.Shared/_DV/Whitelist/HolofanComponent.cs
  Resources/Audio/_DEN/attributions.yml
  Resources/Audio/_DEN/holofan_sound_looped.ogg
  Resources/Locale/en-US/_DV/tools/charge-holoprojector.ftl
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
  Resources/Prototypes/_DV/Entities/Structures/Holographic/projections.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Audio, Status: Needs Review

#666 Resomi Tweaks
  Resources/Audio/_RMC14/Voice/Avali/attributions.yml
  Resources/Audio/_RMC14/Voice/Avali/avali_laugh.ogg
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_DEN/Traits/physical.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/_Floof/Voice/avali_emote_sounds.yml
Labels: Changes: YML, Changes: Audio

#668 Spectral Locator
  Content.Shared/Ghost/SpectralComponent.cs
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Mobs/Player/replay_observer.yml
  Resources/Prototypes/Entities/Objects/Fun/spectral_locator.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Textures/Objects/Fun/spectrallocator.rsi/icon.png
  Resources/Textures/Objects/Fun/spectrallocator.rsi/inhand-left.png
  Resources/Textures/Objects/Fun/spectrallocator.rsi/inhand-right.png
  Resources/Textures/Objects/Fun/spectrallocator.rsi/meta.json
  Resources/Textures/Objects/Fun/spectrallocator.rsi/screen.png
Labels: Changes: YML, Changes: C#, Changes: Sprite

#670 Remove Space Between Name and Message From Emotes/Subtles Starting with 'S
  Content.Server/Chat/Systems/ChatSystem.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization

#669 Remove Chat Sanitization
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: YML, Changes: C#

#671 Hardsuit Syntax Fixes + ERT Chap & BSO Hardsuit Names
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/en-US/prototypes/entities/clothing/outerClothing/hardsuits.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
Labels: Changes: YML, Changes: Localization

#673 Adds Aphrodisiac Pill Bottles to Loadout
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Medical/pills.yml
  Resources/Prototypes/_DEN/Loadouts/lewd.yml
  Resources/Prototypes/_Floof/CharacterItemGroups/funGroup.yml
  Resources/Textures/Interface/Misc/psionics_icons.rsi/hud_abusing.png
  Resources/Textures/Interface/Misc/psionics_icons.rsi/hud_registered.png
  Resources/Textures/Interface/Misc/psionics_icons.rsi/hud_suspected.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#677 Girlmath Was Incorrect
  Content.Server/_DEN/RoundEnd/RoundEndSystem.DEN.cs
Labels: Changes: YML, Changes: C#

#682 Small Drozd, C20r and FPA-90 Tweaks
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
Labels: Changes: YML, Changes: Localization

#685 Kill Most Sec Guns
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
Labels: Changes: YML

#689 Bark Bark
  Content.Server/Wagging/WaggingSystem.cs
  Content.Shared/Wagging/WaggingComponent.cs
Labels: Changes: YML, Changes: C#

#690 Port Weapon Cases From Frontier
  Resources/Locale/en-US/_NF/lathe/recipes.ftl
  Resources/Locale/en-US/lathe/lathe-categories.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/categories.yml
  Resources/Prototypes/_DEN/tags.yml
  Resources/Prototypes/_NF/Entities/Objects/Storage/weapon_cases.yml
  Resources/Prototypes/_NF/Recipes/Lathes/storage.yml
  Resources/Textures/_NF/Objects/Storage/Cases/ammocaseshort.rsi/icon-open.png
  Resources/Textures/_NF/Objects/Storage/Cases/ammocaseshort.rsi/icon.png
  Resources/Textures/_NF/Objects/Storage/Cases/ammocaseshort.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Storage/Cases/ammocaseshort.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Storage/Cases/ammocaseshort.rsi/meta.json
  Resources/Textures/_NF/Objects/Storage/Cases/ammocaseshort.rsi/unshaded.png
  Resources/Textures/_NF/Objects/Storage/Cases/documentcaseshort.rsi/icon-open.png
  Resources/Textures/_NF/Objects/Storage/Cases/documentcaseshort.rsi/icon.png
  Resources/Textures/_NF/Objects/Storage/Cases/documentcaseshort.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Storage/Cases/documentcaseshort.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Storage/Cases/documentcaseshort.rsi/meta.json
  Resources/Textures/_NF/Objects/Storage/Cases/documentcaseshort.rsi/unshaded.png
  Resources/Textures/_NF/Objects/Storage/Cases/explosivescaseshort.rsi/icon-open.png
  Resources/Textures/_NF/Objects/Storage/Cases/explosivescaseshort.rsi/icon.png
  Resources/Textures/_NF/Objects/Storage/Cases/explosivescaseshort.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Storage/Cases/explosivescaseshort.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Storage/Cases/explosivescaseshort.rsi/meta.json
  Resources/Textures/_NF/Objects/Storage/Cases/explosivescaseshort.rsi/unshaded.png
  Resources/Textures/_NF/Objects/Storage/Cases/guncaseheavy.rsi/icon-open.png
  Resources/Textures/_NF/Objects/Storage/Cases/guncaseheavy.rsi/icon.png
  Resources/Textures/_NF/Objects/Storage/Cases/guncaseheavy.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Storage/Cases/guncaseheavy.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Storage/Cases/guncaseheavy.rsi/meta.json
  Resources/Textures/_NF/Objects/Storage/Cases/guncaseheavy.rsi/unshaded.png
  Resources/Textures/_NF/Objects/Storage/Cases/guncaselong.rsi/icon-open.png
  Resources/Textures/_NF/Objects/Storage/Cases/guncaselong.rsi/icon.png
  Resources/Textures/_NF/Objects/Storage/Cases/guncaselong.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Storage/Cases/guncaselong.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Storage/Cases/guncaselong.rsi/meta.json
  Resources/Textures/_NF/Objects/Storage/Cases/guncaselong.rsi/unshaded.png
  Resources/Textures/_NF/Objects/Storage/Cases/guncaseshort.rsi/icon-open.png
  Resources/Textures/_NF/Objects/Storage/Cases/guncaseshort.rsi/icon.png
  Resources/Textures/_NF/Objects/Storage/Cases/guncaseshort.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Storage/Cases/guncaseshort.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Storage/Cases/guncaseshort.rsi/meta.json
  Resources/Textures/_NF/Objects/Storage/Cases/guncaseshort.rsi/unshaded.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#672 Intellicard Spawn Fix and Minor Baikal Fixes
  Resources/Maps/TheDen/baikal.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#693 Small Shoukou Update
  Resources/Maps/TheDen/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#691 Barrier Station
  Resources/Maps/TheDen/barrier.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/barrier.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#674 Re-Adds Missing Items in the Uplink's Pointless Category
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: YML, Status: Needs Review

#681 Hardsuit Tweaks
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: YML, Status: Needs Review

#694 In Your Language; *Deep Breath*. FUUUUUUUUUUCCCCKKKKKKKKK
  Resources/Maps/TheDen/barrier.yml
  Resources/Prototypes/Maps/barrier.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#698 Added Pathfinder to Shipyard
  Resources/Prototypes/_DV/Catalog/Shipyard/civilian.yml
Labels: Changes: YML, Status: Needs Review

#700 Added the Dropper to the Botanical Belt Whitelist
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/tags.yml
Labels: Changes: YML, Status: Needs Review

#680 Loadout Additions
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/atmosphericTechnician.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/chiefEngineer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/engineeringUncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/chaplain.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/atmosphericTechnician.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/chiefEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/chaplain.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/_EE/Entities/Objects/Weapons/Melee/terminus.yml
Labels: Changes: YML

#703 Re-Add Security Weapons With Traitor Buffs
  Content.Server/GameTicking/Rules/Components/TraitorRuleComponent.cs
  Resources/Locale/en-US/loadouts/jobs/security.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#705 Add Pronouns to Crew Manifest
  Content.Client/CrewManifest/UI/CrewManifestSection.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Server/CrewManifest/CrewManifestSystem.cs
  Content.Shared/CrewManifest/SharedCrewManifestSystem.cs
  Resources/Locale/en-US/deltav/gender.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review

#695 Meow
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: YML, Changes: C#

#704 Suit Sensors Tweaks
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
  Content.Server/Medical/SuitSensors/SuitSensorComponent.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Shared/Medical/SuitSensor/SharedSuitSensor.cs
  Resources/Locale/en-US/medical/components/crew-monitoring-component.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI, Status: Needs Review

#714 Add .38 Moon Clips to Sec Loadout
  Resources/Locale/en-US/loadouts/jobs/security.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#708 Port RP Chems From Cosmic Drift (#887)
  Content.Server/EntityEffects/Effects/ChemAddMoodlet.cs
  Content.Server/Mood/MoodSystem.cs
  Content.Server/_Floof/EntityEffects/EffectConditions/MoodCategory.cs
  Content.Server/_Floof/EntityEffects/EffectConditions/MoodEffect.cs
  Resources/Locale/en-US/Floof/mood/mood.ftl
  Resources/Locale/en-US/_CD/reagents/RPmeds.ftl
  Resources/Locale/en-US/_CD/reagents/meta/medicine.ftl
  Resources/Locale/en-US/_CD/reagents/meta/physical-desc.ftl
  Resources/Locale/en-US/_Floof/guidebook/chemistry/conditions.ftl
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/_CD/Reactions/medicine.yml
  Resources/Prototypes/_CD/Reagents/medicine.yml
  Resources/Prototypes/_Floof/Mood/categories.yml
  Resources/Prototypes/_Floof/Mood/drugs.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#711 Set Pose Port From RMC
  Content.Client/_RMC14/Examine/RMCSetPoseSystem.cs
  Content.Server/_RMC14/Examine/RMCSetPoseSystem.cs
  Content.Shared/_RMC14/Examine/Pose/RMCSetPoseComponent.cs
  Content.Shared/_RMC14/Examine/Pose/SharedRMCSetPoseSystem.cs
  Resources/Locale/en-US/_RMC14/pose/set-pose.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review

#701 Martials Fixes And Changes
  Content.Shared/Climbing/Systems/ClimbSystem.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/Stunnable/KnockedDownComponent.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.KravMaga.cs
  Content.Shared/_Goobstation/TableSlam/PostTabledComponent.cs
  Content.Shared/_Goobstation/TableSlam/TableSlamSystem.cs
  Content.Shared/_Goobstation/TableSlam/TableableComponent.cs
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/Loadouts/Jobs/Misc/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/_Goobstation/Entities/Specific/bso.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#688 Keybinds for Pockets and Suit Storage
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Interaction/SmartEquipSystem.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI, Status: Needs Review

#719 Change Display of Crew Manifest Pronouns
  Resources/Locale/en-US/deltav/gender.ftl
Labels: Changes: YML, Changes: Localization

#721 Integration Test Partial Fix
  Content.Shared/Throwing/ThrowingSystem.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#715 Remove Belt Walk Sounds
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: Changes: YML, Changes: C#

#710 Coffee Machine + Cups
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/devices.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_Impstation/Catalog/ReagentDispensers/coffee.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Dispensers/coffee.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/electronics.yml
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/coffeecup.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/coffeecup.rsi/meta.json
  Resources/Textures/_Impstation/Structures/coffeemachine.rsi/coffeemachine.png
  Resources/Textures/_Impstation/Structures/coffeemachine.rsi/meta.json
  Resources/Textures/_Impstation/Structures/coffeemachine.rsi/unshaded.png
Labels: Changes: YML, Changes: Sprite

#727 June Beats Me with Hammers when We're Alone...
  Resources/Maps/TheDen/baikal.yml
Labels: Changes: YML, Changes: Map

#733 Ramen
  Resources/Locale/en-US/_NF/flavors/flavor-profiles.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_NF/Flavors/flavors.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_NF/Objects/Consumable/Food/bowl.rsi/basic-noodles.png
  Resources/Textures/_NF/Objects/Consumable/Food/bowl.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/bowl.rsi/miso-noodles.png
  Resources/Textures/_NF/Objects/Consumable/Food/bowl.rsi/shio-noodles.png
  Resources/Textures/_NF/Objects/Consumable/Food/bowl.rsi/shoyu-noodles.png
  Resources/Textures/_NF/Objects/Consumable/Food/bowl.rsi/spicy-noodles.png
  Resources/Textures/_NF/Objects/Consumable/Food/bowl.rsi/tonkatsu-noodles.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/fill-1.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/fill-2.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/fill-3.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/fill-4.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/fill-5.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/icon_empty.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/icon_open.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#732 FOX PLEASE I HAVE A FAMILYYY
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/devices.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_Impstation/Catalog/ReagentDispensers/coffee.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Dispensers/coffee.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/electronics.yml
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/coffeecup.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/coffeecup.rsi/meta.json
  Resources/Textures/_Impstation/Structures/coffeemachine.rsi/coffeemachine.png
  Resources/Textures/_Impstation/Structures/coffeemachine.rsi/meta.json
  Resources/Textures/_Impstation/Structures/coffeemachine.rsi/unshaded.png
Labels: Changes: YML, Changes: Sprite

#736 Barrier Hotfix
  Resources/Maps/TheDen/barrier.yml
Labels: Changes: YML, Changes: Map

#734 Height/Width Slider QOL
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI

#696 Feat: Basic Dynamic Power Draw for IPCs Based on Movement Speed
  Content.Server/Silicon/Charge/Systems/SiliconChargeSystem.cs
  Content.Shared/Silicon/Components/SiliconComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#738 Fix Locales for Plant Analyzer
  Resources/Locale/en-US/botany/components/plant-analyzer-component.ftl
Labels: Changes: YML, Changes: Localization

#739 Sound Traits
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Language/LanguageSystem.cs
  Content.Server/LifeDrainer/LifeDrainerSystem.cs
  Content.Server/Speech/EntitySystems/VocalSystem.cs
  Content.Server/Traits/TraitSystem.Functions.cs
  Content.Server/_DEN/Vocal/AdditionalVocalSoundsComponent.cs
  Content.Server/_DEN/Vocal/AdditionalVocalSoundsSystem.cs
  Content.Shared/Speech/SpeechSystem.cs
  Resources/Locale/en-US/_DEN/traits/speech.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/miscTraitGroups.yml
  Resources/Prototypes/Entities/Mobs/NPCs/glimmer_creatures.yml
  Resources/Prototypes/Traits/categories.yml
  Resources/Prototypes/Traits/speech.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#717 Emote Additions
  Resources/Audio/_DEN/attributions.yml
  Resources/Audio/_DEN/reptilian_trill1.ogg
  Resources/Audio/_DEN/reptilian_trill2.ogg
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DEN/SoundCollections/reptilian.yml
  Resources/Prototypes/_DEN/Voice/speech_emotes.yml
  Resources/Prototypes/_DV/voice/speech_emote_sounds.yml
  Resources/Prototypes/_Floof/Voice/speech_emotes.yml
Labels: Changes: YML, Changes: Audio, Status: Needs Review

#744 What the Fuck Is This
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Bow/hardlight_arrows.yml
Labels: Changes: YML

#745 Traitor Does Not Get Stealth Suit
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
Labels: Changes: YML

#731 Pipeorgan
  Resources/Migrations/denMigrations.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/musician.yml
  Resources/Prototypes/Entities/Objects/Devices/instrumentFlatpacks.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_structures.yml
  Resources/Prototypes/Loadouts/Jobs/Service/musician.yml
  Resources/Prototypes/Traits/Misc/singer_types.yml
  Resources/Textures/Objects/Fun/Instruments/structureinstruments.rsi/church-organ.png
  Resources/Textures/Objects/Fun/Instruments/structureinstruments.rsi/meta.json
  Resources/Textures/Objects/Fun/Instruments/structureinstruments.rsi/pipe-organ.png
Labels: Changes: YML, Changes: Map, Changes: Sprite

#749 This Is a Normal Pr with No Changes
  Resources/Prototypes/Entities/Structures/Machines/microwave.yml
  Resources/Prototypes/_Harmony/Entities/Structures/Machines/microwave.yml
  Resources/Textures/_Harmony/Structures/Machines/microwave.rsi/inhand-left.png
  Resources/Textures/_Harmony/Structures/Machines/microwave.rsi/inhand-right.png
  Resources/Textures/_Harmony/Structures/Machines/microwave.rsi/meta.json
  Resources/Textures/_Harmony/Structures/Machines/microwave_syndie.rsi/inhand-left.png
  Resources/Textures/_Harmony/Structures/Machines/microwave_syndie.rsi/inhand-right.png
  Resources/Textures/_Harmony/Structures/Machines/microwave_syndie.rsi/meta.json
Labels: Changes: YML, Changes: Sprite

#741 Large Snake Tail Sprite Fix
  Resources/Textures/_White/Mobs/Customization/reptilian_64x32.rsi/snake_large.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#759 De-Rotate Pebble Station For A Bit
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#779 Stun Meta
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Resources/Locale/en-US/_DV/radio/headset.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization

#767 Add Missing Part of "Vulp Points Hands" Sprite
  Resources/Textures/_DV/Mobs/Customization/Vulpkanin/body_markings.rsi/points_hands.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#781 Minor Ftl Fix
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/narcotics.yml
Labels: Changes: YML, Status: Needs Review

#777 Epi Changes
  Content.Shared/Anomaly/Components/AnomalyComponent.cs
  Resources/Prototypes/Entities/Structures/Specific/oracle.yml
Labels: enhancement, Changes: YML, Changes: C#

#743 Resomi Sound Adjusts (Rd. 2)
  Resources/Audio/_DEN/attributions.yml
  Resources/Audio/_DEN/avali_coo.ogg
  Resources/Audio/_DEN/avali_cry.ogg
  Resources/Audio/_DEN/avali_honk.ogg
  Resources/Audio/_DEN/avali_sigh.ogg
  Resources/Audio/_DEN/avali_sneeze.ogg
  Resources/Locale/en-US/_DEN/chat/ui/emotes.ftl
  Resources/Prototypes/_DEN/Voice/speech_emotes.yml
  Resources/Prototypes/_DEN/tags.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/_Floof/Voice/avali_emote_sounds.yml
Labels: Changes: YML, Changes: Localization, Changes: Audio, Status: Needs Review

#755 Some Clothes! (#645)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/_Floof/Entities/Clothing/Uniforms/misc.yml
  Resources/Prototypes/_Floof/Loadouts/uniform.yml
  Resources/Textures/_Floof/Clothing/Uniforms/bandeddancersgarb.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Floof/Clothing/Uniforms/bandeddancersgarb.rsi/icon.png
  Resources/Textures/_Floof/Clothing/Uniforms/bandeddancersgarb.rsi/inhand-left.png
  Resources/Textures/_Floof/Clothing/Uniforms/bandeddancersgarb.rsi/inhand-right.png
  Resources/Textures/_Floof/Clothing/Uniforms/bandeddancersgarb.rsi/meta.json
  Resources/Textures/_Floof/Clothing/Uniforms/blackpetticoatdress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Floof/Clothing/Uniforms/blackpetticoatdress.rsi/icon.png
  Resources/Textures/_Floof/Clothing/Uniforms/blackpetticoatdress.rsi/inhand-left.png
  Resources/Textures/_Floof/Clothing/Uniforms/blackpetticoatdress.rsi/inhand-right.png
  Resources/Textures/_Floof/Clothing/Uniforms/blackpetticoatdress.rsi/meta.json
  Resources/Textures/_Floof/Clothing/Uniforms/bluefancylad.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Floof/Clothing/Uniforms/bluefancylad.rsi/icon.png
  Resources/Textures/_Floof/Clothing/Uniforms/bluefancylad.rsi/inhand-left.png
  Resources/Textures/_Floof/Clothing/Uniforms/bluefancylad.rsi/inhand-right.png
  Resources/Textures/_Floof/Clothing/Uniforms/bluefancylad.rsi/meta.json
  Resources/Textures/_Floof/Clothing/Uniforms/purplenightclubdress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Floof/Clothing/Uniforms/purplenightclubdress.rsi/icon.png
  Resources/Textures/_Floof/Clothing/Uniforms/purplenightclubdress.rsi/inhand-left.png
  Resources/Textures/_Floof/Clothing/Uniforms/purplenightclubdress.rsi/inhand-right.png
  Resources/Textures/_Floof/Clothing/Uniforms/purplenightclubdress.rsi/meta.json
  Resources/Textures/_Floof/Clothing/Uniforms/reddancersgarb.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Floof/Clothing/Uniforms/reddancersgarb.rsi/icon.png
  Resources/Textures/_Floof/Clothing/Uniforms/reddancersgarb.rsi/inhand-left.png
  Resources/Textures/_Floof/Clothing/Uniforms/reddancersgarb.rsi/inhand-right.png
  Resources/Textures/_Floof/Clothing/Uniforms/reddancersgarb.rsi/meta.json
  Resources/Textures/_Floof/Clothing/Uniforms/redsidelessdress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Floof/Clothing/Uniforms/redsidelessdress.rsi/icon.png
  Resources/Textures/_Floof/Clothing/Uniforms/redsidelessdress.rsi/inhand-left.png
  Resources/Textures/_Floof/Clothing/Uniforms/redsidelessdress.rsi/inhand-right.png
  Resources/Textures/_Floof/Clothing/Uniforms/redsidelessdress.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#786 Fix Footstep Heisentest
  Resources/Prototypes/Entities/Effects/puddle.yml
Labels: Changes: YML

#752 Completely Fuck Up The Species Section Of The Guidebook
  Content.Client/Guidebook/Richtext/Grid.cs
  Resources/Locale/en-US/_DEN/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/species.yml
  Resources/Prototypes/_DV/Guidebook/species.yml
  Resources/ServerInfo/Guidebook/Mobs/Arachne.xml
  Resources/ServerInfo/Guidebook/Mobs/Arachnid.xml
  Resources/ServerInfo/Guidebook/Mobs/Diona.xml
  Resources/ServerInfo/Guidebook/Mobs/Harpy.xml
  Resources/ServerInfo/Guidebook/Mobs/Human.xml
  Resources/ServerInfo/Guidebook/Mobs/IPCs.xml
  Resources/ServerInfo/Guidebook/Mobs/Lore/HarpyLore.xml
  Resources/ServerInfo/Guidebook/Mobs/Lore/OniLore.xml
  Resources/ServerInfo/Guidebook/Mobs/Lore/ReptilianLore.xml
  Resources/ServerInfo/Guidebook/Mobs/Lore/ShadowkinLore.xml
  Resources/ServerInfo/Guidebook/Mobs/Lore/TajaranLore.xml
  Resources/ServerInfo/Guidebook/Mobs/Moth.xml
  Resources/ServerInfo/Guidebook/Mobs/Oni.xml
  Resources/ServerInfo/Guidebook/Mobs/Plasmaman.xml
  Resources/ServerInfo/Guidebook/Mobs/Reptilian.xml
  Resources/ServerInfo/Guidebook/Mobs/Shadowkin.xml
  Resources/ServerInfo/Guidebook/Mobs/SlimePerson.xml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
  Resources/ServerInfo/Guidebook/Mobs/Tajaran.xml
  Resources/ServerInfo/Guidebook/Mobs/Vox.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Chitinid.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Felinid.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Feroxi.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Rodentia.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Vulpkanin.xml
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Documentation, Status: Needs Review

#790 Barrier Fixes, Again
  Resources/Maps/TheDen/barrier.yml
  Resources/Prototypes/Maps/barrier.yml
Labels: Changes: YML, Changes: Map

#792 Various Kitsune Fixes
  Content.Server/Humanoid/Systems/HumanoidAppearanceSystem.cs
  Content.Server/Speech/EntitySystems/VocalSystem.cs
  Content.Server/_DV/Abilities/Kitsune/KitsuneSystem.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/_DV/Abilities/Kitsune/KitsuneComponent.cs
  Content.Shared/_DV/Abilities/Kitsune/SharedKitsuneSystem.cs
  Resources/Locale/en-US/deltav/actions/kitsune.ftl
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/kitsune.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Species/kitsune.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#793 Return of the Ecutlass (and Svalinn)
  Resources/Locale/en-US/loadouts/jobs/security.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
Labels: Changes: YML, Changes: Localization

#796 Nerf Michaelwave
  Resources/Prototypes/_Harmony/Entities/Structures/Machines/microwave.yml
Labels: Changes: YML

#791 Ports Randomized Candy From Delta V (Or At Least Attempt To)
  Content.Client/Entry/EntryPoint.cs
  Content.Client/_DV/Abilities/Borgs/RandomizedCandyVisualizer.cs
  Content.Server/_DV/Abilities/Borgs/CandyFlavorPrototype.cs
  Content.Server/_DV/Abilities/Borgs/RandomizedCandySystem.cs
  Content.Shared/_DV/Abilities/Borgs/RandomizedCandyComponent.cs
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/candy.yml
  Resources/Prototypes/_DV/Flavors/candyflavors.yml
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/candy.rsi/gumball-shine.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/candy.rsi/gumball.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/candy.rsi/lollipop-ball.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/candy.rsi/lollipop-equipped-MASK-vulpkanin.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/candy.rsi/lollipop-equipped-MASK.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/candy.rsi/lollipop-stickandshine.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/candy.rsi/meta.json
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Sprite, Status: Needs Review

#798 Lmao
  Resources/Locale/en-US/loadouts/jobs/security.ftl
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicators.yml
Labels: Changes: YML, Changes: Localization

#801 Removing Cybersun Tacsuits From The Cargo Catalogue
  Resources/Prototypes/Catalog/Cargo/cargo_hardsuits.yml
Labels: enhancement, Changes: YML, Status: Needs Review

#787 Ough the Poster Oughhhhhhhhh on My Syndie Shiiiiiiiiiiiittttttttttt
  Content.Server/StationEvents/Components/PirateRadioSpawnRuleComponent.cs
  Resources/Maps/TheDen/LPO.yml
Labels: enhancement, Changes: YML, Changes: Map, Changes: C#, Status: Needs Review, Medium Priority

#806 This Branch Was Originally a Markings Branch
  Resources/Audio/_Floof/Voice/Vulpkanin/yap.ogg
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/kemonomimi_limbs.yml
  Resources/Prototypes/_DEN/Traits/languages.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Prototypes/_DV/voice/speech_emote_sounds.yml
  Resources/Prototypes/_Floof/SoundCollections/emotes.yml
  Resources/Prototypes/_Floof/Voice/speech_emotes.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/bodyhair.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/headcovers.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc2.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/tattoos.yml
Labels: Changes: YML, Changes: Localization, Changes: Audio, Status: Needs Review

#811 Fixed Lavaland Weather Over-Rendering
  Resources/Prototypes/Shaders/Stencils.yml
Labels: Changes: YML, Status: Needs Review

#813 Remove Denu Formatter Asterisks
  Content.Client/UserInterface/Systems/Chat/Controls/Denu/DenuPopup.xaml
  Content.Client/UserInterface/Systems/Chat/Controls/Denu/DenuPopup.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Controls/Denu/DenuUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/Denu/MessageFormatter.cs
Labels: Changes: YML, Changes: C#, Changes: UI

#814 War Never Changes.
  Content.Server/GameTicking/Rules/Components/NukeopsRuleComponent.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#816 Uhm Oops
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-damage.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-loadout.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicators.yml
Labels: Changes: YML

#812 Remove Cc Stamp
  Resources/Maps/TheDen/LPO.yml
Labels: Changes: YML, Changes: Map

#805 Small Tweaks and Fixes
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.KravMaga.cs
  Resources/Locale/en-US/_DEN/paradox-anomaly/paradox-anomaly.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Structures/Machines/flatpacker.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_Goobstation/MartialArts/kravmaga.yml
  Resources/Prototypes/tags.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#823 Dragon Buff
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Devour/DevourSystem.cs
  Content.Server/Dragon/DragonSystem.cs
  Content.Server/_DEN/Devourable/DevourableSystem.cs
  Content.Server/_DEN/Voting/Systems/DuplicateVoteSystem.cs
  Content.Shared/Atmos/Rotting/SharedRottingSystem.cs
  Content.Shared/Devour/Components/DevourerComponent.cs
  Content.Shared/Devour/SharedDevourSystem.cs
  Content.Shared/_DEN/Devourable/DevourableComponent.cs
  Resources/Locale/en-US/Blep/consent.ftl
  Resources/Locale/en-US/actions/actions/dragon.ftl
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/consent.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#826 FTL Fix
  Resources/Locale/en-US/emotes/emotes.ftl
Labels: Changes: YML, Changes: Localization

#825 Remove: Holofan Sounds
  Content.Shared/_DV/Holosign/ChargeHolosignSystem.cs
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
Labels: Changes: YML, Changes: C#

#830 Add Randomize Body Button
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI, Status: Needs Review

#824 Lower Salvage Magnet/Expeditions Restrictions
  Content.Server/Salvage/SalvageSystem.Magnet.cs
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: YML, Changes: C#

#835 Lmao
  Tools/update_pr_reuse_headers.py
Labels: Changes: YML

#836 Fix Parser
  Content.Client/Guidebook/Controls/GuidebookError.xaml
  Content.Client/Guidebook/Controls/GuidebookError.xaml.cs
  Content.Client/Guidebook/Controls/GuidebookWindow.xaml.cs
  Content.Client/Guidebook/DocumentParsingManager.cs
  Content.Client/Guidebook/DocumentParsingManager.static.cs
  Resources/Locale/en-US/guidebook/guidebook.ftl
  Tools/update_pr_reuse_headers.py
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI

#837 Refactor: Replaced EE Logos with Wizden Standard Ss14 Logos, Also Refactored README.md
  README.md
  Resources/Textures/Logo/icon-license.txt
  Resources/Textures/Logo/icon.ico
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-64x64.png
  Resources/Textures/Logo/logo.icns
  Resources/Textures/Logo/logo.png
  Resources/Textures/Logo/logo.png.yml
  Resources/Textures/Logo/source/EE_logo-dark.svg
  Resources/Textures/Logo/source/EE_logo-light.svg
  Resources/Textures/Logo/source/EE_logo.svg
  Resources/Textures/Logo/source/EE_splashlogo.svg
  Resources/Textures/Logo/source/logo.svg
  Resources/Textures/Logo/splashlogo.png
  Resources/manifest.yml
Labels: Changes: YML, Changes: Documentation

#844 No More Ugly Blue Stripe
  Resources/Locale/en-US/loadouts/jobs/security.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#841 Feat: Added Nukie Plushie to Loadouts
  Resources/Prototypes/Loadouts/Generic/items.yml
Labels: Changes: YML, Status: Needs Review

#842 Give Rodentia Squeak Emote Again
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_DEN/tags.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/rodentia.yml
Labels: Changes: YML, Status: Needs Review

#848 Refactor: Replace Wizden Logo with Den Logo
  README.md
  Resources/Textures/Logo/icon-license.txt
  Resources/Textures/Logo/icon.ico
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-64x64.png
  Resources/Textures/Logo/logo.png
  Resources/Textures/Logo/source/den_logo.png
  Resources/Textures/Logo/source/logo.svg
Labels: Changes: YML, Changes: Documentation, Status: Needs Review

#849 Changed Uplinks to Make Sense
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_DV/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/ServerInfo/Guidebook/Antagonist/Nuclear Operatives.xml
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
Labels: Changes: YML, Changes: Documentation, Status: Needs Review

#838 New Plushies (Ovinia, Teddy Bear, Smileys, Alien Germ)
  Resources/Locale/en-US/_DEN/lathe/recipes.ftl
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Entities/Objects/Fun/prizeticket.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/teddybear.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Prototypes/_DEN/Palettes/teddybear.yml
  Resources/Prototypes/_DEN/Palettes/toy.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/prizecounter.yml
  Resources/Prototypes/_DEN/SoundCollections/plushie.yml
  Resources/Prototypes/_DEN/tags.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Mail/mail.yml
  Resources/Textures/_DEN/Clothing/Neck/Misc/teddyribbon.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/teddyribbon.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/teddyribbon.rsi/meta.json
  Resources/Textures/_DEN/Objects/Fun/littlesteve.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/littlesteve.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/littlesteve.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/littlesteve.rsi/meta.json
  Resources/Textures/_DEN/Objects/Fun/oviniaplushie.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/oviniaplushie.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/oviniaplushie.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/oviniaplushie.rsi/meta.json
  Resources/Textures/_DEN/Objects/Fun/smileyball.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/smileyball.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/smileyball.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/smileyball.rsi/meta.json
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/meta.json
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/plush_heart.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear-inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear-inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear_accent-inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear_accent-inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear_accent.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear_accent_muzzle.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear_accent_plain.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear_base-inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear_base-inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear_base.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear_base_plaid.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear_ribbon-inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear_ribbon-inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear_ribbon.png
  Resources/Textures/_DEN/Objects/Fun/ufoplushie.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/ufoplushie.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/ufoplushie.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/ufoplushie.rsi/meta.json
  Resources/Textures/_DEN/Objects/Fun/ufoplushie.rsi/small.png
  Resources/Textures/_DEN/Templates/teddybear.aseprite
Labels: Changes: YML, Changes: Localization, Changes: Sprite

#846 Engineering Loadout Deduplication + Valid Clothes Cost 1
  Resources/Prototypes/Loadouts/Generic/hands.yml
  Resources/Prototypes/Loadouts/Generic/head.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/chiefEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/paramedic.yml
  Resources/Prototypes/_Floof/Loadouts/shoes.yml
  Resources/Prototypes/_Floof/Loadouts/uniform.yml
Labels: Changes: YML, Status: Needs Review

#860 Oppossom Station Pet Vibes
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
Labels: Changes: YML, Status: Needs Review

#861 Fix Changelog Workflows
  .github/workflows/discord-changelog.yml
  .github/workflows/publish-changelog.yml
Labels: Changes: YML, Changes: Workflow, Status: Needs Review

#864 Reuse Headers Python Script Hotfix
  Tools/update_pr_reuse_headers.py
Labels: Changes: YML, Status: Needs Review

#867 Fix SqueakySmileyBallRandom Entity Prototype Id
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
Labels: Changes: YML

#855 Adding Admin Tools and Changing Aghost Starting Gear
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/InventoryTemplates/aghost_inventory_template.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/admin.yml
Labels: Changes: YML, Status: Needs Review

#870 Reuse Header Script Fixes Fr This Time
  Tools/apply_reuse_headers.py
  Tools/update_pr_reuse_headers.py
Labels: Changes: YML, Status: Needs Review

#856 Loadouts Refactor + Optimization (Not a Revamp) (That's Out Of Scope)
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/LoadoutPreferenceSelector.xaml.cs
  Content.Client/_DEN/Lobby/UI/Loadouts/LoadoutsPanel.xaml
  Content.Client/_DEN/Lobby/UI/Loadouts/LoadoutsPanel.xaml.cs
Labels: Changes: YML, Changes: C#, Changes: UI, Status: Needs Review

#866 More Loadout Changes, Add Missing Loadout Options
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/atmosphericTechnician.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/engineeringUncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/golemancer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Logistics/courier.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/chemist.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/chiefMedicalOfficer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/medicalDoctor.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/corpsman.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/atmosphericTechnician.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/golemancer.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Logistics/courier.yml
  Resources/Prototypes/Loadouts/Jobs/Logistics/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/chemist.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/chiefMedicalOfficer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/medicalDoctor.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Misc/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/corpsman.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_Floof/Entities/Clothing/departmental_clothes.yml
  Resources/Prototypes/_Floof/Loadouts/Jobs/Heads/command.yml
  Resources/Prototypes/_Floof/Loadouts/Jobs/epistemics.yml
  Resources/Prototypes/_Floof/Loadouts/Jobs/medical.yml
  Resources/Prototypes/_Floof/Loadouts/Jobs/security.yml
  Resources/Prototypes/_Floof/Loadouts/Jobs/service.yml
Labels: Changes: YML

#873 Fix: MapRenderer
  Content.MapRenderer/CommandLineArguments.cs
  Content.MapRenderer/Painters/DecalPainter.cs
  Content.MapRenderer/Painters/EntityPainter.cs
  Content.MapRenderer/Painters/GridPainter.cs
  Content.MapRenderer/Painters/MapPainter.cs
  Content.MapRenderer/Painters/TilePainter.cs
  Content.MapRenderer/Program.cs
Labels: Changes: YML, Changes: C#

#871 Minor Suggestions and Bugfixes
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
Labels: Changes: YML, Status: Needs Review

#865 Feat: Added Protogen IPC Visor Sprites
  Resources/Locale/en-US/_DV/markings/synthetic.ftl
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/synthetic.yml
  Resources/Textures/_DV/Mobs/Customization/SynthLizIPC/head_markings.rsi/meta.json
  Resources/Textures/_DV/Mobs/Customization/SynthLizIPC/head_markings.rsi/protogen_mouth.png
  Resources/Textures/_DV/Mobs/Customization/SynthLizIPC/snout_markings.rsi/meta.json
  Resources/Textures/_DV/Mobs/Customization/SynthLizIPC/snout_markings.rsi/protogen_snout_1.png
  Resources/Textures/_DV/Mobs/Customization/SynthLizIPC/snout_markings.rsi/protogen_snout_2.png
  Resources/Textures/_DV/Mobs/Customization/SynthLizIPC/snout_markings.rsi/protogen_snout_bolt_1.png
  Resources/Textures/_DV/Mobs/Customization/SynthLizIPC/snout_markings.rsi/protogen_snout_bolt_2.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite

#857 Salvage Expeditions Console & Magnet Fix [BOUNTY]
  Content.Server/Salvage/Components/SalvageLastStationComponent.cs
  Content.Server/Salvage/SalvageSystem.ExpeditionConsole.cs
  Content.Server/Salvage/SalvageSystem.Magnet.cs
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/salvage.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#875 Gravel Station Day 1 Patch
  Resources/Maps/TheDen/gravel.yml
Labels: Changes: YML, Changes: Map

#851 Shoukou AI Turrets and Comms Consoles
  Resources/Maps/TheDen/shoukou.yml
Labels: Changes: YML, Changes: Map

#886 Ready PR for Update
  .github/workflows/publish-testing.yml
  .github/workflows/publish.yml
  Tools/publish_multi_request.py
Labels: Changes: YML, Changes: Workflow

#888 Gravel Tweaks Jun 23
  Resources/Maps/TheDen/gravel.yml
Labels: Changes: YML, Changes: Map

#890 HFR Fixes
  Resources/Maps/Test/test_hfr.yml
  Resources/Prototypes/Catalog/Cargo/cargo_atmospherics.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/miners.yml
Labels: Changes: YML, Changes: Map

#892 Arena Quickfix
  Resources/Maps/TheDen/arena.yml
Labels: Changes: YML, Changes: Map

#899 Beetroot Seeds
  Resources/Locale/en-US/seeds/seeds.ftl
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#876 BOUNTY: Mantis, BSO, Magistrate, NanoTrasen Rep, and Corpsman Maints Doors
  Resources/Prototypes/_DEN/Entities/Structures/Doors/Airlocks/access.yml
Labels: Changes: YML, Status: Needs Review

#884 More Hairs From Skyrat
  Resources/Locale/en-US/accessories/human-hair.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/Mobs/Customization/human_hair.rsi/bobcut_over_eye.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/bobcut_over_eye_2.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/bobcut_over_eye_3.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/bonnie.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/bonnie_2.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/bonnie_2_long.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/bonnie_2_short.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/bonnie_long.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/bonnie_short.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/dawn.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/fluffy.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/fluffy_long.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/khmuro.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/kobeni.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/kobeni_2.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/low_bun.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/low_ponytail.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/Mobs/Customization/human_hair.rsi/morning.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/over_ear.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/over_ear_2.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/over_eye.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/ponytail_short.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/simple.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/simple_long.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/simple_short.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/thin_ponytail.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/thin_ponytail_long.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/twintails_2.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/twintails_2_long.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/twintails_2_short.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/upwards.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite

#903 More Kitsune Markings
  Resources/Prototypes/_ADT/Mobs/Customization/custom/Human_tattoos.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/toy.yml
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/nipplepiercings.yml
  Resources/Prototypes/_DEN/Mobs/Customization/Markings/pubes.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/rodentia.yml
  Resources/Prototypes/_DV/Species/kitsune.yml
Labels: Changes: YML, Status: Needs Review

#912 Update Automatic Chat Highlighting
  Resources/Locale/en-US/_DV/chat/highlights.ftl
  Resources/Prototypes/_DV/Catalog/Chat/highlights.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#908 Set Pose Changes
  Content.Server/_RMC14/Examine/RMCSetPoseSystem.cs
  Resources/Locale/en-US/_RMC14/pose/set-pose.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review

#909 Remove Consent Requiring Reagents Being Spawned In
  Content.Server/StationEvents/Events/VentClogRule.cs
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/randompill.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/_Floof/Entities/Mobs/NPCs/slimes.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#911 Sum Horns
  Resources/Locale/en-US/_DEN/markings/ovinia.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Ovinia.yml
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/horn_markings.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/horn_markings.rsi/ovinia-baphomet-horns.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/horn_markings.rsi/ovinia-deer-horns.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/horn_markings.rsi/ovinia-devil-horns.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/horn_markings.rsi/ovinia-ibex-horns.png
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/snout_markings.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Ovinia/snout_markings.rsi/ovinia-blaze.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite

#894 Admin Tool Fixes
  Content.IntegrationTests/Tests/StorageTest.cs
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Entities/Objects/Devices/door_remote.yml
  Resources/Prototypes/Entities/Objects/Devices/hand_teleporter.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_string.yml
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/telescopic_baton.yml
  Resources/Prototypes/Entities/categories.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/admin.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
Labels: Changes: YML, Changes: C#

#897 Bugfixes
  Content.Server/PowerCell/PowerCellSystem.Draw.cs
  Resources/Locale/en-US/communications/communications-console-component.ftl
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks-cartons.yml
  Resources/Prototypes/_DV/QuickPhrases/base.yml
  Resources/Prototypes/_Funkystation/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Storage/bso_box.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-AAC-phrases.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review

#904 Magmantle Love
  Resources/Locale/en-US/_DEN/lathe/recipes.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Research/civilianservices.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#916 Amputee Traits + Mobility Aid Improvements
  Content.IntegrationTests/Tests/Body/LegTest.cs
  Content.IntegrationTests/Tests/Buckle/BuckleTest.cs
  Content.Server/Traits/TraitSystem.Functions.cs
  Content.Server/_DEN/Movement/Systems/LegSupportSystem.cs
  Content.Server/_DEN/Movement/Systems/SupportStandingSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Relay.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Traits/Assorted/Systems/LegsParalyzedSystem.cs
  Content.Shared/_DEN/Body/SharedBodySystem.Events.cs
  Content.Shared/_DEN/Movement/Components/AdaptedBalanceComponent.cs
  Content.Shared/_DEN/Movement/Components/LegSupportComponent.cs
  Content.Shared/_DEN/Movement/Components/SupportStandingComponent.cs
  Content.Shared/_DEN/Movement/Systems/SharedAdaptedBalanceSystem.cs
  Content.Shared/_DEN/Movement/Systems/SharedLegSupportSystem.cs
  Content.Shared/_DEN/Movement/Systems/SharedSupportStandingSystem.cs
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Locale/en-US/_DEN/traits/disability.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/_DEN/CharacterItemGroups/Loadouts/miscItems.yml
  Resources/Prototypes/_DEN/CharacterItemGroups/Traits/disability.yml
  Resources/Prototypes/_DEN/Entities/Objects/Tools/mobility_aids.yml
  Resources/Prototypes/_DEN/Loadouts/accessibility.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/medical.yml
  Resources/Prototypes/_DEN/Traits/disabilities.yml
  Resources/Prototypes/_DEN/Traits/mobility.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/medical.yml
  Resources/Textures/_DEN/Objects/Tools/Mobility/cane_anatomical.rsi/cane-empty.png
  Resources/Textures/_DEN/Objects/Tools/Mobility/cane_anatomical.rsi/cane.png
  Resources/Textures/_DEN/Objects/Tools/Mobility/cane_anatomical.rsi/cane_folded.png
  Resources/Textures/_DEN/Objects/Tools/Mobility/cane_anatomical.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Tools/Mobility/cane_anatomical.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Tools/Mobility/cane_anatomical.rsi/meta.json
  Resources/Textures/_DEN/Objects/Tools/Mobility/cane_anatomical.rsi/wielded-inhand-left.png
  Resources/Textures/_DEN/Objects/Tools/Mobility/cane_anatomical.rsi/wielded-inhand-right.png
  Resources/Textures/_DEN/Objects/Tools/Mobility/cane_colorable.rsi/cane-empty.png
  Resources/Textures/_DEN/Objects/Tools/Mobility/cane_colorable.rsi/cane.png
  Resources/Textures/_DEN/Objects/Tools/Mobility/cane_colorable.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Tools/Mobility/cane_colorable.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Tools/Mobility/cane_colorable.rsi/meta.json
  Resources/Textures/_DEN/Objects/Tools/Mobility/cane_colorable.rsi/wielded-inhand-left.png
  Resources/Textures/_DEN/Objects/Tools/Mobility/cane_colorable.rsi/wielded-inhand-right.png
  Resources/Textures/_DEN/Objects/Tools/Mobility/cane_quadbase.rsi/cane-empty.png
  Resources/Textures/_DEN/Objects/Tools/Mobility/cane_quadbase.rsi/cane.png
  Resources/Textures/_DEN/Objects/Tools/Mobility/cane_quadbase.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Tools/Mobility/cane_quadbase.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Tools/Mobility/cane_quadbase.rsi/meta.json
  Resources/Textures/_DEN/Objects/Tools/Mobility/cane_quadbase.rsi/wielded-inhand-left.png
  Resources/Textures/_DEN/Objects/Tools/Mobility/cane_quadbase.rsi/wielded-inhand-right.png
  Resources/Textures/_Impstation/Objects/Weapons/Melee/cane.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Melee/cane.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Weapons/Melee/cane.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Melee/cane.rsi/walkingcane.png
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Sprite

#910 Arena Minor Fixes
  Resources/Maps/TheDen/arena.yml
Labels: Changes: YML, Changes: Map

#919 Bark
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Server/_DEN/Administration/Commands/ExtraDenCommands.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/_DEN/Species/SpeciesRestrictionExemptComponent.cs
Labels: Changes: YML, Changes: C#

#893 Fuck You (Weird) Third Captain ID
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: YML, Status: Needs Review

#881 Minibomb and Exploding Pen Rebalance
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/pen.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/explosion.yml
Labels: Changes: YML, Changes: Localization

#920 Minor Dropship Aesthetic Tweak
  Resources/Maps/Shuttles/ShuttleEvent/SANDropship.yml
Labels: Changes: YML, Changes: Map

#926 [Chore] Fixed Code Duplication Issue with Dropship .yml
  Resources/Maps/Shuttles/ShuttleEvent/SANDropship.yml
Labels: Changes: YML, Changes: Map

#928 Rejuvenate + Getheightwidth
  Content.Server/_DEN/Administration/Commands/ExtraDenCommands.cs
Labels: Changes: YML, Changes: C#

#900 Export Sprite Button
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Sprite/ContentSpriteSystem.cs
  Resources/Locale/en-US/administration/admin-verbs.ftl
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI, Status: Needs Review

#922 Tweak: Make Pride Scarfs Inherit From ClothingNeckScarfBase
  Resources/Prototypes/Entities/Clothing/Neck/scarfs.yml
Labels: Changes: YML

#929 Lobby Art Contest Winners (Minus Cinder's [No Explicit Consent Yet])
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/denos.webp
  Resources/Textures/LobbyScreens/denos.webp.yml
  Resources/Textures/LobbyScreens/lurkinginthedark.webp.yml
  Resources/Textures/LobbyScreens/thesix.webp
  Resources/Textures/LobbyScreens/thesix.webp.yml
  Resources/Textures/LobbyScreens/thetrip.webp
  Resources/Textures/LobbyScreens/thetrip.webp.yml
Labels: Changes: YML, Status: Needs Review

#932 Keep Departmental Clothing Requirements to Any Department Members
  Resources/Prototypes/Loadouts/Jobs/Engineering/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/golemancer.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/uncategorized.yml
  Resources/Prototypes/_CD/Loadouts/Jobs/Cargo/cargoTechnician.yml
  Resources/Prototypes/_Floof/Loadouts/Jobs/epistemics.yml
  Resources/Prototypes/_Floof/Loadouts/Jobs/logistics.yml
Labels: Changes: YML

#933 Lobby Art DeRotation
  Resources/Prototypes/lobbyscreens.yml
Labels: Changes: YML

#935 Blitz Fuckied Up
  Resources/Textures/Mobs/Customization/SynthMammalIPC/body_markings.rsi/synth_mammal_l_foot.png
  Resources/Textures/Mobs/Customization/SynthMammalIPC/body_markings.rsi/synth_mammal_l_leg.png
  Resources/Textures/Mobs/Customization/SynthMammalIPC/body_markings.rsi/synth_mammal_r_leg.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#934 Fix: Make Character Editor Buttons Vertical
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
Labels: Changes: YML, Changes: UI, Status: Needs Review

#938 Even More Arena Tweaks + Edge AI Job Slot
  Resources/Maps/TheDen/arena.yml
  Resources/Prototypes/Maps/edge.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review
