Repository TheDenSS14/TheDen, pull requests merged in 2025-07, with the labels that each got.

#946 Port Cool Stuff
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml
  Content.Client/Buckle/BuckleSystem.cs
  Content.Server/Administration/Commands/AGhost.cs
  Content.Server/Carrying/CarryingSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/OfferItem/OfferItemSystem.ExtendedTransfer.cs
  Content.Server/OfferItem/OfferItemSystem.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Shared/Chat/ChatChannelExtensions.cs
  Content.Shared/Language/LanguagePrototype.cs
  Content.Shared/Nyanotrasen/Item/PseudoItem/SharedPseudoItemSystem.cs
  Content.Shared/OfferItem/OfferItemComponent.cs
  Content.Shared/OfferItem/SharedOfferItemSystem.cs
  Resources/Audio/MidiCustom/space-station-14.sf2
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/musician.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/base_instruments.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instrument_keyed.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_brass.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_misc.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_percussion.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_string.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_wind.yml
  Resources/Prototypes/GreyStation/Entities/Objects/Fun/Instruments/instruments_percussion.yml
  Resources/Prototypes/_Floof/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_Floof/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_Floof/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/_Floof/Loadouts/Jobs/Service/musician.yml
  Resources/Textures/GreyStation/Objects/Fun/Instruments/structureinstruments.rsi/drumkit.png
  Resources/Textures/GreyStation/Objects/Fun/Instruments/structureinstruments.rsi/meta.json
  Resources/Textures/Objects/Fun/Instruments/banjo.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Fun/Instruments/banjo.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Fun/Instruments/banjo.rsi/meta.json
  Resources/Textures/Objects/Fun/Instruments/bassguitar.rsi/meta.json
  Resources/Textures/Objects/Fun/Instruments/eguitar.rsi/meta.json
  Resources/Textures/Objects/Fun/Instruments/h_synthesizer.rsi/meta.json
  Resources/Textures/Objects/Fun/Instruments/h_synthesizer.rsi/super-inhand-left.png
  Resources/Textures/Objects/Fun/Instruments/h_synthesizer.rsi/super-inhand-right.png
  Resources/Textures/Objects/Fun/Instruments/h_synthesizer.rsi/supersynth.png
  Resources/Textures/Objects/Fun/Instruments/rockguitar.rsi/meta.json
Labels: Changes: YML, Changes: C#, Changes: Sprite, Changes: UI

#939 Fix Marking Layers (Primarily Neck Fluff)
  Content.Shared/Humanoid/HumanoidVisualLayers.cs
  Content.Shared/Humanoid/HumanoidVisualLayersExtension.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Species/ovinia.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/chitinid.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/vulpkanin.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#943 Tweaks to Edge and a Fix to Gravel
  Resources/Maps/TheDen/edge.yml
  Resources/Maps/TheDen/gravel.yml
  Resources/Prototypes/Maps/edge.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#942 Impstation Plushie Exchange
  Resources/Locale/en-US/_Impstation/flavors/flavor-profiles.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Impstation/Flavors/flavors.yml
  Resources/Prototypes/_Impstation/Loadouts/items.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/prizecounter.yml
  Resources/Prototypes/_Impstation/SoundCollections/destruction.yml
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/bug-equipped-HELMET.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/doll_base-inhand-left.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/doll_base-inhand-right.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/doll_base.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/doll_hair-inhand-left.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/doll_hair-inhand-right.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/doll_hair.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/giantbearplush-inhand.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/giantbearplush.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/minor.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/plushie_bug-inhand-left.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/plushie_bug-inhand-right.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/plushie_bug.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/plushie_dwarf.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/plushie_dwarf_unshaded.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/plushie_mascotgriffy.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#949 A
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/conflict-labeler.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Devices/mousetrap.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/trashbag.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Janitorial/trashbag.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/janitorial.yml
  Resources/Prototypes/tags.yml
  Tools/update_pr_reuse_headers.py
Labels: Changes: YML

#951 Create Paradox Anomaly of Specific Users
  Content.Server/_DEN/Administration/Commands/ExtraDenCommands.cs
  Content.Server/_DEN/Administration/Commands/HeightWidthCommands.cs
  Content.Server/_DEN/Administration/Commands/ParadoxAnomalyCommands.cs
  Content.Server/_DEN/Administration/Commands/RoundInfoCommand.cs
  Content.Server/_DEN/Administration/Commands/SelfDamageCommand.cs
  Content.Server/_DV/ParadoxAnomaly/Systems/ParadoxAnomalySystem.cs
Labels: Changes: YML, Changes: C#

#952 High Danger Is High Danger
  Resources/Prototypes/_DEN/random_presets.yml
Labels: Changes: YML

#957 New Logo!
  README.md
  Resources/Textures/Logo/icon-license.txt
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-64x64.png
  Resources/Textures/Logo/logo.png
  Resources/Textures/Logo/source/den_logo.png
Labels: Changes: YML, Changes: Documentation, Status: Needs Review

#961 A Really Big Shoukou Fix That Everyone Will Praise Me For, Really, It's Sought After By Millions Of People
  Resources/Maps/TheDen/shoukou.yml
Labels: Changes: YML, Changes: Map

#966 Bionic Arm and Leg No Arm Resprite Trait
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/mindormachine.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML, Changes: Localization

#959 Gravel Feedback Pass
  Resources/Maps/TheDen/gravel.yml
  Resources/Prototypes/Maps/gravel.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#902 Havoc Station, Beta Version
  Resources/Locale/en-US/_DEN/navmap-beacon/station-beacons.ftl
  Resources/Maps/TheDen/havoc.yml
  Resources/Prototypes/Maps/havoc.yml
Labels: Changes: YML, Changes: Map, Changes: Localization, Status: Needs Review

#971 Power Stabilization
  Content.Server/Power/Generation/Teg/TegGeneratorComponent.cs
  Content.Server/Power/Generation/Teg/TegSystem.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/coil.yml
Labels: Changes: YML, Changes: C#

#970 All Species Sizes Are The Same
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Resources/Prototypes/Nyanotrasen/Entities/Body/Prototypes/oni.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/dwarf.yml
  Resources/Prototypes/Species/harpy.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/shadowkin.yml
  Resources/Prototypes/_DEN/Species/Ovinia.yml
  Resources/Prototypes/_DEN/Species/canid.yml
  Resources/Prototypes/_DV/Species/rodentia.yml
  Resources/Prototypes/_EE/Species/tajaran.yml
  Resources/Prototypes/_Floof/Species/resomi.yml
Labels: Changes: YML, Changes: C#

#979 Disposal Chute Receiving Signal
  Content.Server/_Goobstation/Disposals/DisposalSignalSystem.cs
  Resources/Locale/en-US/machine-linking/receiver_ports.ftl
  Resources/Prototypes/DeviceLinking/sink_ports.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/units.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review

#984 Re-Add some Funkychems
  Resources/Locale/en-US/Floof/reagents/meta/chemicals.ftl
  Resources/Locale/en-US/_Funkystation/chemistry/medicine.ftl
  Resources/Locale/en-US/_Funkystation/chemistry/toxins.ftl
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_Floof/Reagents/chemicals.yml
  Resources/Prototypes/_Floof/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/_Funkystation/Reagents/medicine.yml
  Resources/Prototypes/_Funkystation/Reagents/toxins.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/toxins.yml
Labels: Changes: YML, Changes: Localization, Changes: Documentation

#976 Allow Vox to Recover From Poison
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: Changes: YML, Status: Needs Review

#980 Fix: Broken Skewer/Kebab Prototype
  Resources/Prototypes/Entities/Objects/Consumable/Food/skewer.yml
Labels: Changes: YML, Status: Needs Review

#975 Fix Microwave Container Bug
  Content.Server/_Goobstation/Kitchen/MicrowaveEventsSystem.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#972 Vent Critter Stuff
  Content.Server/StationEvents/Components/VentCritterSpawnLocationComponent.cs
  Content.Server/StationEvents/Events/VentCrittersRule.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
Labels: Changes: YML, Changes: C#

#953 Various Emote Tweaks, Fixes, Additions
  Resources/Audio/_Floof/Voice/Vulpkanin/gekker.ogg
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_DEN/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DEN/tags.yml
  Resources/Prototypes/_DV/voice/speech_emote_sounds.yml
  Resources/Prototypes/_DV/voice/speech_emotes.yml
Labels: Changes: YML, Changes: Audio, Status: Needs Review

#983 Finally, Shoukou Lavaland
  Resources/Maps/TheDen/shoukou.yml
Labels: Changes: YML, Changes: Map

#982 Crew Monitor QoL
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleComponent.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleSystem.cs
  Resources/Audio/_DV/Medical/CrewMonitoring/crew_alert.ogg
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
Labels: Changes: YML, Changes: C#, Changes: Audio, Changes: UI, Status: Needs Review

#985 Marked Traits
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/FloofStation/Traits/Components/MarkedComponent.cs
  Content.Server/Objectives/Components/PickRandomPersonComponent.cs
  Content.Server/Objectives/Systems/KillPersonConditionSystem.cs
  Content.Shared/Clothing/Loadouts/Prototypes/LoadoutPrototype.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Profile.cs
  Content.Shared/Prototypes/CharacterItemGroupPrototype.cs
  Content.Shared/Traits/Prototypes/TraitPrototype.cs
  Resources/Locale/en-US/_Floof/traits/categories.ftl
  Resources/Locale/en-US/_Floof/traits/traits.ftl
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Prototypes/_DV/Objectives/traitor.yml
  Resources/Prototypes/_Floof/Traits/categories.yml
  Resources/Prototypes/_Floof/Traits/marked.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#974 Adds the Vox Language: Vox-Pidgin (But Actually This Time)
  Resources/Locale/en-US/_DEN/chat/chat-language.ftl
  Resources/Locale/en-US/_DEN/language/languages.ftl
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/_DEN/Language/languages.yml
  Resources/Prototypes/_DEN/Traits/languages.yml
  Resources/ServerInfo/Guidebook/Mobs/Vox.xml
Labels: Changes: YML, Changes: Localization, Changes: Documentation, Status: Needs Review

#988 Give Salbumtamol a Recipe
  Resources/Prototypes/_Funkystation/Recipes/Reactions/medicine.yml
Labels: Changes: YML

#987 Readd Welding Fuel to Chem Dispenser/Vend
  Resources/Prototypes/Catalog/ReagentDispensers/chemical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemvend.yml
Labels: Changes: YML, Status: Needs Review

#986 Revert "All Species Sizes Are The Same"
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Resources/Prototypes/Nyanotrasen/Entities/Body/Prototypes/oni.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/dwarf.yml
  Resources/Prototypes/Species/harpy.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/shadowkin.yml
  Resources/Prototypes/_DEN/Species/Ovinia.yml
  Resources/Prototypes/_DEN/Species/canid.yml
  Resources/Prototypes/_DV/Species/rodentia.yml
  Resources/Prototypes/_EE/Species/tajaran.yml
  Resources/Prototypes/_Floof/Species/resomi.yml
Labels: Changes: YML, Changes: C#

#991 Mark Traits Made Less Shit
  Content.Server/Objectives/Systems/KillPersonConditionSystem.cs
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/_Floof/Traits/marked.yml
Labels: Changes: YML, Changes: C#

#992 Fix Barrier Being Fucked
  Resources/Migrations/denMigrations.yml
Labels: Changes: YML

#1008 Baikal Fixes
  Resources/Maps/TheDen/baikal.yml
Labels: Changes: YML, Changes: Map

#1002 Barrier and Gravel Tweaks
  Resources/Maps/TheDen/barrier.yml
  Resources/Maps/TheDen/gravel.yml
  Resources/Prototypes/Maps/gravel.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#1005 Bark
  Content.Server/Power/Generation/Teg/TegSystem.cs
Labels: Changes: YML, Changes: C#

#1010 Ough Im so Bitey (Sharp Teeth Trait)
  Resources/Locale/en-US/_DEN/traits/traits.ftl
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#1003 Updated Salvage/Cargo to Not Spawn Critters
  Resources/Maps/Shuttles/cargo.yml
  Resources/Maps/Shuttles/pathfinder.yml
  Resources/Maps/Shuttles/trading_outpost.yml
  Resources/Maps/_Lavaland/Lavaland/outpost_lavaland.yml
Labels: Changes: YML, Changes: Map

#1015 Fix Butlertron Test Fail + Make Butlertron Definition Not Ass
  Content.IntegrationTests/Tests/_DV/RoboisseurTest.cs
  Content.Server/_DV/NPC/Roboisseur/RoboisseurComponent.cs
  Resources/Prototypes/_DV/NPC/roboisseur.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1016 Fix Plasmaman Dying to Plasma
  Resources/Prototypes/Reagents/gases.yml
Labels: Changes: YML, Status: Needs Review

#1014 Localize Mothroach Spawn + Fix AnnouncerLocalizationTest
  Content.Server/StationEvents/Components/StationEventComponent.cs
  Content.Server/StationEvents/Events/VentCrittersRule.cs
  Resources/Locale/en-US/_DEN/station-events/events/mothroach-spawn.ftl
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review

#1018 Print Me a Waffle Jenkins, and Make It Belgian
  Resources/Maps/TheDen/barrier.yml
  Resources/Maps/TheDen/gravel.yml
Labels: Changes: YML, Changes: Map

#1017 Printers Shoukou
  Resources/Maps/TheDen/shoukou.yml
Labels: Changes: YML, Changes: Map

#1007 Borg Neck Slot as Well as Visual Offset Tweaking
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/InventoryTemplates/borg.yml
Labels: Changes: YML, Status: Needs Review

#1004 Added Printerdocflatpack to Lawdrobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
Labels: Changes: YML

#1028 Divine Mapping Mandate From Mommy
  Resources/Maps/TheDen/arena.yml
  Resources/Maps/TheDen/asterisk.yml
  Resources/Maps/TheDen/edge.yml
  Resources/Migrations/denMigrations.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#1039 Skeletong Nerf
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
Labels: Changes: YML, Status: Needs Review

#1035 Enable Announcers + Set Announcer Command
  Content.Server/_DEN/Administration/Commands/ChangeAnnouncerCommand.cs
  Content.Server/_DEN/Announcements/AnnouncerSystem.Announcers.cs
  Resources/Locale/en-US/_DEN/announcements/announcer-changed.ftl
  Resources/Locale/en-US/_DEN/commands/set-announcer-command.ftl
  Resources/Prototypes/Announcers/!randomAnnouncers.yml
  Resources/Prototypes/_DEN/Datasets/Announcements/announcerchanged.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review

#1038 Vox Blood Interactions
  Resources/Prototypes/Body/Parts/vox.yml
  Resources/Prototypes/Recipes/Reactions/biological.yml
  Resources/Prototypes/Recipes/Reactions/cleaning.yml
Labels: Changes: YML, Status: Needs Review

#1029 Ported Service Accesses for Boxer and Musican From deltaV
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/boxer.yml
Labels: Changes: YML, Status: Needs Review, Status: Needs Direction Review

#1043 Test Fail Fixes
  Content.IntegrationTests/Tests/CargoTest.cs
  Resources/Maps/_Lavaland/Lavaland/ruin_mining_outpost.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_rouge_ai.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/syringes.yml
Labels: Changes: YML, Changes: Map, Changes: C#, Status: Needs Review

#1023 Security Drip Ports
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/detective.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Textures/Clothing/OuterClothing/Armor/web_vest_hos.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/web_vest_hos.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/web_vest_hos.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/web_vest_hos.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/web_vest_hos.rsi/legs-equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/web_vest_hos.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/detectivecoatgoob.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Coats/detectivecoatgoob.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Coats/detectivecoatgoob.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/detectivecoatgoob.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/detectivecoatgoob.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/detectivecoatgoob.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Coats/detectivecoatgoob.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/detectivedv.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/detectivedv.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/detectivedv.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Awaiting Changes

#1030 Added Noslip to Janitorial Winter Boots and Changed Name and Description
  Resources/Prototypes/_DV/Entities/Clothing/Shoes/winter-boots.yml
Labels: Changes: YML, Status: Awaiting Changes

#1032 New Salvage Shuttle
  Resources/Maps/Shuttles/TheDen/python.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: Changes: YML, Changes: Map

#1049 Port Experiment Plushie
  Resources/Audio/Items/Toys/arf.ogg
  Resources/Audio/Items/Toys/attributions.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Textures/Objects/Fun/expiplush.rsi/expi-equipped-HELMET.png
  Resources/Textures/Objects/Fun/expiplush.rsi/expi-inhand-left.png
  Resources/Textures/Objects/Fun/expiplush.rsi/expi-inhand-right.png
  Resources/Textures/Objects/Fun/expiplush.rsi/expi.png
  Resources/Textures/Objects/Fun/expiplush.rsi/meta.json
Labels: Changes: YML, Changes: Audio, Changes: Sprite, Status: Needs Review

#1047 [TWEAK]: Balance Changes to SAN Deserters
  Resources/Maps/Shuttles/ShuttleEvent/SANDropship.yml
Labels: Changes: YML, Changes: Map

#1054 [NERF]: Removed CQC From Martial Artist & Boxer
  Resources/Prototypes/Loadouts/Jobs/Misc/uncategorized.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
Labels: Changes: YML, Status: Needs Review

#1060 Fix Round End Summary & Add Rotate And Flip Keybinds
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Server/Rotatable/RotatableSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/GameRules/events.yml
  Resources/keybinds.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI

#1051 [TWEAK]: Buildable RPD/RCD and Compressed Matter
  Resources/Prototypes/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
  Resources/Prototypes/Research/industrial.yml
Labels: Changes: YML, Status: Needs Review

#1058 Better SMES Port
  Content.Client/Chemistry/UI/ReagentDispenserBoundUserInterface.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/GameTicking/Managers/TitleWindowManager.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Power/Battery/BatteryBoundUserInterface.cs
  Content.Client/Power/Battery/BatteryMenu.xaml
  Content.Client/Power/Battery/BatteryMenu.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/UserInterface/BuiPreTickUpdateSystem.cs
  Content.Client/UserInterface/BuiPredictionState.cs
  Content.Client/UserInterface/Controls/FancyWindow.xaml.cs
  Content.Client/UserInterface/Controls/OnOffButton.xaml
  Content.Client/UserInterface/Controls/OnOffButton.xaml.cs
  Content.Client/UserInterface/InputCoalescer.cs
  Content.Server/Power/Components/BatteryInterfaceComponent.cs
  Content.Server/Power/EntitySystems/BatteryInterfaceSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Content.Shared/Power/SharedBattery.cs
  Resources/Locale/en-US/_lib.ftl
  Resources/Locale/en-US/power/battery.ftl
  Resources/Locale/en-US/ui/controls.ftl
  Resources/Prototypes/Entities/Structures/Power/smes.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI, Status: Needs Review

#1050 The Definitive Decree of Species Layer Order
  Content.Client/Nutrition/EntitySystems/CreamPiedSystem.cs
  Content.Shared/Nutrition/Components/CreamPiedComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/plasmaman.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Species/ovinia.yml
  Resources/Prototypes/_DEN/Entities/Mobs/Species/sprite_layers.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/salvage.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/chitinid.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/feroxi.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Species/resomi.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1059 Add Variety to to the Warden's Weapons.
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/warden.yml
  Resources/Prototypes/_DEN/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/warden.yml
  Resources/Prototypes/_DV/Catalog/Fills/Items/Belts/belts.yml
Labels: Changes: YML, Status: Needs Review

#1045 Event Modifications
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_EE/Gamerules/SANDeserters.yml
  Resources/Prototypes/_Impstation/GameRules/replicator_event.yml
Labels: Changes: YML

#1057 Slime Sprites!
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Textures/Mobs/Aliens/slimes.rsi/aslime-angry.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/aslime-mischievous.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/blue_adult_slime.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/blue_adult_slime_dead.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/green_adult_slime.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/green_adult_slime_dead.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/meta.json
  Resources/Textures/Mobs/Aliens/slimes.rsi/rainbow_baby_slime.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/rainbow_baby_slime_dead.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/rainbow_slime_extract.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/yellow_adult_slime.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/yellow_adult_slime_dead.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#1024 Ninja Updates
  Content.Server/Research/Systems/ResearchStealerSystem.cs
  Resources/Locale/en-US/deltav/objectives/conditions/ninja.ftl
  Resources/Locale/en-US/deltav/objectives/conditions/steal-target-groups.ftl
  Resources/Locale/en-US/deltav/objectives/conditions/teach-person.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/ninja/role.ftl
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Objectives/ninja.yml
  Resources/Prototypes/Objectives/thief.yml
  Resources/Prototypes/Roles/MindRoles/mind_roles.yml
  Resources/Prototypes/_DV/Objectives/ninja.yml
  Resources/Prototypes/_DV/Objectives/objectiveGroups.yml
  Resources/Prototypes/_DV/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_DV/Objectives/traitor.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review

#1064 Follower Stuff
  Content.Shared/Follower/FollowerSystem.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Content.Shared/Silicons/StationAi/StationAiCoreComponent.cs
Labels: Changes: YML, Changes: C#

#1065 Fixed Stripping/Renaming Bot Behavior
  Resources/Prototypes/Entities/Mobs/NPCs/fillbot.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/_DEN/Entities/Mobs/base.yml
Labels: Changes: YML, Status: Needs Review

#1066 New Feature: Admin Only Messages in AHelp (#35283)
  Content.Client/Administration/Systems/BwoinkSystem.cs
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Shared/Administration/SharedBwoinkSystem.cs
  Resources/Locale/en-US/administration/bwoink.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI

#1042 Armored Longcoat Now Can Store Guns on It.
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/corpsman.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/warden.yml
  Resources/Prototypes/Loadouts/Jobs/Security/corpsman.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/warden.yml
  Resources/Prototypes/_DV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/_Floof/Entities/Clothing/OuterClothing/wintercoats.yml
Labels: Changes: YML, Status: Needs Review

#1067 Fix ALL Missing Marking Locales
  Content.Client/Humanoid/MarkingPicker.xaml.cs
  Content.IntegrationTests/Tests/Markings/MarkingLocalizationTest.cs
  Content.Shared/Humanoid/Markings/MarkingManager.cs
  Resources/Locale/en-US/Floof/markings/reptilian.ftl
  Resources/Locale/en-US/_ADT/markings/Human_tattoos.ftl
  Resources/Locale/en-US/_ADT/markings/demon.ftl
  Resources/Locale/en-US/_ADT/markings/reptilian.ftl
  Resources/Locale/en-US/_ADT/markings/shadekin.ftl
  Resources/Locale/en-US/_DEN/markings/nipples.ftl
  Resources/Locale/en-US/_DEN/markings/piercings.ftl
  Resources/Locale/en-US/_DEN/markings/pubes.ftl
  Resources/Locale/en-US/_DV/markings/feroxi.ftl
  Resources/Locale/en-US/_DV/markings/synthetic.ftl
  Resources/Locale/en-US/_DV/markings/zenghu_alt.ftl
  Resources/Locale/en-US/_Floof/markings/underwear.ftl
  Resources/Locale/en-US/_Goobstation/markings/wings.ftl
  Resources/Locale/en-US/_Impstation/accessories/headcovers.ftl
  Resources/Locale/en-US/_Impstation/markings/bodyhair.ftl
  Resources/Locale/en-US/_Impstation/markings/diona.ftl
  Resources/Locale/en-US/_Impstation/markings/misc.ftl
  Resources/Locale/en-US/_Impstation/markings/moth.ftl
  Resources/Locale/en-US/_Impstation/markings/reptilian.ftl
  Resources/Locale/en-US/_Impstation/markings/scars.ftl
  Resources/Locale/en-US/_Impstation/markings/vox_scars.ftl
  Resources/Locale/en-US/_white/markings/reptilian.ftl
  Resources/Locale/en-US/deltav/markings/vulpkanin.ftl
  Resources/Locale/en-US/markings/anthro.ftl
  Resources/Locale/en-US/markings/face.ftl
  Resources/Locale/en-US/markings/reptilian.ftl
  Resources/Locale/en-US/prototypes/entities/Mobs/Customization/ipcAntenna.ftl
  Resources/Locale/en-US/prototypes/entities/Mobs/Customization/ipcScreens.ftl
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/lamiasegment.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro_tails.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI, Status: Needs Review

#1072 [FIX]: Station AI & Borgs Can No Longer Select Physical or Mental Traits
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/inconveniences.yml
  Resources/Prototypes/Traits/mental.yml
  Resources/Prototypes/Traits/neutral.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/Traits/skills.yml
  Resources/Prototypes/Traits/species.yml
  Resources/Prototypes/Traits/speech.yml
  Resources/Prototypes/_DEN/Traits/disabilities.yml
  Resources/Prototypes/_DEN/Traits/metabolism.yml
  Resources/Prototypes/_DEN/Traits/mobility.yml
  Resources/Prototypes/_DEN/Traits/physical.yml
  Resources/Prototypes/_DV/Traits/altvision.yml
  Resources/Prototypes/_Floof/Traits/lewd.yml
  Resources/Prototypes/_Floof/Traits/mental.yml
  Resources/Prototypes/_Floof/Traits/physical.yml
Labels: Changes: YML, Status: Needs Review

#1076 Syringe Dispenser
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Medical/sterile.yml
  Resources/Prototypes/_DEN/Entities/Objects/Storage/syringe_pack.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/chemistry.yml
  Resources/Prototypes/_DEN/tags.yml
  Resources/Textures/_DEN/Objects/Specific/Medical/sterile.rsi/disposable_syringe_packaged.png
  Resources/Textures/_DEN/Objects/Specific/Medical/sterile.rsi/medical_trash.png
  Resources/Textures/_DEN/Objects/Specific/Medical/sterile.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#1070 [ADD]: Healing Factor Physical Trait that Grants Minor Regeneration
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/Traits/skills.yml
  Resources/Prototypes/_DEN/Traits/physical.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#1082 Loyalty Is Earned
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: YML

#1079 Add the Instrument Names to the MIDI Channel Selector (#38083)
  Content.Client/Instruments/InstrumentSystem.MidiParsing.cs
  Content.Client/Instruments/InstrumentSystem.cs
  Content.Client/Instruments/MidiParser/MidiInstrument.cs
  Content.Client/Instruments/MidiParser/MidiParser.cs
  Content.Client/Instruments/MidiParser/MidiStreamWrapper.cs
  Content.Client/Instruments/UI/ChannelsMenu.xaml
  Content.Client/Instruments/UI/ChannelsMenu.xaml.cs
  Content.Client/Instruments/UI/InstrumentBoundUserInterface.cs
  Content.Client/Instruments/UI/InstrumentMenu.xaml.cs
  Content.Server/Instruments/InstrumentComponent.cs
  Content.Server/Instruments/InstrumentSystem.cs
  Content.Server/PAI/PAISystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Systems/ArtifactMusicTriggerSystem.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/CCVar/CCVars.Midi.cs
  Content.Shared/Instruments/SharedInstrumentComponent.cs
  Resources/Locale/en-US/instruments/instruments-component.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI

#1081 [PORT] Tape Recorder (#2433)
  Content.Client/_Goobstation/TapeRecorder/TapeRecorderSystem.cs
  Content.Client/_Goobstation/TapeRecorder/UI/TapeRecorderBoundUserInterface.cs
  Content.Client/_Goobstation/TapeRecorder/UI/TapeRecorderWindow.xaml
  Content.Client/_Goobstation/TapeRecorder/UI/TapeRecorderWindow.xaml.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_Goobstation/TapeRecorder/TapeRecorderSystem.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/_Goobstation/TapeRecorder/Components/ActiveTapeRecorderComponent.cs
  Content.Shared/_Goobstation/TapeRecorder/Components/FitsInTapeRecorderComponent.cs
  Content.Shared/_Goobstation/TapeRecorder/Components/TapeCasetteComponent.cs
  Content.Shared/_Goobstation/TapeRecorder/Components/TapeRecorderComponent.cs
  Content.Shared/_Goobstation/TapeRecorder/Systems/SharedTapeRecorderSystem.cs
  Content.Shared/_Goobstation/TapeRecorder/TapeCasetteRecordedMessage.cs
  Content.Shared/_Goobstation/TapeRecorder/TapeRecorderUI.cs
  Resources/Audio/DeltaV/Items/TapeRecorder/attributions.yml
  Resources/Audio/DeltaV/Items/TapeRecorder/play.ogg
  Resources/Audio/DeltaV/Items/TapeRecorder/rewind.ogg
  Resources/Audio/DeltaV/Items/TapeRecorder/stop.ogg
  Resources/Locale/en-US/deltav/taperecorder/taperecorder.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/tape_recorder.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/DeltaV/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/misc.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/_DEN/Loadouts/items.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/misc.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/paper.yml
  Resources/Textures/DeltaV/Objects/Devices/cassette_tapes.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Devices/cassette_tapes.rsi/tape_greyscale.png
  Resources/Textures/DeltaV/Objects/Devices/cassette_tapes.rsi/tape_ribbonoverlay.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/empty.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/idle.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/playing.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/recording.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/rewinding.png
  Resources/Textures/DeltaV/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Storage/boxes.rsi/recorder.png
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Audio, Changes: Sprite, Changes: UI

#1086 Fix Messenger Bag Test Fail
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML

#1087 Paws at Door Repeatedly
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Content.Shared/Physics/IgnoreDoorCollisionComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1088 No Slot Cost
  Resources/Prototypes/_DEN/Traits/physical.yml
  Resources/Prototypes/_Floof/Traits/lewd.yml
  Resources/Prototypes/_Floof/Traits/mental.yml
Labels: Changes: YML

#1089 Added Relevant Ccvars to Debug and Tool Builds
  Resources/ConfigPresets/Build/debug.toml
  Resources/ConfigPresets/Build/development.toml
Labels: Changes: YML, Changes: Config, Status: Needs Review

#1091 Research Recipes Broadcasted to The Radio
  Content.Server/Lathe/Components/LatheAnnouncingComponent.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Server/Research/Systems/ResearchSystem.Technology.cs
  Content.Shared/Research/Components/TechnologyDatabaseComponent.cs
  Content.Shared/Research/Systems/SharedResearchSystem.cs
  Resources/Locale/en-US/lathe/lathesystem.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review

#1092 [ADD]: New Corporate Employers to the Background Tab of Character Creation
  Resources/Locale/en-US/_DEN/contractors/employer.ftl
  Resources/Prototypes/_DEN/Contractors/employer.yml
  Resources/Prototypes/_EE/Contractors/employer.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#1041 Hive Update Pt.1
  Resources/Maps/TheDen/hive.yml
Labels: Changes: YML, Changes: Map

#1097 Convert crew_alert.ogg to Mono
  Resources/Audio/_DV/Medical/CrewMonitoring/crew_alert.ogg
Labels: Changes: YML, Changes: Audio, Status: Needs Review

#1095 Disable Sound Alert for BSO Monitor
  Resources/Prototypes/_Goobstation/Entities/Specific/bso.yml
Labels: Changes: YML, Status: Needs Review

#1098 Emote Sound Pitch Variation Fucky
  Content.Server/Speech/EntitySystems/VocalSystem.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1108 Don't Click-to-Face when Moving (#37874)
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: Changes: YML, Changes: C#

#1109 FIx Consent Menu Description Overflow
  Content.Client/Consent/UI/Windows/ConsentWindow.xaml.cs
Labels: Changes: YML, Changes: C#, Changes: UI

#1110 Battery Foreigner Translator Fix
  Content.Server/PowerCell/PowerCellSystem.Draw.cs
  Content.Shared/PowerCell/PowerCellDrawComponent.cs
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/anomaly.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Back/modsuit.yml
Labels: Changes: YML, Changes: C#

#1093 Dinkin' Straight Singulo Juice
  Resources/Locale/en-US/_Funkystation/guidebook/guides.ftl
  Resources/Locale/en-US/guidebook/lore.ftl
  Resources/Prototypes/Guidebook/medical.yml
  Resources/Prototypes/_DEN/Recipes/Reactions/drinks.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#1111 Shoukou Emergency Hotfix
  Resources/Maps/TheDen/shoukou.yml
Labels: Changes: YML, Changes: Map

#1103 Bugfixes
  Content.Shared/Item/SharedItemSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
Labels: Changes: YML, Changes: C#

#1116 [FIX]: Bishop Cybernetics Description
  Resources/Locale/en-US/_DEN/contractors/employer.ftl
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#1117 Fix HFR Test Fail
  Content.Server/_Funkystation/Atmos/EntitySystems/HFRConsoleSystem.cs
  Resources/Prototypes/_Funkystation/Entities/Structures/Machines/Atmospherics/hfr.yml
Labels: Changes: YML, Changes: C#

#1128 Fix: Allow Ejecting Diamonds From Lathes/Silos (#38132)
  Resources/Prototypes/Reagents/Materials/materials.yml
Labels: Changes: YML, Status: Needs Review

#1126 Make Experimental Welding Tool Less Harmful to Eyes (#34792)
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
Labels: Changes: YML, Status: Needs Review

#1125 Port: Drainable Mops, Rags and Towels
  Resources/Prototypes/Entities/Clothing/Multiple/towel.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: Changes: YML, Status: Needs Review

#1122 Custom Name
  Resources/Prototypes/Species/dwarf.yml
  Resources/Prototypes/Species/gingerbread.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/skeleton.yml
  Resources/Prototypes/_DV/Species/feroxi.yml
  Resources/Prototypes/_DV/Species/lamia.yml
Labels: Changes: YML, Status: Needs Review

#1132 [FIX]: Remove Shrapnel Arsenal Tech
  Resources/Prototypes/Research/arsenal.yml
Labels: Changes: YML, Status: Needs Review

#1113 Complete Overhaul of Loadout UI (Not a Backend Change) (That's Out Of Scope)
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/LoadoutPreferenceSelector.xaml
  Content.Client/Lobby/UI/LoadoutPreferenceSelector.xaml.cs
  Content.Client/Lobby/UI/LobbyGui.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/UserInterface/Controls/StyledButtonGroup.cs
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutCategoryButton.xaml
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutCategoryButton.xaml.cs
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutCategoryList.xaml
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutCategoryList.xaml.cs
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutItemButton.xaml
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutItemButton.xaml.cs
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutsCategoryPanel.xaml
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutsCategoryPanel.xaml.cs
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutsCustomizationPanel.xaml
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutsCustomizationPanel.xaml.cs
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutsItemListPanel.xaml
  Content.Client/_DEN/Lobby/UI/Controls/LoadoutsItemListPanel.xaml.cs
  Content.Client/_DEN/Lobby/UI/Loadouts/LoadoutsPanel.xaml
  Content.Client/_DEN/Lobby/UI/Loadouts/LoadoutsPanel.xaml.cs
  Content.Client/_DEN/Lobby/UI/Loadouts/LoadoutsTab.xaml
  Content.Client/_DEN/Lobby/UI/Loadouts/LoadoutsTab.xaml.cs
  Content.Shared/Clothing/Loadouts/Prototypes/LoadoutCategoryPrototype.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Resources/Locale/en-US/_DEN/loadouts/ui.ftl
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/_Floof/Loadouts/Categories/categories.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI, Status: Needs Review

#1129 NoRandom Datafield
  Content.Server/Research/Oracle/OracleSystem.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Resources/Prototypes/_Floof/Reagents/Aphrodisiacs/medicine.yml
  Resources/Prototypes/_Floof/Reagents/Aphrodisiacs/narcotics.yml
  Resources/Prototypes/_Floof/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_Floof/Reagents/natural_sauce.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1124 Ovinia Trait Fix and Emote Adjustments
  Resources/Locale/en-US/_DEN/chat/ui/emotes.ftl
  Resources/Prototypes/_DEN/Voice/speech_emotes.yml
  Resources/Textures/_DEN/Interface/Emotes/attributions.yml
  Resources/Textures/_DEN/Interface/Emotes/baa.png
  Resources/Textures/_DEN/Interface/Emotes/moo.png
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#1120 Manter (Like Fanter Aha Get It?) Station
  Resources/Maps/Shuttles/TheDen/NTES_Remora.yml
  Resources/Maps/TheDen/manta.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/manta.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#1137 Station Beacons Can Actually Read Their Text Field
  Content.Server/Pinpointer/NavMapSystem.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1134 [FIX]: Removed Krav Maga Gloves From *Other* Warden Fill
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Labels: Changes: YML

#1106 Fix Vent & Thermomachine Disassembly
  Content.Server/Atmos/EntitySystems/AtmosPipeLayersSystem.cs
  Content.Shared/Atmos/EntitySystems/SharedAtmosPipeLayersSystem.cs
Labels: Changes: YML, Changes: C#, Changes: Localization

#1140 Manta Hotfix 1
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Shuttles/TheDen/NTES_Remora.yml
  Resources/Maps/TheDen/manta.yml
Labels: Changes: YML, Changes: Map, Changes: C#, Status: Needs Review

#1141 Add Event Logging Channel Qol
  Content.Server/GameTicking/GameTicker.CVars.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Shared/CCVar/CCVars.Den.cs
  Resources/Locale/en-US/discord/round-notifications.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization

#1136 Station Beacons Fix
  Content.Server/Pinpointer/NavMapSystem.cs
Labels: Changes: YML, Changes: C#

#1107 Recipe Packs
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.IntegrationTests/Pair/TestPair.Helpers.cs
  Content.IntegrationTests/Tests/MaterialArbitrageTest.cs
  Content.IntegrationTests/Tests/ResearchTest.cs
  Content.IntegrationTests/Tests/Sprite/ItemSpriteTest.cs
  Content.IntegrationTests/Tests/StorageTest.cs
  Content.Server/Lathe/Components/LatheAnnouncingComponent.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Server/Research/Systems/ResearchSystem.Technology.cs
  Content.Shared/Lathe/EmagLatheComponent.cs
  Content.Shared/Lathe/LatheComponent.cs
  Content.Shared/Lathe/LatheMessages.cs
  Content.Shared/Lathe/Prototypes/LatheRecipePackPrototype.cs
  Content.Shared/Lathe/SharedLatheSystem.cs
  Content.Shared/Research/Components/TechnologyDatabaseComponent.cs
  Content.Shared/Research/Prototypes/LatheRecipePrototype.cs
  Content.Shared/Research/Systems/SharedResearchSystem.cs
  Resources/Locale/en-US/_Goobstation/lathe/lathe-component.ftl
  Resources/Locale/en-US/lathe/lathesystem.ftl
  Resources/Prototypes/Corvax/Entities/Structures/Machines/printer.yml
  Resources/Prototypes/Entities/Structures/Machines/bookpress.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
  Resources/Prototypes/Recipes/Lathes/cooking.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/ammo_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/biofabricator.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/biogenerator.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/bookpress.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/cargo_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/circuit_imprinter.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/cutter_machine.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/document_printer.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/engineering_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/exosuit_fabricator.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/medical_biofabricator.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/medical_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/ore_processor.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/prize_counter.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/protolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/security_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/service_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/sheetifier.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/uniform_printer.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/circuits.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI

#1143 Port: Haircuts Notify the Target, Do-After Time Altered
  Content.Server/MagicMirror/MagicMirrorSystem.cs
  Content.Shared/MagicMirror/MagicMirrorComponent.cs
  Resources/Locale/en-US/character-appearance/components/magic-mirror-component.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review

#1142 Port: Golden Plunger
  Resources/Locale/en-US/_DEN/loadouts/items.ftl
  Resources/Locale/en-US/janitorial/janitorial-slot-component.ftl
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Structures/Specific/Janitor/janicart.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Service/janitor.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Specific/Janitorial/golden_plunger.rsi/equipped-HELMET.png
  Resources/Textures/Objects/Specific/Janitorial/golden_plunger.rsi/meta.json
  Resources/Textures/Objects/Specific/Janitorial/golden_plunger.rsi/plunger-inhand-left.png
  Resources/Textures/Objects/Specific/Janitorial/golden_plunger.rsi/plunger-inhand-right.png
  Resources/Textures/Objects/Specific/Janitorial/golden_plunger.rsi/plunger.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_goldenplunger.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#1144 Add EvenHealthChange Effect (#37129)
  Content.Server/EntityEffects/Effects/EvenHealthChange.cs
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Prototypes/Reagents/medicine.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review

#1148 Harpy Cooing and Chirping
  Resources/Prototypes/SoundCollections/harpy.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_DV/voice/speech_emote_sounds.yml
Labels: Changes: YML

#1150 Blood Deficiency Fix
  Content.Server/Body/Events/NaturalBloodRegenerationAttemptEvent.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Traits/BloodDeficiencySystem.cs
Labels: Changes: YML, Changes: C#

#1147 Xeno Buffs - Make Xenos Actually Scary
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Changes: YML, Status: Needs Review

#1152 Make All Medkits the Same Size in the Inventory.
  Resources/Prototypes/Entities/Objects/Specific/Medical/medkits.yml
Labels: Changes: YML, Status: Needs Review

#1102 Havoc Station - Beta V3
  Resources/Maps/TheDen/havoc.yml
Labels: Changes: YML, Changes: Map

#1158 Passports Fit Into PDA Container
  Content.Shared/PDA/PdaComponent.cs
  Content.Shared/PDA/SharedPdaSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1160 Fixes Translator Draining Power
  Content.Server/Language/TranslatorSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1163 T-Ray Reveal for Entities and Draw Depth Fix (#33012)
  Content.Client/SubFloor/SubFloorHideSystem.cs
  Content.Client/SubFloor/TrayScanRevealSystem.cs
  Content.Client/SubFloor/TrayScannerSystem.cs
  Content.Shared/DrawDepth/DrawDepth.cs
  Content.Shared/SubFloor/TrayScanRevealComponent.cs
  Resources/Prototypes/Entities/Structures/Furniture/carpets.yml
  Resources/Prototypes/Entities/Structures/catwalk.yml
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1162 Mantafixes 2
  Resources/Maps/TheDen/manta.yml
Labels: Changes: YML, Changes: Map

#1149 [PORT]: Buffs for the Space Dragon
  Content.Server/Devour/DevourSystem.cs
  Content.Server/Dragon/Components/DragonComponent.cs
  Content.Server/Dragon/Components/DragonRiftComponent.cs
  Content.Server/Dragon/DragonRiftSystem.cs
  Content.Server/Dragon/DragonSystem.cs
  Content.Shared/Devour/Components/DevourerComponent.cs
  Content.Shared/Devour/SharedDevourSystem.cs
  Content.Shared/Dragon/DragonEvents.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Resources/Locale/en-US/_Goobstation/ghost/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_Goobstation/Damage/modifier_sets.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/carp.yml
  Resources/Textures/Interface/Actions/meta.json
  Resources/Textures/_Goobstation/Actions/dragon.rsi/carp_horde.png
  Resources/Textures/_Goobstation/Actions/dragon.rsi/meta.json
  Resources/Textures/_Goobstation/Actions/dragon.rsi/wing_flap.png
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Sprite, Status: Needs Review

#1155 The Great Monoing 2
  Resources/Audio/_DEN/badtothebone.ogg
  Resources/Audio/_DEN/cow-moo1.ogg
  Resources/Audio/_DEN/cow-moo2.ogg
  Resources/Audio/_DEN/cow-moo3.ogg
  Resources/Audio/_DEN/cow-moo4.ogg
  Resources/Audio/_DEN/ovinia-baa1.ogg
  Resources/Audio/_DEN/ovinia-baa2.ogg
  Resources/Audio/_DEN/ovinia-baa3.ogg
Labels: Changes: YML, Changes: Audio, Status: Needs Review

#1154 Whitelisted Bovine Snout for Oni
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/Markings/anthro.yml
Labels: Changes: YML, Status: Needs Review

#1164 Edge Security Medical Refurbishment
  Resources/Maps/TheDen/edge.yml
Labels: Changes: YML, Changes: Map

#1171 Fix a Warning Issue
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Changes: YML

#1173 Test Fail Fixes
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Research/experimental.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/autolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/cargo_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/circuit_imprinter.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/engineering_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/medical_techfab.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/protolathe.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/Packs/security_techfab.yml
Labels: Changes: YML, Status: Needs Review

#1166 Show Reflection Prob on Examine (#38199)
  Content.Shared/Weapons/Reflect/ReflectSystem.cs
  Resources/Locale/en-US/reflect/reflect-component.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review

#1168 Edge Invalid Nuke
  Resources/Maps/TheDen/edge.yml
Labels: Changes: YML, Changes: Map

#1167 [ADD]: Storage Slots for Belts
  Resources/Locale/en-US/DeltaV/clothing/belts.ftl
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Structures/Furniture/rollerbeds.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_DV/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/Medical/portafib.yml
  Resources/Prototypes/_Lavaland/Entities/Objects/Specific/Salvage/jaunter.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Clothing/Belt/belt_overlay.rsi/medkit.png
  Resources/Textures/Clothing/Belt/belt_overlay.rsi/meta.json
  Resources/Textures/_DV/Clothing/Belt/belt_overlay.rsi/baton.png
  Resources/Textures/_DV/Clothing/Belt/belt_overlay.rsi/flashbang.png
  Resources/Textures/_DV/Clothing/Belt/belt_overlay.rsi/gasgrenade.png
  Resources/Textures/_DV/Clothing/Belt/belt_overlay.rsi/katana.png
  Resources/Textures/_DV/Clothing/Belt/belt_overlay.rsi/medkit.png
  Resources/Textures/_DV/Clothing/Belt/belt_overlay.rsi/meta.json
  Resources/Textures/_DV/Clothing/Belt/belt_overlay.rsi/slp.png
  Resources/Textures/_DV/Clothing/Belt/belt_overlay.rsi/universal.png
  Resources/Textures/_DV/Clothing/Belt/belt_overlay.rsi/wakizashi.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review

#1175 The Great Entity Table Merge Part 1
  Resources/Prototypes/Catalog/Fills/Lockers/biohazard.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/science.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_DEN/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/science.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/engineering.yml
Labels: Changes: YML, Status: Needs Review

#1176 Fix Uninitialized NukieOutpost
  Content.Server/GameTicking/Rules/Components/LoadMapRuleComponent.cs
  Content.Server/GameTicking/Rules/LoadMapRuleSystem.cs
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: YML, Changes: C#

#1179 Chasm Removal
  Content.Shared/Chasm/ChasmSystem.cs
Labels: Changes: YML, Changes: C#

#1182 Arbitrage Nuke
  Resources/Prototypes/Recipes/Lathes/cooking.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_Floof/Entities/Objects/Consumable/Food/Containers/bowl.yml
Labels: Changes: YML

#1184 Port Role Ban Panel Improvements
  Content.Client/Administration/UI/BanPanel/BanPanel.xaml
  Content.Client/Administration/UI/BanPanel/BanPanel.xaml.cs
  Resources/Locale/en-US/administration/ui/role-bans.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI, Status: Needs Review

#1186 Fix Firelocks Failing to Drop Fast Enough
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Monstermos.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1190 Fixed Atmos Remote Missing From Lockers
  Resources/Prototypes/_DEN/Catalog/Fills/Lockers/engineer.yml
Labels: Changes: YML, Status: Needs Review

#1191 Added Additional Chemist and Senior Physician Role to Edge
  Resources/Prototypes/Maps/edge.yml
Labels: Changes: YML, Changes: Map, Status: Needs Review

#1194 Station News Discord Webhook (#36807)
  Content.Server/MassMedia/Systems/NewsSystem.cs
  Content.Shared/CCVar/CCVars.Discord.cs
  Resources/Locale/en-US/mass-media/news-discord.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization

#1196 Freedom Is Earned.
  Content.Server/Spawners/EntitySystems/SpawnPointSystem.cs
Labels: Changes: YML, Changes: C#

#1189 Fix: SM and Animal Steal Objectives Will No Longer Roll if Not on Map
  Resources/Prototypes/Objectives/thief.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Prototypes/_EE/Objectives/traitor.yml
Labels: Changes: YML, Status: Needs Review

#1197 A
  Content.Server/Spawners/EntitySystems/SpawnPointSystem.cs
Labels: Changes: YML, Changes: C#

#1198 Fix Lathes Getting Unrelated Recipes
  Content.Server/Lathe/LatheSystem.cs
  Content.Server/Research/Systems/ResearchSystem.Technology.cs
  Content.Shared/Research/Components/TechnologyDatabaseComponent.cs
  Content.Shared/Research/Systems/SharedResearchSystem.cs
Labels: Changes: YML, Changes: C#

#1200 What the Heck
  Resources/Prototypes/Roles/Antags/nukeops.yml
Labels: Changes: YML

#1195 Port: Catchable Items, Clumsy Component C# and Localisation Changes
  Content.Shared/Clumsy/ClumsyComponent.cs
  Content.Shared/Clumsy/ClumsySystem.cs
  Content.Shared/Random/Helpers/SharedRandomExtensions.cs
  Content.Shared/Throwing/CatchAttemptEvent.cs
  Content.Shared/Throwing/CatchableComponent.cs
  Content.Shared/Throwing/CatchableSystem.cs
  Resources/Locale/en-US/chemistry/components/hypospray-component.ftl
  Resources/Locale/en-US/clown/components/clumsy-component.ftl
  Resources/Locale/en-US/throwing/catchable.ftl
  Resources/Locale/en-US/weapons/ranged/gun.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#1202 Expanding Heel Stockings Into Security
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Shoes/heels.yml
  Resources/Prototypes/_Floof/Entities/Objects/Lewd/whips.yml
  Resources/Textures/_DEN/Clothing/Shoes/Heels/blackheels_secstockings.rsi/equipped-FEET-ovinia.png
  Resources/Textures/_DEN/Clothing/Shoes/Heels/blackheels_secstockings.rsi/equipped-FEET.png
  Resources/Textures/_DEN/Clothing/Shoes/Heels/blackheels_secstockings.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Shoes/Heels/blackheels_secstockings.rsi/inhand-left.png
  Resources/Textures/_DEN/Clothing/Shoes/Heels/blackheels_secstockings.rsi/inhand-right.png
  Resources/Textures/_DEN/Clothing/Shoes/Heels/blackheels_secstockings.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Maintainer Approved

#1208 Mantafixes 4
  Resources/Maps/TheDen/manta.yml
Labels: Changes: YML, Changes: Map

#1210 [PORT]: Ported The Pit
  Resources/Maps/_NF/POI/thepit.yml
Labels: Changes: YML, Changes: Map

#1201 Add Ingestion Blocking to Combat Gas Masks
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_DEN/Entities/Clothing/Masks/masks.yml
Labels: Changes: YML, Status: Needs Review, Low Priority

#1212 Fix Space Lungs
  Content.Server/Body/Systems/RespiratorSystem.cs
Labels: Changes: YML, Changes: C#, Status: Needs Review

#1211 Captain Handcannon From EE
  Resources/Audio/_EE/Weapons/Guns/Gunshots/shotgun.ogg
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/_EE/Entities/Objects/Weapons/Guns/Pistols/revolvers.yml
  Resources/Textures/_EE/Objects/Weapons/Guns/Pistols/Captain_pistol.rsi/base.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Pistols/Captain_pistol.rsi/inhand-left.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Pistols/Captain_pistol.rsi/inhand-right.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Pistols/Captain_pistol.rsi/meta.json
Labels: Changes: YML, Changes: Audio, Changes: Sprite

#1224 Port: Bubbling and Popping for Slimes, Knuckle Cracking for All Species
  Resources/Audio/_Impstation/Effects/Emotes/attributions.yml
  Resources/Audio/_Impstation/Effects/Emotes/knuckles.ogg
  Resources/Audio/_Impstation/Voice/Slime/attributions.yml
  Resources/Audio/_Impstation/Voice/Slime/s_bubble.ogg
  Resources/Audio/_Impstation/Voice/Slime/s_pop.ogg
  Resources/Locale/en-US/_DEN/chat/ui/emotes.ftl
  Resources/Locale/en-US/_Impstation/chat/emotes.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Floof/Voice/speech_emotes.yml
  Resources/Prototypes/_Impstation/SoundCollections/emotes.yml
  Resources/Prototypes/_Impstation/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Impstation/Voice/speech_emotes.yml
  Resources/Textures/_Impstation/Interface/Emotes/attributions.yml
  Resources/Textures/_Impstation/Interface/Emotes/crack.png
  Resources/Textures/_Impstation/Interface/Emotes/hiss.png
Labels: Changes: YML, Changes: Localization, Changes: Audio, Status: Needs Review
